- most_recent_contact = @patient.most_recent_contact
- if most_recent_contact.present?
  .ho-patient__detail
    %span Most Recent
  .ho-patient__detail
    %span Name:
    = most_recent_contact.name
  .ho-patient__detail
    %span Type:
    = most_recent_contact.category
    - if most_recent_contact.description.present?
      = ' / ' + most_recent_contact.description
  - if most_recent_contact.phone.present?
    .ho-patient__detail
      %span Phone:
      = most_recent_contact.phone
  - if most_recent_contact.email.present?
    .ho-patient__detail
      %span Email:
      = most_recent_contact.email
= link_to 'All Contacts', client_health_contacts_path(@patient.client), class: 'btn btn-sm btn-secondary'