%section#summary
  .ho-patient__container
    .ho-patient__header.mb-2
      %h3.ho-patient__name
        .row
          .col-sm-4
            = @patient.client.name
          .col-sm-8.text-right
            = render 'engagement', patient: @patient
      .ho-patient__details
        .row
          .col-md-8
            - @patient_summary[:details].each do |detail|
              .ho-patient__detail
                %span= "#{detail[0]}: "
                - if detail[0] == 'SSN'
                  = ssn(@patient.most_recent_ssn) || detail[1].presence || '(unknown)'
                - else
                  = detail[1]
            - if @patient.aco.present?
              .ho-patient__detail
                %span
                  ACO:
                = @patient.aco.name
          .col-md-4
            = render 'readiness_form_links'
    .ho-patient__content
      %h4 Communication
      .ho-patient__detail
        %span Preferred Communication:
        = @patient.preferred_communication
      .patient__phone-status
        = @patient.phone_message_ok
      - if phone = @patient.most_recent_phone
        .ho-patient__detail
          %span Phone:
          = phone
      - if @patient.current_email != 'patient@openpath.biz'
        .ho-patient__detail
          %span Email
          = mail_to @patient.current_email
      -#%h5 Contacts
      -#= render 'contact'
    .ho-patient__content
      %h4
        Demographics
      %table
        - @patient_summary[:demographics].each do |row|
          %tr
            - row.each do |td|
              %td
                %small= "#{td[0]}: "
                - if td[0] == 'Veteran Status'
                  = td[1] || @patient.veteran_status
                - else
                  = td[1]
      .row
        .col-sm-6
          %h4
            Allergies
        .col-sm-6
          %h4
            Advanced Directive
      .row
        .col-sm-6
          = @patient.allergy_list.presence || 'none'
        .col-sm-6
          - if @patient.advanced_directive?
            = @patient.advanced_directive_answer
            %br
            %strong= @patient.advanced_directive_type
            %div= @patient.advanced_directive[:name]
            %div= @patient.advanced_directive[:relationship]
            %div= @patient.advanced_directive[:address]
            %div= @patient.advanced_directive[:phone]
          - else
            - if @patient.develop_advanced_directive?
              Would like to develop plan
