- link = link.presence || false
- client = patient.client
- if patient.contributing_enrollment_start_date && client
  - valid_after = patient.contributing_enrollment_start_date - 1.year

  - calculator = Health::EngagementCalculator.new(patient)
  %ul.list-unstyled
    = render 'health/patient/engagement_item', link: link, form_status: calculator.participation_form_status
    = render 'health/patient/engagement_item', link: link, form_status: calculator.release_form_status
    = render 'health/patient/engagement_item', link: link, form_status: calculator.ssm_status
    = render 'health/patient/engagement_item', link: link, form_status: calculator.cha_status
    = render 'health/patient/engagement_item', link: link, form_status: calculator.careplan_status

