- title = 'Client Healthcare Dashboard'
= content_for(:title, title)
%h1= "#{title} for #{@client.name}"
= render 'clients/tab_navigation', current: client_health_patient_index_path(@client)
.row
  .col-sm-12
    %h2 Patient Summary
    - if @patient.present?
      %p
        = "The following is patient information for the client #{@client.name}."
      = render 'patient_summary'
      .jUtilization
      .jAppointments
      .jProblems
      .jMedications

      = render 'patient_js'
    - else
      %p No patient record found.