- title = 'Client Healthcare Dashboard'
= content_for(:title, title)
%h1= "#{title} for #{@client.full_name}"
= render 'clients/breadcrumbs'
= render 'clients/tab_navigation', current: client_health_patient_index_path(@client)
.row
  .col-sm-12
    %h2 Patient Summary
    - if @patient.present?
      = render 'patient_summary'
      = render 'patient_dashboard'
      .row
        .col-xs-12.col-md-8
          = render 'trends_over_time'
          = render 'top_providers_and_conditions'
        .col-xs-12.col-md-4
          = render 'drilldown'
      = render 'patient_details'

      = render 'patient_js'
    - else
      %p No patient record found.

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var claimsCharts = new App.D3Chart.Claims('d3-claims')
      claimsCharts.draw()
    })