- title = 'Client Healthcare Dashboard'
= content_for(:title, title)
%h1= "#{title} for #{@client.full_name}"
= render 'clients/breadcrumbs'
= render 'clients/tab_navigation', current: client_health_patient_index_path(@client)
.row
  .col-sm-12
    %h2 Patient Summary
    - if @patient.present?
      - warehouse_path = 'warehouse_reports/health/overview/'
      = render 'patient_summary'
      = render "#{warehouse_path}trends_over_time", data_type: 'patient'
      = render 'patient_cost_metrics'
      = render "#{warehouse_path}top_providers_and_conditions", data_type: 'patient'
      = render 'patient_dashboard'
      = render 'patient_details'

      = render 'patient_js'
    - else
      %p No patient record found.

