- title = 'Client Healthcare Dashboard'
= content_for(:title, title)
%h1= "#{title} for #{@client.name}"
= render 'clients/tab_navigation'
.row
  .col-sm-12
    %h2 Patient Summary  
    %p
      = "The following is patient information for the client #{@client.name}."

= render 'patient_summary'
.jUtilization
.jAppointments
.jProblems
.jMedications

= render 'patient_js'