= f.input :touchpoint_fields
= f.input :demographic_fields
= f.input :demographic_fields_with_attributes
= f.input :additional_fields
= f.input :identifier
= f.input :email
= f.input :password
= f.input :enterprise
= f.input :hud_touch_point_id