- content_for :title,  'Accountable Care Organizations'
%h1= content_for :title

= render 'menus/health_admin_tabs'
.row
  .col.text-right
    = link_to new_admin_health_accountable_care_organization_path, class: 'btn btn-primary' do
      %i.icon-plus
      New ACO

.row
  .col
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{href: '#active', role: "presentation", data: {toggle: :tab}}
          Active
      %li.nav-item
        %a.nav-link{href: '#inactive', role: "presentation", data: {toggle: :tab}}
          Inactive

    .tab-content
      .tab-pane.fade.show.active#active
        = render 'table', accountable_care_organizations: @accountable_care_organizations.active

      .tab-pane.fade#inactive
        = render 'table', accountable_care_organizations: @accountable_care_organizations.inactive