.mb-4
  %p= simple_format note.note
  .mb-2
    - if note.recipient_info
      %p.small.text-muted
        = note.recipient_info
    %p.small.text-muted
      Posted by #{content_tag(:strong, note.user&.name)} on #{content_tag(:strong, note.created_at)}
    .d-flex.align-items-center
      - if note.destroyable_by(current_user) && editable
        = link_to url, class: 'btn btn-sm btn-danger ml-auto mt-auto', method: :delete, remote: request.xhr? do
          %i.icon-cross.mr-2
          Delete
%hr
