- if @equipments.blank?
  %p No DME listed.
- else
  %table.table.service__list
    %thead
      %tr
        %th Item
        %th Provider
        %th Quantity
        %th Effective Date
        %th Comments
        %th 


    %tbody
      - @equipments.each do |service|
        %tr
          %td= service.service_type
          %td= service.provider
          %td= service.effective_date
          %td= simple_format service.comments
          %td
            = link_to polymorphic_path([:edit] + health_path_generator + [:equipment]), class: 'btn btn-sm btn-primary' do 
              %i.icon-pencil
              Edit
          