= simple_form_for @service, url: @form_url do |f|
  = f.input :service_type, collection: @service.class.available_types, input_html: {class: :select2}
  = f.input :provider
  = f.input :hours
  = f.input :days
  = f.input :date_requested, as: :date_picker
  = f.input :effective_date, as: :date_picker
  = f.input :end_date, as: :date_picker
  .row
    .col-sm-6
      = link_to polymorphic_path(health_path_generator + [:service], id: @service.id), method: :delete, data: {confirm: "Please confirm you intend to delete the #{@service.service_type} service."}, class: 'btn btn-danger btn-sm' do
        %i.icon-cross
        Delete
    .col-sm-6
      = f.button :submit, class: 'btn-primary btn-muted btn-sm', value: @button_label


= content_for :page_js do
  :javascript
    $('.select2').select2();