= render 'window/clients/breadcrumbs'

= content_for(:title, "Services and Equipment for #{@patient.name}")
%h1= content_for(:title)
= render 'window/clients/tab_navigation', current: polymorphic_path(health_path_generator + [:services], client_id: @client.id)
= render 'window/health/patient_release_status'
= render 'index'

