- title = 'Update TalentLMS Subdomain'
- content_for :title, title

= render 'breadcrumbs'
.row
  .col-sm-4
    %h1= content_for :title

= simple_form_for @config, url: admin_talentlm_path(@config.id) do |f|
  = f.error_notification
  = render 'form', f: f
  .form_actions.mt-4
    = f.submit 'Save Subdomain'
    =# link_to 'Delete Subdomain', admin_talentlm_path(config), method: :delete, data: {confirm: 'Are you sure you want to delete this configuration? It will no longer be usable.'}, class: 'btn btn-danger'