- title = 'TalentLMS'
- content_for :title, title
- length_of_time = Talentlms::Facade.expiration_duration_label

= render 'breadcrumbs'
.row
  .col-sm-4
    %h1= content_for :title
%br
.h2 
  Configuration
.well
  = simple_form_for @site_configs, url: update_site_config_admin_talentlms_path(@site_configs), method: :post, remote: true do |f|
    = f.input :number_lms_courses_required, as: :select_two, collection: GrdaWarehouse::Config.available_number_lms_courses_required,  input_html: {class: :jRemoteSubmit}, label: 'TalentLMS Courses Completion Requirement'
.h2 
  Subdomians
.well
  .row
    .col-12.text-right
      = link_to new_admin_talentlm_path, class: 'btn btn-primary mb-2' do
        %span.icon-plus
        Add a Subdomain
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Subdomain
          %th Can Create New Accounts in TalentLMS
          %th 
      %tbody
        - @configs.each do |config|
          %tr
            %td
              = link_to config.unique_name, edit_admin_talentlm_path(config)
            %td
              - if config.create_new_accounts 
                %i.icon-checkmark
            %td
              - if config.courses.count == 0 
                .float-right
                  = link_to admin_talentlm_path(config), method: :delete, data: {confirm: "Are you sure you want to delete the #{config.unique_name} subdomain?"}, class: 'btn btn-sm btn-danger' do
                    %i.icon-cross
                    Remove Subdomain
.h2 
  Courses
.well
  .row
    .col-12.text-right
      = link_to new_admin_talentlms_course_path, class: 'btn btn-primary mb-2' do
        %span.icon-plus
        Add a Course
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Subdomain
          %th Course Name 
          %th Course ID
          %th Default
          %th= "#{length_of_time} to Expiration"
          %th Active Range
          %th
      %tbody
        - @configs.each do |config|
          - config.courses.each do |course|
            %tr
              %td= config.unique_name
              %td= link_to course.name.html_safe, edit_admin_talentlms_course_path(course)
              %td= course.courseid
              %td
                - if course.default 
                  %i.icon-checkmark
              %td= course.months_to_expiration
              %td= course.active_date_range_for_display
              %td
                .float-right
                  = link_to admin_talentlms_course_path(course), method: :delete, data: {confirm: "Are you sure you want to delete the #{course.name} course?" }, class: 'btn btn-danger btn-sm' do
                    %i.icon-cross
                    Remove Course

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jRemoteSubmit').on('change', function(e){
        form = $(this).closest('form');
        $.ajax({
          data: form.serialize(),
          type: form.attr('method'),
          url: form.attr('action'),
          success: function(e) {
            console.debug('success')
            var html = '<div class="jAjaxSave alert alert-success">Course completion requirement saved successfully.</div>';
            $('.utility').html(html);
            $('.jAjaxSave').delay(5000).fadeOut(250);
          },
          error: function(e) {
            console.debug('fail')
            var html = '<div class="jAjaxSave alert alert-danger">Failed to save course completion requirement.</div>';
            $('.utility').html(html);
            $('.jAjaxSave').delay(5000).fadeOut(250);
          }
        });
      });
    });