- title = 'TalentLMS'
- content_for :title, title
- length_of_time = if Rails.env.production? then 'Months' else 'Days' end

= render 'breadcrumbs'
.row
  .col-sm-4
    %h1= content_for :title

.row
  .col-12.text-right
    = link_to new_admin_talentlm_path, class: 'btn btn-primary mb-2' do
      %span.icon-plus
      Add a Subdomain
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Subdomain
        %th Course Name 
        %th Course ID
        %th= "#{length_of_time} to Expiration"
        %th Default
        %th
    %tbody
      - @configs.each do |config|
        - if config.courses.count > 0
          - config.courses.each_with_index do |course, index|
            %tr
              - if index == 0
                %td{:rowspan => config.courses.count}
                  = link_to config.subdomain, edit_admin_talentlm_path(config)
                  %p
                    = link_to new_admin_talentlms_course_path(:config => config), class: 'btn btn-sm btn-primary mb-2' do
                      %i.icon-plus
                      Add a Course
              %td= link_to course.name.html_safe, edit_admin_talentlms_course_path(course)
              %td= course.courseid
              %td= course.months_to_expiration
              %td
                - if course.default 
                  %i.icon-checkmark
              %td
                = link_to admin_talentlms_course_path(course), method: :delete, data: {confirm: "Are you sure you want to delete the #{course.name} course?" }, class: 'btn btn-danger btn-sm' do
                  %i.icon-cross
                  Remove Course
        - else
          %tr
            %td
              = link_to config.subdomain, edit_admin_talentlm_path(config)
              %p
                = link_to new_admin_talentlms_course_path(:config => config), class: 'btn btn-sm btn-primary' do
                  %i.icon-plus
                  Add a Course
              %p
                = link_to admin_talentlm_path(config), method: :delete, data: {confirm: "Are you sure you want to delete the #{config.subdomain} subdomain?" }, class: 'btn btn-sm btn-danger' do
                  %i.icon-cross
                  Remove Subdomain
            %td
            %td
            %td
            %td
            %td
