- title = 'Clients Interested in RRH with no Consent'
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'
= simple_form_for :forms, url: warehouse_reports_cas_rrh_desired_index_path, html: { method: :get } do |f|
  = render 'filter', f: f

- if @forms.any?
  %p The following clients have completed a #{_('Coordinated Entry Assessment')} indicating they are interested in RRH but do not have a confirmed consent on file.
  %table.table.table-condensed
    %thead
      %tr
        %th Client
        %th Collection Date
        %th Collection Location
        %th Assessor
        %th Assessor's Email
    %tbody
      - @forms.each do |_, forms|
        - assessment = forms.first
        - client = assessment.destination_client
        %tr
          %td
            = link_to_if can_view_clients?, "#{client.FirstName} #{client.LastName}", appropriate_client_path(client)
          %td= assessment.collected_at.to_date
          %td= assessment.collection_location
          %td= assessment.staff
          %td= assessment.staff_email
- else
  .none-found None found.
