- content_for :title, 'Uploaded Access Control Data'
.d-flex
  %h1= content_for :title
= content_for :crumbs do
  = link_to admin_acl_imports_path do
    &laquo; Manage Access Control Uploads

%p The following data was uploaded on #{@import.created_at.to_date}
- if @import.valid_import?
  = render 'complete_import'
  %ul.nav.nav-tabs{role: :tablist}
    %li.nav-item{role: :presentation}
      %a{href: "#roles", 'aria-controls' => :roles, role: :tab, data: {toggle: :tab}, class: 'nav-link active'} Roles
    %li.nav-item{role: :presentation}
      %a{href: "#collections", 'aria-controls' => :collections, role: :tab, data: {toggle: :tab}, class: 'nav-link'} Collections
    %li.nav-item{role: :presentation}
      %a{href: "#users", 'aria-controls' => :users, role: :tab, data: {toggle: :tab}, class: 'nav-link'} Users
    %li.nav-item{role: :presentation}
      %a{href: "#access_controls", 'aria-controls' => :access_controls, role: :tab, data: {toggle: :tab}, class: 'nav-link'} Access Controls
  .tab-content#import-tab-content.mb-4
    .tab-pane.active{role: :tabpanel, id: :roles}
      = render 'roles'
    .tab-pane{role: :tabpanel, id: :collections}
      = render 'collections'
    .tab-pane{role: :tabpanel, id: :users}
      = render 'users'
    .tab-pane{role: :tabpanel, id: :access_controls}
      = render 'access_controls'
  = render 'complete_import'
- else
  %p Import file is in an unexpected format.
