
- url = polymorphic_path(cha_path_generator, client_id: @client.id, id: @cha.id, format: :js)
= simple_form_for @cha, url: polymorphic_path(cha_path_generator, client_id: @client.id, id: @cha.id), as: :form, html: { data: { url: url }} do |f|
  
  .row
    .col-sm-8

      %h3
        = _('CHA A_TITLE')
        %small= _('CHA A_SUBTITLE') 
      .well
        = cha_string     f, :a_q1, input_html: { disabled: true, value: @client.name }
        = cha_radios     f, :a_q2
        = cha_datepicker f, :a_q3, input_html: { disabled: true, value: @client.DOB }
        = cha_radios     f, :a_q4
        .form-group
          %label.control-label= _('CHA A_Q5')
          %div{ style: 'margin: 0 1em' }
            = cha_string f, :a_q5a
            = cha_string f, :a_q5b
            = cha_string f, :a_q5c, input_html: { disabled: true, value: @patient.medicaid_id }
        = cha_text       f, :a_q6
        = cha_radios     f, :a_q7
        = cha_datepicker f, :a_q8
        = cha_text       f, :a_q9
        = cha_string     f, :a_q10
        = cha_radios     f, :a_q11
        = cha_radios     f, :a_q12

      %h3
        = _('CHA B_TITLE')
        %small= _('CHA B_SUBTITLE')
      .well
        = cha_datepicker f, :b_q1
        = cha_checkboxes f, :b_q2
        = cha_radios     f, :b_q3
        = cha_checkboxes f, :b_q4

      %h3
        = _('CHA C_TITLE')
        %small= _('CHA C_SUBTITLE')
      .well
        = cha_radios     f, :c_q1
        = cha_radios     f, :c_q2
        = cha_radios     f, :c_q3

      %h3
        = _('CHA D_TITLE')
        %small= _('CHA D_SUBTITLE')
      .well
        = cha_radios     f, :d_q1
        = cha_radios     f, :d_q2
        = cha_radios     f, :d_q3
        = cha_radios     f, :d_q4

      %h3
        = _('CHA E_TITLE')
        %small= _('CHA E_SUBTITLE')
      .well
        = cha_radios     f, :e_q1a
        = cha_radios     f, :e_q1b
        = cha_radios     f, :e_q1c
        = cha_radios     f, :e_q1d
        = cha_radios     f, :e_q1e
        = cha_radios     f, :e_q1f
        = cha_radios     f, :e_q1g
        = cha_radios     f, :e_q1h
        = cha_radios     f, :e_q1i

        = cha_radios     f, :e_q2a
        = cha_radios     f, :e_q2b
        = cha_radios     f, :e_q2c

      %h3
        = _('CHA F_TITLE')
        %small= _('CHA F_SUBTITLE')
      .well
        = cha_radios     f, :f_q1a
        = cha_radios     f, :f_q1b
        = cha_radios     f, :f_q1c
        = cha_radios     f, :f_q1d
        = cha_radios     f, :f_q1e
        = cha_radios     f, :f_q1f
        = cha_radios     f, :f_q2
        = cha_radios     f, :f_q3
        = cha_radios     f, :f_q4
        = cha_radios     f, :f_q5

      %h3
        = _('CHA G_TITLE')
        %small= _('CHA G_SUBTITLE')
      .well
        .row
          .col-sm-12
            %h4= _('CHA G_Q1_HEADER')
            %p.help-text= _('CHA G_Q1_SUBHEADER')
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1A_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1ap
          .col-sm-6
            = cha_select     f, :g_q1ac
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1B_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1bp
          .col-sm-6
            = cha_select     f, :g_q1bc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1C_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1cp
          .col-sm-6
            = cha_select     f, :g_q1cc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1D_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1dp
          .col-sm-6
            = cha_select     f, :g_q1dc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1E_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1ep
          .col-sm-6
            = cha_select     f, :g_q1ec
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1F_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1fp
          .col-sm-6
            = cha_select     f, :g_q1fc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1G_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1gp
          .col-sm-6
            = cha_select     f, :g_q1gc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1H_HEADER")
        .row
          .col-sm-6
            = cha_select     f, :g_q1hp
          .col-sm-6
            = cha_select     f, :g_q1hc

        .row
          .col-sm-12
            %h4= _('CHA G_Q2_HEADER')
            %p.help-text= _('CHA G_Q2_SUBHEADER')

        = cha_radios     f, :g_q2a
        = cha_radios     f, :g_q2b
        = cha_radios     f, :g_q2c
        = cha_radios     f, :g_q2d
        = cha_radios     f, :g_q2e
        = cha_radios     f, :g_q2f

        = cha_radios     f, :g_q3
        = cha_radios     f, :g_q4a
        = cha_radios     f, :g_q4b
        = cha_radios     f, :g_q5
        = cha_radios     f, :g_q6a
        = cha_radios     f, :g_q6b

      %h3
        = _('CHA H_TITLE')
        %small= _('CHA H_SUBTITLE')
      .well
        = cha_radios     f, :h_q1

      %h3
        = _('CHA I_TITLE')
        %small= _('CHA I_SUBTITLE')
      .well
        = cha_radios     f, :i_q1a
        = cha_radios     f, :i_q1b
        = cha_radios     f, :i_q1c
        = cha_radios     f, :i_q1d
        = cha_radios     f, :i_q1e
        = cha_radios     f, :i_q1f
        = cha_radios     f, :i_q1g
        = cha_radios     f, :i_q1h
        = cha_radios     f, :i_q1i
        = cha_radios     f, :i_q1j
        = cha_radios     f, :i_q1k
        = cha_radios     f, :i_q1l
        = cha_radios     f, :i_q1m
        = cha_radios     f, :i_q1n
        .row
          .col-sm-12
            %p
              %strong= _('CHA I_Q2_HEADER')
        .row
          .col-sm-4
            = cha_string     f, :i_q2a1
          .col-sm-4
            = cha_select     f, :i_q2a2
          .col-sm-4
            = cha_string     f, :i_q2a3
        .row
          .col-sm-4
            = cha_string     f, :i_q2b1
          .col-sm-4
            = cha_select     f, :i_q2b2
          .col-sm-4
            = cha_string     f, :i_q2b3
        .row
          .col-sm-4
            = cha_string     f, :i_q2c1
          .col-sm-4
            = cha_select     f, :i_q2c2
          .col-sm-4
            = cha_string     f, :i_q2c3
        .row
          .col-sm-4
            = cha_string     f, :i_q2d1
          .col-sm-4
            = cha_select     f, :i_q2d2
          .col-sm-4
            = cha_string     f, :i_q2d3
        .row
          .col-sm-4
            = cha_string     f, :i_q2e1
          .col-sm-4
            = cha_select     f, :i_q2e2
          .col-sm-4
            = cha_string     f, :i_q2e3
        .row
          .col-sm-4
            = cha_string     f, :i_q2f1
          .col-sm-4
            = cha_select     f, :i_q2f2
          .col-sm-4
            = cha_string     f, :i_q2f3

      %h3
        = _('CHA J_TITLE')
        %small= _('CHA J_SUBTITLE')
      .well
        = cha_radios     f, :j_q1
        = cha_radios     f, :j_q2

        = cha_radios     f, :j_q3a
        = cha_radios     f, :j_q3b
        = cha_radios     f, :j_q3c
        = cha_radios     f, :j_q3d
        = cha_radios     f, :j_q3e
        = cha_radios     f, :j_q3f
        = cha_radios     f, :j_q3g
        = cha_radios     f, :j_q3h
        = cha_radios     f, :j_q3i
        = cha_radios     f, :j_q3j
        = cha_radios     f, :j_q3k
        = cha_radios     f, :j_q3l

        = cha_radios     f, :j_q4
        = cha_radios     f, :j_q5

        = cha_radios     f, :j_q6a
        = cha_radios     f, :j_q6b
        = cha_radios     f, :j_q6c
        = cha_radios     f, :j_q6d
        = cha_radios     f, :j_q6e

        = cha_radios     f, :j_q7a
        = cha_radios     f, :j_q7b

        = cha_radios     f, :j_q8
        = cha_radios     f, :j_q9a
        = cha_radios     f, :j_q9b

      %h3
        = _('CHA K_TITLE')
        %small= _('CHA K_SUBTITLE')
      .well
        = cha_radios     f, :k_q1a
        = cha_radios     f, :k_q1b
        = cha_radios     f, :k_q1c
        = cha_radios     f, :k_q1d

      %h3
        = _('CHA L_TITLE')
        %small= _('CHA L_SUBTITLE')
      .well
        .row
          .col-sm-12
            = cha_string f, :l_q1s1a
        .row
          .col-sm-2
            = cha_string f, :l_q1s1b
          .col-sm-2
            = cha_select f, :l_q1s1c
          .col-sm-2
            = cha_select f, :l_q1s1d
          .col-sm-2
            = cha_select f, :l_q1s1e
          .col-sm-2
            = cha_select f, :l_q1s1f
          .col-sm-2
            = cha_string f, :l_q1s1g
        .row
          .col-sm-12
            = cha_string f, :l_q1s2a
        .row
          .col-sm-2
            = cha_string f, :l_q1s2b
          .col-sm-2
            = cha_select f, :l_q1s2c
          .col-sm-2
            = cha_select f, :l_q1s2d
          .col-sm-2
            = cha_select f, :l_q1s2e
          .col-sm-2
            = cha_select f, :l_q1s2f
          .col-sm-2
            = cha_string f, :l_q1s2g
        .row
          .col-sm-12
            = cha_string f, :l_q1s3a
        .row
          .col-sm-2
            = cha_string f, :l_q1s3b
          .col-sm-2
            = cha_select f, :l_q1s3c
          .col-sm-2
            = cha_select f, :l_q1s3d
          .col-sm-2
            = cha_select f, :l_q1s3e
          .col-sm-2
            = cha_select f, :l_q1s3f
          .col-sm-2
            = cha_string f, :l_q1s3g
        .row
          .col-sm-12
            = cha_string f, :l_q1s4a
        .row
          .col-sm-2
            = cha_string f, :l_q1s4b
          .col-sm-2
            = cha_select f, :l_q1s4c
          .col-sm-2
            = cha_select f, :l_q1s4d
          .col-sm-2
            = cha_select f, :l_q1s4e
          .col-sm-2
            = cha_select f, :l_q1s4f
          .col-sm-2
            = cha_string f, :l_q1s4g
        .row
          .col-sm-12
            = cha_string f, :l_q1s5a
        .row
          .col-sm-2
            = cha_string f, :l_q1s5b
          .col-sm-2
            = cha_select f, :l_q1s5c
          .col-sm-2
            = cha_select f, :l_q1s5d
          .col-sm-2
            = cha_select f, :l_q1s5e
          .col-sm-2
            = cha_select f, :l_q1s5f
          .col-sm-2
            = cha_string f, :l_q1s5g

        = cha_radios f, :l_q2

      %h3
        = _('CHA M_TITLE')
        %small= _('CHA M_SUBTITLE')
      .well
        = cha_radios f, :m_q1a
        = cha_radios f, :m_q1b
        = cha_radios f, :m_q1c
        = cha_radios f, :m_q1d
        = cha_radios f, :m_q1e
        = cha_radios f, :m_q1f
        = cha_radios f, :m_q1g
        = cha_radios f, :m_q1h

        = cha_string f, :m_q2a
        = cha_string f, :m_q2b
        = cha_string f, :m_q2c

      %h3
        = _('CHA N_TITLE')
        %small= _('CHA N_SUBTITLE')
      .well
        = cha_radios f, :n_q1

      %h3
        = _('CHA O_TITLE')
        %small= _('CHA O_SUBTITLE')
      .well
        = cha_radios f, :o_q1

      %h3
        = _('CHA P_TITLE')
        %small= _('CHA P_SUBTITLE')
      .well
        = cha_datepicker f, :p_q1
        = cha_radios     f, :p_q2

      %h3
        = _('CHA Q_TITLE')
        %small= _('CHA Q_SUBTITLE')
      .well
        = cha_string     f, :q_q1, input_html: { disabled: true, value: @cha.user&.name }
        = cha_datepicker f, :q_q2

      %h3
        = _('CHA R_TITLE')
        %small= _('CHA R_SUBTITLE')
      .well
        = cha_radios f, :r_q1
        = cha_radios f, :r_q2
        = cha_radios f, :r_q3
        = cha_radios f, :r_q4
        = cha_radios f, :r_q5
        = cha_string f, :r_q6a
        = cha_string f, :r_q6b
        = cha_string f, :r_q6c
        = cha_string f, :r_q6d
        = cha_text   f, :r_q6e
        = cha_radios f, :r_q7
        = cha_checkboxes f, :r_q8

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q9_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q9a
          .col-sm-4
            = cha_string f, :r_q9b
          .col-sm-4
            = cha_string f, :r_q9c
        .row
          .col-sm-12
            = cha_text f, :r_q9d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q10_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q10a
          .col-sm-4
            = cha_string f, :r_q10b
          .col-sm-4
            = cha_string f, :r_q10c
        .row
          .col-sm-12
            = cha_text f, :r_q10d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q11_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q11a
          .col-sm-4
            = cha_string f, :r_q11b
          .col-sm-4
            = cha_string f, :r_q11c
        .row
          .col-sm-12
            = cha_text f, :r_q11d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q12_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q12a
          .col-sm-4
            = cha_string f, :r_q12b
          .col-sm-4
            = cha_string f, :r_q12c
        .row
          .col-sm-12
            = cha_text f, :r_q12d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q13_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q13a
          .col-sm-4
            = cha_string f, :r_q13b
          .col-sm-4
            = cha_string f, :r_q13c
        .row
          .col-sm-12
            = cha_text f, :r_q13d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q14_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q14a
          .col-sm-4
            = cha_string f, :r_q14b
          .col-sm-4
            = cha_string f, :r_q14c
        .row
          .col-sm-12
            = cha_text f, :r_q14d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q15_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q15a
          .col-sm-4
            = cha_string f, :r_q15b
          .col-sm-4
            = cha_string f, :r_q15c
        .row
          .col-sm-12
            = cha_text f, :r_q15d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q16_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q16a
          .col-sm-4
            = cha_string f, :r_q16b
          .col-sm-4
            = cha_string f, :r_q16c
        .row
          .col-sm-12
            = cha_text f, :r_q16d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q17_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q17a
          .col-sm-4
            = cha_string f, :r_q17b
          .col-sm-4
            = cha_string f, :r_q17c
        .row
          .col-sm-12
            = cha_text f, :r_q17d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q18_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q18a
          .col-sm-4
            = cha_string f, :r_q18b
          .col-sm-4
            = cha_string f, :r_q18c
        .row
          .col-sm-12
            = cha_text f, :r_q18d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q19_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q19a
          .col-sm-4
            = cha_string f, :r_q19b
          .col-sm-4
            = cha_string f, :r_q19c
        .row
          .col-sm-12
            = cha_text f, :r_q19d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q20_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q20a
          .col-sm-4
            = cha_string f, :r_q20b
          .col-sm-4
            = cha_string f, :r_q20c
        .row
          .col-sm-12
            = cha_text f, :r_q20d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q21_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q21a
          .col-sm-4
            = cha_string f, :r_q21b
          .col-sm-4
            = cha_string f, :r_q21c
        .row
          .col-sm-12
            = cha_text f, :r_q21d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q22_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q22a
          .col-sm-4
            = cha_string f, :r_q22b
          .col-sm-4
            = cha_string f, :r_q22c
        .row
          .col-sm-12
            = cha_text f, :r_q22d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q23_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q23a
          .col-sm-4
            = cha_string f, :r_q23b
          .col-sm-4
            = cha_string f, :r_q23c
        .row
          .col-sm-12
            = cha_text f, :r_q23d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q24_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q24a
          .col-sm-4
            = cha_string f, :r_q24b
          .col-sm-4
            = cha_string f, :r_q24c
        .row
          .col-sm-12
            = cha_text f, :r_q24d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q25_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q25a
          .col-sm-4
            = cha_string f, :r_q25b
          .col-sm-4
            = cha_string f, :r_q25c
        .row
          .col-sm-12
            = cha_text f, :r_q25d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q26_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q26a
          .col-sm-4
            = cha_string f, :r_q26b
          .col-sm-4
            = cha_string f, :r_q26c
        .row
          .col-sm-12
            = cha_text f, :r_q26d
        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q27_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q27a
          .col-sm-4
            = cha_string f, :r_q27b
          .col-sm-4
            = cha_string f, :r_q27c
        .row
          .col-sm-12
            = cha_text f, :r_q27d

        .row
          .col-sm-12
            %h4= _('CHA R_Q28_TITLE')

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q28_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q28a
          .col-sm-4
            = cha_string f, :r_q28b
          .col-sm-4
            = cha_datepicker f, :r_q28c
        .row
          .col-sm-12
            = cha_text f, :r_q28d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q29_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q29a
          .col-sm-4
            = cha_string f, :r_q29b
          .col-sm-4
            = cha_datepicker f, :r_q29c
        .row
          .col-sm-12
            = cha_text f, :r_q29d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q30_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q30a
          .col-sm-4
            = cha_string f, :r_q30b
          .col-sm-4
            = cha_datepicker f, :r_q30c
        .row
          .col-sm-12
            = cha_text f, :r_q30d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q31_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q31a
          .col-sm-4
            = cha_string f, :r_q31b
          .col-sm-4
            = cha_datepicker f, :r_q31c
        .row
          .col-sm-12
            = cha_text f, :r_q31d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q32_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q32a
          .col-sm-4
            = cha_string f, :r_q32b
          .col-sm-4
            = cha_datepicker f, :r_q32c
        .row
          .col-sm-12
            = cha_text f, :r_q32d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q33_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q33a
          .col-sm-4
            = cha_string f, :r_q33b
          .col-sm-4
            = cha_datepicker f, :r_q33c
        .row
          .col-sm-12
            = cha_text f, :r_q33d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q34_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q34a
          .col-sm-4
            = cha_string f, :r_q34b
          .col-sm-4
            = cha_datepicker f, :r_q34c
        .row
          .col-sm-12
            = cha_text f, :r_q34d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q35_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q35a
          .col-sm-4
            = cha_string f, :r_q35b
          .col-sm-4
            = cha_datepicker f, :r_q35c
        .row
          .col-sm-12
            = cha_text f, :r_q35d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q36_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q36a
          .col-sm-4
            = cha_string f, :r_q36b
          .col-sm-4
            = cha_datepicker f, :r_q36c
        .row
          .col-sm-12
            = cha_text f, :r_q36d

        .row
          .col-sm-12
            %p
              %strong= _('CHA R_Q37_HEADER')
        .row
          .col-sm-4
            = cha_string f, :r_q37a
          .col-sm-4
            = cha_string f, :r_q37b
          .col-sm-4
            = cha_datepicker f, :r_q37c
        .row
          .col-sm-12
            = cha_text f, :r_q37d

      %h3
        Review
      .well
        - if @cha.reviewed_by.present?
          .form-group
            %label Reviewed by Supervisor
            %p.form-control-static= @cha.reviewed_by&.name
        - else
          = f.input :reviewed_by_supervisor, as: :boolean, label: 'Mark Reviewed by Supervisor', checked_value: 'yes', unchecked_value: 'no'
  .row
    .col-sm-8
      .text-right
        = link_to 'Save', polymorphic_path(careplans_path_generator), class: 'btn btn-default'
        = f.button :submit, 'Complete', data: { disable_with: 'Saving...' }