= content_for :body_data_scrollspy, true

- url = polymorphic_path(cha_path_generator, client_id: @client.id, id: @cha.id, format: :js)
= simple_form_for @cha, url: polymorphic_path(cha_path_generator, client_id: @client.id, id: @cha.id), as: :form, html: { data: { url: url }} do |f|

  .form.form--with-nav.j-form
    %nav.form__nav.j-form-nav.scrollspy
      %ul.list-group.nav.j-form-nav-list
        - ('a'..'r').each do |letter|
          %li.list-group-item.nav-item
            = link_to "Section #{letter.upcase}", "#section-#{letter}", class: 'nav-link'
      %div
        = link_to 'Save', polymorphic_path(careplans_path_generator), class: 'btn btn-default w-100 mb-1', data: { disable_with: 'Saving...' }
        %button.w-100.btn.btn-success{type: 'submit', data: { disable_with: 'Saving...' } }
          Complete
      .j-saving-indicator.c-loading.mt-3.hidden
        Saving

    .form__questions

      .c-card__header--external
        %h3#section-a
          = _('CHA A_TITLE')
        %small= _('CHA A_SUBTITLE')
      .well
        .row.mb-1.pr-8
          .col-md-6
            = cha_string     f, :a_q1, input_html: { disabled: true, value: @client.name }
        = cha_radios     f, :a_q2
        .row.mb-1.pr-8
          .col-md-6.col-lg-4
            = cha_datepicker f, :a_q3, input_html: { disabled: true, value: @client.DOB }
        = cha_radios     f, :a_q4
        .form-group
          %label.control-label= _('CHA A_Q5')
          .row.mb-1.pr-2
            .col-md-6
              = cha_string f, :a_q5a
          .row.mb-1.pr-2
            .col-md-6
              = cha_string f, :a_q5b
          .row.mb-1.pr-2
            .col-md-6
              = cha_string f, :a_q6c, input_html: { disabled: true, value: @patient.medicaid_id }
        .row.mb-1.pr-2
          .col-sm-8
            = cha_string     f, :a_q6
        = cha_radios     f, :a_q7
        .row.mb-1.pr-2
          .col-md-6.col-lg-4
            = cha_datepicker f, :a_q8
        = cha_text       f, :a_q9
        = cha_string     f, :a_q10
        = cha_radios     f, :a_q11
        = cha_radios     f, :a_q12

      .c-card__header--external
        %h3#section-b
          = _('CHA B_TITLE')
        %small= _('CHA B_SUBTITLE')
      .well
        .row.mb-1.pr-2
          .col-md-6.col-lg-4
            = cha_datepicker f, :b_q1
        = cha_checkboxes f, :b_q2
        = cha_radios     f, :b_q3
        = cha_checkboxes f, :b_q4

      .c-card__header--external
        %h3#section-c
          = _('CHA C_TITLE')
        %small= _('CHA C_SUBTITLE')
      .well
        = cha_radios     f, :c_q1
        = cha_radios     f, :c_q2
        = cha_radios     f, :c_q3

      .c-card__header--external
        %h3#section-d
          = _('CHA D_TITLE')
        %small= _('CHA D_SUBTITLE')
      .well
        = cha_radios     f, :d_q1
        = cha_radios     f, :d_q2
        = cha_radios     f, :d_q3
        = cha_radios     f, :d_q4

      .c-card__header--external
        %h3#section-e
          = _('CHA E_TITLE')
        %small= _('CHA E_SUBTITLE')
      .well
        = cha_radios     f, :e_q1a
        = cha_radios     f, :e_q1b
        = cha_radios     f, :e_q1c
        = cha_radios     f, :e_q1d
        = cha_radios     f, :e_q1e
        = cha_radios     f, :e_q1f
        = cha_radios     f, :e_q1g
        = cha_radios     f, :e_q1h
        = cha_radios     f, :e_q1i

        = cha_radios     f, :e_q2a
        = cha_radios     f, :e_q2b
        = cha_radios     f, :e_q2c

      .c-card__header--external
        %h3#section-f
          = _('CHA F_TITLE')
        %small= _('CHA F_SUBTITLE')
      .well
        = cha_radios     f, :f_q1a
        = cha_radios     f, :f_q1b
        = cha_radios     f, :f_q1c
        = cha_radios     f, :f_q1d
        = cha_radios     f, :f_q1e
        = cha_radios     f, :f_q1f
        = cha_radios     f, :f_q2
        = cha_radios     f, :f_q3
        = cha_radios     f, :f_q4
        = cha_radios     f, :f_q5

      .c-card__header--external
        %h3#section-g
          = _('CHA G_TITLE')
        %small= _('CHA G_SUBTITLE')
      .well
        .row
          .col-sm-12.mb-1
            %h4= _('CHA G_Q1_HEADER')
            %p.help-text= _('CHA G_Q1_SUBHEADER')
        .row
          .col-sm-12.mb-1
            %p
              %strong= _("CHA G_Q1A_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1ap
            = cha_select     f, :g_q1ac
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1B_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1bp
          .col-md-6
            = cha_select     f, :g_q1bc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1C_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1cp
          .col-md-6
            = cha_select     f, :g_q1cc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1D_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1dp
          .col-md-6
            = cha_select     f, :g_q1dc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1E_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1ep
          .col-md-6
            = cha_select     f, :g_q1ec
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1F_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1fp
          .col-md-6
            = cha_select     f, :g_q1fc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1G_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1gp
          .col-md-6
            = cha_select     f, :g_q1gc
        .row
          .col-sm-12
            %p
              %strong= _("CHA G_Q1H_HEADER")
        .row
          .col-md-6
            = cha_select     f, :g_q1hp
          .col-md-6
            = cha_select     f, :g_q1hc

        .row
          .col-sm-12
            %h4= _('CHA G_Q2_HEADER')
            %p.help-text= _('CHA G_Q2_SUBHEADER')

        = cha_radios     f, :g_q2a
        = cha_radios     f, :g_q2b
        = cha_radios     f, :g_q2c
        = cha_radios     f, :g_q2d
        = cha_radios     f, :g_q2e
        = cha_radios     f, :g_q2f

        = cha_radios     f, :g_q3
        = cha_radios     f, :g_q4a
        = cha_radios     f, :g_q4b
        = cha_radios     f, :g_q5
        = cha_radios     f, :g_q6a
        = cha_radios     f, :g_q6b

      .c-card__header--external
        %h3#section-h
          = _('CHA H_TITLE')
        %small= _('CHA H_SUBTITLE')
      .well
        = cha_radios     f, :h_q1

      .c-card__header--external
        %h3#section-i
          = _('CHA I_TITLE')
        %small= _('CHA I_SUBTITLE')
      .well
        = cha_radios     f, :i_q1a
        = cha_radios     f, :i_q1b
        = cha_radios     f, :i_q1c
        = cha_radios     f, :i_q1d
        = cha_radios     f, :i_q1e
        = cha_radios     f, :i_q1f
        = cha_radios     f, :i_q1g
        = cha_radios     f, :i_q1h
        = cha_radios     f, :i_q1i
        = cha_radios     f, :i_q1j
        = cha_radios     f, :i_q1k
        = cha_radios     f, :i_q1l
        = cha_radios     f, :i_q1m
        = cha_radios     f, :i_q1n
        .row
          .col-sm-12
            %p
              %strong= _('CHA I_Q2_HEADER')
        - ('a'..'ay').each_with_index do |key, index|
          - diagnosis = "i_q2#{key}1".to_sym
          - disease   = "i_q2#{key}2".to_sym
          - icd       = "i_q2#{key}3".to_sym
          .row.diagnosis-row{ class: ('hidden' if index > 0 && @cha.answer(diagnosis).blank? && @cha.answer(disease).blank? && @cha.answer(icd).blank?) }
            .col-sm-3
              = cha_string f, diagnosis
            .col-sm-3
              = cha_select f, disease
            .col-sm-3
              = cha_string f, icd
            .col-sm-3
              - if index > 0
                .form-group
                  %label.control-label &nbsp;
                  .controls
                    %a.btn.btn-link.remove-diagnosis
                      %span.icon-cross
        .row
          .col-sm-12
            %a.btn.btn-secondary.add-diagnosis
              %span.icon-plus
              Add another diagnosis


      .c-card__header--external
        %h3#section-j
          = _('CHA J_TITLE')
        %small= _('CHA J_SUBTITLE')
      .well
        = cha_radios     f, :j_q1
        = cha_radios     f, :j_q2

        = cha_radios     f, :j_q3a
        = cha_radios     f, :j_q3b
        = cha_radios     f, :j_q3c
        = cha_radios     f, :j_q3d
        = cha_radios     f, :j_q3e
        = cha_radios     f, :j_q3f
        = cha_radios     f, :j_q3g
        = cha_radios     f, :j_q3h
        = cha_radios     f, :j_q3i
        = cha_radios     f, :j_q3j
        = cha_radios     f, :j_q3k
        = cha_radios     f, :j_q3l

        = cha_radios     f, :j_q4
        = cha_radios     f, :j_q5

        = cha_radios     f, :j_q6a
        = cha_radios     f, :j_q6b
        = cha_radios     f, :j_q6c
        = cha_radios     f, :j_q6d
        = cha_radios     f, :j_q6e

        = cha_radios     f, :j_q7a
        = cha_radios     f, :j_q7b

        = cha_radios     f, :j_q8
        = cha_radios     f, :j_q9a
        = cha_radios     f, :j_q9b

      .c-card__header--external
        %h3#section-k
          = _('CHA K_TITLE')
        %small= _('CHA K_SUBTITLE')
      .well
        = cha_radios     f, :k_q1a
        = cha_radios     f, :k_q1b
        = cha_radios     f, :k_q1c
        = cha_radios     f, :k_q1d

      .c-card__header--external
        %h3#section-l
          = _('CHA L_TITLE')
        %small= _('CHA L_SUBTITLE')
      .well

        - (1..50).each_with_index do |key, index|
          - name  = "l_q1s#{key}a".to_sym
          - dose  = "l_q1s#{key}b".to_sym
          - unit  = "l_q1s#{key}c".to_sym
          - route = "l_q1s#{key}d".to_sym
          - freq  = "l_q1s#{key}e".to_sym
          - prn   = "l_q1s#{key}f".to_sym
          - code  = "l_q1s#{key}g".to_sym
          .medication-rows{ class: ('hidden' if index > 0 && @cha.answer(name).blank? && @cha.answer(dose).blank? && @cha.answer(unit).blank? && @cha.answer(route).blank? && @cha.answer(freq).blank? && @cha.answer(prn).blank? && @cha.answer(code).blank?) }
            .row
              .col-sm-10.mb-2
                = cha_string f, name
              .col-sm-2
                - if index > 0
                  .form-group
                    %label.control-label &nbsp;
                    .controls
                      %a.btn.btn-link.remove-medication
                        %span.icon-cross
            .row
              .col-sm-2
                = cha_string f, dose
              .col-sm-2
                = cha_select f, unit
              .col-sm-2
                = cha_select f, route
              .col-sm-2
                = cha_select f, freq
              .col-sm-2
                = cha_select f, prn
              .col-sm-2
                = cha_string f, code
        .row
          .col-sm-12
            %a.btn.btn-secondary.add-medication
              %span.icon-plus
              Add another medication

      .well
        = cha_radios f, :l_q2

      .c-card__header--external
        %h3#section-m
          = _('CHA M_TITLE')
        %small= _('CHA M_SUBTITLE')
      .well
        = cha_radios f, :m_q1a
        = cha_radios f, :m_q1b
        = cha_radios f, :m_q1c
        = cha_radios f, :m_q1d
        = cha_radios f, :m_q1e
        = cha_radios f, :m_q1f
        = cha_radios f, :m_q1g
        = cha_radios f, :m_q1h

        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :m_q2a
        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :m_q2b
        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :m_q2c

      .c-card__header--external
        %h3#section-n
          = _('CHA N_TITLE')
        %small= _('CHA N_SUBTITLE')
      .well
        = cha_radios f, :n_q1

      .c-card__header--external
        %h3#section-o
          = _('CHA O_TITLE')
        %small= _('CHA O_SUBTITLE')
      .well
        = cha_radios f, :o_q1

      .c-card__header--external
        %h3#section-p
          = _('CHA P_TITLE')
        %small= _('CHA P_SUBTITLE')
      .well
        .row.mb-1.pr-2
          .col-md-6.col-lg-4
            = cha_datepicker f, :p_q1
        = cha_radios     f, :p_q2

      .c-card__header--external
        %h3#section-q
          = _('CHA Q_TITLE')
        %small= _('CHA Q_SUBTITLE')
      .well
        = cha_string     f, :q_q1, input_html: { disabled: true, value: @cha.user&.name }
        .row.mb-1.pr-2
          .col-md-6.col-lg-4
            = cha_datepicker f, :q_q2

      .c-card__header--external
        %h3#section-r
          = _('CHA R_TITLE')
        %small= _('CHA R_SUBTITLE')
      .well
        = cha_radios f, :r_q1
        = cha_radios f, :r_q2
        = cha_radios f, :r_q3
        = cha_radios f, :r_q4
        = cha_radios f, :r_q5
        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :r_q6a
        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :r_q6b
        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :r_q6c
        .row.mb-1.pr-2
          .col-md-6
            = cha_string f, :r_q6d
        .row.mb-1.pr-2
          .col-md-6
            = cha_text   f, :r_q6e
        = cha_radios f, :r_q7
        = cha_checkboxes f, :r_q8

        %section.c-card.c-card--block
          .c-card__header.c-card__header--external
            %h2 Services
            = link_to polymorphic_path([:new] + health_path_generator + [:service]), class: 'btn btn-primary btn-icon-left', data: { loads_in_pjax_modal: true } do
              %i.icon-plus
              Add Service

          .c-card__content.c-card__content--flush.pb-0.pt-0
            = render 'window/health/services/service_list'

        %section.c-card.c-card--block
          .c-card__header.c-card__header--external
            %h2 Durable Medical Equipment (DME)
            = link_to polymorphic_path([:new] + health_path_generator + [:durable_equipment]), class: 'btn btn-primary btn-icon-left', data: { loads_in_pjax_modal: true } do
              %i.icon-plus
              Add Equipment Item
          .c-card__content.c-card__content--flush.pb-0.pt-0
            = render 'window/health/durable_equipments/equipment_list'

      %h3
        Review
      .well
        - if @cha.reviewed_by.present?
          .form-group.mb-0
            %label Reviewed by Supervisor
            %p.form-control-static= @cha.reviewed_by&.name
        - else
          = f.input :reviewed_by_supervisor, as: :boolean, label: 'Mark Reviewed by Supervisor', checked_value: 'yes', unchecked_value: 'no'

      .form__actions.form__actions--right
        = link_to 'Save', polymorphic_path(careplans_path_generator), class: 'btn btn-default mr-1', data: { disable_with: 'Saving...' }
        = f.button :submit, 'Complete', data: { disable_with: 'Saving...' }

- content_for :page_js do
  :javascript
    $(function(){
      var $tabs = $('.j-form-nav');
      $tabs.affix({offset: {top: $tabs.offset().top} });
      var sectionTitles = $("h3[id^='section']").map(function(){
        return $(this).text().trim()
      })
      $('.j-form-nav-list').find('a').each(function(i, el){
        el.textContent = sectionTitles[i]
      })
      $('.j-form').scrollspy({ target: '.j-form-nav', offset: 20 })
    })
