%h1
  = "Comprehensive Health Assessment for #{@client.full_name}"
  
= render 'window/health/breadcrumbs'
= render 'window/health/patient_release_status'
.cha-form.autosave
  = render 'upload'
  = render 'form'