- item = isolation
%div{class: flex}
  %dl.mr-4
    %dt Isolation Requested As Of
    %dd= item.isolation_requested_at.presence || 'Blank'
  %dl.mr-4
    %dt Isolation location
    %dd= item.location.presence || 'Blank'
  %dl.mr-4
    %dt Start Date
    %dd= item.started_on.presence || 'Blank'
  %dl.mr-4
    %dt Scheduled End
    %dd= item.scheduled_to_end_on.presence || 'Blank'
  %dl.mr-4
    %dt Discharged On
    %dd= item.ended_on.presence || 'Blank'
  %dl.mr-4
    %dt Notes
    %dd= simple_format(item.notes) || 'Blank'
  %dl.mr-4
    %dt Entered By
    %dd= item.user&.name
  %dl.mr-4
    %dt Entered At
    %dd= item.created_at
  %dl.mr-4
    %dt Agency
    %dd= item.agency&.name || 'Unknown'

- if can_edit_health_emergency_clinical?
  .d-flex
    = link_to destroy_isolation_client_he_clinical_path(client_id: @client.id, id: item.id), method: :delete, class: 'btn btn-danger btn-sm ml-auto', data: { confirm: "Really delete this #{item.title}?"} do
      %i.icon-cross
      Delete