- if @equipments.blank?
  %p No DME listed.
- else
  %table.table.service__list
    %thead
      %tr
        %th Item
        %th Provider
        %th Quantity
        %th Effective Date
        %th Comments
        %th 


    %tbody
      - @equipments.each do |equipment|
        %tr
          %td= equipment.item
          %td= equipment.provider
          %td= equipment.quantity
          %td= equipment.effective_date
          %td= simple_format equipment.comments
          %td
            = link_to polymorphic_path([:edit] + health_path_generator + [:durable_equipment], id: equipment.id), data: { loads_in_pjax_modal: true }, class: 'btn-primary btn-muted btn-sm' do 
              %i.icon-pencil
              Edit
          