- rows = @report.report_data
- if rows.present?
  %table.table
    %thead
      %tr
        %th Date
        %th Street
        %th Shelter
        %th Doubled Up
        %th Temporary
        %th Permanent
    %tbody
      - rows.each do |date, body|
        %tr
          %td= date
          %td= body[:street]&.count
          %td= body[:shelter]&.count
          %td= body[:doubling_up]&.count
          %td= body[:temporary]&.count
          %td= body[:permanent]&.count
