- title = "Patient Housing Status"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health'

= render 'form'
.row.mb-4
  .col-sm-12.text-right
    - if  can_view_clients?
      = link_to({format: :xlsx}.merge(params),{class: 'btn btn-secondary'}) do
        Download Excel

= render 'table'