= simple_form_for :project, url: warehouse_reports_client_in_project_during_date_range_index_path, html: {method: :get} do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-3
        = f.input :start, as: :date_picker, input_html: {value: @start}
      .col-sm-3
        = f.input :end, as: :date_picker, input_html: {value: @end}
      .col-sm-3
        = f.input :id, label: 'Project', collection: [], as: :select_two, input_html: {data: {'collection-path' => api_projects_path(selected_project_ids: [@project_id])}}, include_blank: false

  - content_for :filter_actions do
    .row
      .col-sm-3
        = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f
