= simple_form_for :project, url: warehouse_reports_client_in_project_during_date_range_index_path, html: {method: :get} do |f|
  .row
    .col-sm-3
      = f.input :start, as: :date_picker, input_html: {value: @start}, label: false
    .col-sm-3
      = f.input :end, as: :date_picker, input_html: {value: @end}, label: false
    .col-sm-3
      = f.input :id, label: false, as: :select, collection: available_projects, selected: @project_id.to_s, input_html: {class: :select2}
    .col-sm-3
      = f.button :submit, value: 'Update View'