- title = "Clients in a Project for a Given Date Range"
- content_for :title, title
.row
  .col-sm-8
    %h1= title

= render '/warehouse_reports/breadcrumbs'
= render 'filter'

.row
  .col-sm-12.text-right
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      Download Excel
.warehouse-reports__chronic
  %p= page_entries_info @clients, entry_name: 'Client'

  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Last Name
        %th First Name
        %th Age
        %th Veteran Status
        %th= "Cumulative Days Homeless as of #{Date.current}"
        %th= "Days Homeless in The Past Three Years as of #{Date.current}"
    %tbody
      - @clients.each do |client|
        %tr
          %td= link_to client.LastName, client_path(client)
          %td= link_to client.FirstName, client_path(client)
          %th= client.age
          %th= HUD.veteran_status(client.VeteranStatus)
          %td.text-center= client.days_homeless
          %td.text-center= client.days_homeless_in_last_three_years
%p= paginate @clients
