= content_for :crumbs do
  = link_to hud_reports_legacy_spms_path do
    = "« Legacy System Performance Measures"

%h1= _("Report Result: #{@report.name}")

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'report'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Status
          %th Started
          %th Limits
          %th Run by
          %th Completed in
      %tbody
        - @results.each do |result|
          %tr
            %td
              - if result.job_status.present?
                Report Failed
              - else
                = link_to result.last_run_status, hud_reports_legacy_spm_legacy_result_path(@report, result)
            %td= result.created_at
            - if @report.has_options?
              %td
                = result.value_for_options result.options
            %td= result.user.name
            %td= result.completed_in
  = render 'common/pagination_bottom', item_name: 'report'
- else
  .none-found No reports.
