= simple_form_for @form, url: polymorphic_path(self_sufficiency_matrix_form_path_generator, client_id: @client.id, id: @form.id), as: :form, html: { class: 'ssm-form', data: { url: polymorphic_path(self_sufficiency_matrix_form_path_generator, client_id: @client.id, id: @form.id, format: :js) }} do |f|
  
  = f.error_notification

  .well.col-sm-8
    = f.input :point_completed, collection: Health::SelfSufficiencyMatrixForm.point_completed_options, as: :radio_buttons

  - Health::SelfSufficiencyMatrixForm::SECTIONS.keys.each do |section_key|
    .well.col-sm-8
      = f.input :"#{section_key}_score", label: Health::SelfSufficiencyMatrixForm::SECTION_TITLES[section_key], collection: Health::SelfSufficiencyMatrixForm::SECTIONS[section_key].invert.to_a, as: :radio_buttons
      = f.input :"#{section_key}_notes", as: :text, label: 'Notes', hint: Health::SelfSufficiencyMatrixForm::SECTION_NOTES[section_key]
      %p.has-error
        %span.help-block= Health::SelfSufficiencyMatrixForm::SECTION_FOOTERS[section_key]

  .col-sm-8
    .text-right
      = f.button :submit, 'Save'
