- content_for :modal_title, 'Self-Sufficiency Matrix'
- if @form.present?
  - if @form.editable_by?(current_user)
    .pull-right
      = link_to 'Edit', polymorphic_path([:edit] + self_sufficiency_matrix_form_path_generator, id: @form.id), class: 'btn btn-secondary btn-sm'

  %strong Name:
  %span= @client.name
  %br
  %strong Date Completed:
  %span= @form.completed_at&.to_date || 'in progress'
  %br
  %strong Case Worker:
  %span= @form.user&.name

  %p.text-right(style="font-size:smaller;font-style:italic;")
    Only answered questions are shown.



  - if @form.point_completed.present?
    .client__assessment-question
      Point at which this assessment was completed
    .client__assessment-answer
      = @form.point_completed

  - Health::SelfSufficiencyMatrixForm::SECTIONS.keys.each do |section_key|
    - score = @form.send "#{section_key}_score"
    - if score.present?
      - title = Health::SelfSufficiencyMatrixForm::SECTION_TITLES[section_key]
      .client__assessment-question
        = "#{title} Score: "
        = score
      .client__assessment-question
        = title
      .client__assessment-answer
        = Health::SelfSufficiencyMatrixForm::SECTIONS[section_key][score]
      .client__assessment-question
        = "#{title} Notes"
      .client__assessment-answer
        = simple_format @form.send("#{section_key}_notes")

  %hr

  .client__assessment-question
    Total Score
  .client__assessment-answer
    = @form.total_score

  .client__assessment-question
    Average Score
  .client__assessment-answer
    = @form.average_score
