- @on_health = true # Force the menu
- title = "Self Sufficiency Matrix Form for #{@client.full_name}"
- content_for(:title, title)
.o-page
  .o-page__header
    %h1
      = content_for(:title)
  .pull-right
    - unless @form.claim_submitted?
      = link_to 'Delete', polymorphic_path(self_sufficiency_matrix_form_path_generator, client_id: @client.id, id: @form.id), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"}
  = render 'window/health/breadcrumbs'
  = render 'form'
