- title = 'Self Sufficiency Matrix Form'
= content_for(:title, title)
.o-page
  .o-page__header
    %h1
      = "#{content_for(:title)} for #{@client.full_name}"
  = render 'window/clients/breadcrumbs'
  = render 'window/clients/tab_navigation', current: polymorphic_path(careplan_path_generator)

  .o-page__main-content
    .mb-6
      %h2= "#{content_for(:title)} for #{@client.full_name}"
      %small
        Entered by
        = @form.user.name

    .row
      .col-sm-12
        = render 'form'
