- title = @report.class.name
- content_for :title, title

- @layout__plain_inner = true
- @layout__width = 'lg'
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'filters/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'operational'
      = render 'utility'
    .top-nav-prs1
      %h1.mb-5= title
    .main-inner-prs1
      - if params[:render_inline] == "1" && Rails.env.development?
        = render "report"
      - else
        = render 'background_render', url: render_section_inactive_client_report_warehouse_reports_reports_path, fetch_params: { filter: @filter.for_params[:filters], query_string: params } do
          .rollup
            .rollup-container.well

        = render 'common/section_not_loading', path_to_section: data_inactive_client_report_warehouse_reports_reports_path(link_params)
