= render '/warehouse_reports/breadcrumbs', tab: 'health'
- title = "#{@file.label} uploaded on #{@file.created_at}"
- content_for :title, title
%h1.mb-4= content_for :title

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'row'
  %div.overflow-scroll
    %table.table.table-sm{id: "jRosterTable"}
      %thead
        %tr
          - @file.columns.values.each do |label|
            %th= label
      %tbody
        - @rows.each do |entry|
          %tr
            - @file.columns.keys.each do |key|
              %td= entry[key]
  = render 'common/pagination_bottom', item_name: 'row'
- else
  .none-found No data

= content_for :page_js do
  :javascript
    $(document).ready( function () {
      $('#jRosterTable').DataTable();
    } );
