= simple_form_for @member, as: :member, url: polymorphic_path(careplan_path_generator + [:team, :members]) do |f|
  = f.input :type, collection: Health::Team::Member.available_types, label_method: :member_type_name, include_blank: false, label: false, input_html: {class: 'select2'}
  = f.input :first_name
  = f.input :last_name
  = f.input :title, hint: 'PCP, RN or Family Member, Specialist etc.'
  = f.input :email, placeholder: 'user@domain.com', type: :email
  = f.input :organization
  .form-actions
    = f.button :submit, value: 'Add Team Member'