= render partial: 'breadcrumbs'
%h1
  = _("Import Log from #{@import.data_source.name}")
.row
  .col-sm-12
    .table-responsive
      %table.table.table-sm
        %tbody
          %tr
            %th Imported On
            %td= @import.created_at
          %tr
            %th Completed In
            %td= @import.import_time(details: true)
          %tr
            %th Files Found
            %td
              - if @import&.upload&.content.present?
                = link_to @import.files.try(:count), download_import_path(@import)
              - else
                = @import.files.try(:count)
          - if @import.loader_log.present?
            %tr
              %th Loader Summary
              %td
                %table.table.table-sm.import__summary.table-hover
                  %thead
                    %tr
                      %th File
                      %th Total Rows
                      %th Rows Loaded
                      %th Errors
                  %tbody
                    - @import.loader_log.summary.with_indifferent_access.each do |filename,v|
                      %tr
                        %td= filename
                        %td= v['total_lines']
                        %td= v['lines_loaded']
                        %td= link_to_unless v['total_errors'] == 0, v['total_errors'], hmis_csv_twenty_twenty_loader_error_path(@import.loader_log, file: filename)

          - if @import.importer_log.present?
            %tr
              %th Importer Summary
              %td
                %table.table.table-sm.import__summary.table-hover
                  %thead
                    %tr
                      %th File
                      %th Rows Processed
                      %th Rows Added
                      %th Rows Removed
                      %th Rows Updated
                      %th Rows Unchanged
                      %th Validation Flags
                      %th Errors
                  %tbody
                    - @import.importer_log.summary.with_indifferent_access.each do |filename,v|
                      %tr
                        %td= filename
                        %td= v['pre_processed']
                        %td= v['added']
                        %td= v['removed']
                        %td= v['updated']
                        %td= v['unchanged']
                        %td= link_to_unless v['total_errors'] == 0 && v['total_flags'] == 0, v['total_flags'] || '0', hmis_csv_twenty_twenty_importer_error_path(@import.importer_log, file: filename)

                        %td= link_to_unless v['total_errors'] == 0 && v['total_flags'] == 0, v['total_errors'], hmis_csv_twenty_twenty_importer_error_path(@import.importer_log, file: filename)

- if @import.import_errors.present? && @import.import_errors.is_a?(Array)
  .row
    .col-sm-12
      %h3 Import Errors
      - @import.import_errors.each do |e|
        = render 'error_list', error: e
          