:css
  .active-stage-by-cohort-by-voucher-type-wrapper .bb-axis-x .domain,
  .active-stage-by-cohort-by-voucher-type-wrapper .bb-axis-x line {
    display: none;
  }

.well.active-stage-by-cohort-by-voucher-type-wrapper
  .d-flex
    %h2 Voucher Type Details
    #moved-in-cohort-by-voucher-type-legend.ml-auto.d-flex
  .d-flex
    .matched-cohort-by-voucher-type-wrapper
      %h3.text-center Matched
      .d-flex
        #matched-cohort-by-voucher-type-chart
        #matched-cohort-by-voucher-type-legend
    .moved-in-cohort-by-voucher-type-wrapper
      %h3.text-center Moved-in
      .d-flex
        #moved-in-cohort-by-voucher-type-chart
:ruby
  @report.matched_cohort_by_voucher_type['columns'] = @report.invert_columns(@report.matched_cohort_by_voucher_type['columns'])
  matched_cohort_by_voucher_type = @report.matched_cohort_by_voucher_type
  matched_cohort_by_voucher_type_max_value = matched_cohort_by_voucher_type['columns'].drop(1).map { |values| values.drop(1).sum }.max
  moved_in_cohort_by_voucher_type = @report.moved_in_cohort_by_voucher_type
  moved_in_cohort_by_voucher_type_max_value = moved_in_cohort_by_voucher_type['columns'].drop(1).map { |values| values.drop(1).sum }.max

= content_for :page_js do
  :javascript
    let abs_label_format = {
      labels: {
        format: function (v, id, i, j) {
          if(v != 0) {
            return Math.abs(v);
          } else {
            return '';
          }
        }
      }
    };

    // Matched
    let matched_cohort_by_voucher_type = #{matched_cohort_by_voucher_type.to_json.html_safe};
    let matched_cohort_by_voucher_type_max_value = #{matched_cohort_by_voucher_type_max_value.to_json.html_safe};
    let matched_data = $.extend(true, {}, matched_cohort_by_voucher_type, abs_label_format);

    // Moved-in
    let moved_in_cohort_by_voucher_type = #{moved_in_cohort_by_voucher_type.to_json.html_safe};
    let moved_in_cohort_by_voucher_type_max_value = #{moved_in_cohort_by_voucher_type_max_value.to_json.html_safe};
    let moved_in_data = $.extend(true, {}, moved_in_cohort_by_voucher_type, abs_label_format);

    let matched_cohort_by_voucher_type_chart = bb.generate({
      'data': matched_data,
      'bindto': "#matched-cohort-by-voucher-type-chart",
      bar: {
        padding: 85,
        width: 26,
      },
      size: {
        height: 230,
        width: 500,
      },
      'axis': {
        rotated: true,
        x: {
          type: 'category',
          show: false
        },
        y: {
          tick: {
            format: function(y) {
              return Math.abs(Math.round(y));
            },
          }
        }
      },
      legend: {
        show: false,
        contents: {
          bindto: '#matched-cohort-by-voucher-type-legend',
          template: "<div class='d-flex mr-auto text-left'><div class='mr-2 mt-2 mb-0 ml-0' style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; border-radius: 10px; '>&nbsp;</div><div class='ml-0 mr-auto mt-1 mb-1'>{=TITLE}</div></div>"
        }
      }
    });
    let moved_in_cohort_by_voucher_type_chart = bb.generate({
      'data': moved_in_data,
      'bindto': "#moved-in-cohort-by-voucher-type-chart",
      bar: {
        padding: 85,
        width: 26,
      },
      size: {
        height: 250,
        width: 600,
      },
      'axis': {
        rotated: true,
        x: {
          type: 'category',
        },
        y: {
          tick: {
            format: function(x) {
              return Math.round(x);
            },
          }
        }
      },
      legend: {
        contents: {
          bindto: '#moved-in-cohort-by-voucher-type-legend',
          template: "<div class='d-flex ml-4 mr-auto text-left'><div class='mr-2 mt-2 mb-0 ml-0' style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; border-radius: 10px; '>&nbsp;</div><div class='ml-0 mr-auto mt-1 mb-1'>{=TITLE}</div></div>"
        }
      }
    });
