Dashboard
%table.street-2-home-summary.w-100.mb-6
  %tbody
    %tr
      %td.all-clients{ colspan: @report.summary_counts.count - 1, style: "background-color: #{@config.total_color}; color: #{@config.foreground_color(@config.total_color)};"}
        .count= number_with_delimiter(@report.summary_counts['total'][:count])
        .label{style: "color: #{@config.foreground_color(@config.total_color)};"}= @report.summary_counts['total'][:label]
    %tr
      - @report.summary_counts.except('total').each.with_index do |(cohort, data), i|
        - bg_color = @config["breakdown_1_color_#{i}"]
        %td{ class: "cohort-#{i}", style: "background-color: #{bg_color}; color: #{@config.foreground_color(bg_color)};"}
          .count= link_to number_with_delimiter(data[:count]), details_boston_reports_warehouse_reports_street_to_homes_path(@report.filter.for_params.merge(cohort: cohort)), style: "color: #{@config.foreground_color(bg_color)};"
          .label{ style: "color: #{@config.foreground_color(bg_color)};" }= data[:label]
