:css
  .wide-line {
    stroke-width: 3px;
  }
  .bb-xgrid-focus line {
    stroke: #000;
  }
Dashboard
%table.street-2-home-summary.w-100.mb-6
  %tbody
    %tr
      - bg_color = @config.total_color
      %td.all-clients{ colspan: @report.summary_counts.count - 1, style: "background-color: #{bg_color}; color: #{@config.foreground_color(bg_color)};"}
        .count= link_to number_with_delimiter(@report.summary_counts['total'][:count]), details_boston_reports_warehouse_reports_street_to_homes_path(@report.filter.for_params.merge(sets: ['total'])), style: "color: #{@config.foreground_color(bg_color)};"
        .label{style: "color: #{@config.foreground_color(@config.total_color)};"}= @report.summary_counts['total'][:label]
    %tr
      - @report.summary_counts.except('total').each.with_index do |(cohort, data), i|
        - bg_color = @config["breakdown_1_color_#{i}"]
        %td{ class: "cohort-#{i}", style: "background-color: #{bg_color}; color: #{@config.foreground_color(bg_color)};"}
          .count= link_to number_with_delimiter(data[:count]), details_boston_reports_warehouse_reports_street_to_homes_path(@report.filter.for_params.merge(sets: [cohort])), style: "color: #{@config.foreground_color(bg_color)};"
          .label{ style: "color: #{@config.foreground_color(bg_color)};" }= data[:label]

.d-flex
  .w-50= render 'boston_reports/warehouse_reports/street_to_homes/dashboard/total_clients_by_stage'

  .w-50= render 'boston_reports/warehouse_reports/street_to_homes/dashboard/housed_matched'

.well
  .d-flex.mb-4
    %h2.dashboard-race-ethnicity-header Race by Cohort
    .dashboard-race-ethnicity-switcher.btn-group.btn-group-toggle.btn-sm.ml-auto{ data: { toggle: :buttons }}
      %label.btn.btn-secondary.btn-sm.active
        %input#dashboard-race{ type: :radio, name: :dashboard_race_ethnicity, checked: :checked}
        Race
      %label.btn.btn-secondary.btn-sm
        %input#dashboard-ethnicity{ type: :radio, name: :dashboard_race_ethnicity}
        Ethnicity
  = render 'boston_reports/warehouse_reports/street_to_homes/dashboard/race_by_cohort'
  = render 'boston_reports/warehouse_reports/street_to_homes/dashboard/ethnicity_by_cohort'
  = content_for :page_js do
    :javascript
      $('.dashboard-race-ethnicity-switcher').on('change', function(e) {
        if($(e.target).attr('id') == 'dashboard-race') {
          $('.dashboard-race-ethnicity-header').text('Race by Cohort');
        } else {
          $('.dashboard-race-ethnicity-header').text('Ethnicity by Cohort');
        }
        $('.dashboard-ethnicity-by-cohort-charts').toggleClass('hide');
        $('.dashboard-race-by-cohort-charts').toggleClass('hide');
      });
