:css
  .action-buttons .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }

= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_race_by_stage, active_demographic: :race, active_group: :stages, title: 'Race by Stage', hidden_class: ''
= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_race_by_cohort, active_demographic: :race, active_group: :cohorts, title: 'Race by Cohort', hidden_class: 'hide'

= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_ethnicity_by_stage, active_demographic: :ethnicity, active_group: :stages, title: 'Ethnicity by Stage', hidden_class: 'hide'
= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_ethnicity_by_cohort, active_demographic: :ethnicity, active_group: :cohorts, title: 'Ethnicity by Cohort', hidden_class: 'hide'

= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_stage_by_race, active_demographic: :stages, active_group: :race, title: 'Stage by Race', hidden_class: 'hide'
= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_cohort_by_race, active_demographic: :cohorts, active_group: :race, title: 'Cohort by Race', hidden_class: 'hide'

= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_stage_by_ethnicity, active_demographic: :stages, active_group: :ethnicity, title: 'Stage by Ethnicity', hidden_class: 'hide'
= render 'boston_reports/warehouse_reports/street_to_homes/internal_chart', data_method: :stacked_cohort_by_ethnicity, active_demographic: :cohorts, active_group: :ethnicity, title: 'Cohort by Ethnicity', hidden_class: 'hide'
%p.alert.alert-info
  %i.icon-info.mr-2
  Unsheltered Population consists of anyone with an open street outreach enrollment over the past year.

= content_for :page_js do
  :javascript
    // Force window resize re-calculation
    resize_window_event = function() {
      window.dispatchEvent(new Event('resize'));
      var resizeEvent = window.document.createEvent('UIEvents');
      resizeEvent.initUIEvent('resize', true, false, window, 0);
      window.dispatchEvent(resizeEvent);
    };
    window.group = 'stages';
    window.demographics = 'race';
    $('.internal-demographic-dropdown a.dropdown-item').on('click', function(e) {
      e.preventDefault();
      let current_group = $('.internal-group-dropdown:visible a.dropdown-item.active').data('value');
      let new_demographic = $(this).data('value');
      $('.internal-chart-wrapper').addClass('hide');
      $(`.demographic-${new_demographic}.group-${current_group}`).removeClass('hide');

      let chart_key = `internal_${new_demographic}_by_${current_group}_chart`;
      window.charts[chart_key].flush();
      window.demographics = new_demographic;
      resize_window_event();
    });

    $('.internal-group-dropdown a.dropdown-item').on('click', function(e) {
      e.preventDefault();
      let current_demographic = $('.internal-demographic-dropdown:visible a.dropdown-item.active').data('value');
      '.internal-chart-wrapper'
      let new_group = $(this).data('value');
      $('.internal-chart-wrapper').addClass('hide');
      $(`.demographic-${current_demographic}.group-${new_group}`).removeClass('hide');

      let chart_key = `internal_${current_demographic}_by_${new_group}_chart`;
      window.charts[chart_key].flush();
      window.group = new_group;
      resize_window_event();
    });
    window.swapped = false;

    $('body').on('click', '.internal-axis-swap', function(e) {
      e.preventDefault();

      let new_demographic, new_group;

      if(window.swapped) {
        new_demographic = window.demographics;
        new_group = window.group;
        window.swapped = false;
      } else {
        new_demographic = window.group;
        new_group = window.demographics;
        window.swapped = true;
      }
      $('.internal-chart-wrapper').addClass('hide');
      $(`.demographic-${new_demographic}.group-${new_group}`).removeClass('hide');

      let chart_key = `internal_${new_demographic}_by_${new_group}_chart`;
      resize_window_event();
      Object.keys(window.charts).forEach(chart_key => window.charts[chart_key].flush());
    });
