.d-flex.mb-4
  %h2.stage-by-cohort-header Total Clients by Stages & Cohorts
  .stage-by-cohort-switcher.btn-group.btn-group-toggle.btn-sm.ml-auto{ data: { toggle: :buttons }}
    %label.btn.btn-secondary.btn-sm.active
      %input#stage{ type: :radio, name: :stage_by_cohort, checked: :checked}
      Stages
    %label.btn.btn-secondary.btn-sm
      %input#cohort{ type: :radio, name: :stage_by_cohort}
      Cohorts

.well
  .stage-by-cohort-wrapper.hide
    .d-flex
      #stage-by-cohort-chart
      #stage-by-cohort-legend
  .cohort-by-stage-wrapper
    .d-flex
      #cohort-by-stage-chart
      #cohort-by-stage-legend
- stage_by_cohort = @report.stage_by_cohort
- stage_by_cohort_max_value = stage_by_cohort['columns'].drop(1).map { |values| values.drop(1).sum }.max
- cohort_by_stage = @report.cohort_by_stage
- cohort_by_stage_max_value = cohort_by_stage['columns'].drop(1).map { |values| values.drop(1).sum }.max
.card
  %table.table.mb-0
    %thead
      %tr
        %th.border-top-0 Cohort
        - @report.all_stages.each do |k, label|
          - td_class = if k.to_s.in?(['active', 'inactive', 'total']) then 'table-active' else '' end
          %th.text-right.border-top-0{ class: td_class }= label
    %tbody
      - @report.cohort_counts_by_all_stages.each do |cohort, data|
        - td_class = if cohort == 'Total' then ['border-dark'] else [] end
        %tr
        %td{ class: td_class }= cohort
        - @report.all_stages.each_key do |k|
          - td_class += if k.to_s.in?(['active', 'inactive', 'total']) then ['table-active'] else [] end
          %td.text-right{ class: td_class }= data[k.to_s]
= content_for :page_js do
  :javascript
    let stage_by_cohort = #{stage_by_cohort.to_json.html_safe};
    let stage_by_cohort_max_value = #{stage_by_cohort_max_value.to_json.html_safe};
    let cohort_by_stage = #{cohort_by_stage.to_json.html_safe};
    let cohort_by_stage_max_value = #{cohort_by_stage_max_value.to_json.html_safe};
    let stage_by_cohort_chart = bb.generate({
      'data': stage_by_cohort,
      'bindto': "#stage-by-cohort-chart",
      bar: {
        padding: 20,
        width: 85,
      },
      size: {
        height: 250,
        width: 700,
      },
      'axis': {
        x: {
          type: 'category',
        },
        y: {
          tick: {
            culling: {
              lines: false,
              max: 3
            },
            values: [0, #{stage_by_cohort_max_value}]
          }
        }
      },
      legend: {
        contents: {
          bindto: '#stage-by-cohort-legend',
          template: "<div class='d-flex mr-auto text-left'><div class='mr-2 mt-2 mb-0 ml-0' style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; border-radius: 10px; '>&nbsp;</div><div class='ml-0 mr-auto mt-1 mb-1'>{=TITLE}</div></div>"
        }
      }
    });
    let cohort_by_stage_chart = bb.generate({
      'data': cohort_by_stage,
      'bindto': "#cohort-by-stage-chart",
      bar: {
        padding: 20,
        width: 85,
      },
      size: {
        height: 250,
        width: 700,
      },
      'axis': {
        x: {
          type: 'category',
        },
        y: {
          tick: {
            culling: {
              lines: false,
              max: 3
            },
            values: [0, #{cohort_by_stage_max_value}]
          }
        }
      },
      legend: {
        contents: {
          bindto: '#cohort-by-stage-legend',
          template: "<div class='d-flex mr-auto text-left'><div class='mr-2 mt-2 mb-0 ml-0' style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; border-radius: 10px; '>&nbsp;</div><div class='ml-0 mr-auto mt-1 mb-1'>{=TITLE}</div></div>"
        }
      }
    });
    $('.stage-by-cohort-switcher').on('change', function(e) {
      $('.stage-by-cohort-wrapper').toggleClass('hide');
      $('.cohort-by-stage-wrapper').toggleClass('hide');
    });
