- title = _('Street 2 Home')
- content_for :title, title

- @layout__plain_inner = true
- @layout__width = 'lg'
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'filters/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'performance'
      = render "utility"
    .top-nav-prs1
      %h1.mb-5= title
    .main-inner-prs1
      - if @filter.cohort_column.present? && @filter.cohort_ids.present?
        .text-right.mb-4
          = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: nil
        - @report.class.available_section_types.each do |section|
          = render 'background_render', url: render_section_boston_reports_warehouse_reports_street_to_homes_path, fetch_params: {partial: section, filters: @filter.for_params[:filters] } do
            .rollup
              .rollup-container.well
          = render 'common/section_not_loading', path_to_section: section_boston_reports_warehouse_reports_street_to_homes_path(partial: section, filters: @filter.for_params[:filters])
          = debug section
      - else
        .none-found
          - total_url = polymorphic_path(@report.filter_path_array, *link_params.except(:action))
          Please choose a cohort and cohort column under
          = link_to 'Select Universe.', total_url, data: { loads_in_pjax_modal: true }
