= simple_form_for @triage, url: client_he_triages_path do |f|
  .row
    .col-md-4
      = f.input :location
    .col-md-4
      = f.input :exposure, collection: @triage.exposure_options, include_blank: true, input_html: { class: :select2 }
    .col-md-4
      = f.input :symptoms, collection: @triage.symptom_options, include_blank: true, input_html: { class: :select2 }
  .row
    .col-md-4
      = f.input :first_symptoms_on,  as: :date_picker
    .col-md-4
      = f.input :referred_on, as: :date_picker
    .col-md-4
      = f.input :referred_to

  .row
    .col
      = f.submit 'Add Triage'