%div{ style: 'padding: 2rem;' }
  %table.table
    %tr
      %th.text-left Subject
      %td= @message.subject
    %tr
      %th.text-left Sent
      %td= @message.created_at.to_fs(:long)
    - if @message.seen_at
      %tr
        %th.text-left Seen
        %td= @message.seen_at.to_fs(:long)


  %div
    - if @message.html?
      = @message.body_html
    - else
      = simple_format(@message.body_html).gsub(URI.regexp(['http', 'https']), '<a href="\0">\0</a>').html_safe
