= render '/warehouse_reports/breadcrumbs', tab: 'health'
- title = "Claims Processing"
- content_for :title, title
%h1= content_for :title
- if @running
  = render 'running'
- elsif @unsubmitted
  = render 'download'
- else
  = render 'review'