%html(lang="en")
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %title= [@report.instance_title, Translation.translate('Boston DND Warehouse')].join(' :: ')
  %link{href: '//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700|Open+Sans+Condensed:700|Poppins:400,300,500,700', rel: 'stylesheet', type: 'text/css'}
  <link rel="stylesheet" media="all" href="./application.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/3.4.1/billboard.min.css" integrity="sha512-I/sVbNCPAX6qn/wui2d9+gHj8TITCTP5SNRkCzdPPt/9pzVe/lqrLK2jc/0DYVJiwQiTzo2YRbpXbnVocwHuXg==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.1/font/bootstrap-icons.min.css" integrity="sha512-9a1QYep56cYgIPFq0JYfsh9xRYYmPBxKaD6/ZfVAtplQ6y9ZUSk7GxgC2dmwtxK9T2cGQOxCV6J2Ll51nrvP2w==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v6.min.js" integrity="sha512-cd6CHE+XWDQ33ElJqsi0MdNte3S+bQY819f7p3NUHgwQQLXSKjE4cPZTeGNI+vaxZynk1wVU3hoHmow3m089wA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/3.4.1/billboard.min.js" integrity="sha512-FXDqFIINM8hfNzm3ltyOoTc7be0sZ4ClUmMMPGrOhF/mzOUwoa2m6VLDGG2m6fZdAC2OpbiKwR4qkw6e9gfvOg==" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
  <script src='./bar.js' crossorigin='anonymous'></script>
  <script src='./donut.js' crossorigin='anonymous'></script>
  <script src='./filters.js' crossorigin='anonymous'></script>
  <script src='./line.js' crossorigin='anonymous'></script>
  <script src='./stack.js' crossorigin='anonymous'></script>
  :css
    body {
      background-color: transparent;
    }
    body,
    .bb-legend-item,
    .bb svg {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
    }
    .bb-legend-item {
      font-size: 0.8rem;
    }
    .completed-at {
      font-size: 0.75rem;
      color: #8D8D8D;
      text-align: right;
      margin-right: 2em;
    }
    .legend-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .legend-wrapper-vertical {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
    }
    .legend-wrapper-vertical .chart-legend-item-prs1 {
      display: flex;
      width: 100%;
      margin-right: 2rem;
      margin-bottom: 0.5rem;
      align-content: flex-end;
    }
    .legend-wrapper-horizontal .chart-legend-item-prs1 {
      display: flex;
      width: 40%;
      margin-right: 2rem;
      margin-bottom: 0.5rem;
    }
    .chart-legend-item-prs1 .chart-legend-item-swatch-prs1 {
      width: 20px;
      height: 20px;
      margin-right: 0.8rem;
    }

  %body
    = yield

    %p.completed-at
      = Translation.translate('Data accurate as of')
      #{@report.completed_at.to_date}
    = yield :page_js
