= render 'breadcrumbs'

%h1 Edit Access Control List #{@access_control.id}


.row
  .col-sm-12
    = render 'users/user_members_table', item: @access_control, path_to_add_users: hmis_admin_access_control_users_path(@access_control), path_to_delete_item: hmis_admin_access_control_path(@access_control), delete_user_lambda: ->(user) { hmis_admin_access_control_user_path(@access_control, user) }

.row.mt-10
  .col-sm-8
    %h2 Update Access Control List Definition
    = simple_form_for @access_control, as: :access_control, url: hmis_admin_access_control_path do |f|
      = f.error_notification
      .form-inputs.mt-4
        = render 'form', f: f
      .form_actions.mt-4
        = f.button :submit, value: 'Update Access Control List'
