= render 'breadcrumbs'

.d-flex
  %h1 Edit Access Control #{@access_control.id}
  .ml-auto
    = link_to hmis_admin_access_control_audit_path(@access_control), class: 'btn btn-info mb-3' do
      %i.fa.fa-history
      %span.icon-eye
      History
= render 'admin/access_controls/description', entity_type: 'HMIS'
.row
  .col-sm-8
    %h2 Update Access Control Definition
    = simple_form_for @access_control, as: :access_control, url: hmis_admin_access_control_path do |f|
      = f.error_notification
      .form-inputs.mt-4
        = render 'form', f: f
      .form_actions.mt-4
        = f.button :submit, value: 'Update Access Control'
