- content_for :title, 'HMIS Access Control Administration'
%h1= content_for :title
= render 'hmis_admin/tabs', active_tab: :access_controls

.alert.alert-info
  %i.icon-warning.mr-4
  %p Access Controls are used to grant users access to HMIS data with specific permissions. Each Access Control consists of one User Group, one Role, and one Collection. Each user in the Access Controls inherits data access from the Collection, permissions from the Role, and applies those permissions to the collection of data for everyone in the User Group.

= link_to new_hmis_admin_access_control_path, class: 'btn btn-primary mb-2' do
  %span.icon-plus
  Create a new Access Control

= render 'common/pagination_top', item_name: 'access control list', filter_partial: 'filter'
- if @pagy.count.positive?
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
            .div.mb-1 User Group
            %i.font-weight-light Who is receiving access?
          %th
            .div.mb-1 Role
            %i.font-weight-light Which permissions are they receiving?
          %th
            .div.mb-1 Collection
            %i.font-weight-light Which projects are the permissions being applied to?
          %th
      %tbody
        - @access_controls.each do |acl|
          %tr
            %td
              - if acl.user_group.present?
                = link_to acl.user_group.name, edit_hmis_admin_user_group_path(acl.user_group)
            %td= link_to acl.role.name, hmis_admin_roles_path
            %td= link_to acl.access_group.name, edit_hmis_admin_group_path(acl.access_group)
            %td
              .d-flex.justify-content-end
                = link_to edit_hmis_admin_access_control_path(acl), class: ['btn', 'btn-sm', 'btn-secondary'] do
                  %span.icon-pencil
                  Edit

                = link_to hmis_admin_access_control_path(acl),  method: :delete, data: {confirm: "Would you really like to delete the access control list for group '#{acl.access_group.name}' and role '#{acl.role.name}'?"}, class: ['btn', 'btn-sm', 'btn-danger', 'ml-2'] do
                  %span.icon-cross
                  Delete
  = render 'common/pagination_bottom', item_name: 'access control list'
- else
  .none-found No access controls.
