- content_for :title, 'HMIS Collection Administration'
.o-page
  .o-page__title
    %h1= content_for :title
    = render 'hmis_admin/tabs', active_tab: :groups
  .alert.alert-info
    %i.icon-warning.mr-4
    %p
      %strong Collections can be used to assign access to particular sets of data.
      Users are assigned groups and inherit data access from the group.  Roles are then assigned to users to grant access to sections of the HMIS.  When used in combination a user can be given access to a sub-set of HMIS data within a specified limited context.

  .d-flex
    = link_to new_hmis_admin_group_path, class: 'btn btn-primary mb-2 mr-auto' do
      %span.icon-plus
      Add a Collection
    .w-50.ml-auto
      - @prompt = 'Search user groups...'
      = render 'search_form'
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'group'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Collection Name
          %th Description
          -# %th Collection Summary
          %th # Projects Included
          %th
      %tbody
        - @groups.each do |group|
          %tr
            %td= link_to group.name, hmis_admin_group_path(group)
            %td= group.description
            -# %td= group.summary_descriptions.join(', ')
            %td= "#{group.overall_project_count} projects"
            %td
              - unless group.access_controls.count.positive?
                = link_to hmis_admin_group_path(group),  method: :delete, data: {confirm: "Would you really like to delete the group #{group.name}?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                  %span.icon-cross
                  Delete
  = render 'common/pagination_bottom', item_name: 'collection'
- else
  .none-found No collections found.
