= simple_form_for @filter, as: :filter, remote: true, url: warehouse_reports_chronic_index_path, html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-4
        = f.input :on, collection: @filter.chronic_days, label: 'Chronic on Date', input_html: { class: 'select2 jFilterOn' }
      .col-sm-4
        = f.input :min_age, collection: @filter.ages, include_blank: false, label: 'Minimum Age', input_html: { class: 'select2' }
      .col-sm-4
        %p
        = f.input :individual, as: :boolean, label: 'Individuals only', class: 'form-control', wrapper_html: {class: 'mb-0', data: {toggle: 'tooltip', title: 'Limit to clients who have not presented with a family in the last 3 years.'}}
        = f.input :dmh, as: :boolean, label: 'DMH only', class: 'form-control', wrapper_html: {class: 'mb-0', data: {toggle: 'tooltip', title: 'Limit to clients enrolled in a DMH Project.'}}
        = f.input :veteran, as: :boolean, label: 'Veterans only', class: 'form-control', wrapper_html: {class: 'mb-0'}
    .row
      .col-sm-4
        = f.input :last_service_after, label: 'Received Homeless Service After', collection: @filter.date_ranges, include_blank: false, input_html: { class: 'select2' }
      .col-sm-4
        = f.input :name, label: 'Client Name'

  - content_for :filter_actions do
    = f.button :submit, value: 'Run Report', data: { disable_with: 'running...' }

  = render 'warehouse_reports/filters', f:f