.d-flex.align-items_center
  .btn-group.client__sort
    %button.btn.btn-sm.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
      Sort
      %span.caret
    .dropdown-menu.options
      %ul.list-unstyled.mb-0
        - @sort_options.each do |opt|
          - if @column == opt[:column] && @direction == opt[:direction]
            - title = "<span class='icon-checkbox-checked'></span> #{opt[:title]}".html_safe
          - else
            - title = "<span class='icon-checkbox-unchecked'></span> #{opt[:title]}".html_safe
          %li
            = link_to({direction: opt[:direction], column: opt[:column]}) do
              = title
  .ml-auto
    = link_to({format: :xlsx}, {class: 'btn btn-secondary'}) do
      Download Excel
