- title = "Potentially Chronic Clients"
- content_for :title, title
%h1
  = title
  %hr
= render '/warehouse_reports/breadcrumbs'
= render 'filter'
= render 'homeless_info'

.warehouse-reports__completed.card
  %table.table.table-striped
    %thead
      %tr
        %th Run At
        %th Report Link
        %th Report Parameters
        %th Delete
    %tbody.report-listing
      = render 'reports'
= link_to 'Reports', running_warehouse_reports_chronic_index_path, class: 'jReportBlock', remote: true

= content_for :page_js do
  :javascript
    (function($) {
      $('.jReportBlock').hide();
      setInterval(function() {
        $('.jReportBlock').click();
      }, 30000);

    })(jQuery);
