- if @reports.present?
  .card
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Status
          %th{style: 'width: 50%;'} Limits
          %th Included Questions
          %th Delete
      %tbody
        - @reports.each do |report|
          %tr
            %td
              - if report.running?
                = render 'hud_apr/aprs/spinner'
            %td
              = link_to_if report.completed?, report.current_status, hud_reports_apr_path(report)
              .text-muted.description Run by: #{report.user.name}
            %td= render 'hud_apr/aprs/parameters', report: report
            %td
              - report.included_questions.each do |q|
                = link_to q, result_hud_reports_apr_question_path(report, q), class: 'btn btn-secondary btn-sm mb-2 ml-2'
            %td
              - unless report.running?
                = link_to hud_reports_apr_path(report), method: :delete, class: 'btn btn-sm btn-danger btn-icon-only' do
                  %i.icon-cross
