- if @reports.present?
  %p= paginate @reports
  %table.table
    %thead
      %tr
        %th
        %th Status
        %th Limits
        %th Delete
    %tbody
      - @reports.each do |report|
        %tr
          %td
            - unless report.completed?
              - # FIXME: this is refreshing the entire page, but needs to only refresh the partial
              = render 'spinner'
          %td
            = link_to_if report.completed?, report.current_status, hud_reports_apr_path(report)
            .text-muted.description Run by: #{report.user.name}
          %td= render 'parameters', report: report
          %td
            - if report.completed_at.present?
              = link_to hud_reports_apr_path(report), method: :delete, class: 'btn btn-link btn-link--danger' do
                %i.icon-cross
