= render 'breadcrumbs'
- content_for :title, @generator.generic_title

%header.mb-3.d-flex
  %h1= content_for :title
  .ml-auto
    = link_to 'Generate New Full APR', new_hud_reports_apr_path, class: 'btn btn-secondary'
- if @show_recent
  .well
    .d-flex
      %h2 APR Report
      .ml-auto
        = link_to({format: :zip},{class: 'btn btn-primary'}) do
          %span.icon-download2
          Download Zip File

    = render 'questions'

= render 'tabs'
= render 'hud_reports/reports_wrapper'
