= render 'breadcrumbs'
- content_for :title, @generator.title
%header.mb-3
  %h1= content_for :title
= render 'hud_apr/shared/beta_warning'
- if @show_recent
  .well
    .d-flex
      %h2 APR Report
      .ml-auto
        = link_to({format: :zip},{class: 'btn btn-primary'}) do
          %span.icon-download2
          Download Zip File

    = render 'questions'
.text-right
  = link_to 'Generate New Full APR', edit_hud_reports_apr_path(@report.id || 0, generator: @generator_id), class: 'btn btn-secondary'

= render 'hud_apr/shared/reports_wrapper'
