= render 'breadcrumbs'
- content_for :title, @generator.title
%header.mb-3
  %h1= content_for :title
= render 'beta_warning'
- if @contents.any?
  .well
    .d-flex
      %h2 APR Report
      .ml-auto
        = link_to({format: :zip},{class: 'btn btn-primary'}) do
          %span.icon-download2
          Download Zip File

    = render 'questions'
.text-right
  = link_to 'Generate New Full APR', edit_hud_reports_apr_path(@report, generator: @generator_id), class: 'btn btn-secondary'

- if @reports.present?
  %p= paginate @reports
.jReportListing
  = render 'reports'

= render 'hud_apr/shared/list_refresher'
