= content_for :modal_title do
  - title = 'Supporting Data'
  - projects = @report.valid_project_name(params[:selected_project])
  - if projects.present?
    - title += " for #{projects}"
  - title
- if can_see_client_details?
  - if @clients.support_rows.any?
    - client_count = @clients.support_rows.count
    .d-flex
      %p Showing #{pluralize(client_count, 'row')}
      .ml-auto
        = link_to(polymorphic_path(@report.clients_path_array, link_params.except('action').merge({ format: :xlsx })), class: 'btn btn-secondary mb-2') do
          %i.icon-file-excel.icon-lg
          Download
    -# Project names listed in this table are always confidentialized, even if user has access to see their names. This is because the names are saved in the reporting DB and we don't know who ran it at that point.
    %table.table.table-sm
      %thead
        %tr
          - @clients.headers.each do |h|
            %th= h
      %tbody
        - @clients.support_rows.each do |row|
          - client_id = row['Warehouse ID']
          %tr
            - row.each do |header, v|
              - if @clients.client_headers.include?(header)
                - if current_user.can_access_some_version_of_clients?
                  - url = appropriate_client_path(id: client_id)
                %td= link_to_if url.present?, v, url, target: '_blank'
              - else
                %td= v
  - else
    %p No clients found.
- else
  %p You do not have permission to see all client details, please select individual projects and update the view.
