- title = 'HUD HMIS CSV Exports - Hashed'
- content_for :title, title
%h1
  = title

= render '/warehouse_reports/breadcrumbs', tab: 'exports'
= render 'filter'

.report-listing= render_paginated_list(scope: @exports, item_name: 'export', list_partial: 'list')
- if params[:page].blank? || params[:page].to_i == 1
  = link_to 'Reports', running_warehouse_reports_hashed_only_hmis_exports_path(skip_trackable: true), class: 'jReportBlock', remote: true

= content_for :page_js do
  :javascript
    (function($) {
      $('.jReportBlock').hide();
      setInterval(function() {
        $('.jReportBlock').click();
      }, 30000);

    })(jQuery);
