- client = cohort_client.client
%tr.jCohortClient{data: {cohort_client_id: cohort_client.id, cohort_client_updated_at: cohort_client.updated_at.to_i}}
  - @visible_columns.each do |column|
    %td
      - if column.input_type == 'read_only'
        = column.value(cohort_client)
      - else
        = cohort_client.public_send(column.column)
  -#
    - if @first_name_column
      %td
        = @first_name_column.value(cohort_client)
    - if @last_name_column
      %td
        = @last_name_column.value(cohort_client)
    - if @rank_column
      %td
        = simple_form_for cohort_client, url: cohort_cohort_client_path(@cohort, cohort_client), method: :patch, html: {class: 'jUpdateClient'}, remote: true do |f|
          - value = cohort_client.public_send(@rank_column.column)
          = input_for(@rank_column, default_value: value, client_id: cohort_client.id)
    %td
      = link_to new_cohort_cohort_client_cohort_client_note_path(@cohort, cohort_client), class: 'btn btn-secondary btn-sm', data: {loads_in_pjax_modal: true} do
        %span.icon-plus
    %td.client_notes
      - cohort_client.cohort_client_notes.each do |cohort_client_note|
        = render cohort_client_note
    - @visible_columns.each do |column|
      %td
        - if column.input_type == 'read_only'
          = column.value(cohort_client)
        - else
          = simple_form_for cohort_client, url: cohort_cohort_client_path(@cohort, cohort_client), method: :patch, html: {class: 'jUpdateClient'}, remote: true do |f|
            - value = cohort_client.public_send(column.column)
            = input_for(column, default_value: value, client_id: cohort_client.id)
    %td
      = link_to cohort_cohort_client_path(cohort_id: @cohort.id, id: cohort_client.id), action: :destroy, method: :delete, class: 'btn btn-danger btn-sm' do
        %span.icon-cross
