- client = cohort_client.client
= cache(['cohort_clients', @cohort, cohort_client, client, cohort_client.cohort_client_notes.length, current_user.can_view_clients?], expires_in: 8.hours) do
  - last_activity = cohort_client.client.service_history_services.homeless.maximum(:date)
  - inactivity_class = if Date.today - @cohort.days_of_inactivity > last_activity then 'homeless_inactive' else '' end rescue 'homeless_inactive'
  - ineligible_class = if cohort_client.ineligible? then 'cohort_client_ineligible' else '' end rescue ''
  %tr.jCohortClient{class: [inactivity_class, ineligible_class], data: {cohort_client_id: cohort_client.id, client_id: cohort_client.client.id, cohort_client_updated_at: cohort_client.updated_at.to_i}}
    %td
      .jSelectRow.text-center
        %i.icon-checkmark2
      - if inactivity_class == 'homeless_inactive'
        = "No homeless service in over #{@cohort.days_of_inactivity} days"

    - @cohort.visible_columns.each do |cohort_column|
      - cohort_column.cohort = @cohort
      - cohort_column.cohort_names = @cohort_names
      - cohort_column.cohort_client = cohort_client
      - editable = cohort_column.display_as_editable?(current_user, cohort_client) && cohort_column.column_editable?
      %td{data: {column: cohort_column.class.name, editable: editable.to_s}}
        = cohort_column.display_for(current_user)
        - if editable
          .jCohortColumnValue.hidden
            = cohort_column.display_read_only
    - if current_user.can_manage_cohorts? || current_user.can_edit_cohort_clients?  
      %td
        = link_to pre_destroy_cohort_cohort_client_path(@cohort, cohort_client), class: 'btn btn-danger btn-icon-only', data: {loads_in_pjax_modal: true} do
          %span.icon-cross