- size = :md
- if params[:size] && [:md, :lg, :xl].include?(params[:size].to_sym)
  - size = params[:size].to_sym
.table-wrapper
  .row
    .col-sm-7.cohort--table-info
      = "Cohort: #{pluralize(@cohort.cohort_clients.joins(:client).count, 'client')}; #{@cohort.cohort_clients.joins(:client).active.size} active."
    .col-sm-1.text-right
      .jSearchActions
        %span.jSearchStatus.text-muted.hide
        -# 0 of 0
    .col-sm-4.cohort-search.mb-2
      .input-group.input-group-sm
        %input#cohort-search.form-control.jSearchBox{placeholder: 'Search', type: :search, disabled: :disabled}

  .cohort-client__table.ag-theme-balham.datatable{class: size}

  .text-right.mt-4
    - unless @cohort.system_cohort
      = simple_form_for :cc, url: pre_bulk_destroy_cohort_cohort_clients_path(cohort_id: @cohort.id), method: :post, html: {class: :jBulkDelete} do |f|
        = f.input :cohort_client_ids, as: :hidden, input_html: {class: :cohort_client_ids}
        = button_tag(type: 'submit', class: "btn btn-danger btn-sm") do
          %i.icon-cross
          Delete Selected Clients
