%table.table.table-condensed.datatable.cohort-client__table
  %thead
    %tr
      %th
        -# We've had issues with the fixed columns, this seems to fix it
        .div{style: 'width: 4em;'}
          &nbsp;
      - @cohort.visible_columns.each do |column|
        %th
          = column.title
  %tbody
    - @cohort_clients.each do |cohort_client|
      - client = cohort_client.client
      = cache(['cohort_clients', @cohort, cohort_client, client, cohort_client.cohort_client_notes.length, current_user.can_view_clients?], expires_in: 8.hours) do
        %tr.jCohortClient{data: {cohort_client_id: cohort_client.id, cohort_client_updated_at: cohort_client.updated_at.to_i}}
          %td
            = link_to edit_cohort_cohort_client_path(@cohort, cohort_client), data: {loads_in_pjax_modal: true, toggle: :tooltip, title: "Edit #{cohort_client.name}", placement: :right}, class: 'btn btn-primary btn-sm' do
              %span.icon-pencil

          - @cohort.visible_columns.each do |column|
            %td
              - if column.input_type == 'read_only'
                - # treat booleans differently
                - if !!column.value(cohort_client) == column.value(cohort_client)
                  = checkmark column.value(cohort_client)
                - elsif column.column.in?(['first_name', 'last_name'])
                  = link_to_if current_user.can_view_clients?, column.value(cohort_client), client_path(cohort_client.client)
                - else 
                  = column.value(cohort_client)
              - elsif column.input_type == 'notes'
                = link_to cohort_cohort_client_cohort_client_notes_path(@cohort, cohort_client), class: 'badge', data: {loads_in_pjax_modal: true} do
                  #{cohort_client.cohort_client_notes.length}
              - elsif ['radio_buttons', 'boolean'].include? column.input_type
                = checkmark cohort_client.public_send(column.column)
              - else
                = cohort_client.public_send(column.column)
