= content_for :page_js do
  :javascript
    (function($) {
      // var clients = new App.Cohorts.Client('.jCohortClient', '.jCohortClientInput', '#{cohort_cohort_clients_path(@cohort)}');
      var cohort_options = {
        wrapper_selector: '.cohorts',
        table_selector: '.datatable',
        batch_size: 50,
        static_column_count: #{@cohort.static_column_count + 1},
        client_count: #{@cohort_clients.count},
        sort_direction: '#{@cohort.default_sort_direction}',
        size_toggle_class: '.jToggleFontSize',
        include_inactive: #{params[:inactive].present?},
        client_path: "#{cohort_cohort_clients_path(@cohort)}",
        client_row_class: '.jCohortClient',
        loading_selector: '.jLoading',
        cohort_client_form_selector: '.edit_cohort_client'
      }
      var cohort = new App.Cohorts.Cohort(cohort_options)

         

      // $('.cohorts').on('change', '.jSubmitOnChange', function(e){
      //   $(this).closest('form').submit(function(e){
      //     e.preventDefault();
      //     var cohort_client_id = $(this).data('cohort-client-id');
      //     var url = $(this).attr("action");
      //     var method = $(this).attr("method");
      //     var data = $(this).serialize();
      //     console.log(url);
      //     $.ajax({
      //       url : url,
      //       type: method,
      //       data: data,
      //       dataType: 'html' 
      //     }).done(function(response){
      //       var $cohort_client_row = $(response);
      //       console.log($cohort_client_row);
      //       var cohort_client_id = $cohort_client_row.data('cohort-client-id');
      //       console.log('data[cohort-client-id=' + cohort_client_id +']');
      //       console.log(datatable.rows().nodes().to$());
      //       // $("#server-results").html(response);
      //       // console.log(response);
      //     });
      //   });
      //   $(this).closest('form').trigger('submit');
      // });
      
    })(jQuery);
