= content_for :page_js do
  :javascript
    (function($) {
      var clients = new App.Cohorts.Client('.jCohortClient', '.jCohortClientInput', '#{cohort_cohort_clients_path(@cohort)}');
      
      var datatable = $('.datatable').DataTable({
        scrollY: '50vh',
        scrollX: true,
        scrollCollapse: false,
        fixedHeader: true,
        paging: false,
        fixedColumns: {
         leftColumns: #{@cohort.static_column_count + 1}
        },
        order: [[1, '#{@cohort.default_sort_direction}']]
      });

      // font resizing
      $('.cohorts').on('click', '.jToggleFontSize', function(){
        var size = $(this).data('size');
        $('.datatable').removeClass('sm lg xl').addClass(size);
        $(this).siblings().removeClass('btn-primary').addClass('btn-secondary');
        $(this).removeClass('btn-secondary').addClass('btn-primary');
        datatable.draw();

      });

      // Highlight a row
      $('.cohorts').on('click', '.jCohortClient', function(e) {
        $(this).siblings().removeClass('info');
        $(this).toggleClass('info');
        datatable.draw();
      });

      // Fetch the data in batches
      #{batch_size = 50}
      var batch_size = #{batch_size};
      var pages = #{(@cohort_clients.count.to_f/batch_size).round + 1};
      var current_page = 0;
      $('.jLoading').removeClass('hidden');
      $(document).ajaxStop(function() {
        $('.jLoading').addClass('hidden');
      });

      function add_rows(data) {
        datatable.rows.add($(data).filter('tr')).draw();
        $('.select2').select2();
      }

      function loadPages() {
        current_page += 1
        var url =  '#{cohort_cohort_clients_path(@cohort)}?page=' + current_page + '&per=#{batch_size}#{"&inactive=true" if params[:inactive].present?}'
        if(current_page > pages) {
          return $.Deferred().resolve().promise();
        }
        return $.get({url: url, dataType: 'html'})
          .done(add_rows)
          .then(loadPages)
      }

      loadPages().then(function() {
        $('.jLoading').addClass('hidden');
      });

      // for(i = 1; i <= pages; i++) {
      //   url = '#{cohort_cohort_clients_path(@cohort)}?page=' + i + '&per=#{batch_size}#{"&inactive=true" if params[:inactive].present?}';
      //   $.get(url, function(data) {
      //     datatable.rows.add($(data).filter('tr')).draw();
      //     $('.select2').select2();
      //   }, 'html');
      // }
    })(jQuery);
