- title = "Edit #{@cohort.name}"
- content_for :modal_title, title

%h1= content_for :modal_title
= simple_form_for @cohort, url: cohort_path(@cohort) do |f|
  = f.input :name
  = f.input :effective_date, as: :date_picker
  = f.submit value: 'Update Cohort', class: 'btn btn-primary'
