- title = "Edit #{@cohort.name}"
- content_for :modal_title, title

= simple_form_for @cohort, url: cohort_path(@cohort) do |f|
  = f.input :name
  = f.input :short_name, input_html: {maxlength: 8, style: 'width: 8em;'}
  = f.input :effective_date, as: :date_picker
  = f.input :days_of_inactivity, label: 'How many days of client inactivity should trigger a warning?'
  = f.input :active_cohort, label: 'Active'
  = f.input :static_column_count, label: 'Number of static columns', input_html: {style: 'width: 6em;'}
  = f.input :show_on_client_dashboard, label: 'Show cohort in client dashboard?'
  = f.input :visible_in_cas, label: 'Show cohort in CAS?'
  = f.input :only_window, label: 'Limit client selection to window only', hint: 'Clients must have at least one source client that is visible in the window to be eligible for inclusion on this cohort.'
  - hint = "The cohort will be sorted by the first column".html_safe
  - if @cohort.column_state.present?
    - hint += ", currently: <strong>#{@cohort.column_state&.first&.title}</strong>".html_safe
  = f.input :default_sort_direction, collection: @cohort.class.sort_directions.invert, include_blank: false, selected: @cohort.default_sort_direction, hint: hint
  = f.input :user_ids, collection: User.all, selected: @cohort.user_viewable_entities.pluck(:user_id), input_html: {multiple: :multiple, class: 'select2', style: 'width: 100%;'}, label: 'Grant access to specific users', hint: 'Users specified below who also have "can edit assigned cohorts" or "can view assigned cohorts" will have access this cohort.  Any user with "can manage cohorts" or "can edit cohort clients" access can always access all cohorts.'
  .row
    .col-sm-6
      = link_to cohort_path(@cohort), method: :delete, class: 'btn btn-danger' do
        %i.icon-cross
        Delete Cohort
    .col-sm-6.text-right
      = f.submit value: 'Update Cohort', class: 'btn btn-primary'

:javascript
  $('.select2').select2();
