- title = "Edit #{@cohort.name}"
- content_for :modal_title, title
= content_for :crumbs do
  = link_to cohort_path(@cohort) do
    &laquo; Cohort
= simple_form_for @cohort, as: :cohort, url: cohort_path(@cohort) do |f|
  .row
    .col-sm-6
      %h3 Overview
      .well
        = f.input :name, disabled: @cohort.system_cohort
        = f.input :short_name, input_html: {maxlength: 8, style: 'width: 8em;'}
        = f.input :effective_date, as: :date_picker
        = f.input :only_window, as: :pretty_boolean, label: 'Limit client selection to window only', hint: 'Clients must have at least one source client that is visible in the window to be eligible for inclusion on this cohort.'
        = f.input :enforce_project_visibility_on_cells, as: :pretty_boolean, label: 'Enforce project visibility', hint: 'For cells that show project details, limit to projects each user can see.  If disabled, all projects are visible, confidential projects will not be exposed.'
        = f.input :active_cohort, as: :pretty_boolean, label: 'Active'
    .col-sm-6
      %h3 Access
      .well
        - users = @cohort.users_with_access(access_type: :edit)
        - if users.count > 0
          %p The following users already have access to participate in this cohort:
          %ul
            - users.each do |u|
              %li= u.name_with_email
        = f.input :participator_ids, collection: @users, as: :select_two, selected: @participator_ids, input_html: {multiple: :multiple, style: 'width: 100%;'}, label: 'Grant participation-level access to users', hint: 'Specified user will have access to participate in this cohort.'
        - users = @cohort.users_with_access(access_type: :view)
        - if users.count > 0
          %p The following users already have access to view this cohort:
          %ul
            - users.each do |u|
              %li= u.name_with_email
        = f.input :viewer_ids, collection: @users, as: :select_two, selected: @viewer_ids, input_html: {multiple: :multiple, style: 'width: 100%;'}, label: 'Grant read-only-level access to users', hint: 'Specified user will have access to view, but not change clients on this cohort.'
      %h3 Automation
      .well
        = f.input :project_group_id, collection: GrdaWarehouse::ProjectGroup.options_for_select(user: current_user), as: :select_two, include_blank: 'Manually controlled (no project group)', hint: 'If you select a project group, this cohort will always contain clients with an open enrollment at a project contained in the group.  You will not be able to add and remove clients manually.'
      %h3 Integrations
      .well
        = f.input :show_on_client_dashboard, as: :pretty_boolean, label: 'Show cohort in client dashboard?'
        = f.input :visible_in_cas, as: :pretty_boolean,  label: 'Show cohort in CAS?'
        = f.input :tag_id, collection: CasAccess::Tag.available_cohort_tags, label: 'CAS Tag', hint: 'A CAS tag should only be applied to one cohort at a time.  It is used in conjunction with the Rank prioritization scheme to determine which cohort client rank to use for a client.', as: :select_two
  .row
    .col-sm-6
      %h3 View Options
      .well
        = f.input :days_of_inactivity, label: 'How many days of client inactivity should trigger a warning?', input_html: {style: 'width: 6em;'}
        = f.input :static_column_count, label: 'Number of static columns', input_html: {style: 'width: 6em;'}
        - hint = "The cohort will be sorted by the first column".html_safe
        - if @cohort.column_state.present?
          - hint += ", currently: <strong>#{@cohort.column_state&.first&.title}</strong>".html_safe
        - unless @assessment_types.blank?
          = f.input :assessment_trigger, collection: @assessment_types, label: 'Assessment submission triggers client addition to cohort:', as: :select_two
        = f.input :default_sort_direction, collection: @cohort.class.sort_directions.invert, include_blank: false, selected: @cohort.default_sort_direction, hint: hint, as: :select_two
    .col-sm-6
      %h3 Thresholds
      .well
        %p Thresholds are a mechanism to add context to a location on a cohort.  You choose a row number, color, and label and a line of the color chosen will be drawn at that location.  These have no functional purpose, but can be coordinated with a rule in CAS that matches on rank.
        .well
          - (1..GrdaWarehouse::Cohort.visible_thresholds).each do |i|
            .row
              .col-2= f.input "threshold_row_#{i}", label: 'Threshold'
              .col-3= f.input "threshold_color_#{i}", label: false, input_html: {class: 'colorpicker mt-no-label'}
              .col= f.input "threshold_label_#{i}", label: 'Label'
  .row
    .col-sm-12
      %h3 Tabs
      .well
        %p The following tabs will be available to people who can access this cohort.  If you would like additional tabs to be visible, please contact your site adminstrator.
        %table.table
          %thead
            %tr
              %th Tab
              %th Required Permission
              %th SQL Query
          %tbody
            - @cohort.cohort_tabs.order(order: :asc).each do |tab|
              %tr
                %th= tab.name
                %%td
                  - tab.permissions.each do |perm|
                    %div
                      %strong= perm.to_s.humanize
                      %br
                      %em= Role.permissions_with_descriptions[perm.to_sym][:description]
                %td= tab.to_sql
  .row
    .col-sm-6
      - unless @cohort.system_cohort
        = link_to cohort_path(@cohort), method: :delete, data: {confirm: "Are you sure you want to delete cohort \"#{@cohort.name}\"?"}, class: 'btn btn-danger' do
          %i.icon-cross
          Delete Cohort
    .col-sm-6.text-right
      = f.submit value: 'Update Cohort', class: 'btn btn-primary'

= content_for :page_js do
  :javascript
    $('.colorpicker').minicolors({theme: 'bootstrap'});
