- title = 'Cohorts'
- content_for :title, title
%h1= content_for :title

= simple_form_for @cohort, url: cohorts_path do |f|
  %table.table.table-condensed
    %thead
      %tr
        %th{style: 'min-width: 20em;'} Name
        %th{style: 'width: 12em;'} Effective Date
        %th Clients
    %tbody
      - if current_user.can_create_cohorts?
        %tr
          %td
            = f.input :name, label: false
          %td
            = f.input :effective_date, as: :date_picker, label: false
          %td
            = f.submit value: 'Create Cohort', class: 'btn btn-primary'
      - @cohorts.each do |cohort|
        %tr
          %td
            = link_to cohort.name, cohort_path(cohort)
          %td
            = cohort.effective_date
          %td.text-center
            = cohort.cohort_clients.count