- title = 'Cohorts'
- content_for :title, title
.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4
    .row
      .col-sm-12
        - if can_manage_cohorts?
          = link_to cohort_column_options_path, class: 'btn btn-primary pull-right mb-2' do
            %span.icon-pencil
            Edit Cohort Columns

- system_cohorts_enabled = GrdaWarehouse::Config.get(:enable_system_cohorts)
%ul.nav.nav-tabs{role: :tablist}
  %li.nav-item{role: :presentation}
    %a{href: '#active-cohorts', aria: {controls: 'active-cohorts'}, data: {toggle: :tab}, role: :tab, class: 'nav-link active'} Cohorts
  %li.nav-item{role: :presentation}
    %a{href: '#inactive-cohorts', aria: {controls: 'inactive-cohorts'}, data: {toggle: :tab}, role: :tab, class: 'nav-link'} Inactive Cohorts
  - if system_cohorts_enabled
    %li.nav-item{role: :presentation}
      %a{href: '#system-cohorts', aria: {controls: 'system-cohorts'}, data: {toggle: :tab}, role: :tab, class: 'nav-link'} System Cohorts
.tab-content
  #active-cohorts.tab-pane.active{role: :tabpanel}
    .o-page
      .o-page__controls
        = render 'search'
        = render 'filter_actives'
        = render 'sort'

    = simple_form_for @cohort, as: :cohort, url: cohorts_path do |f|
      .card.mb-4
        %table.table.table-striped.mb-0
          %thead
            %tr
              %th{style: 'min-width: 20em;'} Name
              %th{style: 'width: 12em;'} Effective Date
              %th Clients
          %tbody
            - if current_user.can_manage_cohorts?
              %tr
                %td
                  = f.input :name, label: false
                %td
                  = f.input :effective_date, as: :date_picker, label: false
                %td
                  = f.submit value: 'Create Cohort', class: 'btn btn-primary'
      .card
        %table.table.table-striped.mb-0
          %thead
            %tr
              %th{style: 'min-width: 20em;'} Name
              %th{style: 'width: 12em;'} Effective Date
              %th Visible on Client Dashboard?
              %th Visible in CAS?
              %th Tagged for CAS?
              %th.text-center Clients
            %tbody
              - @cohorts.each do |cohort|
                %tr
                  %td
                    = link_to cohort.name, cohort_path(cohort)
                  %td
                    = cohort.effective_date
                  %td
                    = checkmark cohort.show_on_client_dashboard?
                  %td
                    = checkmark cohort.visible_in_cas?
                  %td= cohort.cas_tag_name
                  %td.text-center
                    = cohort.cohort_clients.joins(:client).count
  #inactive-cohorts.tab-pane{role: :tabpanel}
    .o-page
      .o-page__controls
        = render 'search'
        = render 'sort'
    .card
      %table.table.table-striped.mb-0
        %thead
          %tr
            %th{style: 'min-width: 20em;'} Name
            %th{style: 'width: 12em;'} Effective Date
            %th Clients
        %tbody
          - @inactive_cohorts.each do |cohort|
            %tr
              %td
                = link_to cohort.name, cohort_path(cohort)
              %td
                = cohort.effective_date
              %td.text-center
                = cohort.cohort_clients.count
  - if system_cohorts_enabled
    #system-cohorts.tab-pane{role: :tabpanel}
      .o-page
        .o-page__controls
          = render 'search'
          = render 'sort'
      .card
        %table.table.table-striped.mb-0
          %thead
            %tr
              %th{style: 'min-width: 20em;'} Name
              %th Clients
          %tbody
            - @system_cohorts.each do |cohort|
              %tr
                %td
                  = link_to cohort.name, cohort_path(cohort)
                %td.text-center
                  = cohort.cohort_clients.count
