= javascript_include_tag 'moment.min.js'
= stylesheet_link_tag 'https://unpkg.com/ag-grid-community@27.3.0/dist/styles/ag-grid.css'
= stylesheet_link_tag 'https://unpkg.com/ag-grid-community@27.3.0/dist/styles/ag-theme-balham.css'
= javascript_include_tag 'https://unpkg.com/ag-grid-community@27.3.0/dist/ag-grid-community.min.noStyle.js'


- title = @cohort.name
- content_for :title, title
= render 'cohorts_js'
= render 'cohorts_css'
= render 'breadcrumbs'
%h1= content_for :title
- if @cohort.inactive?
  %p.alert.alert-warning.text-center
    %i.icon-warning
    This cohort is inactive.  Changes will not be reflected on client dashboards.

= render 'nav', system_cohort: @cohort.system_cohort, active_tab: 'cohort'
= render 'cohort_client_tabs', current: cohort_path(@cohort, population: @population)
= render 'text_size_options'
= render 'thresholds'

.d-flex
  .ml-auto.mr-auto.alert.alert-info.jLoading.hidden
    .text-center.mt-2
      .loader-text
        Loading clients ... please wait.
      .percent-loaded


- if @cohort.clients.blank? && (! @cohort.system_cohort && can_edit_some_cohorts?)
  %p.text-center.mt-2
    = link_to new_cohort_cohort_client_path(@cohort), class: 'btn btn-primary' do
      %i.icon-plus
      Add Clients
- else
  .row.mt-2
    .col-sm-12
      - if @cohort.cohort_clients.preload(:clients).any?
        = render 'client_table'

  = render 'cohort_client_form'
