=# stylesheet_link_tag 'handsontable.full.min.css'
= javascript_include_tag 'moment.min.js'
=# javascript_include_tag 'handsontable.full.js'
=# javascript_include_tag 'ag-grid/ag-grid.min.js'
= stylesheet_link_tag 'https://unpkg.com/ag-grid/dist/styles/ag-grid.css'
= stylesheet_link_tag 'https://unpkg.com/ag-grid/dist/styles/ag-theme-balham.css'
= javascript_include_tag 'https://unpkg.com/ag-grid/dist/ag-grid.min.noStyle.js'


- title = @cohort.name
- content_for :title, title
= render 'cohorts_js'
= render 'breadcrumbs'
%h1= content_for :title
- if @cohort.inactive?
  %p.alert.alert-warning.text-center
    %i.icon-warning
    This cohort is inactive.  Changes will not be reflected on client dashboards.

= render 'buttons'
= render 'cohort_client_tabs', current: cohort_path(@cohort, population: @population)
= render 'text_size_options'


.row
  .col-sm-4.col-sm-offset-4.alert.alert-info.jLoading.hidden.text-center.margin-top-02
    Loading clients... please wait.
    .percent-loaded


- if @cohort.clients.blank?
  %p.text-center.margin-top-02
    = link_to new_cohort_cohort_client_path(@cohort), class: 'btn btn-primary' do
      %i.icon-plus
      Add Clients

.row.margin-top-02
  .col-sm-12
    - if @cohort.cohort_clients.preload(:clients).any?
      = render 'client_table'

= render 'cohort_client_form'
