- if current_user.can_see_admin_menu?
  .row
    %ul.nav.nav-tabs.margin-bottom-02
      -if can_edit_users?
        %li{role: "presentation", class: ('active' if current_page?(admin_users_path))}
          = link_to 'User Accounts', admin_users_path
      -if can_manage_config?
        %li{role: "presentation", class: ('active' if current_page?(admin_configs_path))}
          = link_to 'Site Configuration', admin_configs_path
      -if can_edit_translations?
        %li{role: "presentation", class: ('active' if current_page?(admin_translation_keys_path))}
          = link_to 'Manage Translations', admin_translation_keys_path
      -if can_view_imports?
        %li{role: "presentation", class: ('active' if current_page?(admin_dashboard_imports_path))}
          = link_to 'Import Dashboard', admin_dashboard_imports_path
      -if can_administer_health? && GrdaWarehouse::Config.get(:healthcare_available)
        %li{role: "presentation", class: ('active' if current_page?(admin_health_admin_index_path))}
          = link_to 'Healthcare Administration', admin_health_admin_index_path
      -if can_edit_dq_grades?
        %li{role: "presentation", class: ('active' if current_page?(admin_data_quality_grades_path))}
          = link_to 'Grade Scale', admin_data_quality_grades_path
      
