- if current_user.can_see_admin_menu?
  %ul.nav.nav-tabs.margin-bottom-02
    -if can_edit_users?
      %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_users_path))}
        = link_to 'User Accounts', admin_users_path, class: 'nav-link'
    -if can_manage_config?
      %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_configs_path))}
        = link_to 'Site Configuration', admin_configs_path, class: 'nav-link'
    -if can_edit_translations?
      %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_translation_keys_path))}
        = link_to 'Manage Translations', admin_translation_keys_path, class: 'nav-link'
    -if can_view_imports?
      %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_dashboard_imports_path))}
        = link_to 'Import Dashboard', admin_dashboard_imports_path, class: 'nav-link'
    -if can_edit_dq_grades?
      %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_data_quality_grades_path))}
        = link_to 'Grade Scale', admin_data_quality_grades_path, class: 'nav-link'
    -if can_add_administrative_event?
      %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_administrative_events_path))}
        = link_to 'Administrative Events', admin_administrative_events_path, class: 'nav-link'
