- if can_view_imports? || can_view_projects? || can_edit_project_groups? || can_view_organizations?
  .vsm-group.vsm-group__group-a
    - if can_view_imports?
      = link_to admin_dashboard_imports_path, class: 'vsm-item-link' do
        .vsm-item-link--description
          = _('Import Dashboard')
    - if can_view_projects? || can_view_organizations?
      = link_to data_sources_path, class: 'vsm-item-link' do
        .vsm-item-link--description
          = _('Data Sources')
    - if can_edit_project_groups?
      = link_to project_groups_path, class: 'vsm-item-link' do
        .vsm-item-link--description
          = _('Project Groups')