- if can_view_clients? || can_edit_clients? || can_view_client_window?
  .vsm-group.vsm-group__group-a
    - if can_assign_users_to_clients? || can_view_client_user_assignments?
      = link_to users_clients_path, class: 'vsm-item-link' do
        .vsm-item-link--description 
          = _('My Clients')
    - if can_view_clients? || can_edit_clients?
      = link_to clients_path, class: 'vsm-item-link' do
        .vsm-item-link--description
          = _('Clients')
    - if can_view_client_window?
      = link_to window_clients_path, class: 'vsm-item-link' do
        .vsm-item-link--description 
          = _('Window into the Warehouse')