- if can_manage_all_agencies? || can_manage_agency? || GrdaWarehouse::Config.client_search_available? && can_access_some_client_search? || can_access_some_cohorts?
  %ul.o-menu__group.list-unstyled
    - if can_manage_all_agencies?
      %li.o-menu__item
        = link_to assigned_all_agencies_path, class: 'o-menu__link' do
          = _('All Assigned Clients')
    - if can_manage_agency?
      %li.o-menu__item
        = link_to assigned_agencies_path, class: 'o-menu__link' do
          - if can_view_aggregate_health? || can_view_patients_for_own_agency?
            = _('My Agency\'s HMIS Clients')
          - else
            = _('My Agency\'s Clients')
    - if GrdaWarehouse::Config.client_search_available? && can_access_some_client_search?
      - if current_user.user_clients.exists?
        %li.o-menu__item
          = link_to assigned_clients_path, class: 'o-menu__link' do
            - if can_view_aggregate_health? || can_view_patients_for_own_agency?
              = _('My HMIS Clients')
            - else
              = _('My Clients')
      - if can_access_some_client_search?
        %li.o-menu__item
          = link_to clients_path, class: 'o-menu__link' do
            - if can_use_strict_search? || can_search_own_clients?
              = _('Client Search')
            - else
              = _('Window into the Warehouse')

    - if can_manage_cohorts? || can_edit_cohort_clients? || can_edit_assigned_cohorts? || can_view_assigned_cohorts?
      %li.o-menu__item
        = link_to cohorts_path, class: 'o-menu__link' do
          = _('Cohorts')
    - if RailsDrivers.loaded.include?(:service_scanning) && GrdaWarehouse::Config.get(:service_register_visible) && can_use_service_register?
      %li.o-menu__item
        = link_to service_scanning_services_path, class: 'o-menu__link' do
          = _('Scan Card Services')
