- can_see_health_emergency_contact_tracing = can_edit_health_emergency_contact_tracing? && GrdaWarehouse::Config.get(:health_emergency_tracing).present?
- can_see_healthcare = healthcare_available? && (can_view_aggregate_health? || can_view_patients_for_own_agency?)

- if can_see_healthcare || can_see_health_emergency_contact_tracing
  %ul.o-menu__group.list-unstyled.d-none--empty<
    - if can_see_health_emergency_contact_tracing
      %li.o-menu__item
        = link_to health_he_search_path, class: 'o-menu__link' do
          #{GrdaWarehouse::Config.currrent_health_emergency_tracing_title} #{_('Contact Tracing')}
    - can_view_some_patients = can_view_patients_for_own_agency? && current_user.health_agencies.any?
    - if can_view_some_patients
      %li.o-menu__item
        = link_to health_patients_path, class: 'o-menu__link' do
          = _('My Agency\'s Patients')
    - if can_administer_health? || current_user.team_mates.exists?
      %li.o-menu__item
        = link_to health_team_patients_path, class: 'o-menu__link' do
          = _('My Team\'s Patients')
    - if can_view_some_patients
      %li.o-menu__item
        = link_to health_my_patients_path, class: 'o-menu__link' do
          = _('My Patients')
    - if !can_view_some_patients && current_user.can_view_some_vprs?
      %li.o-menu__item
        = link_to health_flexible_service_my_vprs_path, class: 'o-menu__link' do
          = _('My Patients')
