- title = "Homeless Youth Report #{@key.to_s.humanize}"
- if @agency
  - title = title + " at #{@agency}"
- content_for :title, title
= content_for :modal_title, title

- if @clients.any?
  %p Showing #{pluralize(@clients.count, 'row')}
  %table.table.table-sm.mt-4
    %thead
      %tr
        %th Warehouse ID
        %th Name
    %tbody
      - @clients.each do |id, first_name, last_name|
        %tr
          %td= link_to id, client_youth_intakes_path(id)
          %td= "#{first_name} #{last_name}"
- else
  No clients.