- title = "Homeless Youth Program Report"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'

.row
  .col-sm-8
    %h1= title

= render 'filter'
= render 'preamble'
%h2 A. Core Services
.card.mb-4
  %table.table
    %tbody
      %tr
        %th{rowspan: 2}
          %i.icon-info{data: { toggle: :tooltip, title: 'Youth with an intake with an engagement date within the date range where the intake was marked as a street outreach contact.'}}
          1.Street Outreach/Collaboration
        %th a. Unduplicated number of outreach contacts with YYA experiencing homelessness
        -# %td= link_to @report.one_a.count, details_warehouse_reports_youth_intakes_path(filter: {start: @filter.start, end: @filter.end}, key: :one_a), data: {loads_in_pjax_modal: true}
        %td= data_link(:one_a)
        %td “Outreach contacts” are contacts made by EOHHS funded staff  who go off-site and create a first point of contact with a YYA
      %tr
        %th b. Unduplicated number of outreach contacts with YYA considered “at-risk” of homelessness
        %td= data_link(:one_b)
        %td “Outreach contacts” are contacts made by EOHHS funded staff  who go off-site and create a first point of contact with a YYA
      %tr
        %th{rowspan: 3} 2. Referrals Received
        %th a. Number of initial contacts: YYA experiencing homelessness
        %td= data_link(:two_a)
        %td Incoming contacts.  Include walk-ins, calls, referrals from other providers, as well as program in-reach.
      %tr
        %th b. Number of initial contacts: YYA considered “at-risk” of homelessness
        %td= data_link(:two_b)
      %tr
        %th c. Referral sources (number of YYA, if available)
        %td
          %ul.list-unstyled
            %li
              All referrals (
              = data_link(:two_c)
              )
            - @report.two_c.each do |label, count|
              %li= "#{label} (#{count.count})"
        %td List agencies & numbers referred by each agency, if available, e.g.Org1 (4), Org2 (1)


      %tr
        %th{rowspan: 3} 3. Assessment/ Case Management/ Case Coordination - Prevention
        %th
          %i.icon-info{data: { toggle: :tooltip, title: 'Counts youth who have an intake with an engagement date within the chosen date range, who also reported being at risk, either on the initial intake, or in a case management note during the date range.'}}
          a. Number of YYA completing new intake: YYA considered “at-risk” of homelessness
        %td= data_link(:three_a)
        %td Include brief & full intakes (unduplicated clients) and clients who enrolled in case management provided through EOHHS funds
      %tr
        %th
          %i.icon-info{data: { toggle: :tooltip, title: 'Counts youth who had at least one case management note during the date range.'}}
          b. Number of YYA continuing in case management
        %td= data_link(:three_b)
        %td Clients who received case management through EOHHS funds, excluding new enrollments
      %tr
        %th c. Number of YYA turned away
        %td= data_link(:three_c)
        %td Include YYA who were not served due to ineligibility, please detail in narrative

      %tr
        %th{rowspan: 3} 4. Assessment/ Case Management/ Case Coordination - Rehousing
        %th a. Number of YYA completing new intake: YYA experiencing homelessness
        %td= data_link(:four_a)
        %td Include brief & full intakes (unduplicated clients) and clients who enrolled in case management provided through EOHHS funds
      %tr
        %th
          %i.icon-info{data: {toggle: :tooltip, title: 'Youth with at least one case management note indicating the youth was homeless during the reporting period who\'s intake was started before the reporting period.'}}
          b. Number of YYA continuing in case management
        %td= data_link(:four_b)
        %td Clients who received case management through EOHHS funds, excluding new enrollments
      %tr
        %th d. Number of YYA turned away
        %td= data_link(:four_c)
        %td Include YYA who were not served due to ineligibility
      %tr
        %th{rowspan: 2}
          Stably Housed
          %br
          %em.text-xs This section is not reported to EOHHS, but included for completeness.
        %th a. Number of YYA completing new intake: YYA not at risk and not homeless
        %td= data_link(:stably_housed_a)
        %td Include brief & full intakes (unduplicated clients) and clients who enrolled in case management provided through EOHHS funds

      %tr
        %th
          %i.icon-info{data: {toggle: :tooltip, title: 'Youth with at least one case management note during the reporting period who\'s intake was started before the reporting period and no case management notes indicating the youth was at risk or homeless.'}}
          b. Number of YYA continuing in case management
        %td= data_link(:stably_housed_b)
        %td Clients who received case management through EOHHS funds, excluding new enrollments
      %tr
        %th{rowspan: 14} 5. Direct Financial Assistance (Flex Funds)
        %th a. Total number of YYA who received direct financial assistance/ flex funds
        %td= data_link(:five_a)
        %td Unduplicated count. Report EOHHS flex funds only
      %tr
        %th b. Number of YYA who received assistance with Move-in costs
        %td= data_link(:five_b)
        %td 5.c.-5.o:. List as many types of assistance as applicable. Duplication allowed across categories.
      %tr
        %th c. Number of YYA who received assistance with Rent
        %td= data_link(:five_c)
      %tr
        %th d. Number of YYA who received assistance with Rent arrears
        %td= data_link(:five_d)
      %tr
        %th e. Number of YYA who received assistance with Utilities
        %td= data_link(:five_e)
      %tr
        %th g. Number of YYA who received assistance with Transportation-related costs
        %td= data_link(:five_f)
        %td Include bus passes, RMV costs, mechanic fees, car insurance, gas
      %tr
        %th g. Number of YYA who received assistance with Education-related costs
        %td= data_link(:five_g)
      %tr
        %th h. Number of YYA who received assistance with Legal costs
        %td= data_link(:five_h)
      %tr
        %th i. Number of YYA who received assistance with Child care
        %td= data_link(:five_i)
      %tr
        %th j. Number of YYA who received assistance with Work-related costs
        %td= data_link(:five_j)
      %tr
        %th k. Number of YYA who received assistance with Medical costs
        %td= data_link(:five_k)
      %tr
        %th l. Number of YYA who received assistance with Cell phone costs
        %td= data_link(:five_l)
      %tr
        %th m. Number of YYA who received assistance with Food/groceries
        %td= data_link(:five_m)
      %tr
        %th n. Number of YYA who received assistance with Other costs
        %td
          %ul.list-unstyled
            %li
              All assistance (
              = data_link(:five_n)
              )
            - @report.five_n.each do |label, count|
              %li= "#{label} (#{count.count})"
        %td Please list in Narrative Section

      %tr
        %th{rowspan: 17} 6. Referrals to Other Providers
        %th a. Total number of YYA who received referrals out
        %td= data_link(:six_a)
        %td Unduplicated count. Include referrals to other units within the same agency and services provided with non-EOHHS funds
      %tr
        %th b. Number of YYA who were referred to Health services (excluding mental health)
        %td= data_link(:six_b)
        %td 6.b.-6.n:. List as many types of services as applicable. Duplication allowed across categories.
      %tr
        %th c. Number of YYA who were referred to Mental health services
        %td= data_link(:six_c)
        %td Mental health services, including support groups
      %tr
        %th d. Number of YYA who were referred to substance use services
        %td= data_link(:six_d)
        %td Substance use services, including support groups
      %tr
        %th e. Number of YYA who were referred to Employment & job training services
        %td= data_link(:six_e)
      %tr
        %th f. Number of YYA who were referred to Education services
        %td= data_link(:six_f)
      %tr
        %th g. Number of YYA who were referred to Parenting resources
        %td= data_link(:six_g)
      %tr
        %th h. Number of YYA who were referred to Domestic violence-related services
        %td= data_link(:six_h)
      %tr
        %th i. Number of YYA who were referred to Life skills/ financial literacy services
        %td= data_link(:six_i)
      %tr
        %th j. Number of YYA who were referred to Legal services
        %td= data_link(:six_j)
      %tr
        %th k. Number of YYA who were referred to Language-related resources
        %td= data_link(:six_k)
      %tr
        %th l. Number of YYA who were referred to Housing supports
        %td= data_link(:six_l)
        %td Include housing supports provided with non-EOHHS funding including housing search, subsidies, RAFT, FUP, direct financial support
      %tr
        %th m. Number of YYA who were referred to Benefits (excluding health insurance)
        %td= data_link(:six_m)
        %td Such as SNAP,SSI, WIC
      %tr
        %th n. Number of YYA who were referred to health insurance providers
        %td= data_link(:six_n)
        %td Include MassHealth, private insurance
      %tr
        %th o. Number of YYA who were referred to other state agencies
        %td= data_link(:six_o)
        %td Such as DMH, DDS
      %tr
        %th p. Number of YYA who were referred to Cultural/ recreation activities
        %td= data_link(:six_p)
      %tr
        %th q. Number of YYA who were referred to Other services or activities
        %td
          %ul.list-unstyled
            %li
              All referrals (
              = data_link(:six_q)
              )
            - @report.six_q.each do |label, count|
              %li= "#{label} (#{count.count})"

      %tr
        %th TOTAL YYA SERVED
        %th Number of  UNDUPLICATED YYA served (update each quarter)
        %td
          %ul.list-unstyled
            - by_agency = @report.all_served_ids_by_agency
            - breakout_by_agency = by_agency.size > 1
            %li
              - if breakout_by_agency
                = surround "All agencies ( ", " )" do
                  = data_link(:total_client_ids_served)
              - else
                = data_link(:total_client_ids_served)
            - if breakout_by_agency
              - by_agency.each do |agency, clients|
                %li
                  #{agency} (
                  = link_to clients.count, details_warehouse_reports_youth_intakes_path(filter: { start: @filter.start, end: @filter.end }, key: :total_client_ids_served, agency: agency), data: { loads_in_pjax_modal: true }
                  )
        %td Please update YTD each quarter.  Unduplicated count of all YYA who received Assessment/ Case Management/ Case Coordination and/or Direct Financial Assistance, provided with EOHHS Funds. Include clients served as part of Winter Response and College Student Services.

%h2 B. Winter Response (Oct 01- April 30)
.card.mb-4
  %table.table.table-sm
    %tbody
      %tr
        %th 1. Additional Shelter /Crisis Beds
        %th a) QI only: Number of EOHHS-funded YYA-dedicated shelter beds available in winter
        %td (Not collected in the warehouse)
        %td "Includes YYA-only shelter, YYA- designated beds in larger shelter, and other stationary crisis-response beds. In narrative, please clarify if these are year round. Note: these beds do not include motel beds (describe funds used to pay for motel beds in narrative).
      %tr
        %th
        %th b) QI only: Number of non-EOHHS-funded YYA-dedicated shelter beds available in winter
        %td (Not collected in the warehouse)
      %tr
        %th TOTAL number of YYA-dedicated Shelter/ crisis beds


%h2 C. College Student Services (all regions)
.card.mb-4
  %table.table.table-sm
    %tbody
      %tr
        %th
          1. Transitional Housing & Case Management (enrolled students)
        %th
          Number of Pilot Program  students receiving Transitional Housing & Case Management services
        %td= data_link(:c_one_college_pilot)
      %tr
        %th
          3. Number College students
        %th
          Number of College students not officially enrolled in the campus pilot program that are receiving services
        %td= data_link(:c_three_college_non_pilot)
        %td All regions can fill this out
      %tr
        %th TOTAL COLLEGE STUDENTS SERVED
        %th Number of College Student YYA served
        %td= data_link(:total_college)
        %td Unduplicated count of all college students YYA who received services provided with EOHHS Funds

.row.mt-4
  .col-6
    %h2 D. Demographics
  .col-6.text-right
    %h3
      Intakes Overlapping Range:
      %i.icon-info{data: { toggle: :tooltip, title: 'This includes any intake where the Engagement Date is before or during the range, and the exit date is empty, or after the beginning of the reporting range'}}
      %strong= data_link(:client_ids_for_open_intakes)
%p Please note, all demographic calculations are for clients who received some service during the range, either a new intake, a case note, direct financial assistance, or referral.
.card.mb-4
  %table.table.table-sm
    %tbody
      %tr
        %th{rowspan: 5} 1. Age and Gender
        %th a. Number of YYA served who were Under 18
        %td= data_link(:d_one_a)
        %td Report age at start of reporting period
      %tr
        %th b. Number of YYA  served who identified as Male
        %td= data_link(:d_one_b)
      %tr
        %th c. Number of YYA  served who identified as Female
        %td= data_link(:d_one_c)
      %tr
        %th d. Number of YYA  served who identified as Transgender
        %td= data_link(:d_one_d)
      %tr
        %th
          e. Number of YYA  served who identified as Other
        %td= data_link(:d_one_e)
        %td
          Include YYA who identified as other than male or female
          %br
          %i does not include refused or not collected

    %tr
      %th{rowspan: 10} 2. Race, Ethnicity and Language
      %th a. Number of YYA  served who identified as White (race)
      %td= data_link(:d_two_a)
    %tr
      %th b. Number of YYA  served who identified as African American (race)
      %td= data_link(:d_two_b)
    %tr
      %th c. Number of YYA  served who identified as Asian (race)
      %td= data_link(:d_two_c)
    %tr
      %th d. Number of YYA  served who identified as American Indian/Alaska Native (race)
      %td= data_link(:d_two_d)
    %tr
      %th e. Number of YYA served who identified as Native Hawaiian/Pacific Islander (race)
      %td= data_link(:d_two_e)
    %tr
      %th f. Number of YYA served who identified as Other/ Multi-racial (race)
      %td= data_link(:d_two_f)
    %tr
      %th g. Number of YYA  served who identified as Hispanic (ethnicity)
      %td= data_link(:d_two_g)
      %td Could be any race.
    %tr
      %th h. Number of YYA  served whose primary language was English (language)
      %td= data_link(:d_two_h)
    %tr
      %th i. Number of YYA  served whose primary language was Spanish (language)
      %td= data_link(:d_two_i)
    %tr
      %th j. Number of YYA  served whose primary language was Other (language)
      %td= data_link(:d_two_j)

    %tr
      %th{rowspan: 4} 3. Disability
      %th a. Number of YYA served who reported having a Mental/Emotional Disability (disability)
      %td= data_link(:d_three_a)
    %tr
      %th b. Number of YYA served who reported having a Substance Use Disorder
      %td= data_link(:d_three_b)
    %tr
      %th c. Number of YYA served who reported having a Medical/Physical Disability (disability)
      %td= data_link(:d_three_c)
    %tr
      %th d. Number of YYA served who reported having a Developmental Disability (disability)
      %td= data_link(:d_three_d)

    %tr
      %th{rowspan: 8} 4. Other
      %th a. Number of YYA served who were Pregnant or Parenting
      %td= data_link(:d_four_a)
    %tr
      %th b. Number of YYA served who were LGBTQ+
      %td= data_link(:d_four_b)
    %tr
      %th c. Number of YYA served who had Completed high school or GED/HiSET
      %td= data_link(:d_four_c)
    %tr
      %th d. Number of YYA served who were Enrolled in school during the reporting period
      %td= data_link(:d_four_d)
    %tr
      %th e. Number of YYA served who were Enrolled in college during the reporting period
      %td= data_link(:d_four_e)
    %tr
      %th f. Number of YYA  served who were involved with Other State Agencies
      %td= data_link(:d_four_f)
    %tr
      %th g. Number of YYA served who had Health insurance
      %td= data_link(:d_four_g)

%h2 E. Youth Action Board / Youth Engagement Activity
.card.mb-4
  %table.table.table-sm
    %tbody
      %tr
        %th Youth Action Board 
        %th a. . Number of Meetings 
        %td (Not collected in the warehouse)
      %tr
        %th
        %th b. Number of unduplicated participants 
        %td (Not collected in the warehouse)

%h2 F. Outcomes
.card.mb-4
  %table.table
    %tbody
      %tr
        %th{rowspan: 2} 1. Prevention / Diversion/ Problem Solving Outcomes (Follow up)
        %th a. Number of YYA contacted for follow up 3 mos. after receiving prevention services
        %td= data_link(:follow_up_one_a)
        %td Refer to definition of Prevention
      %tr
        %th
          %i.icon-info{data: { toggle: :tooltip, title: 'Youth who reported being at-risk at entry, or after being housed, who 3-months after being identifed as at-risk, remain at-risk or are stably housed'}}
          b. Number of YYA who remain housed 3 mos. after receiving prevention services
        %td= data_link(:follow_up_one_b)
      %tr
        %th{rowspan: 4} 2. Rehousing Outcomes
        %th a. The number of  YYA who transition into stabilized housing
        %td= data_link(:follow_up_two_a)
        %td Refer to definition of Rehousing
      %tr
        %th b. Number of YYA contacted for follow up 3 mos. after receiving rehousing services
        %td= data_link(:follow_up_two_b)
      %tr
        %th
          %i.icon-info{data: { toggle: :tooltip, title: 'Youth who reported being homeless at entry, or later became homeless, who 3-months after being identifed as homeless, remain  are stably housed'}}
          c.  Number of YYA who are in housing 3 mos. after receiving rehousing services
        %td= data_link(:follow_up_two_c)
      %tr
        %th d. Zip codes of stabilized housing (please list)
        %td
          %ul.list-unstyled
            - @report.follow_up_two_d.each do |zip_code|
              %li= zip_code

.row
  .col-sm-8
    %h2 G. Demographics of Rehousing Outcomes: youth who transitioned into stabilized housing
  .col-sm-4
    YTD should be unpuplicated and match F2a "Number of YYA who transition into stabilized housing"
.card.mb-4
  %table.table.table-sm
    %tbody
      %tr
        %th{rowspan: 5} 1. Age and Gender
        %th a. Number of YYA served who were Under 18
        %td= data_link(:g_one_a)
        %td Report age at start of reporting period
      %tr
        %th b. Number of YYA  served who identified as Male
        %td= data_link(:g_one_b)
      %tr
        %th c. Number of YYA  served who identified as Female
        %td= data_link(:g_one_c)
      %tr
        %th d. Number of YYA  served who identified as Transgender
        %td= data_link(:g_one_d)
      %tr
        %th
          e. Number of YYA  served who identified as Other
        %td= data_link(:g_one_e)
        %td
          Include YYA who identified as other than male or female
          %br
          %i does not include refused or not collected

    %tr
      %th{rowspan: 7} 2. Race, Ethnicity and Language
      %th a. Number of YYA  served who identified as White (race)
      %td= data_link(:g_two_a)
    %tr
      %th b. Number of YYA  served who identified as African American (race)
      %td= data_link(:g_two_b)
    %tr
      %th c. Number of YYA  served who identified as Asian (race)
      %td= data_link(:g_two_c)
    %tr
      %th d. Number of YYA  served who identified as American Indian/Alaska Native (race)
      %td= data_link(:g_two_d)
    %tr
      %th e. Number of YYA served who identified as Native Hawaiian/Pacific Islander (race)
      %td= data_link(:g_two_e)
    %tr
      %th f. Number of YYA served who identified as Other/ Multi-racial (race)
      %td= data_link(:d_two_f)
    %tr
      %th g. Number of YYA  served who identified as Hispanic (ethnicity)
      %td= data_link(:g_two_g)
      %td Could be any race.
    %tr
      %th 3. Other
      %th b. Number of YYA served who were LGBTQ+
      %td= data_link(:g_three_b)
      %td

.row
  .col-sm-8
    %h2 H. Demographics of Rehousing Prevention: youth who identified as at risk, and remained housed
  .col-sm-4
    YTD should be unpuplicated and match F1a "Number of YYA contacted for follow up 3 mos. after receiving prevention services"
.card.mb-4
  %table.table.table-sm
    %tbody
      %tr
        %th{rowspan: 5} 1. Age and Gender
        %th a. Number of YYA served who were Under 18
        %td= data_link(:h_one_a)
        %td Report age at start of reporting period
      %tr
        %th b. Number of YYA  served who identified as Male
        %td= data_link(:h_one_b)
      %tr
        %th c. Number of YYA  served who identified as Female
        %td= data_link(:h_one_c)
      %tr
        %th d. Number of YYA  served who identified as Transgender
        %td= data_link(:h_one_d)
      %tr
        %th
          e. Number of YYA  served who identified as Other
        %td= data_link(:h_one_e)
        %td
          Include YYA who identified as other than male or female
          %br
          %i does not include refused or not collected

    %tr
      %th{rowspan: 7} 2. Race, Ethnicity and Language
      %th a. Number of YYA  served who identified as White (race)
      %td= data_link(:h_two_a)
    %tr
      %th b. Number of YYA  served who identified as African American (race)
      %td= data_link(:h_two_b)
    %tr
      %th c. Number of YYA  served who identified as Asian (race)
      %td= data_link(:h_two_c)
    %tr
      %th d. Number of YYA  served who identified as American Indian/Alaska Native (race)
      %td= data_link(:h_two_d)
    %tr
      %th e. Number of YYA served who identified as Native Hawaiian/Pacific Islander (race)
      %td= data_link(:h_two_e)
    %tr
      %th f. Number of YYA served who identified as Other/ Multi-racial (race)
      %td= data_link(:h_two_f)
    %tr
      %th g. Number of YYA  served who identified as Hispanic (ethnicity)
      %td= data_link(:h_two_g)
      %td Could be any race.
    %tr
      %th 3. Other
      %th b. Number of YYA served who were LGBTQ+
      %td= data_link(:h_three_b)
      %td
