= render 'breadcrumbs'

%h1 Edit User Group #{@group.name}

= render 'admin/user_groups/description', entity_type: 'warehouse'
= simple_form_for @group, as: :user_group, url: admin_user_group_path do |f|
  = f.error_notification
  = render 'form', f: f
  .form_actions.mt-4
    = f.button :submit, value: 'Update User Group'
