- title = 'New User Group'
- content_for :title, title

= render 'breadcrumbs'

.o-page
  .o-page__title
    .d-flex
      %h1= content_for :title
      %a{href: '#'}
        %i.icon-question{ data: { toggle: :popover, content: 'User Groups should be used to logically group users who need similar access. User Groups are combined with Roles and Collections via Access Controls.  The intersection of Role, Collection, and User Group determines what each person can do and see within the warehouse.', placement: :bottom }, title: 'User Groups'}
= simple_form_for @group, as: :user_group, url: admin_user_groups_path do |f|
  = f.error_notification
  = render 'form', f: f
  .form_actions.mt-4
    = f.button :submit, value: 'Create User Group'
