= simple_form_for @filter, as: :filter, url: warehouse_reports_incomes_path,  html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    = render 'warehouse_reports/date_range_filters', f:f
    .row.mt-4
      .col-sm-6.mb-4
        = f.input :project_ids, label: 'Projects', collection: [], as: :select_two, input_html: {multiple: true, placeholder: 'Any Project', data: {'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids)}}, include_blank: false
      - if can_edit_project_groups?
        .col-sm-6.mb-4
          = f.input :project_group_ids, collection: GrdaWarehouse::ProjectGroup.viewable_by(current_user).pluck(:name, :id), placeholder: 'Any Project Group', input_html: {multiple: true}, label: 'Project Groups', as: :select_two
      .col-sm-6.mb-4
        = f.input :organization_ids, collection: GrdaWarehouse::Hud::Organization.options_for_select(user: current_user), placeholder: 'Any Organization', as: :grouped_select_two, group_method: :last, input_html: {multiple: true }, label: 'Organizations'
      .col-sm-6.mb-4
        = f.input :data_source_ids, collection: GrdaWarehouse::DataSource.source.viewable_by(current_user).pluck(:name, :id), placeholder: 'Any Data Source', input_html: {multiple: true}, label: 'Data Sources', as: :select_two

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f, submit_button: nil
