- title = "Client Incomes Report"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'

.row
  .col-sm-8
    %h1= title

= render 'filter'

- if @pagy.count.positive?
  - if can_view_clients?
    .text-right.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
        %i.icon-file-excel.icon-lg
        Download
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('enrollment').pluralize(@pagy.count))
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
            Client
          %th
            Incomes at Entry
          %th
            Most Recent Update
          %th
            Gender
          %th
            Race
          %th
            Ethnicity
      %tbody
        - @enrollments.each do |record|
          %tr
            %td
              = link_to_if can_view_clients?, record.client.name, appropriate_client_path(record.client)
            %td
              %ul.list-unstyled
                - record.enrollment.income_benefits_at_entry&.sources_and_amounts&.each do |name, amount|
                  %li= "#{name.to_s.titleize}: $#{amount}"
            %td
              %ul.list-unstyled
                - record.enrollment.income_benefits_update.last&.sources_and_amounts&.each do |name, amount|
                  %li= "#{name.to_s.titleize}: $#{amount}"
            %td
              = record.client.gender
            %td
              = record.client.race_description
            %td
              = HUD.ethnicity(record.client.Ethnicity)
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('enrollment').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found.mt-4 No enrollments found.
