- presenter = drilldown_presenter_class.new(list, @drilldown.report, current_user, question: @drilldown.measure, format: :html)
- display_headers = presenter.headers
.card.overflow-x-scroll{style: "max-height: 80vh"}
  %table.table.table-sm.table-bordered.table-fixed
    %thead.table-dark
      %tr
        %th
        - display_headers.each_value do |header|
          %th= header
    %tbody
      - list.each.with_index do |record, i|
        %tr
          %th.table-dark= (@pagy.offset + i + 1)
          - display_headers.each_key do |field|
            %td{style: 'max-width: 600px;'}
              - if field == 'destination_client_id'
                = link_to appropriate_client_path(record[field]) do
                  = record[field]
              - elsif field == 'personal_id'
                - value = presenter.display_value(record, field)
                = hmis_external_link(record.source_enrollment&.client, data_source: record.data_source, user: current_user, wrapper_class: nil, text: value, icon_class: nil, icon_style: nil) || value
              - else
                = presenter.display_value(record, field)
