= render 'breadcrumbs'
- title = "#{@user.name} Audit Log"
- content_for :title do
  = title
%h1= title
= link_to admin_user_edit_history_path(@user), class: 'btn btn-primary pull-right margin-bottom-02' do
  View Edit History
%p= paginate @activity_log
.row.table-utilities
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Action
            %th Item
            %th Method
            %th Date
            %th IP Address
        %tbody
          - @activity_log.each do |i|
            - title = i.title || i.controller_name
            %tr
              %td= i.action_name
              %td= link_to title, i.path
              %td= i.method
              %td= i.created_at
              %td= i.ip_address
%p= paginate @activity_log