= render 'breadcrumbs'
- title = "#{@user.name} Audit Log"
- content_for :title, title
%h1= title
= render 'admin/audits/user_tabs'
.d-flex
  %p= paginate @activity_log
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Action
        %th Item
        %th Item Type
        %th Date
        %th IP Address
    %tbody
      - @activity_log.each do |i|
        - title = i.title || i.controller_name
        %tr
          %td
            - tooltip = "Method: #{i.method}"
            %span.action{data: {toggle: :tooltip, title: tooltip}}
              = i.action_name

          %td= link_to title, i.path
          %td
            - tooltip = "Class: #{i.item_model}"
            %span.action{data: {toggle: :tooltip, title: tooltip}}
              = i.clean_object_name
          %td= i.created_at
          %td= i.ip_address
%p= paginate @activity_log