- title = 'Compliance Requirements'
- content_for :title, title

.o-page
  .o-page__title
    %h1= content_for :title
    = render partial: 'menus/admin_tabs'

  .row.mb-4
    .col-8
      %p
        Compliance requirements block users from accessing the site until they agree.
        Bump the requirement revision (or let it expire) to force re-agreement after content updates.
    .col-4.text-right
      = link_to new_admin_compliance_requirement_path, class: 'btn btn-primary mb-2' do
        %span.icon-plus
        New Compliance Requirement

  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'requirement'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Content Page
            %th Revision
            %th Expires After
            %th Agreements
            %th Status
            %th
        %tbody
          - @requirements.each do |req|
            %tr
              %td= link_to req.name, edit_admin_compliance_requirement_path(req)
              %td= link_to req.content_page.title, edit_admin_content_page_path(req.content_page) if req.content_page
              %td= req.revision
              %td
                - if req.expires_after_days
                  #{req.expires_after_days} days
                - else
                  %span.text-muted Never
              %td= @agreement_counts[req.id] || 0
              %td
                - if req.active?
                  %span.badge.badge-success Active
                - else
                  %span.badge.badge-secondary Inactive
              %td
                .btn-group
                  - if req.active?
                    = link_to deactivate_admin_compliance_requirement_path(req), method: :post, data: { confirm: "Deactivate '#{req.name}'? Users will no longer be required to agree." }, class: 'btn btn-sm btn-outline-warning' do
                      Deactivate
                  - else
                    = link_to activate_admin_compliance_requirement_path(req), method: :post, class: 'btn btn-sm btn-outline-success' do
                      Activate
                  - unless @agreement_counts[req.id].to_i > 0
                    = link_to admin_compliance_requirement_path(req), method: :delete, data: { confirm: "Delete '#{req.name}'?" }, class: 'btn btn-sm btn-danger' do
                      %span.icon-cross
                      Delete
    = render 'common/pagination_bottom', item_name: 'requirement'
  - else
    .none-found
      No compliance requirements configured.
      = link_to 'Create one', new_admin_compliance_requirement_path
      to require users to agree to terms before accessing the site.
