- if @report.report.with_indifferent_access[:project_missing].present?
  %table.table.table-condensed
    %thead
      %tr
        %th{colspan: 4}
        - GrdaWarehouse::WarehouseReports::Project::DataQuality::VersionOne.missing_refused_names.each_with_index do |word, index|
          - missing_title = "Missing #{word.to_s.titleize.gsub('Dob', 'DOB').gsub('Ssn', 'SSN')}"
          - refused_title = "Refused #{word.to_s.titleize.gsub('Dob', 'DOB').gsub('Ssn', 'SSN')}"
          - odd_class = ''
          - if index % 2 == 1
            - odd_class = 'lightest-gray'
          %th{class: odd_class, colspan: 2}= missing_title
          %th{class: odd_class, colspan: 2}= refused_title
      %tr
        %th Project Name
        %th Project Type
        %th Grade
        %th Total Clients
        - GrdaWarehouse::WarehouseReports::Project::DataQuality::VersionOne.missing_refused_names.each_with_index do |word, index|
          - missing_title = "Missing #{word.to_s.titleize.gsub('Dob', 'DOB').gsub('Ssn', 'SSN')}"
          - refused_title = "Refused #{word.to_s.titleize.gsub('Dob', 'DOB').gsub('Ssn', 'SSN')}"
          - odd_class = ''
          - if index % 2 == 1
            - odd_class = 'lightest-gray'
          %th{class: odd_class} #
          %th{class: odd_class} %
          %th{class: odd_class} #
          %th{class: odd_class} %
        

- @report.projects.each do |project|
  = debug @report.report["project_missing"]
  =# debug @report.support["project_missing_#{project[:id]}_missing_ssn"]
  =# debug @report.support["project_missing_#{project[:id]}_refused_ssn"]