.mb-2.reports
  - [:start_date, :end_date, :coc_codes, :project_ids].each do |param|
    - value = report.public_send(param)
    - next if value.blank?
    - if param == :project_ids
      %label.label.label-default.parameter-label Projects
      %label.label.label-primary.parameter-value
        %strong
          :ruby
            project_ids = value.compact.delete_if(&:blank?)
            projects = GrdaWarehouse::Hud::Project.with_deleted.where(id: project_ids).index_by(&:id)
          - project_ids[0..4].each do |id|
            - if project = projects[id]
              = link_to_if can_view_projects?, project.name, project_path(id)
            - else
              = "##{id} (deleted)"
            %br
          - if project_ids.size > 5
            - tooltip = project_ids.map { |id| projects[id] &.name || "##{id} (deleted)" }.join('<br />').html_safe
            %span.action{data: {toggle: :tooltip, html: 'true', title: tooltip}}
              #{project_ids.size - 5} more...
    - else
      %label.label.label-default.parameter-label
        = param.to_s.humanize
      %label.label.label-primary.parameter-value
        %strong
          - value = value.compact.delete_if(&:blank?).join(', ') if value.is_a?(Array)
          = value
      &nbsp;
