.mb-2.reports
  - [:start_date, :end_date, :coc_codes, :project_ids].each do |param|
    - value = report.public_send(param)
    - next if value.blank?
    - if param == :project_ids
      %label.label.label-default.parameter-label Projects
      %label.label.label-primary.parameter-value
        %div
          :ruby
            project_ids = value.compact.delete_if(&:blank?)
            projects = GrdaWarehouse::Hud::Project.where(
              id: project_ids
            ).order(name: :asc)
            missing_ids = project_ids - projects.map(&:id)
          - projects[0..4].each do |project|
            %div= link_to_if can_view_projects?, project.name, project_path(project)
          - if projects.size > 5 || missing_ids.any?
            %details
              %summary= "#{project_ids.size - 5} more..."
              - projects[5..].each do |project|
                %div=  project.name
              - missing_ids.each do |id|
                %div=  "##{id} (deleted)"

    - else
      %label.label.label-default.parameter-label
        = param.to_s.humanize
      %label.label.label-primary.parameter-value
        %strong
          - value = value.compact.delete_if(&:blank?).join(', ') if value.is_a?(Array)
          = value
      &nbsp;
