- coc_cols = if defined?(:report_versions) && report_versions.count > 1 then 'col-sm-3' else 'col-sm-6' end
.hud-report-options
  %h2 Required Options
  .row
    .col-sm-3
      = f.input :start, as: :date_picker, label: 'Start Date', required: true
    .col-sm-3
      = f.input :end, as: :date_picker, label: 'End Date', required: true
    - if defined?(:report_versions)
      - if report_versions.count > 1
        .col-sm-3
          = f.input :report_version, collection: report_versions, as: :select_two, include_blank: false, label: 'Report Version'
      - else
        = f.input :report_version, as: :hidden, input_html: { value: report_versions.map(&:last)}
    %div{ class: coc_cols }
      = f.input :coc_codes, collection: @filter.coc_code_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Please Choose', data: {'filter-projects-target' => 'cocCodes', 'action': 'change->filter-projects#update'}}, label: 'CoC Codes', hint: default_coc_code
  = render 'hud_reports/project_filter', f: f
  %h2 Limits
  .row
    .col-sm-4
      = f.input :sub_population, collection: @filter.available_sub_populations, selected:  @filter.sub_population, required: false, include_blank: false, as: :select_two
    .col-sm-4
      = f.input :age_ranges, collection: @filter.available_age_ranges, as: :select_two, input_html: { multiple: true, placeholder: 'Any Age' }, required: false, placeholder: 'Any Age'
    .col-sm-4
      .mt-no-label
        = f.input :hoh_only, as: :boolean, label: 'Limit to heads of household'
  .row
    .col-sm-4
      = f.input :genders, collection: HUD.genders.invert, as: :select_two, required: false, placeholder: 'Any Gender', input_html: { multiple: true, placeholder: 'Any Gender' }
    .col-sm-4
      = f.input :races, collection: HUD.races.invert, as: :select_two, required: false, placeholder: 'Any Race', input_html: { multiple: true, placeholder: 'Any Race' }
    .col-sm-4
      = f.input :ethnicities, collection: HUD.ethnicities.invert, as: :select_two, required: false, placeholder: 'Any Ethnicity', input_html: { multiple: true, placeholder: 'Any Ethnicity' }
