.hud-report-options
  %h2 Required Options
  .row
    .col-3
      = f.input :start, as: :date_picker, label: 'Start Date', required: true
    .col-3
      = f.input :end, as: :date_picker, label: 'End Date', required: true
    .col-6
      = f.input :coc_codes, collection: @filter.coc_code_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Please Choose'}, label: 'CoC Codes', hint: default_coc_code
  %h2 Projects to Include
  %p.alert.alert-info Please note, the following options are additive.  If you choose a single project and a project type, the report will run for all projects in the project type and the chosen project.  If you choose a data source and project type, the report will run for all projects in the chosen data source and chosen project type.
  .row
    .col-6
      = f.input :project_ids, collection: @filter.project_options_for_select(user: current_user), as: :grouped_select_two, group_method: :last, input_html: { multiple: true, placeholder: 'Please Choose' },label: 'Projects'
    .col-6
      = f.input :data_source_ids, collection: @filter.data_source_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Any Data Source'}, label: 'Data Sources'
  .row
    .col-6
      = f.input :project_type_codes, collection: @filter.available_residential_project_types, input_html: { multiple: true, placeholder: 'Any Project Type' }, label: 'Project Types', as: :select_two
    .col-6
      = f.input :project_group_ids, collection: @filter.project_groups_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Any Project Group'}, label: 'Project Groups'
  %h2 Limits
  .row
    .col-4
      = f.input :sub_population, collection: @filter.available_sub_populations, selected:  @filter.sub_population, required: false, include_blank: false, as: :select_two
    .col-4
      = f.input :age_ranges, collection: @filter.available_age_ranges, as: :select_two, input_html: { multiple: true, placeholder: 'Any Age' }, required: false, placeholder: 'Any Age'
    .col-4
      .mt-no-label
        = f.input :hoh_only, as: :boolean, label: 'Limit to heads of household'
  .row
    .col-4
      = f.input :genders, collection: HUD.genders.invert, as: :select_two, required: false, placeholder: 'Any Gender', input_html: { multiple: true, placeholder: 'Any Gender' }
    .col-4
      = f.input :races, collection: HUD.races.invert, as: :select_two, required: false, placeholder: 'Any Race', input_html: { multiple: true, placeholder: 'Any Race' }
    .col-4
      = f.input :ethnicities, collection: HUD.ethnicities.invert, as: :select_two, required: false, placeholder: 'Any Ethnicity', input_html: { multiple: true, placeholder: 'Any Ethnicity' }
