- coc_cols = if defined?(:report_versions) then 'col-sm-3' else 'col-sm-6' end
.hud-report-options
  %h2 Required Options
  .row
    .col-sm-3
      = f.input :start, as: :date_picker, label: 'Start Date', required: true
    .col-sm-3
      = f.input :end, as: :date_picker, label: 'End Date', required: true
    - if defined?(:report_versions)
      .col-sm-3
        = f.input :report_version, collection: report_versions, as: :select_two, include_blank: false, label: 'Report Year'
    %div{ class: coc_cols }
      = f.input :coc_codes, collection: @filter.coc_code_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Please Choose'}, label: 'CoC Codes', hint: default_coc_code
  %h2 Projects to Include
  %p.alert.alert-info Please note, the following options are additive.  If you choose a single project and a project type, the report will run for all projects in the project type and the chosen project.  If you choose a data source and project type, the report will run for all projects in the chosen data source and chosen project type.
  .row{data: { controller: 'filter-projects' }}
    .col-md-8
      .row
        .col-sm-6
          = f.input :project_ids, collection: @filter.project_options_for_select(user: current_user), as: :grouped_select_two, group_method: :last, input_html: { multiple: true, placeholder: 'Choose Projects', data: { 'filter-projects-target' => 'projects', action: 'change->filter-projects#update' } },label: 'Projects'
        .col-sm-6
          = f.input :data_source_ids, collection: @filter.data_source_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Choose Data Sources', data: { 'filter-projects-target' => 'dataSources', action: 'change->filter-projects#update' }}, label: 'Data Sources'
      .row
        .col-sm-6
          = f.input :project_type_codes, collection: @filter.available_residential_project_types, input_html: { multiple: true, placeholder: 'Choose Project Types', data: { 'filter-projects-target' => 'projectTypes', action: 'change->filter-projects#update' } }, label: 'Project Types', as: :select_two
        .col-sm-6
          = f.input :project_group_ids, collection: @filter.project_groups_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Choose Project Groups', data: { 'filter-projects-target' => 'projectGroups', action: 'change->filter-projects#update' }}, label: 'Project Groups'
    .col-md-4
      %h3{data: { 'filter-projects-target' => 'header' }} Included Projects
      .filter__selected-projects.project-list{ data: { 'filter-projects-target' => 'calculatedProjects' }}
        .rollup
          %p.well.rollup-container
  %h2 Limits
  .row
    .col-sm-4
      = f.input :sub_population, collection: @filter.available_sub_populations, selected:  @filter.sub_population, required: false, include_blank: false, as: :select_two
    .col-sm-4
      = f.input :age_ranges, collection: @filter.available_age_ranges, as: :select_two, input_html: { multiple: true, placeholder: 'Any Age' }, required: false, placeholder: 'Any Age'
    .col-sm-4
      .mt-no-label
        = f.input :hoh_only, as: :boolean, label: 'Limit to heads of household'
  .row
    .col-sm-4
      = f.input :genders, collection: HUD.genders.invert, as: :select_two, required: false, placeholder: 'Any Gender', input_html: { multiple: true, placeholder: 'Any Gender' }
    .col-sm-4
      = f.input :races, collection: HUD.races.invert, as: :select_two, required: false, placeholder: 'Any Race', input_html: { multiple: true, placeholder: 'Any Race' }
    .col-sm-4
      = f.input :ethnicities, collection: HUD.ethnicities.invert, as: :select_two, required: false, placeholder: 'Any Ethnicity', input_html: { multiple: true, placeholder: 'Any Ethnicity' }
