:ruby
  show_link = true if defined?(show_link).blank?
  exporter = HudReports::CsvExporter.new(report, table)
  columns = exporter.display_column_names
  rows = exporter.as_array_of_hashes
  metadata = report&.answer(question: table).metadata

  column_letters = ('A'..'ZZ').to_a
  if metadata.try(:[], 'external_row_label')
    column_letters = [''] + column_letters
    columns = [''] + columns.to_a
  end
  row_start = 1
  row_start = 0 if metadata.try(:[], 'external_column_header')

.table-responsive.mb-6
  %table.table.table-sm.table-bordered.mb-0
    %thead.thead-dark
      %tr
        %th
        - columns.each do |label|
          %th= label
    %tbody.thead-dark
      - rows.each_with_index do |row, row_index|
        %tr
          - row_num = row_index + row_start
          - row_num_display = if row_num == 0 then '' else row_num end
          %th= row_num_display
          - row.each_with_index do |details, col_index|
            - # Handle the situation where we're handed a string for headers
            - details = { value: details, any_members: false } if details.is_a?(String)
            - column_letter = column_letters[col_index]
            - cell = "#{column_letter}#{row_num}"
            - cell_color = 'table-primary' if details[:value].nil? || details[:value] == ''
            %td{class: cell_color}
              - begin
                = link_to_if((show_link && details[:any_members]), details[:value], path_for_cell(report: report, question: question, cell_label: cell, table: exporter.table))
              - rescue NoMethodError
                = details[:value]
