- metadata = report&.existing_universe(question)&.metadata
- if metadata.present?
  - Array(metadata['tables']).each do |table|
    %h3
      - description = @generator.describe_table(table)
      - if description.present?
        = "Table #{table}: #{description}"
      - else
        = "Table #{table}"
    = render 'hud_reports/table', report: report, question: question, table: table
