- content_for :modal_title, 'Update Patient Signature'

= simple_form_for @careplan, url: client_health_pctp_careplan_update_signature_path(@client, @careplan) do |f|
  .well
    .row
      .col
        = f.input :patient_signed_on, as: :date_picker, label: 'Patient signed on'
      .col
        .mt-6= f.input :verbal_approval, as: :pretty_boolean, label: 'Patient unable to sign – verbal approval received - signature is required within 90 days', input_html: { class: :jVerbalApproval }
    - if @careplan.verbal_approval?
      = f.input :verbal_approval_followup, as: :pretty_boolean, label: 'The Care Plan was signed by the Assigned or Engaged Enrollee (or authorized representative) within 90 days of verbal approval.'
    .row
      .col
        = render 'health_pctp/careplans/upload', f: f
    .row
      .col
        = f.input :provided_to_patient, as: :pretty_boolean, label: 'The Enrollee was provided a copy of the plan'

  .form__actions.form__actions--right.mb-6
    = f.submit 'Save', class: 'btn btn-primary'
