= simple_form_for @location_filter, as: :location_filters, url: project_path, method: :get do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-3
        = f.input :start, as: :date_picker, label: 'Start'
      .col-sm-3
        = f.input :end, as: :date_picker, label: 'End'

  - content_for :filter_actions do
    = f.submit 'Update Filter', class: ['btn', 'btn-primary']

  = render 'warehouse_reports/filters', f:f, small_mb: true
