.row
  .col-md-8
    .c-card.mb-4
      .c-card__header.c-card__header--external
        %h3 Investigation Information
      .c-card__content
        = f.input :date_interviewed, as: :date_picker
.row
  .col-md-8
    .c-card.mb-4
      .c-card__header.c-card__header--external
        %h3 Staff Contact Information
      .c-card__content
        = f.input :first_name
        = f.input :last_name
        = f.input :site_name
        = f.input :nature_of_exposure
        = f.input :symptomatic, as: :boolean_button_group, collection: @staff.symptomatic_options, include_blank: true
        = f.input :referred_for_testing, as: :boolean_button_group, collection: @staff.referred_options, include_blank: true
        = f.input :test_result, as: :boolean_button_group, collection: @staff.test_result_options, include_blank: true
        = f.input :notes, as: :text