- radio_wrapper_class = if f.options[:wrapper] == :readonly then :readonly else :vertical_collection end
.row
  .col-md-8
    .c-card.mb-4
      .c-card__header.c-card__header--external
        %h3 Investigation Information
      .c-card__content
        = f.input :investigator, label: @staff.label_for(:investigator)
        = f.input :date_interviewed, as: :date_picker
.row
  .col-md-8
    .c-card.mb-4
      .c-card__header.c-card__header--external
        %h3 Staff Contact Information
      .c-card__content
        = f.input :first_name
        = f.input :last_name
        = f.input :dob, as: :date_picker
        = f.input :estimated_age
        = f.input :gender, as: :radio_buttons, collection: {'Unknown' => ''}.merge(HUD.genders.invert), wrapper: radio_wrapper_class
        = f.input :address, label: @staff.label_for(:address)
        = f.input :phone_number
        = f.input :site_name
        = f.input :notified, as: :boolean_button_group, collection: @staff.yes_no_options, include_blank: true, label: @staff.label_for(:notified)
        = f.input :nature_of_exposure, hint: 'Frequency, duration, timing'
        = f.input :symptomatic, as: :boolean_button_group, collection: @staff.symptomatic_options, include_blank: true, label: @staff.label_for(:symptomatic)
        = f.input :symptoms, as: :check_boxes, collection: @staff.symptom_options, wrapper: radio_wrapper_class
        = f.input :other_symptoms, label: @staff.label_for(:other_symptoms)
        = f.input :referred_for_testing, as: :boolean_button_group, collection: @staff.referred_options, include_blank: true, label: @staff.label_for(:referred_for_testing)
        = f.input :test_result, as: :boolean_button_group, collection: @staff.test_result_options, include_blank: true
        = f.input :vaccinated, as: :boolean_button_group, collection: @staff.yes_no_unknown_options, include_blank: true, label: @staff.label_for(:vaccinated)
        = f.input :vaccine, as: :check_boxes, collection: Health::Vaccination.vaccination_type_options, input_html: { multiple: true }, label: @staff.label_for(:vaccine), wrapper: radio_wrapper_class
        - if f.options[:wrapper] == :readonly
          %label.readonly-label= @staff.label_for(:vaccination_dates)
          .controls.readonly-input
            %label.d-block.readonly-value
              = @staff.vaccination_dates&.join(', ')
        - else
          - @staff.vaccination_date_count.times do |i|
            = f.input :vaccination_dates, label: @staff.label_for(:vaccination_dates), as: :date_picker, input_html: {name: "health_tracing_staff[vaccination_dates][]", id: "health_tracing_staff[vaccination_dates][]", value: @staff.vaccination_dates.try(:[], i)}
        = f.input :vaccination_complete, as: :boolean_button_group, collection: @staff.yes_no_unknown_options, include_blank: true, label: @staff.label_for(:vaccination_complete)
        = f.input :notes, as: :text
