.d-flex.text-center.justify-content-center.mb-6
  .rrh__entered-pre-placement.chunk.pr-4.mr-4
    %h4.title
      Clients Entering #{_('Pre-Placement')}
    %i.icon-arrow-right.metric
    %i.icon-file-text.metric
    .metric
      - client_count = @report.entering_pre_placement.count
      = link_to_if current_user.can_access_some_version_of_clients?, pluralize(client_count, 'client'), clients_warehouse_reports_rrh_index_path(passed_params.merge(metric: :entering_pre_placement)), data: { loads_in_pjax_modal: true }
    .description
      entered #{_('Pre-Placement')} during the reporting period.
  .rrh__exited-pre-placement.chunk.pr-4.mr-4
    %h4.title
      Clients Exiting #{_('Pre-Placement')}
    %i.icon-file-text.metric
    %i.icon-arrow-right.metric
    .metric
      - client_count = @report.exiting_pre_placement.count
      = link_to_if current_user.can_access_some_version_of_clients?, pluralize(client_count, 'client'), clients_warehouse_reports_rrh_index_path(passed_params.merge(metric: :exiting_pre_placement)), data: { loads_in_pjax_modal: true }
    .description
      exited #{_('Pre-Placement')} during the reporting period.
  .rrh__entered-stabilization.chunk.pr-4.mr-4
    %h4.title
      Clients Entering #{_('Stabilization')}
    %i.icon-arrow-right.metric
    %i.icon-house.metric
    .metric
      - client_count = @report.entering_stabilization.count
      = link_to_if current_user.can_access_some_version_of_clients?, pluralize(client_count, 'client'), clients_warehouse_reports_rrh_index_path(passed_params.merge(metric: :entering_stabilization)), data: { loads_in_pjax_modal: true }
    .description
      entered #{_('Stabilization')} during the reporting period.
  .rrh__exited-stabilization.chunk
    %h4.title
      Clients Exited #{_('Stabilization')}
    %i.icon-house.metric
    %i.icon-arrow-right.metric
    .metric
      - client_count = @report.exiting_stabilization.count
      = link_to_if current_user.can_access_some_version_of_clients?, pluralize(client_count, 'client'), clients_warehouse_reports_rrh_index_path(passed_params.merge(metric: :exiting_stabilization)), data: { loads_in_pjax_modal: true }
    .description
      exited #{_('Stabilization')} during the reporting period.