.ho-container.rrh
  %h3.ho-container__header Overview
  = render 'program_titles'
  .row.rrh-row
    .col-xs-12.col-md-6
      %p.ho-cart__title.text-center= "<strong>#{@charts.report.num_housed_1}</strong> participated in the reference program".html_safe
      .d3-chart#d3-overview-1
    .col-xs-12.col-md-6
      %p.text-center= "<strong>#{@charts.report.num_housed_2}</strong> participated in the comparison program".html_safe
      .d3-chart#d3-overview-2