.ho-container.rrh.jProgramMakeup
  .ho-container__header
    %h3 Program Makeup
  .rrh__exiting_pre-placement.chunk.pr-4.mr-4
    - content_for :panel_collapse_content, flush: true do
      .percentExitingPrePlacementChart
      %p.mb-4.text-center.description
        Percentage of clients exiting #{_('pre-placement')} to #{_('stabilization')} out of those who exited #{_('pre-placement')}.
    = render 'common/panel_collapse', id: 'percentExitingPrePlacementChart', title: "Percentage Exiting #{_('Pre-Placement')} to #{_('Stabilization')}", default_open: 'yes'

    - content_for :panel_collapse_content, flush: true do
      .percentInStabilizationChart
      %p.mb-4.text-center.description
        Percentage of clients enrolled in #{_('stabilization')} out of those enrolled in either #{_('pre-placement')} or #{_('stabilization')}.
    = render 'common/panel_collapse', id: 'percentInStabilizationChart', title: "Percentage of Participants Enrolled in #{_('Stabilization')}", default_open: 'yes'
    - content_for :panel_collapse_content, flush: true do
      .percentExitingStabilizationChart
      %p.mb-4.text-center.description
        Percentage of clients exiting #{_('stabilization')} to housing out of those who were enrolled in #{_('stabilization')}.
    = render 'common/panel_collapse', id: 'percentExitingStabilizationChart', title: "Percentage Exiting #{_('Stabilization')} to Housing", default_open: 'yes'