.ho-container.rrh
  .ho-container__header 
    %h3 Time in Program
  .d-flex.text-center
    .rrh__time-in-pre-placement.mr-4.mb-4
      .title
        Time in Pre-Placement for Leavers
      .metric
        - days = @report.leavers_average_days_in_pre_placement
        = pluralize(days, 'day')
        to find housing
      .description
        average days in Pre-Placement
    .rrh__time-in-pre-placement.mr-4.mb-4
      .title
        Time in Pre-Placement for Stayers
      .metric
        - days = @report.stayers_average_days_in_pre_placement
        = pluralize(days, 'day')
        to find housing
      .description
        average days in Pre-Placement.
  .d-flex.text-center
    .rrh__time-in-stabilization.mr-4.mb-4
      .title
        Time in Stabilization for Leavers
      .metric
        - days = @report.leavers_average_days_in_stabilization
        = pluralize(days, 'day')
        to find housing
      .description
        average days in Stabilization
    .rrh__time-in-stabilization.mr-4.mb-4
      .title
        Time in Stabilization for Stayers
      .metric
        - days = @report.stayers_average_days_in_stabilization
        = pluralize(days, 'day')
        to find housing
      .description
        average days in Stabilization.
  .d-flex.text-center
    .rrh__time-in-program.mr-4.mb-4
      .title
        Overall Time for Leavers
      .metric
        - days = @report.leavers_average_days
        = pluralize(days, 'day')
        to find housing
      .description
        average days in program
    .rrh__time-in-program.mb-4
      .title
        Overall Time for Stayers
      .metric
        - days = @report.stayers_average_days
        = pluralize(days, 'day')
        to find housing
      .description
        average days in program.