- title = "Rapid Rehousing Dashboard"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'operational-reports'
= render 'form'
= render 'overview'
= render 'time_in_program'
= render 'outcomes'
= render 'returns'

