- title = "Rapid Rehousing Dashboard"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

-# TODO: Move this to the controller; load the report via ajax because it runs R each time and will probably be slow
- @charts = Reporting::D3Charts.new(nil, 44)

= render 'overview'
= render 'time_in_program'
= render 'outcomes'
= render 'exits'
= render 'returns'
= render 'demographics'

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var chart1 = new App.D3Chart.RRHOverview('#d3-overview-1', #{@charts.overview[:program_1]}, #{@charts.overview[:both]});
      chart1.draw();

      var chart2 = new App.D3Chart.RRHOverview('#d3-overview-2', #{@charts.overview[:program_2]}, #{@charts.overview[:both]});
      chart2.draw();

      var outcomeChart1 = new App.D3Chart.RRHOutcome('#d3-outcome-1', #{@charts.outcomes[:program_1]})
      outcomeChart1.draw();

      var outcomeChart2 = new App.D3Chart.RRHOutcome('#d3-outcome-2', #{@charts.outcomes[:program_2]})
      outcomeChart2.draw();

      var returnChart1 = new App.D3Chart.RRHReturns('#d3-return-1', #{@charts.shelter_returns}, 'program_1')
      returnChart1.draw();

      var returnChart2 = new App.D3Chart.RRHReturns('#d3-return-2', #{@charts.shelter_returns}, 'program_2')
      returnChart2.draw();
    })
