= simple_form_for @filter, as: :filter, url: warehouse_reports_recidivism_index_path, html: { method: :get } do |f|
  - content_for :filters_col_l do
    .row
      .col-sm-6
        = f.input :start, as: :date_picker, input_html: {value: @filter.start, class: 'form-control jStart'}, label: false
      .col-sm-6
        = f.input :end, as: :date_picker, input_html: {value: @filter.end, class: 'form-control jEnd'}, label: false

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View'
    -# .ml-auto
      = link_to( params.permit!.merge( format: :xlsx ), { class: 'btn btn-secondary mr-0 jXls', data: { toggle: 'tooltip', title: 'download the data currently displayed' } } ) do
      Excel

  = render 'warehouse_reports/filters', f:f
