- title = "Recidivism Report"
- content_for :title, title
.d-flex
  %h1= content_for :title

= render '/warehouse_reports/breadcrumbs', tab: 'operational'
= render 'form'

- if @pagy.count.positive?
  %p
    The following clients have an open PH enrollment between
    = @filter.start
    and
    = @filter.end
    and opened an enrollment at an emergency shelter or had a street outreach contact between the PH move-in date and PH exit.

  .text-right.mb-4
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      %i.icon-file-excel.icon-lg
      Download

  = render 'common/pagination_top', item_name: 'client'

  - @clients.each do |client|
    .warehouse-reports__client
      .warehouse-reports__client-name
        %h4
          = link_to_if can_view_clients?, client.full_name, appropriate_client_path(client)
      .row
        .col-sm-6
          %h4 PH Enrollments
          %table.table.table-sm
            %thead
              %tr
                %th Project
                %th Entry Date
                %th Move-in Date
                %th Exit Date
            %tbody
              - @ph_clients[client.id].each do |enrollment|
                %tr
                  %td= enrollment[:project_name]
                  %td= enrollment[:first_date_in_program]
                  %td= enrollment[:move_in_date]
                  %td= enrollment[:last_date_in_program]
        .col-sm-6
          %h4 ES and SO Enrollments
          %table.table.table-sm
            %thead
              %tr
                %th Project
                %th Project Type
                %th Entry Date
                %th Exit Date
                %th Last Service
                %th Days Served
            %tbody
              - @homeless_clients[client.id].each do |enrollment|
                %tr
                  %td= enrollment[:project_name]
                  %td= HUD.project_type_brief enrollment[:computed_project_type]
                  %td= enrollment[:first_date_in_program]
                  %td= enrollment[:last_date_in_program]
                  %td= @homeless_service_dates[enrollment[:id]]
                  %td= @homeless_service[enrollment[:id]]
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found No clients found.
