- title = "Recidivism Report"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'operational-reports'
= render 'form'

%p
  The following clients have an open PH enrollment between
  = @filter.start
  and
  = @filter.end
  and received service within at an emergency shelter or had a street outreach contact during the same time frame.
- if @clients.present?
  .row
    .col-sm-6
      = paginate(@clients)
    .col-sm-6
      = page_entries_info @clients, entry_name: 'Clients'
  - @clients.each do |client|
    .client
      %h4
        = link_to client_path(client) do
          = client.full_name
      .row
        .col-sm-6
          %h4 PH Enrollments
          %table.table.table-condensed
            %thead
              %tr
                %th Project
                %th Entry Date
                %th Exit Date
            %tbody
              - @ph_clients[client.id].each do |enrollment|
                %tr
                  %td= enrollment[:project_name]
                  %td= enrollment[:first_date_in_program]
                  %td= enrollment[:last_date_in_program]
        .col-sm-6
          %h4 ES and SO Enrollments
          %table.table.table-condensed
            %thead
              %tr
                %th Project
                %th Entry Date
                %th Exit Date
                %th Last Service
                %th Days Served
            %tbody
              - @homeless_clients[client.id].each do |enrollment|
                %tr
                  %td= enrollment[:project_name]
                  %td= enrollment[:first_date_in_program]
                  %td= enrollment[:last_date_in_program]
                  %td= @homeless_service_dates[enrollment[:id]]
                  %td= @homeless_service[enrollment[:id]]
- else
  %p.text-center No clients found.