= render 'cohort_columns/page_header'

.row
  .col-sm-8
    %h1= content_for :title

= render 'cohort_columns/tab_bar'

= simple_form_for :translation, url: cohort_column_names_path do |f|
  %table.table.table-striped.w-100
    %thead
      %tr
        %th Original Name
        %th Current Name
        %th Type
    %tbody
      - @columns.each do |column|
        - unless column.class.in?(GrdaWarehouse::Cohort.non_translateable)
          %tr
            %td
              = column.translation_key
            %td
              = f.input "#{column.column}", label: false, input_html: { value: column.title }
            %td
              = column_type(column)
  .text-right
    = f.submit value: 'Update Column Names', class: 'btn btn-primary'
