%h1 Create an Account

.row
  .col-sm-6
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form_hint_first) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, required: true, autofocus: true
        = f.input :email, required: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true
      .form-actions
        = f.button :submit, "Sign up"
= render "devise/shared/links"
