- title = "Tableau Dashboard Export"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'operational-reports'

= render 'form'

%h3= 'Previous Jobs'
.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th CoC Code
          %th User
          %th Started
          %th Completed
        %tbody
          - @reports.each do |report|
            %tr
              %td= report.display_coc_code
              %td= report.user_name
              %td= report.started_at
              %td= report.completed_at
              %td
                = link_to action: :show, id: report.id do
                  %span.icon-download2
                  Download
          
      %p= paginate @reports
