- title = 'Team Members'
= content_for(:title, title)
%h1= content_for :title
= render 'window/clients/breadcrumbs'
.row
  .col-sm-12
    = render 'window/clients/tab_navigation', current: polymorphic_path(careplan_path_generator)
.row
  .col-sm-12
    = render 'window/health/patient/patient_status'
    =# render 'window/health/tab_navigation', current: polymorphic_path(careplan_path_generator + [:team, :members])
.row
  .col-sm-12
    = render 'current_members', members: @team.members.order(type: :asc, last_name: :asc, first_name: :asc), restore: false
    .prevous
      - if @team.members.only_deleted.any?
        = link_to polymorphic_path([:previous] + careplan_path_generator + [:team, :members]) do
          %i.icon-copy
          previous team members

    =# render 'add_member'