- title = "User Audit for #{@agency}"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs', tab: 'audit'

- if current_user.can_manage_all_agencies
  = simple_form_for :report, url: audit_reports_agency_user_index_path, method: :get do |f|
    - content_for :filters_col_full do
      .row
        .col.col-sm-3
          = f.input :agency, collection: @agencies, selected: @agency_id, as: :select_two, include_blank: 'All Agencies'
    - content_for :filter_actions do
      = f.button :submit, value: 'Update View'
    = render 'warehouse_reports/filters', f:f

%h1= title

- if @pagy.count.positive?
  .d-flex.mb-4
    .mt-2= render 'sort', sort_options: @sort_options
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
      %i.icon-file-excel.icon-lg
      Download
  = render 'common/pagination_top', item_name: 'user'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th{rowspan: 2} First Name
          %th{rowspan: 2} Last Name
          %th{rowspan: 2} Email
          %th{rowspan: 2} Agency
          %th{rowspan: 2} Last Login
          %th{colspan: 3} Clients Viewed
        %tr
          %th This Month (Through Today)
          %th Last Month
          %th Two Months Ago
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.first_name, edit_admin_user_path(user)
            %td= link_to user.last_name, edit_admin_user_path(user)
            %td= user.email
            %td= user.agency.name
            %td= user.current_sign_in_at
            %td= clients_viewed(user, 0)
            %td= clients_viewed(user, 1)
            %td= clients_viewed(user, 2)
  = render 'common/pagination_bottom', item_name: 'user'
- else
  .none-found No users found.
