= simple_form_for @filter, as: :filter, url: warehouse_reports_cas_ce_assessments_path, html: { method: :get, class: 'jFilter'  } do |f|
  - content_for :filters_col_full do
    .row
      .col-3
        = f.input :days_homeless, label: 'Days Homeless in the Last 3 Years', collection: @report.available_days_since_last_assessment(), include_blank: false, input_html: {class: 'select2'}
      .col-3
        = f.input :no_assessment_in, label: 'Minimum Days Since Last Assessment', collection: @report.available_days_since_last_assessment(), include_blank: false, input_html: {class: 'select2'}
      .col-3.pt-5
        = f.input :eto_project_name, collection: @report.available_projects(), label: 'Project', include_blank: 'All', input_html: {class: 'select2'}
      .col-3.pt-5
        = f.input :sub_population, collection: @report.available_sub_populations, include_blank: false, input_html: {class: 'select2'}

  - content_for :filter_actions do
    .row
      .col-sm-3.text-right.pt-no-label
        = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f