- title = 'Coordinated Entry Assessment Status'
- content_for :title, title

%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'
= render 'filter'

- if @filter.project_id.blank?
  .well
    %p You must choose a project.
- elsif @pagy.count.positive?
  .well
    %p All clients have at least one ongoing enrollment, at least #{@filter.days_homeless} days homeless in the past three years, and have not been assessed in the previous #{@filter.no_assessment_in} days.
    %p Clients will be limited to those with an ongoing enrollment at #{@report.project_name} who do not also have an enrollment with a move-in-date at a housing project.
  .text-right.mb-4
    = link_to({format: :xlsx}.merge(filter_params),{class: 'btn btn-secondary'}) do
      %i.icon-file-excel.icon-lg
      Download
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('assessment').pluralize(@pagy.count)) if @pagy.count.positive?
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th First Name
          %th Last Name
          %th SSN
          %th Year of Birth
          %th Days Homeless in the Last 3 Years
          %th Date of Pathways Assessment
          %th Most Recent Residential Enrollment
      %tbody
        - @clients.each do |client|
          - enrollment = @report.max_enrollment_for(@client_page, client.id)
          %tr
            %td= link_to_if can_view_clients?, client.FirstName, appropriate_client_path(client)
            %td= link_to_if can_view_clients?, client.LastName, appropriate_client_path(client)
            %td= ssn(client.SSN)
            %td= client.DOB&.year
            %th= client.processed_service_history.days_homeless_last_three_years
            %td= @report.max_pathways_date(@client_page, client.id)
            %td
              - if enrollment.present?
                #{enrollment.project_name} (#{HUD.project_type_brief(enrollment.computed_project_type)})
                %br
                #{enrollment.first_date_in_program} - #{enrollment.last_date_in_program}
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('assessment').pluralize(@pagy.count)) if @pagy.count.positive?
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found.mt-4 No assessments found.
