- title = _('Data Source Report')
- content_for :title, title
= render '/warehouse_reports/breadcrumbs', tab: 'operational'

.row
  .col-sm-8
    %h1= content_for :title

.card
  .table-responsive
    %table.table
      %thead
        %tr
          %th Name
          %th Client Records
          %th Project Count
          %th Last Import Run
      %tbody
        %tr
          %td Warehouse
          %td
            .destination-sqr Warehouse
          %td= number_with_delimiter(GrdaWarehouse::Hud::Client.destination.count)
          %td{colspan: 5}
        - @data_sources.each do |data_source|
          - most_recently_completed = data_source.import_logs.maximum(:completed_at)&.localtime
          %tr
            %td= data_source.name
            %td= number_with_delimiter(@client_counts[data_source.id])
            %td= number_with_delimiter(@project_counts[data_source.id])
            %td
              = most_recently_completed
              - if data_source.unprocessed_enrollment_count.positive?
                .mt-2
                  %em
                    Enrollments remaining to process: #{data_source.unprocessed_enrollment_count}
