= content_for :crumbs do
  = link_to import_path(@import) do
    &laquo; Import Log
- entry_name = File.basename(@filename, '.csv')
%h1.mb-6= "Imported Data for #{@filename}"

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: entry_name
  .card
    .overflow-x-scroll{style: 'max-height: 800px'}
      %table.table.table-sm.table-bordered.table-fixed
        %thead.thead-dark
          %tr
            - @klass.hmis_structure(version: '2020').each_key do |header|
              %th= header
        %tbody
          - @data.each do |row|
            %tr
              - row.hmis_data.each do |key, value|
                %td= link_to_if key.to_sym == @klass.hud_key, value, source_data_path(search: {type: entry_name, id: value, data_source_id: row.data_source_id })
  = render 'common/pagination_bottom', item_name: entry_name
- else
  .none-found No data found.
