- if @unsent_medical_restrictions.positive? && @medical_restriction_batch_id
  %h2= "#{pluralize(@unsent_medical_restrictions, 'Medical restriction')} added."

  %p= link_to "View details", @medical_restriction_report_url

- if @unsent_test_results.positive? && @test_batch_id
  %h2= "#{pluralize(@unsent_test_results, 'Test result')} added."

  %p= link_to "View details", @test_report_url
