%h2 Threshold Monitoring Thresholds Crossed

%p
  The following items have crossed metric thresholds on
  = @calculation_date.strftime('%B %d, %Y')

- @crossings.each do |metric_id, snapshot_info|
  %h3= snapshot_info[:display_name]
  - entity_label = snapshot_info[:entity_label] || 'client'
  %p
    #{snapshot_info[:total_count]} #{entity_label.pluralize(snapshot_info[:total_count])} crossed the threshold for this metric.
    = link_to 'View metric details', admin_metric_definition_url(id: metric_id)

%p
  %small
    You are receiving this notification because you are subscribed to threshold monitoring alerts.
    To manage your alert subscriptions, contact your administrator.
