%table.table.table-responsive.table-sm.table-hover
  %thead
    - headers = @report.headers
    %tr
      - headers.each do |header|
        %th= header
  %tbody
    - last_project_type = ''
    - @report.projects.each do |project_type, org_name, project_name, project_id|
      - if project_type != last_project_type
        - if ! last_project_type.blank?
          %tr
            %td.table-secondary{colspan: 2}
            - @report.populations.each do |key, query|
              %td.table-secondary
                = link_to @report.clients_by_project_type(last_project_type, query).count, details_census_tracking_warehouse_reports_census_trackers_path(params: @filter.for_params.merge!({row: :type, type: last_project_type, key: key})), data: {loads_in_pjax_modal: true}
        %tr
          %td.table-dark{colspan: headers.size}= project_type
          - last_project_type = project_type
      %tr
        %td.table-active= org_name
        %td.table-active= project_name
        - @report.populations.each do |key, query|
          %td
            = link_to @report.clients_by_project(project_id, query).count, details_census_tracking_warehouse_reports_census_trackers_path(params: @filter.for_params.merge!({row: :project, project: project_id, key: key})), data: {loads_in_pjax_modal: true}
    %tr
      %td.table-secondary{colspan: 2}
      - @report.populations.each do |key, query|
        %td.table-secondary
          = link_to @report.clients_by_project_type(last_project_type, query).count, details_census_tracking_warehouse_reports_census_trackers_path(params: @filter.for_params.merge!({row: :type, type: last_project_type, key: key})), data: {loads_in_pjax_modal: true}
    %tr
      %td.table-primary{colspan: 2} Total
      - @report.populations.each do |key, query|
        %td.table-primary
          = link_to @report.clients_by_population(query).count, details_census_tracking_warehouse_reports_census_trackers_path(params: @filter.for_params.merge!({row: :population, key: key})), data: {loads_in_pjax_modal: true}
%p
  = @report.footnote