- note = Health::SdhCaseManagementNote
= f.input :topics, collection: note.topics_collection, as: :check_boxes
.row
  .col-sm-6
    = f.input :title
.row
  .col-sm-3
    = f.input :total_time_spent_in_minutes, input_html: {min: 0}
.row
  .col-sm-5
    = f.input :date_of_contact, as: :date_picker
.row
  .col-sm-5
    = f.input :completed_on, as: :date_picker
