- note = Health::SdhCaseManagementNote

.row
  .col-sm-8
    = f.input :notes_from_encounter, input_html: {rows: 10}, label: 'Additional Information'

.row
  .col-sm-8
    = f.input :file, as: :file
    - if f.object.health_file.present?
      .form-group
        %label Existing File
        %div
          .btn-group.existing-file
            = link_to polymorphic_path([:download] + sdh_case_management_note_path_generator, client_id: @client.id, id: f.object.id ), class: 'btn btn-default' do
              = f.object.health_file&.name
            = link_to polymorphic_path([:remove_file] + sdh_case_management_note_path_generator, client_id: @client.id, id: f.object.id), class: 'btn btn-danger btn-icon-only', method: :delete, remote: true do
              %span.icon-cross{style: 'color: white;margin:0;'}

