.string-collection-with-other__container
  .mb-3
    = f.input note_attr, as: :radio_buttons, collection: object.send("#{note_attr}_collection"), label: label, input_html: {onchange: 'radioButtonsWithOtherChange(this)'}
    = f.input "#{note_attr}_#{other}", label: other_label, wrapper_html: {class: 'string-collection-with-other__input', style: f.object.send("#{note_attr}_is_#{other}?") ? '' : 'display:none;', data: {other_value: f.object.send("#{note_attr}_#{other}_value")}}
  - if note_attr == 'housing_status'
    = f.input :housing_placement_date, as: :date_picker, wrapper_html: {class: 'string-collection-date__input', style: f.object.housing_status_includes_date? ? '' : 'display:none;', data: {date_values: f.object.housing_status_include_date_values}}
