.string-collection-with-other__container
  = f.input note_attr, as: :radio_buttons, collection: note.send("#{note_attr}_collection"), label: label, input_html: {onchange: 'radioButtonsWithOtherChange(this)'}
  = f.input "#{note_attr}_#{other}", label: other_label, wrapper_html: {class: 'string-collection-with-other__input', style: f.object.send("#{note_attr}_is_#{other}?") ? '' : 'display:none;', data: {other_value: f.object.send("#{note_attr}_#{other}_value")}}