.row
  .col-sm-8
    %ul.client__aliases.d-flex.list-unstyled.mb-0
      %li.client__client-name
        %span.ds-case
          CASE
        %span.client__client-name-title
          = @case.name
          = "(#{@case.aliases})" if @case.aliases.present?
      - if @case.client.present?
        = render 'clients/aliases'
  - if @he_report_access
    .col-sm-4
      .text-right
        = link_to single_case_warehouse_reports_health_contact_tracing_path(@case, format: :xlsx), class: 'btn btn-secondary' do
          %i.icon-download2
          Download
