- id = item.id
.clients__client-card.clients__client.c-card.c-card--linked{data: {id: id, href: new_health_he_case_path }, class: 'js-client'}
  .c-card__content.p-0
    .c-card__content-container
      .row.px-4
        .col-sm-12.col-md-5.col-lg-4
          .c-card__content-block.px-0
            - if item.is_a?(GrdaWarehouse::Hud::Client)
              = render 'clients/search/aliases', client: item
            - if item.is_a?(Health::Tracing::Case)
              = item.first_name
              = item.last_name
        .col-sm-12.col-md-7.col-lg-8
          = render 'clients/search/demographics', client: item
          - if content_for? "client_card_demographics__#{id}"
            .col-md-12.col-lg-6.c-card__content-block
              = yield "client_card_demographics__#{id}"
          - if item.is_a?(Health::Tracing::Case)
            = render 'contacts', index_case: item
            - if content_for? "client_card_contacts__#{id}"
              .col-md-12.col-lg-6.c-card__content-block
                %h3 Contacts
                = yield "client_card_contacts__#{id}"
    -# Card Footer
    -# Include call to actions
    .c-card__footer
      - if item.is_a?(GrdaWarehouse::Hud::Client)
        .c-card__footer-content.c-card__footer-content--left
          = link_to client_path(item) do
            HMIS Client
        .c-card__footer-content.c-card__footer-content--right
          = link_to new_health_he_case_path(client_id: item.id), class: 'btn btn-primary' do
            %i.icon.icon-plus
            Add Case
      - elsif item.is_a?(Health::Tracing::Case)
        .c-card__footer-content.c-card__footer-content--right
          = link_to edit_health_he_case_path(item), class: 'btn btn-primary' do
            %i.icon.icon-pencil
            Update Case
