- key = :returns
%h3= @report.support_title(key)
.row
  - @report.comparison_periods.each.with_index do |range, i|
    .col

      - data = @report.send(key).to_a[i]
      - chart_id = "#{key}_#{i}_chart"
      - legend_id = "legend_#{chart_id}"
      .w-50
        %h4= data.first
        %p= range.to_s.gsub('..', ' to ')
        .d-flex
          %div{ id: legend_id }
          %div{ id: chart_id }
        = content_for :page_js do
          :javascript
            var chart = bb.generate({
              data: {
                columns: #{data.last.to_json.html_safe},
                type: "donut", // for ESM specify as: bar()
              },
              legend: {
                contents: {
                  bindto: "##{legend_id}",
                  template: function (title, color) {
                    var swatch = `<svg class="chart-legend-item-swatch-prs1" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect width="10" height="10" fill="${color}"/></svg>`;
                    return `<div class="chart-legend-item-prs1"><div class="swatch">${swatch}</div><div class="chart-legend-item-label-prs1">${title}</div></div>`;
                  },
                },
              },
              tooltip: {
                format: {
                  title: function(x) { return "#{@report.support_title(key)}" },
                },
              },
              axis: {
                rotated: true,
                x: {
                  show: true,
                  tick: {
                    show: true,
                  }
                },
              },
              bindto: "##{chart_id}"
            });
      = data.first
      - data.last.each do |label, count|
        - sub_key = :returned_in_two_years
        - sub_key = :in_outflow if label == 'Did not return'
        .d-flex
          .label= label
          .count.mr-2
            = link_to details_performance_metrics_warehouse_reports_report_path(@report, key: key, sub_key: sub_key, index: i) do
              = count
