= render 'breadcrumbs'
= render 'beta_warning'
.well
  = render 'clients_served'
.well
  = render 'returns'
.well
  = render 'entering_housing'
.well
  = render 'income'
.well
  = render 'average_stay_length'
.well
  = render 'inflow_outflow'
