- content_for(:title, "My Patients")
%h1= content_for(:title)

- if current_user.can_view_some_vprs?
  %ul.nav.nav-tabs.sub-nav-tabs
    %li.nav-item{role: 'presentation', class: 'active'}
      = link_to 'Dashboard', health_my_patients_path, class: 'nav-link'
    %li.nav-item{role: 'presentation'}
      = link_to 'Flex Services', health_flexible_service_my_vprs_path, class: 'nav-link'

.o-page__controls
  .o-page__search
    = render 'health/patients/search_form', url: health_my_patients_path
  .o-page__sort
    = render 'health/patients/sort'
  .o-page__filter
    = render 'health/patients/filter'

  - if @pagy.count.positive?
    .o-page__link.ml-auto
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto disab'}) do
        %i.icon-download2
        Tracking Sheet

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'patient'
  - @patients.each do |patient|
    = render 'health/patients/patient_card', patient: patient
  = render 'common/pagination_bottom', item_name: 'patient'
- else
  .none-found No patients

= render 'health/patients/assignment_js'
