= simple_form_for :report_result do |f|
  = f.error_notification
  = f.input :project, input_html: {name: 'report_result[options][project]'}, as: :select, collection: Reports::Ahar::Fy2016::ByProject.available_projects_for_filtering
  %label.control-lable.string.required 
    %abbr{data: {original_title: "required"}} *
    Start Date
  .input-group.date{data: {provide: :datepicker}}
    = f.input :report_start, input_html: {name: 'report_result[options][report_start]', value: '2015-10-01'.to_date}, label: false
    %span.input-group-addon.icon-calendar
  %label.control-lable.string.required 
    %abbr{data: {original_title: "required"}} *
    End Date
  .input-group.date{data: {provide: :datepicker}}
    = f.input :report_end, input_html: {name: 'report_result[options][report_end]', value: '2016-09-30'.to_date, class: 'form-control jStart'}, label: false
    %span.input-group-addon.icon-calendar
  = f.button :button, class: 'btn btn-primary pull-right' do
    %span.icon-plus
    Queue Report Run 