= render 'breadcrumbs'

%h1 Edit User: #{@user.name}
= simple_form_for @user, as: :user, url: hmis_admin_user_path(@user) do |f|
  %h3 User Access
  %p.alert.alert-info
    Access to data in the HMIS is granted through Access Controls.  Access Controls are a combination of a Role that grants permissions, a Collection that specifies where the permissions should be applied, and a User Group containing the members who should be granted the permission to the associated entities.  It is often easiest to choose an existing user whose permission is equivalent to what this user should have.  You can do that here, and further down the page, you can manually add the user to additional groups if necessary.
    Any Access Controls for the user will be listed at the bottom of the page after saving.
  - users = Hmis::User.not_system.active.to_a.map { |u| [u.name_with_email, u.id] }.reject { |_, id| id == @user.id }

  = f.input :copy_form_id, as: :select_two, label_method: :first, value_method: :last, access_group: users, label: 'User to copy from'
  = f.association :user_groups, as: :select_two, access_group: Hmis::UserGroup.options_for_select, label: 'User Groups', input_html: { multiple: true }
  = f.button :submit, class: 'btn btn-primary', value: 'Update User'

.mt-6
  - access_controls = @user.access_controls.preload(:role, :access_group, :user_group)
  - if access_controls.empty?
    %p.none-found
      #{@user.name} has not been granted any access.
  - else
    %h3 Currently Assigned Access Controls
    .card
      %table.table.table-striped
        %thead
          %tr
            %th User Group
            %th Role
            %th Collections
        %tbody
          - access_controls.each do |access_control|
            %tr
              %td= link_to( access_control.user_group.name, edit_hmis_admin_user_group_path(access_control.user_group), target: :_blank)
              %td= link_to(access_control.role.name, hmis_admin_roles_path, target: :_blank)
              %td= link_to(access_control.access_group.name, edit_hmis_admin_group_path(access_control.access_group), target: :_blank)
