.well
  .row
    .col
      = f.input :patient_signed_on, as: :date_picker, label: 'Patient signed on'
    .col
      .mt-6= f.input :verbal_approval, as: :pretty_boolean, label: 'Patient unable to sign – verbal approval received', input_html: { class: :jVerbalApproval }
  - if @careplan.verbal_approval?
    = f.input :verbal_approval_followup, as: :pretty_boolean, label: 'The Care Plan was signed by the Assigned or Engaged Enrollee (or authorized representative) within 90 days of verbal approval.'

%h3 Upload Signature Page
.well
  .row
    .col
      = render 'upload', f: f

%h3 BH Document Review
.well
  = f.input :offered_services_choice_care_planning, as: :pretty_boolean, label: 'The Assigned or Engaged Enrollee has been provided choice in CP services/programs during the care planning process'
  = f.input :offered_provider_choice_care_planning, as: :pretty_boolean, label: 'The Assigned or Engaged Enrollee has been provided choice in available CP providers during the care planning process'
  = f.input :received_recommendations, as: :pretty_boolean, label: 'The Engaged Enrollee was informed of recommended services for which they may be clinically eligible, subject to prior authorization where applicable'
  = f.input :offered_services_choice_treatment_planning, as: :pretty_boolean, label: 'The Engaged Enrollee has been provided choice in services and providers during the treatment planning process'

.well
  - if current_user.can_approve_cha?
    %h4 By approving this record, you agree that the above information is true to the best of your knowledge
    = f.input :review_by_ccm_complete, as: :pretty_boolean, label: 'The Person-Centered Treatment Plan was reviewed and approved by the CP clinical care manager'
  - if @careplan.review_by_ccm_complete
    = "Reviewed by #{@careplan.reviewed_by_ccm.name} on #{@careplan.reviewed_by_ccm_on}"

%h3 Enrollee Rights
.well
  %p The Engaged Enrollee has been notified of his or her rights, including:
  = f.input :right_to_approve_pctp, as: :pretty_boolean, label: 'The right to approve the BH Person-Centered Treatment Plan'
  = f.input :right_to_appeal, as: :pretty_boolean, label: 'The right to appeal any denial, termination, suspension, or reduction in services through MassHealth or the ACO or MCO'
  = f.input :right_to_change_cc, as: :pretty_boolean, label: 'The right to request a different CP Care Coordinator from the Contractor'
  = f.input :right_to_change_bhcp, as: :pretty_boolean, label: 'The right to request a different BH CP'
  = f.input :right_to_complain, as: :pretty_boolean, label: "The right to submit an internal Grievance to the Contractor and the Contractor's internal Grievances procedure"
  = f.input :right_to_ombudsman, as: :pretty_boolean, label: 'The right to access Ombudsman  services'

.well
  - if current_user.can_approve_careplan
    = f.input :review_by_rn_complete, as: :pretty_boolean, label: 'The Person-Centered Treatment Plan was reviewed and approved by the CP registered nurse (RN)'
  - if @careplan.review_by_rn_complete
    = "Reviewed by #{@careplan.reviewed_by_rn.name} on #{@careplan.reviewed_by_rn_on}"

%h3 Document delivery
.well
  = f.input :provided_to_patient, as: :pretty_boolean, label: 'The Enrollee was provided a copy of the plan'
  = f.input :was_sent_to_pcp, as: :pretty_boolean, label: 'The careplan was sent to the PCP'
  - if @careplan.was_sent_to_pcp
    = "Sent by #{@careplan.sent_to_pcp_by.name} on #{@careplan.sent_to_pcp_on}"

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jVerbalApproval').on('change', function(e) {
        console.log($(e.target).is(':checked'));
        if($(e.target).is(':checked')) {
          $('#health_pctp_careplan_patient_signed_on').datepicker('setDate', Date());
        };
      });
    });