- content_for :title, @report.title
%h1= @report.title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
%p View differences between the client's self-reported date homeless (DateToStreetESSH) and the enrollment entry date.
= render 'filter'
- if !@pagy.present?
  %p.text-center Apply filters to see results.
- elsif @pagy.count.positive?
  .d-flex
    .ml-auto.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
        %i.icon-download2
        Download
  .d-flex
    %p!= pagy_info(@pagy, item_name: _('enrollment').pluralize(@pagy.count))
    %p.ml-auto!= pagy_bootstrap_nav(@pagy)
  = render 'warehouse_reports/limited_by_project_note'
  .card
    %table.mb-0.table.table-striped
      %thead
        %tr
          %th Client
          - @report.column_names.each do |s|
            %th= s
      %tbody
        - @enrollments.each do |row|
          - client = row.client
          - values = @report.column_values(row)
          - values.pop() # Drop project type
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            - values.each do |d|
              %td= d
            %td
              .enrollment__project_type{class: "client__service_type_#{row.project_type}"}
                .service-type__program-type{data: {toggle: :tooltip, title: HUD.project_type(row.project_type)}}
                  = HUD.project_type_brief row.project_type
- else
  %p.text-center No enrollments found
