- content_for :title, @report.title
%h1= @report.title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
%p View differences between the client's self-reported date homelessness started (DateToStreetESSH) and the enrollment entry date.
= render 'filter'
- if !@pagy.present?
  %p.text-center Apply filters to see results.
- elsif @pagy.count.positive?
  .d-flex
    .ml-auto.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
        %i.icon-file-excel.icon-lg
        Download
  .d-flex
  = render 'common/pagination_top', item_name: 'enrollment'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Client
          - @report.column_names.each do |s|
            %th= s
      %tbody
        - @enrollments.each do |row|
          - client = row.client
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            - @report.column_values(row, current_user).each do |key, value|
              - next if key == :project_type
              - if key == :days_between
                %td= number_with_delimiter(value)
              - else
                %td= value
            %td
              .enrollment__project_type{class: "client__service_type_#{row.project_type}"}
                .service-type__program-type{data: {toggle: :tooltip, title: HUD.project_type(row.project_type)}}
                  = HUD.project_type_brief row.project_type
  = render 'common/pagination_bottom', item_name: 'enrollment'
- else
  .none-found No enrollments found
