- title = 'Data Quality Grades'
- content_for :title, title

= render partial: 'menus/admin_tabs'
%h1= content_for(:title)

.row
  .col-sm-5
    = render 'new_missing_grade'

    = render 'missing_grades', show_delete: true

  .col-sm-7
    = render 'new_utilization_grade'

    = render 'utilization_grades', show_delete: true
