- title = 'Homelessness Re-Entry'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs'

= render 'filter'
- if @enrollments.any?
  .d-flex
    .mr-2
      %p
        Clients re-entered homelessness (ES, SO, SH, or TH) between
        = @filter.start
        and
        = @filter.end
        after a break of 60 days or more.
        %br
        This report was built to provide supporting details to the "Entry and Re-Entry" section of the Population Dashboards.
      %p
        The following #{pluralize(@enrollments.distinct.select(:client_id).count, 'client')} had #{@enrollments.count} re-entries between #{@filter.start} and #{@filter.end}.
    .ml-auto
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
        Download Excel
  = render 'common/population_warnings'
  = render 'warehouse_reports/limited_by_project_note'
  .card
    %table.mb-0.table.table-striped
      %thead
        %tr
          %th Last Name
          %th First Name
          %th Veteran Status
          %th Entry Date
          %th Project Type
          %th Project
          %th Organization
          %th Days Since Previous Exit
          %th Previous Project Type
          %th Previous Destination
      %tbody
        - @enrollments.each do |enrollment|
          - client = enrollment.client
          - re_entry = @re_entries[enrollment.id]
          - project = enrollment.project
          - organization = enrollment.organization
          - safe_project_name = project.name(include_confidential_names: current_user.can_view_confidential_enrollment_details?)
          - safe_org_name = if safe_project_name != project.ProjectName then organization.class.confidential_organization_name else organization.OrganizationName end
          %tr
            %td
              %nobr= link_to_if can_view_clients?, client.LastName, appropriate_client_path(client)
            %td
              %nobr= link_to_if can_view_clients?, client.FirstName, appropriate_client_path(client)
            %td= HUD.no_yes_reasons_for_missing_data(client.VeteranStatus)
            %td= enrollment.first_date_in_program
            %td= HUD.project_type enrollment.computed_project_type
            %td= safe_project_name
            %td= safe_org_name
            %td= re_entry.days_since_last_exit
            %td= HUD.project_type re_entry.prior_exit_project_type
            %td= HUD.destination re_entry.prior_exit_destination_id
- else
  %p.text-center No clients found
