.d-flex
  .ml-auto.mb-4
    - if show_report?
      = link_to tx_client_reports_warehouse_reports_research_exports_path(format: :xlsx, params: @filter.for_params), class: 'btn btn-secondary' do
        %i.icon-file-excel
        Download Excel
.overflow-scroll
  = render 'common/pagination_top', item_name: 'client'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          - @report.enrollment_headers.each do |h|
            %th= h
      %tbody
        - @rows.pluck(*@report.enrollment_columns).each do |row|
          %tr
            - row.each.with_index do |v, i|
              %td= @report.format_enrollment_value(v, i)
  = render 'common/pagination_bottom', item_name: 'client'
