- active_date = data.keys.first
%h3= data[active_date]['title']

.jQuarterChosenDate
.chart-bar.chart.pt-2{ data: { active_date: data.keys.first }, class: [chart_class, "active_date_#{data.keys.first}"]}
%div.d-flex.legend-wrapper-horizontal.legend-wrapper{ class: ["#{chart_class}_legend"] }
:javascript
  var controller;
  var dates = #{data.to_json.to_s.html_safe};
  var active_date = $(".#{chart_class}").data('activeDate');
  var chart = bb.generate({
    data: {
      columns: [],
      type: 'bar',
      groups: [#{::HUD.races(multi_racial: true).values.to_json.html_safe}],
      labels: {
        format: function(v, id, i, j) {
          if (v > 8) {
            return v + '%';
          }
        },
        position: {
          x: -40
        },
        colors: 'white',
        centered: false
      },
      stack: {
        normalize: true
      }
    },
    bindto: {
      element: ".#{chart_class}"
    },
    color: {
      pattern: #{@report.chart_color_pattern}
    },
    axis: {
      rotated: true,
      x: {
        show: false
      },
      y: {
        show: false,
      }
    },
    size: {
      height: 100
    },
    legend: {
      contents: {
        bindto: ".#{chart_class}_legend",
        template: (title, color) => {
          const swatch = `<svg class="chart-legend-item-swatch-prs1" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect width="10" height="10" fill="${color}"/></svg>`;
          return `<div class="chart-legend-item-prs1"><div class="swatch">${swatch}</div><div class="chart-legend-item-label-prs1">${title}</div></div>`;
        },
      },
    },
    tooltip: {
      format: {
        title: function(x) { return ''; },
      }
    }
  });
  // Make the page aware of the new chart
  var charts = $('body').data('publicCharts');
  if(charts == undefined) {
    charts = []
  }
  charts.push({ chart: chart, dates: dates })
  $('body').data('publicCharts', charts);
  $('.jQuarters').trigger('change');
