- data = JSON.parse(@report.precalculated_data)
%ul.nav.nav-tabs.mt-2
  - @report.populations.each_with_index do |(population, title), i|
    - active_class = if i.zero? then 'active' else '' end
    %li.nav-item{ role: :presentation }
      %a.nav-link{ id: "#{population}-tab", class: active_class, href: "##{population}", data: { toggle: :tab }, role: :tab, aria: { controls: population, selected: true }}= title
.tab-content
  - @report.populations.each_with_index do |(population, title), i|
    - population_data = data[population.to_s]
    - active_class = if i.zero? then 'show active' else '' end
    .tab-pane.p-4.fade{ id: population, class: active_class, role: :tabpanel, aria: { labeledby: "#{population}-tab" }}
      = title
      = render 'pit_chart', population: population, data: population_data[:pit_chart.to_s]
