%h2 Patient Consent Changed
%p
  During a recent import to the warehouse the following changes were made to patient consent:
%ul
  - if @new_patients > 0
    %li= "#{pluralize(@new_patients, 'new patient')} added"
  - if @consented > 0
    %li= "#{pluralize(@consented, 'patient')} consented to be included"
  - if @revoked_consent > 0
    %li= "#{pluralize(@revoked_consent, 'patient')} revoked consent"
  - if @unmatched > 0
    %li
      = @unmatched
      - if @unmatched == 1
        patient remains unmatched
      - else
        patients remain unmatched  
