%table.table.table-sm
  %thead
    %tr
      %th Name
      %th DOB
      %th ACO Current?
      %th Reported ACO Name
  %tbody
    - @aco_changes.each do |patient|
      %tr
        %td= link_to "#{patient.first_name} #{patient.last_name}", window_client_health_patient_index_path(client_id: patient.client_id)
        %td= patient.birthdate
        %td= checkmark_or_x(aco_current?(patient))
        %td= patient.aco_name

