%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th DOB
      %th ACO Coverage
      %th Agency
      %th Care Coordinator
  %tbody
    - patients.each do |patient|
      %tr
        %td= link_to "#{patient.first_name} #{patient.last_name}", window_client_health_patient_index_path(client_id: patient.client_id)
        %td= patient.birthdate
        %td
          -if has_managed_care(patient)
            %i.icon-checkmark
        %td= patient.health_agency&.name
        %td= "#{patient.care_coordinator&.first_name} #{patient.care_coordinator&.last_name}"