= content_for :crumbs do
  = link_to warehouse_reports_health_eligibility_index_url do
    = "« Eligibilty Determination"

- title = "Eligibility Determination Results for #{@inquiry.service_date}"
- content_for :title, title
%h1= content_for :title

%ul.nav.nav-tabs{role: :tablist}
  %li.nav-item{role: :presentation}
    %a.nav-link.active{href: '#eligible-patients', aria: {controls: 'eligible-patients'}, data: {toggle: :tab}, role: :tab} Eligible Patients
  %li.nav-item{role: :presentation}
    %a.nav-link{href: '#ineligible-patients', aria: {controls: 'ineligible-patients'}, data: {toggle: :tab}, role: :tab} Ineligible Patients
  %li.nav-item{role: :presentation}
    %a.nav-link{href: '#aco-changed-patients', aria: {controls: 'aco-changed-patients'}, data: {toggle: :tab}, role: :tab} Patients with ACO Changes

.tab-content
  #eligible-patients.tab-pane.active{role: :tabpanel}
    = render "table", patients: @eligible, tab: 'eligible'

  #ineligible-patients.tab-pane{role: :tabpanel}
    = render "table", patients: @ineligible, tab: 'ineligible'

  #aco-changed-patients.tab-pane{role: :tabpanel}
    = render "aco_changes"

= render 'common/bootstrap_tab_memory'
