- url = polymorphic_path(@report.report_path_array)
- alert = 'Included projects are limited by selected CoCs.'


= simple_form_for @filter, as: :filters, url: url, data: { controller: 'filter-projects' } do |f|
  - content_for :filters_col_full do
    .row.mb-4
      .col-sm-3
        = f.input :start, as: :date_picker, label: 'Start Date', required: true
      .col-sm-3
        = f.input :end, as: :date_picker, label: 'End Date', required: true
      .col-sm-6
        = f.input :coc_codes, collection: @filter.coc_code_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Choose CoCs', data: {'filter-projects-target' => 'cocCodes', 'action': 'change->filter-projects#update'}}, label: 'CoC Codes', required: true
    = render 'hud_reports/project_filter', f: f, api_projects_parameters: { project_types: @filter.default_project_type_codes }, alert: alert, show_organization_picker: true

    %h2= Translation.translate('Additional Report Details')
    .alert.alert-info
      %div
        %p
          For the Community Dashboard to function correctly, you'll need to choose two items below:
        %ol
          %li A set of projects that should be used in calculating successful diversion
        %p These projects should also be a part of the project set chosen above.  Additionally, The full list of projects above should include any project that might generate a CE Event which are used when calculating time between identification, referral, and move-in.
    .row
      .col-sm-6
        = f.input :secondary_project_ids, collection: [], as: :grouped_select_two, group_method: :last, input_html: { multiple: true, placeholder: 'Choose Projects', data: { 'filter-projects-target' => 'projects', action: 'change->filter-projects#update', 'collection-path' => api_projects_path(selected_project_ids: @filter.secondary_project_ids, project_types: @filter.default_project_type_codes) } }, label: 'Diversion Projects', hint: 'Include any project that should be used when calculating successful diversion'

  - content_for :filter_actions do
    = f.submit 'Queue Report', class: ['btn', 'btn-primary'], data: { 'filter-projects-target' => 'submitButton' }

  = render 'warehouse_reports/filters', f:f
