.warehouse-reports__ad_hoc-export
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'report'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Status
            %th Options
            %th Requested
            %th Published?
            %th Action
        %tbody.report-listing.warehouse-reports__completed
          - @reports.each do |report|
            - published = report.published?
            %tr
              %td
                - if report.completed?
                  .mt-2.mb-4
                    = link_to 'View External Dashboard', all_neighbors_system_dashboard_warehouse_reports_report_path(report), class: 'btn btn-sm btn-secondary'
                = report.status
              %th.report-parameters
                = report.describe_filter_as_html(report.known_params)
                - opts = report.filter.to_h
                - opts[:default_project_type_codes] = report.default_project_type_codes
                .ml-auto.nobr
                  = render 'filters/view_filter_details', filter_hash: opts, selected_keys: report.known_params
              %td.text-nowrap
                = report.created_at
                .text-sm.text-muted by #{report.user&.name}
              %td= checkmark(published)
              %td
                - unless published
                  = link_to all_neighbors_system_dashboard_warehouse_reports_report_path(report), method: :delete, class: 'btn btn-sm btn-danger btn-icon-only', data: {confirm: "Are you sure you want to delete this report?"} do
                    %i.icon-cross
    = render 'common/pagination_bottom', item_name: 'report'
  - else
    .none-found No reports found.
