- all_data = AllNeighborsSystemDashboard::Header.new(@report)
- tabs = all_data.tabs
.all-neighbors__dashboard
  .row.mt-5{class: css_namespace('all', 'summary')}
    - all_data.header_data.each_with_index do |d, i|
      .col-xs-12.mb-5.col-md
        .d-flex
          %div.pr-3{class: css_namespace('all', 'summary_icon')}
            %i{class: d[:icon]}
          %div
            - display_value = if d[:display_method] then send(d[:display_method], d[:value]) else d[:value] end
            %div{class: css_namespace('all', 'summary_value')}= display_value
            %div{class: css_namespace('all', 'summary_name')}= d[:name]
.all-neighbors__dashboard
  .mb-7= render 'tabs', tabs: tabs
  .tab-content
    - tabs.each_with_index do |tab, i|
      - pane_classes = ['tab-pane', 'fade']
      - if i == 0
        - pane_classes += ['js-first', 'show', 'active']
      %div{class: pane_classes, id: tab[:id], role: 'tabpanel', aria: {labelledby: "#{tab[:id]}_tab"}}
        = render tab[:id], tab: tab
