:ruby
  tabs = [
    {name: 'Housing Placements'},
    {name: 'Time To Obtain Housing'},
    {name: 'Returns To Homelessness'},
    {name: 'Unhoused Population'}
  ].map{|tab| tab.merge({id: tab[:name].gsub(' ', '').underscore})}

  start_date = (DateTime.current - 3.years).beginning_of_month
  end_date = DateTime.current.beginning_of_month
  all_data = AllNeighborsSystemDashboard::FakeData.new(start_date, end_date)

:css
  h1 {
    color: rgba(0, 0, 0, 0.60);
    font-family: "Open Sans";
    font-weight: normal;
  }
  h2.all-neighbors__all__tab_name {
    font-family: "Open Sans";
    font-weight: normal;
  }
  .all-neighbors__all__filter_labels h3 {
    font-family: "Open Sans";
    font-weight: normal;
  }

  .all-neighbors__time_to_obtain_housing__card span {
    font-size: 36px;
    font-weight: bold;
  }

  .all-neighbors__time_to_obtain_housing__card h3 {
    font-family: "Open Sans";
    font-weight: normal;
  }

  #all-neighbors__housing_placements__stacked__chart .bb-axis-x {
    font-family: "Open Sans";
    font-size: 1.15rem;
  }

  .all-neighbors__all__tabs {
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  }

  .all-neighbors__all__tabs a.nav-link {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.65rem 1.16rem;
  }

  .all-neighbors__all__tabs a.nav-link:focus,
  .all-neighbors__all__tabs a.nav-link:hover {
    box-shadow: none;
    background: transparent;
  }

  .nav-tabs.all-neighbors__all__tabs li.nav-item a.nav-link.active {
    background: #722B2C;
    color: #FFF;
    box-shadow: none;
  }

  .all-neighbors__all__summary_icon {
    width: 60px;
    text-align: right;
  }

  .all-neighbors__all__summary_icon,
  .all-neighbors__all__summary_value {
    font-size: 2.3rem;
    color: #722B2C;
    font-weight: bold;
  }

  .all-neighbors__all__summary_name {
    font-size: 1.15rem;
  }

  .bb svg {
    font-size: 16px;
  }

  .bb-xgrid,
  .bb-ygrid {
    stroke-dasharray:none;
  }

  .all-neighbors__all__donut svg {
    margin: 0px auto;
  }

  .all-neighbors__all__donut-filter-label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.15rem;
    width: 86px;
    height: 50px;
    margin-top: -25px;
    margin-left: -43px;
    text-align: center;
  }

  .all-neighbors__all__stacked_group h4 {
    font-family: "Open Sans";
    font-weight: normal;
  }

  .all-neighbors__all__stacked .bb-axis-x .domain,
  .all-neighbors__all__stacked .bb-axis-x .tick line {
    display: none;
  }

  .all-neighbors__all__stacked .bb-axis-x .tick text {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 1.15rem;
    line-height: 1.2rem;
    white-space-collapse: preserve;
  }

  #all-neighbors__housing_placements__total_placements__chart .bb-axis-y .domain,
  #all-neighbors__housing_placements__total_placements__chart .bb-axis-y .tick line,
  #all-neighbors__housing_placements__total_placements__chart .bb-axis-x .tick line {
    display: none;
  }

  #all-neighbors__housing_placements__total_placements__chart .bb-ygrid line {
    stroke: #DDDDDD;
  }

  #all-neighbors__time_to_obtain_housing__stacked__chart .bb-xgrid,
  #all-neighbors__time_to_obtain_housing__stacked__chart .bb-axis-x line
   {
    stroke: rgba(0, 0, 0, 0.04);
  }
  #all-neighbors__time_to_obtain_housing__stacked__chart .bb-xgrid:first-child,
  #all-neighbors__time_to_obtain_housing__stacked__chart .bb-axis-x g:first-of-type line,
  #all-neighbors__time_to_obtain_housing__stacked__chart .bb-axis-x .domain {
    display:none;
  }
  

- content_for :full_width_banner do
  %h1 REAL Time Rehousing Initiative Community Dashboard
  .row.mt-5{class: css_namespace('all', 'summary')}
    - all_data.header_data.each_with_index do |d, i|
      - size = 4
      - if i > 0
        - size = i == 1 ? 3 : 5
      .col-xs-12.col-lg-4.mb-5{class: "col-md-#{size}"}
        .d-flex
          %div.pr-3{class: css_namespace('all', 'summary_icon')}
            %i{class: d[:icon]}
          %div
            %div{class: css_namespace('all', 'summary_value')}= d[:value]
            %div{class: css_namespace('all', 'summary_name')}= d[:name]

.mb-7= render 'tabs', tabs: tabs
.tab-content
  - tabs.each_with_index do |tab, i|
    - pane_classes = ['tab-pane', 'fade', 'show', 'active']
    - if i == 0
      - pane_classes += ['js-first']
    %div{class: pane_classes, id: tab[:id], role: 'tabpanel', aria: {labelledby: "#{tab[:id]}_tab"}}
      = render tab[:id], tab: tab

