%ul.well.nav.nav-pills.nav-stacked{data: {spy: :affix}}
  %li{role: :presentation}= link_to 'Patient Summary', '#summary'
  %li{role: :presentation}= link_to 'Cost', '#cost'
  %li{role: :presentation}= link_to 'Appointments', '#appointments-list'
  %li{role: :presentation}= link_to 'Utilization', '#utilization-list'
  %li{role: :presentation}= link_to 'Problems', '#problems-list'
  %li{role: :presentation}= link_to 'Medications', '#medications-list'