.row
  .col-sm-4
    %dl
      %dt 
        Patient
        %dd=@patient.name
      %dt
        Gender
        %dd
          = @patient.gender
          = "(#{@patient.transgender})" if @patient.transgender.present?
      %dt 
        DOB
        %dd= @patient.birthdate
  .col-sm-4
    %dl
      %dt
        SSN
        %dd= @patient.ssn
      %dt
        Veteran status
        %dd= @patient.veteran_status
      %dt
        Race
        %dd= @patient.race
      %dt
        Ethnicity
        %dd= @patient.ethnicity
  .col-sm-4
    %dl
      %dt
        Primary Care Physitian
        %dd= @patient.primary_care_physician
      %dt
        Allergies
        %dd= @patient.allergy_list.presence || 'none'