.ho-container
  = d3_container_header('patient', 'SDH Pilot')
  .row
    .col-xs-12.col-md-8
      - if @patient.claims_roster.present?
        %h4 Cost
        %table.ho-compare__table-1
          %tr
            - @patient_cost.keys.each do |key|
              %td
                = compare_box(key, @patient_cost, @SDH_cost, @variance_cost)
        %h4 Key Metrics
        %div{style: 'padding: 0px 10px;'}
          %table.ho-compare__table-2
            %tr
              - @patient_key_metrics.keys.each do |key|
                = key_metrics_table_header(key)
            %tr.ho-compare__current-patient
              - @patient_key_metrics.keys.each do |key|
                %td= @patient_key_metrics[key]
            %tr.ho-compare__pilot-average
              - @SDH_key_metrics.keys.each do |key|
                %td= @SDH_key_metrics[key]
            %tr.ho-compare__label-row
              %td{colspan: 4} Variance
            %tr.ho-compare__variance
              - @variance_key_metrics.keys.each do |key|
                %td= @variance_key_metrics[key]
        .ho-hints
          - @patient_key_metrics.keys.each do |key|
            = key_metrics_table_hint(key)
      - else
        No Data
    .col-xs-12.col-md-4.ho-compare__fc
      = render 'emergency'

