.ho-container
  = d3_container_header('patient', '', just_patient: true)
  .row
    .col-xs-12
      = d3_base_chart('d3-housing-status__chart', 'd3-housing-status__dates', 'Housing Status')
      .d3-housing-status__hints.ho-hints.clearfix
        = housing_status_hint('housed')
        = housing_status_hint('not-housed')
  .row
    .col-xs-12.col-md-6
      = d3_base_chart('d3-ss-matrix__chart', 'd3-ss-matrix__dates', 'Self-Sufficiency Matrix Scores')

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var data = #{@client.health_housing_stati.to_json}
      var ssData = #{@client.health_self_sufficiency_scores.to_json}
      
      hsChart = {
        margin: {top: 0, right: 0, bottom: 70, left: 0},
        selector: '.d3-housing-status__chart',
        data: data,
        type: 'hs'
      }
      ssChart = {
        margin: {top: 10, right: 40, bottom: 70, left: 40},
        selector: '.d3-ss-matrix__chart',
        data: ssData,
        type: 'ss'
      } 
      var charts = [hsChart, ssChart]
      var pc = new App.D3Chart.PatientCharts(charts)
      
    })