.ho-container
  = d3_container_header('patient', '', just_patient: true)
  .row
    .col-xs-12
      = d3_base_chart('d3-housing-status__chart', 'd3-housing-status__dates', 'Housing Status')
  .row
    .col-xs-12.col-md-6
      -#= d3_base_chart('d3-ss-matrix__chart', 'd3-ss-matrix__dates', 'Self-Sufficiency Matrix Scores')

      TODO: SS Metrix chart
      .d3-ss-matrix__chart

= debug @client.health_self_sufficiency_scores
- content_for :page_js do
  :javascript
    $(document).ready(function() {
      console.log('ss matrix chart code goes here');
      var ssData = #{@client.health_self_sufficiency_scores.to_json}
      var chart = new App.D3Chart.SelfSufficiencyScores('.d3-ss-matrix__chart', {top: 0, right: 10, bottom: 20, left: 150}, ssData);
      chart.draw();
    })


- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var data = #{@client.health_housing_stati.to_json}
      var ssData = #{@client.health_self_sufficiency_scores.to_json}

      hsChart = {
        margin: {top: 25, right: 45, bottom: 70, left: 150},
        selector: '.d3-housing-status__chart',
        data: data,
        type: 'hs',
        viewBoxSizing: true
      }
      //ssChart = {
        //margin: {top: 10, right: 40, bottom: 70, left: 40},
        //selector: '.d3-ss-matrix__chart',
        //data: ssData,
        //type: 'ss',
      //}
      //var charts = [hsChart, ssChart]
      var charts = [hsChart]
      var pc = new App.D3Chart.PatientCharts(charts)

    })
