#summary
  = render 'patient_status'
  .ho-patient__container
    .ho-patient__header.mb-2
      %h3.ho-patient__name
        .row
          .col-sm-4
            = @patient.client.name
          .col-sm-8.text-right
            = render 'engagement', patient: @patient
            .btn-group
              %button{ type: 'button', class: 'btn btn-secondary btn-sm dropdown-toggle', :'data-toggle' => 'dropdown' }
                Engagement Readiness & Forms
                %span.caret
              %ul.dropdown-menu
                %li
                  - participation = @patient.participation_forms.recent.first
                  - if participation
                    = link_to polymorphic_path([:edit] + participation_form_path_generator, client_id: @client.id, id: participation&.id), data: { loads_in_pjax_modal: true } do
                      - if participation.reviewed_by.present?
                        %span.icon-checkmark.o-color--positive.mr-1
                      - else
                        %span.icon-checkmark.mr-1.o-color--gray-l
                      Participation Form
                  - else
                    = link_to polymorphic_path([:new] + participation_form_path_generator, client_id: @client.id), data: { loads_in_pjax_modal: true } do
                      %span.icon-checkmark.mr-1.o-color--gray-l
                      Participation Form

                %li
                  - release = @patient.release_forms.recent.first
                  - if release
                    = link_to polymorphic_path([:edit] + release_form_path_generator, client_id: @client.id, id: release&.id), data: { loads_in_pjax_modal: true } do
                      - if release.reviewed_by.present?
                        %span.icon-checkmark.o-color--positive.mr-1
                      Release Form
                  - else
                    = link_to polymorphic_path([:new] + release_form_path_generator, client_id: @client.id), data: { loads_in_pjax_modal: true } do
                      %span.icon-checkmark.mr-1.o-color--gray-l
                      Release Form

                %li
                  - cha = @patient.chas.recent.first
                  - if cha
                    = link_to polymorphic_path([:edit] + cha_path_generator, client_id: @client.id, id: cha&.id), data: { loads_in_pjax_modal: true } do
                      - if cha.complete?
                        %span.icon-checkmark.o-color--positive.mr-1
                      Comprehensive Health Assessment
                  - else
                    = link_to polymorphic_path([:new] + cha_path_generator, client_id: @client.id), data: { loads_in_pjax_modal: true } do
                      %span.icon-checkmark.mr-1.o-color--gray-l
                      Comprehensive Health Assessment
                %li
                  - completed_ssm = @patient.self_sufficiency_matrix_forms.completed.recent.first
                  - if completed_ssm 
                    = link_to polymorphic_path(self_sufficiency_matrix_form_path_generator, id: completed_ssm.id) do
                      %span.icon-checkmark.o-color--positive.mr-1
                      Self-Sufficiency Matrix
                  - elsif ssm = @patient.self_sufficiency_matrix_forms.recent.first
                    = link_to polymorphic_path([:edit] + self_sufficiency_matrix_form_path_generator, id: ssm.id) do
                      Self-Sufficiency Matrix
                  - else
                    = link_to polymorphic_path([:new] + self_sufficiency_matrix_form_path_generator) do
                      Self-Sufficiency Matrix

      .ho-patient__details
        .row
          .col-md-6
            - @patient_summary[:details].each do |detail|
              .ho-patient__detail
                %span= "#{detail[0]}: "
                = detail[1]

          .col-md-6.text-right
            .row
              .col-sm-6.text-right
                PREFERRED COMMUNICATION:
              .col-sm-6.text-left
                (preference)
                %br
                (phone)
                %br
                (email)

    .ho-patient__content
      %h4
        Demographics
      %table
        - @patient_summary[:demographics].each do |row|
          %tr
            - row.each do |td|
              %td
                %small= "#{td[0]}: "
                = td[1]
      .row
        .col-sm-6
          %h4
            Allergies
        .col-sm-6
          %h4
            Advanced Directive
      .row
        .col-sm-6
          = @patient.allergy_list.presence || 'none'
        .col-sm-6
          (provided by CHA)
