%h4 Engagement Readiness & Forms

%ul.list-unstyled
  %li
    - participation = @patient.participation_forms.valid.recent.first
    - if participation
      = link_to polymorphic_path([:edit] + participation_form_path_generator, client_id: @client.id, id: participation&.id), data: { loads_in_pjax_modal: true } do
        - if participation.present?
          %span.icon-checkmark.o-color--positive.mr-1
        - else
          %span.icon-checkmark.mr-1.o-color--gray-l
        Participation Form
    - else
      = link_to polymorphic_path([:new] + participation_form_path_generator, client_id: @client.id), data: { loads_in_pjax_modal: true } do
        %span.icon-checkmark.mr-1.o-color--gray-l
        Participation Form

  %li
    - release = @patient.release_forms.valid.recent.first
    - if release
      = link_to polymorphic_path([:edit] + release_form_path_generator, client_id: @client.id, id: release&.id), data: { loads_in_pjax_modal: true } do
        - if release.present?
          %span.icon-checkmark.o-color--positive.mr-1
        - else
          %span.icon-checkmark.mr-1.o-color--gray-l
        Release of Information form
    - else
      = link_to polymorphic_path([:new] + release_form_path_generator, client_id: @client.id), data: { loads_in_pjax_modal: true } do
        %span.icon-checkmark.mr-1.o-color--gray-l
        Release of Information form
  %li
    - completed_ssm = @patient.self_sufficiency_matrix_forms.completed.recent.first
    - if completed_ssm
      = link_to polymorphic_path(self_sufficiency_matrix_form_path_generator, id: completed_ssm.id), data: { loads_in_pjax_modal: true } do
        %span.icon-checkmark.o-color--positive.mr-1
        Self-Sufficiency Matrix
    - elsif ssm = @patient.self_sufficiency_matrix_forms.recent.first
      = link_to polymorphic_path([:edit] + self_sufficiency_matrix_form_path_generator, id: ssm.id) do
        %span.icon-checkmark.mr-1.o-color--gray-l
        Self-Sufficiency Matrix
    - else
      = link_to polymorphic_path([:new] + self_sufficiency_matrix_form_path_generator) do
        %span.icon-checkmark.mr-1.o-color--gray-l
        Self-Sufficiency Matrix
  %li
    - cha = @patient.comprehensive_health_assessments.recent.first
    - if cha && ! cha.reviewed_by.present?
      = link_to polymorphic_path([:edit] + cha_path_generator, client_id: @client.id, id: cha&.id) do
        %span.icon-checkmark.mr-1.o-color--gray-l
        Comprehensive Health Assessment
    - elsif cha
      = link_to polymorphic_path(cha_path_generator, client_id: @client.id, id: cha&.id), data: { loads_in_pjax_modal: true } do
        %span.icon-checkmark.o-color--positive.mr-1
        Comprehensive Health Assessment
    - else
      = link_to polymorphic_path([:new] + cha_path_generator, client_id: @client.id) do
        %span.icon-checkmark.mr-1.o-color--gray-l
        Comprehensive Health Assessment
  %li
    - if @patient.careplans.locked.exists?
      - careplan = @patient.careplans.locked.last
      = link_to window_client_health_careplan_path(client_id: @client.id, id: careplan.id) do
        %span.icon-checkmark.o-color--positive.mr-1
        PCTP Signed
    - else
      = link_to new_window_client_health_careplan_path(@client) do
        %span.icon-checkmark.mr-1.o-color--gray-l
        PCTP Signed