- title = 'Client Healthcare Dashboard'
= content_for(:title, title)

= content_for :page_js do
  :javascript
    $('body').css('position', 'relative');

= content_for :body_data_scrollspy, true

%h1= "#{title} for #{@client.full_name}"
= render 'window/clients/breadcrumbs'
= render 'window/clients/tab_navigation', current: window_client_health_patient_index_path(@client)

