= simple_form_for :report_result do |f|
  %h3 Queue Report
  .well
    = f.error_notification
    .hud-report-options
      %h2 Required Options
      .row
        .col-sm-4
          = f.input :pit_date, input_html: {name: 'report_result[options][pit_date]', value: default_pit_date}, as: :date_picker, label: 'PIT date'
        .col-sm-4
          = f.input :chronic_date, collection: GrdaWarehouse::HudChronic.distinct.order(date: :desc).pluck(:date), input_html: {name: 'report_result[options][chronic_date]', value: default_chronic_date}, as: :select_two
        .col-sm-4
          = f.input :coc_codes, collection: GrdaWarehouse::Hud::ProjectCoc.viewable_by(current_user).pluck(:CoCCode).uniq, include_blank: false, input_html: {name: 'report_result[options][coc_codes][]', multiple: :multiple}, as: :select_two
      %h2 Project Limits
      .row.mb-2
        .col-sm-6
          = f.input :project_ids,  as: :grouped_select_two, group_method: :last, collection: GrdaWarehouse::Hud::Project.options_for_select(user: current_user), input_html: {name: 'report_result[options][project_ids][]', multiple: true, placeholder: 'Any Project'}, include_blank: true, label: 'Projects', required: false
        .col-sm-6
          = f.input :project_group_ids, collection: GrdaWarehouse::ProjectGroup.options_for_select(user: current_user), as: :select_two, input_html: {name: 'report_result[options][project_group_ids][]', multiple: true, placeholder: 'Any Project Group'}, label: 'Project Groups', required: false

      %hr
      .row
        .col-sm-12.mb-2
          = f.button :button, class: 'btn btn-primary pull-right' do
            %span.icon-plus
            Queue Report Run
