- if @pagy.count.positive?
  .text-right.mb-4
    = link_to({format: :xlsx}.merge({filter: filter_params}),{class: 'btn btn-secondary'}) do
      %i.icon-file-excel.icon-lg
      Download
  = render 'common/pagination_top', item_name: 'client'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Client ID
          %th Name
          %th DOB
          %th Vaccination dates
          %th Last Seen
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to client.id, polymorphic_path(['client_he', health_emergency], client_id: client)
            %td= link_to client.name, polymorphic_path(['client_he', health_emergency], client_id: client)
            %td= client.DOB
            %td= client.health_emergency_vaccinations.pluck(:vaccinated_on).join(', ')
            %td
              - served_on = client.date_of_last_service
              = client.last_projects_served_by.to_sentence
              - if served_on
                on
                = served_on
  = render 'common/pagination_bottom', item_name: 'client'
- else
  .none-found No clients found.
