- markdown = Redcarpet::Markdown.new(::TranslatedHtml)
.card.mb-4
  %table.table.table-striped
    %tbody
      %tr
        %th Override
        %th Effected Projects
        %th Data Source
        %th Expires
        - if can_upload_hud_zips?
          %th Remove
      -# The next two lines and complicated data structure are a side-effect of how the
      -# data is built and previous display.  Leaving it for now since it doesn't really hurt anything.
      - @data.each do |file_name, records|
        - records.each do |data_source_id, group|
          - group.values.each do |data|
            - projects = data[:projects].compact_blank
            - data[:overrides].each do |override|
              %tr
                %td
                  = markdown.render(override.describe_overall).html_safe
                  - if override.description
                    %p.description
                      %strong Description:
                      = override.description
                  .created-by= markdown.render(override.describe_created).html_safe
                %td
                  - if projects.blank?
                    .text.text-danger.d-flex
                      %i.icon-warning.mt-2.mr-2
                      %span= override.incorrect_warning
                  - elsif projects == ['Any']
                    Any
                  - else
                    - projects.each do |project|
                      .project= link_to_if can_view_imports_projects_or_organizations?, project.name(current_user), project_path(project)
                %td= link_to_if can_view_imports_projects_or_organizations?, override.data_source.name, data_source_path(override.data_source)
                %td= override.describe_expiration
                - if can_upload_hud_zips?
                  %td
                    = link_to hmis_csv_importer_data_source_import_override_path(override.data_source, override, redirect_to_report: true), method: :delete, class: 'btn btn-sm btn-icon-only btn-danger', data: { confirm: "Really delete override for #{override.replaces_column}?"} do
                      %i.icon-cross
