- title = @report.title
- content_for :title, title
- r_data = @report.data

= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
%h1.mb-5= title
.d-flex.mb-4
  %p The following items have been overridden from their HMIS values.
  .ml-auto
    = render 'report_downloads/report_download', export: nil, excel_download_path: override_summary_warehouse_reports_reports_path({format: :xlsx})
- if r_data.present?
  - r_data.each do |organization_name, projects|
    .panel-group.panel-collapsible{ id: organization_name.parameterize }
    - content_for :panel_collapse_content, flush: true do
      - projects.each do |project_name, data|
        .mb-6
          %h3= link_to project_name, project_path(data[:project]), target: :_blank
          - if data[:projects]
            - data[:projects].each do |project|
              .mb-4.card
                = render 'hmis_csv_importer/import_overrides/table', overrides: project.import_overrides, data_source: project.data_source, editable: false, show_associated_project: false
          - if data[:inventories]
            - data[:inventories].each do |inventory|
              .mb-4.card
                = render 'hmis_csv_importer/import_overrides/table', overrides: inventory.import_overrides, data_source: inventory.data_source, editable: false, show_associated_project: false
          - if data[:project_cocs]
            - data[:project_cocs].each do |project_coc|
              .mb-4.card
                = render 'hmis_csv_importer/import_overrides/table', overrides: project_coc.import_overrides, data_source: project_coc.data_source, editable: false, show_associated_project: false
          - if data[:funders]
            - data[:funders].each do |funder|
              .mb-4.card
                = render 'hmis_csv_importer/import_overrides/table', overrides: funder.import_overrides, data_source: funder.data_source, editable: false, show_associated_project: false
          - if data[:affiliations]
            - data[:affiliations].each do |affiliation|
              .mb-4.card
                = render 'hmis_csv_importer/import_overrides/table', overrides: affiliation.import_overrides, data_source: affiliation.data_source, editable: false, show_associated_project: false
    = render 'common/panel_collapse', id: organization_name.parameterize, title: organization_name
- else
  .none-found No overrides found
