-if can_edit_data_sources?
  .config-button-wrapper
    = link_to edit_data_source_path, class: 'btn btn-secondary btn-sm mb-4 mr-2' do
      %i.icon.icon-pencil
      = "Edit #{@data_source.name}"

- if ! @data_source.authoritative? && can_upload_hud_zips? && @data_source.directly_viewable_by?(current_user)
  .config-button-wrapper
    = link_to new_data_source_upload_path(@data_source), class: 'btn btn-sm btn-secondary mb-4 mr-2' do
      %span.icon-upload2
      Upload HUD HMIS ZIP

- if can_upload_dashboard_extras?
  .config-button-wrapper
    = link_to new_data_source_non_hmis_upload_path(@data_source), class: 'btn btn-sm btn-secondary mb-4 mr-2' do
      %span.icon-upload2
      Upload #{GrdaWarehouse::Config.active_supplmental_enrollment_importer_class.title}

- if can_edit_data_sources?
  .config-button-wrapper
    = link_to new_data_source_hmis_import_config_path(data_source_id: @data_source), class: 'btn btn-secondary btn-sm mb-4 mr-2' do
      %i.icon.icon-pencil
      Automate HMIS CSV Loads

- if can_edit_data_sources? && GrdaWarehouse::Config.get(:eto_api_available)
  .config-button-wrapper
    = link_to new_data_source_api_config_path(data_source_id: @data_source), class: 'btn btn-secondary btn-sm mb-4 mr-2' do
      %i.icon.icon-pencil
      Configure ETO API

- if can_edit_data_sources? && RailsDrivers.loaded.include?(:hmis_csv_importer)
  .config-button-wrapper
    = link_to edit_hmis_csv_importer_importer_extension_path(@data_source), class: 'btn btn-sm btn-secondary mb-4 mr-2' do
      %span.icon-eye
      Show Importer Extensions

- if can_edit_data_sources? && Rails.application.config.custom_imports.any?
  .config-button-wrapper
    = link_to data_source_custom_imports_path(@data_source), class: 'btn btn-sm btn-secondary mb-4 mr-2' do
      %span.icon-eye
      Show Custom Imports
