.c-card--flush.mb-5
  %header.row.c-card__header
    .col-sm-8
      %h3
        = org.name
        - if can_see_raw_hmis_data?
          = link_to 'HMIS', hmi_path(org.id, type: 'Organization'), class: 'btn btn-xs btn-secondary btn-hmis ml-2'
      - if org.dmh
        Treated as DMH for chronic calculations
    .col-sm-4.text-right
      - if can_edit_organizations?
        .mb-4
          = link_to edit_organization_path(org), class: 'btn btn-secondary btn-sm' do
            %i.icon-pencil
            Edit Organization
        .mb-4
          = link_to organization_contacts_path(organization_id: org.id), class: 'btn btn-secondary btn-sm' do
            %i.icon-users
            View/Edit Organization Contacts
      - if can_delete_data_sources?
        .mb-4
          = link_to organization_path(org), method: :delete, class: ['btn', 'btn-sm', 'btn-danger'], data: { confirm: "Deleting #{org.OrganizationName} will delete ALL associated data.  Do you want to proceed?"} do
            %i.icon-cross
            Delete Organization
  %table.table.table-sm
    %thead
      %tr
        %th Project
        %th Project Type
        %th Tracking Method
        %th.text-center Confidential?
        %th Edit
        %th
    %tbody
      - org.projects.each do |project|
        = render 'project', project: project, org: org
