%tr
  %td
    .project__name.mb-2{id: "project-#{project.id}"}
      = link_to_if can_view_projects?, project.name(current_user, ignore_confidential_status: can_edit_projects?), project_path(project)
    %td
      .enrollment__project_type{class: "client__service_type_#{project.ProjectType}"}
        .service-type__program-type{data: {toggle: :tooltip, title: HUD.project_type(project.ProjectType)}}
          = HUD.project_type_brief project.ProjectType
      - if project.act_as_project_type.present? && project.act_as_project_type != project.ProjectType
        .o-text--italic.mb-2
          Acts as
          = HUD.project_type project.act_as_project_type
    %td= HUD.tracking_method project.TrackingMethod
    %td.text-center
      %span{data: {toggle: :tooltip, title: project.confidential_hint}}
        = checkmark project.confidential

    - if can_edit_projects?
      %td
        = link_to edit_project_path(project), class: ['btn', 'btn-sm', 'btn-secondary', 'btn-icon-only'] do
          %i.icon-pencil
    %td
      - if can_see_raw_hmis_data?
        = link_to 'HMIS', hmi_path(project.id, type: 'Project'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis'
