%tr
  %td
    .project__name.mb-2{id: "project-#{project.id}"}
      = link_to_if can_view_projects?, project.name(current_user, ignore_confidential_status: can_edit_projects?), project_path(project)
    %td.d-flex
      .enrollment__project_type.mr-2{class: "client__service_type_#{project.ProjectType}"}
        .service-type__program-type{data: {toggle: :tooltip, title: HudUtility2024.project_type(project.ProjectType)}}
          = HudUtility2024.project_type_brief project.ProjectType
    %td.text-center
      %span{data: {toggle: :tooltip, title: project.confidential_hint}}
        = checkmark project.confidential

    - if can_edit_projects?
      %td
        .d-flex
          = link_to edit_project_path(project), class: ['btn', 'btn-sm', 'btn-secondary', 'btn-icon-only', 'my-1'] do
            %i.icon-pencil
          - if RailsDrivers.loaded.include?(:hmis_csv_importer)
            .show-on-row-hover-wrapper.ml-4
              .show-on-row-hover
                = link_to new_hmis_csv_importer_data_source_import_override_path(project.data_source.id, file_type: 'Project.csv', hmis_value: project.ProjectID), class: 'btn btn-sm btn-secondary' do
                  %i.icon-plus
                  Add Override
    %td
      - if can_see_raw_hmis_data?
        = link_to 'HMIS', source_datum_path(project.id, type: 'Project'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis'
      - if RailsDrivers.loaded.include?(:hmis_csv_importer) && HmisCsvImporter::ImportOverride.any_apply?(project, @overrides)
        %i.icon-info{data: {toggle: :tooltip, title: "Overrides Active"}}
