- content_for :title,  _('Data Sources')
.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4
    = link_to new_data_source_path, class: 'btn btn-primary' do
      %span.icon-plus
      Add Data Source
.row.table-utilities
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Name
            %th Short Name
            %th Last Import Run
            %th Data Span
            %th Visible in Window
            %th Authoritative?
            %th
        %tbody
          - @data_sources.each do |data_source|
            %tr
              %td
                = link_to data_source.name, data_source_path(data_source)
              %td
                = data_source.short_name
              %td
                = data_source.last_imported_at
              %td
                - if (data_span = @data_spans_by_id[data_source.id])
                  = "#{data_span[:start_date]}-#{data_span[:end_date]}"
              %td
                = checkmark(data_source.visible_in_window)
              %td
                = checkmark(data_source.authoritative)
              %td
                - unless data_source.has_data?
                  = link_to data_source_path(data_source), method: :delete, data: {confirm: "Are you sure you want to delete the #{data_source.name} Data Source?"} do
                    %span.icon-cross