
= render 'breadcrumbs'
.row
  .col-sm-6
    %h1= @data_source.name
  .col-sm-6.text-right
.row
  .col-sm-8
    = render 'edit_form'
  .col-sm-4
    = render 'buttons'
- if @data_source.has_data?
  .row.table-utilities
    .col-sm-12
      %h2
        = _('Organizations')
        &amp;
        = _('Projects')
      .table-responsive
        - @organizations.each do |org|
          = render 'organization', org: org