
= render 'breadcrumbs'
.row.mb-4
  .col-sm-6
    %h1
      = @data_source.name
    %em.text-muted
      Data Source ID:
      %strong= @data_source.id
  .col-sm-6.text-right
.row
  .col-sm-8
    = render 'source_details'
  .col-sm-4
    = render 'buttons'
- if @data_source.has_data?
  .row.table-utilities
    .col-sm-12
      %h2
        = _('Organizations')
        &amp;
        = _('Projects')
      .table-responsive
        - @organizations.each do |org|
          = render 'organization', org: org
