.row
  .col-sm-8
    - url = @page.persisted? ? admin_content_page_path(@page) : admin_content_pages_path
    = simple_form_for @page, url: url, as: :content_page do |f|
      = f.error_notification
      .form-inputs
        - slug_hint = 'URL-friendly identifier. Page will be available at (https://my.site/pages/<slug>). Cannot be changed after creation.'
        = f.input :slug, required: true, disabled: @page.persisted?, hint: slug_hint
        = f.input :title, required: true, label: 'Page Title', hint: 'Title displayed in the browser tab or bookmark'
        = f.input :content, as: :text, input_html: { rows: 20, id: 'markdown-editor' }, label: 'Markdown formatted content'

      .form-actions.mt-3
        = f.button :submit, 'Save', class: 'btn btn-primary'
        = link_to 'Cancel', admin_content_pages_path, class: 'btn btn-secondary ml-2'
