- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
.row
  - reports.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      %h3 Gender Breakdowns
      .card.mb-4{class: comparison_class}
        %table.table
          %thead
            %tr
              %th Gender
              %th Count
              %th Percentage
          %tbody
            - HUD.genders.each do |id, title|
              %tr
                %th= title
                %td= link_to_if can_view_clients?, number_with_delimiter(report.gender_count(id)), details_core_demographics_report_warehouse_reports_core_index_path(link_params.merge(key: "gender_#{id}")), target: :_blank
                %td= number_to_percentage(report.gender_percentage(id), precision: 2)
