- title = "Support for #{@report.support_title(@key)}"
= content_for :modal_title, title
.d-flex
  %p.mr-auto= @filter.date_range_words
  %div
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      %i.icon.icon-download2
      Download Excel

- scope = @report.detail_scope_from_key(@key)
- if scope.exists?
  - headers = @report.header_for(@key)
  %p Showing #{pluralize(number_with_delimiter(scope.distinct.select(:client_id).count), 'client')}.
  .card
    %table.table.table-striped
      %thead
        %tr
          - headers.each do |header|
            %th= header
      %tbody
        - scope.pluck(*@report.columns_for(@key)).each do |row|
          %tr
            - row.each_with_index do |col, i|
              %td
                - if i == 0
                  = link_to col, appropriate_client_path(id: col)
                - else
                  = @report.detail_column_display(header: headers[i], column: col)
