%table.table.table-hover
  %thead
    %tr
      %th Client
      %th Name
      %th Engagement Date
      %th Last Seen
  %tbody
    - @report.clients.each do |client|
      %tr
        %td= link_to client[:id], client_path(client[:id])
        %td= "#{client[:first_name]} #{client[:last_name]}"
        %td= client[:engagement_date]
        %td= client[:last_seen]