= simple_form_for @filter, as: :filter, url: download_warehouse_reports_confidential_touch_point_exports_path(format: :xlsx), html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_l do
    = f.input :start, input_html: {value: @filter.start, class: 'form-control jStart'}, as: :date_picker, label: false
    = f.input :end, input_html: {value: @filter.end, class: 'form-control jStart'}, as: :date_picker, label: false

  - content_for :filters_col_r do
    = f.input :name, collection: @filter.touch_points_for_user(current_user), input_html: { class: 'select2', data: { placeholder: 'Name' } }, label: false

  - content_for :filter_actions do
    = f.button :submit, value: 'Download'

  = render 'warehouse_reports/filters', f:f
