- title = "#{GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert[@sub_population]} Last Permanent Zip Detail"
- content_for :title, title
.row
  .col-sm-8
    %h1= title
= render '/warehouse_reports/breadcrumbs'

= render 'filter'

.d-flex
  %p
    The following is last permanent zip code information for clients with open enrollments between
    = @range.start
    and
    = "#{@range.end}."
  .ml-auto.mb-0
    - if can_view_clients?
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
        Download Excel
= render 'common/population_warnings'
= render 'warehouse_reports/limited_by_project_note'

.card
  %table.mb-0.table.table-striped
    %thead
      %tr
        %th Client
        %th Last Permanent Zip
        %th Unaccompanied?
        %th Age at Entry
        %th Parenting?
        %th Entry Date
        %th Exit Date
        %th Project Name
        %th Head of Household?
    %tbody
      - @clients.each do |client_id, enrollment|
        - client = enrollment.client
        %tr
          %td= link_to_if can_view_clients?, "#{client.FirstName} #{client.LastName}", appropriate_client_path(id: client_id)
          %td= enrollment.enrollment&.LastPermanentZIP
          %td= checkmark(enrollment.unaccompanied_youth)
          %td= enrollment.age
          %td= checkmark(enrollment.parenting_youth || enrollment.parenting_juvenile)
          %td= enrollment.first_date_in_program
          %td= enrollment.last_date_in_program
          %td= enrollment.project.name(current_user)
          %td= checkmark(enrollment.head_of_household)
