.ml-auto
  .d-flex.align-items-center
    - if can_bulk_assign?
      .form-group.form-check.mr-4.mb-0
        .c-checkbox.c-checkbox.mr-4
          = check_box_tag :select_all, 'all', false
          %label{for: 'select_all'}
            %span Select All
      .dropdown{style: 'display:inline-block;'}
        %button.btn.btn-secondary{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
          Actions
          %span.caret
        .dropdown-menu.dropdown-menu-right.p-2.nobr
          .pl-2.pr-2.pb-4.pt-4
            %label.bulkSubmitSelectionsLabel Submit agency and care staff selection.
            %br
            %button.btn.btn-default.mb-3.bulk-submit-selections{ data: {url: bulk_assign_agency_and_care_staff_admin_health_patient_referrals_path }}
              Assign Selected Agencies and Care Staff
          .dropdown-divider
          .pl-2.pr-2.pb-4.pt-4
            = simple_form_for :bulk_assignment, url: bulk_assign_agency_admin_health_patient_referrals_path do |f|
              = f.input :agency_id, as: :select_two, collection: @agencies, label_method: :name, value_method: :id, required: false
              = f.input :patient_referral_ids, as: :check_boxes, collection: @patient_referrals, label_method: :first_name, value_method: :id, wrapper_html: {style: 'display:none;'}, label: false
              = f.submit 'Assign Agencies', class: 'btn btn-primary'
    - if current_user.has_patient_referral_review_access?
      = link_to tab_path_params.merge(format: :xlsx), class: 'btn btn-secondary ml-4' do
        %i.icon-download2
        Download Excel
