.dropdown
  %button.btn.btn-default#filter-patient-referrals{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
    Filter
    %span.caret
  .dropdown-menu#filter-patient-referrals{style: 'padding: 10px;'}
    = simple_form_for :filters, url: admin_health_patient_referrals_path, method: :get do |f|
      = f.input :added_before, as: :date_picker
      = f.input :relationship, as: :radio_buttons, collection: [['All', :all], ['Claimed', :claimed], ['Unclaimed', :unclaimed]], label: 'Claimed?'
      = f.input :agency_id, collection: @agencies, label_method: :name, value_method: :id
      .text-right
        = link_to admin_health_patient_referrals_path, class: 'btn btn-secondary margin-right-02' do
          %i.icon-cross
          Clear Filters
        %button.btn.btn-action{type: 'submit'}
          %i.icon-filter
          Filter

