.row
  .col-sm-8
    = f.input :first_name, label: 'First Name'
    = f.input :middle_initial, label: 'Middle Initial'
    = f.input :last_name, label: 'Last Name'
    = f.input :suffix
    = f.input :gender, collection: ['M', 'F', 'U']
.row
  .col-sm-6.col-lg-4
    = f.input :birthdate, as: :date_picker, label: 'Date of Birth'
.row
  .col-sm-3
    = f.input :ssn, label: 'SSN'
.row
  .col-sm-3
    = f.input :medicaid_id, label: 'Medicaid ID'
.row
  .col-sm-6.col-lg-4
    = f.input :effective_date, as: :date_picker
.row
  .col-sm-8
    = f.input :accountable_care_organization_id, collection: Health::AccountableCareOrganization.active, label_method: :name, value_method: :id, label: 'Accountable Care Organization'
    = f.input :agency_id, collection: @agencies, label_menthod: :name, value_method: :id, label: 'Assign Agency'
    = f.input :health_plan_id, label: 'Health Plan ID'
    = f.input :cp_assignment_plan, label: 'Member CP Assignment Plan'
    = f.input :cp_name_dsrip, label: 'CP Name DSRIP'
    = f.input :cp_name_official, label: 'CP Name Official'
    = f.input :cp_pid, label: 'CP PID'
    = f.input :cp_sl, label: 'CP SL'
    = f.input :enrollment_start_date, as: :date_picker, label: 'Enrollment Start Date'
    = f.input :start_reason_description, label: 'Start Reason Desc'
    = f.input :address_line_1, label: 'Residential Address Line 1'
    = f.input :address_line_2, label: 'Residential Address Line 2'
    = f.input :address_city, label: 'Residential Address City'
    = f.input :address_state, label: 'Residential Address State'
    = f.input :address_zip, label: 'Residential Address ZipCode 1'
    = f.input :address_zip_plus_4, label: 'Residential Address ZipCode 2'
    = f.input :email, label: 'Email'
    = f.input :phone_cell, label: 'Phone Number Cell'
    = f.input :phone_day, label: 'Phone Number Day'
    = f.input :phone_night, label: 'Phone Number Night'
    = f.input :primary_language, label: 'Primary Language Spoken Desc'
    = f.input :primary_diagnosis, label: 'Primary Diagnosis'
    = f.input :secondary_diagnosis, label: 'Secondary Diagnosis'
    = f.input :pcp_last_name, label: 'PCP Name Last'
    = f.input :pcp_first_name, label: 'PCP Name First'
    = f.input :pcp_npi, label: 'PCP NPI'
    = f.input :pcp_address_line_1, label: 'PCP Address Line 1'
    = f.input :pcp_address_line_2, label: 'PCP Address Line 2'
    = f.input :pcp_address_city, label: 'PCP Address City'
    = f.input :pcp_address_state, label: 'PCP Address State'
    = f.input :pcp_address_zip, label: 'PCP Address ZipCode'
    = f.input :pcp_address_phone, label: 'PCP Phone Number'
    = f.input :dmh, label: 'DMH Flag', collection: ['Y', 'N']
    = f.input :dds, label: 'DDS flag', collection: ['Y', 'N']
    = f.input :eoea, label: 'EOEA FLAG', collection: ['Y', 'N']
    = f.input :ed_visits, label: 'ED Visits'
    = f.input :snf_discharge, label: 'SNF Discharge', collection: ['Y', 'N']
    = f.input :identification, label: 'Identification Flag', collection: ['ACCS', 'Post-CBFS', 'Identified', 'Identified Relationship']
    = f.input :record_status, label: 'Record Status', collection: ['A', 'I', 'N', 'U', 'D']