- state = @new_patient_referral.errors.empty? ? 'closed' : 'open'
.modal.fade#new-patient-referral__modal{role: 'dialog'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .pull-right
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span &times;
        %h3 Add Patient Referral
        - if flash[:error].present?
          .alert.alert-danger.error= flash[:error]
        .row
          .col-xs-12.col-md-6
            = simple_form_for @new_patient_referral, url: add_patient_referral_path do |f|
              = f.input :first_name, label: 'First Name'
              = f.input :last_name, label: 'Last Name'
              = f.input :birthdate, as: :date_picker, label: 'Date of Birth'
              = f.input :ssn, label: 'SSN'
              = f.input :medicaid_id, label: 'Medicaid ID'
              = f.input :effective_date, as: :date_picker
              = f.input :accountable_care_organization_id, collection: Health::AccountableCareOrganization.all, label_method: :name, value_method: :id, label: 'Accountable Care Organization'
              = f.input :agency_id, collection: @agencies, label_menthod: :name, value_method: :id, label: 'Assign Agency'
              = f.submit 'Add Patient', class: 'btn btn-secondary'

- if state == 'open'
  - content_for :page_js do
    :javascript
      $(document).ready(function() {
        $('#new-patient-referral__modal').modal('show');
      });
