- if pr.assigned?
  = render 'reassign_agency', pr: pr
- else
  .col-sm-3.offset-sm-1
    = render 'assign_agency', pr: pr
  .col-sm-1
.col-sm-2
  = render 'reject', pr: pr
- if can_bulk_assign?
  .col-sm-1.d-flex
    .c-checkbox.c-checkbox.ml-auto
      - id = "patient_referral_id_#{pr.id}"
      = check_box_tag :patient_referral_id, pr.id, nil, id: id
      %label{for: id}
