.c-card.mb-2.c-card-overflow-inherit
  .c-card__content.jPatientReferral
    .row
      .col-sm-2
        .patient-name.mb-2
          - if client = pr.client
            = link_to pr.name, client_health_patient_index_path(client)
          - else
            = pr.name
        .edit-button
          = link_to edit_admin_health_patient_referral_path(pr), class: ['btn', 'btn-sm', 'btn-secondary'] do
            %i.icon-pencil
            %span Edit
      .col-sm-3
        %div
          %strong DOB:
          = pr.birthdate
        %div
          %strong Age:
          = pr.age
        %div
          %strong Medicaid ID:
          = pr.medicaid_id
        %div
          %strong ACO:
          = pr.aco_name.presence || pr.aco&.short_name
          - if pr.accountable_care_organization_id.present?
            (matched)
        %div
          %strong Referral Date:
          = pr.enrollment_start_date
        - if pr.pending_disenrollment_date.present?
          %div
            %strong Pending Disenrollment Date:
            = pr.pending_disenrollment_date
        - if pr.disenrollment_date.present?
          %div
            %strong Disenrollment Date:
            = pr.disenrollment_date
      = render 'patient_referral_actions', pr: pr
