.col-xs-12.col-md-2
  %div.margin-bottom-01
    %strong Claimed By:
    - pr.display_claimed_by.each do |c|
      %div= c
  %div
    - unclaimed = pr.display_unclaimed_by
    - if unclaimed.size > 0
      %strong 
        Unknown By 
        = unclaimed.size
      .inline-icon.inline-icon--left{data: {toggle: 'tooltip', placement: 'right', title: unclaimed.join('</br>'), html: 'true'}}
        %i.icon-notification
.col-xs-12.col-md-2
  - if pr.assigned?
    %strong Assigned To:
    %br
    = pr.assigned_agency.name
    = render 'assign_agency', pr: pr, label: 'Change Agency'
  - else
    = render 'assign_agency', pr: pr, label: 'Assign Agency'
.col-xs-12.col-md-2
.col-xs-12.col-md-1.text-right
  - if can_administer_health? && can_bulk_assign?
    = check_box_tag :patient_referral_id, pr.id