= render 'header'
= render 'tabs'
.clearfix
  = render 'paginate'
  - if can_administer_health? && can_bulk_assign?
    = render 'actions'
= render 'patient_referrals'
= render 'new_modal'
= render 'assign_agency_js'
= render 'reject_js'