- title = 'Healthcare Administration'
- content_for(:title, title)
%h1= title
= render 'menus/health_admin_tabs'
.clearfix
  .pull-left
    %h3 Add and Review Patient Referrals
    %p Patients added here can be claimed by agencies, subject to BHCHP approval.
  .pull-right.margin-top-02
    %button.btn.btn-secondary{type: 'button', data: {toggle: 'modal', target: '#new-patient-referral__modal'}} Add Patient

.patient-referrals
  - @patient_referrals.each do |pr|
    .row
      .col-xs-12
        .patient-referral
          .row
            .col-xs-12.col-md-3
              = pr.name
            .col-xs-12.col-md-3
              %div= "<strong>DOB:</strong> #{pr.birthdate} <strong>Age:</strong> #{pr.age}".html_safe 
              %div= "<strong>SNN:</strong> #{pr.display_ssn}".html_safe
              %div= "<strong>Medicaid ID:</strong> #{pr.medicaid_id}".html_safe
            .col-xs-12.col-md-3
              %div.margin-bottom-01
                %strong Claimed By:
                - pr.claimed_by.each do |c|
                  %div= c
              %div
                %strong Unknown By 
                TODO

            .col-xs-12.col-md-3



= render 'new_modal'