= render 'header'
%div{id: 'notice'}
= render 'tabs'
.d-flex.mb-4
  = render 'paginate'
  - if can_administer_health?
    = render 'actions'
= render 'patient_referrals'
=# render 'new_modal'
= render 'assign_agency_js'
= render 'reject_js'
