- title = "Edit Project Contact for #{@entity.name(ignore_confidential_status: true)}"
- content_for :title, title
%h1= title
.row
  .col-sm-4
    = simple_form_for(@contact, as: :contact, url: project_contact_path(@entity, @contact)) do |f|
      = render 'form', f: f
      .form-actions
        = f.button :submit, value: 'Update Contact'
