- title = "New Project Contact for #{@entity.ProjectName}"
- content_for :title, title
%h1= title
.row
  .col-sm-4
    = simple_form_for(@contact, as: :contact, url: project_contacts_path(@entity)) do |f|
      = render 'form', f: f
      .form-actions
        = f.button :submit, value: 'Add Contact'