- title = 'Missing CoC Codes'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
= render 'filter'
- if @pagy.count.positive?
  .text-right.mb-4
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      %i.icon-file-excel.icon-lg
      Download
  = render 'common/pagination_top', item_name: 'enrollment'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Client
          %th Project
          %th Project CoC Code
          %th Entry Date
          %th Exit Date
          %th Data Collection Stages
      %tbody
        - @enrollments.each do |en|
          - client = en.client
          - destination_client = client.destination_client
          - project = en.project
          %tr
            %td= link_to_if can_view_clients? && destination_client, destination_client&.name || 'Not yet processed', appropriate_client_path(destination_client)
            %td= project.name
            %td= project.project_cocs&.map(&:effective_coc_code)&.join(', ')
            %td= en.EntryDate
            %td= en.exit&.ExitDate
            %td= en.enrollment_cocs.map(&:DataCollectionStage).uniq.compact.join(', ').presence || 'EnrollmentCoC missing'
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('enrollment').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found.mt-4 No enrollments found.
