%h2 Scorecard Ready
%p
  A project scorecard was recently completed for
  = "#{@project_name} in the #{_('Boston DND HMIS Warehouse')}."
  You can review and respond to this scorecard by following this link:
  %br
  = link_to edit_project_scorecard_warehouse_reports_scorecard_url(@report.id) do
    = "Pre-filled Scorecard for #{@project_name}."
