.slab
  %table.table.table-condensed.datatable
    %thead
      %tr
        %th{style: 'width: 10em;'} Date
        %th Department
        %th Type
        %th Doctor
        %th SA
    %tbody
      - appointments.each do |visit|
        %tr
          %td= visit.appointment_time
          %td= visit.department
          %td= visit.appointment_type
          %td= visit.doctor
          %td= visit.sa