- title = 'Appointments'
= content_for(:title, title)
- if request.xhr?.nil?
  %h1= content_for :title
- else
  %h2= content_for :title

- if @patient.present?
  .row
    .col-sm-6
      %h3 Upcoming Appointments
      - if @upcoming.any?
        %p.note.small
          Upcoming Appointments at #{Health::Appointment.ignore_departments.to_sentence} are not shown.
        = render 'appointments_table', appointments: @upcoming
      - else
        %p No upcoming appointments scheduled.
    .col-sm-6
      %h3 Past Appointments
      - if @past.any?
        = render 'appointments_table', appointments: @past
      - else
        %p No past appointments.

= content_for :page_js do
  :javascript
    $('.datatable').DataTable({
      searching: false,
      ordering: false,
      pageLength: 15,
      lengthChange: false,
      pagingType: 'simple'
    });