%table.table.table-striped
  %thead
    %tr
      %th File
      %th Replaces
      %th With
      %th When
      - if defined?(can_apply_override) && can_apply_override
        %th
      - if editable
        %th
  %tbody
    - overrides.each do |override|
      %tr
        %td
          = override.file_name
          - projects = override.project
          - if projects.any? && show_associated_project
            .associated-projects
              Associated Project
              %ul
                - projects.each do |project|
                  %li= link_to_if can_view_projects?, project.name(current_user, ignore_confidential_status: can_edit_projects?), project_path(project)
        %td= override.replaces_column
        %td= override.describe_with
        %td= override.describe_when
        - if defined?(can_apply_override) && can_apply_override
          %td
            = link_to apply_hmis_csv_importer_data_source_import_override_path(data_source, override), method: :patch, class: 'btn btn-sm btn-info', data: { confirm: 'Are you sure you want to?'} do
              Apply to Warehouse
        - if editable
          %td
            = link_to hmis_csv_importer_data_source_import_override_path(data_source, override), method: :delete, class: 'btn btn-sm btn-icon-only btn-danger', data: { confirm: "Really delete override for #{override.replaces_column}?"} do
              %i.icon-cross
