%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Slug
      %th Data Source
      %th S3 Bucket
      %th
  %tbody
    - list.preload(:data_source, :remote_credential).each do |data_set|
      %tr
        %td= link_to data_set.name, url_for(action: :edit, id: data_set.id)
        %td= data_set.slug
        %td= data_set.data_source.name
        %td
          = [data_set.remote_credential.bucket, data_set.remote_credential.s3_prefix].join('/')
        %td= render 'actions', data_set: data_set
