= simple_form_for @filter, as: :filter, url: warehouse_reports_youth_activity_index_path,  html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-3
        = f.input :start, label: 'From', as: :date_picker
      .col-sm-3
        = f.input :end, label: 'To', as: :date_picker
      .col-sm-6
        = f.input :activity_type, collection: activity_types, as: :select_two, input_html: { multiple: true, placeholder: 'All Types' }
    .row
      .col-sm-3
        = f.input :agency_id, collection: available_agencies, as: :select_two, include_blank: 'Any Agency'
      .col-sm-3
        = f.input :user_id, collection: available_users, as: :select_two, include_blank: 'Any User'

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f
