= hidden_field_tag :breakdown, breakdown
- last_group_html = {class: 'mb-0'}
%ul.nav.nav-tabs.nav-tabs--in-card{role: :tablist}
  %li.nav-item{role: :presentation}
    %a{href: '#dates', role: :tab, data: {toggle: :tab}, aria: {controls: 'dates'}, class: 'nav-link active'}
      Dates
  %li.nav-item{role: :presentation}
    %a{href: '#projects', role: :tab, data: {toggle: :tab}, aria: {controls: 'projects'}, class: 'nav-link'}
      Projects & Funding
  %li.nav-item{role: :presentation}
    %a{href: '#household', role: :tab, data: {toggle: :tab}, aria: {controls: 'household'}, class: 'nav-link'}
      Household
  %li.nav-item{role: :presentation}
    %a{href: '#demographics', role: :tab, data: {toggle: :tab}, aria: {controls: 'demographics'}, class: 'nav-link'}
      Demographics
.tab-content#reports-tab-content
  #dates.tab-pane.active{role: :tabpanel}
    .row
      .col-sm-3
        = f.input :start_date, as: :date_picker, input_html: { value: @filter[:start_date] }, label: 'Start date of period'
      .col-sm-3
        = f.input :end_date, as: :date_picker, input_html: { value: @filter[:end_date] }, label: 'End date of period'
    - if include_comparison_pattern?
      .row
        .col-sm-12
          = f.input :comparison_pattern, as: :boolean_button_group, collection: PerformanceDashboards::Overview.comparison_patterns, label: 'Compare with', include_blank: false, selected: @filter[:comparison_pattern], wrapper_html: last_group_html
  #projects.tab-pane{role: :tabpanel}
    .row
      - if GrdaWarehouse::Config.get(:multi_coc_installation)
        .col-sm-4
          = f.input :coc_codes, collection: @report.available_cocs_for_select, selected: @filter[:coc_codes], required: false, input_html: { multiple: true, class: [:select2, 'select2-id-when-selected'] }
      .col-sm-8
        - if multiple_project_types?
          = f.input :project_type_codes, collection: GrdaWarehouse::Hud::Project::PROJECT_GROUP_TITLES.invert, selected: @filter[:project_type_codes], required: false, input_html: { multiple: true, class: [:select2, 'select2-parenthetical-when-selected'] }, wrapper_html: last_group_html
        - else
          = f.input :project_type_codes, collection: GrdaWarehouse::Hud::Project::PROJECT_GROUP_TITLES.invert, selected: @filter[:project_type_codes], required: false, label: 'Project Type', input_html: { class: :select2 }, wrapper_html: last_group_html
    .row.mt-4
      .col-sm-6
        = f.input :funder_ids, collection: @report.available_funders_for_select, selected: @filter[:funder_ids], input_html: {multiple: true, class: 'select2'}, label: 'Funding Sources'
      .col-sm-6
        = f.input :data_source_ids, collection: @report.available_data_sources_for_select, selected: @filter[:data_source_ids], input_html: {multiple: true, class: 'select2'}, label: 'Data Sources'
    .row
      .col-sm-6
        = f.input :organization_ids, collection: @report.available_organizations_for_select, selected: @filter[:organization_ids], as: :grouped_select, group_method: :last, input_html: {multiple: true, class: 'select2'}, label: 'Organizations'
      .col-sm-6
        = f.input :project_ids, collection: @report.available_projects_for_select, selected: @filter[:project_ids], as: :grouped_select, group_method: :last, input_html: {multiple: true, class: 'select2'}, label: 'Projects'
  #household.tab-pane{role: :tabpanel}
    .row
      .col-sm-4
        = f.input :household_type, collection: @report.household_types, include_blank: false, selected: @filter[:household_type], required: false, input_html: { class: :select2 }
      .col-sm-4.d-flex.align-items-center
        = f.input :hoh_only, as: :boolean, label: 'Only Heads of Household', required: false, input_html: { checked: @filter[:hoh_only] }, wrapper_html: last_group_html
    .row
      .col-sm-4
        = f.input :age_ranges, collection: @report.age_ranges, selected: @filter[:age_ranges], required: false, input_html: { multiple: true, class: :select2 }
      .col-sm-4
        = f.input :genders, collection: HUD.genders.invert, selected: @filter[:genders], required: false, input_html: { multiple: true, class: :select2 }
      .col-sm-4
        = f.input :veteran_statuses, collection: HUD.no_yes_reasons_for_missing_data_options.invert, selected: @filter[:veteran_statuses], required: false, input_html: { multiple: true, class: :select2 }, wrapper_html: last_group_html
  #demographics.tab-pane{role: :tabpanel}
    .row
      .col-sm-4
        = f.input :sub_population, collection: PerformanceDashboards::Overview.sub_populations, label: 'Sub-Population', include_blank: false, selected: @filter[:sub_population], input_html: { class: :select2 }, wrapper_html: last_group_html
      .col-sm-4
        = f.input :races, collection: HUD.races.invert, selected: @filter[:races].keys, required: false, input_html: { multiple: true, class: :select2 }, wrapper_html: last_group_html
      .col-sm-4
        = f.input :ethnicities, collection: HUD.ethnicities.invert, selected: @filter[:ethnicities], required: false, input_html: { multiple: true, class: :select2 }, wrapper_html: last_group_html
%hr
.mt-4
  = f.submit 'Update View'
  - if @pdf_export
    = render 'performance_dashboards/pdf_download', export: @pdf_export
