.d-flex.flex-wrap.justify-content-between.align-items-end.mb-2
  %header.mb-2.mr-4{style: 'flex: 1; min-width: 300px'}
    %h2= key.to_s.titleize
    %p.description.mb-0= desc
  .d-flex.mb-2
    .report-period.mr-6
      %h4.m-0 Report Period
      %p.mb-0 #{@report.date_range_words}
      - count = @report.enrolled_total_count
      = link_to_if show_client_details?, "Total Unique #{'Client'.pluralize(count)}: #{count}", details_performance_dashboards_overview_index_path(detail_params), data: {loads_in_pjax_modal: true}
    - if @report.include_comparison?
      .comparison-period
        %h4.m-0 Comparison Period
        %p.mb-0 #{@comparison.date_range_words}
        - count = @comparison.enrolled_total_count
        = link_to_if show_client_details?, "Total Unique #{'Client'.pluralize(count)}: #{count}", details_performance_dashboards_overview_index_path(comparison_params), data: {loads_in_pjax_modal: true}

.well.mb-6.pt-0
  .jChart.c-chart.c-chart--horizontal-bar{ class: chart_class, data: { chart: { columns: columns, categories: categories, options: { follow_link: show_client_details?, link_base: 'performance_dashboards/overview/details', key: key, breakdown: breakdown, sub_keys: sub_keys, params: detail_params, date_ranges: { report: @report.@report.option_params, comparison: @comparison.option_params } } }.to_json.html_safe } }
