:ruby
  legend_id = "legend-#{SecureRandom.hex(8)}"
  excluded_categories = local_assigns[:excluded_categories].presence
  chart_options = {
    params: { filters: detail_params },
    columns: columns,
    categories: categories,
    legendBindTo: "##{legend_id}",
    options: {
      height: chart_height,
      follow_link: show_client_details?,
      link_base: @report.detail_link_base,
      key: key,
      sub_keys: sub_keys,
      date_ranges: {
        report: {
          start_date: @report.start_date,
          end_date: @report.end_date,
        },
        comparison: {
          start_date: @comparison.start_date,
          end_date: @comparison.end_date,
        }
      }
    }
  }

.d-flex.flex-wrap.justify-content-between.mb-2{class: @report_variant == 'sparse' ? 'align-items-baseline' : 'align-items-end'}
  %header.mb-2.ml-auto{style: 'flex: 1; min-width: 300px'}
    %h2
      - if @breakdown_section_title
        = [key.to_s.titleize, @breakdown_section_title].compact.join(': ')
      - elsif key == :enrolled && @report_variant == 'sparse'
        Actively Enrolled #{@report.performance_type.pluralize} from #{@report.date_range_words}
      - else
        = key.to_s.titleize

    .description
      = desc
      - note_content = '<p>Clients with multiple enrollments may be counted in multiple categories.'
      - if excluded_categories.present?
        - note_content += '<br/>Data explicitly excluded from the universe is not shown. </p>'
        - note_content += '<p class="font-weight-bold mr-2">Currently excluding: <ul class="list-inline d-inline mt-4">'
        - excluded_categories.each do |cat|
          - note_content += "<li class='list-inline-item chip-v1-prs1'>#{cat}</li>"
        - note_content += '</ul></div></div>'
      - note_content += '</p>'
      %span.icon-info{data: {toggle: :popover, title: 'Note', placement: :bottom, trigger: :focus, content: note_content, html: :true }}

  .mb-2.ml-3
    - if @report_variant == 'sparse'
      .gray.lead.font-weight-normal
        - if @report.include_comparison?
          .mb-1.small.font-weight-bold Unique #{key.to_s.titleize} #{@report.performance_type.pluralize}
          .mb-1
            Reporting Period:
            = link_to_if show_client_details?, number_with_delimiter(client_counts[:report]), polymorphic_path(@report.detail_path_array, { filters: detail_params }), data: {loads_in_pjax_modal: true}, class: 'font-weight-bold'
          %div
            Comparison Period:
            = link_to_if show_client_details?, number_with_delimiter(client_counts[:comparison]), polymorphic_path(@report.detail_path_array, { filters: comparison_params }), data: {loads_in_pjax_modal: true}, class: 'font-weight-bold'
        - else
          Unique #{key.to_s.titleize} #{@report.performance_type.pluralize}
          = link_to_if show_client_details?, number_with_delimiter(client_counts[:report]), polymorphic_path(@report.detail_path_array, { filters: detail_params }), data: {loads_in_pjax_modal: true}, class: 'font-weight-bold'
    - else
      .d-flex.mb-2
        .report-period.mr-6
          %h4.m-0 Report Period
          %p.mb-0 #{@report.date_range_words}
          - count = client_counts[:report]
          = link_to_if show_client_details?, "Total Unique Clients: #{number_with_delimiter count}", polymorphic_path(@report.detail_path_array, { filters: detail_params }), data: {loads_in_pjax_modal: true}
        - if @report.include_comparison?
          .comparison-period
            %h4.m-0 Comparison Period
            %p.mb-0 #{@comparison.date_range_words}
            - count = client_counts[:comparison]
            = link_to_if show_client_details?, "Total Unique Clients: #{number_with_delimiter count}", polymorphic_path(@report.detail_path_array, { filters: comparison_params }), data: {loads_in_pjax_modal: true}

.chart-legend-prs1{id: legend_id}
.well.mb-6.pt-0
  .jChart.c-chart.c-chart--horizontal-bar{ class: chart_class, data: { chart: chart_options.to_json.html_safe } }
