:ruby
  key_title = {
    enrolled: "Enrolled & Active",
    entering: "Entering",
    exiting: "Exiting",
  }.fetch(key)
  breakdown = @breakdown if @pdf
  key_title = "#{key_title} #{@report.performance_type.pluralize}"
  (_, breakdown_title) = @report.available_breakdowns.detect { |id, _| id == breakdown }

  legend_id = "legend-#{SecureRandom.hex(8)}"
  excluded_categories = local_assigns[:excluded_categories].presence
  chart_options = {
    params: detail_params,
    columns: columns,
    categories: categories,
    legendBindTo: "##{legend_id}",
    options: {
      height: chart_height,
      follow_link: show_client_details?,
      link_base: @report.detail_link_base,
      key: key,
      sub_keys: sub_keys,
      date_ranges: {
        report: {
          start_date: @report.start_date,
          end_date: @report.end_date,
        },
        comparison: {
          start_date: @comparison.start_date,
          end_date: @comparison.end_date,
        }
      },
      showPercentageWithValue: true
    }
  }

%h2.mb-3= [key_title, breakdown_title].compact.join(': ')
.row
  .col-md-8
    .description.mb-5
      = desc
      - note_content = '<p>Clients with multiple enrollments may be counted in multiple categories.'
      - if excluded_categories.present?
        - note_content += '<br/>Data explicitly excluded from the universe is not shown. </p>'
        - note_content += '<p class="font-weight-bold mr-2">Currently excluding: <ul class="list-inline d-inline mt-4">'
        - excluded_categories.each do |cat|
          - note_content += "<li class='list-inline-item chip-v1-prs1'>#{cat}</li>"
        - note_content += '</ul></div></div>'
      - note_content += '</p>'
      %span.icon-info{data: {toggle: :popover, title: 'Note', placement: :bottom, trigger: :focus, content: note_content, html: :true }}
      - breakdown_notes ||= false
      - if breakdown_notes
        .perf-overview-breakdown-notes
          = breakdown_notes
    = render 'performance_dashboards/overview/universe_selection'
  .col-md-4
    - if @report.include_comparison?
      .mb-1.h5-prs1 Unique #{key.to_s.titleize} #{@report.performance_type.pluralize}:
      .mb-1.gray.font-weight-normal
        Reporting Period:
        = link_to_if show_client_details?, number_with_delimiter(client_counts[:report]), polymorphic_path(@report.detail_path_array, detail_params), data: {loads_in_pjax_modal: true}, class: 'font-weight-bold'
      .mb-1.gray.font-weight-normal
        Comparison Period:
        = link_to_if show_client_details?, number_with_delimiter(client_counts[:comparison]), polymorphic_path(@report.detail_path_array, comparison_params), data: {loads_in_pjax_modal: true}, class: 'font-weight-bold'
    - else
      .mb-1.gray.font-weight-normal.text-right
        Unique #{key.to_s.titleize} #{@report.performance_type.pluralize}:
        = link_to_if show_client_details?, number_with_delimiter(client_counts[:report]), polymorphic_path(@report.detail_path_array, detail_params), data: {loads_in_pjax_modal: true}, class: 'font-weight-bold'

.well.mb-6.pt-2
  .chart-legend-prs1{id: legend_id}
  .jChart.c-chart.c-chart--horizontal-bar{ class: chart_class, data: { chart: chart_options.to_json.html_safe } }
