- key = :enrolled
- detail_params = @report.detail_params.merge({key: key, breakdown: breakdown}).merge(options)
- comparison_params = detail_params.dup.to_h
- comparison_params.merge!({ start_date: @comparison.start_date, end_date: @comparison.end_date })
- client_counts = { report: @report.enrolled_total_count, comparison: @comparison.enrolled_total_count}
- if defined?(chart_class_slug)
  - chart_class = "#{key}-#{chart_class_slug}-chart"
- else
  - chart_class = "#{key}-#{breakdown.parameterize}-chart"
- unless defined?(chart_height)
  - chart_height = 600

= render 'performance_dashboards/overview/breakdown/base', key: key, chart_class: chart_class, desc: 'Clients with an ongoing enrollment in a project in the universe during the period.', detail_params: detail_params, comparison_params: comparison_params, columns: columns, categories: categories, sub_keys: sub_keys, client_counts: client_counts, chart_height: chart_height
