- key = :entering
- detail_params = @report.detail_params.deep_merge(filters: {key: key, breakdown: breakdown}).deep_merge(filters: options)
- comparison_params = detail_params.dup.to_h
- comparison_params.deep_merge!(filters: { start_date: @comparison.start_date, end_date: @comparison.end_date })
- client_counts = { report: @report.entering_total_count, comparison: @comparison.entering_total_count}
- if defined?(chart_class_slug)
  - chart_class = "#{key}-#{chart_class_slug}-chart"
- else
  - chart_class = "#{key}-#{breakdown.parameterize}-chart"
- breakdown_notes ||= false
- newly_homeless_range = @filter.available_inactivity_days.invert[@filter.inactivity_days]
- newly_homeless_range = newly_homeless_range == '1 year' ? 'year' : newly_homeless_range

:ruby
  # FIXME
  if categories[0].is_a?(Hash)
    options_hack = categories.shift()
    excluded_categories = options_hack.fetch(:excluded_categories)
  end

  if local_assigns[:chart_height].blank?
    bar_size = local_assigns[:bar_size] || 100
    bar_size -= 30 if columns.one?
    chart_height = (bar_size * categories.size) + 60
  end

.perf-overview-breakdown
  = render 'performance_dashboards/overview/breakdown/base', key: key, chart_class: chart_class, desc: "#{@report.performance_type.pluralize} entering a project in the chosen universe who have not been seen in the universe for the past #{newly_homeless_range}.", detail_params: detail_params, comparison_params: comparison_params, columns: columns, categories: categories, sub_keys: sub_keys, client_counts: client_counts, chart_height: chart_height, excluded_categories: excluded_categories, breakdown_notes: breakdown_notes
