.table-responsive
  %table.table.table-condensed.table-hover
    - @result.results.each do |key, result|
      - if result['title'].present?
        - have_support = @result.support.present? && @result.support[key].present? && @result.support[key]['support'].present?
        %tr
          %th= result['title']  
          %td
            - if have_support
              = link_to report_report_result_support_index_path(@report, @result, {key: key}), data: {loads_in_pjax_modal: true} do
                = result['value']
            - else
              = result['value']
          %td
            - if have_support
              = link_to report_report_result_support_index_path(@report, @result, {key: key, format: :xlsx}) do
                %span.icon-download2
            
