- title = "Support for #{@report.support_title(@options)}"
= content_for :modal_title, title
.d-flex
  %p.mr-auto= @filter.date_range_words
  %div
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      %i.icon.icon-download2
      Download Excel

- rows = @report.detail_for(@options)
- if rows.any?
  - headers = @report.header_for(@options)
  %p Showing #{pluralize(rows.count, 'client')}.
  .card
    %table.table.table-striped.mb-0
      %thead
        %tr
          - headers.each do |header|
            %th= header
      %tbody
        - rows.values.each do |row|
          %tr
            - row.each_with_index do |col, i|
              %td
                - if i == 0
                  = link_to col, client_path(id: col)
                - else
                  = @report.detail_column_display(header: headers[i], column: col)
