- @layout__plain_inner = true
- @layout__width = 'lg'
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'performance_dashboards/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'performance'
      = render "utility"
    .top-nav-prs1
      %h1.mb-5 #{@report.performance_type} Performance
      .mb-4= render 'hero_counts'
    .main-inner-prs1
      .mt-2= render 'disaggregation_picker'
      = render 'disaggregations'
