- @layout__plain_inner = true
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render '/performance_dashboards/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'performance-dashboard'
      = render "utility"
    .top-nav-prs1
      %h1 Performance Overview
      .d-flex
        .lead.mb-4.mr-auto View Report Disaggregated By:
        .ml-2.mb-2= render 'performance_dashboards/pdf_download', export: @pdf_export
      %ul.mb-4.nav.nav-tabs.mt-0.mb-4{role: :tablist}
        - @report.available_breakdowns.each do |k, title|
          - class_name = if breakdown == k then 'active' else '' end
          %li.nav-item{role: :presentation}
            = link_to(filter_params.merge(breakdown: k), class: ['nav-link', 'px-5', class_name]) do
              = title.gsub(/^By /, '')
    .main-inner-prs1
      = render 'disaggregations'
