= render '/warehouse_reports/breadcrumbs', tab: 'performance-dashboard'
%h1 Overview
- id = 'filter'
#filter-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = simple_form_for @filter, as: :filters, method: :get do |f|
      = render 'performance_dashboards/filters', f: f
  = render 'common/panel_collapse', id: id, title: 'Universe', default_open: filter_open
- id = 'active-filters'
#active-filters-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render 'active_filters'
  = render 'common/panel_collapse', id: id, title: 'Summary of Selected Filters', default_open: active_filter_open

.col-12
  = render 'overall'
%ul.mb-2.nav.nav-tabs{role: :tablist}
  - class_name = if breakdown == :age then 'active' else '' end
  %li.nav-item{role: :presentation}
    = link_to(filter_params.merge(breakdown: :age), class: ['nav-link', class_name]) do
      By Age
  - class_name = if breakdown == :gender then 'active' else '' end
  %li.nav-item{role: :presentation}
    = link_to(filter_params.merge(breakdown: :gender), class: ['nav-link', class_name]) do
      By Gender
  - class_name = if breakdown == :household then 'active' else '' end
  %li.nav-item{role: :presentation}
    = link_to(filter_params.merge(breakdown: :household), class: ['nav-link', class_name]) do
      By Household Type
  - class_name = if breakdown == :veteran then 'active' else '' end
  %li.nav-item{role: :presentation}
    = link_to(filter_params.merge(breakdown: :veteran), class: ['nav-link', class_name]) do
      By Veteran Status
  - class_name = if breakdown == :race then 'active' else '' end
  %li.nav-item{role: :presentation}
    = link_to(filter_params.merge(breakdown: :race), class: ['nav-link', class_name]) do
      By Race
  - class_name = if breakdown == :ethnicity then 'active' else '' end
  %li.nav-item{role: :presentation}
    = link_to(filter_params.merge(breakdown: :ethnicity), class: ['nav-link', class_name]) do
      By Ethnicity

= render "by_#{breakdown}"


