= render '/warehouse_reports/breadcrumbs', tab: 'performance-dashboard'
%h1 Performance Overview
- id = 'filter'
#filter-accordion.panel-group.panel-collapsible.mb-0.panel-sibling--below
  - content_for :panel_collapse_content, flush: true do
    = simple_form_for :filters, method: :get do |f|
      = render 'performance_dashboards/filters', f: f
  = render 'common/panel_collapse',id: id, title: 'Filtering Options', default_open: filter_open, wrapper_class: 'mb-0'
- id = 'active-filters'
#active-filters-accordion.panel-group.panel-collapsible.panel-sibling--above
  - content_for :panel_collapse_content, flush: true do
    = render 'performance_dashboards/active_filters'
  = render 'common/panel_collapse', id: id, title: 'Summary of Selected Filters', default_open: active_filter_open

.col-12
  = render 'overall'
%ul.mb-2.nav.nav-tabs{role: :tablist}
  - @report.available_breakdowns.each do |k, title|
    - class_name = if breakdown == k then 'active' else '' end
    %li.nav-item{role: :presentation}
      = link_to(filter_params.merge(breakdown: k), class: ['nav-link', class_name]) do
        = title

= render "by_#{breakdown}"
