= render @section

= content_for :page_js do
  :javascript
    var section_path = "#{j request.path}/section/";
    var sections = new App.Sections.Loader($('.rollup'), section_path, #{params.to_json});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.enrolled-by-#{j breakdown.to_s.gsub('_', '-')}-chart', {remote: false});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.entering-by-#{j breakdown.to_s.gsub('_', '-')}-chart', {remote: false});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.exiting-by-#{j breakdown.to_s.gsub('_', '-')}-chart', {remote: false});
