- title = "Patient Housing Status Changes"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-aco-performance-reports'

= render 'form'

.text-right.mb-4
  = render 'report_download', export: @pdf_export, excel_download_path: warehouse_reports_health_housing_status_index_path({format: :xlsx}.merge(link_params))

= render 'housed_chart'
= render 'trend_chart'
= render 'table'
