- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
.row
  - if @report.include_comparison?
    - reports.each_with_index do |report, index|
      .col-sm-6
        %h3.d-flex
          .pb-4.mr-2.c-swatch__display{class: "c-swatch__display--chart-#{index}"}
          .title= report.filter.date_range_words
  - reports.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      %h3 Adults
      .card.mb-4{class: comparison_class}
        %table.table
          %thead
            %tr
              %th
              %th Count
              %th Average Age
          %tbody
            %tr
              %th All
              %td= number_with_delimiter(report.adult_count)
              %td= report.average_adult_age
            - report.genders.each do |gender_col, gender_label|
              %tr
                %th= gender_label
                %td= link_to_if @report.can_see_client_details?(current_user), number_with_delimiter(report.public_send("adult_#{gender_col}_count")), polymorphic_path(@report.detail_path_array, report.filter.for_params.deep_merge(key: "adult_#{gender_col}".to_sym, filters: { start: report.filter.start_date, end: report.filter.end_date })), target: :_blank
                %td= report.public_send("average_adult_#{gender_col}_age")


      %h3 Children
      .card.mb-4{class: comparison_class}
        %table.table
          %thead
            %tr
              %th
              %th Count
              %th Average Age
          %tbody
            %tr
              %th All
              %td= number_with_delimiter(report.child_count)
              %td= report.average_child_age
            - report.genders.each do |gender_col, gender_label|
              %tr
                %th= gender_label
                %td= link_to_if @report.can_see_client_details?(current_user), number_with_delimiter(report.public_send("child_#{gender_col}_count")), polymorphic_path(@report.detail_path_array, report.filter.for_params.deep_merge(key: "child_#{gender_col}".to_sym, filters: { start: report.filter.start_date, end: report.filter.end_date })), target: :_blank
                %td= report.public_send("average_child_#{gender_col}_age")
        %div{class: column_class}

      %h3 Age Breakdowns
      .card.mb-4{class: comparison_class}
        %table.table
          %thead
            %tr
              %th Age Range
              %th Count
              %th Percentage
          %tbody
            - @report.age_categories.each do |id, title|
              %tr
                %th= title
                %td= link_to_if @report.can_see_client_details?(current_user), number_with_delimiter(report.age_count(id)), polymorphic_path(@report.detail_path_array, report.filter.for_params.deep_merge(key: "age_#{id}", filters: { start: report.filter.start_date, end: report.filter.end_date })), target: :_blank
                %td= number_to_percentage(report.age_percentage(id), precision: 2)
