- if @aco_name.present?
  - aco_title_string = "for #{@aco_name}"
- title = "CP Engagement (122 days) by ACO #{aco_title_string}"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-aco-performance-reports'

= render 'form'

- if @report.present?
  = render 'report'
