= content_for :crumbs do
  = link_to import_path(@import) do
    &laquo; Import Log

%h1= "Problems Importing #{@filename}"

%ul.nav.nav-tabs.mb-0
  %li.nav-item
    %a.nav-link.active{href: '#validation-flags', role: 'presentation', data: {toggle: :tab}, aria: {controls: 'validation-flags', selected: :true}}
      Validation Flags
  %li.nav-item
    %a.nav-link{href: '#importer-errors', role: 'presentation', data: {toggle: :tab}, aria: {controls: 'importer-errors', selected: :true}}
      Importer Errors

.tab-content
  .tab-pane.show.active.fade#validation-flags{role: 'tabpanel', aria: {labelledby: 'validation-flags'}}
    %table.table
      %thead
        %tr
          %th Type
          %th Message
          %th HUD ID
      %tbody
        - @validations.each do |error|
          %tr
            %td= error.class.type_name
            %td= error.status
            - source = error.source
            %td= source.send(source.class.hud_key) if source.present?

  .tab-pane.fade#importer-errors{role: 'tabpanel', aria: {labelledby: 'importer-errors'}}
    %table.table
      %thead
        %tr
          %th Error
          %th HUD ID
      %tbody
        - @errors.each do |error|
          %tr
            %td= error.details
            - source = error.source
            %td= source.send(source.class.hud_key) if source.present?
