= content_for :crumbs do
  = link_to import_path(@import) do
    &laquo; Import Log

%h1= "Importer Errors for #{@filename}"

%ul.nav.nav-tabs{role: "presentation"}
  %li.nav-item{role: 'presentation'}
    = link_to 'Validation Flags', hmis_csv_twenty_twenty_importer_validation_path(@import.importer_log, file: File.basename(@filename, '.csv')), class: 'nav-link'
  %li.nav-item{role: 'presentation'}
    = link_to 'Import Error Flags', hmis_csv_twenty_twenty_importer_validation_error_path(@import.importer_log, file: File.basename(@filename, '.csv')), class: 'nav-link'
  %li.nav-item.active{role: 'presentation'}
    = link_to 'Importer Errors', hmis_csv_twenty_twenty_importer_error_path(@import.importer_log, file: File.basename(@filename, '.csv')), class: 'nav-link'

= render 'hmis_csv_twenty_twenty/error_shared/table', errors: @errors
