.table-responsive
  %table.table
    %thead
      %tr
        %th
        %th Project
        %th Entry Date
        %th Date of Service
        %th Service Type
        %th
    %tbody
      - custom_services.each do |service|
        %tr
          %td
            .ds{class: "ds-color-#{service.data_source_id}"}= ds_short_name_for(service.client.id)
          %td= service.warehouse_project.name(current_user)
          %td= service.enrollment.entry_date
          %td= service.date_provided
          %td= link_to_if can_view_enrollment_details?, service.display_name, hmis_client_client_service_path(@client, service), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
          %td.text-right
            - if @client.hmis_source_visible_by?(current_user)
              = link_to service.data_source.hmis_url_for(service, user: current_user), target: :_blank do
                Open in HMIS
                %i.icon-link-ext
              .text-teeny.font-weight-light
                .text-nowrap
                  Created: #{service.DateCreated}
                .text-nowrap
                  Updated: #{service.DateUpdated}
