= simple_form_for :report_result do |f|
  = f.error_notification
  = f.input :project_id, input_html: {name: 'report_result[options][project_id]'}, as: :select, collection: Reports::SystemPerformance::Fy2016::Base.available_projects, required: false
  = f.input :data_source_id, input_html: {name: 'report_result[options][data_source_id]'}, as: :select, collection: Reports::SystemPerformance::Fy2016::Base.available_data_sources, required: false
  = f.input :coc_code, input_html: {name: 'report_result[options][coc_code]'}, hint: 'MA-500', required: false
  .form-group
    %label.control-lable.string
      %abbr{data: {original_title: "required"}} *
      Start Date
    .input-group.date{data: {provide: :datepicker}}
      = f.input :report_start, input_html: {name: 'report_result[options][report_start]', value: Date.new(Date.today.year-2,10,1)}, label: false
      %span.input-group-addon.icon-calendar
  .form-group
    %label.control-lable.string.required 
      %abbr{data: {original_title: "required"}} *
      End Date
    .input-group.date{data: {provide: :datepicker}}
      = f.input :report_end, input_html: {name: 'report_result[options][report_end]', value: Date.new(Date.today.year-1,9,30).to_date, class: 'form-control jStart'}, label: false
      %span.input-group-addon.icon-calendar
  .form-actions
    = f.button :button, class: 'btn btn-primary pull-right' do
      %span.icon-plus
      Queue Report Run 