%h4.mt-0 Projects & Funding
%dl
  %dt CoC Codes
  - if @filter.chosen_coc_codes.blank?
    %dd.text-muted
      All
  - else
    %dd
      = @filter.chosen_coc_codes.join(', ')
%dl
  %dt Project Types
  - if @filter.chosen_project_types.blank?
    %dd.text-muted
      All
  - else
    %dd
      - @filter.chosen_project_types.each do |type|
        .project-type= type

%dl
  %dt Funding Sources
  - if @filter.funder_names.blank?
    %dd.text-muted
      All
  - else
    %dd
      - @filter.funder_names.each do |fs|
        .funding-source= fs
%dl
  %dt Data Sources
  - if @filter.data_source_names.blank?
    %dd.text-muted
      All
  - else
    %dd
      - @filter.data_source_names.each do |ds|
        .data-source= ds
%dl
  %dt Organizations
  - if @filter.organization_names.blank?
    %dd.text-muted
      All
  - else
    %dd
      - @filter.organization_names.each do |type|
        .organization= type
%dl
  %dt Projects
  - if @filter.project_names.blank?
    %dd.text-muted
      All
  - else
    %dd
      - @filter.project_names.each do |type|
        .project= type
