- id = 'clinical-triage'
#clinical-triage-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/clinical_triage_form"
  = render 'common/panel_collapse', id: id, title: 'Clinical Screening'

- id = 'medical-restriction'
#medical-restriction-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/ama_restriction_form"
  - if @client.health_emergency_ama_restriction_status.present?
    - content_for "panel_collapse_heading_content_under_title_#{id}" do
      = render "he/clients/#{health_emergency}/in_header_status", labels: ['Medical', @client.health_emergency_ama_restriction_status], wrapper_classes: ['badge-danger']
  = render 'common/panel_collapse', id: id, title: @ama_restriction.title


- id = 'isolation-info'
#isolation-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/isolation_form"
  - if @isolation_newer
    - content_for "panel_collapse_heading_content_under_title_#{id}" do
      = render "he/clients/#{health_emergency}/in_header_status", labels: ['Isolation', @client.health_emergency_isolation_status]
  = render 'common/panel_collapse', id: id, title: @isolation.title

- id = 'quarantine-info'
#quarantine-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/quarantine_form"
  - if defined?(@isolation_newer) && @isolation_newer.present? && ! @isolation_newer
    - content_for "panel_collapse_heading_content_under_title_#{id}" do
      = render "he/clients/#{health_emergency}/in_header_status", labels: ['Quarantine', @client.health_emergency_isolation_status]
  = render 'common/panel_collapse', id: id, title: @quarantine.title

- id = 'test-info'
#test-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/test_form"
  - content_for "panel_collapse_heading_content_under_title_#{id}" do
    = render "he/clients/#{health_emergency}/in_header_status", labels: ['Test', @client.health_emergency_test_status]
  = render 'common/panel_collapse', id: id, title: @test.title
