= simple_form_for @clinical_triage, url: triage_client_he_clinicals_path do |f|
  .row
    - if can_edit_health_emergency_clinical?
      .col-md-8
        = f.input :test_requested, collection: @clinical_triage.requested_options, include_blank: true, as: :boolean_button_group
        = f.input :location, label: 'Where did the test occur?'
        = f.input :notes, as: :text
        = f.submit 'Add Clinical Triage'
      .col-md-4.border-left
        = render "he/clients/#{health_emergency}/previous_clinical_triage"
    - else
      .col
        = render "he/clients/#{health_emergency}/previous_clinical_triage"
