- id = 'clinical-triage'
#clinical-triage-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/clinical_triage_form"
  = render 'common/panel_collapse', id: id, title: 'Clinical Triage'

- id = 'isolation-info'
#isolation-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/isolation_form"
  - content_for "panel_collapse_heading_content_#{id}" do
    = render "he/clients/#{health_emergency}/in_header_status", labels: ['Isolation', @client.health_emergency_isolation_status]
  = render 'common/panel_collapse', id: id, title: 'Isolation'

- id = 'quarantine-info'
#quarantine-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/quarantine_form"
  -# - content_for "panel_collapse_heading_content_#{id}" do
    = render "he/clients/#{health_emergency}/in_header_status", labels: ['Quarantine', @client.health_emergency_isolation_status]
  = render 'common/panel_collapse', id: id, title: 'Quarantine'

- id = 'test-info'
#test-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/test_form"
  - content_for "panel_collapse_heading_content_#{id}" do
    = render "he/clients/#{health_emergency}/in_header_status", labels: ['Test', @client.health_emergency_test_status]
  = render 'common/panel_collapse', id: id, title: 'Testing Results'
