%table.table
  %thead
    %tr
      %th Date
      %th Activity
      %th Status
      %th Entered By
      %th Agency
      %th
  %tbody
    - @history.each do |item|
      %tr
        %td= item.created_at.to_date
        %td= item.title
        %td= item.status
        %td= item.user&.name
        %td= item.agency&.name
        %td
      %tr
        %td{colspan: 5}
          = render item, flex: 'd-flex'



