= simple_form_for @quarantine, url: quarantine_client_he_clinicals_path do |f|
  .row
    .col-md-8
      = f.input :isolation_requested_at, as: :date_picker, label: "When was #{@client.name} asked to quarantine?"
      = f.input :location, label: 'Quarantine location'
      = f.input :started_on,  as: :date_picker, label: 'Quarantine start date'
      = f.input :scheduled_to_end_on,  as: :date_picker, label: 'Scheduled quarantine end date'
      = f.input :ended_on,  as: :date_picker, label: 'Actual quarantine end date'
    .col-md-4
  .row
    .col
      = f.submit 'Add Quarantine Information'