= simple_form_for @test, url: test_client_he_clinicals_path do |f|
  .row
    - if can_edit_health_emergency_clinical?
      .col-md-8
        = f.input :tested_on,  as: :date_picker, label: 'Test date'
        = f.input :result, collection: @test.result_options, include_blank: true, as: :boolean_button_group
        = f.input :notes, as: :text
        = f.submit 'Add Test Results'
      .col-md-4.border-left
        = render "he/clients/#{health_emergency}/previous_test"
    - else
      .col
        = render "he/clients/#{health_emergency}/previous_test"
