- if can_edit_health_emergency_screening? || can_see_health_emergency_screening?
  - id = 'triage-info'
  #triage-accordion.panel-group.panel-collapsible
    - content_for :panel_collapse_content, flush: true do
      = render "he/clients/#{health_emergency}/triage_form"
    - content_for "panel_collapse_heading_content_under_title_#{id}" do
      = render "he/clients/#{health_emergency}/in_header_status", labels: [@triage.pill_title, @client.health_emergency_triage_status]
    = render 'common/panel_collapse', id: id, title: @triage.title
