- wrapper = if @readonly then :readonly else SimpleForm.default_wrapper end
- goal = social
.well.section-expander-block.open.goal.jGoal{id: "goal-#{goal.id}", data: {goal: goal.id}}
  .row
    .col-md-7
      %h3.section-expander-block__header 
        = goal.name
    .col-md-5
      .section-expander-block__expander-region
        .section-expander-block__metadata.text-small
          Last Modified: 
          %strong
            = goal.updated_at.to_date
            - if goal.editor.present?
              = " by #{goal.editor&.name}"
        - unless @readonly
          %a.section-expander-block__expander-arrow.open
            %i.icon-arrow-circled-right
  .row.section-expander-block__action-row
    .col-sm-12
      .goal-form
        = simple_form_for(goal, as: :goal, url: polymorphic_path(careplan_path_generator + [:goal], id: goal.id), remote: true, wrapper: wrapper) do |f|
          .row
            .col-sm-12
              = f.input :name, label: 'Goal'
          .row
            .col-sm-12
              %h3
                Other Social Needs: Goals
          .row.goal__social
            .col-sm-3.text-center
              = f.input :az_income, label: 'Income/Money Management'
              = f.input :az_non_cash_benefits, label: 'Non-Cash Benefits'
              = f.input :az_disabilities, label: 'Disabilities'
              = f.input :az_food, label: 'Food Insecurity'
              = f.input :az_employment, label: 'Employment'
            .col-sm-3.text-center
              = f.input :az_training, label: 'Adult Ed/Training'
              = f.input :az_transportation, label: 'Mobility/Transportation'
              = f.input :az_life_skills, label: 'Life Skills & Activities of Daily Living (ADLs)'
              = f.input :az_health_care_coverage, label: 'Health Care Coverage'
              = f.input :az_physical_health, label: 'Physical Health'
            .col-sm-3.text-center
              = f.input :az_mental_health, label: 'Mental Health'
              = f.input :az_substance_use, label: 'Substance Use'
              = f.input :az_criminal_justice, label: 'Criminal Justice'
              = f.input :az_legal, label: 'Legal, Non-Criminal'
              = f.input :az_safety, label: 'Safety'
            .col-sm-3.text-center
              = f.input :az_risk, label: 'Risk'
              = f.input :az_family, label: 'Family & Social Relationships'
              = f.input :az_community, label: 'Community Involvement'
              = f.input :az_time_management, label: 'Daily Time Management'
          - unless @readonly
            .row
              .col-sm-6
                .form-actions
                  = link_to polymorphic_path(careplan_path_generator + [:goal], id: goal.id), method: :delete, class: 'btn btn-secondary' do 
                    Delete Goal
                  = f.button :submit, value: 'Update Goal'
              .col-sm-6
                .status
        - if goal.versions.count > 1 && ! @readonly
          .pull-right
            = link_to(polymorphic_path(careplan_path_generator + [:goal, :previous], goal_id: goal.id)) do 
              < past versions