.row{ class: "child-#{child.object.id}" }
  .col-sm-3.col-md-offset-1
    = child.input :first_name, label: false, input_html: { class: 'no-auto-save' }
  .col-sm-3
    = child.input :last_name, label: false, input_html: { class: 'no-auto-save' }
  .col-sm-3
    = child.input :dob, label: false, start_year: 18.years.ago.year, end_year: Date.today.year, as: :date_picker, input_html: { class: 'no-auto-save' }
  .col-sm-2
    = link_to polymorphic_path([:remove_child] + vispdat_path_generator, client_id: @client.id, id: @vispdat.id, child_id: child.object.id), remote: true, method: :delete, class: 'btn btn-danger btn-icon-only' do
      %i.icon-cross