- path = polymorphic_path(vispdat_path_generator, client_id: @client.id, id: @vispdat.id)

= simple_form_for @file, url: polymorphic_path(([:upload_file] + vispdat_path_generator), client_id: @client.id, id: @vispdat.id), method: :put do |f|
  .modal.fade#upload-file
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title
            %i.icon-upload2
            Upload Consent Form
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %i.modal-icon-close{"aria-hidden" => "true"}
        .modal-body
          = f.input :note, as: :string, hint: '(Optional) Give a reason for including this file.'
          = f.input :effective_date, as: :date_picker
          = f.input :file, as: :file, required: true
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary(type='submit') Upload

= simple_form_for @vispdat, url: path, wrapper: (readonly || SimpleForm.default_wrapper), html: { class: 'vispdat-form', data: { url: polymorphic_path(vispdat_path_generator, client_id: @client.id, id: @vispdat.id, format: :js) }}  do |f|
  = f.error_notification

  %h2 Basic Information
  .well.vispdat.vispdat-basic-information
    .row
      .col-sm-4
        %label.control-label SSN #
        %p.form-control-static= ssn @client.SSN
      .col-sm-4
        %label.control-label Date of Birth
        %p.form-control-static
          = @client.DOB
          = "(#{@client.age})"
      .col-sm-4
        = f.input :contact_method, collection: @vispdat.class.contact_options, as: :select_two
    .row
      .col-sm-4
        = f.input :nickname
      .col-sm-4
        = f.input :language_answer, collection: @vispdat.class.language_options, label: "Language", as: :select_two
    .row
      .col-sm-12
        %h3 Consent Form
        %p
          Please indicate if the client has a Drug & Alcohol Release, and an HIV/AIDS Release.
          - if @consent_form_url.present?
            = link_to @consent_form_url do
              A blank consent form is available here.
        %p Consent forms will be confirmed manually by an administrator before client information is shared. Uploading a consent form notifies the appropriate administrator.
    .row
      .col-sm-4
        - if @vispdat.files.empty?
          %button.btn.btn-default(data-toggle='modal' data-target='#upload-file')
            %i.icon-upload2
            Upload Signed Consent Form
        - else
          = link_to polymorphic_path(file_path_generator, id: @vispdat.files.first) do
            %i.fa.fa-file
            Signed Consent Form

      .col-sm-4
        %label Drug &amp; Alcohol Release?
        = f.input :drug_release, as: :radio_buttons, label: false
      .col-sm-4
        %label HIV/AIDS Release?
        = f.input :hiv_release, as: :radio_buttons, label: false

  - if @vispdat.family?
    = render 'parent2_fields', f: f
    = render 'children_fields', f: f


  %h2 History of Housing & Homelessness
  .well.vispdat.vispdat-history
    .row
      .col-sm-4
        = f.input :sleep_answer, as: :radio_buttons, collection: @vispdat.class.sleep_options, label: @vispdat.question(:sleep)
        = f.input :sleep_answer_other, label: @vispdat.question(:sleep_other)
      .col-sm-4
        .row
          .col-sm-12
            = f.label :homeless, @vispdat.question(:housing)
        .row
          .col-sm-6
            = f.input :homeless, label: false
          .col-sm-6
            = f.input :homeless_period, label: false, collection: @vispdat.class.homeless_period_options
        .row
          .col-sm-12
            = f.input :homeless_refused, label: "Refused/Unsure", as: :boolean
      .col-sm-4
        = f.input :episodes_homeless, label: @vispdat.question(:homeless)
        = f.input :episodes_homeless_refused, label: "Refused/Unsure"

  %h2 Risks
  .well.vispdat.vispdat-risks-1
    %h4= @vispdat.question(:past_six_months)
    %br
    .row
      .col-sm-8.col-md-offset-1
        %label= @vispdat.question(:received_healthcare)
      .col-sm-2
        = f.input :emergency_healthcare, label: false, input_html: {style: 'width: 4em;'}
      .col-sm-2
        = f.input :emergency_healthcare_refused, label: "Refused/Unsure"
    .row
      .col-sm-8.col-md-offset-1
        %label= @vispdat.question(:taken_ambulance)
      .col-sm-2
        = f.input :ambulance, label: false, input_html: {style: 'width: 4em;'}
      .col-sm-2
        = f.input :ambulance_refused, label: "Refused/Unsure"
    .row
      .col-sm-8.col-md-offset-1
        %label= @vispdat.question(:been_hospitalized)
      .col-sm-2
        = f.input :inpatient, label: false, input_html: {style: 'width: 4em;'}
      .col-sm-2
        = f.input :inpatient_refused, label: "Refused/Unsure"
    .row
      .col-sm-8.col-md-offset-1
        %label= @vispdat.question(:used_crisis_service)
      .col-sm-2
        = f.input :crisis_service, label: false, input_html: {style: 'width: 4em;'}
      .col-sm-2
        = f.input :crisis_service_refused, label: "Refused/Unsure"
    .row
      .col-sm-8.col-md-offset-1
        %label= @vispdat.question(:talked_to_police)
      .col-sm-2
        = f.input :talked_to_police, label: false, input_html: {style: 'width: 4em;'}
      .col-sm-2
        = f.input :talked_to_police_refused, label: "Refused/Unsure"
    .row
      .col-sm-8.col-md-offset-1
        %label= @vispdat.question(:stayed_in_prison)
      .col-sm-2
        = f.input :jail, label: false, input_html: {style: 'width: 4em;'}
      .col-sm-2
        = f.input :jail_refused, label: "Refused/Unsure"

  .well.vispdat.vispdat-risks-2
    .row
      .col-sm-9
        %label= @vispdat.question(:been_attacked)
      .col-sm-3
        = f.input :attacked_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:attacked_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:harm_yourself)
      .col-sm-3
        = f.input :threatened_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:threatened_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:legal_stuff)
      .col-sm-3
        = f.input :legal_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:legal_answers), label: false

    - if @vispdat.youth?
      .row
        .col-sm-9
          %label= @vispdat.question(:jail_before_18)
        .col-sm-3
          = f.input :incarcerated_before_18_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:incarcerated_before_18_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:force_you)
      .col-sm-3
        = f.input :tricked_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:tricked_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:risky_things)
      .col-sm-3
        = f.input :risky_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:risky_answers), label: false

  %h2 Socialization & Daily Functioning
  .well.vispdat.vispdat-social
    .row
      .col-sm-9
        %label= @vispdat.question(:owe_money)
      .col-sm-3
        = f.input :owe_money_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:owe_money_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:get_money)
      .col-sm-3
        = f.input :get_money_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:get_money_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:planned_activities)
      .col-sm-3
        = f.input :activities_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:activities_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:basic_needs)
      .col-sm-3
        = f.input :basic_needs_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:basic_needs_answers), label: false

    - if @vispdat.youth?
      %h4= @vispdat.question(:lack_of_housing)
      %br
      .row
        .col-sm-9.col-md-offset-1
          %label= @vispdat.question(:ran_away)
        .col-sm-3
          = f.input :homeless_due_to_ran_away_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:homeless_due_to_ran_away_answers), label: false
      .row
        .col-sm-9.col-md-offset-1
          %label= @vispdat.question(:religious_beliefs)
        .col-sm-3
          = f.input :homeless_due_to_religions_beliefs_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:homeless_due_to_religions_beliefs_answers), label: false
      .row
        .col-sm-9.col-md-offset-1
          %label= @vispdat.question(:homeless_due_to_family)
        .col-sm-3
          = f.input :homeless_due_to_family_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:homeless_due_to_family_answers), label: false
      .row
        .col-sm-9.col-md-offset-1
          %label= @vispdat.question(:gender_identity)
        .col-sm-3
          = f.input :homeless_due_to_gender_identity_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:homeless_due_to_gender_identity_answers), label: false
      .row
        .col-sm-9.col-md-offset-1
          %label= @vispdat.question(:due_to_violence)
        .col-sm-3
          = f.input :violence_between_family_members_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:violence_between_family_members_answers), label: false
      .row
        .col-sm-9.col-md-offset-1
          %label= @vispdat.question(:due_to_abuse)
        .col-sm-3
          = f.input :abusive_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:abusive_answers), label: false
    - else
      .row
        .col-sm-9
          %label= @vispdat.question(:homelessness_cause)
        .col-sm-3
          = f.input :abusive_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:abusive_answers), label: false

  %h2 Wellness
  .well.vispdat.vispdat-wellness-1
    .row
      .col-sm-9
        %label= @vispdat.question(:leave_due_to_health)
      .col-sm-3
        = f.input :leave_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:leave_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:chronic_health_issues)
      .col-sm-3
        = f.input :chronic_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:chronic_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:space_interest)
      .col-sm-3
        = f.input :hiv_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:hiv_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:physical_disabilities)
      .col-sm-3
        = f.input :disability_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:disability_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:avoid_help)
      .col-sm-3
        = f.input :avoid_help_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:avoid_help_answers), label: false

    - unless @vispdat.family?
      .row
        .col-sm-9
          %label= @vispdat.question(:currently_pregnant)
        .col-sm-3
          = f.input :pregnant_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:pregnant_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:kicked_out)
      .col-sm-3
        = f.input :eviction_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:eviction_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:drug_use)
      .col-sm-3
        = f.input :drinking_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:drinking_answers), label: false

    - if @vispdat.youth?
      .row
        .col-sm-9
          %label= @vispdat.question(:marijuana)
        .col-sm-3
          = f.input :marijuana_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:marijuana_answers), label: false

  .well.vispdat.vispdat-wellness-2
    %h4= @vispdat.question(:trouble_housing)
    %br
    .row
      .col-sm-9.col-md-offset-1
        %label= @vispdat.question(:mental_health)
      .col-sm-3
        = f.input :mental_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:mental_answers), label: false
    .row
      .col-sm-9.col-md-offset-1
        %label= @vispdat.question(:head_injury)
      .col-sm-3
        = f.input :head_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:head_answers), label: false
    .row
      .col-sm-9.col-md-offset-1
        %label= @vispdat.question(:learning_disability)
      .col-sm-3
        = f.input :learning_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:learning_answers), label: false

  .well.vispdat.vispdat-wellness-3
    .row
      .col-sm-9
        %label= @vispdat.question(:live_independently)
      .col-sm-3
        = f.input :brain_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:brain_answers), label: false

    - if @vispdat.family?
      .row
        .col-sm-9
          %label= @vispdat.question(:single_member_morbidity)
        .col-sm-3
          = f.input :family_member_tri_morbidity_answer, as: :radio_buttons,collection: @vispdat.class.options_for(:family_member_tri_morbidity_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:take_medications)
      .col-sm-3
        = f.input :medication_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:medication_answers), label: false
    .row
      .col-sm-9
        %label= @vispdat.question(:sell_medications)
      .col-sm-3
        = f.input :sell_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:sell_answers), label: false

    - unless @vispdat.youth?
      .row
        .col-sm-9
          %label= @vispdat.question(:abuse_trauma)
        .col-sm-3
          = f.input :trauma_answer, as: :radio_buttons, collection: @vispdat.class.options_for(:trauma_answers), label: false

  - if @vispdat.family?
    = render 'family_unit', f: f

  %h2 Follow-Up Questions
  .well
    .row
      .col-sm-4
        %label= @vispdat.question(:find_you)
      .col-sm-4
        %label Place
        = f.input :find_location, label: false
      .col-sm-2
        %label Time
        = f.input :find_time, label: false, placeholder: '1:00 PM'
      .col-sm-2
        %label Period of Day
        = f.input :when_answer, label: false, collection: @vispdat.class.when_options
    .row
      .col-sm-4
        %label= @vispdat.question(:contact_info)
      .col-sm-4
        = f.input :phone
      .col-sm-4
        = f.input :email
    - if @vispdat.individual?
      .row
        .col-sm-4
          %label= @vispdat.question(:take_picture)
        .col-sm-6
          = f.input :picture_answer, as: :radio_buttons, label: false, collection: @vispdat.class.options_for(:picture_answers)

  %hr
    .row
      .col-sm-12.text-right
        = f.submit 'Complete', class: 'btn btn-primary', data: {confirm: "Completing this VI-SPDAT will prevent you from editing it in the future, are you sure you want to mark it as completed?"}
