- title = "New VISPDAT for #{@client.name}"
- content_for :title, title

= render 'clients/breadcrumbs'

%h1
  .pull-right
    = link_to 'Back', polymorphic_path(vispdats_path_generator, client_id: @client.id), class: 'btn btn-default', title: 'Back', data: { toggle: 'tooltip' }
  = title
  %hr

.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_vispdats_path(@client)

= render 'form', readonly: false
