- content_for(:title, @client.name)

= render 'clients/breadcrumbs'

.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_vispdats_path(@client)

.client__vispdat
  %h1
    .pull-right
      - unless @vispdat.migrated? || @vispdat.completed?
        = link_to polymorphic_path([:edit] + vispdat_path_generator, client_id: @client.id, id: @vispdat.id), class: 'btn btn-primary', title: 'Edit' do
          %span.icon-pencil
          Edit
      = link_to polymorphic_path(vispdat_path_generator, client_id: @client.id, id: @vispdat.id), class: 'btn btn-danger', title: 'Delete', method: :delete, data: { confirm: "Are you sure you want to delete the VI-SPDAT for #{@client.full_name}?" } do
        %span.icon-cross
        Delete
      = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id), class: 'btn btn-default', title: 'All' do
        %span.icon-menu
        VI-SPDAT List
    = content_for :title
    %small(data-toggle='tooltip' title="Vulnerability Index - Service Prioritization Decision Assistance Tool")VI-SPDAT
    .clearfix
  %hr

  = render 'vispdat'
