= simple_form_for @available_file_tag, as: :available_file_tag, url: admin_available_file_tags_path do |f|
  - if @available_file_tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@available_file_tag.errors.count, "error")} prohibited this available_file_tag from being saved:"
      %ul
        - @available_file_tag.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :group
  = f.input :included_info, label: 'Includes'
  = f.input :weight
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
