= content_for :crumbs do
  = link_to admin_configs_path do
    &laquo; Site Configuration
.row
  .col-sm-8
    %h1 Available File Tags
  .col-sm-4
    = link_to new_admin_available_file_tag_path, class: 'btn btn-primary' do
      %i.icon-plus
      New Tag

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Group
      %th Includes
      %th Weight
      %th

  %tbody
    - @available_file_tags.each do |available_file_tag|
      %tr
        %td= available_file_tag.name
        %td= available_file_tag.group
        %td= available_file_tag.included_info
        %td= available_file_tag.weight
        %td
          = link_to admin_available_file_tag_path(available_file_tag), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Really delete #{available_file_tag.name}?" } do
            %i.icon-cross


