- title = "Notes"
- content_for :title, title
= render 'window/clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'window/clients/tab_navigation', current: window_client_notes_path(@client)

.row
  .col-sm-8
    %h1= content_for :title
.row
  .col-sm-8
    %p.alert.alert-info
      - if can_edit_window_client_notes? && @client.release_valid?
        = _("#{@client.name} has a consent form on file, you can see any notes about this client.")
      - elsif can_edit_window_client_notes?
        = _("#{@client.name} does not have a consent form on file, you can only see notes you add.")
      - else
        = _("You can only see notes you add.")
    - if @notes.any?
      - @notes.order(created_at: :desc).each do |note|
        = render 'note', note: note
    - else
      No notes on file


  .col-sm-4
    = render 'new_note'