- # The 2018 LSA will no longer run after 2020 HMIS spec changes.  Remove the form
- if false # @show_missing_data
  .alert.alert-warning
    The LSA report requires some project descriptors.  The following projects are missing either Project HousingType, Geography Geocode, or Geography GeographyType, or have an invalid Funder.
  %table.table.table-sm
    %thead
      %tr
        %th Project
        %th Project Type
        %th Operating Start Date
        %th HousingType
        %th Geocode
        %th GeographyType
        %th Funder
    %tbody
      - @missing_projects.each do |project|
        %tr
          %td= link_to project[:project], edit_project_path(project[:id])
          %th= ::HUD.project_type_brief project[:project_type]
          %td= yes_no(! @missing_data[:missing_operating_start_date].include?(project))
          %td= yes_no(! @missing_data[:missing_housing_type].include?(project))
          %td= yes_no(! @missing_data[:missing_geocode].include?(project))
          %td= yes_no(! @missing_data[:missing_geography_type].include?(project))
          %td= yes_no(! @missing_data[:invalid_funders].include?(project))
- # The 2018 LSA will no longer run after 2020 HMIS spec changes.  Remove the form
