- title = 'Send Care Plan Signature Request to PCP'
- content_for :modal_title, title
%p
  Select a primary care physician to send the Care Plan for signature.
  The PCP must be listed as a team member on the Care Plan and have an email address with their organization’s domain name. (e.g. @tuftsmedical.org
  %strong not
  @gmail.com).
= simple_form_for @signature_request, as: :signature_request, url: @form_url do |f|
  .row
    .col-sm-8
      = f.input :team_member_id, collection: @available_team_members, required: true, label: 'Primary Care Physician', input_html: {class: :select2, style: 'width: 100%;'}
  = link_to polymorphic_path([:new] + team_member_path_generator, {client_id: @client.id}), class: 'btn btn-sm btn-secondary', data: {loads_in_pjax_modal: true} do
    %span.icon-plus
    Add Team Member
  .d-flex
    = link_to polymorphic_path(careplans_path_generator, {client_id: @client.id, careplan_id: @careplan.id}), class: ['ml-auto', 'btn', 'btn-secondary'] do
      Cancel
    = f.submit 'Send to PCP', class: ['btn', 'btn-primary', 'ml-2']

= content_for :page_js do
  :javascript
    $('.select2').select2();