.c-card
  .c-card__header.c-card__header--external
    %h3 Backup Plan
  .c-card__content.c-card__content--flush
    - if @careplan.backup_plan_archive.any?
      %table.table.health-care-plan__services-list
        %thead
          %tr
            %th Description of Need
            %th Backup Plan
            %th Person/Service/Support
            %th Phone Number
            %th Address
            %th Created On
        %tbody
          - @careplan.backup_plan_archive.each do |backup_plan|
            - backup_plan = backup_plan.with_indifferent_access
            %tr
              %td= backup_plan[:description]
              %td= backup_plan[:backup_plan]
              %td= backup_plan[:person]
              %td= backup_plan[:phone]
              %td= backup_plan[:address]
              %td= backup_plan[:plan_created_on]
    - else
      %p.no-data Currently no backup plan
