- select2_input_html = { class: [:select2, 'select2--full-width'] }
- select2_wrapper_html = {class: 'mb-3'}
- available_team_members = @patient.available_team_members
.col-md-6
  .form-group.mb-3
    %label.control-label.optional Patient
    .controls.form-control.form-control-faux
      = @patient.name
  = f.input :patient_signed_on, as: :date_picker, label: 'Date Signed'

  = f.input :provider_id, label: 'Primary Care Provider', collection: available_team_members, input_html: select2_input_html, wrapper_html: select2_wrapper_html, disabled: @careplan.locked? && f.object.provider_id.present?

  = f.input :provider_signed_on, as: :date_picker, label: 'Date Signed'

.col-md-6

  = f.input :representative_id, label: 'Designated Representative', collection: available_team_members, input_html: select2_input_html, wrapper_html: select2_wrapper_html, disabled: @careplan.locked?


