%h1 Goals

.l-print__item-wrapper
  - if @careplan.locked?
    - goals = @careplan.goals_archive.map{|m| m['type'].safe_constantize.new(m)}
  - else
    - goals = @patient.hpc_goals
  - unless goals.any?
    .no-data No goals provided
  - goals.each do |goal|
    .l-print__item.l-print__item--bordered
      %dl
        %dt Goal Description
        %dd
          .no-data= 'No answer provided' unless goal.goal_details&.strip&.present?
          =simple_format goal.goal_details

        %dt Start Date
        %dd
          .no-data= 'No answer provided' unless goal.start_date.present?
          =goal.start_date

        %dt Responsible Care Team Member
        - responsible_team_member = @patient.available_team_members.to_h.invert[goal[:responsible_team_member_id]]
        %dd
          .no-data= 'No responsible team member' unless responsible_team_member.present?
          = responsible_team_member
      - if goal.action_steps?
        %table.table.table-sm.datatable-goal
          %thead
            %tr
              %th Recommended Action Steps and any needed accommodations
              %th Timeframe
          %tbody
            - (0..9).each do |i|
              - action_step = goal["action_step_#{i}"]
              - timeframe = goal["timeframe_#{i}"]
              - next unless action_step&.strip&.present? || timeframe&.strip&.present?
              %tr
                %td
                  - if action_step&.strip&.present?
                    = simple_format "#{i+1}. #{action_step}"
                %td
                  - if timeframe&.strip&.present?
                    = simple_format "#{i+1}. #{timeframe}"