%article.health-care-plan__responsible-parties.l-print__section--page
  %h1 Responsible Parties Signatures

  .signature__section
    .signature__section__row
      .signature__label Patient:
      .signature__value= @patient.name
    .signature__section__row
      .signature__section__signature
        .signature__label Patient Signature:
        .signature__line
      .signature__section__signedOn
        .signature__label Signed On:
        - if @careplan.patient_signed_on&.to_date
          .signature__value= @careplan.patient_signed_on&.to_date
        - else
          .signature__line

  .signature__section
    .signature__section__row
      .signature__label Representative:
      - if @careplan.representative&.full_name
        .signature__value= @careplan.representative&.full_name
      - else
        .signature__line.signature__line-name
    .signature__section__row
      .signature__section__signature
        .signature__label Representative Signature:
        .signature__line
      .signature__section__signedOn
        .signature__label Signed On:
        - if @careplan.representative_signed_on
          .signature__value= @careplan.representative_signed_on
        - else
          .signature__line

  .signature__section
    .signature__section__row
      .signature__label Provider:
      - if @careplan.provider&.full_name && @careplan.provider_signed_on.present?
        .signature__value= @careplan.provider&.full_name
      - else
        .signature__line.signature__line-name
    .signature__section__row
      .signature__section__signature
        .signature__label Provider Signature:
        .signature__line
      .signature__section__signedOn
        .signature__label Signed On:
        - if @careplan.provider_signed_on&.to_date
          .signature__value= @careplan.provider_signed_on&.to_date
        - else
          .signature__line

  .signature__section.signature__understanding
    %strong
      -if @careplan.member_verbalizes_understanding
        _X_
      - else
        ______
      Member verbalizes understanding and accepts care plan.
    (Note: signature needed within 3 mos. of verbal approval.)
