= wicked_pdf_stylesheet_link_tag 'print', media: 'print'

- title = "Care Plan for #{@patient.name} as of #{Date.current}"
- content_for :title, title

.l-print.hide-blank-page
  =render 'pctp'

  %article.health-care-plan__cha.l-print__section--page
    %h1 Comprehensive Health Assessment
    = render 'health/comprehensive_health_assessments/show'

  = render 'pctp_signatures'

  %article.health-care-plan__ssm
    %h1 Self-Sufficiency Matrix
    - if @form.is_a? GrdaWarehouse::HmisForm
      .ssm-print= render @ssm_partial
    - elsif @ssm_partial
      = render @ssm_partial
