- title = "Care Plan for #{@patient.name} as of #{Date.current}"
- content_for :title, title

.l-print.hide-blank-page
  -# .l-print__section--page
  -#   =render 'health/careplans/pctp'

  %article.l-print__section--page.health-care-plan__cha
    %h1 Comprehensive Health Assessment
    = render 'health/comprehensive_health_assessments/show'

  %article.l-print__section--page.health-care-plan__ssm
    %h1 Self-Sufficiency Matrix
    - if @form.is_a? GrdaWarehouse::HmisForm
      .ssm-print= render @ssm_partial
    - elsif @ssm_partial
      = render @ssm_partial

  -# = render 'health/careplans/pctp_signatures'
