- title = "Care Plan for #{@patient.name} as of #{Date.current}"
- content_for :title, title

.l-print.hide-blank-page
  .l-print__section--page{style: 'padding: 0;'}
    =render 'health/careplans/pctp'

  - if @cha.present?
    %article.l-print__section--page.health-care-plan__cha
      %h1 Comprehensive Health Assessment
      = render 'health/comprehensive_health_assessments/show'

  - if @ssm_partial
    %article.l-print__section--page.health-care-plan__ssm
      %h1 Self-Sufficiency Matrix
      - if @form.is_a? GrdaWarehouse::HmisForm
        .ssm-print= render @ssm_partial
      - else
        = render @ssm_partial

  = render 'health/careplans/pctp_signatures'
