- title = "Care Plan for #{@patient.name} as of #{Date.current}"
- content_for :title, title

.l-print.hide-blank-page
  %article.l-print__section--page.health-careplan__cha
    %h1 Comprehensive Health Assessment
    = render 'health/comprehensive_health_assessments/show'

  %article.l-print__section--page.health-care-plan__ssm
    %h1 Self-Sufficiency Matrix
    - if @form.is_a? GrdaWarehouse::HmisForm
      .ssm-print= render @ssm_partial
    - elsif @ssm_partial.present?
      = render @ssm_partial
    - else
      .no-data No Self-Sufficiency Matrix on file

  .l-print__section--page{style: 'padding: 0;'}
    = render 'health/careplans/pctp'

  = render 'health/careplans/pctp_signatures'
