.pctp__signature.mb-4
  - if careplan.patient_signed_on
    .signature-words
      = checkmark(true)
      Patient Signature
    .signature-date
      (#{careplan.patient_signed_on&.to_date})
  - elsif careplan.id == @careplan.id
    = link_to careplan.edit_path, class: 'btn btn-sm btn-secondary' do
      Enter Patient Signature
.pctp__signature
  - if careplan.careplan_sent_on.present?
    .signature-words
      = checkmark(true)
      Careplan Sent
    .signature-date
      (#{careplan.careplan_sent_on&.to_date})
  - elsif (careplan.cp1? && careplan.needs_rereview?) || (careplan.cp2? && careplan.patient_signed_on)
    - if current_user.can_approve_careplan? || current_user.can_approve_cha?
      = link_to careplan.edit_path do
        Review Care Plan
- if careplan.cp1? && careplan.needs_rereview?
  .pctp__expiration.mt-2
    Careplan needs review
- elsif careplan.cp1?
  .pctp__expiration.mt-2
    Archived Careplan
- elsif careplan.completed?
  - expires_on = careplan.expires_on
  - if expires_on > Date.current
    .pctp__expiration.mt-2
      Careplan expires
      %br
      #{expires_on}
  - else
    .pctp__expired.mt-2
      Careplan expired
      %br
      #{expires_on}
