.pctp__signature.mb-4
  - if careplan.signature_complete?
    .signature-words
      = checkmark(true)
      Patient Signature
    .signature-date
      (#{careplan.patient_signed_on&.to_date})
  - elsif careplan.id == @careplan.id
    - link_params = Array.wrap(careplan.signature_path)
    - if link_params.length > 1 # If there are more than one param, there is a hash of additional link params
      - link_params.last.merge!(class: 'btn btn-sm btn-secondary')
    - else
      - link_params << {class: 'btn btn-sm btn-secondary'}
    = link_to *link_params do
      Enter Patient Signature
.pctp__signature
  - if careplan.careplan_sent_on.present?
    .signature-words
      = checkmark(true)
      Careplan Sent
    .signature-date
      (#{careplan.careplan_sent_on&.to_date})
  - elsif (careplan.cp1? && careplan.needs_rereview?) || (careplan.cp2? && careplan.patient_signed_on)
    - if current_user.can_approve_careplan? || current_user.can_approve_cha?
      = link_to careplan.edit_path do
        Review Care Plan
- if careplan.cp1? && careplan.needs_rereview?
  .pctp__expiration.mt-2
    Careplan needs review
- elsif careplan.cp1? || (careplan.respond_to?(:archived?) && careplan.archived?)
  .pctp__expiration.mt-2
    Archived Careplan
- elsif careplan.completed?
  - expires_on = careplan.expires_on
  - if expires_on > Date.current
    .pctp__expiration.mt-2
      Careplan expires
      %br
      #{expires_on}
  - else
    .pctp__expired.mt-2
      Careplan expired
      %br
      #{expires_on}
