- if @patient&.ssms&.any? || @patient&.thrive_assessments&.any?
  %table.table.table-sm.datatable-ssm
    %thead
      %tr
        %th Assessment
        %th Date Completed
        %th Case Manager
    %tbody
      - @patient.hrsn_screenings.newest_first.find_each do |screening|
        - instrument = screening.instrument
        %tr
          - if instrument.is_a? Health::SelfSufficiencyMatrixForm # CP1 Instrument
            %td
              = link_to polymorphic_path(self_sufficiency_matrix_form_path_generator, client_id: @client.id, id: instrument.id), data: { loads_in_pjax_modal: true } do
                %h4.mb-0.mt-0 SSM
            %td= instrument.completed_at&.to_date || 'in progress'
            %td= instrument.user&.name
          - else
            %td
              = link_to client_health_thrive_assessment_assessment_path(@client, instrument), data: { loads_in_pjax_modal: true } do
                %h4.mb-0.mt-0 THRIVE
            %td
              = instrument.completed_on || 'in progress'
            %td
              = instrument.case_manager
- else
  %p.no-data No HRSNs on file
