- if @careplan.locked?
  - team_members = @careplan.team_members_archive.map{|m| m['type'].safe_constantize.new(m)}
- else
  - team_members = @patient.team_members
%article.l-print__section
  %h1{style: 'margin-bottom: 0px;'} Care Team Members
  - if team_members.any?
    %table.health__team
      %thead
        %tr
          %th Capacity
          %th Name
          %th Organization
          %th Contact
      %tbody

        - team_members.each do |member|
          %tr
            %td= member.member_type_name
            %td= member.full_name
            %td= member.organization
            %td
              %p= member.email
              %p= member.phone
  - else
    .no-data.mt-2 No team members on file