- title = 'Collaborative Care Plan'
= content_for(:title, title)
.o-page
  .o-page__header
    %h1= "#{content_for(:title)} for #{@client.full_name}"
  = render 'clients/breadcrumbs'
  = render 'clients/tab_navigation', current: polymorphic_path(careplans_path_generator)
  = render 'window/health/careplans/index'