- title = 'Collaborative Care Plan'
= content_for(:title, title)
%h1= "#{content_for(:title)} for #{@client.full_name}"
= render 'clients/breadcrumbs'
.row
  .col-sm-12
    = render 'clients/tab_navigation', current: polymorphic_path(careplan_path_generator)
.row
  .col-sm-12
    = render 'summary'

.row
  .col-sm-12
    = render 'epic_goals'

.row
  .col-sm-12
    = render 'self_management_goal'