%h3= "Add Note"
.alert.alert-info
  %p
    Please note, notes categorized as Window Note, Client Alert, or Emergency Contact, will be visible to anyone with the ability to see notes for this client.
= simple_form_for @note, as: :note, url: client_notes_path(@client) do |f|
  = f.input :type, label: 'Note type', collection: GrdaWarehouse::ClientNotes::Base.available_types(current_user), label_method: :type_name, include_blank: false, as: :select_two
  = f.input :note, label: 'Note', input_html: {rows: 10}
  = f.input :send_notification, as: :boolean, label: 'Send notifications?', input_html: { class: :jNotifications }
  .jRecipients
    = f.input :recipients, collection: User.active.can_view_clients, as: :select_two, input_html: {multiple: true}
  = f.submit value: 'Add Note', class: 'btn btn-secondary'

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jNotifications').on('change', function(e) {
        if($(this).is(':checked')){
          $('.jRecipients').show();
          $('.select2-select-all').remove();
        } else {
          $('.jRecipients option:selected').prop('selected', false);
          $('.jRecipients').hide();
          $('.jRecipients select').trigger('change');
        }
      });
      $('.jNotifications').trigger('change');
    });
