%h3= "Add Note"
= simple_form_for @note, as: :note, url: client_notes_path(@client) do |f|
  = f.input :type, label: 'Note type', collection: GrdaWarehouse::ClientNotes::Base.available_types(), label_method: :type_name, include_blank: false
  = f.input :note, label: 'Note'
  = f.submit value: 'Add Note', class: 'btn btn-secondary'