- title = "Notes"
- content_for :title, title
= render 'clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'clients/tab_navigation', current: client_notes_path(@client)

.row
  .col-sm-8
    %h1= content_for :title
.row
  .col-sm-8
    - if @notes.any?
      - @notes.order(created_at: :desc).each do |note|
        = render 'note', note: note
    - else
      No notes on file


  .col-sm-4
    = render 'new_note'

