.row
  .col-sm-8
    = simple_form_for @file, url: polymorphic_path(files_path_generator, client_id: @client) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, as: :string
        = f.input :note, as: :string, hint: '(Optional) Give a reason for including this file.'
        = f.input :file, as: :file           
      .form-actions
        = f.button :submit, value: 'Upload File', class: 'btn btn-primary'
        
        
