.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right
    = render 'file_upload'
= render 'permission_warning'
.row
  .col-sm-8
    = render 'download_warning'
    = render 'health_warning'
  .col-sm-4
    = render 'blank_file_list', file_list_title: 'Blank Files'

- if @client.client_files.any?
  - if @consent_files.any?
    %section
      %header.o-section-card__header
        %h3 Consent Forms
        .o-section-card__header-actions
          = render 'window/clients/files/batch_download'
      .c-card.c-card--flush
        = render 'window/clients/files/file_list', files: @consent_files, paginate: false, consent: true
  - if @files.any?
    %section.o-section-card
      %header.o-section-card__header
        %h3 Other Files
        .o-section-card__header-actions
          = render 'window/clients/files/batch_download'
      .c-card.c-card--flush.c-card--block
        = render 'window/clients/files/file_list', files: @files, paginate: true, consent: false
- else
  No file uploads