.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right
    = render 'file_upload'
= render 'permission_warning'
.row
  .col-sm-8
    = render 'download_warning'
    = render 'health_warning'
  .col-sm-4
    = render 'blank_file_list', file_list_title: 'Blank Files'

- if @client.client_files.any? || @deleted_files.any?
  %ul.nav.nav-tabs
    %li.nav-item.active
      %a.nav-link.active{href: '#consent', role: "presentation", data: {toggle: :tab}}
        Consent Forms
    %li.nav-item
      %a.nav-link{href: '#other', role: "presentation", data: {toggle: :tab}}
        Other Files
    - if can_manage_client_files?
      %li.nav-item
        %a.nav-link{href: '#deleted', role: "presentation", data: {toggle: :tab}}
          Deleted Files
  .tab-content
    .tab-pane.active#consent
      - if @consent_files.any?
        %section
          %header.o-section-card__header
            %div.o-section-card__header-actions
              = render 'window/clients/files/batch_download'
          .c-card.c-card--flush
            = render 'window/clients/files/file_list', files: @consent_files, paginate: false, consent: true
      - else
        No consent files
    .tab-pane#other
      - if @files.any?
        %section.o-section-card
          %header.o-section-card__header
            %div.o-section-card__header-actions
              = render 'window/clients/files/batch_download'
          .c-card.c-card--flush
            = render 'window/clients/files/file_list', files: @files, paginate: true, consent: false
      - else
        No other files
    .tab-pane#deleted
      - if can_manage_client_files? && @deleted_files.any?
        %section.o-section-card
          .c-card.c-card--flush
            = render 'window/clients/files/deleted_file_list', files: @deleted_files
      - else
        No deleted files
- else
  No file uploads

- content_for :page_js do
  :javascript
    var url = document.location.toString();
    if (url.match('#')) {
      $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash;
    })