- title = "File Uploads for #{@client.name}"
- content_for :title, title
= render 'window/clients/breadcrumbs'
        
.row
  .col-sm-12
    = render 'window/clients/tab_navigation', current: window_client_files_path(@client)
= render 'file_upload'
%p.alert.alert-info
  - if can_manage_window_client_files? && @client.release_valid?
    = _("#{@client.name} has a consent form on file, you can see any client files.")
  - elsif can_manage_window_client_files?
    = _("#{@client.name} does not have a consent form on file, you can only see files you upload.")
  - else
    = _("You can only see files you upload.")
= render 'file_list'
