- title = "Upload a File"
- content_for :title, title

= render 'crumbs'


= render 'window/clients/aliases'
= render 'window/clients/tab_navigation', current: window_client_files_path(@client)
%h1= title
= render 'form'

