- title = "Upload a File for #{@client.name}"
- content_for :title, title

= render 'crumbs'

%h1= title
.row
  .col-sm-12
    = render 'window/clients/tab_navigation', current: window_client_files_path(@client)

    = render 'form'

  