%h1 Password Expired
.row
  .col-sm-6
    = simple_form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }, wrapper: :vertical_form_hint_first) do |f|
      = render 'users/password_rules'
      = f.error_notification
      = f.input :current_password, required: true, autofocus: true
      .form-inputs
        = f.input :password, label: "New password", required: true
        = f.input :password_confirmation, label: "Confirm your new password", required: true
      .form-actions
        = f.button :submit, "Update my password"

