-if can_edit_users? || can_edit_translations? || can_view_imports?
  .row
    %ul.nav.nav-tabs
      -if can_edit_users?
        %li{role: "presentation", class: ('active' if controller_path == 'admin/users')}
          = link_to 'User Accounts', admin_users_path
      -if can_edit_translations?
        %li{role: "presentation", class: ('active' if controller_path == 'admin/translation_keys')}
          = link_to 'Manage Translations', admin_translation_keys_path
      -if can_view_imports?
        %li{role: "presentation", class: ('active' if controller_path == 'admin/dashboard/imports')}
          = link_to 'Import Dashboard', admin_dashboard_imports_path
      -if can_administer_health?
        %li{role: "presentation", class: ('active' if controller_path == 'admin/health/admin')}
          = link_to 'Healthcare Administration', admin_health_admin_index_path
- title = 'Manage Healthcare'
- content_for(:title, title)
%h1= title
%p Use the following links to manage who is included in the healthcare window and who has access to see and update health related items within the window.
%ul
  %li
    = link_to admin_health_patients_path do
      Assign clients to patients
  %li
    = link_to admin_health_users_path do
      Manage who can access the healthcare window
  %li
    = link_to admin_health_roles_path do
      View permissions and health related-roles
