- if @no_agency_user_warning.present?
  .alert.alert-danger.error= @no_agency_user_warning
- else
  = render 'admin/health/patient_referrals/header'
  = render 'admin/health/patient_referrals/tabs'
  - if @pagy.count.positive?
    = render 'admin/health/patient_referrals/paginate'
    .jAgencyPatientReferrals
      - if @user_agencies.many? && @patient_referral_groups.present?
        = render 'admin/health/agency_patient_referrals/agency_grouped_patient_referrals'
      - else
        = render 'admin/health/patient_referrals/patient_referrals'
    = render 'claim_patient_referral_js'
  - else
    .none-found No patients found
