- aliases = @client.client_names(window: true, user: current_user).uniq.select{|m| m[:name] != @client.full_name}
- if @client.deceased?
  .alert.alert-danger
    = "Marked deceased on: #{@client.deceased_on}"
- if aliases.any?
  .client-aliases.margin-bottom-02
    %h3 Aliases
    - aliases.each do |name|
      - sn = name[:ds]
      - full_name = name[:name]
      %em{class: "ds-#{sn.downcase}"}
        = sn
      = full_name
      &nbsp;