
- aliases = @client.client_names(window: true, user: current_user).uniq.select{|m| m[:name] != @client.full_name}
- if @client.deceased?
  .alert.alert-danger
    = "Marked deceased on: #{@client.deceased_on}"

- if aliases.any?
  %ul.client__aliases.d-flex.list-unstyled
    - aliases.each do |name|
      - sn = name[:ds]
      - full_name = name[:name]
      %li
        %span{class: "ds-#{sn.downcase}"}
          = sn
        = full_name
