- eto_available = GrdaWarehouse::Config.get(:eto_api_available)
- required_documents = GrdaWarehouse::AvailableFileTag.document_ready
.client__main-details
  - if @client.image
    .client__image{ style: "background-image: url(#{ image_client_path })" }

  %section.o-section-card.mb-0
    .c-card.c-card--block.c-card--padded.c-card--flush.mb-6
      = render 'clients/service_summary', window: true

    .d-flex.flex-column.align-items-center.flex-wrap
      .client-consent-status.d-none--empty.mb-3.mr-8<
        = render 'window/clients/consent_form_flags'
      .mr-8.mb-3.d-none--empty<
        = render 'clients/chronic_flags', client: @client

      .d-none--empty.col-md-12.col-lg-6.mb-6.w-100<
        = render 'window/clients/required_documents'
