- window_link = client.window_link_for?(current_user)
- show_window_link = window_link.present?
.clients__client-card.clients__client.c-card.c-card--linked{data: {id: client.id, href: window_link}, class: show_window_link ? 'js-client' : nil}
  .c-card__content
    .client__details.client__details--identity
      - if ( akas = client_aliases(client)).empty?
        - main_client_name = client.source_clients.visible_in_window_to(current_user).first.data_source.short_name
      - else
        - main_client_name = akas.shift
      .clients__client-additional-names
        .client__client-name
          .client-aka
            = main_client_name
        - akas.each_with_index do | aka, i |
          .client__client-name
            .client-aka
              = aka
      = render 'relationships', client: client
    .client__details.client__details--demographics
      = render 'clients/chronic_flags', client: client
      - if @show_ssn
        .client__ssns
          - client.source_clients.visible_in_window_to(current_user).map{|c| masked_ssn(c[:SSN]).html_safe if c[:SSN].present?}.uniq.compact.each do |ssn|
            .client__ssn
              %strong SSN:
              = ssn
      .client__dobs
        - client.source_clients.visible_in_window_to(current_user).map{|m| [m.DOB, m.age]}.uniq.compact.each do |dob, age|
          .client__dob
            %strong Year of Birth:
            = "#{dob&.year},"
            %strong Age:
            = age
      .client__genders
        - client.source_clients.visible_in_window_to(current_user).map(&:Gender).uniq.compact.each do |g|
          .client__gender
            %strong Gender:
            = ::HUD.gender(g)
      .client__races
        - client.source_clients.visible_in_window_to(current_user).map(&:race_description).uniq.compact.each do |r|
          .client__gender
            %strong Race(s):
            = r
      .client__ethnicities
        - client.source_clients.visible_in_window_to(current_user).map(&:Ethnicity).uniq.compact.each do |e|
          .client__ethnicity
            %strong Ethnicity:
            = ::HUD.ethnicity(e)
      .client__veteran-status
        %strong Veteran:
        - veteran = client.source_clients.visible_in_window_to(current_user).map(&:veteran?).uniq.compact.include? true
        - if veteran
          Yes
        - else
          No
      - if client.consent_form_status.present?
        .client__data-sharing-agreement
          %strong Data sharing agreement:
          = client.consent_form_status.presence
    .client__details
      .client__view_client
        - if show_window_link
          = link_to 'View', window_link, class: 'btn btn-secondary'
