- show_relationship_link = can_assign_users_to_clients? || can_view_client_user_assignments?
.clients__users
  - if client.user_clients.non_confidential.any?
    %table.table.table-condensed
      %thead
        %tr
          %th
            - if show_relationship_link
              = link_to polymorphic_path(users_path_generator, client_id: client.id) do
                %span.icon-users
            Contact
          %th Phone
          %th Agency
          %th Role
      %tbody
        - client.user_clients.non_confidential.each do |uc|
          - user = uc.user
          %tr
            %td= mail_to user.email, user.name
            %td= user.phone
            %td= user.agency
            %td= uc.relationship
  - else
    - if show_relationship_link
      = link_to polymorphic_path(users_path_generator, client_id: client.id) do
        %span.icon-users
        Manage Relationships