= content_for :crumbs do
  = link_to warehouse_reports_health_ed_ip_visits_path do
    &laquo; ED & IP Visits
- title = "#{@file.label} uploaded on #{@file.created_at}"
- content_for :title, title
%h1= content_for :title
- if @file.status == 'Imported'
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'visit'
    .overflow-scroll
      %table.table.table-sm
        %thead
          %tr
            - @file.columns.values.each do |label|
              %th= label
        %tbody
          - @rows.each do |entry|
            %tr
              - patient = entry.patient
              - @file.columns.keys.each do |key|
                %td

                  - if key.in?([:first_name, :last_name]) && patient&.client&.present?
                    = link_to entry[key], client_health_patient_index_path(patient.client)
                  - else
                    = entry[key]
    = render 'common/pagination_bottom', item_name: 'visit'
  - else
  .none-found No visits
- else
  %p.alert.alert-info
    = @file.status