- title = "Service History for #{@client.name}"
- content_for :title, title
= render 'clients/breadcrumbs'
= render 'clients/tab_navigation', current: polymorphic_path(history_path_generator, client_id: @client)
%h1= title
= render 'history_key'
= render 'service_calendar'
    
