.well.overflow-scroll
	.row
		.col-sm-3
			%br
			%p.text-center Bed Inventory
			%h3.text-center
				= "#{@report.report['bed_utilization_totals']['counts']['capacity']} beds"
			%hr
			%p.text-center Average Daily / Nightly Clients

			%h3.text-center
				= "#{@report.report['bed_utilization_totals']['counts']['average_daily']} clients"
			%hr
			%p.text-center Average Bed Utilization

			%h3.text-center
				= "#{@report.report['bed_utilization_totals']['counts']['average_daily_percentage']&.round}%"

		.col-sm-9
			%h3.text-center Nightly Client Census
			.bed-census-chart.jChart
				%p.jLoading Loading