.well.overflow-scroll
	.row
		.col-sm-3
			%br
			%p.text-center Unit Inventory
			%h3.text-center
				= "#{@report.report['unit_utilization_totals']['counts']['capacity']} units"
			%hr
			%p.text-center Average Daily Households
			%h3.text-center
				= "#{@report.report['unit_utilization_totals']['counts']['average_daily']&.round} households"
			%hr
			%p.text-center Average Unit Utilization
			%h3.text-center
				= "#{@report.report['unit_utilization_totals']['counts']['average_daily_percentage']&.round}%"

		.col-sm-9
			%h3.text-center Nightly Household Census
			.unit-census-chart.jChart
				%p.jLoading Loading