- name = entity[:label] || entity[:placeholder]
.c-columns__column
  .c-columns__column-header
    %h3.c-columns__column-title=name
    .c-columns__column-buttons
      = link_to '#', class: 'j-add', data: {toggle: 'tooltip'}, title: "Add #{name}" do
        = icon('fas', 'plus')
      = link_to '#', class: 'j-remove-all', data: {toggle: 'tooltip'}, title: "Remove All" do
        = icon('fas', 'times-circle')

  .c-columns__column-actions
    = f.input name.parameterize('_').to_sym,  **entity, label: false

  .c-columns__column-content
    %ul.c-columns__column-list
      - entity[:collection].each do |c|
        %li.c-columns__column-list-item
          %span
            - if c.is_a? ActiveRecord::Base
              = c.name
            - elsif c.is_a? Array
              = c.first
              -# = c.last
              -# %ul
              -#   - c.last.each do |org|
              -#     %li= org.name
            - else
              = c
          %span
            = icon('fas', 'times-circle')
