- base ||= 'user'

%h3 Viewable Entities
.alert.alert-info.align-items-start
  %i.icon-warning.mr-2
  .alert__content
    %p
      Clients with records in specified data sources will be visible
      in the window to this user, regardless of data source visibility settings if they belong to a role with the
      %strong "Can see clients in window for assigned data sources"
      permission
%ul.nav.nav-tabs.mb-0
  %li.nav-item
    %a.nav-link.active{href: '#user-roles', role: "presentation", data: {toggle: :tab}, aria: {controls:"user-roles", selected:"true"}}
      User Roles
  %li.nav-item
    %a.nav-link{href: '#user-groups', role: "presentation", data: {toggle: :tab}, aria: {controls:"user-groups", selected:"false"}}
      User Groups
  %li.nav-item
    %a.nav-link{href: '#data-access-assignments', role: "presentation", data: {toggle: :tab}, aria: {controls:"data-access-assignments", selected:"false"}}
      Data Access Assignments
  %li.nav-item
    %a.nav-link{href: '#reports-cohorts', role: "presentation", data: {toggle: :tab}, aria: {controls:"reports-cohorts", selected:"false"}}
      Reports &amp; Cohorts

.tab-content
  .tab-pane.show.active.fade#user-roles{role: 'tabpanel', aria: {labelledby: 'user-roles'}}
    .c-columns
      = render 'users/roles', roles: roles, f: f, user: @user
  .tab-pane.fade#user-groups{role: 'tabpanel', aria: {labelledby: 'user-groups'}}
    .c-columns
      = render 'users/groups', f: f, user: @user
  .tab-pane.fade#data-access-assignments{role: 'tabpanel', aria: {labelledby: 'data-access-assignments'}}
    .c-columns
      = render 'users/entity_column', entity: data_source_viewability(base), f: f, entity_type: :data_sources
      = render 'users/entity_column', entity: organization_viewability(base), f: f, entity_type: :organizations
      = render 'users/entity_column', entity: project_access_group_viewability(base), f: f, entity_type: :project_access_groups
      = render 'users/entity_column', entity: coc_viewability(base), f: f, entity_type: :coc_codes
      = render 'users/entity_column', entity: project_viewability(base), associations: [:data_source, :organization, :coc_code, :project_access_group], f: f, entity_type: :projects

  .tab-pane.fade#reports-cohorts{role: 'tabpanel', aria: {labelledby: 'reports-cohorts'}}
    .c-columns
      = render 'users/entity_column', entity: user_reports_assignability(base), f: f, entity_type: :reports
      = render 'users/entity_column', entity: project_groups_editability(base), f: f, entity_type: :project_groups
      = render 'users/entity_column', entity: cohort_editability(base), f: f, entity_type: :cohorts

- content_for :page_js do
  :javascript
    new App.ViewableEntities()
