- base ||= 'user'
.form-inputs
  %h3 Viewable Entities
  - if ( panopticon = Role.where( can_edit_anything_super_user: true ).map(&:role_name) ).any?
    %p
      %em
        The
        = panopticon.to_sentence
        = 'role'.pluralize panopticon.length
        can view all entities.
  %p.alert.alert-info
    %i.icon-warning
    Clients with records in specified data source will be visible
    in the window to this user, regardless of data source visibility setting if they belong to a role with the
    %strong Can see clients in window for assigned data sources
    permission.
  = f.input :data_sources,  **data_source_viewability(base)
  = f.input :organizations, **organization_viewability(base)
  = f.input :projects,      **project_viewability(base)
  = f.input :coc_codes,     **coc_viewability(base)
  = f.input :reports,       **reports_viewability(base)
  = f.input :cohorts,       **cohort_viewability(base)

- content_for :page_js do
  :coffeescript
    $('.jUserViewable').each ->
      $t = $(@)
      values = ( $(i).val() for i in $t.find('option[selected]') )
      $ ->
        $t.select2
          minimumResultsForSearch: 10
          placeholder: $t.attr('placeholder')
          tags: true
          multiple: true
        $t.val(values).trigger('change')
