- key = :enrolled
- detail_params = filter_params.merge(options: {key: key, age: true, breakdown: breakdown})
%h2 Enrolled
= link_to_if show_client_details?, "Total #{pluralize(@report.enrolled_total_count, 'Unique Client')}", details_performance_dashboards_overview_index_path(detail_params), data: {loads_in_pjax_modal: true}

.jChart.enrolled-by-age-chart

- columns = [@report.enrolled_by_age_data_for_chart[:columns]]
- if @report.include_comparison?
  - columns << @comparison.enrolled_by_age_data_for_chart[:columns]
- categories = @report.enrolled_by_age_data_for_chart[:categories]

= content_for :page_js do
  :javascript
    (function($) {
      var columns = #{columns.to_json.html_safe};
      var categories = #{categories.to_json.html_safe};
      var options = {
        follow_link: '#{show_client_details?}',
        link_base: 'overview/details',
        key: '#{key}',
        breakdown: '#{breakdown}',
        sub_keys: #{@report.age_bucket_titles.invert.to_json.html_safe},
        params: #{detail_params.to_json.html_safe},
        date_ranges: {
          report: {
            start_date: '#{@report.start_date}',
            end_date: '#{@report.end_date}'
          },
          comparison: {
            start_date: '#{@comparison.start_date}',
            end_date: '#{@comparison.end_date}'
          }
        }
      };
      var enrolled_by_age_chart = new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.enrolled-by-age-chart', columns, categories, options);
    })(jQuery);