-# = simple_form_for {}, as: :foo, url: '#' do |f|
  - content_for :filters_col_full do
    %h3 Upload Reconciliation File
    = f.input :content, as: :file, label: false

  - content_for :filter_actions do
    = f.submit 'Upload', class: 'btn btn-primary'
:ruby
  available_months = 36.times.map do |n|
    date = (Date.current << n).end_of_month
  end
  @month ||= available_months.first

= simple_form_for :filter, method: :get do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-4
        = f.input :aco, collection: Health::AccountableCareOrganization.active, label: 'ACO', selected: @acos, input_html: { class: :select2,  multiple: true, placeholder: '(all ACOs)' }
      .col-sm-4
        = f.input :month, selected: @month, collection: available_months,  input_html: { class: :select2,  multiple: false }
  - content_for :filter_actions do
    = f.submit 'Update Report', class: 'btn btn-primary mt-no-label'
  = render 'warehouse_reports/filters', f:f, submit_button: nil
