%p Found #{pluralize @report.active_patient_count, 'active patient'} during this period.
- if @report.active_patient_count.positive?
  - if @report.patients_without_payments.none?
    %p
      %b Found #{pluralize @report.patients_without_payments.size, 'missing claim'} during this period.
  - else
    %p No record of payment could be found for the following #{pluralize @report.patients_without_payments.size, 'patients'}:
    %table.table.table-hover
      %thead
        %tr
          %th Medicaid ID
          %th First Name
          %th Last Name
      %tbody
        - @report.patients_without_payments.each do |patient|
          %tr
            %td= link_to patient.medicaid_id, client_health_qualifying_activities_path(patient.client)
            %td= patient.first_name
            %td= patient.last_name
