%p Found #{pluralize @report.active_patient_count, 'active patient'} during this period.
- if @report.active_patient_count.positive?
  - if @report.payment_details.none?
    %p
      %b No payment details were found for services performed during this period. Have they been loaded yet?
  - elsif @report.patients_without_payments.none?
    %p
      %b Found #{pluralize(@report.patients_without_payments&.size, 'missing claim')} during this period.
  - elsif @report.patients_without_payments.any?
    %p No record of payment could be found for the following #{pluralize(@report.patients_without_payments&.size, 'patient')}:
    .pull-right
      = link_to url_for(format: :csv) do
        Download
        %span.icon-download2
    %table.table.table-sm.datatable
      %thead
        %tr
          %th Medicaid ID
          %th First Name
          %th Last Name
          %th Qualifying Activities
          %th Missing Enrollment
          %th Missing Care Plan
          %th Plan Dates
      %tbody
        - @report.patients_without_payments.each do |patient|
          %tr
            %td= link_to patient.medicaid_id, client_health_qualifying_activities_path(patient.client)
            %td= patient.first_name
            %td= patient.last_name
            %td= @report.qa_count_for_patient(patient)
            %td= @report.qa_missing_enrollment_count_for_patient(patient)
            %td= @report.qa_missing_careplan_count_for_patient(patient)
            %td= patient.careplans.select(&:provider_signed_on).map{|d| l d.provider_signed_on.to_date }.to_sentence
  = content_for :page_js do
    :javascript
      $('.datatable').DataTable({
        searching: false,
        ordering: true,
        paging: false,
        info: false
      });
