- title = 'BH CP Claim Reconciliation'
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-bh-cp-claims-payments'

%ul.nav.nav-tabs{role: :tablist}
  %li.nav-item{role: :presentation}
    %a{href: '#patients', role: :tab, data: {toggle: :tab}, aria: {controls: 'patients'}, class: 'nav-link'}
      Patients Missing Payments
  %li.nav-item{role: :presentation}
    %a{href: '#files', role: :tab, data: {toggle: :tab}, aria: {controls: 'files'}, class: 'nav-link'}
      Reconciliation Files

.tab-content#reports-tab-content
  %div{role: :tabpanel, class: 'tab-pane', id: 'patients'}
    = render 'form'
    = render 'table'
  %div{role: :tabpanel, class: 'tab-pane', id: 'files'}
    = render 'upload_form'
    = render 'upload_table'

= render 'common/bootstrap_tab_memory'
