- title = 'BH CP Claim Reconciliation'
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-bh-cp-claims-payments'

%ul.nav.nav-tabs{role: :tablist}
  %li.nav-item{role: :presentation}
    %a{href: '#patients', role: :tab, data: {toggle: :tab}, aria: {controls: 'patients'}, class: 'nav-link'}
      Patients Missing Payments
  %li.nav-item{role: :presentation}
    %a{href: '#files', role: :tab, data: {toggle: :tab}, aria: {controls: 'files'}, class: 'nav-link'}
      Reconciliation Files

.tab-content#reports-tab-content
  %div{role: :tabpanel, class: 'tab-pane', id: 'patients'}
    = render 'form'
    = render 'table'
  %div{role: :tabpanel, class: 'tab-pane', id: 'files'}
    = render 'upload_form'
    = render 'upload_table'

= content_for :page_js do
  :javascript
    var selectedTab = window.location.hash
    if (!selectedTab) {
      $("ul.nav-tabs li:first-child a").tab('show')
    }
    $('.nav-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
      $(this).parent().siblings().removeClass('active')
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      history.pushState({}, id, $(e.target).attr("href"));
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');
