- title = 'Clients Housed, Previously on the Chronic List'
- content_for :title, title
.row
  .col-sm-8
    %h1
      = title
= render '/warehouse_reports/breadcrumbs', tab: 'operational'

%p
  Limit to clients on the chronic list within a date range.
= render 'filter'

.row
  .col-sm-12
    .warehouse-reports
      - if @clients.any?
        .row
          .col-sm-12.text-right
            = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
              Download Excel
        %p
          Found
          %strong
            = @clients.size
          clients housed in permanent destinations and on the chronic lists between:
          %strong
            = "#{@range.start} and #{@range.end}."
      %table.table.table-sm.table-hover
        %thead
          %tr
            %th Client
            %th{style: 'width: 10em;'} On Lists
            %th Housed On
        %tbody
          - @clients.each do |_,exits|
            - client = exits.first
            %tr
              %td
                = link_to_if can_view_clients?, "#{client.first_name} #{client.last_name}", appropriate_client_path(id: client.client_id)
              %td
                = @chronics[client.client_id].map(&:date).uniq.join('<br />').html_safe
              %td
                = exits.map{|ex| [ex.exit_date, HUD.destination(ex.destination)].join(' - ')}.uniq.join('<br />').html_safe
