= render 'admin/users/breadcrumbs'
- content_for :title, 'New User Account'
.mx-auto(style='max-width: 500px')
  %h1= content_for :title
  = simple_form_for @user, url: admin_users_path, method: :post do |f|
    .form-inputs.well
      - if @connectors.many?
        .form-group
          = label_tag 'user_connector_id', 'Identity provider'
          = select_tag 'user[connector_id]', options_for_select(@connectors.map { |c| [c.name, c.connector_id] }, params.dig(:user, :connector_id)), class: 'form-control', id: 'user_connector_id'
          %small.form-text.text-muted Which identity provider realm this account will be created in.
      - elsif @connectors.one?
        = hidden_field_tag 'user[connector_id]', @connectors.first.connector_id
      = f.input :first_name, required: true
      = f.input :last_name, required: true
      = f.input :email, as: :email, required: true, hint: 'The account is created in your identity provider and a setup email is sent to this address so the user can set their password.'
      .form-actions.mt-4
        = f.button :submit, 'Create account', class: 'btn btn-primary'
        = link_to 'Cancel', admin_users_path, class: 'btn btn-link'
