%h3 Queue Report
= simple_form_for @filter, as: :filter, url: hud_reports_lsas_path, data: { controller: 'filter-projects' } do |f|
  - year = if Date.current.month >= 10 then Date.current.year else Date.current.year - 1 end
  - content_for :filters_col_full do
    .row
      .col-sm-12
        %p The LSA must be run system-wide for submission to HUD.  To run a system-wide LSA, choose a CoC Code and date range and leave project, project group, and data source limits empty.
        %p To run the LSA for a sub-set of projects, usually for local data validation, you can limit the projects included by choosing any combination of project, project group, or data source.
    .row
      .col-sm-6
        = f.input :project_ids, collection: [], as: :grouped_select_two, group_method: :last, input_html: { multiple: true, placeholder: 'Choose Projects', data: { 'filter-projects-target' => 'projects', action: 'change->filter-projects#update', 'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids, api_projects_parameters: { project_types: report_class.valid_project_types }) } }, label: 'Projects'
        = f.input :project_group_ids, collection: @filter.project_groups_options_for_select(user: current_user), required: false, label: 'Project Groups', input_html: { multiple: true }, as: :select_two
        = f.input :data_source_ids, collection: @filter.data_source_options_for_select(user: current_user), required: false, input_html: { multiple: true} , label: 'Data Sources', as: :select_two
      .col-sm-3
        = f.input :coc_code, collection: @filter.coc_code_options_for_select(user: current_user), required: true, as: :select_two
        = f.input :lsa_scope, collection: HudLsa::Fy2022::Report.available_lsa_scopes, label: 'LSA Scope', include_blank: 'Auto Select', as: :select_two
      .col-sm-3
        = f.input :start, as: :date_picker, label: 'Start Date'
        = f.input :end, as: :date_picker, label: 'End Date'

  - content_for :filter_actions do
    = f.button :button, class: 'btn btn-primary pull-right' do
      %span.icon-plus
      Queue Report Run

  = render 'warehouse_reports/filters', f:f, submit_button: nil
