- if missing_data[:show_missing_data]
  .alert.alert-warning
    The LSA report requires some project descriptors.  The following projects are missing either Project HousingType, Geography Geocode, or Geography GeographyType, or have an invalid Funder.  This list is limited to continuum projects with open enrollments in the past 3 years and to project types required for LSA.
  .well.p-0
    .overflow-x-scroll{style: "height: 800px"}
      %table.table.table-fixed.table-striped
        %thead
          %tr
            %th Project
            %th Project Type
            %th Operating Start Date
            %th HousingType
            %th Project-CoC CoC Code
            %th Geocode
            %th GeographyType
            %th Funder
            %th Zipcode
            %th Inventory Start Date
            %th Inventory CoC Code
        %tbody
          - missing_data[:missing_projects].each do |project|
            %tr
              %td= link_to project[:project], project_path(project[:id])
              %th= ::HUD.project_type_brief project[:project_type]
              %td= yes_no(! missing_data[:missing_operating_start_date].include?(project))
              %td= yes_no(! missing_data[:missing_housing_type].include?(project))
              %td= yes_no(! missing_data[:missing_coc_codes].include?(project))
              %td= yes_no(! missing_data[:missing_geocode].include?(project))
              %td= yes_no(! missing_data[:missing_geography_type].include?(project))
              %td= yes_no(! missing_data[:invalid_funders].include?(project))
              %td= yes_no(! missing_data[:missing_zip].include?(project))
              %td= yes_no(! missing_data[:missing_inventory_start_dates].include?(project))
              %td= yes_no(! missing_data[:missing_inventory_coc_codes].include?(project))
%h3 LSA-Specific Data Quality Reports
.well
  %p The LSA reports on data quality issues, the following reports should assist in tracking down the details.
  %ul
    %li= link_to 'Missing CoC Codes', warehouse_reports_hud_missing_coc_codes_path
    %li= link_to 'Incorrect Head of Household Counts', warehouse_reports_hud_not_one_hohs_path
    %li= link_to 'Incorrect Move-in Dates', warehouse_reports_hud_incorrect_move_in_dates_path
    %li= link_to 'Clients Enrolled in Multiple Projects of the Same Type', warehouse_reports_double_enrollments_path
  %p When investigating LSA QC flags, HUD will reference the internal warehouse IDs for various inventory-related items.  The following export can help track down the HMIS source IDs.
  %ul
    %li= link_to 'HMIS Cross-Walk', warehouse_reports_hmis_cross_walks_path
