- hmis_forms_columms = (GrdaWarehouse::HmisForm.column_names - ['api_response', 'answers']).map(&:to_sym)
- hmis_forms = @client.source_hmis_forms.select(*hmis_forms_columms).sort.group_by(&:assessment_type)
- eccovia_assessments = []
- ce_assessments = []
- if RailsDrivers.loaded.include?(:eccovia_data)
  - eccovia_assessments = @client.source_eccovia_assessments
- if @client.source_assessments.exists?
  - ce_assessments = @client.source_assessments.preload(:assessment_questions).to_a
- custom_hmis_assessments = []
- if HmisEnforcement.hmis_enabled?
  - custom_hmis_assessments = @client.hmis_source_custom_assessments.order(assessment_date: :desc).preload(:user, enrollment: [:data_source, { project: :warehouse_project }], form_processor: :definition).to_a
  -# remove any CE assessments for which we have a matching HMIS custom assessment.  The custom assessment will give better fidelity
  -# we'll add back the ce assessment details on the show page
  - custom_hmis_assessments.each do |assessment|
    - ce_assessments.delete_if { |ce| ce.id == assessment.form_processor.ce_assessment_id }
  - custom_hmis_assessments = custom_hmis_assessments.group_by(&:title)

- ce_assessments = ce_assessments.group_by(&:name)
- if hmis_forms.any? || eccovia_assessments.any? || ce_assessments.any? || custom_hmis_assessments.any?
  - if hmis_forms.any?
    %table.table
      %thead
        %tr
          %th Assessment Type
          %th Collection Date
          %th Location
          %th Staff
          %th.zero-width
      %tbody
        - any_buttons = hmis_forms.values.any?(&:many?)
        - hmis_forms.each_with_index do |(type, (form, *rest)), i|
          - cz = "assessment_type_#{i}"
          %tr{ class: ( 'assessment__new-type' if any_buttons )}
            %td= link_to type, assessment_client_path(id: form.id), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
            %td= form.collected_at.to_date
            %td= form.collection_location
            %td= form.staff
            %td.zero-width
              - if rest.any?
                %a.btn.btn-secondary.btn-xs.btn-icon-only.jAssessmentTypeToggle{ href: '#', data: { class: cz } }
                  %span.icon-plus
          - rest.each do |form|
            %tr{ class: cz, style: 'display:none;' }
              %td= link_to type, assessment_client_path(id: form.id), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
              %td= form.collected_at.to_date
              %td= form.collection_location
              %td= form.staff
              %td.zero-width
  - if eccovia_assessments.any?
    %table.table
      %thead
        %tr
          %th Assessment Type
          %th Score
          %th Collection Date
          %th Staff
          %th.zero-width
      %tbody
        - eccovia_assessments.each do |assessment|
          %tr
            %td= assessment.assessment_type
            %td= assessment.score
            %td= assessment.assessed_at&.to_date
            %td= assessment.assessor_name
  - if ce_assessments.any?
    %table.table
      %thead
        %tr
          %th Assessment Level
          %th Assessment Type
          %th Collection Date
          %th Prioritization Status
          %th Staff
          %th
      %tbody
        - ce_assessments.each_with_index do |(name, (assessment, *assessments)), i|
          - any_buttons = assessments.any?
          - cz = "assessment_type_#{i}"
          %tr{ class: ( 'assessment__new-type' if any_buttons )}
            %td= link_to name, client_hud_assessment_path(@client, assessment), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
            %td= HudUtility2024.assessment_type assessment.AssessmentType
            %td= assessment.AssessmentDate
            %td= HudUtility2024.prioritization_status assessment.PrioritizationStatus
            %td= assessment.user&.name
            %td.zero-width
              - if any_buttons
                %a.btn.btn-secondary.btn-xs.btn-icon-only.jAssessmentTypeToggle{ href: '#', data: { class: cz } }
                  %span.icon-plus
          - assessments.each do |assessment|
            %tr{ class: cz, style: 'display:none;' }
              %td= link_to name, client_hud_assessment_path(@client, assessment), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
              %td= HudUtility2024.assessment_type assessment.AssessmentType
              %td= assessment.AssessmentDate
              %td= HudUtility2024.prioritization_status assessment.PrioritizationStatus
              %td= assessment.user&.name
              %td.zero-width
  - if custom_hmis_assessments.any?
    = render 'hmis_client/assessments/table', custom_hmis_assessments: custom_hmis_assessments

- else
  .no-data
    No assessments on file
