:ruby
  et = GrdaWarehouse::Hud::Enrollment.arel_table
  ev_t = GrdaWarehouse::Hud::Event.arel_table
  events = @client.
    source_events.
    joins(enrollment: :client).
    merge(GrdaWarehouse::Hud::Enrollment.visible_to(current_user)).
    preload( enrollment: [:client, :project] ).
    order(et[:EntryDate].desc, ev_t[:EventDate].desc)
- if events.any?
  .table-responsive
    %table.table
      %thead
        %tr
          %th
          %th Project
          %th Entry Date
          %th Event Date
          %th Event
          %th Problem Solving/Diversion/Rapid Resolution intervention or service
          %th Referral
          %th Referral Result
          %th
      %tbody
        - events.each do |event|
          - project = event.enrollment.project
          %tr
            %td
              .ds{class: "ds-color-#{event.data_source_id}"}= ds_short_name_for(event.enrollment.client.id)
            %td= project&.name(current_user)
            %td.date-cell= event.enrollment.EntryDate
            %td= event.EventDate
            %td= HUD.event(event.Event)
            %td= HUD.no_yes_missing event.ProbSolDivRRResult
            %td= HUD.no_yes_missing event.ReferralCaseManageAfter
            %td= HUD.referral_result event.ReferralResult
            %td.text-right
              - if @client.hmis_source_visible_by?(current_user)
                = link_to 'HMIS', source_datum_path(event, type: 'Event'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis mb-2'
                .text-teeny.font-weight-light
                  .text-nowrap
                    Created: #{event.DateCreated}
                  .text-nowrap
                    Updated: #{event.DateUpdated}
- else
  .no-data
    No Events on file
