.jChronic-chart
  .jLoading Loading

:javascript
  $(document).ready(function() {
    chart = new App.ChartsScatterByDate.ChronicForClient(
      $('.jChronic-chart'), 
      '#{chronic_days_client_path(@client)}'
    );
    chart.load();
  });
  
%table.table.table-striped
  %tbody
    %tr
      %td= 'Months homeless in the last 3 years'
      %td= @client.months_served_since date: 3.years.ago.to_date
    %tr
      %td= 'Months homeless in the last year'
      %td= @client.months_served_since date: 1.years.ago.to_date
    %tr
      %td= 'Homeless episodes in the last 3 years'
      %td= @client.homeless_episodes_since date: 3.years.ago.to_date
        
        
