- if @client.notes.chronic_justifications.any?
  - @client.notes.chronic_justifications.order(created_at: :desc).each do |note|
    .well.client-notes
      %h4= note.type_name
      %p= note.note
      .row
        .col-sm-8
          %p.small.text-muted
            Posted by #{content_tag(:strong, note.user&.name)} on #{content_tag(:strong, note.created_at)}
        .col-sm-4.text-right          
          = link_to(client_note_path(note, client_id: @client.id), method: :delete, data: {confirm: "Would you really like to delete this note?"}, class: 'btn btn-secondary btn-small') do
            %span.icon-cross
- else
  No notes on file
