- @client.notes.order(created_at: :desc).each do |note|
  .well.client-notes
    %h4= note.type_name
    %p= note.note
    .row
      .col-sm-8
        %p.small.client-notes__attribution
          Posted by #{content_tag(:strong, note.user&.name)} on #{content_tag(:strong, note.created_at)}
      .col-sm-4.text-right
        .btn.btn-default.btn-small= link_to "Delete", clients_note_path(note), method: :delete
