- home_phones = @client.source_clients.map(&:home_phone).reject(&:blank?).compact.uniq
- cell_phones = @client.source_clients.map(&:cell_phone).reject(&:blank?).compact.uniq
- emails = @client.source_clients.map(&:email).compact.reject(&:blank?).uniq
- work_phones = @client.source_clients.map(&:work_phone).compact.reject(&:blank?).uniq
- assessment = @client.most_recent_pathways_assessment
- client_contacts = @client.client_contacts.newest_first
- # Show contacts from Pathways assessment only if full release on file
- if (home_phones + cell_phones + emails + work_phones).present? || (assessment&.contains_contact_info? && @client.consent_confirmed?) || client_contacts.any? && @client.consent_confirmed?
  %table.table
    %tbody
      %tr
        - if emails.any?
          %td
            Email:
            %strong
              = emails.join(', ')
        - if cell_phones.any?
          %td
            Cell Phone:
            %strong
              = cell_phones.join(', ')
        - if home_phones.any?
          %td
            Home Phone:
            %strong
              = home_phones.join(', ')
        - if work_phones.any?
          %td
            Work Phone:
            %strong
              = work_phones.join(', ')
    - if client_contacts.any? && @client.consent_confirmed?
      .p-4
        %h4 Contacts
        - client_contacts.each do |contact|
          %dl
            %dt Contact Type
            %dd= contact.contact_type
            %dt Name
            %dd= contact.name
            %dt Phone(s)
            %dd= contact.phone_numbers
            %dt Address/Notes
            %dd= simple_format(contact.address_or_note)
            %dt Last Updated
            %dd= contact.last_modified_at
    - if assessment&.contains_contact_info? && @client.consent_confirmed?
      .p-4
        %h4 Contacts from Assessments
        %dl
          %dt Collected On
          %dd= assessment.collected_at.to_date
          %dt Collected By
          %dd
            = assessment.staff
            - if assessment.staff_email
              (#{assessment.staff_email})

          - if assessment.client_emails.present?
            %dt Client Provided Email
            %dd= simple_format(assessment.client_emails)
          - if assessment.client_phones.present?
            %dt Client Provided Phone
            %dd= simple_format(assessment.client_phones)


- else
  .no-data
    No contact information on file
