= cache(['clients', 'demographics', @client, can_view_full_ssn?, controller_path], expires_in: 4.hours) do
  - authoritative_data_source_ids = GrdaWarehouse::DataSource.authoritative.pluck(:id)
  %table.table
    %thead
      %tr
        %th ID
        %th{style: 'width: 15em;'} Name
        %th{style: 'width: 10em;'} SSN
        %th{style: 'width: 11em;'} Age
        %th Gender
        %th Race
        %th Ethnicity
        %th Veteran Status
        %th
        %th
    %tbody
      %tr
        %td.id_sqr.destination-data-source-tag{data: {toggle: :tooltip, title: 'Data from this row is used in reporting.', container: 'body'}}
          .destination-sqr Warehouse
        %td= @client.name
        %td
          - if can_view_full_ssn?
            = ssn(@client.SSN)
          - else
            = masked_ssn(@client.SSN)
        %td
          - if @client.DOB.present?
            = "#{@client.DOB} (#{@client.age})"
        %td= HUD::gender @client.Gender
        %td= @client.race_fields.map{ |f| HUD::race f }.join ', '
        %td= HUD::ethnicity @client.Ethnicity
        %td= HUD::no_yes_reasons_for_missing_data @client.VeteranStatus
      - if controller_path.include?('window')
        - source_clients = @client.source_clients.visible_in_window
      - else
        - source_clients = @client.source_clients
      - source_clients.each do |client|
        = render 'clients/demographic_row', client: client, authoritative_data_source_ids: authoritative_data_source_ids


:css
  .client-name .tooltip-inner {
    max-width: 300px;
  }
  .client-name .tooltip.in {
    opacity: 1;
  }
