= cache(['clients', 'demographics', @client, can_view_full_ssn?, controller_path, current_user], expires_in: 4.hours) do
  - authoritative_data_source_ids = GrdaWarehouse::DataSource.authoritative.pluck(:id)
  - source_clients = @client.source_clients.source_visible_to(current_user, client_ids: @client.source_client_ids)
  %table.table
    %thead
      %tr
        %th ID
        %th{style: 'width: 15em;'}
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:name)}} Name
        %th{style: 'width: 10em;'}
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:ssn)}} SSN
        %th{style: 'width: 11em;'}
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:dob)}} Age
        %th
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:gender)}} Gender
        %th
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:race)}} Race
        %th
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:ethnicity)}} Ethnicity
        %th
          %span{data: {toggle: :tooltip, title: @client.demographic_calculation_logic_description(:veteran_status)}} Veteran Status
        %th
        %th
        %th
    %tbody
      %tr
        %td.destination-data-source-tag{data: {toggle: :tooltip, title: 'Data from this row is used in reporting.', container: 'body'}}
          .destination-sqr Warehouse
        %td= @client.name
        %td
          - if can_view_full_ssn?
            = ssn(@client.SSN)
          - else
            = masked_ssn(@client.SSN)
        %td
          - if @client.DOB.present?
            = "#{@client.DOB} (#{@client.age})"
        %td= @client.gender
        %td= @client.race_fields.map{ |f| HUD::race f }.join ', '
        %td= HUD::ethnicity @client.Ethnicity
        %td= HUD::no_yes_reasons_for_missing_data @client.VeteranStatus
        %td{colspan: 3}

      - source_clients.joins(:data_source).each do |client|
        = render 'clients/demographic_row', client: client, authoritative_data_source_ids: authoritative_data_source_ids


:css
  .client-name .tooltip-inner {
    max-width: 300px;
  }
  .client-name .tooltip.in {
    opacity: 1;
  }
