= cache(['clients', 'disability_types', @client, controller_path, current_user], expires_in: GrdaWarehouse::Hud::Client::CACHE_EXPIRY) do
  - items = @client.source_enrollment_disabilities.joins( enrollment: :client ).merge(GrdaWarehouse::Hud::Enrollment.visible_to(current_user)).sorted_entry_date_information_date.group_by{|d| [d.enrollment, d.InformationDate]}
  - if items.any?
    %div
      %table.table
        %thead
          %tr
            %th
            %th Entry Date
            %th Assessment Type
            %th Information Date
            %th Substance use disorder
            %th Mental
            %th Physical
            %th Developmental
            %th HIV/AIDS
            %th Chronic Health Condition

        %tbody
          - displayed = Set.new
          - items.each do |(enrollment, information_date), disabilities|
            :ruby
              aggregated = %w( substance mental physical developmental hiv chronic ).map do |m|
                method = "#{m}?".to_sym
                d = disabilities.detect(&method)
                [
                  m.to_sym, OpenStruct.new(
                    response: d&.response&.strip,
                    indefinite: d&.indefinite_and_impairs?,
                  )
                ]
              end.to_h
            - unless displayed.include?(enrollment.EnrollmentID)
              - displayed << enrollment.EnrollmentID
              %tr
                %th{colspan: 10}
                  .d-flex
                    .mr-4
                      = enrollment.project&.organization_and_name(current_user)
                    - disabling_condition = enrollment.DisablingCondition == 1
                    - if disabling_condition
                      .ml-4
                        = checkmark(disabling_condition)
                        Disabling Condition on Enrollment
            %tr
              %td
                .ds{class: "ds-color-#{enrollment.data_source_id}"}= ds_short_name_for(enrollment.client.id)
              %td.date-cell= enrollment.EntryDate
              %td= HUD.data_collection_stage(disabilities.first.DataCollectionStage)
              %td.date-cell= information_date
              - aggregated.each do |symptom, result|
                %td
                  - if symptom == :hiv && ! can_view_hiv_status?
                    [redacted]
                  - else
                    = lighten_no(yes_no(result.response) || result.response)
                    - if result.response && result.indefinite
                      .light.text-small
                        Indefinite & Impairs

  - else
    .no-data
      No disability records found
