:ruby
  et = GrdaWarehouse::Hud::Enrollment.arel_table
  ee_t = GrdaWarehouse::Hud::EmploymentEducation.arel_table
  events = @client.
    source_employment_educations.
    joins(enrollment: :client).
    merge(GrdaWarehouse::Hud::Enrollment.visible_to(current_user)).
    preload( :project, enrollment: :client ).
    order(et[:EntryDate].desc, ee_t[:InformationDate].desc)
- if events.any?
  .table-responsive
    %table.table
      %colgroup
      %thead
        %tr
          %th
          %th Entry Date
          %th Project
          %th Information Date
          %th Last Grade Completed
          %th School Status
          %th Employed
          %th Employment Type
          %th Not Employed Reason
          %th Data Collection Stage
          %th
      %tbody
        - events.each do |event|
          - project = event.project
          %tr
            %td
              .ds{class: "ds-color-#{event.data_source_id}"}= ds_short_name_for(event.enrollment.client.id)
            %td= project&.name_in_enrollment_context(current_user)
            %td.date-cell= event.enrollment.EntryDate
            %td= event.InformationDate
            %td= HUD.last_grade_completed event.LastGradeCompleted
            %td= HUD.school_status event.SchoolStatus
            %td= hud_1_8 event.Employed
            %td= HUD.employment_type event.EmploymentType
            %td= HUD.not_employed_reason event.NotEmployedReason
            %td= HUD.data_collection_stage event.DataCollectionStage
            %td.text-right
              - if @client.hmis_source_visible_by?(current_user)
                = link_to 'HMIS', hmi_path(event, type: 'EmploymentEducation'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis mb-2'
                .text-teeny.font-weight-light
                  .text-nowrap
                    Created: #{event.DateCreated}
                  .text-nowrap
                    Updated: #{event.DateUpdated}
- else
  .no-data
    No Employment Educations on file
