= cache(['clients', 'family', @client, can_view_full_ssn?, controller_path, current_user], expires_in: GrdaWarehouse::Hud::Client::CACHE_EXPIRY) do
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Social Security Number
        %th Age
        %th Gender
        %th Race
    %tbody
      - @client.family_members.each do |client|
        - pii = client.pii_provider(user: current_user)
        %tr
          %td
            = link_to pii.full_name, client_path(client)
          %td= pii.ssn
          %td= client.age
          %td= client.gender
          %td= client.race_fields.map{ |f| HudUtility2024.race(f) }.join ', '
