:ruby
  special_populations = @client.
    source_enrollment_health_and_dvs.
    joins(enrollment: :client).
    merge(GrdaWarehouse::Hud::Enrollment.visible_to(current_user)).
    sort_by{ |b| b.enrollment.date }.reverse
- if special_populations.any?
  .table-responsive
    %table.table
      %thead
        %tr
          %th
          %th Project
          %th Entry Date
          %th Information Date
          %th Domestic Violence
          %th Currently Fleeing?
          %th Pregnancy Status
          %th Due Date
          %th
      %tbody
        - special_populations.each do |h|
          - project = h.project
          %tr
            %td
              .ds{class: "ds-color-#{h.data_source_id}"}= ds_short_name_for(h.enrollment.client.id)
            %td= project&.name(include_confidential_names: can_view_confidential_enrollment_details?)
            %td.date-cell= h.enrollment.EntryDate
            %td= h.InformationDate
            %td= hud_1_8 h.DomesticViolenceVictim
            %td= hud_1_8 h.CurrentlyFleeing
            %td= hud_1_8 h.PregnancyStatus
            %td= hud_1_8 h.DueDate
            %td.text-right
              - if @client.hmis_source_visible_by?(current_user)
                = link_to 'HMIS', hmi_path(h, type: 'HealthAndDV'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis mb-2'
                .text-teeny.font-weight-light
                  .text-nowrap
                    Created: #{h.DateCreated}
                  .text-nowrap
                    Updated: #{h.DateUpdated}
- else
  .no-data
    No special populations on file
