= cache(['clients', 'zip_details', @client, can_view_projects?, controller_path], expires_in: 4.hours) do
  - addresses = @client.previous_permanent_locations_for_display
  - if addresses.present?
    %table.table
      %thead
        %tr
          %th Program Entry Year
          %th
          %th{ data: { field: 'LastPermanentCity' } } Primary City
          %th{ data: { field: 'LastPermanentState' } } State
          %th{ data: { field: 'LastPermanentZIP' } } Last Permanenent Zip
          %th Label
      %tbody
        - addresses.each do |address|
          %tr
            %td= address[:year]
            %td.id-sqr{ 'data-id' => address[:client_id] }
            %td= address[:city]
            %td= address[:state]
            %td= address[:zip]
            %td= address[:label]     
  - else
    %p
      No previous addresses