= content_for :crumbs do
  = link_to admin_health_roles_path do
    &laquo; Health Roles

%h1
  Edit Role:
  = @role.name
  = render 'new_form'
- if @users.count.zero?
  .mt-6
    %p No users are assigned to this role.
    -# .text-right
      = link_to admin_role_path(@role),  method: :delete, data: {confirm: "Would you really like to delete #{@role.name}?"}, class: 'btn btn-danger' do
        %span.icon-cross
        Delete Role
- else
  %p The following users have this role assigned.
  .users.table-responsive
    %table.table.table-condensed
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
      %tbody
        - @users.active.each do |user|
          %tr
            %td= user.first_name
            %td= user.last_name
            %td= user.email
