- content_for :modal_title, 'Self-Sufficiency Matrix'

.ssm__summary
  %dl.mb-2
    %dt.inline Name:
    %dd.inline= @client.name
    %dd.breaker
    %dt.inline Date:
    %dd.inline= @form.ssm_updated_at&.to_date
    %dd.breaker
    %dt.inline During:
    %dd.inline= @form.encounter_type
    %dd.breaker
    %dt.inline Completed By:
    %dd.inline= @form.staff
    %dd.breaker
.ssm__data
  = simple_format @form.text