- title = "Open Enrollments Lacking Service in the Past Month"
- content_for :title, title
.d-flex
  %h1= title
  .ml-auto
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      Download Excel
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
%p Empty "Most Recent Service" indicates enrollments with no days served.

= render 'warehouse_reports/limited_by_project_note'

.warehouse-reports.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Client
        %th Project
        %th Entry Date
        %th Most Recent Service (in the last three years)

    %tbody
      - @entries.each do |entry|
        - client_name = "#{@clients[entry[:client_id]]&.fetch(:FirstName)} #{@clients[entry[:client_id]]&.fetch(:LastName)}"
        %tr
          %td= link_to_if can_view_clients?, client_name, appropriate_client_path(entry[:client_id])
          %td= link_to entry.project.name(current_user), project_path(entry.project.id)
          %td= entry[:first_date_in_program]
          %td= @max_dates[entry.id]
