- show_second_column = can_track_anomalies? || @client.alert_notes.exists?
- policy = current_user.auth_policy(:global)
- aliases = policy.can_view_client_name? ? @client.client_names(user: current_user, health: true).uniq : []
- alias_class = if show_second_column then 'col-sm-9' else 'col' end
.row.flex-grow-1
  %div{class: alias_class}
    - if @client.deceased?
      .alert.alert-danger
        = "Marked deceased on: #{@client.deceased_on}"

    - if aliases.any?
      %ul.client__aliases.d-flex.list-unstyled.mb-0
        - if GrdaWarehouse::Config.get(:multi_coc_installation)
          - aliases.map { |name| name[:name] }.uniq.each do |name|
            %li.client__client-name.mr-6
              %span.client__client-name-title= name
        - else
          - aliases.each do |name|
            - sn = name[:ds]
            - full_name = name[:name]
            %li.client__client-name
              %span{class: "ds-color-#{name[:ds_id]}"}
                = sn
              %span.client__client-name-title
                = full_name
    %p.w-100
      %em.text-muted
        Client ID:
        %strong= @client.id
  - if show_second_column
    .col-sm-3
      = render 'clients/header_actions'
