- if @form[:answers].present?
  - form_name = (@form.assessment_type == @form.name) ? @form.name : "#{@form.assessment_type} < #{@form.name}"
  - content_for :modal_title, form_name
  
  .d-flex
    .w-100
      .ssm__summary.d-flex.flex-column
        .mb-2
          %dt.inline Name:
          %dd.inline= @client.name
        .mb-2
          %dt.inline Date Completed:
          %dd.inline= @form.collected_at&.to_date
        .mb-2
          %dt.inline Case Worker:
          %dd.inline= @form.staff

  %p.text-right(style="font-size:smaller;font-style:italic;")
    Only answered questions are shown.

  .health-careplan__hmisForm
    - @form.answers.with_indifferent_access[:sections].each do |section|
      %h4.client__assessment-section-heading
        = section[:section_title]
      - section[:questions].each do |question|
        - if question[:answer].present?
          .client__assessment-question
            = question[:question].downcase.capitalize
          .client__assessment-answer= question[:answer]
- else
  - content_for :modal_title, "Assessment Form Not Found"






