- show_link = false unless defined?(show_link)
.client__details.client__details--health-emergency.health-emergency
  .client__details-header
    %h3.text-danger COVID-19 Status
  .o-pills.health-emergency__badges
    - if client.health_emergency_ama_restriction_status.present?
      = pill_badge labels: [GrdaWarehouse::HealthEmergency::AmaRestriction.new.pill_title, client.health_emergency_ama_restriction_status], wrapper_classes: ['badge-danger']
    = pill_badge labels: [GrdaWarehouse::HealthEmergency::Triage.new.pill_title, client.health_emergency_triage_status]
    = pill_badge labels: ['Isolation', client.health_emergency_isolation_status]
    = pill_badge labels: [GrdaWarehouse::HealthEmergency::Test.new.pill_title, client.health_emergency_test_status]
    - if show_link
      = link_to polymorphic_path(['client_he', health_emergency], client_id: client), class: 'btn btn-primary btn-sm ml-4' do
        Update Information
