- if ( decisions = @client.cas_reports.where( current_step: true ).order(:updated_at) ).any?
  %div.mb-6
    %h3.mt-0 Housing Matches
    .c-card.c-card--padded.c-card--flush
      %table.table.table-condensed
        %thead
          %tr
            %th Step
            %th Status
            %th Date
        %tbody
          - decisions.each do |decision|
            %tr
              %td
                = link_to GrdaWarehouse::Config.get(:cas_url) + "/matches/#{decision.match_id}", target: '_blank' do
                  #{decision.match_step} 
              %td 
                #{decision.decision_status.sub('Dnd', 'DND')}
              %td
                #{decision.updated_at.to_date}
