- if GrdaWarehouse::Config.get(:cas_url).present?
  - if ( decisions = @client.cas_reports.where( current_step: true ).order(:updated_at) ).any?
    .mb-6
      %h3.mt-0 Housing Matches
      .c-card.c-card--block.c-card--flush
        %table.table.table-sm
          %thead
            %tr
              %th.nobr Match Status
              %th Step
              %th Decision Status
              %th Last Updated
              %th= Contacts
          %tbody
            - decisions.each do |decision|
              %tr
                %td.nobr
                  = decision.terminal_status
                  %br
                  %i= decision.program_name
                %td
                  = link_to GrdaWarehouse::Config.get(:cas_url) + "/matches/#{decision.match_id}", target: '_blank' do
                    #{decision.match_step}
                %td= decision.decision_status.sub('Dnd', 'DND')
                %td.nobr= decision.updated_at.to_date
                %td
                  - decision.shelter_agency_contacts.each do |contact|
                    .mb-2= mail_to contact['email'], contact['name']

                  - decision.hsp_contacts.each do |contact|
                    .mb-2= mail_to contact['email'], contact['name']
