- if CasBase.db_exists?
  - cas_id = client.cas_client&.id rescue nil
- if client.processed_service_history.present? && client.longterm_stayer? || client.active_in_cas? || client.chronically_homeless_for_cas?
  %h3.mt-0.d-flex
    .ml-0
      CAS
    - if cas_id && GrdaWarehouse::Config.get(:cas_url).present?
      .ml-auto.mt-2.text-muted.text-small
        CAS Client ID:
        = link_to GrdaWarehouse::Config.get(:cas_url) + "/clients/#{cas_id}", target: '_blank' do
          = cas_id
- if client.processed_service_history.present? && client.longterm_stayer?
  .c-tag.c-tag--warning.client-flag.mb-2
    .c-tag__wrapper
      .c-tag__icon
        .icon-clock-o
      .c-tag__content
        %span Long-term Stayer

- if client.active_in_cas? && client.chronically_homeless_for_cas?
  .c-tag.c-tag--info.client-flag
    .c-tag__wrapper
      .c-tag__icon
        .icon-clock-o
      .c-tag__content
        %span
          Chronically Homeless &amp; in CAS
          - if cas_id.present? && GrdaWarehouse::Config.get(:cas_url).present?
            = link_to GrdaWarehouse::Config.get(:cas_url) + "/clients/#{cas_id}", target: '_blank' do
              View in CAS

- elsif client.chronically_homeless_for_cas?
  .c-tag.c-tag--info.client-flag
    .c-tag__wrapper
      .c-tag__icon
        .icon-clock-o
      .c-tag__content
        %span Chronically Homeless for CAS

- elsif client.active_in_cas?
  .c-tag.c-tag--info.client-flag
    .c-tag__wrapper
      .c-tag__icon
        .icon-user
      .c-tag__content
        %span
          Available in CAS
          - if cas_id.present? && GrdaWarehouse::Config.get(:cas_url).present?
            = link_to GrdaWarehouse::Config.get(:cas_url) + "/clients/#{cas_id}", target: '_blank' do
              View in CAS
