.row
  .col-sm-12
    - if client.processed_service_history.present? && client.longterm_stayer?
      .alert.alert-warning.client-flag.client-flag__longterm-stayer
        Long-term Stayer
    - if client.sync_with_cas? && client.chronically_homeless_for_cas?
      .alert.alert-warning.client-flag.client-flag__cas
        = _('Chronically Homeless and in CAS')
    - elsif client.chronically_homeless_for_cas?
      .alert.alert-warning.client-flag.client-flag__cas
        = _('Chronically Homeless for CAS')
    - elsif client.sync_with_cas?
      .alert.alert-warning.client-flag.client-flag__cas
        - if id = client.cas_client&.id
          = link_to GrdaWarehouse::Config.get(:cas_url) + "/clients/#{id}", target: '_blank' do
            = _('Available in CAS')
        - else
          = _('Available in CAS')