- eto_available = GrdaWarehouse::Config.get(:eto_api_available)
.client__main-details
  - if @client.image
    .client__image{ style: "background-image: url(#{ image_client_path })" }
  %section.o-section-card.mb-0
    .c-card.c-card--block.c-card--padded.c-card--flush.mb-4
      = render 'clients/service_summary', window: false
      
    .d-flex.flex-column.align-items-start.flex-wrap
      .client-consent-status.d-none--empty.mb-3.mr-8<
        = render 'window/clients/consent_form_flags'
      .mr-8.mb-3.d-none--empty<
        = render 'clients/chronic_flags', client: @client
        = render 'clients/cas_housed'

      .d-none--empty.mr-8.mb-6<
        = render 'clients/vispdat'
        
      .row.align-items-start.d-flex.flex-wrap
        .d-none--empty
          .row
            .col-sm-6
              - if @client.active_cohorts.any?
                %div.mb-6
                  %h3.mt-0 Cohorts
                  .c-card.c-card--padded.c-card--flush
                    = render 'clients/rollup/cohorts'
            .col-sm-6
              = render 'cas_matches'

        .d-none--empty.mb-6.w-100<
          = render 'window/clients/required_documents'
