- window_link = client.window_link_for?(current_user)
- show_window_link = window_link.present?
.clients__client-card.clients__client.c-card.c-card--linked{data: {id: client.id, href: window_link}, class: show_window_link ? 'js-client' : nil}
  .c-card__content
    .client__details.client__details--identity
      - if ( akas = client_aliases(client)).empty?
        - main_client_name = client.source_clients.searchable_by(current_user).first.data_source&.short_name
      - else
        - main_client_name = akas.shift
      .clients__client-additional-names
        .client__client-name
          .client-aka
            = main_client_name
        - akas.each_with_index do | aka, i |
          .client__client-name
            .client-aka
              = aka
    - if health_emergency?
      = render "clients/#{health_emergency}", client: client, show_link: true
    .client__details.client__details--demographics
      - if @show_ssn
        .client__ssns
          - # Note always mask SSN for list
          - client.source_clients.searchable_by(current_user).map{|c| masked_ssn(c[:SSN]).html_safe if c[:SSN].present?}.uniq.compact.each do |ssn_for_lists|
            .client__ssn
              %strong SSN:
              = ssn_for_lists
      .client__dobs
        - # Note only show year and age for list
        - client.source_clients.searchable_by(current_user).map{|m| [m.DOB, m.age]}.uniq.compact.each do |dob, age|
          .client__dob
            %strong Year of Birth:
            = "#{dob&.year},"
            %strong Age:
            = age
    .client__details.client__details--status
      .client__view_client.mb-4.d-flex
        - if show_window_link
          = link_to 'View', window_link, class: 'btn btn-secondary ml-auto'
      - if can_view_vspdat?
        - vispdat = client.vispdats.completed.scores.first
        %br
        %strong VI-SPDAT:
        %span.label{ class: "label-#{vispdat&.score_class}" }= vispdat&.score
        %br
        %strong Priority Score:
        = vispdat&.priority_score
      .mt-4
        = render 'clients/chronic_flags', client: client
    .client__relationships
      = render 'relationships', client: client
