- eto_available = GrdaWarehouse::Config.get(:eto_api_available)
.client__summary
  .row
    .col-sm-12
      = render 'window/clients/aliases'
  .row
    .col-sm-4
      %h3 Service Summary
      - if @client.service_history.empty?
        = "There is no service record for #{@client.name}"
      - else
        - if @client.date_of_last_service.present?
          %ul
            %li
              = "Last seen #{time_ago_in_words(@client.date_of_last_service)} ago"
            - if ( projects = @client.last_projects_served_by(include_confidential_names: true).select(&:present?) ).any?
              %li= "Last seen at #{projects.to_sentence}"
            %li
              = "#{@client.days_homeless} days homeless in ES, SO, TH, and SH between #{@client.date_of_first_service} and #{@client.date_of_last_service}"
        - else
          %p None
      = render 'chronic_flags', client: @client
      = render 'cas_housed'
      = render 'clients/rollup/cohorts'
      
    .col-sm-4
      = render 'window/clients/consent_form_flags'
      
      = render 'window/clients/required_documents'
    .col-sm-4
      - if (eto_available || ! Rails.env.production?) && @client.image 
        .client__image
          = image_tag(image_client_path)
      - if can_view_vspdat? && @client.vispdats.completed.any?
        %h3 VI-SPDAT Scores
        - @client.vispdats.completed.scores.each do |vispdat|
          %span.label{ class: "label-#{vispdat.score_class}" }= vispdat.score
      = render 'cas_matches'

