%tr
  %td
    .ds{class: "ds-color-#{client.data_source_id}"}= ds_short_name_for(client.id)
  %td.client-name
    = client.name
    - image_exists = client.image_for_source_client.length > 100 rescue false
    - if image_exists
      - image = image_tag(polymorphic_path(source_client_image_path_generator, id: client.id), width: '250').html_safe
      =# image_tag(polymorphic_path(source_client_image_path_generator, id: client.id), style: 'opacity: 1; width: 250px', data: {toggle: :tooltip, html: :true, placement: :right, title: image}}
      = image_tag(polymorphic_path(source_client_image_path_generator, id: client.id), style: 'width: 50px', data: {toggle: :tooltip, html: :true, placement: :right, title: image})

  %td
    - if can_view_full_ssn?
      = ssn(client.SSN)
    - else
      = masked_ssn(client.SSN)
  %td
    - if client.DOB.present?
      = "#{client.DOB} (#{client.age})"
  %td= client.gender
  %td= client.race_description(include_missing_reason: true)
  %td= HUD::ethnicity client.Ethnicity
  %td= HUD::no_yes_reasons_for_missing_data client.VeteranStatus
  %td
    - if authoritative_data_source_ids.include?(client.data_source_id) && can_create_clients?
      = link_to 'Edit', polymorphic_path([:edit] + source_client_path_generator, id: client.id), class: 'btn btn-sm btn-secondary', data: {loads_in_pjax_modal: true}
  %td.text-right
    - if @client.hmis_source_visible_by?(current_user) && ! authoritative_data_source_ids.include?(client.data_source_id)
      = link_to 'HMIS', source_datum_path(client.id, type: 'Client'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis mb-2'
      .text-teeny.font-weight-light
        .text-nowrap
          Created: #{client.DateCreated}
        .text-nowrap
          Updated: #{client.DateUpdated}
