= simple_form_for(client, as: :client, url: polymorphic_path(source_client_path_generator, id: client.id)) do |f|
  %tr
    %td
      .ds{class: "ds-color-#{client.data_source.id}"}= ds_short_name_for(client.id)
    %td
      = f.input :FirstName, label: false, wrapper_html: {class: 'client-name-input'}
      = f.input :MiddleName, label: false, wrapper_html: {class: 'client-name-input'}
      = f.input :LastName, label: false, wrapper_html: {class: 'client-name-input'}
    %td
      - if can_view_full_ssn?
        = f.input :SSN, label: false, input_html: {max_length: 9}
      - else
        = masked_ssn(client.SSN)
    %td
      = f.input :DOB, as: :date_picker, label: false
    %td
      = f.input :Gender, collection: HudUtility.genders.invert, label: false
    %td= client.race_fields.map{ |f| HudUtility.race f }.join ', '
    %td= HudUtility.ethnicity client.Ethnicity
    %td
      = f.input :VeteranStatus, collection: HudUtility.no_yes_reasons_for_missing_data_options.invert, label: false
    %td
      = f.submit value: 'Save', class: 'btn btn-secondary'
