- if enrollments.any?
  - any_homeless = enrollments.any?{ |e| e[:homeless] }
  - total = enrollments.first[:total_enrollment_count]
  - visible = enrollments.first[:visible_enrollment_count]
  - if visible && total > visible
    %p.text-right.mt-2.mr-2
      %em Showing #{pluralize(visible, 'enrollment')} of #{pluralize(total, 'total enrollment')}
  %table.table
    %thead
      %tr
        %th
        %th Project Name < Organization Name
        %th Entry
        %th Exit
        %th Most Recent Day Served
        %th.text-right Days Served
        %th.text-right
          - if any_homeless
            Homeless / Adjusted Days
            %i.icon-info{data: {toggle: :tooltip, title: "Days homeless is a count of the unique dates homeless.  Adjusted days, is the number of days in the project type that don't overlap other enrollments within the same project type."}}
          - else
            Adjusted Days
        %th.text-right Months Served
        %th Household Members
        - if @client.hmis_source_visible_by?(current_user)
          %th
      - total_days = @client.total_days(enrollments)
      - total_homeless = @days_homeless || @client.days_homeless
      - total_adjusted_days = @client.total_adjusted_days(enrollments)
      - total_months = @client.total_months(enrollments)
      %tr
        %th.text-right{colspan: 5} Totals:
        %th.num-cell= total_days
        %th.num-cell
          - if any_homeless
            = total_homeless
            \/
            = total_adjusted_days
          - else
            = total_adjusted_days
        %th.num-cell= total_months
        - if @client.hmis_source_visible_by?(current_user)
          %th
    %tbody
    - enrollments.each do |e|
      - episode_class = ''
      - if e[:new_episode]
        - episode_class = 'enrollment__new-episode'
      %tr{class: episode_class}
        %td.nobr
          .ds.jClickToCopy{class: "ds-color-#{e[:data_source_id]}", data: { toggle: :tooltip, html: 'true', title: ds_tooltip_content(e[:client_source_id], e[:data_source_id]).html_safe }}= ds_short_name_for(e[:client_source_id])
          .enrollment__project_type{class: e[:class]}
            %span.service-type__program-type{data: {toggle: :tooltip, title: HUD.project_type(e[:project_type_id])}}
              = e[:project_type]
          - if e[:confidential_project] && can_view_confidential_project_names?
            .confidential_project{data: {toggle: :tooltip, title: GrdaWarehouse::Hud::Project.confidential_project_name}}
              CP
        %td
          %span{data: @client.program_tooltip_data_for_enrollment(e)}
            - if include_links
              - can_view_project_page = e[:project_name] != GrdaWarehouse::Hud::Project.confidential_project_name || current_user.can_edit_projects?
              = link_to_if can_view_project_page, e[:project_name], project_path(id: e[:project_id])
            - else
              = e[:project_name]

        %td
          - living_situation = HUD.living_situation(e[:living_situation])
          - if living_situation == e[:living_situation]
            - living_situation = 'Unknown'
          - title = "<b>Prior Living Situation:</b> #{living_situation}"
          - move_in_date = e[:move_in_date]
          - if move_in_date.present?
            - title += ";<br /><b>Move-in Date:</b> #{move_in_date}"
            - if e[:move_in_date_inherited]
              - title += '<br />(inherited from HoH)'
          - elsif e[:project_type_id].in?(GrdaWarehouse::Hud::Project::WITH_MOVE_IN_DATES)
            - title += ";<br /><b>Move-in Date:</b> No move-in date"
          %span{data: { toggle: :tooltip, title: title.html_safe, html: 'true' }}
            = e[:entry_date]
          - if move_in_date.present?
            - title = "<b>Move-in Date:</b> #{move_in_date}"
            - if e[:move_in_date_inherited]
              - title += '<br />(inherited from HoH)'
            %i.icon-house{data: { toggle: :tooltip, title: title.html_safe, html: 'true' }}
        %td
          - destination = HUD.destination(e[:destination])
          - if destination == e[:destination]
            - destination = 'Unknown'
          %span{data: {toggle: :tooltip, title: "Destination: #{destination}"}}
            = e[:exit_date]
        %td= e[:most_recent_service]
        %td.num-cell= e[:days]
        %td.num-cell
          - if e[:homeless]
            = e[:homeless_days]
            \/
            = e[:adjusted_days]
          - else
            = e[:adjusted_days]
        %td.num-cell
          = e[:months_served].size
        %td
          .client__enrollment--household
            - if e[:household].present?
              - e[:household].each do |c|
                - tooltip = ''
                - if c['head_of_household']
                  - tooltip += 'Head of Household<br />'
                - tooltip += "Entry: #{c['first_date_in_program']}<br />"
                - if c['move_in_date']
                  - tooltip += "Move-in-Date: #{c['move_in_date']}<br />"
                - if c['last_date_in_program']
                  - tooltip += "Exit: #{c['last_date_in_program']}<br />"
                .mb-0{data: { toggle: :tooltip, title: tooltip, html: 'true' }}
                  = link_to client_path(c['client_id']), class: 'd-block' do
                    #{c['FirstName']} #{c['LastName']}
                    - if c['head_of_household']
                      %i.icon-user
                    %br
                    Age:
                    = c['age']
                %br
        - if @client.hmis_source_visible_by?(current_user)
          %td
            - if e[:hmis_id]
              - title = 'HMIS'
              - if e[:hmis_exit_id]
                - title = title + ' Enrollment'
              = link_to title, hmi_path(e[:hmis_id], type: 'Enrollment'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis mb-2'
            - if e[:hmis_exit_id]
              - title = 'HMIS Exit'
              = link_to title, hmi_path(e[:hmis_exit_id], type: 'Exit'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis mb-2'
            .text-teeny.font-weight-light
              .text-nowrap
                Created: #{e[:created_at]}
              .text-nowrap
                Updated: #{e[:updated_at]}
- else
  %p.ml-3.mt-3
    No enrollments on file
