- if @active_filter
  - filter_class = 'client__filter-active'
- else
  - filter_class = 'client__filter'

.dropdown.o-filtration{class: filter_class}
  %button.btn.btn-secondary.dropdown-toggle{data: {toggle: 'dropdown'}}
    Filter
    %span.caret

  .o-filtration__container.dropdown-menu.dropdown-menu-left.options
    .o-filtration__header
      %h3.client__filter-header Filter clients

    = form_tag(nil, method: "get") do

      -# preserve sort and search for filtering
      - if params[:sort]
        = hidden_field_tag :sort, params[:sort]
      - if params[:direction]
        = hidden_field_tag :direction, params[:direction]
      - if params[:q]
        = hidden_field_tag :q, params[:q]

      .o-filtration__option.row
        .col-sm-12
          %label Dates Served
          .o-filtration__option-row
            .input-group.date{data: {provide: :datepicker}}
              %input.form-control{name: :start_date, type: :text, value: @start_date}
              %span.input-group-addon.icon-calendar
            .o-filtration__separator to
            .input-group.date{data: {provide: :datepicker}}
              %input.form-control{name: :end_date, type: :text, value: @end_date}
              %span.input-group-addon.icon-calendar

      .o-filtration__option.row.mb-4
        .col-sm-4.mb-3
          %label Data Source
          = select_tag(:data_source_id, options_from_collection_for_select(GrdaWarehouse::DataSource.source.each, :id, :name, params[:data_source_id]), include_blank: 'All Data Sources', class: 'select2', style: 'width: 100%;')

        - if can_view_vspdat?
          .col-sm-4.mb-3
            %label VSPDAT Vulnerability
            = select_tag(:vulnerability, options_from_collection_for_select({'' => 'All Vulnerabilities', low: 'Low Vulnerabilty', medium: 'Medium Vulnerabilty', high: 'High Vulnerabilty', all: 'All Clients with VI-SPDATs'}, :first, :last, params[:vulnerability]), class: 'select2', style: 'width: 100%;')

        .col-sm-4.mb-3
          %label Age Group
          = select_tag(:age_group, options_from_collection_for_select(GrdaWarehouse::Hud::Client.ahar_age_groups.map{|k,r| [k,r[:name]]}.to_h, :first, :last, params[:age_group]), include_blank: 'All Ages', class: 'select2', style: 'width: 100%;')

      .o-filtration__option
        .checkbox
          %label{for: :data_sharing}
            %input#data_sharing.boolean.optional{name: :data_sharing, type: :checkbox, value: 1, checked: @data_sharing}
            = _('Fully signed data sharing agreement')

      .o-filtration__option.row
        .col-sm-8
          %label Population
          = select_tag(:population, options_from_collection_for_select(GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations, :last, :first, params[:population]), class: 'select2', style: 'width: 100%;')

      .o-filtration__actions.form__actions
        = link_to clients_path, class:'btn btn-secondary' do
          %span.icon-cross.icon-inline
          Clear Filters
        %button.btn.btn-primary.ml-auto{type: :submit}
          %span.icon-filter.icon-inline.mr-1
          Filter
