- title = "Add a Client"
- content_for :title, title

%h1= content_for :title
- if @existing_matches.any?
  %h2 Existing Clients
  .slab
    %p
      The following existing clients in the warehouse may match the client you are attempting to add.
      %br
      To prevent duplicate records in the warehouse, please review the clients below, if any match, please use the existing client.
    %table.table.table-sm
      %thead
        %tr
          %th
          %th Client
          %th DOB
          %th SSN
      %tbody
        - @existing_matches.each do |client|
          %tr
            %td
              - ds_id = client.data_source.id
              - sn = client.data_source.short_name
              %span{class: "ds-color--#{ds_id}"}
                = sn
            %td
              - if current_user.can_edit_clients?
                - link = polymorphic_path(client_path_generator, id: client.warehouse_client_source.destination_id)
              - else
                - link = client.destination_client.appropriate_path_for?(current_user)
              = link_to link do
                = client.full_name
            %td
              = client.DOB
            %td
              = client.SSN
  %h2 New Client
  %p
    If none of the above match the client you are attempting to add, click
    %strong
      Add Client
    to create a new client record.
- path = client_path_generator - [:client] + [:clients]
.slab
  = simple_form_for @client, as: :client, url: polymorphic_path(path) do |f|
    .row
      .col-sm-2
        = f.input :FirstName, label: 'First Name', required: true
      .col-sm-2
        = f.input :MiddleName, label: 'Middle Name'
      .col-sm-2
        = f.input :LastName, label: 'Last Name', required: true
      .col-sm-3
        = f.input :DOB, as: :date_picker, label: 'DOB', required: true
      .col-sm-3
        = f.input :SSN,  input_html: {maxlength: 11, class: 'jSSN'}, label: 'SSN'
    .row
      .col-sm-6
        = f.input :Gender, collection: HUD::genders.invert, as: :select_two, input_html: { multiple: true }
      .col-sm-3
        = f.input :VeteranStatus, collection: HUD::no_yes_reasons_for_missing_data_options.invert, label: 'Veteran Status', as: :select_two
      - if GrdaWarehouse::DataSource.authoritative.count > 1
        .col-sm-3
          = f.input :data_source_id, collection: GrdaWarehouse::DataSource.authoritative, include_blank: false, label: 'Create client in Data Source', as: :select_two
    .form-actions
      - if @bypass_search
        = f.input :bypass_search, as: :hidden, input_html: {value: 1}
      = f.submit value: 'Add Client', class: 'btn btn-primary'

= content_for :page_js do
  :javascript
    $(document).ready(function(){
      $('.jSSN').inputmask("999-99-9999");
    });
