- if can_view_confidential_enrollment_details?
  - seen_before = ( projects = @client.last_projects_served_by(include_confidential_names: true).select(&:present?) ).any?
- else
  - seen_before = ( projects = @client.last_projects_served_by.map(&:presence).compact ).any?

- if @client.service_history_enrollments.empty?
  = "There is no service record for #{@client.name}"
- else
  - if RailsDrivers.loaded.include?(:service_scanning)
    = render 'service_scanning/scanner_ids/clients/last_seen_register'

  - if @client.date_of_last_service.present?
    %ul.client__summary-details.list-unstyled
      - if @client.class.show_last_seen_info?
        %li
          %h4 Last Seen
          %span= "#{time_ago_in_words(@client.date_of_last_service)} ago"
        - if seen_before
          %li
            %h4 Last Seen Location
            %span=projects.to_sentence
      %li
        %h4 Days in Last 3 Years
        .client__days-homeless
          = "#{@client.processed_service_history&.days_homeless_last_three_years || 0} homeless"
          %i.icon-info{data: {toggle: :tooltip, title: 'Days in ES, SO, SH, or TH with no overlapping PH after move-in date'}}
        .client__days-homeless
          = "#{@client.sheltered_days_homeless_last_three_years} sheltered"
          %i.icon-info{data: {toggle: :tooltip, title: 'Days in ES, SH, or TH with no overlapping PH after move-in date'}}
        .client__days-homeless
          = "#{@client.unsheltered_days_homeless_last_three_years} unsheltered"
          %i.icon-info{data: {toggle: :tooltip, title: 'Days in SO with no overlapping sheltered dates ES, SH, TH, or PH after move-in date'}}

        .client__days-literally-homeless.mt-2
          = "#{@client.processed_service_history&.literally_homeless_last_three_years || 0} literally homeless"
          %i.icon-info{data: {toggle: :tooltip, title: 'Days in ES, SO, or SH with no overlapping TH or PH after move-in date'}}

      - if @client.scope_for_ongoing_residential_enrollments.any?
        %li
          %h4 Enrolled in
          = enrolled(@client)
      %li
        %h4 Homeless Span
        %span= "#{@client.date_of_first_service} to #{@client.date_of_last_service}"
        %span
          = pluralize(@client.days_homeless, 'day')
          %i.icon-info{data: {toggle: :tooltip, title: 'Days in ES, SO, SH, or TH with no overlapping PH after move-in date'}}

      %li
        %h4 Veteran
        %span= yes_no @client.veteran?

      %li
        %h4 Disabled
        %span= yes_no @client.currently_disabled?
        %i.icon-info{data: {toggle: :tooltip, title: 'Yes indicates a DisabilityResponse of 1, 2, or 3, not followed by a 0.'}}
      - if @client.source_hmis_forms.triage.any?
        %li
          %h4 Preferred Language:
          %span= @client.source_hmis_forms.triage.map(&:primary_language).uniq.first
  - else
    %p None
