:css
  .popover {
    max-width: 480px;
  }
%h3 Data Sources
%p
  Data for this record comes from the following data sources. Use this form to split clients into their own separate records or merge in data from a different client record.
.row
  .col-sm-12
    - if @client.source_clients.count > 1
      - input_id = "grda_warehouse_hud_client[unmerge][]"
      = simple_form_for @client, url: unmerge_client_path do |f|
        :ruby
          source_clients = @client.source_clients.preload(
            :data_source,
            warehouse_client_source: {
              client_match: {
                source_client: :data_source,
                destination_client: :data_source,
              }
            }
          ).order('warehouse_clients.updated_at asc')
          reviewers = User.where(id: source_clients.flat_map{|c| c.warehouse_client_source.reviewd_by.to_i}.uniq).index_by(&:id)
        %table.table
          %thead
            %th
            - if GrdaWarehouse::Config.get(:healthcare_available)
              %th.text-center HMIS Receiver
              %th.text-center Health Receiver
            %th Data Source
            %th Personal ID
            %th Name
            %th DOB
            %th SSN
            %th Merged
            %th Merged By
            %th
          - source_clients.each do |c|
            %tr
              %td.jSplit= f.input_field :merge, as: :boolean, checked_value: c.id, unchecked_value: nil, name: input_id
              - if GrdaWarehouse::Config.get(:healthcare_available)
                %td.text-center{data: {toggle: :tooltip, title: "If selected, dependent HMIS items will be associated with a newly created client for PersonalID #{c.uuid}"}}
                  = radio_button_tag 'grda_warehouse_hud_client[hmis_receiver]', c.id, false, disabled: true
                %td.text-center{data: {toggle: :tooltip, title: "If selected, dependent healthcare items will be associated with a newly created client for PersonalID #{c.uuid}"}}
                  = radio_button_tag 'grda_warehouse_hud_client[health_receiver]', c.id, false, disabled: true
              %td= c.data_source.short_name
              %td= c.uuid
              %td= c.full_name
              %td= c.DOB
              %td= ssn c.SSN
              %td= c.warehouse_client_source.reviewed_at
              %td
                - if (user = reviewers[c.warehouse_client_source.reviewd_by.to_i])
                  = user.name
                - if (match = c.warehouse_client_source.client_match)
                  %br
                  %button.btn.btn-xs{type: :button, data: {toggle: :popover, trigger: 'click', html: 'true', placement: :left, content: h(client_match_scorecard(match))}}
                    Match Details

        .form-actions
        = f.button :submit, "Split selected records from #{@client.FirstName} #{@client.LastName}", data: {confirm: "Are you sure you want to split #{@client.FirstName} #{@client.LastName}? Dependent data will be moved to the selected clients."}

= content_for :page_js do
  :javascript
    $('.jSplit').on('change', function(e){
      var hmis_receiver = $('#grda_warehouse_hud_client_hmis_receiver_' + e.target.value)
      var health_receiver = $('#grda_warehouse_hud_client_health_receiver_' + e.target.value)
      hmis_receiver.prop('disabled', !e.target.checked)
      health_receiver.prop('disabled', !e.target.checked)
      if(!e.target.checked){
        hmis_receiver.prop('checked', false)
        health_receiver.prop('checked', false)
      }
    });
