- title = @client.full_name
- content_for :title, title
= render 'breadcrumbs'

.o-page
  .o-page__header
    = render 'clients/aliases'
  = render 'tab_navigation', current: client_path(@client)
  %section.o-dashboard__block--primary.client__summary
    = render 'client_summary'
  - if can_view_clients?
    = render 'rollups'
  - else
    = render 'rollups_limited'

  #scratchpad

= render 'client_rollup_js'