= render 'breadcrumbs'
- title = "#{@user.name} Edit History"
- content_for :title, title
%h1= title
= render 'admin/audits/user_tabs'
%p= paginate @versions
.table-responsive
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Date
        %th Editor
        %th Changes
    %tbody
      - @versions.each do |version|
        - changes = describe_changes_to(version)
        - editor = name_of_whodunnit(version)
        - if changes.present?
          %tr
            %td= version.created_at
            %td= editor
            %td
              - changes.each do |change|
                = change
                %br

%p= paginate @versions