= render 'breadcrumbs'
- title = "#{@user.name} Edit History"
- content_for :title do
  = title
%h1= title

%p= paginate @versions
.row.table-utilities
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Date
            %th Editor
            %th Changes
        %tbody
          - @versions.each do |version|
            - changes = describe_changes_to version
            - editor = name_of_whodunnit version
            - if changes.present?
              %tr
                %td= version.created_at
                %td= editor
                %td
                  - changes.each do |change|
                    = change
                    %br

%p= paginate @versions