= render 'breadcrumbs'
- title = "#{@user.name} Edit History"
- content_for :title, title
%h1= title
= render 'admin/audits/user_tabs'
= render_paginated_list(scope: @versions, item_name: 'edit event', list_partial: 'list')
