= render 'breadcrumbs'
- title = 'Edit History'
- content_for :title, title
= render_display_title "#{@user.name} Edit History"
= render 'admin/audits/user_tabs'
-# version_scope returns an array sorted by created_at desc, not a scope
- versions = @history.version_scope
= render_paginated_list(scope: versions, item_name: 'event', list_partial: 'list')
