- title = 'CAS APR'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'

= simple_form_for @range, as: :range, url: warehouse_reports_cas_apr_index_path, html: { method: :get } do |f|
  = render 'filter', f: f

%p 
  The following counts are for CAS clients active between
  %strong #{@report[:start_date]}
  and
  %strong #{@report[:end_date]}.
.row
  .col-sm-6
    %h3 Available Households
    %p.description
      Clients who were in CAS and potentially eligible for matches.
    %p= @report.total_households

    %h3 Available Individuals
    %p.description
      Clients who were not part of a family when in CAS.
    %p= @report.total_individuals

    %h3 Available Families
    %p.description
      Clients who were part of a family when in CAS.
    %p= @report.total_families

    %h3 Available Youth
    %p.description
      Clients who were between 18 and 24 when in CAS.
    %p= @report.total_youth

    %h3 Referred to RRH
    %p.description
      Clients who started a match on the provider only route.
    %p= @report.referred_to_rrh.count

    %h3 Referred to PSH
    %p.description
      Clients who started a match on the default route.
    %p= @report.referred_to_psh.count

    %h3 Decline Reasons
    %p.description
      Clients who started a match and were declined, declined for the following reasons.
    %table.table
      %thead
        %tr
          %th Reason
          %th Count
      %tbody
        - @report.decline_reasons.each do |label, v|
          %tr
            %td= label
            %td= v

    %h3 Unable to refer
    %p.description
      The count of available households minus those who were referred at least once during the selected range.
    %p= @report.unable_to_refer
  .col-sm-6.mt-6
    %p The following file contains dates that can be useful in calculating average lengths of time between match initiation and completion.
    = link_to({action: :index, params: params, format: :xlsx}, {class: 'btn btn-primary'}) do
      %i.icon-download2
      Download Match Dates 


