- if @pagy.count.positive?
  .text-right.mb-4
    = link_to({format: :xlsx}.merge({filter: filter_params}),{class: 'btn btn-secondary'}) do
      %i.icon-file-excel.icon-lg
      Download
  = render 'common/pagination_top', item_name: 'result'
  - if params[:batch_id]
    %p.p-4.report-hightlight Hightlighed rows were indicate they were added in this batch.
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Client ID
          %th Name
          %th DOB
          %th Test Date
          %th Test Result
          %th Notes
          %th Last Seen
          %th Added On
      %tbody
        - @results.each do |result|
          - client = result.client
          - batch_class = if result.in_batch?(params[:batch_id]) then 'report-hightlight' else '' end
          %tr
            %td{class: batch_class}= link_to client.id, polymorphic_path(['client_he', health_emergency], client_id: client)
            %td= link_to client.name, polymorphic_path(['client_he', health_emergency], client_id: client)
            %td= client.DOB
            %td= result.tested_on
            %td= result.result
            %td= simple_format(result.notes)
            %td
              - served_on = client.date_of_last_service
              = client.last_projects_served_by.to_sentence
              - if served_on
                on
                = served_on
            %td= result.created_at.to_date
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('result').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found.mt-4 No results found.
