= simple_form_for @filter, as: :filter, url: warehouse_reports_hud_incorrect_move_in_dates_path, html: { method: :get} do |f|
  - content_for :filters_col_full do
    .row
      .col-3
        = f.input :start, label: 'Start Date', as: :date_picker
      .col-3
        = f.input :end, label: 'End Date', as: :date_picker
      .col-3
        = f.input :project_ids, label: 'Projects', collection: @filter.project_options_for_select(user: current_user), as: :grouped_select, group_method: :last, input_html: {class: :select2, multiple: true}, include_blank: false
      .col-3
        = f.input :coc_codes, label: 'CoC Codes', collection: @filter.coc_code_options_for_select(user: current_user), input_html: {class: :select2, multiple: true}, include_blank: false

  - content_for :filter_actions do
    %p.w-100 Report will find any enrollment open for heads-of-households at a project where the move-in date falls outside of the enrollment, or is blank but a permanent destination has been specified.  These are checked for enrollments in #{project_types_requiring_move_in.map{|id| "#{HUD.project_type_brief(id)} (#{id})"}.to_sentence}.
    .row
      .col-sm-2
        = f.button :submit, value: 'Update View'


  = render 'warehouse_reports/filters', f:f
