- title = 'Incorrect Move-in Dates'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
= render 'filter'

- if @pagy.count.positive?
  .d-flex
    .ml-auto.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
        %i.icon-download2
        Download
  .d-flex
    %p!= pagy_info(@pagy, item_name: _('enrollment').pluralize(@pagy.count))
    %p.ml-auto!= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .table-responsive.card
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th Client
          %th Project
          %th Entry Date
          %th Move-in Date
          %th Exit Date
          %th Destination
      %tbody
        - @enrollments.each do |en|
          - client = en.client.destination_client
          - project = en.project
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            %td= project.name
            %td= en.EntryDate
            %td= en.MoveInDate
            %td= en.exit&.ExitDate
            %td= HUD.destination(en.exit&.Destination)
  .d-flex
    %p.ml-auto!= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
