- title = 'Cohort Column Options'
- content_for :title, title

.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-2
    .row
      .col-sm-6
        = link_to cohorts_path do
          &laquo; Return to Cohorts
  .col-sm-2
    = link_to new_cohort_column_option_path, class: 'btn btn-primary pull-right margin-bottom-02' do
      %span.icon-plus
      Add a Cohort Column Option
      

.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th Cohort Column
          %th Value
          %th Weight
          %th Active? 
        %tbody
          - @cohort_column_options.each do |option|
            %tr
              %td= option.cohort_column
              %td= simple_format option.value
              %td= option.weight
              %td= option.active
              %td
                = link_to action: :edit, id: option do
                  %span.icon-pencil
                  Edit
                      
%p= paginate @cohort_column_options
