= render 'cohort_columns/page_header'
.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right
    = link_to new_cohort_column_option_path, class: 'btn btn-primary pull-right mb-2' do
      %span.icon-plus
      Add a Cohort Column Option

= render 'cohort_columns/tab_bar'

.row
  .col-sm-12
    #cohort-column-options.table-responsive.panel-group.panel-collapsible
      - @cohort_column_options.group_by(&:cohort_column).each do |column, options|
        - content_for :panel_collapse_content, flush: true do
          %table.table.table-sm
            %thead
              %th{style: "width: 35%;"} Value
              %th{style: "width: 15%;"} Active?
              %th{style: "width: 15%;"}
            %tbody
              - options.each do |option|
                %tr
                  %td= option.value
                  %td= checkmark_or_x option.active
                  %td

                    - if !@cohort_column_options_in_use[column]&.include?(option.value)
                      = link_to action: :edit, id: option do
                        %span.icon-pencil
                        Edit
                    - else
                      in use

        = render 'common/panel_collapse',
          id: column,
          title: options.first.available_cohort_columns.invert[column],
          panel_body_padded: 'n'
