- if @result.display_exit_breakdown?
  - data = @result.data_for_exits(@report)
  - reporting = data[:reporting]
  - comparison = data[:comparison]
  - aprs = @report.ce_aprs.order(start_date: :asc).to_a
  - comparison_year = aprs.first.end_date.year
  - report_year = aprs.last.end_date.year
  - reporting.each do |type, destinations|
    - if [type, 'CePerformance::Results::Exit'].include?(@result.type)
      .card.mt-4
        %table.table.table-striped
          %thead
            %tr
              %th{ width: '80%' }= type.constantize.breakdown_title
              %th{ width: '20%' }= comparison_year
              %th{ width: '20%' }= report_year
          %tbody
            - destinations.each do |k, v|
              %tr
                %th= k
                - [[:comparison, comparison[type][k]], [:reporting, v]].each do |period, value|
                  %td= link_to_if can_view_all_hud_reports? || can_view_own_hud_reports?, number_with_delimiter(value), clients_ce_performance_warehouse_reports_report_path(@report, period: period, exit_type: ::HudUtility2024.destination(k, true), key: @key, category_name: @category_name)
