- markdown = Redcarpet::Markdown.new(::InlineHtml)

.col-sm-4
  %h2= result_class.title
  - if result_class.ce_apr_question.present?
    .spm-measure.font-weight-bold= "CE APR #{result_class.ce_apr_question}"
  %p= raw markdown.render(result_class.description)
.col-sm-2
  .text-uppercase This Year
  .performance-measurement__result-number.font-weight-bold= result.value.round
  .text-capitalize= result.unit
.col-sm-2
  - if comparison.present?
    .text-uppercase Last Year
    .performance-measurement__result-number.font-weight-bold= comparison.value.round
    .text-capitalize= comparison.unit
