.row
  .col-sm-6
    .text-uppercase This Year
    .performance-measurement__result-number.font-weight-bold= result.value.round
    .text-capitalize= result.unit
  .col-sm-6
    - if comparison.present?
      .text-uppercase Last Year
      .performance-measurement__result-number.font-weight-bold= comparison.value.round
      .text-capitalize= comparison.unit

- result.sub_results.each do |sub_result_class|
  - sub_result = @report.results_for_display[category_name][:reporting][sub_result_class]
  - sub_comparison = @report.results_for_display[category_name][:comparison][sub_result_class]
  .row.mt-4
    .col-sm-6
      .text-uppercase This Year
      .performance-measurement__result-number.font-weight-bold= sub_result.value.round
      .text-capitalize= sub_result.unit
    .col-sm-6
      - if sub_comparison.present?
        .text-uppercase Last Year
        .performance-measurement__result-number.font-weight-bold= sub_comparison.value.round
        .text-capitalize= sub_comparison.unit
