- markdown = Redcarpet::Markdown.new(::InlineHtml)

.col-sm-4
  %h2= result_class.title
  - if result_class.ce_apr_question.present?
    .spm-measure.font-weight-bold= "CE APR #{result_class.ce_apr_question}"
  %p= raw markdown.render(result.description)
.col-sm-4
  = render 'row_contents_comparisons', result: result, comparison: comparison, category_name: category_name
