= render 'breadcrumbs'

- content_for :title, @report.title
%h1= content_for :title
= render 'warehouse_reports/beta_warning'
%p.mb-2= @report.description
%p= "Created by #{@report.user.name_with_email} on #{@report.completed_at.to_date}"

.well.report-listing.warehouse-reports__completed.d-flex.justify-content-between
  .pl-0.w-50
    %h3 Universe
    = @report.describe_filter_as_html
  .ml-auto
    = render 'hud_report_links'
- @report.results_for_display[:reporting].each do |result_class, result|
  - next unless result_class.display_result?

  = render result, result_class: result_class, result: result
