.row
  .col-sm-12.text-right
    = link_to new_cohort_cohort_client_cohort_client_note_path(@cohort, @cohort_client), class: 'btn btn-secondary btn-sm' do
      %i.icon-plus
      Add a note
- @cohort_client.cohort_client_notes.each do |note|
  = note.note
  %p.attribution
    = note.user.name
    on
    = note.updated_at.to_date
  %br
test
- content_for :modal_title do
  Notes for #{@cohort_client.client.full_name}
