.row
  .col-sm-12.text-right.mb-2
    = link_to new_cohort_cohort_client_cohort_client_note_path(@cohort, @cohort_client), class: 'btn btn-secondary btn-sm', data: {loads_in_pjax_modal: true} do
      %i.icon-plus
      Add a note
- @cohort_client.cohort_client_notes.each do |note|
  .d-flex.mb-4
    %div
      = note.note
      %p.attribution.mt-2.mb-0
        = note.user.name
        on
        = note.updated_at.to_date
    - if note.destroyable_by current_user
      = link_to cohort_cohort_client_cohort_client_note_path(@cohort, @cohort_client, note), class: 'btn btn-sm btn-danger btn-icon-only ml-auto mt-auto', method: :delete, remote: true do
        %i.icon-cross.mr-2
        Destroy

- content_for :modal_title do
  Notes for #{@cohort_client.client.full_name}
