- title = "Add a note for #{@note.client.name}"
- content_for :modal_title, title

= simple_form_for @note, url: cohort_cohort_client_cohort_client_notes_path(), method: :post, remote: true do |f|
  = f.input :note, as: :text

  = f.input :send_notification, as: :boolean, label: 'Send notifications?', input_html: { class: :jNotifications }
  .jRecipients
    = f.input :recipients, collection: User.active.can_view_clients.uniq, as: :select_two, input_html: {multiple: true}
  = f.submit value: 'Add Note', class: 'btn btn-primary'

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jNotifications').on('change', function(e) {
        if($(this).is(':checked')){
          $('.jRecipients').show();
          $('.select2-select-all').remove();
        } else {
          $('.jRecipients option:selected').prop('selected', false);
          $('.jRecipients').hide();
          $('.jRecipients select').trigger('change');
        }
      });
      $('.jNotifications').trigger('change');
    });
