- content_for :title,  'Patient - Client management'
- sort_options = Health::Patient.sort_options
%h1= content_for :title
= render 'breadcrumbs'
%p Use this form to connect any patients who are not automatically matched to clients on import, or to fix an incorrectly matched patient.
.row
  .col-sm-8
    = render 'search_form'
  .col-sm-4
    = render 'sort', sort_options: sort_options
= simple_form_for :patients, url: admin_health_patients_path do |f|
  = f.error_notification
  .form-inputs
    %p= page_entries_info @patients, entry_name: _('patient')
    %p= paginate @patients
    %table.table.table-striped
      %thead
        %tr
          %th Patient ID
          %th Patient
          %th DOB
          %th Gender
          %th Client
          %th DOB
          %th Gender
          %th Client ID
      %tbody
        - @patients.each do |patient|
          %tr
            = simple_fields_for 'patients[]', patient do |t|
              %td
                = patient.id_in_source
              %td
                = patient.name
              %td
                = patient.birthdate
              %td
                = patient.gender
              %td
                - if patient.client.present?
                  = link_to client_path(id: patient.client_id) do
                    = patient.client.name
              %td
                = patient&.client&.DOB
              %td
                = HUD::gender(patient&.client&.Gender)
              %td
                = t.input :client_id, label: false, input_html: {size: 8, style: 'width: 8em;'}
  .form-actions
    = f.button :submit, value: 'Update Connections'
  %p= paginate @patients