- content_for :title,  'Patient - Client management'
- sort_options = Health::Patient.sort_options
.o-page
  .o-page__header
    %h1= content_for :title

  = render 'menus/health_admin_tabs'
  = render 'breadcrumbs'

  .alert.alert-warning
    %p This page is only for managing patients from the 2017-18 pilot.

  %p Use this form to connect any patients who are not automatically matched to clients on import, or to fix an incorrectly matched patient.
  .o-page__controls
    .o-page__search
      = render 'search_form'
    .o-page__sort
      = render 'sort', sort_options: sort_options
  - if @pagy.count.positive?
    .o-page__main-content
      = simple_form_for :patients, url: admin_health_patients_path do |f|
        = f.error_notification
        = render 'common/pagination_top', item_name: 'patient'
        .form-inputs
          %table.table.table-striped
            %thead
              %tr
                %th Patient ID
                %th Patient
                %th DOB
                %th Gender
                %th Client
                %th DOB
                %th Gender
                %th Client ID
            %tbody
              - @patients.each do |patient|
                %tr
                  = simple_fields_for 'patients[]', patient do |t|
                    %td
                      = patient.id_in_source
                    %td
                      = patient.name
                    %td
                      = patient.birthdate
                    %td
                      = patient.gender
                    %td
                      - if patient.client.present?
                        = link_to client_health_pilot_patient_index_path(client_id: patient.client_id) do
                          = patient.client.name
                    %td
                      = patient&.client&.DOB
                    %td
                      = HUD::gender(patient&.client&.Gender)
                    %td
                      = t.input :client_id, label: false, input_html: {size: 8, style: 'width: 8em;'}
        .form-actions
          = f.button :submit, value: 'Update Connections'
        = render 'common/pagination_bottom', item_name: 'patient'
  - else
    .none-found.mt-4 No patients.
