.warehouse-reports__data-quality-reports
  %h3 Coordinated Access System Reports
  .row.margin-bottom-02
    .col-sm-4
      = link_to warehouse_reports_manage_cas_flags_path do
        Manage CAS Flags
      %br
      Use this report to bulk update 
      %strong available in cas, disability verification on file, and HAN release on file
    .col-sm-4
      = link_to warehouse_reports_cas_decision_efficiency_index_path do
        Decision Efficiency
      %br
      Shows how quickly clients move through CAS steps.
    .col-sm-4
      = link_to warehouse_reports_cas_decline_reason_index_path do
        Decline Reason
      %br
      Why CAS matches were declined.
  .row
    .col-sm-4
      = link_to warehouse_reports_cas_chronic_reconciliation_index_path do
        Chronic Reconcilliation
      %br
      See who is available in CAS but not on the chronic list, and who's not available in CAS, but is on the chronic list.
    .col-sm-4
      = link_to warehouse_reports_cas_canceled_matches_path do
        Canceled Matches
      %br
      See when matches were canceled and who was involved.