.warehouse-reports__data-quality-reports
  %h3 Data Quality Reports
  .row
    .col-sm-4
      = link_to warehouse_reports_missing_projects_path do
        Missing Projects
      %br
      Shows Project IDs for enrollment records where the project isn't in the source data.
    .col-sm-4
      = link_to warehouse_reports_dob_entry_same_index_path do
        DOB = Entry date
      %br
      List clients who's first entry date is on their birthdate.
    .col-sm-4
      = link_to warehouse_reports_non_alpha_names_path do
        Client with odd characters in their names
      %br
      List clients who's first or last name starts with a non-alphabetic character.
  %br
  .row
    .col-sm-4
      = link_to warehouse_reports_future_enrollments_path do
        Clients with future enrollments
      %br
      List any clients who have enrollments in the future.
    .col-sm-4
      = link_to warehouse_reports_long_standing_clients_path do
        Long Standing Clients
      %br
      List clients who have been enrolled in an emergency shelter for a given number of years.
    .col-sm-4
      = link_to warehouse_reports_really_old_enrollments_path do
        Really Old Enrollments
      %br
      List clients who have enrollments prior to 1970.
  %br
  .row
    .col-sm-4
      = link_to warehouse_reports_entry_exit_service_index_path do
        Clients with Single Day Enrollments with Services
      %br
      Clients who received services for one-day enrollments in housing related projects.    
    .col-sm-4
      = link_to warehouse_reports_bed_utilization_index_path do
        Bed Utilization
      %br
      Bed utilization within the programs of an organization.
    .col-sm-4
      = link_to warehouse_reports_length_of_stay_index_path do
        Currently enrolled clients with length of stay
      %br
      The length of stay per program of currently enrolled clients aggregated by time interval.
  %br
  .row
    .col-sm-4
      = link_to warehouse_reports_missing_values_path do
        Missing values in HUD tables
      %br
      Find the frequency of missing values in HUD Client and Enrollment tables.
    .col-sm-4
      = link_to warehouse_reports_project_data_quality_path do
        Project Data Quality Report

    .col-sm-4