- content_for :title, _("Warehouse Reports")
%h1= content_for :title

%ul.nav.nav-tabs{role: :tablist}
  - @report_definitions.each_with_index do |(group_name, reports), index|
    %li{role: :presentation, class: (index == 0 ? 'active' : '')}
      %a{href: "##{group_name.parameterize.dasherize}", role: :tab, data: {toggle: :tab}, aria: {controls: '#{group_name}'}}
        #{group_name}

.tab-content
  - @report_definitions.each_with_index do |(group_name, reports), index|
    - dashed_group_name = group_name.parameterize.dasherize
    %div{role: :tabpanel, class: (index == 0 ? 'active tab-pane' : 'tab-pane'), id: dashed_group_name}
      %h3
        #{group_name}
      %div.o-card-grid{class: "warehouse-reports__#{dashed_group_name}"}
        - reports.each do |report|
          - if report
            %article.c-card.c-card--padded.c-card--flex
              = link_to report.url, class: 'c-card__content' do
                .c-card__title= report.name
                .c-card__description= report.description.html_safe


= content_for :page_js do
  :javascript
    $('.nav-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      window.location.hash = id;
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');
