:ruby
  recents_name = 'Recently Viewed'
  recents = [[recents_name, @recent_reports]]

  favorites_name = 'Favorites'
  favorites = [[favorites_name, @favorite_reports]]

  definitions_with_recents = recents + @report_definitions + favorites
  limited_statement = 'Report is not limited by assigned projects.'
  stimulus_controller = 'list-search'

  favorite_stimulus_controller = 'favorite'
  favorite_icon = 'icon-heart'
  not_favorite_icon = 'icon-heart-empty'

.c-list-search{data: {controller: stimulus_controller}}
  .c-list-search__header
    .c-list-search__title
      - content_for :title, _('Reports')
      %h1= content_for :title

    .c-list-search__search
      .c-list-search__search-found-count.text-right.hide{data: {"#{stimulus_controller}-target" => "foundCount"}}
        %p
          %span Number of reports found:
          %span.count
        %p.hide{data: {"#{stimulus_controller}-target" => "searchAll"}}
          %a{href: '#', data: {action: "click->#{stimulus_controller}#changeCategory", category: 'all'}} Search all reports
      %input.form-control{placeholder: 'Filter visible reports', data: {action: "input->#{stimulus_controller}#search"}}

  .c-list-search__container
    %nav.c-list-search__filtration-nav
      .c-list-search__filtration-nav-wrapper
        .c-list-search__list-group-header.c-list-search__list-group-header--static
          %h3.c-list-search__group-title Report Categories
        .list-search__button-wrapper
          - base_data = {action: "click->#{stimulus_controller}#changeCategory keydown->#{stimulus_controller}#keyboardChangeCategory", "#{stimulus_controller}-target" => "category"}
          - def a11y_options(pressed)
            - {tabindex: 0, aria:{controls: 'list-search__list', pressed: pressed}}
          %button{data: base_data.merge(category:'all'), **a11y_options('true')} All Reports
          - definitions_with_recents.each do |(category_name, reports)|
            %button{data: base_data.merge(category:category_name, hash:category_name.parameterize), **a11y_options('false')}= category_name
    .mb-4.c-list-search__list#list-search__list{data: {"#{stimulus_controller}-target" => "results"}}
      - definitions_with_recents.each_with_index do |(group_name, reports), index|
        - dashed_group_name = group_name.parameterize.dasherize
        .c-list-search__list-group{class: ["c-list-search__list-group--#{group_name.parameterize}"], data: {category: group_name, "#{stimulus_controller}-target" => "categoryContent"}}
          .c-list-search__list-group-header
            %h3.c-list-search__group-title #{group_name}
            - if reports.any?{ |r| !r.limitable?}
              .c-list-search__legend
                %i.icon-notification
                %em= limited_statement
          %ul{class: "warehouse-reports__#{dashed_group_name}"}
            - reports.each do |report|
              - if report
                - categories = [group_name]
                %li.c-list-search__item-link{data: {title: report.name, categories: categories.to_s.html_safe, "#{stimulus_controller}-target" => "item"}}
                  = link_to report.url, class: '' do
                    .c-list-search__item-title
                      %h5= report.name
                      - unless report.limitable?
                        %i.icon-notification{data: {toggle: :tooltip, title: limited_statement}}
                      - if [recents_name, favorites_name].include? group_name
                        - categories.each do |cat|
                          .badge.badge-primary.mr-1.ml-2=report.report_group
                      - if report.new_report?
                        .badge.badge-danger.mr-1.ml-2 New
                    %p.c-list-search__item-description= report.description.html_safe
                  .mr-1.ml-auto{data: { controller: favorite_stimulus_controller, "#{favorite_stimulus_controller}-id-value": report.id, "#{favorite_stimulus_controller}-favorite-class": favorite_icon, "#{favorite_stimulus_controller}-not-favorite-class": not_favorite_icon}}
                    %button{data: {action: "click->#{favorite_stimulus_controller}#favorite"}}
                      - if @favorite_reports.include? report
                        %i{data: {"favorite-target": "icon"}, class: favorite_icon}
                      - else
                        %i{data: {"favorite-target": "icon"}, class: not_favorite_icon}
      .c-list-search__no-results{class: 'hide', data: {"#{stimulus_controller}-target" => "noResults"}} No Reports found
