- content_for :title, _("Warehouse Reports")
%h1= content_for :title

= render 'tab_navigation'
.tab-content
  - if can_view_reports?
    - report_definitions = GrdaWarehouse::WarehouseReports::ReportDefinition.all.group_by(&:report_group)
    - report_definitions.each_with_index do |(group_name, reports), index|
      - dashed_group_name = group_name.parameterize.dasherize
      %div{role: :tabpanel, class: (index == 0 ? 'active tab-pane' : 'tab-pane'), id: dashed_group_name}
        %div{class: "warehouse-reports__#{dashed_group_name}"}
          %h3 
            #{group_name}
          - reports.in_groups_of(3) do |report_row|
            .row
              - report_row.each do |report|
                - if report
                  .col-sm-4
                    = link_to report.url do
                      = report.name
                    %br
                    = report.description.html_safe
            %br

  - if can_view_aggregate_health?
    #health-reports.tab-pane{role: :tabpanel}
      .warehouse-reports__health-reports
        %h3 Health Reports
        .row.margin-bottom-02
          .col-sm-4
            = link_to warehouse_reports_health_overview_index_path do
              Health Dashboard

= content_for :page_js do
  :javascript
    $('.nav-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      window.location.hash = id;
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');
