= content_for :crumbs do
  = link_to path_for_question_result(@question, report: @report) do
    = "« #{report_short_name} #{@question} Results"

- content_for :title do
  = "#{report_short_name} #{@question} #{@cell}"
.d-flex.mb-2
  %h1= content_for :title
  .ml-auto
    :ruby
      download_data = {
        type: 'HudSpmReport::DocumentExports::CellDetailExport',
        query_string: {
          report_id: @report.id,
          measure_id: @question,
          cell_id: @cell,
          table: @table,
        }.to_query,
        url: document_exports_path,
      }
    %a.btn.btn-secondary.j-document-exports{href: '#', data: download_data}
      %i.icon-file-excel
      Download

.d-flex.align-items-end.mb-4
  .w-50
    - if @searchable
      = form_tag(hud_reports_spm_measure_cell_search_queries_path(spm_id: @report.id, measure_id: @question, cell_id: @cell, table: @table), method: :post, class: 'mb-0') do
        .input-group
          = text_field_tag :q, @search_term, class: 'form-control', placeholder: 'Search by name, ID, or Personal ID...', autofocus: @search_term.present?
          = button_tag 'Search', type: 'submit', class: 'btn btn-secondary'
          - if @search_term.present?
            = link_to 'Clear', hud_reports_spm_measure_cell_path(spm_id: @report.id, measure_id: @question, id: @cell, table: @table), class: 'btn btn-outline-secondary'
  .pl-2.ml-auto
    - if @search_term.present?
      %div
        Showing
        = number_with_delimiter @filtered_count
        of
        = number_with_delimiter @total_count
        = 'client'.pluralize(@total_count)
    - else
      = "#{number_with_delimiter @total_count} #{'client'.pluralize(@total_count)} total"
    - if @pagy.pages > 1
      %span.text-muted.d-block
        = "(page #{@pagy.page} of #{@pagy.pages})"

= render_paginated_list_with_explicit_pagy(pagy: @pagy, list: @clients, item_name: 'client', list_partial: 'hud_spm_report/cells/list')
