= content_for :crumbs do
  = link_to path_for_question_result(@question, report: @report) do
    = "« #{report_short_name} #{@question} Results"

- content_for :title do
  = "#{report_short_name} #{@question} #{@cell}"
.d-flex.mb-2
  %h1= content_for :title
  .ml-auto
    = link_to(link_params.merge({format: :xlsx}),{class: 'btn btn-secondary'}) do
      %i.icon-file-excel
      Download

- if @clients.blank?
  .none-found No records found.
- else
  .d-flex.align-items-end
    .w-50
      .input-group
        %input#table_search.form-control{autofocus: true, type: :text, placeholder: 'Search...'}
        %span.input-group-append
          %button.btn.btn-secondary Search
    .pl-2.ml-auto= "#{number_with_delimiter @clients.count} clients"
  .card
    .overflow-x-scroll{style: "height: 800px"}
      %table.table.table-sm.table-bordered.table-fixed.datatable
        %thead.thead-dark
          %tr
            %th
            - @headers.each_value do |header|
              %th= header
        %tbody.thead-dark
          - current_user.policy_context.preload_project_dependencies(@clients.map(&:project_id).uniq)
          - # @clients are either Episodes or Returns
          - @clients.find_each.with_index do |client, i|
            - pii_policy = current_user.reporting_policy_for_project(project_id: client.project_id)
            %tr
              %th= i + 1
              - @headers.each_key do |k|
                %td{style: 'max-width: 600px;'}
                  - if k.to_sym == :client_id
                    = link_to appropriate_client_path(client[k]) do
                      = client[k]
                    %a{href: '#', class: ['btn', 'btn-sm'], data: { toggle: :popover, title: 'Client Information', url: api_client_path(client.client_id), html: 'true' }}
                      %i.icon-info
                  - else
                    = client.display_value(k, pii_policy: pii_policy, include_content_tag: true)
  = content_for :page_js do
    :javascript
      table = $('.datatable').DataTable({
        paging: false,
        "dom": 'lrtip'
      });
      $('#table_search').keyup(function(){
        table.search($(this).val()).draw();
      });
