- if @client.youth_follow_up_due_soon?
  %div.alert.alert-warning
    %i.alert__icon.icon-warning
    A 3-month follow up case note is due for #{@client.name} on #{@client.youth_follow_up_due_on}
- if @client.youth_follow_up_due?
  %div.alert.alert-danger
    %i.alert__icon.icon-warning
    A 3-month follow up case note was due for #{@client.name} on #{@client.youth_follow_up_due_on}
= render 'intake_list'
= render 'case_management_list'
- if GrdaWarehouse::Config.get(:enable_youth_hrp)
  = render 'housing_resolution_plan_list'
  = render 'psc_feedback_survey_list'

.row
  .col-sm-6
    = render 'financial_assistance_list'
  .col-sm-6
    = render 'referrals_list'

- if @intakes.exists?
  .row
    .col-sm-12
      = render 'follow_up_list'

= content_for :page_js do
  :javascript
    $(document).ready(function(){
      $('.jOtherTrigger').on('change', function(e){
        if($(this).val() == 'Other') {
          $(this).closest('.form-group').next().removeClass('hidden');
        }
        else {
          $(this).closest('.form-group').next().addClass('hidden');
        }
      });
    });
