- content_for :title, "Youth Intakes"
= render 'clients/breadcrumbs'

= render 'clients/aliases'
= render 'clients/tab_navigation', current: client_youth_intakes_path(client_id: @client)

= render 'clients/youth/intakes/intakes'

- if can_delete_youth_intake?
  .text-right
    = link_to remove_all_youth_data_client_youth_intakes_path(@client), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete all youth information for #{@client.name}?  Deleting is non-reversible, and will remove all items on this page.  Proceed?"} do
      %i.icon-cross
      Delete All Youth Data