= content_for :crumbs do
  = link_to import_path(@import) do
    &laquo; Import Log

%h1 Loader Errors
= render 'common/pagination_top', item_name: 'error'
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Filename
        %th Error
        %th Line
    %tbody
      - @errors.each do |error|
        %tr
          %td= error.file_name
          %td= error.details
          %td= error.source
= render 'common/pagination_bottom', item_name: 'error'