- title = "Enrollment (834) Processing"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health'

= render 'form'

= render 'table'

= content_for :page_js do
  :javascript
    (function($) {
      if ($('.spinner:visible').length > 0) {
        // Refresh page every 30 seconds since a delayed job should be running
        var timeoutPeriod = 30000
        setTimeout("location.reload(true);", timeoutPeriod);
      }
    })(jQuery)