= content_for :crumbs do
  = link_to warehouse_reports_health_enrollments_url do
    « Enrollment (834) Processing

- title = "Enrollment Information Uploaded on  #{@file.created_at}"
- content_for :title, title
%h1= content_for :title

.text-right
  = link_to download_warehouse_reports_health_enrollment_path(@file, format: :edi), class: 'btn btn-secondary mt-4 ml-4' do
    %span.icon-download2
    Download EDI
  = link_to download_warehouse_reports_health_enrollment_path(@file, format: :xlsx), class: 'btn btn-primary mt-4 ml-2' do
    %span.icon-download2
    Download Excel

- if @file.processing_errors.present?
  %h2 Processing Errors
  = simple_form_for :override, url: override_warehouse_reports_health_enrollment_path(@file) do |f|
    = f.input :overrides, collection: @file.processing_errors, as: :check_boxes, label: false, required: false
    = f.submit 'Override', class: 'btn-sm btn-secondary'

  %h2.mt-4 Transactions
= render 'common/pagination_top', item_name: 'transaction'
- @transactions.each do |transaction|
  .panel-group.panel-collapsible
    - content_for :panel_collapse_content, flush: true do
      %pre= JSON.pretty_generate transaction
    = render 'common/panel_collapse', id: Health::Enrollment.subscriber_id(transaction), title: Health::Enrollment.describe(transaction)