:ruby
  f = ClaimsReporting::Formatter.new
%p
  Data shown reflects claims for services starting between #{report.claim_date_range.first} and #{report.claim_date_range.last} and paid through #{report.latest_payment_date}. Demographics are as of #{report.roster_as_of}.
%h3 Patients
.card.mb-4
  %table.table.table-sm.table-striped.table-bordered.mb-0
    %thead
      %tr
        %th
        - report.cohorts.each do |_, cohort|
          %th.text-center{data: {toggle: :tooltip, title: cohort[:tooltip]}}= cohort[:title]
    %tbody
      - report.summary_headers.each do |summary_field|
        %tr
          %th= summary_field
          - report.cohorts.each do |corhort_id, cohort|
            %td.text-right= f.format_d report.summary(corhort_id)[summary_field.to_s]

%h3 Claims
.card.mb-4
  %table.table.table-sm.table-striped.table-bordered.mb-0
    %thead
      %tr
        %th
        %th.text-center{colspan: report.cohorts.size}
          Utilization - events per 1000 members per year
      %tr
        %th Claim Categories
        - report.cohorts.each do |_, cohort|
          %th.text-center= cohort[:title]
    %tbody
      - report.detail_row_headers.group_by(&:first).each do |cos_rollup, rollup_rows|
        - rollup_rows.sort_by{|row| report.cos_description(row['cde_cos_category'])||'AAAA'}.each_with_index do |row, idx|
          :ruby
            rollup_label = report.cos_rollup(row['cde_cos_rollup']).presence || 'All Claims'
            category_code = row['cde_cos_category']
            category_label = report.cos_description(category_code).presence || ''
            sentence_label = (category_label.presence || rollup_label).downcase.gsub(/all claims/,'total claims')
          %tr{class: ('table-warning' if category_code.in? report.highlighted_categories)}
            - if category_label.blank?
              %th{axis: :row}= rollup_label
            - else
              %td.pl-4{axis: :row}
                = category_label
                = category_code
            - report.cohorts.each do |cohort_id, cohort|
              :ruby
                d = report.result_for(cohort_id, row['cde_cos_rollup'], row['cde_cos_category'])
                cohort_phrase = cohort_id.to_s == 'total_population' ? 'members' : "members #{ cohort[:title].downcase }"
                tooltip = "Based on #{f.format_i d['n_claims']} #{sentence_label} claims from #{f.format_i d['n_members']} #{cohort_phrase}."
                tooltip +=" Total Paid: #{f.number_to_currency d['paid_amount_sum']}."
              %td.text-right{data: {toggle: :tooltip, title: tooltip}}
                = f.format_i d['utilization']
-#  %b Notes:
-#  %div ยน "Total Paid" amounts are based on incompleted.
-# - unless Rails.env.production?
-#   %details
-#     %summary Query
-#     %code= report.claims_query.to_sql

-# = content_for :page_js do
-#   :javascript
-#     $(function() {
-#       $('.datatable').DataTable({
-#         searching: false,
-#         ordering: false,
-#         paging: false,
-#         info: false,
-#         scrollY: '600px'
-#       })
-#     })
