- data = @data.send(section)
- if data.present?
  %h4= title
  %table.table.table-striped
    %thead
      %tr
        %th Project
        %th Count
    %tbody
      - @data.involved_projects.sort_by(&:last).each do |(p_id, p_name)|
        %tr
          %th= p_name
          %td
            - key = "#{p_id}__count"
            - count = data[key] || 0
            = link_to_if(count > 0 && can_view_all_reports?, count, warehouse_report_support_index_path(@report.id, key: key, section: section, title: "#{section.to_s.titleize} for: #{p_name}—Client Count"), data: { loads_in_pjax_modal: true })