= simple_form_for @filter, as: :filter, url: warehouse_reports_initiatives_path, html: { method: :post, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row.w-100
      .col-md-4
        = f.input :initiative_name
    .row.w-100
      .col-md-4
        = f.input :project_ids, collection: [], as: :select_two, input_html: { multiple: true, data: { 'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids) }, placeholder: 'Choose a Project'}, label: 'Projects'
      - if can_edit_project_groups?
        .col-md-4
          = f.input :project_group_ids, collection: GrdaWarehouse::ProjectGroup.viewable_by(current_user).pluck(:name, :id), input_html: {multiple: true}, label: 'Project Groups', as: :select_two
      .col-md-4
        = f.input :sub_population, collection: GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations, label: 'Population', include_blank: false, as: :select_two
    .row.w-100
      .col-lg-6
        = render 'warehouse_reports/date_range_filters',
          f:f,
          title: 'Date Range'
      .col-lg-6
        = render 'warehouse_reports/date_range_filters',
          f:f,
          title: 'Comparison Date Range',
          start_input: :comparison_start,
          end_input: :comparison_end

  - content_for :filter_actions do
    = f.button :submit, value: 'Queue Report', data: { disable_with: 'running...' }

  = render 'warehouse_reports/filters', f:f
