.warehouse-reports__parameters
  .row
    .col-sm-6
      %h4 Report Period
      %p= "#{@parameters.start.to_date} to #{@parameters.end.to_date}"
      %h4 Comparison Period
      %p= "#{@parameters.comparison_start.to_date} to #{@parameters.comparison_end.to_date}"
      %h4 Sub-Population
      %p
        - sub_population = GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert.try(:[], @parameters.sub_population.to_sym)
        = sub_population
    .col-sm-6
      %h4 Projects
      %ul
        - project_names = GrdaWarehouse::Hud::Project.order(ProjectName: :asc).where(id: @parameters.projects).map { |project| project.name(current_user)}
        - if project_names.empty?
          All
        - else
          - project_names.each do |name|
            %li.project-name= name