- title = "Initiative Reports"
- content_for :title, title
%h1= content_for :title

= render '/warehouse_reports/breadcrumbs'
= render 'filter'

.warehouse-reports__completed.warehouse-reports__hmis_export.card
  %table.table.table-striped
    %thead
      %tr
        %th{style: 'min-width: 8em;'} Run At
        %th Name
        %th Completed in
        %th Parameters
        %th{style: 'min-width: 8em;'} Run by
        %th Delete
    %tbody.report-listing
      = render 'reports'
= link_to 'Reports', running_warehouse_reports_initiatives_path, class: 'jReportBlock', remote: true

= content_for :page_js do
  :javascript
    (function($) {
      $('.jReportBlock').hide();
      setInterval(function() {
        $('.jReportBlock').click();
      }, 30000);

    })(jQuery);
