- title = "#{@parameters.initiative_name} Initiative Report"
- content_for :title, title
%h1= content_for :title

-# Gender
= render 'gender_by_project_type', title: 'Gender Breakdowns by Project Type for Reporting Period', section: :gender_breakdowns_by_project_type, data: @data.gender_breakdowns_by_project_type

= render 'gender_by_project_type', title: 'Gender Breakdowns by Project Type for Comparison Period', section: :comparison_gender_breakdowns_by_project_type, data: @data.comparison_gender_breakdowns_by_project_type

= render 'gender_by_project', title: 'Gender Breakdowns by Project for Reporting Period', section: :gender_breakdowns_by_project, data: @data.gender_breakdowns_by_project

= render 'gender_by_project', title: 'Gender Breakdowns by Project for Comparison Period', section: :comparison_gender_breakdowns_by_project, data: @data.comparison_gender_breakdowns_by_project

-# Veteran Status
= render 'veteran_by_project_type', title: 'Veteran Status Breakdowns by Project Type for Reporting Period', section: :veteran_breakdowns_by_project_type, data: @data.veteran_breakdowns_by_project_type

= render 'veteran_by_project_type', title: 'Veteran Status Breakdowns by Project Type for Comparison Period', section: :comparison_veteran_breakdowns_by_project_type, data: @data.comparison_veteran_breakdowns_by_project_type

= render 'veteran_by_project', title: 'Veteran Status Breakdowns by Project for Reporting Period', section: :veteran_breakdowns_by_project, data: @data.veteran_breakdowns_by_project

= render 'veteran_by_project', title: 'Veteran Status Breakdowns by Project for Comparison Period', section: :comparison_veteran_breakdowns_by_project, data: @data.comparison_veteran_breakdowns_by_project

-# Ethnicity
= render 'ethnicity_by_project_type', title: 'Ethnicity Breakdowns by Project Type for Reporting Period', section: :ethnicity_breakdowns_by_project_type, data: @data.ethnicity_breakdowns_by_project_type

= render 'ethnicity_by_project_type', title: 'Ethnicity Breakdowns by Project Type for Comparison Period', section: :comparison_ethnicity_breakdowns_by_project_type, data: @data.comparison_ethnicity_breakdowns_by_project_type

= render 'ethnicity_by_project', title: 'Ethnicity Breakdowns by Project for Reporting Period', section: :ethnicity_breakdowns_by_project, data: @data.ethnicity_breakdowns_by_project

= render 'ethnicity_by_project', title: 'Ethnicity Breakdowns by Project for Comparison Period', section: :comparison_ethnicity_breakdowns_by_project, data: @data.comparison_ethnicity_breakdowns_by_project

-# Race
= render 'race_by_project_type', title: 'Race Breakdowns by Project Type for Reporting Period', section: :race_breakdowns_by_project_type, data: @data.race_breakdowns_by_project_type

= render 'race_by_project_type', title: 'Race Breakdowns by Project Type for Comparison Period', section: :comparison_race_breakdowns_by_project_type, data: @data.comparison_race_breakdowns_by_project_type

= render 'race_by_project', title: 'Race Breakdowns by Project for Reporting Period', section: :race_breakdowns_by_project, data: @data.race_breakdowns_by_project

= render 'race_by_project', title: 'Race Breakdowns by Project for Comparison Period', section: :comparison_race_breakdowns_by_project, data: @data.comparison_race_breakdowns_by_project

-# Age
= render 'age_by_project_type', title: 'Age Breakdowns by Project Type for Reporting Period', section: :age_breakdowns_by_project_type, data: @data.age_breakdowns_by_project_type

= render 'age_by_project_type', title: 'Age Breakdowns by Project Type for Comparison Period', section: :comparison_age_breakdowns_by_project_type, data: @data.comparison_age_breakdowns_by_project_type

= render 'age_by_project', title: 'Age Breakdowns by Project for Reporting Period', section: :age_breakdowns_by_project, data: @data.age_breakdowns_by_project

= render 'age_by_project', title: 'Age Breakdowns by Project for Comparison Period', section: :comparison_age_breakdowns_by_project, data: @data.comparison_age_breakdowns_by_project

-# Length of stay
= render 'length_of_stay_by_project_type', title: 'Length of Stay Breakdowns by Project Type for Reporting Period', section: :length_of_stay_breakdowns_by_project_type, data: @data.length_of_stay_breakdowns_by_project_type

= render 'length_of_stay_by_project_type', title: 'Length of Stay Breakdowns by Project Type for Comparison Period', section: :comparison_length_of_stay_breakdowns_by_project_type, data: @data.comparison_length_of_stay_breakdowns_by_project_type

= render 'length_of_stay_by_project', title: 'Length of Stay Breakdowns by Project for Reporting Period', section: :length_of_stay_breakdowns_by_project, data: @data.length_of_stay_breakdowns_by_project

= render 'length_of_stay_by_project', title: 'Length of Stay Breakdowns by Project for Comparison Period', section: :comparison_length_of_stay_breakdowns_by_project, data: @data.comparison_length_of_stay_breakdowns_by_project
