- vm = WarehouseReport::InitiativeBarCharts.new(@data, @report_range, @comparison_range)
- title = "#{@parameters.initiative_name} Initiative Report"
- content_for :title, title

%h1= content_for :title
= render 'token_access'
.warehouse-reports__parameters
  .o-card-grid
    %article.c-card
      .c-card__content
        .c-card__title Range
        .c-card__description= "#{@parameters.start.to_date} to #{@parameters.end.to_date}"
    %article.c-card
      .c-card__content
        .c-card__title Comparison Range
        .c-card__description= "#{@parameters.comparison_start.to_date} to #{@parameters.comparison_end.to_date}"
    %article.c-card
      .c-card__content
        .c-card__title Sub-Population
        .c-card__description
          - sub_population = GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert.try(:[], @parameters.sub_population.to_sym)
          = sub_population
    %article.c-card
      .c-card__content
        .c-card__title Projects
        .c-card__description
          - project_names = GrdaWarehouse::Hud::Project.order(ProjectName: :asc).where(id: @parameters.projects).pluck(:ProjectName)
          - if project_names.empty? || project_names == @all_project_names
            All
          - else
            - project_names.each do |name|
              .project-name= name
.warehouse-reports__initiatives
  -# Outcomes
  = render 'outcomes'
  - show_view_partials.each do |p|
    - if p[:partial] == 'breakdown'
      %h2
        %span= p[:title] || p[:data].to_s.humanize.titleize
      - [:project_type, :project].each do |by|
        - title = p[:title].present? ? "#{p[:title]} by #{by.to_s.titleize}" : "#{p[:data].to_s.titleize} by #{by.to_s.titleize}"
        = render p[:partial], title: title, vm: vm, data_type: p[:data], by: by, chart_1: :report, chart_2: :comparison
    - elsif p[:partial] == 'income_pie_charts'
      %h2
        %span= p[:title] || p[:data].to_s.humanize.titleize
      = render p[:partial], data_type: p[:data]
    - else
      %h2
        %span= p[:title]
      = render p[:partial], title: p[:title]

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.loso-collapse').on('shown.bs.collapse', function(event) {
        var id = event.target.id
        $('[data-target="#'+id+'"]').text('Hide Details')
      })
      $('.loso-collapse').on('hidden.bs.collapse', function(event) {
        var id = event.target.id
        $('[data-target="#'+id+'"]').text('Show Details')
      })
    })
