.row
  .col-sm-8
    = simple_form_for @import do |f|
      = f.error_notification
      .form-inputs
        = f.input :source, required: true 
        = f.input :file, as: :file
        = f.hidden_field :file_cache                
      .form-actions
        = f.button :submit
