- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
%h3 Leaver Households
.row
  - reports.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      .card.mb-4{class: comparison_class}
        %table.table.table-striped
          %thead
            %th
            %th Count
            %th Out of
            %th Percent
          %tbody
            - report.leaver_households_data.each do |key, row|
              %tr
                %th
                  %i.icon-info{data: {toggle: :tooltip, title: row[:description]}}
                  = row[:title]
                %td= link_to_if(report.can_see_client_details?(current_user) && row[:scope], number_with_delimiter(row[:count]), details_income_benefits_report_warehouse_reports_report_path(report, key: key, comparison: index.positive?))
                %td
                  - if row[:denominator]
                    = number_with_delimiter(row[:denominator])
                %td= percentage(row[:percent], format: '%1.0f%%') unless row[:percent].nil?
