- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
%h3 Stayer Insurance Sources at Last Update
%p
  To be included below, clients must have an income assessment at entry
  %strong and
  a subsequent income assessment that occurred before the report end date (#{@report.options['filters']['end'].to_date}).
.row
  - reports.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      .card.mb-4{class: comparison_class}
        %table.table.table-striped
          %thead
            %th
            %th Count
            %th Percent
          %tbody
            - report.stayer_insurance_sources_data.each do |key, row|
              %tr
                %th
                  %i.icon-info{data: {toggle: :tooltip, title: row[:description]}}
                  = row[:title]
                %td= link_to_if(report.can_see_client_details?(current_user) && row[:scope], number_with_delimiter(row[:count]), details_income_benefits_report_warehouse_reports_report_path(report, key: key, comparison: index.positive?))
                %td= percentage(row[:percent], format: '%1.0f%%') unless row[:percent].nil?
