-if can_edit_users? || can_edit_translations? || can_administer_health?
  = render :partial => 'menus/admin_tabs'

%h1 Dashboard
.row
  .col-sm-4
    = render 'import_status'
  .col-sm-4
    = render 'match_status' if can_edit_anything_super_user?
  .col-sm-4
    = render 'service_status' if can_edit_anything_super_user?

= link_to 'Debugging Dashboard', admin_dashboard_debug_index_path if can_edit_anything_super_user?
