%section
  %h3 Public S3
  %p This information will be used to determine where to send the static pages and charts for your public reports.
  = f.input :s3_region, collection: GrdaWarehouse::RecurringHmisExport.available_s3_regions, as: :select_two, label: 'Region'
  = f.input :s3_bucket, label: 'Bucket'
  = f.input :s3_prefix, label: 'Prefix', hint: 'optional'
  = f.input :s3_access_key_id, label: 'Access Key ID', input_html: { autocomplete: :off }
  = f.input :s3_secret, label: 'Secret Access Key', as: :password, input_html: { autocomplete: :off }
