- title = 'Public Report Configuration'
- content_for :title, title

= render '/warehouse_reports/breadcrumbs', tab: 'public'
%h1.mb-5= title

= simple_form_for @config, as: :config, url: public_reports_warehouse_reports_public_configs_path, method: :post do |f|
  - content_for :filters_col_l do
    .mr-4
      = render 'function', f: f
      = render 's3', f: f
      = render 'map', f: f

  - content_for :filters_col_r do
    = render 'appearance', f: f

  - content_for :filter_actions do
    = f.submit 'Update Configuration', class: ['btn', 'btn-primary']

  = render 'warehouse_reports/filters', f:f
