.row
  - if @reports.present?
    .col
      %p= paginate @reports
  .col.d-flex
    .ml-auto
      = render 'hud_reports/view_filter'
- if @reports.present?
  .jReportListing
    = render 'reports'
  = render 'hud_reports/list_refresher'
  %p= paginate @reports
- else
  .none-found.mt-4 No reports to show
