- title = "Location Map"
- content_for :title, title
= render 'clients/breadcrumbs'

= render 'clients/aliases'
= render 'clients/tab_navigation', current: map_client_location_history_client_path(@client)
= render_display_title "Location Map for #{@client.pii_provider(user: current_user).full_name}"
= render 'filter'

- if @locations.any?
  #client__location-history{data: { controller: 'map-with-markers', 'map-with-markers-markers-value': @markers.to_json, 'map-with-markers-options-value': @options.to_json }}
- else
  .no-data
    No previous locations
