- title = "Upload #{GrdaWarehouse::Config.currrent_health_emergency_tracing_title} Testing Results"
- content_for :title, title
.row
  .col-sm-8
    %h1= title
  .col-sm-4.d-flex
    = link_to new_warehouse_reports_health_emergency_uploaded_result_path, class: 'btn btn-primary ml-auto' do
      %i.icon-plus
      Upload Testing Batch
%p Batch add test results via upload.
= render '/warehouse_reports/breadcrumbs', tab: 'health-emergency'

= render 'table'