- title = "Uploaded #{GrdaWarehouse::Config.current_health_emergency_tracing_title} Testing Results"
- content_for :title, title
= content_for :crumbs do
  = link_to warehouse_reports_health_emergency_uploaded_results_path do
    = "« Uploaded Results"
.row
  .col-sm-8
    %h1= title
= render 'tests_table'
