= simple_form_for @range, as: :range, url: warehouse_reports_active_veterans_path, html: { method: :get, class: 'jFilter' } do |f|
  = f.error_notification
  .row
    .col-sm-6
      .input-group.date{data: {provide: :datepicker}}
        = f.input :start, input_html: {value: @range.start, class: 'form-control jStart'}, label: false
        %span.input-group-addon.icon-calendar
    .col-sm-6
      .input-group.date{data: {provide: :datepicker}}
        = f.input :end, input_html: {value: @range.end, class: 'form-control jStart'}, label: false
        %span.input-group-addon.icon-calendar
  .row(style="margin-top:1rem;")
    .col-sm-9
    .col-sm-3
      = f.button :submit, value: 'Update View'

- content_for :page_js do
  :javascript
    $('#new_range').submit(function(){
      var $form = $(this);
      $form.find(':input').prop('disabled', true);
    });
