= simple_form_for @range, as: :range, remote: true, url: warehouse_reports_active_veterans_path, html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-6
        = render 'warehouse_reports/date_range_filters', f:f
      .col-sm-6
        = f.input :project_type, collection: @range.project_types, input_html: { multiple: true, class: 'select2', data: {placeholder: 'Project Type'} }

  - content_for :filter_actions do
    = f.button :submit, value: 'Run Report', data: { disable_with: 'running...' }

  = render 'warehouse_reports/filters', f:f
