- title = "Active Veterans"
- content_for :title, title
%h1
  = title
%hr

= render '/warehouse_reports/breadcrumbs'

.well
  .row
    .col-sm-12
      = render 'filter'

.warehouse-reports__active-veterans
  %table.table.table-hover
    %thead
      %tr
        %th Run At
        %th Report Link
        %th Report Parameters
        %th Run By
    %tbody.report-listing
      = render 'reports'

= link_to 'Refresh', running_warehouse_reports_active_veterans_path, class: 'jReportBlock', remote: true, style: 'display:none'

= content_for :page_js do
  :coffeescript
    $ ->
      setInterval ->
        $('.jReportBlock').click()
      , 30*1000