- title = "Active Veterans"
- content_for :title, title
%h1
  = title
= render '/warehouse_reports/breadcrumbs'

= render 'filter'

.warehouse-reports__active-veterans.card
  %table.table.table-striped
    %thead
      %tr
        %th Run At
        %th Report Link
        %th Report Parameters
        %th Limited?
        %th Run By
        %th Delete
    %tbody.report-listing
      = render 'reports'

= link_to 'Refresh', running_warehouse_reports_active_veterans_path, class: 'jReportBlock', remote: true, style: 'display:none'

= content_for :page_js do
  :coffeescript
    $ ->
      setInterval ->
        $('.jReportBlock').click()
      , 30*1000
