- title = "Active Veterans"
- content_for :title, title
%h1
  = title
= content_for :crumbs do
  = link_to warehouse_reports_active_veterans_path do
    = "« " + title

.warehouse-reports__active-veterans.mb-4
  = render 'parameters', report: @report
  .d-flex
    = render 'sort', sort_options: @sort_options
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
      Download Excel

%table.table.table-sm
  %thead
    %tr
      %th{rowspan: 2} ID
      %th{rowspan: 2} Client
      %th{rowspan: 2} First Date Homeless
      %th{rowspan: 2}= if can_view_full_dob? then 'DOB' else 'Age' end
      %th{rowspan: 2} SSN
      %th{rowspan: 2} Veteran in
      %th{colspan: 5} Enrollments open during date range
    %tr
      %th{style: 'width: 3em;'} Source
      %th{style: 'width: 2em;'} Type
      %th Project
      %th{style: 'width: 8em;'} Entry
      %th{style: 'width: 8em;'} Exit
  %tbody
    - @clients.each do |client|
      - enrollments = client['enrollments']
      - next unless enrollments.present? # Sometimes the service history is out of sync
      - span = enrollments.size+ 1
      %tr
        %td{rowspan: span}
          = link_to_if can_view_clients?, client['id'], appropriate_client_path(id: client['id'])
        %td{rowspan: span}
          = link_to_if can_view_clients?, client['name'], appropriate_client_path(id: client['id'])
        %td{rowspan: span}= client['first_service_history']
        %td{rowspan: span}= dob_or_age(client['DOB']&.to_date)
        %td.nobr{rowspan: span}= ssn client['SSN']
        %td{rowspan: span}
          - if client['data_source_ids']
            - client['data_source_ids'].each_with_index do |ds_id, i|
              - ds = client['data_sources'][i]
              - if ds
                %em{ class: "ds-color-#{ds_id}"}
                  = ds
          - else
            - client['data_sources'].each do |ds|
              %em{ class: "ds-#{ds.downcase}"}
                = ds
      - enrollments.each do |enrollment|
        - service_type_class = "client__service_type_#{enrollment['project_type']}"
        %tr
          %td
            - if enrollment['ds_id']
              %em{ class: "ds-color-#{enrollment['ds_id']}"}
                = enrollment['ds_short_name']
            - else
              %em{ class: "ds-#{enrollment['ds_short_name'].downcase}"}
                = enrollment['ds_short_name']

          %td
            .enrollment__project_type{class: service_type_class}
              %em.service-type__program-type= HUD::project_type_brief(enrollment['project_type'])
          %td= enrollment['project_name']
          %td= enrollment['first_date_in_program']
          %td= enrollment['last_date_in_program']
