- content_for :page_js do
  :javascript
    $('#new_range').submit(function(e){
      var $form = $(this);
      // disable things *immediately after* submit
      setTimeout(function(){
        $form.find(':input').prop('disabled', true);
      }, 0);
    });

= simple_form_for @filter, as: :filter, url: polymorphic_path([:warehouse_reports, :client_details, :entries], sub_population: @filter.sub_population), html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    = render 'warehouse_reports/client_details/filter_fields', f: f, homeless_only: false

  - content_for :form_js do
    = render 'warehouse_reports/new_range_js'

  - content_for :filter_actions do
    = render 'warehouse_reports/update_view_button', f:f

  = render 'warehouse_reports/filters', f:f
