- title = "Active #{GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert[@sub_population]} Entry Detail"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
.row
  .col-sm-8
    %h1= title

= render 'filter'

= render 'background_render', url: render_section_warehouse_reports_client_details_entries_path, fetch_params: { filter: @filter.for_params[:filters] } do
  .rollup
    .rollup-container.well
