- title = "Access History"
- content_for :title, title
= render 'clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'clients/tab_navigation', current: client_audits_path(@client)

%h1=content_for :title
%p= paginate @audit_log
.row.table-utilities
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Date
            %th User
            %th Action
            %th Item
        %tbody
          - @audit_log.each do |item|
            %tr
              %td
                = item.created_at
              %td
                = link_to edit_admin_user_path(item.user.id) do 
                  = item.user.first_name
                  = item.user.last_name
              - title = item.title || item.controller_name
              %td
                - tooltip = "Method: #{item.method}"
                %span.action{data: {toggle: :tooltip, title: tooltip}}
                  = item.action_name

              %td= link_to title, item.path
      %p= paginate @audit_log
