- title = "Access History"
- content_for :title, title
= render 'clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'clients/tab_navigation', current: client_audits_path(@client)

%h1=content_for :title

%table.table.table-condensed
  %thead
    %tr
      %th Date
      %th User
      %th Action
  %tbody
    - @audit_log.each do |item|
      %tr
        %td
          = item.created_at
        %td
          = item.user.first_name
          = item.user.last_name
        %td
          = item.describe_action

= paginate @audit_log
