- title = "Edit User Group #{@user_group.name}"
- content_for :title, title

= content_for :crumbs do
  = link_to hmis_admin_user_groups_path do
    &laquo; Manage User Groups

.o-page
  .o-page__title
    %h1= content_for :title

.row
  .col-sm-12.col-md-8
    = simple_form_for @user_group, as: :user_group, url: hmis_admin_user_group_path do |f|
      = f.error_notification
      = f.input :name, label: 'User Group Name', hint: 'Descriptive name for user group, e.g. "Green Mountain Shelter: Providers"'
      = f.input :user_ids, as: :select_two, label_method: :name, collection: User.active.not_system, label: 'Users', input_html: { multiple: true }
      .form_actions.mt-4
        = f.button :submit, value: 'Update User Group'
