- title = "Edit User Group #{@user_group.name}"
- content_for :title, title

= content_for :crumbs do
  = link_to hmis_admin_user_groups_path do
    &laquo; Manage User Groups

.o-page
  .o-page__title.d-flex
    %h1= content_for :title
    .ml-auto
      = link_to hmis_admin_user_group_audit_path(@user_group), class: 'btn btn-info mb-3' do
        %i.fa.fa-history
        %span.icon-eye
        History
= render 'admin/user_groups/description', entity_type: 'HMIS'
.row
  .col-sm-6
    = simple_form_for @user_group, as: :user_group, url: hmis_admin_user_group_path do |f|
      = render 'form', f: f
      .form_actions.mt-4
        = f.button :submit, value: 'Update User Group'
  .col-sm-6
    = render 'admin/user_groups/helper_text'
