- content_for :title, 'HMIS User Group Administration'
.d-flex.mb-2
  %h1= content_for :title
= render 'hmis_admin/tabs', active_tab: :user_groups

= render 'admin/user_groups/description', entity_type: 'HMIS'
.d-flex.mb-4
  = link_to new_hmis_admin_user_group_path, class: 'btn btn-primary mr-auto' do
    %span.icon-plus
    Add a User Group
  .w-50.ml-auto
    - @prompt = 'Search user groups...'
    = render 'search_form'
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'user group'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th User Group Name
          %th.text-center Users
          %th
      %tbody
        - @user_groups.each do |user_group|
          %tr
            %td= link_to user_group.name, edit_hmis_admin_user_group_path(user_group)
            %td.text-center= user_group.users.count
            %td
              .float-right
                - unless user_group.users.count.positive?
                  = link_to hmis_admin_user_group_path(user_group),  method: :delete, data: {confirm: "Would you really like to delete the user group #{user_group.name}?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                    %span.icon-cross
                    Delete Group
  = render 'common/pagination_bottom', item_name: 'user group'
- else
  .none-found No groups found.
