- title = "New User Group"
- content_for :title, title

= content_for :crumbs do
  = link_to hmis_admin_user_groups_path do
    &laquo; Manage User Groups

.o-page
  .o-page__title
    %h1= content_for :title
.row
  .col-sm-12.col-md-10.align-items-start
    .alert.alert-info.align-items-start
      .alert__content.font-weight-normal
        %p It is often helpful to name this group based on the agency where the users work, and their role in that agency.
        %p
          For example:
          %ul
            %li.font-italic Green Mountain Shelter: Providers
            %li.font-italic Green Mountain Shelter: Site Managers
            %li.font-italic CoC Admins
    = simple_form_for @user_group, as: :user_group, url: hmis_admin_user_groups_path do |f|
      = f.error_notification
      .form-inputs
        .row
          .col-8
            = f.input :name, label: 'User Group Name', hint: 'Descriptive name for user group, e.g. "Green Mountain Shelter: Providers"'
      .form_actions.mt-4
        = f.button :submit, value: 'Create User Group'
