%section.o-section-card
  %h3 Disability Verification
  .c-card.c-card--block.c-card--padded.c-card--flush
    .d-flex.flex-wrap
      %p
        - confirmed = @client.disability_verified_on.present?
        .mb-1
          = checkmark_or_x(confirmed)
        - if !confirmed
          No Disability Verification on File
        - elsif @client.disability_verification_sources.exists?
          - @client.disability_verification_sources.each do |v|
            .disability_verification Disability Verified at #{v.location} on #{v.verified_at&.to_date}
        - else
          .disability_verification= "Disability Verified on #{@client.disability_verified_on.to_date}"
          - tags = @client.cas_attributes_file_tag_map[:disability_verified_on]
          -# Use same sort order as disability_verified_on (set in sync_cas_attributes_with_files)
          - file = @client.client_files.tagged_with(tags, any: true).order(updated_at: :desc).first
          - if file&.tag_list.present?
            .ml-2= "(#{file.tag_list.join(', ')})"
