- description = GrdaWarehouse::Tasks::PushClientsToCas.new.description_display_for(:disability_verified_on)

%section.o-section-card
  %h3 Disability Verification
  .c-card.c-card--block.c-card--padded.c-card--flush
    - if description.present?
      %p= description
    .d-flex.flex-wrap
      %p
        = checkmark_or_x(@client.disability_verified_on.present?)
        = GrdaWarehouse::Hud::Client.cas_columns[:disability_verified_on]
        - if @client.disability_verification_sources.exists?
          - @client.disability_verification_sources.each do |v|
            .disability_verification Disability Verified at #{v.location} on #{v.verified_at&.to_date}
        - else
          - tags = GrdaWarehouse::AvailableFileTag.tag_includes('Verification of Disability').map(&:name)
          - file = @client.client_files.tagged_with(tags, any: true).order(:created_at).last
          - if file.present?
            - if file.tag_list.present?
              = "(#{file.tag_list.join(', ')})"