- check_wrapper_class = {class: 'form-group--tight'}
= simple_form_for @client, as: :readiness, url: polymorphic_path(cas_readiness_path_generator, client_id: @client.id)  do |f|
  .row
    %section.o-section-card.col-lg-8.col-xl-6
      %h3 Characteristics
      .c-card.c-card--flush.c-card--padded.flex-wrap
        .row
          .form-group.mb-6.col-md-4
            - (GrdaWarehouse::Hud::Client.file_cas_columns & GrdaWarehouse::Config.get(:client_details).map(&:to_sym)).sort.each do |column|
              = f.input column, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[column], wrapper_html: check_wrapper_class

          .form-group.mb-6.col-md-4
            - if can_view_hiv_status?
              - if GrdaWarehouse::Config.get(:client_details).include?('hiv_positive')
                = f.input :hiv_positive, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:hiv_positive], wrapper_html: check_wrapper_class
              - if GrdaWarehouse::Config.get(:client_details).include?('hues_eligible')
                = f.input :hues_eligible, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:hues_eligible], wrapper_html: check_wrapper_class

            - if can_view_dmh_status?
              - if GrdaWarehouse::Config.get(:client_details).include?('dmh_eligible')
                = f.input :dmh_eligible, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:dmh_eligible], wrapper_html: check_wrapper_class
            = f.input :required_number_of_bedrooms, collection: (1..5), include_blank: false, as: :select_two
            = f.input :required_minimum_occupancy, collection: (1..10), include_blank: false, as: :select_two
            - if GrdaWarehouse::Config.get(:client_details).include?('cas_match_override')
              = f.input :cas_match_override, as: :date_picker, label: "Override Date Matched In CAS"
            - if GrdaWarehouse::Config.get(:client_details).include?('health_prioritized')
              - if @client.auto_health_prioritized_for_cas?
                .client__health-prioritized
                  %dl
                    %dt Prioritized because of health
                    %dd
                      .d-flex
                        .mr-2= checkmark(true)
                        Auto Prioritized
              - else
                = f.input :health_prioritized, label: 'Prioritized because of health', collection: @client.health_prioritization_options, include_blank: true, as: :boolean_button_group
          .form-group.mb-6.col-md-4
            - if GrdaWarehouse::Config.get(:client_details).include?('chronically_homeless_for_cas')
              = f.input :chronically_homeless_for_cas, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:chronically_homeless_for_cas], wrapper_html: check_wrapper_class

  .row
    .col-lg-8.col-xl-6
      = render 'consent_form', f: f, show_file_existence: true
  .row
    .col-lg-8.col-xl-6
      = render 'disability_verification', f: f

  .row
    .col-lg-8.col-xl-6
      = render 'vispdat', f: f

  .row
    .col-lg-8.col-xl-6
      = render 'assessment', f: f

  .row
    .col-lg-8.col-xl-6
      = render 'cas_tags', f: f

  .row
    .col-lg-8.col-xl-6
      = render 'veteran', f: f

  .row.mb-4
    .col-lg-8.col-xl-6
      = render 'set_asides', f: f

  .row.mb-4
    .col-lg-8.col-xl-6
      = render 'rrh', f: f

  = render 'sync_with_cas', f: f
