- check_wrapper_class = {class: 'form-group--tight'}
= simple_form_for @client, as: :readiness, url: polymorphic_path(cas_readiness_path_generator, client_id: @client.id)  do |f|
  .row
    .col-md-6.col-lg-4
      .form-group
        - [:us_citizen, :asylee, :ineligible_immigrant, :va_eligible, :lifetime_sex_offender, :meth_production_conviction, :family_member, :child_in_household, :cspech_eligible].sort.each do |column|
          = f.input column, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[column], wrapper_html: check_wrapper_class

      .form-group
        - if can_view_hiv_status?
          = f.input :hiv_positive, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:hiv_positive], wrapper_html: check_wrapper_class
          = f.input :hues_eligible, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:hues_eligible], wrapper_html: check_wrapper_class

        - if can_view_dmh_status?
          = f.input :dmh_eligible, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:dmh_eligible], wrapper_html: check_wrapper_class
        = f.input :disability_verified_on, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:disability_verified_on], input_html: {checked: @client.disability_verified_on.present?}

      = f.input :chronically_homeless_for_cas, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:chronically_homeless_for_cas], wrapper_html: check_wrapper_class

    .col-sm-8
      .row.mb-5.mt-3
        .col-md-6
          = f.label :housing_release_status, class: 'o-text--semibold'
          .release
            = @client.housing_release_status || 'Not Signed'

  .row.mb-4
    .col-lg-8.col-xl-6
      = render 'vispdat', f: f

  = render 'window/clients/required_documents'
  = render GrdaWarehouse::Config.get(:cas_available_method).to_s, f: f

  .row.mt-8
    .col-sm-6
      = f.submit value: 'Update CAS Info', class: 'btn btn-secondary'
