- if can_view_vspdat? || @client.vispdats.exists? || @client.source_hmis_forms.vispdat.exists?
  %section.o-section-card
    %header
      %h3 VI-SPDAT Related
    .c-card.c-card--flush.c-card--padded.c-card--block
      %dl.o-list--featured
        - if GrdaWarehouse::Config.get(:vispdat_prioritization_scheme) == 'veteran_status'
          .row
            .col-sm-12
              %p VI-SPDAT scores are weighted for matches in CAS.  The weighting scheme adds 100 if the client is a veteran.
            .col-sm-4
              %dt Most recent VI-SPDAT Score
              %dd= @client.most_recent_vispdat_score&.round
            .col-sm-4
              %dt Prioritized VI-SPDAT Score
              %dd= @client.calculate_vispdat_priority_score&.round
        - elsif GrdaWarehouse::Config.get(:vispdat_prioritization_scheme) == 'vets_family_youth'
          .row
            .col-sm-12
              %p VI-SPDAT scores are weighted for matches in CAS.  The weighting scheme adds 100 if the client is a veteran, 50 for a family, 25 for youth.
            .col-sm-4
              %dt Most recent VI-SPDAT Score
              %dd= @client.most_recent_vispdat_score&.round
            .col-sm-4
              %dt Prioritized VI-SPDAT Score
              %dd= @client.calculate_vispdat_priority_score&.round
        - else
          .row
            .col-sm-12
              %p VI-SPDAT scores are weighted for matches in CAS.  The weighting scheme adds 365 for any client with 1-2 years of homelessness; 730 for clients with 2-3 years of homelessness; 1095 for clients with 3 or more years of homelessness.  You can override the days used in this calculation with the box below, by default "Days reported on VI-SPDAT" is used.
            .col-sm-4
              %dt Most recent VI-SPDAT Score
              %dd= @client.most_recent_vispdat_score&.round
            .col-sm-4
              %dt Prioritized VI-SPDAT Score
              %dd= @client.calculate_vispdat_priority_score&.round
          .row
            .col-sm-4
              %dt Days homeless in past 3 years, HMIS Based
              %dd= @client.days_homeless_in_last_three_years
            .col-sm-4
              %dt Days reported on VI-SPDAT
              %dd= @client.most_recent_vispdat_length_homeless_in_days
            .col-sm-4
              = f.label :vispdat_prioritization_days_homeless do
                Days for use in VI-SPDAT Prioritization
              = f.input :vispdat_prioritization_days_homeless, label: false, input_html: {value: f.object.vispdat_prioritization_days_homeless || @client.days_homeless_in_last_three_years}
- if RailsDrivers.loaded.include?(:eccovia_data)
  - eccovia_assessment = @client.source_eccovia_assessments&.max_by(&:assessed_at)
  - if eccovia_assessment.present?
    %section.o-section-card
      %header
        %h3 VI-SPDAT
      .c-card.c-card--flush.c-card--padded.c-card--block
        %dl.o-list--featured
          %dt Most recent VI-SPDAT Score
          %dd= eccovia_assessment.score
