- title = "CAS Readiness Form"
- content_for :title, title
= render 'clients/aliases'
= render 'clients/tab_navigation', current: edit_client_cas_readiness_path(@client)

%section.o-tabs__content
  %header
    %h1= content_for :title
    = render 'clients/breadcrumbs'

    %p
      The following information is used exclusively for matching clients to vacancies in CAS.  It is not used for federal reporting.
  - if GrdaWarehouse::Config.get(:cas_calculator) == 'GrdaWarehouse::CasProjectClientCalculator::Boston'
    = render 'boston'
  - elsif GrdaWarehouse::Config.get(:cas_calculator) == 'GrdaWarehouse::CasProjectClientCalculator::TcHat'
    = render 'tc_hat'
  - else
    = render GrdaWarehouse::Config.get(:cas_flag_method).to_s
