- title = "CAS Readiness Form for #{@client.full_name}"
- content_for :title, title
= render 'clients/tab_navigation', current: edit_client_cas_readiness_path(@client)
%h1= content_for :title
= render 'clients/breadcrumbs'
  
%p
  The following information is used exclusively for matching clients to vacancies in CAS.  It is not used for federal reporting.
= simple_form_for @client, as: :readiness, url: polymorphic_path(cas_readiness_path_generator, client_id: @client.id)  do |f|
  .row
    .col-sm-6
      - [:us_citizen, :asylee, :ineligible_immigrant, :va_eligible, :ha_eligible, :lifetime_sex_offender, :meth_production_conviction, :family_member, :child_in_household].each do |column|
        = f.input column, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[column]
    .col-sm-6
      = f.input :disability_verified_on, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:disability_verified_on], input_html: {checked: @client.disability_verified_on.present?}
      = f.input :housing_release_status, collection: GrdaWarehouse::Hud::Client.housing_release_options, include_blank: 'Not Signed'
      - if can_view_hiv_status?
        = f.input :hues_eligible, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:hues_eligible]
        = f.input :hiv_positive, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:hiv_positive]
      - if can_view_dmh_status?
        = f.input :dmh_eligible, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:dmh_eligible]
      = f.input :chronically_homeless_for_cas, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:chronically_homeless_for_cas]
      
  = render 'window/clients/required_documents'
  = f.input :sync_with_cas, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:sync_with_cas], hint: 'Checking "Available for matching in CAS" will push this client to CAS and make them available for matching'
  = f.submit value: 'Update CAS Info', class: 'btn btn-secondary'