= render 'chart_targets'
= render 'client_completeness'
= render 'enrollment_completeness'
= render 'timeliness'
= render 'time_in_enrollment'
- if @pdf
  %div.content_is_loading
  = content_for :page_js do
    :javascript
      $(function() {
        $('.content_is_loading').attr('class', 'content_has_loaded')
      });