

.ppj_test
  - @per_page_js.each do |js_file|
    .temp
      = "#{AssetHelper.wicked_pdf_javascript_src_tag(js_file)}"
%br
.display_error 
  Error Content Here
= content_for :page_js do
  :javascript
    $('.display_error').html('Is this JS Working?');
    window.onerror = function(e){
      $('.display_error').html(e.toString());
    }
= render 'chart_targets'
= render 'client_completeness'
= render 'enrollment_completeness'
= render 'timeliness'
= render 'time_in_enrollment'
