.mt-4
  = render 'common/pagination_top', item_name: 'client'

.card.mb-6
  %table.table.table-sm.table-bordered.table-fixed.table-striped
    %thead.table-dark
      %tr
        %th{colspan: 4}
        - @pivot_details.groups.each_with_index do |(title, group), index|
          - bg = index % 2 == 0 ? 'bg-light text-dark' : nil
          %th.text-center{colspan: group.size, class: bg}= title
      %tr
        %th
        %th Personal ID
        %th Last Name
        %th First Name
        - @pivot_details.groups.values.map(&:keys).flatten.each do |key|
          %th= @pivot_details.lookup[key]
    %tbody
      - client_ids_per_project = @report.enrollments.pluck(:project_id, :destination_client_id).group_by(&:shift)
      - current_user.policy_context.preload_project_dependencies(client_ids_per_project.keys)
      - @clients.each do |client|
        - project_id = client_ids_per_project.find { |k, v| v.flatten.include?(client.destination_client_id) }&.first
        - pii_policy = current_user.reporting_policy_for_project(project_id: project_id)
        %tr
          - if @pivot_details.clients_with_flags.include?([client.personal_id, client.data_source_id])
            %td.text-warning.icon-warning
          -else
            %td
          %td
            = link_to_if @report.can_see_client_details?(current_user), appropriate_client_path(client.destination_client_id) do
              = client.personal_id
            - ds = client.client&.data_source
            - if ds&.hmis_link_available?
              = hmis_external_link(client.client, user: current_user, wrapper_class: 'mb-2 text-teeny')
          %td= GrdaWarehouse::PiiProvider.viewable_name(client.last_name, policy: pii_policy)
          %td= GrdaWarehouse::PiiProvider.viewable_name(client.first_name, policy: pii_policy)
          - @pivot_details.groups.values.map(&:keys).flatten.each do |key|
            - marked = @pivot_details.flags[@pivot_details.lookup[key]].include?([client.personal_id, client.data_source_id])
            - if marked
              %td
                = checkmark_or_x(false)
            -else
              %td
