= render 'chart_targets'
= render 'client_completeness'
= render 'enrollment_completeness'
- if @report.show_entry_timeliness? || @report.show_exit_timeliness?
  = render 'timeliness'
= render 'time_in_enrollment'
