- goal_config = @report.goal_config
%h2 Informational
- if goal_config.expose_ch_calculations
  .card.mb-6
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Description
          %th Value
      %tbody
        %tr
          %th Most-Recent Enrollment Chronic at Entry
          %td Count of clients for whom their most recent enrollment was chronic at entry.
          %td= link_to number_with_delimiter(@report.items_for(:client_ch_most_recent).select(:client_id).distinct.count), items_hmis_data_quality_tool_warehouse_reports_report_path(@report, key: :client_ch_most_recent)
        %tr
          %th Any Enrollment Chronic at Entry
          %td Count of clients who had at least one enrollment during the reporting period that was chronic at entry.
          %td= link_to number_with_delimiter(@report.items_for(:client_ch_any).select(:client_id).distinct.count), items_hmis_data_quality_tool_warehouse_reports_report_path(@report, key: :client_ch_any)
        %tr
          %th Total Enrollments Chronic at Entry
          %td Count of enrollments in the universe that were chronic at entry.
          %td= link_to number_with_delimiter(@report.items_for(:enrollment_any_ch).select(:enrollment_id).distinct.count), items_hmis_data_quality_tool_warehouse_reports_report_path(@report, key: :enrollment_any_ch)
        %tr
          %th Average Time Homeless Before Entry
          %td Average number of days between approximate start of episode (3.917.3) and entry date for clients who have an approximate start.
          %td= link_to number_with_delimiter(@report.average_days_before_entry), items_hmis_data_quality_tool_warehouse_reports_report_path(@report, key: :average_days_before_entry)
        %tr
          %th Percent of Exits to Temporary Destinations
          %td The percentage of everyone with an exit date that was to a temporary destination.
          %td= link_to "#{number_with_delimiter(@report.destination_percent('destination_temporary'))}%", items_hmis_data_quality_tool_warehouse_reports_report_path(@report, key: :destination_temporary)
        %tr
          %th Percent of Exits to Other Destinations
          %td The percentage of everyone with an exit date that was to a destination in the category other.
          %td= link_to "#{number_with_delimiter(@report.destination_percent('destination_other'))}%", items_hmis_data_quality_tool_warehouse_reports_report_path(@report, key: :destination_other)
.card.mb-6
  %table.table.table-striped
    %thead
      %tr
        %th Projects
        - @report.categories.each do |cat|
          %th= cat
    %tbody
      - @report.per_project_results.each do |project_id, data|
        - project = @report.filter.effective_projects.detect { |p| p.id.to_s == project_id.to_s }
        - next unless project.present?
        %tr
          %td= link_to_if can_view_projects?, project.name(current_user), project_path(project)
          - @report.categories.each do |cat|
            - valid_count = data[cat][:total] - data[cat][:invalid_count]
            - valid_percent =  @report.percent(data[cat][:total], valid_count).round(1)
            - if goal_config.present? && goal_config.active?
              - name = goal_config.name_for(valid_percent.to_i)
              - if name.present?
                - background_color = "background-color: #{goal_config.color_for(valid_percent.to_i)};"
                %td{ style: background_color, data: { toggle: :tooltip, title: "#{valid_count} of #{data[cat][:total]}" }} #{valid_percent}%
            - else
              %td #{valid_percent}%

.card.mb-6
  %table.table.table-striped
    %thead
      %tr
        %th Project Types
        - @report.categories.each do |cat|
          %th= cat
    %tbody
      - @report.per_project_type.each do |project_type_id, data|
        - project_type = HudUtility.project_type(project_type_id.to_s.to_i)
        %tr
          %td= project_type
          - @report.categories.each do |cat|
            - valid_count = data[cat][:total] - data[cat][:invalid_count]
            - valid_percent =  @report.percent(data[cat][:total], valid_count).round(1)
            - if goal_config.present? && goal_config.active?
              - name = goal_config.name_for(valid_percent.to_i)
              - if name.present?
                - background_color = "background-color: #{goal_config.color_for(valid_percent.to_i)};"
                %td{ style: background_color, data: { toggle: :tooltip, title: "#{valid_count} of #{data[cat][:total]}" }} #{valid_percent}%
            - else
              %td #{valid_percent}%
