.page-break-avoid
  %h2.mt-2 Timeliness
  .well.overflow-scroll
    .row
      .col-sm-6
        %h3.text-center Time to Enter
        %h4.text-center Goal: #{pluralize(@report.timeliness_entry_goal, 'day')} or less
        .time-to-enter-chart.jChart
          %p.jLoading Loading
      .col-sm-6
        %h3.text-center Time to Exit
        %h4.text-center Goal: #{pluralize(@report.timeliness_exit_goal, 'day')} or less
        .time-to-exit-chart.jChart
          %p.jLoading Loading

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      'use strict';
      var time_to_enter = new globalThis.HmisDqToolTimeToEnter(
        #{@report.average_time_to_enter_date(:entry).to_json.html_safe},
        '.time-to-enter-chart',
        );
      time_to_enter.build_chart();

      var time_to_exit = new globalThis.HmisDqToolTimeToEnter(
        #{@report.average_time_to_enter_date(:exit).to_json.html_safe},
        '.time-to-exit-chart',
        );
      time_to_exit.build_chart();
    });
