%h3= _('Coordinated Entry System Particpation 20%')
%p= simple_format(_('24 CFR 578.(a)(8) states that CoCs must establish and operate a Coordinated Entry System to allocate assistance as effectivley as possible, prioritizing services to those that need it the most.'))
%table.table.table-bordered
  %thead
    %tr
      %th Performance Criteria
      %th Purpose & Source of Measurement
      %th Formula Information
      %th Performance Calculation
      %th Points: 10
      %th Points: 5
      %th Points: 0
      %th Total
  %tbody
    %tr
      %th
        Time to Lease Up
      %th
        = simple_format(_('TX-601 established Community-wide performance expectations in 2016 and identified that well-functioning Housing Crisis Response System moves households from homelessness to permanent housing in less than 30 days.'))
        %br
        APR Q22c
      %th
        Average Time to Lease Up
      %td
        = f.input :days_to_lease_up, label: false, as: :read_only
      %th
        <=30 days
      %th
        31 - 45 Days
      %th
        >=46 Days
      %td
        = @report.lease_up_score
    %tr
      %th
        Accepted Referrals
      %th
        = simple_format(_('TX-601 established Community-wide performance expectations in 2016 to allocate assistance as effectively as possible, prioritizing services to those that need it the most.'))
      %td.p-0
        %table.table-table-sm
          %tbody
            %tr
              %th
                Number of CES Referrals
              %td
                = f.input :number_referrals, label: false, **@report.form_input_as(:number_referrals, current_user)
            %tr
              %th
                Number of Accepted Referrals
              %td
                = f.input :accepted_referrals, label: false, **@report.form_input_as(:accepted_referrals, current_user)
      %td
        = @report.accepted_referrals_percentage
      %th
        >=90%
      %th

      %th
        <=89%
      %td
        = @report.accepted_referrals_score
