%h3= _('HMIS Data Quality 20%')
%p= simple_format(_('HMIS participation and data quality are priorities for TX-601 & HUD. Accurate, complete & timely data is crucial to determine how projects are contributing to ending homelessness.  High quality data is key to understanding what projects are doing and how the CoC & HUD can make informed decisions about the project.'))
%table.table.table-bordered
  %thead
    %tr
      %th.text-nowrap Performance Criteria
      %th.text-nowrap Purpose & Source of Measurement
      %th.text-nowrap Formula Information
      %th.text-nowrap Performance Calculation
      %th.text-nowrap Points: 10
      %th.text-nowrap Points: 5
      %th.text-nowrap Points: 0
      %th.text-nowrap Total
  %tbody
    %tr
      %th
        Personal Identifying Information Error Rate
      %th{rowspan: 3}
        To achieve accurate data collection and to satisfy HUD HMIS data requirements, projects must ensure that data entered into the local HMIS system is complete.
        %br
          HUD Data Quality Report; APR Q6a, Q6b, Q6c
      %th

      %td
        = f.input :percent_pii_errors, label: false, as: :read_only
      %th
        0% - 1%
      %th
        2% - 5%
      %th
        >= 6%
      %td
        = @report.pii_errors_score
    %tr
      %th
        Universal Data Elements Error Rate
      -# %th
      %th

      %td
        = f.input :percent_ude_errors, label: false, as: :read_only
      %th
        0% - 1%
      %th
        2% - 5%
      %th
        >= 6%
      %td
        = @report.ude_errors_score
    %tr
      %th
        Income and Housing Data Quality
      -# %th
      %th

      %td
        = f.input :percent_income_and_housing_errors, label: false, as: :read_only
      %th
        0% - 1%
      %th
        2% - 5%
      %th
        >= 6%
      %td
        = @report.income_and_housing_errors_score
