.row
  .col-12
    HMIS Data Quality 20%
    %br
      HMIS participation and data quality are priorities for TX601 & HUD. Accurate, complete & timely data is crucial
      to determine how projects are contributing to ending homelessness.  High quality data is key to understanding what
      projects are doing and how the CoC & HUD can make informed decisions about the project.
.row
  .col-2
    Personal Identifying Information Error Rate
  .col-2
    To achieve accurate data collection and to satisfy HUD HMIS data requirements, projects must ensure that data
    entered into the local HMIS system is complete.
    %br HUD Data Quality Report; Sage APR Q6a, Q6b, Q6c
  .col-3

  .col-1
    = 0
  .col-1
    0% - 1%
  .col-1
    2% - 5%
  .col-1
    >= 6%
  .col-1
    = 0
.row
  .col-2
    Universal Data Elements Error Rate
  .col-2

  .col-3

  .col-1
    = 0
  .col-1
    0% - 1%
  .col-1
    2% - 5%
  .col-1
    >= 6%
  .col-1
    = 0
.row
  .col-2
    Income and Housing Data Quality
  .col-2

  .col-3

  .col-1
    = 0
  .col-1
    0% - 1%
  .col-1
    2% - 5%
  .col-1
    >= 6%
  .col-1
    = 0
