.container.text-center
  = render 'project_scorecard/warehouse_reports/scorecards/header', f: f
  %p
  = render 'project_scorecard/warehouse_reports/scorecards/total_score', f: f
  %p
  .row
    .col-2
      Performance Criteria
    .col-2
      Purpose & Source of Measurement
    .col-3
      Formula Information
    .col-1
      Performance Calculation
    .col-1
      Points: 10
    .col-1
      Points: 5
    .col-1
      Points: 0
    .col-1
      Total
  = render 'project_scorecard/warehouse_reports/scorecards/project_performance', f: f
  = render 'project_scorecard/warehouse_reports/scorecards/data_quality', f: f
  = render 'project_scorecard/warehouse_reports/scorecards/ce_participation', f: f
  = render 'project_scorecard/warehouse_reports/scorecards/grant_management_and_financials', f: f
  %p
  = render 'project_scorecard/warehouse_reports/scorecards/review_only', f: f
%p
= render 'project_scorecard/warehouse_reports/scorecards/agency_response', f: f
