.row
  .col-12
    Grant Management & Financials 10%
    %br Projects must demonstrate understanding of compliance with federal & local regulations of project operations.
.row
  .col-2
    Projected Project Spend Down
  .col-2
    Ensure the program is on track to spend down all project funds by the end of its current grant term
    %br Agency Self-Report and eLOCCS data
  .col-3
    .row
      .col-8
        Funds expended to date, as reflected in eLOCCS
      .col-4
        = 0
    .row
      .col-8
        Total Grant Amount Awarded
      .col-4
        = 0
    .row
      .col-8
        Number of months since start of grant term to present
      .col-4
        = 0
  .col-1
    = 0
  .col-1
    (+/-) 0 - 10%
  .col-1
    (+/-) 11 - 15%
  .col-1
    (+/-) 16% +
  .col-1
    = 0
.row
  .col-2
    Cost Efficiency
  .col-2
    It is important to HUD that programs demonstrate cost efficiency - the annual cost to retain or move someone
    into permanent housing. Project Application & Sage APR Data
  .col-3
    .row
      .col-8
        FY17 Total CoC Budget Plus 25% Required Match
      .col-4
        = 0
    .row
      .col-8
        Number of participants who exited to or remained in permanent supportive housing during the reporting period
      .col-4
        = 0
  .col-1
    = 0
  .col-1
    PSH <=$8,999
    %br RRH <=$2,499
  .col-1
    PSH $9,000 - 11,000
    %br RRH $2,500 - 4,500
  .col-1
    PSH >=$11,001
    %br RRH >=$4,501
  .col-1
    = 0
  .row
  .col-2
    Percentage of total grant funds that were recaptured in the most recent grant closeout
  .col-2
    It is important to HUD that programs show agency capacity to spend funds allocated in a timely manner and in full
    and allows for potential fund reallocation of unspent funds during the HUD CoC Competition.
    %br Sage APR Data
  .col-3
    .row
      .col-8
        Total Grant Award
      .col-4
        = 0
    .row
      .col-8
        Total Spent
      .col-4
        = 0
    .row
      .col-8
        Unspent Amount
      .col-4
        = 0
  .col-1
    = 0
  .col-1
    0-2%
  .col-1
    3-5%
  .col-1
    >=6%
  .col-1
    = 0
.row
  .col-2
    2019 PIT Count Participation
  .col-2
    The measure indicates if agency is participating in CoC-related activities
    %br PIT Registration or PIT Data
  .col-3
    N/A
  .col-1
    = 0
  .col-1
    Yes
  .col-1

  .col-1
    No
  .col-1
    = 0
.row
  .col-2
    CoC General Meeting Attendance
  .col-2
    To support collaboration between agencies and knowledge of local resources at the CoC will provides CoC wide
    meetings with varying topics related to homelessness and housing services. The measure indicates agency participation.
    %br TCHC Sign-In Sheets
  .col-3
    .row
      .col-8
        Number of Meetings
      .col-4
        = 0
    .row
      .col-8
        Number Attended
      .col-4
        = 0
  .col-1
    = 0
  .col-1
    >= 75%
  .col-1
    50 - 74%
  .col-1
    <= 49%
  .col-1
    = 0