%h3 Report Summary
%table.table.table-bordered
  %tbody
    %tr
      %th Recipient
      %td= f.input :recipient, label: false, **@report.form_input_as(:recipient, current_user)
      %th Project Component Type
      %td= @report.project_types
    %tr
      %th Subrecipient
      %td= f.input :subrecipient, label: false, **@report.form_input_as(:subrecipient, current_user)
      %th Reporting Period
      %td #{@report.start_date} - #{@report.end_date}
    %tr
      %th Project Name
      %td= @report.project_names
      %th Scorecard Status
      %td= @report.status.humanize
    %tr
      %th CoC Funding Year
      %td= f.input :funding_year, label: false, **@report.form_input_as(:funding_year, current_user)
      %th Full Grant Term
      %td= f.input :grant_term, label: false, **@report.form_input_as(:grant_term, current_user)
