%%tr
  %th{colspan: 12}
    Project Performance 50%
    %br
    Achieving project outcomes provides a benchmark for how well projects help to end homelessness.
    Assessing & monitoring project outcomes is necessary to understand a project's rate of success and
    contribution to CoC-wide performance goals.
%tr
  %th{colspan: 2} Quarterly Occupancy Utilization Rate
  %th{colspan: 2}
    Household utilization rates demonstrate that the CoC is fully utilizing its inventory.
    %br
    Sage APR Q08b & Application
  %td{colspan: 3}
    %table.table.table-sm
      %tbody
        %tr
          %th{colspan: 8} January Total (Q08b, Row 1, Column 1)
          %td{colspan: 4}= f.input :utilization_jan, label: false, disabled: @report.locked?(:utilization_jan, current_user)
        %tr
          %th{colspan: 8} April Total (Q08b, Row 2, Column 1)
          %td{colspan: 4}= f.input :utilization_apr, label: false, disabled: @report.locked?(:utilization_apr, current_user)
        %tr
          %th{colspan: 8} July Total (Q08b, Row 3, Column 1)
          %td{colspan: 4}= f.input :utilization_jul, label: false, disabled: @report.locked?(:utilization_jul, current_user)
        %tr
          %th{colspan: 8} October Total (Q08b, Row 4, Column 1)
          %td{colspan: 4}= f.input :utilization_oct, label: false, disabled: @report.locked?(:utilization_oct, current_user)
        %tr
          %th{colspan: 8} Adjusted Total from 2017 Project Application (Auto Calculates)
          %td{colspan: 4}= @report.adjusted_utilization
        %tr
          %th{colspan: 8} Proposed number of households served
          %td{colspan: 4}= f.input :utilization_proposed, label: false, disabled: @report.locked?(:utilization_proposed, current_user)
  %td= @report.utilization_percentage
  %th 90% - 150%
  %th 80% - 89%
  %th
    >= 151% or <= 79%
  %td= @report.utilization_score
%tr
  %th{colspan: 2} Percentage of chronically homeless households served
  %th{colspan: 2}
    Indicates community success in ending chronic homelessness by measuring the number of chronically homeless participants
    served in the project during the measured year.
    %br
    Sage APR Q26a
  %th{colspan: 3}
    %table.table.table-sm
      %body
        %tr
          %th{colspan: 8} Total Chronically Homeless Households served
          %td{colspan: 4}= f.input :chronic_households_served, label: false, disabled: @report.locked?(:chronic_households_served, current_user)
        %tr
          %th{colspan: 8} Total Households served
          %td{colspan: 4}= f.input :total_households_served, label: false, disabled: @report.locked?(:total_households_served, current_user)
  %td= @report.chronic_service_percentage
  %th
    PSH: >=75%
  %th
    PSH: 65% - 74%
  %th
    PSH: <= 64%
  %td= @report.chronic_service_score
%tr
  %th{colspan: 2}
    Percentage of participants who remained in PSH or exited to permanent housing
  %th{colspan: 2}
    Successful housing outcomes are one of the most important measures of project success.
    %br
      Sage APR Q23c
  %th{colspan: 3}
    %table.table.table-sm
      %tbody
        %tr
          %th{colspan: 8} Total Number of Persons Served (Q05a, Row 1)
          %td{colspan: 4}= f.input :total_persons_served, label: false, disabled: @report.locked?(:total_persons_served, current_user)
        %tr
          %th{colspan: 8} Total Persons exiting to positive destinations (Q23c, 3rd row from bottom)
          %td{colspan: 4}= f.input :total_persons_with_positive_exit, label: false, disabled: @report.locked?(:total_persons_with_positive_exit, current_user)
        %tr
          %th{colspan: 8} Total Exits (Q23c, 4th row from bottom)
          %td{colspan: 4}= f.input :total_persons_exited, label: false, disabled: @report.locked?(:total_persons_exited, current_user)
        %tr
          %th{colspan: 8} Total persons whose destinations excluded them from the calculation (Q23c, 2nd row from bottom)
          %td{colspan: 4}= f.input :excluded_exits, label: false, disabled: @report.locked?(:excluded_exits, current_user)
        %tr
          %th{colspan: 8} Unsuccessful exits (Auto Calculated)
          %td{colspan: 4}= @report.unsuccessful_exits
  %td= @report.exit_to_ph_percentage
  %th
    PSH: >= 98%
    %br
    RRH: >= 95%
  %th
    PSH: 90-97%
    %br
    RRH: 90% - 94%
  %th
    PSH: <= 89%
    %br
    RRH: <= 89%
  %td= @report.exit_to_ph_score
%tr
  %th{colspan: 2}
    Average length of stay of program leavers
  %th{colspan: 2}
    Length of Stay is measured to determine if clients are moving through the programs in an appropriate length
    of time and are efficiently moving towards a permanent and stable home. It also assists community system modeling efforts.
    %br
    Sage APR Q22b
  %th{colspan: 3}
    N/A
  %td= f.input :average_los_leavers, label: false, disabled: @report.locked?(:average_los_leavers, current_user)
  %th
    RRH: >=3-18 months
  %th
    RRH: 19-24 months
  %th
    RRH: >=25 / <=2 months
  %td= @report.leavers_los_score
%tr
  %th{colspan: 2}
    Percentage of adults at exit or annual assessment who gained or increased employment income
  %th{colspan: 2}
    Improving household access to financial resources is crucial to reducing vulnerability to homelessness.
    Increase in income is measured in the NOFA & System Performance Measures
    %br Sage APR Q19a1, Q19a2
  %th{colspan: 3}

  %td= f.input :percent_increased_employment_income_at_exit, label: false, disabled: @report.locked?(:percent_increased_employment_income_at_exit, current_user)
  %th
    PSH: >= 15%
    %br
    RRH: >= 56%
  %th
    PSH: 9% - 14%
    %br
    RRH: 50% - 55%
  %th
    PSH: <= 8%
    %br
    RRH: <= 49%
  %td= @report.increased_employment_income_score
%tr
  %th{colspan: 2}
    Percentage of adults at exit or annual assessment who gained or increased non-employment cash income
  %th{colspan: 2}
    Improving a household's access to financial resources is crucial to reducing vulnerability to homelessness.
    Increase in income is measured through the NOFA & System Performance Measures.
    %br Sage APR Q19a1, Q19a2
  %th{colspan: 3}

  %td= f.input :percent_increased_other_cash_income_at_exit, label: false, disabled: @report.locked?(:percent_increased_other_cash_income_at_exit, current_user)
  %th
    PSH: >= 61%
    %br
    RRH: >= 21%
  %th
    PSH: 55 - 60%
    %br
    RRH: 15% - 20%
  %th
    PSH: <= 54%
    %br
    RRH: <= 14%
  %td= @report.increased_other_cash_income_score
%tr
  %th{colspan: 2}
    Returns to Homelessness
  %th{colspan: 2}
    Reducing returns to homelessness is one of the most important measures of program success and is
    HUD System Performance Measure 2a.
    %br Greenriver Report
  %th{colspan: 3}

  %td= f.input :percent_returns_to_homelessness, label: false, disabled: @report.locked?(:percent_returns_to_homelessness, current_user)
  %th
    <= 5%
  %th
    6% - 15%
  %th
    >= 16%
  %td= @report.returns_to_homelessness_score
