%h2= _('Project Performance 50%')
%p= simple_format(_('Achieving project outcomes provides a benchmark for how well projects help to end homelessness. Assessing & monitoring project outcomes is necessary to understand a project\'s rate of success and contribution to CoC-wide performance goals.'))
%table.table.table-bordered
  %thead
    %tr
      %th Performance Criteria
      %th Purpose & Source of Measurement
      %th Formula Information
      %th Performance Calculation
      %th Points: 10
      %th Points: 5
      %th Points: 0
      %th Total
  %tbody
    %tr
      %th Quarterly Occupancy Utilization Rate
      %th
        = simple_format(_('Household utilization rates demonstrate that the CoC is fully utilizing its inventory.'))
        %br
        APR Q8b & Application
      %td.p-0
        %table.table.table-sm
          %tbody
            %tr
              %th January Total (Q8b, Row 1, Column 1)
              %td= f.input :utilization_jan, label: false, as: :read_only
            %tr
              %th April Total (Q8b, Row 2, Column 1)
              %td= f.input :utilization_apr, label: false, as: :read_only
            %tr
              %th July Total (Q8b, Row 3, Column 1)
              %td= f.input :utilization_jul, label: false, as: :read_only
            %tr
              %th October Total (Q8b, Row 4, Column 1)
              %td= f.input :utilization_oct, label: false, as: :read_only
            %tr
              %th Adjusted Total from 2017 Project Application (Auto Calculates)
              %td= @report.adjusted_utilization
            %tr
              %th Proposed number of households served
              %td= f.input :utilization_proposed, label: false, **@report.form_input_as(:utilization_proposed, current_user)
      %td= @report.utilization_percentage
      %th 90% - 150%
      %th 80% - 89%
      %th
        >= 151% or <= 79%
      %td= @report.utilization_score
    %tr
      %th Percentage of chronically homeless households served
      %th
        = simple_format(_('Indicates community success in ending chronic homelessness by measuring the number of chronically homeless participants served in the project during the measured year.'))
        %br
        APR Q26a
      %td.p-0
        %table.table.table-sm
          %tbody
            %tr
              %th Total Chronically Homeless Households served
              %td= f.input :chronic_households_served, label: false, as: :read_only
            %tr
              %th Total Households served
              %td= f.input :total_households_served, label: false, as: :read_only
      %td= @report.chronic_service_percentage
      %th
        PSH: >=75%
      %th
        PSH: 65% - 74%
      %th
        PSH: <= 64%
      %td= @report.chronic_service_score
    %tr
      %th
        Percentage of participants who remained in PSH or exited to permanent housing
      %th
        Successful housing outcomes are one of the most important measures of project success.
        %br
        APR Q23c
      %td.p-0
        %table.table.table-sm
          %tbody
            %tr
              %th Total Number of Persons Served (Q05a, Row 1)
              %td= f.input :total_persons_served, label: false, as: :read_only
            %tr
              %th Total Persons exiting to positive destinations (Q23c, 3rd row from bottom)
              %td= f.input :total_persons_with_positive_exit, label: false, as: :read_only
            %tr
              %th Total Exits (Q23c, 4th row from bottom)
              %td= f.input :total_persons_exited, label: false, as: :read_only
            %tr
              %th Total persons whose destinations excluded them from the calculation (Q23c, 2nd row from bottom)
              %td= f.input :excluded_exits, label: false, as: :read_only
            %tr
              %th Unsuccessful exits (Auto Calculated)
              %td= @report.unsuccessful_exits
      %td= @report.exit_to_ph_percentage
      %th
        PSH: >= 98%
        %br
        RRH: >= 95%
      %th
        PSH: 90-97%
        %br
        RRH: 90% - 94%
      %th
        PSH: <= 89%
        %br
        RRH: <= 89%
      %td= @report.exit_to_ph_score
    %tr
      %th
        Average length of stay of program leavers
      %th
        = simple_format(_('Length of Stay is measured to determine if clients are moving through the programs in an appropriate length of time and are efficiently moving towards a permanent and stable home. It also assists community system modeling efforts.'))
        %br
        APR Q22b
      %th
        N/A
      %td= f.input :average_los_leavers, label: false, as: :read_only
      %th
        RRH: >=3-18 months
      %th
        RRH: 19-24 months
      %th
        RRH: >=25 / <=2 months
      %td= @report.leavers_los_score
    %tr
      %th
        Percentage of adults at exit or annual assessment who gained or increased employment income
      %th
        = simple_format(_('Improving household access to financial resources is crucial to reducing vulnerability to homelessness. Increase in income is measured in the NOFA & System Performance Measures'))
        %br
        APR Q19a1, Q19a2
      %th

      %td= f.input :percent_increased_employment_income_at_exit, label: false, as: :read_only
      %th
        PSH: >= 15%
        %br
        RRH: >= 56%
      %th
        PSH: 9% - 14%
        %br
        RRH: 50% - 55%
      %th
        PSH: <= 8%
        %br
        RRH: <= 49%
      %td= @report.increased_employment_income_score
    %tr
      %th
        Percentage of adults at exit or annual assessment who gained or increased non-employment cash income
      %th
        = simple_format(_('Improving a household\'s access to financial resources is crucial to reducing vulnerability to homelessness. Increase in income is measured through the NOFA & System Performance Measures.'))
        %br
        APR Q19a1, Q19a2
      %th

      %td= f.input :percent_increased_other_cash_income_at_exit, label: false, as: :read_only
      %th
        PSH: >= 61%
        %br
        RRH: >= 21%
      %th
        PSH: 55 - 60%
        %br
        RRH: 15% - 20%
      %th
        PSH: <= 54%
        %br
        RRH: <= 14%
      %td= @report.increased_other_cash_income_score
    %tr
      %th
        Returns to Homelessness
      %th
        = simple_format(_('Reducing returns to homelessness is one of the most important measures of program success and is HUD System Performance Measure 2a.'))
      %th

      %td= f.input :percent_returns_to_homelessness, label: false, as: :read_only
      %th
        <= 5%
      %th
        6% - 15%
      %th
        >= 16%
      %td= @report.returns_to_homelessness_score
