.row
  .col-12
    Review Only:
    %br Unscored measures that provide insight into community performance.  May be scored in future competitions.
.row
  .col-2
    Site Monitoring
  .col-2
    HUD requires that projects meet threshold requirements throughout the life cycle of the project.
    %br TCHC Monitoring Reports
  .col-3
    N/A
  .col-1
    = 0
  .col-1
    No Findings
  .col-1
    Findings but Resolved
  .col-1
    Findings with No Resolution
  .col-1
    = 0
.row
  .col-2
    CES Rejected Referrals
  .col-2
    TX-601 established Community-wide performance expectations in 2016 to allocate assistance as effectively as possible,
    prioritizing services to those that need it the most. Projects are allowed to reject up to 10% of  CES referrals for
    reasons stated in the CES Operation Manual.
    %br GreenRiver Report
  .col-3
    .row
      .col-8
        Number of CES Referrals
      .col-4
        = 0
    .row
      .col-8
        Number of Accepted Referrals
      .col-4
        = 0
  .col-1
    = 0
  .col-1
    <=10%
  .col-1

  .col-1
    <=11%
  .col-1
    = 0
.row
  .col-2
    PSH Move On
  .col-2
    Ensure that PSH projects are assisting clients to independent living and effectively utilizing project beds.
    %br Self Sufficency Matrix and HMIS Custom Report
  .col-3
    TBD
  .col-1
    = 0
  .col-1

  .col-1

  .col-1

  .col-1
    = 0