%h2 Review Only:
%p= simple_format(_('Unscored measures that provide insight into community performance.  May be scored in future competitions.'))
%table.table.table-bordered
  %thead
    %tr
      %th Performance Criteria
      %th Purpose & Source of Measurement
      %th Formula Information
      %th Performance Calculation
      %th Points: 10
      %th Points: 5
      %th Points: 0
      %th Total
  %tbody
    %tr
      %th
        Site Monitoring
      %th
        = simple_format(_('HUD requires that projects meet threshold requirements throughout the life cycle of the project.'))
        %br
        TCHC Monitoring Reports
      %th
        N/A
      %td
        = f.input :site_monitoring, collection: @report.site_monitoring_options, as: :select_two, label: false, **@report.form_input_as(:site_monitoring, current_user)
      %th
        No Findings
      %th
        Findings but Resolved
      %th
        Findings with No Resolution
      %td
        = # TODO
    %tr
      %th
        CES Rejected Referrals
      %th
        = simple_format(_('TX-601 established Community-wide performance expectations in 2016 to allocate assistance as effectively as possible, prioritizing services to those that need it the most. Projects are allowed to reject up to 10% of  CES referrals for reasons stated in the CES Operation Manual.'))
      %td.p-0
        %table.table.table-sm
          %tbody
            %tr
              %th
                Number of CES Referrals
              %td
                = f.input :total_ces_referrals, label: false, **@report.form_input_as(:total_ces_referrals, current_user)
            %tr
              %th
                Number of Accepted Referrals
              %td
                = f.input :accepted_ces_referrals, label: false, **@report.form_input_as(:accepted_ces_referrals, current_user)
      %td
        = @report.ces_rejected_referral_percentage
      %th
        <=10%
      %th

      %th
        <=11%
      %td
        = # TODO
    %tr
      %th
        VI-SPDAT
      %th

      %td.p-0
        %table.table-table-sm
          %tbody
            %tr
              %th
                Number of clients enrolled
              %td
                = @report.total_persons_served
            %tr
              %th
                Number of clients with VI-SPDATs
              %td
                = f.input :clients_with_vispdats, label: false, as: :read_only
            %tr
              %th
                Average VI-SPDAT score
              %td
                = f.input :average_vispdat_score, label: false, as: :read_only
      %td
        = # TODO
      %th

      %th

      %th

      %td
        = # TODO
