%h3 Total Project Score
%table.table.table-bordered
  %tbody
    %tr
      %th{colspan: 6}
        Total Project Score =
        .ml-2
          Project Performance Percentage Achieved
        .ml-2
          + HMIS Data Quality Percentage Achieved
        .ml-2
          + Coordinated Entry Participation Percentage Achieved
        .ml-2
          + Grant Management & Financials Percentage Achieved
      %td.p-0{colspan: 6}
        %table.table.table-sm
          %tbody
            %tr
              %th{colspan: 4}
                Scoring Category
              %th{colspan: 2}
                Total Points Achieved
              %th{colspan: 2}
                Total Points Available
              %th{colspan: 2}
                Category Weight
              %th{colspan: 2}
                Percentage Achieved
            %tr
              %th{colspan: 4}
                Project Performance
              %td{colspan: 2}
                = @report.project_performance_score
              %th{colspan: 2}
                60
              %th{colspan: 2}
                50%
              %td{colspan: 2}
                #{@report.project_performance_percentage}%
            %tr
              %th{colspan: 4}
                HMIS Data Quality
              %td{colspan: 2}
                = @report.data_quality_score
              %th{colspan: 2}
                30
              %th{colspan: 2}
                20%
              %td{colspan: 2}
                #{@report.data_quality_percentage}%
            %tr
              %th{colspan: 4}
                Coordinated Entry Participation
              %td{colspan: 2}
                = @report.ce_score
              %th{colspan: 2}
                20
              %th{colspan: 2}
                20%
              %td{colspan: 2}
                #{@report.ce_percentage}%
            %tr
              %th{colspan: 4}
                Grant Management & Financials
              %td{colspan: 2}
                = @report.m_and_f_score
              %th{colspan: 2}
                50
              %th{colspan: 2}
                10%
              %td{colspan: 2}
                #{@report.m_and_f_percentage}%
            %tr
              %th{colspan: 4}
                Total Score
              %td{colspan: 8}
                #{@report.project_performance_percentage + @report.data_quality_percentage + @report.ce_percentage + @report.m_and_f_percentage}%
