- title = "Clients still in Emergency Shelters after"
- content_for(:title, title)
%h1
  = content_for :title
  = @years
  years
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

= simple_form_for(:clients, url: warehouse_reports_long_standing_clients_path, html: {method: :get}) do |f|
  - content_for :filters_col_full do
    - options = options_for_select((3..15), @years)
    .col-sm-3
      = render 'inputs/select', field_name: :years, label: 'Years ago', options: options

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View', class: 'ml-2'

  = render 'warehouse_reports/filters', f:f

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'client'
  .warehouse-reports__long-standing-clients.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Last Name
          %th First Name
          %th Enrollment Start
          %th Project
          %th Data Source
      %tbody
        - @entries.each do |entry|
          - client = @clients[entry[:client_id]]
          %tr
            %td= link_to_if can_view_clients?, client.LastName, appropriate_client_path(client)
            %td= link_to_if can_view_clients?, client.FirstName, appropriate_client_path(client)
            %td= entry.first_date_in_program
            %td= entry.project_name
            %td= client.source_clients.map{|m| m.data_source.short_name}.uniq.join(', ')
  = render 'common/pagination_bottom', item_name: 'client'
- else
  .none-found.mt-4 No clients found.
