- chart_options ||= {}

.ho-container.rrh
  .ho-container__header
    %h3 #{@report.sub_population_title} Exits to Permanent Housing
  .ho-container__summary
    .rrh__enrolled.chunk
      %h4.title
        #{@report.sub_population_title.pluralize} Housed to Date
      .metric
        = link_to_if can_see_client_details?, pluralize(@report.all_housed_client_count, @report.sub_population_title), warehouse_reports_client_details_exits_path(range: {start: Reporting::MonthlyReports::Veteran::LOOKBACK_START.to_date, end: Date.current, sub_population: @report.sub_population}, ph: 'true'), target: :_blank
      .description
        total #{@report.sub_population_title.pluralize.downcase} housed to date
    .rrh__enrolled.chunk
      %h4.title
        #{@report.sub_population_title.pluralize} Housed During Reporting Period
      .metric
        = link_to_if can_see_client_details?, pluralize(@report.housed_client_count, @report.sub_population_title), warehouse_reports_client_details_exits_path(range: {start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids, sub_population: @report.sub_population}, ph: 'true'), target: :_blank
      .description
        number of #{@report.sub_population_title.pluralize.downcase} housed during reporting period

  .o-chart.jHoused

= content_for :page_js do
  - if can_see_client_details?
    - support_link = "#{warehouse_reports_client_details_exits_path(range: {start: 'START_DATE', end: 'END_DATE', project_ids: @project_ids, organization_ids: @organization_ids, sub_population: @report.sub_population}, ph: 'true')}"
  :javascript
    var support_link = '#{support_link}'

    new App.Dashboards.Clients.Exits('.jHoused', #{@report.housed_by_month.to_json}, '#{@report.sub_population_title}', support_link, #{chart_options.to_json});
