!!!
%html
  %head
    = inline_stylesheet_link_tag 'dashboard_pdf'
    = inline_javascript_include_tag 'pdf'
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700|Open+Sans+Condensed:700', rel: 'stylesheet', type: 'text/css'}
    -# = stylesheet_link_tag 'dashboard_pdf'
    -# = javascript_include_tag 'pdf'

  %body
    - @show_census = true
    - chart_options = { size: { height: 300, width: 1200 } }
    %section.d-flex.align-items-start
      .mr-4
        = render 'index_title'
      .ml-auto
        - logo = inline_asset_base64("theme/logo/#{ENV['PRINT_LOGO']}") rescue nil
        = image_tag(logo, width: 250) if logo.present?
    %section
      %h3 Selected Universe
      .warehouse-reports__completed
        = @filter.describe_filter_as_html
    - unless GrdaWarehouse::Config.get(:multi_coc_installation)
      %section
        = render 'housed_overall', chart_options: chart_options

    %section
      = render 'overview', chart_options: chart_options

    %section.page-break-after
      = render 'censuses', chart_options: chart_options

    %section.page-break-after
      = render 'entry', chart_options: chart_options


    %section.page-break-after
      = render 'exit', chart_options: chart_options

    = svg 'symbol-defs'
    = yield :page_js
