!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag 'dashboard_pdf', media: 'all'
    = wicked_pdf_javascript_include_tag 'pdf'
    -# = stylesheet_link_tag 'dashboard_pdf', media: 'all'
    -# = javascript_include_tag 'pdf'
    :sass
      body
        background: #FFF

      h1
        font-size: .5in
        text-transform: uppercase
        margin: 0

      h2
        font-size: .35in

      h3
        font-size: .25in

      h4
        &.title
          font-size: .35in

      .metric
        font-size: .5in

      .description
        font-size: .125in

      .chunk
        border: 0 !important
        width: 50%
        margin: 0 0 20px 0 !important
        padding: 0 0 0 0 !important
        float: left
        &:only-child
          width: 100%
          text-align: left !important
        [class*=icon]
          font-size: 1in
        .title
          font-size: .25in
          color: #777
          font-family: 'Open sans'
        .description
          margin: 0
          color: #999
        .metric
          font-size: .35in
          font-weight: 700
          &,
          a
            color: #457687

      .ho-container
        box-shadow: none
        padding: 0
        page-break-inside: avoid

      .ho-container__header
        margin-bottom: 20px

      .ho-container__header h3
        font-size: 26px

      .ho-container__summary
        &::after
          clear: both

      .description
        margin-top: 5px
        margin-bottom: 5px

      .ho-container .description
        font-size: .2in

      section
        margin-bottom: .25in

      .o-chart
        position: relative
        width: 100%

  %body
    - @show_census = true
    = render 'index_title'
    %section
      = render 'housed_overall', chart_size: {height: 500, width: 1000}
    %section
      = render 'overview', chart_size: {height: 500, width: 1000}
    %section
      = render 'censuses', chart_size: {height: 500, width: 1000}
    %section
    = render 'entry', chart_size: {height: 500, width: 1000}
    %section
    = render 'exit', chart_size: {height: 500, width: 1000}

    -# = render 'download'

    = yield :page_js
