.ho-container.rrh
  .ho-container__header
    %h3.d-flex
      %div Overview
      - unless @pdf
        .ml-auto
          %i.icon-info{data: {toggle: :tooltip, title: "Households are calculated as unique heads of household.  This differs from HMIS, which would count each enrollment of a group of people as a new household."}}
  .ho-container__summary
    .rrh__enrolled.chunk
      %i.icon-group.metric
      %h4.title
        Enrolled Clients
      .metric
        = link_to pluralize(@report.enrolled_client_count, 'client'), warehouse_reports_enrolled_project_type_index_path(range: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_type: [:es, :sh, :so, :th], project_ids: @project_ids, organization_ids: @organization_ids}), target: :_blank
        \/
        = pluralize(@report.enrolled_household_count, 'households')
      .description
        had open enrollments during this time period
    .rrh__enrolled.chunk
      %i.icon-user.metric
      %h4.title
        Active Clients
      .metric
        = link_to pluralize(@report.active_client_count, 'client'), warehouse_reports_client_details_actives_path(range: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids}), target: :_blank
        \/
        = pluralize(@report.active_household_count, 'households')
      .description
        had a service during this time period
    .rrh__enrolled.chunk
      %i.icon-enter.metric
      %h4.title
        Enterers
      .metric
        = link_to pluralize(@report.entered_client_count, 'client'), warehouse_reports_client_details_entries_path(range: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids}, project_type: [:es, :sh, :so, :th]), target: :_blank
        \/
        = pluralize(@report.entered_household_count, 'households')
      .description
        started enrollments during the reporting period
    .rrh__enrolled.chunk
      %i.icon-exit.metric
      %h4.title
        Exiters
      .metric
        = link_to pluralize(@report.exited_client_count, 'client'), warehouse_reports_client_details_exits_path(range: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids}), target: :_blank
        \/
        = pluralize(@report.exited_household_count, 'households')
      .description
        exited enrollments during the reporting period
