.ho-container.rrh.l-page__no-margin
  .ho-container__header
    - info_description = "Households are calculated as unique heads of household.  This differs from HMIS, which would count each enrollment of a group of people as a new household."
    %h3.d-flex
      %div Overview
      - if @html
        .ml-auto
          %i.icon-info{data: {toggle: :tooltip, title: info_description}}
    - if @pdf
      .description=info_description

  .ho-container__summary.l-page__no-padding-b
    .rrh__enrolled.chunk.l-page__w-50
      = embedded_svg 'group'
      %h4.title
        Enrolled Clients
      .metric
        = link_to_if can_see_client_details?, pluralize(@report.enrolled_client_count, 'client'), warehouse_reports_enrolled_project_type_index_path(filter: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_type: @report.project_types, project_ids: @project_ids, organization_ids: @organization_ids, project_type_codes: @project_type_codes, age_ranges: @age_ranges, heads_of_household: @heads_of_household}), target: :_blank
        \/
        = pluralize(@report.enrolled_household_count, 'households')
      .description
        had open enrollments during this time period
    .rrh__enrolled.chunk.l-page__w-50
      = embedded_svg 'user'
      %h4.title
        Active Clients
      .metric
        = link_to_if can_see_client_details?, pluralize(@report.active_client_count, 'client'), warehouse_reports_client_details_actives_path(filter: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids, project_type_codes: @project_type_codes, age_ranges: @age_ranges, heads_of_household: @heads_of_household}), target: :_blank
        \/
        = pluralize(@report.active_household_count, 'households')
      .description
        had a service during this time period
    .rrh__enrolled.chunk.l-page__w-50
      = embedded_svg 'enter'
      %h4.title
        Enterers
      .metric
        = link_to_if can_see_client_details?, pluralize(@report.entered_client_count, 'client'), warehouse_reports_client_details_entries_path(filter: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids, project_type: @report.project_types, project_type_codes: @project_type_codes, age_ranges: @age_ranges, heads_of_household: @heads_of_household}), target: :_blank
        \/
        = pluralize(@report.entered_household_count, 'households')
      .description
        started enrollments during the reporting period
    .rrh__enrolled.chunk.l-page__w-50
      = embedded_svg 'exit'
      %h4.title
        Exiters
      .metric
        = link_to_if can_see_client_details?, pluralize(@report.exited_client_count, 'client'), warehouse_reports_client_details_exits_path(filter: {sub_population: @report.sub_population, start: @start_date, end: @end_date, project_ids: @project_ids, organization_ids: @organization_ids, project_type_codes: @project_type_codes, age_ranges: @age_ranges, heads_of_household: @heads_of_household}), target: :_blank
        \/
        = pluralize(@report.exited_household_count, 'households')
      .description
        exited enrollments during the reporting period
