.ho-container.rrh.l-page__no-margin
  .ho-container__header
    - info_description = "Households are calculated as unique heads of household.  This differs from HMIS, which would count each enrollment of a group of people as a new household."
    %h3.d-flex
      %div Overview
      - if @html
        .ml-auto
          %i.icon-info{data: {toggle: :tooltip, title: info_description}}
    - if @pdf
      .description=info_description

  .ho-container__summary.l-page__no-padding-b
    .rrh__enrolled.chunk.l-page__w-50.pr-2
      %i.icon-group
      %h4.title
        Enrolled Clients
      .metric
        = link_to_if can_see_client_details?, pluralize(number_with_delimiter(@report.enrolled_client_count), 'client'), warehouse_reports_enrolled_project_type_index_path(filter: support_filter), target: :_blank
        \/
        = pluralize(number_with_delimiter(@report.enrolled_household_count), 'households')
      .description
        had open enrollments during this time period
    .rrh__enrolled.chunk.l-page__w-50.pr-2
      %i.icon-user
      %h4.title
        Active Clients
      .metric
        = link_to_if can_see_client_details?, pluralize(number_with_delimiter(@report.active_client_count), 'client'), warehouse_reports_client_details_actives_path(filter: support_filter), target: :_blank
        \/
        = pluralize(number_with_delimiter(@report.active_household_count), 'households')
      .description
        had a service during this time period
    .rrh__enrolled.chunk.l-page__w-50.pr-2
      %i.icon-enter
      %h4.title
        Enterers
      .metric
        = link_to_if can_see_client_details?, pluralize(number_with_delimiter(@report.entered_client_count), 'client'), warehouse_reports_client_details_entries_path(filter: support_filter), target: :_blank
        \/
        = pluralize(number_with_delimiter(@report.entered_household_count), 'households')
      .description
        started enrollments during the reporting period
    .rrh__enrolled.chunk.l-page__w-50.pr-2
      %i.icon-exit
      %h4.title
        Exiters
      .metric
        = link_to_if can_see_client_details?, pluralize(number_with_delimiter(@report.exited_client_count), 'client'), warehouse_reports_client_details_exits_path(filter: support_filter), target: :_blank
        \/
        = pluralize(number_with_delimiter(@report.exited_household_count), 'households')
      .description
        exited enrollments during the reporting period
