.ho-container
  .ho-container__header
    %h3.mt-0 Options
  = simple_form_for :choose_report, method: :get do |f|
    .d-flex
      .w-20.mr-2
        = f.input :project_types, collection: GrdaWarehouse::Hud::Project::HOMELESS_TYPE_TITLES.invert, selected: @project_type_codes, input_html: { multiple: true, class: 'select2 jProjectTypes' }
      .w-20.mr-2
        = f.input :organization_ids, collection: GrdaWarehouse::Hud::Organization.options_for_select(user: current_user), as: :grouped_select, group_method: :last, input_html: {multiple: true, class: 'select2 jOrganizations'}, selected: @organization_ids, label: 'Organizations', required: false
      .w-20.mr-2
        = f.input :project_ids, collection: [], as: :grouped_select, group_method: :last, input_html: {multiple: true, class: 'select2 jProjects'}, selected: @project_ids, label: 'Projects', required: false
      - if GrdaWarehouse::Config.get(:show_vispdats_on_dashboards)
        .w-20.mr-2
          = f.input :limit_to_vispdat, collection: vispdat_limits, selected: @limit_to_vispdat, label: 'Limit Clients',input_html: { class: :select2 }, required: false
      .w-20.mr-2
        = f.input :start_month, collection: @available_months.sort.reverse.map{ | k, v | [v, k]}, selected: @start_month, input_html: { class: :select2 }, required: false
      .w-20.mr-2
        = f.input :end_month, collection: @available_months.sort.reverse.map{ | k, v | [v, k]}, selected: @end_month, input_html: { class: :select2 }, required: false

    .w-20
      = f.button :submit, 'Update View'

= content_for :page_js do
  :javascript
    (function($){
      $('.jProjectTypes, .jOrganizations').on('change', function(e){
        var project_types = $('.jProjectTypes').val();
        if(project_types == null) {
          project_types = #{GrdaWarehouse::Hud::Project::HOMELESS_TYPE_TITLES.keys.to_json}
        }
        var organization_ids = $('.jOrganizations').val();
        $.get('#{api_projects_path()}', {
          project_types: project_types,
          organization_ids: organization_ids
        }, function(data){
          $('.jProjects').html(data);
        });
      });
      $('.jProjectTypes, .jOrganizations').trigger('change');
    })(jQuery);
