= render 'active_title'
- if request.xhr?.nil?
  %h1= content_for :title
- else
  %h2= content_for :title
= render 'active'

= content_for :page_js do
  :javascript
    (function($){
      var chart = $('#active-chart');
      var active_chart = new App.Dashboards.Clients.Active(chart, chart.data('labels'), chart.data('data'));

    })(jQuery);