- if @report.present?
  = render 'entered_title'
  - if request.xhr?.nil?
    %h1= content_for :title
  - else
    %h2= content_for :title
  = render 'entered'

  = content_for :page_js do
    :javascript
      var chart = $('#entered-chart');
      new App.Dashboards.Clients.Entered(chart, chart.data('labels'), chart.data('data'));
