- content_for :title, 'Veteran Dashboard'
%h1= content_for :title
= render 'dashboards/tabs', active: 'veteran'

.jRemoteEntered
  %h2 Clients Entering Programs
  .text-center
    Loading...

.jRemoteHoused
  %h2 Clients Housed
  .text-center
    Loading...

.jRemoteActive
  %h2 Active Clients
  .text-center
    Loading...

= render 'census'



.row
  .col-sm-6
    =# render 'entry_exit'


= content_for :page_js do
  :javascript
    (function($) {
      var error_message = function (response, status, xhr, target) {
        var message = "Loading failed: " + xhr.status + ' ' + xhr.statusText;
        var $error = $(document.createElement('div'));
        $error.text(message).addClass('alert').addClass('alert-danger')
        $(target).html($error);
      };
      $('.jRemoteActive').load('#{active_dashboards_veterans_path()}', function(response, status, xhr) {
        if (status == 'error') {
          error_message(response, status, xhr, this)
        }
        else if (status == 'success') {
          var chart = $('#active-chart');
          var active_chart = new App.Dashboards.Veterans.Active(chart, chart.data('labels'), chart.data('data'));
        }
      });
      $('.jRemoteHoused').load('#{housed_dashboards_veterans_path()}', function(response, status, xhr) {
        if (status == 'error') {
          error_message(response, status, xhr, this)
        }
        else if(status == 'success') {
          var ph_chart = $('#housed-chart');
          var housed_chart = new App.Dashboards.Veterans.Exits(ph_chart, ph_chart.data('labels'), ph_chart.data('data'));

          var destination_chart = $('#destination-chart');
          var exits_chart = new App.Dashboards.Veterans.Exits(destination_chart, destination_chart.data('labels'), destination_chart.data('data'));
        }
      });
      $('.jRemoteEntered').load('#{entered_dashboards_veterans_path()}', function(response, status, xhr) {
        if (status == 'error') {
          error_message(response, status, xhr, this)
        }
        else if (status == 'success') {
          var chart = $('#entered-chart');
          var housed_chart = new App.Dashboards.Veterans.Entered(chart, chart.data('labels'), chart.data('data'));
        }
      });
      
      
    })(jQuery);
