%h2{id: 'data-quality'}  HMIS Data Quality
%table.table.table-bordered
  %thead
    %tr
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th{rowspan: 3} HMIS data quality
      %td 7. Personal identifying information error rate
      %td APR Table 6a: Data Quality: Personally Identifiable Information, Row 8f *100
      %td
        5 pts: 20%-0
        %br
        0 pts: 21% and above
      %th{rowspan: 3} #{@report.data_quality_weight}%
      %td= @report.pii_error_rate_value
      %td= @report.pii_error_rate_score
    %tr
      %td 8. Universal data elements error rate
      %td HMIS APR 6b Number of unique clients with errors divided by total number of clients served
      %td
        5 pts: 20%-0
        %br
        0 pts: 21% and above
      %td= @report.ude_error_rate_value
      %td= @report.ude_error_rate_score
    %tr
      %td 9. Income and housing data quality
      %td HMIS APR 6c Number of unique clients with errors divided by total number of clients served
      %td
        5 pts: 20%-0
        %br
        0 pts: 21% and above
      %td= @report.income_and_housing_error_rate_value
      %td= @report.income_and_housing_error_rate_score