%h2{id: 'financial-performance'}  Project Financial Performance
%table.table.table-bordered
  %thead
    %tr
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th{rowspan: 6}
        Project financial performance based on CoC/DND monitoring and invoicing
        %br
        .text-danger
          * These are done through the funding periods
      %td 10. Type of housing project proposal; RRH, PSH, Joint TH-RRH
      %td Project application
      %td
        6: PSH
        %br
        3: RRH/Joint TH-PH
      %th{rowspan: 6} #{@report.financial_performance_weight}%
      %td= @report.project_type_value
      %td= @report.project_type_score
    %tr
      %td 11. Invoicing- submit invoices- on time, with all back up materials, and for eligible activities
      %td CoC monitoring report/ Agency external audit
      %td
        6 pts: Invoices regularly submitted on time
        %br
        3 pts: Usually on time, complete with few errors
        %br
        1 pt: Submitted quarterly/not monthly
      %td= f.input :invoicing, collection: @report.invoicing_options, as: :pretty_boolean_group, label: "Choose one:"
      %td= @report.invoicing_score
    %tr
      %td
        12. Is the project efficient with funds? Does the cost per person served in each project
        (include HUD funds and match total and compare standard practice: $4,000 per household.
      %td
        Project Application Budget
        %p
        Most Recently Completed Grant Year Spend divided by Total Number of Households Served
      %td
        6 pts: if standard is met and funding is equal to or less than per person/family ratio
        %br
        0 pts: if not met and more funds per person/family
      %td
        = f.input :amount_agency_spent, label: 'Most Recently Completed Grant Year Spend'
        = f.input :actual_households_served
        %p
        - if @report.cost_efficiency_value.present?
          = "$#{@report.cost_efficiency_value} / Household Served"
      %td= @report.efficiency_score
    %tr
      %td
        13. Required match based on project budget
        %p
        Was the match reported at end of operating year greater than the minimum required?
      %td
        Project Application and spend
        %p
        Grant Year Spend Divided by Contract Budget value
      %td
        6 pts: > 25%
        %br
        0 pts: 0-25%
      %td
        = f.input :contracted_budget
        = @report.required_match_value
      %td= @report.required_match_score
    %tr
      %td 14. Project returns unobligated funds in most recent grant application year
      %td ASPEND / DND budget tracking
      %td
        6 pts: 0 - 10% return
        %br
        0 pts: 11 - 20%
      %td
        = f.input :returned_funds
        = @report.returned_funds_value
      %td= @report.returned_funds_score
    %tr
      %td 15. Project utilization rate from current project operating year
      %td
        APR (quarterly average for operating year)
        %br
        = link_to_apr('APR, Q8b', 'Question 8')
        Average of cells B2, B3, B4, B5 / Total Listed on Grant application
      %td
        6 pts: 85 -over 100%
        %br
        3 pt: 84 - 75%
        %br
        0 pts: under 74%
      %td= @report.utilization_rate_value
      %td= @report.utilization_rate_score
