%h2{id: 'financial-performance'}  Project Financial Performance
%table.table.table-bordered{style: 'max-width: 99%'}
  %thead
    %tr.bg-info
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th.bg-info.align-middle.text-center{rowspan: 6}
        Project financial performance based on CoC/DND monitoring and invoicing
        %br
        .text-danger
          * These are done through the funding periods
      %td 9. Invoice Timeliness
      %td CoC monitoring report/ Agency external audit
      %th.align-middle.text-center{rowspan: 5}
        Weight
        #{@report.financial_performance_weight}%
      %td
        3 pts: Invoices regularly submitted on time
        %br
        2 pts: Invoices submitted usually on time
        %br
        1 pt: Invoices submitted quarterly or less frequently than monthly
      %td= f.input :invoicing_timeliness, collection: @report.invoicing_timeliness_options, as: :pretty_boolean_group, label: "Choose one:"
      %td= @report.invoicing_timeliness_score
    %tr
      %td 10. Invoice Accuracy
      %td CoC monitoring report/ Agency external audit
      %td
        3 pts: Invoices regularly complete and accurate
        %br
        2 pts: Invoices occasionally contain a few errors
        %br
        1 pt: Invoices frequently contain errors that require correction
      %td= f.input :invoicing_accuracy, collection: @report.invoicing_accuracy_options, as: :pretty_boolean_group, label: "Choose one:"
      %td= @report.invoicing_accuracy_score
    %tr
      %td
        11. Is the project efficient with funds? Does the cost per person served in each project
        (include HUD funds and match total and compare standard practice: $4,000 per household.
      %td
        Project Application Budget
        %p
        Most Recently Completed Grant Year Spend divided by Total Number of Households Served
      %td
        6 pts: if standard is met and funding is equal to or less than per person/family ratio
        %br
        0 pts: if not met and more funds per person/family
      %td
        = f.input :amount_agency_spent, label: 'Most Recently Completed Grant Year Spend'
        = f.input :actual_households_served
        %p
        - if @report.cost_efficiency_value.present?
          = "$#{@report.cost_efficiency_value} / Household Served"
      %td= @report.efficiency_score
    %tr
      %td
        12. Required match based on project budget
        %p
        Was the match reported at end of operating year greater than the minimum required?
      %td
        Project Spend
        %p
        Evaluate the project applicant dollar amount match for the most recently completed grant period. Does it exceed 25% of the project budget?
      %td
        6 pts: > 25%
        %br
        0 pts: 0-25%
      %td= f.input :required_match_percent_met, as: :pretty_boolean, label: 'Exceeds 25% of the project budget'
      %td= @report.required_match_score
    %tr
      %td
        13. Project Returns
        %p
        What % of unobligated funds in the most recent grant application year were returned?
      %td Most Recently Completed Grant Year Funds Returned (sourced from ASPEND) divided by the Contract Budget
      %td
        6 pts: 0 - 5%
        %br
        3 pts: 5 - 10%
        %br
        0 pts: > 11%
      %td
        = f.input :contracted_budget, label: 'Contract Budget'
        = f.input :returned_funds
        = @report.returned_funds_value
      %td= @report.returned_funds_score
