= render 'boston_project_scorecard/warehouse_reports/scorecards/header', f: f
%h2 Project Quality Threshold Criteria
= render 'boston_project_scorecard/warehouse_reports/scorecards/project_quality', f: f
%h2 Project Score
= render 'boston_project_scorecard/warehouse_reports/scorecards/total_score', f: f
%h2{id: 'project-performance'}  Project Performance
= render 'boston_project_scorecard/warehouse_reports/scorecards/project_performance', f: f
%h2{id: 'data-quality'}  HMIS Data Quality
= render 'boston_project_scorecard/warehouse_reports/scorecards/data_quality', f: f
%h2{id: 'financial-performance'}  Project Financial Performance
= render 'boston_project_scorecard/warehouse_reports/scorecards/financial_performance', f: f
%h2{id: 'policy-alignment'}  Alignment with CoC/HUD Policy Priorities
= render 'boston_project_scorecard/warehouse_reports/scorecards/policy_alignment', f: f
%h2{id: 'racial-equity'}  Racial Equity
= render 'boston_project_scorecard/warehouse_reports/scorecards/racial_equity', f: f