= render 'boston_project_scorecard/warehouse_reports/scorecards/header', f: f
%p
= render 'boston_project_scorecard/warehouse_reports/scorecards/results', f: f
%p
= render 'boston_project_scorecard/warehouse_reports/scorecards/total_score', f: f
%p
= render 'boston_project_scorecard/warehouse_reports/scorecards/project_performance', f: f
= render 'boston_project_scorecard/warehouse_reports/scorecards/data_quality', f: f
= render 'boston_project_scorecard/warehouse_reports/scorecards/financial_performance', f: f
= render 'boston_project_scorecard/warehouse_reports/scorecards/policy_alignment', f: f
%p
= render 'boston_project_scorecard/warehouse_reports/scorecards/racial_equity', f: f