%h2{id: 'project-performance'}  Project System Performance Measures
%table.table.table-bordered{style: 'max-width: 99%'}
  %thead
    %tr.bg-info
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th.bg-info.align-middle.text-center{rowspan: 7} Project System Performance Measures
      %td 1. Exits from RRH and retention in PSH
      %td See individual calculations for 1.a. and 1.b.
      %td.bg-info
      %td.bg-info
      %td.bg-info
      %td.bg-info
    %tr
      %td
        1a.
        %b RRH:
        Exits from RRH to a Permanent Destination
      %td
        APR Table
        = link_to_apr('Q23c', 'Question 23')
        %hr
        %small Q23c B43
      %td
        12 pts: 100 - 75%
        %br
        6 pts: 74 - 55%
        %br
        4 pts: 54 - 25%
        %br
        0 pts: 24 - 0%
      %th.align-middle.text-center{rowspan: 7}
        Weight
        %br
        #{@report.project_performance_weight}%
      %td= @report.rrh_exits_to_ph_value
      %td= @report.rrh_exits_to_ph_score
    %tr
      %td
        1b.
        %b PSH:
        Percent of clients who remained in PSH or exited to a Permanent Destination (stayers & leavers)
      %td
        APR Table
        = link_to_apr('Q5a', 'Question 5')
        %br
        APR Table
        = link_to_apr('Q23c', 'Question 23')
        %hr
        %small (Q5a B2 - Q23c B40 + Q23c B41) / (Q5a B2 - Q23c B42)
      %td
        12 pts: 100 - 75%
        %br
        6 pts: 74 - 55%
        %br
        4 pts: 54 - 25%
        %br
        0 pts: 24 - 0%
      %td= @report.psh_stayers_or_to_ph_value
      %td= @report.psh_stayers_or_to_ph_score
    %tr
      %td
        2. Returns to Homelessness: % of clients that exited the program and the exit destination was a homeless situation
      %td
        APR Table
        = link_to_apr('Q23c', 'Question 23')
        %hr
        %small Q23c B6 / (B40 - B42)
      %td
        12 pts: 0 - 5%
        %br
        6 pts: 6 - 25%
        %br
        4 pts: 26 - 50%
        %br
        0 pts: 51 - 100%
      %td= @report.returns_to_homelessness_value
      %td= @report.returns_to_homelessness_score
    %tr
      %td
        3. % of clients who increased income through
        %b employment
        %br
        (Stayers and Leavers)
      %td
        APR Tables
        %br
        = link_to_apr('Q19a1,', 'Question 19')
        %br
        = link_to_apr('Q19a2,', 'Question 19')
        %hr
        %small (Q19a1 I2 + Q19a2 I2) / (Q19a1 H2 + Q19a2 H2) * 100
      %td
        12 pts: 100 - 20%
        %br
        6 pts: 19 - 15%
        %br
        4 pts: 14 - 7%
        %br
        0 pts: 6 - 0%
      %td= @report.increased_employment_income_value
      %td= @report.increased_employment_income_score
    %tr
      %td
        4. % of clients who maintained or increased
        %b non-earned income
        (ex. social benefits)
        %br
        (Stayers and Leavers)
      %td
        APR Tables
        %br
        = link_to_apr('Q19a1,', 'Question 19')
        (Stayers)
        %br
        = link_to_apr('Q19a2,', 'Question 19')
        (Leavers)
        %hr
        %small ((Q19a1 D4+E4+F4)+(Q19a2 D4+E4+F4)) / (Q19a1 H4 + Q19a2 H4) *100
      %td
        12 pts: 100 - 50%
        %br
        6 pts: 49 - 37%
        %br
        4 pts: 36 - 17%
        %br
        0 pts: 16 - 0%
      %td= @report.increased_other_income_value
      %td= @report.increased_other_income_score
    %tr
      %td 5. Time to Lease Up; Reduction in Length of Time Homeless - Reduction in average days from project enrollment date to move-in date compared to prior grant year or below 90 days
      %td
        APR Table
        = link_to_apr('Q22c', 'Question 22')
        %br
        Comparison APR Table
        = link_to_apr('Q22c', 'Question 22', comparison: true)
        %br
        Length of Time between Project Start Date and Housing Move-in Date, Cell B11: Average Length of time to Housing comparison between current fiscal period and previous fiscal period.
        %hr
        %small ((Q22c B11 current year - Q22c B11 prior year) / Q22c B11 prior year) * 100
      %td
        12 pts: Decreased by at least 5% compared to previous FY or lower than 90 days
        %br
        6 pts: Decreased by at 4%-1% compared to previous FY
        %br
        0 pts: No change compared to previous FY, increase, or average of less than 1 day
      %td
        Days to lease-up (current year):
        = @report.days_to_lease_up_value
        %br
        Days to lease-up (prior year):
        = @report.days_to_lease_up_comparison
        - if @report.days_to_lease_up_change.present?
          %br
          = "#{@report.days_to_lease_up_change.round}%"
          year-over-year change
      %td= @report.days_to_lease_up_score
