%h2{id: 'project-performance'}  Project Performance
%table.table.table-bordered{style: 'max-width: 99%'}
  %thead
    %tr.bg-info
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th.bg-info.align-middle.text-center{rowspan: 7} Project Performance
      %td 1. Exits from RRH and retention in PSH
      %td See individual calculations for 1.a. and 1.b.
      %td.bg-info
      %td.bg-info
      %td.bg-info
      %td.bg-info
    %tr
      %td
        1.a.
        %b RRH:
        Exits RRH to PH (benchmark 80%)
      %td
        APR Table
        = link_to_apr('Q23c', 'Question 23')
        Cell 46B
      %td
        12 pts: 100-75%
        %br
        6 pts: 74-55%
        %br
        4 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %th.align-middle.text-center{rowspan: 6}
        Weight
        %br
        #{@report.project_performance_weight}%
      %td= @report.rrh_exits_to_ph_value
      %td= @report.rrh_exits_to_ph_score
    %tr
      %td
        1.b.
        %b PSH:
        = "% of clients who remained in PSH or exited to PH (benchmark 80%) (stayers & leavers)"
      %td
        B1 from APR Table
        = link_to_apr('Q5a', 'Question 5')
        %br
        B43, B44, B45 from APR Table
        = link_to_apr('Q23c', 'Question 23')
        %br
        %small (B1 - B43 + B44) / (B1 - B45)
      %td
        12 pts: 100-75%
        %br
        6 pts: 74-55%
        %br
        4 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td= @report.psh_stayers_or_to_ph_value
      %td= @report.psh_stayers_or_to_ph_score
    %tr
      %td
        2. % of clients who increased income through
        %b employment
        %br
        (Stayers and Leavers)
      %td
        APR Tables
        %br
        = link_to_apr('Q19a1,', 'Question 19')
        Cell J2 (Stayers)
        %br
        = link_to_apr('Q19a2,', 'Question 19')
        Cell J2 (Leavers)
      %td
        12 pts: 100-75%
        %br
        6 pts: 74-55%
        %br
        4 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td= @report.increased_employment_income_value
      %td= @report.increased_employment_income_score
    %tr
      %td
        3. % of clients who increased n
        %b on-earned income
        (ex. social benefits)
        %br
        (Stayers and Leavers)
      %td
        APR Tables
        %br
        = link_to_apr('Q19a1,', 'Question 19')
        Cell J4 (Stayers)
        %br
        = link_to_apr('Q19a2,', 'Question 19')
        Cell J4 (Leavers)
      %td
        12 pts: 100-75%
        %br
        6 pts: 74-55%
        %br
        4 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td= @report.increased_other_income_value
      %td= @report.increased_other_income_score
    %tr
      %td 4. Time to Lease Up; avg days from project admit date to date housed- project
      %td
        APR Table
        = link_to_apr('Q22c:', 'Question 22')
        Length of Time between Project Start Date and Housing Move-in Date, Row 11B: Average Length of time to Housing
      %td
        12 pts: 1-30 days
        %br
        6 pts: 31-60 day
        %br
        4 pts: 61-180 days
        %br
        0 pts: over 180 days, or less than 1 day
      %td= @report.days_to_lease_up_value
      %td= @report.days_to_lease_up_score
    %tr
      %td 5. Project utilization rate from current project operating year
      %td
        APR (quarterly average for operating year)
        %p
          APR Table
        = link_to_apr('Q8b', 'Question 8')
        Average of cells B2, B3, B4, B5 / Total Number of Households Served
      %td
        6 pts: 85 -over 100%
        %br
        3 pt: 84 - 75%
        %br
        0 pts: under 74%
      %td= @report.utilization_rate_value
      %td= @report.utilization_rate_score
