= simple_form_for @filter, as: :filter, url: warehouse_reports_cohort_changes_path, html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-3
        = f.input :start, input_html: {value: @filter.start, class: 'form-control jStart'}, as: :date_picker
      .col-sm-3
        = f.input :end, input_html: {value: @filter.end, class: 'form-control jStart'}, as: :date_picker
      .col-sm-3
        = f.input :cohort_id, collection: @filter.available_cohorts_for(current_user), as: :select_two

  - content_for :filter_actions do
    .row
      .col-sm-3.text-right.pt-no-label
        = f.button :submit, value: 'Update Range'

  = render 'warehouse_reports/filters', f:f
