- title = "Cohort Changes Report"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
%h1= title

= render 'filter'
- if @enrollments.any?
  .d-flex.text-center.justify-content-center.mt-4.mb-6
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        Active Clients
      %i.icon-group.metric
      .metric
        = @report.client_ids.count
      .description
        Clients who were on the cohort during the date range
    .rrh__enrolled.chunk.pr-4.mr-4
      %h4.title
        New Clients
      %i.icon-enter.metric
      .metric
        = @report.new_ids.count
      .description
        Clients entered the cohort during the date range
    .rrh__enrolled.chunk.pr-4.mr-4
      %h4.title
        Continuing Clients
      %i.icon-group.metric
      .metric
        = @report.prior_month_ids.count
      .description
        Clients who were also active in the month prior to #{@filter.start}
    .rrh__enrolled.chunk.pr-4.mr-4
      %h4.title
        Returning Clients
      %i.icon-step-back.metric
      .metric
        = @report.returning_ids.count
      .description
        Clients inactive in the month prior, but previously active
  .d-flex.text-center.justify-content-center.mt-4.mb-6
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        VI-SPDAT Score 0-3
      .metric
        = @report.details[:vispdat_scores]["0-3"]
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        VI-SPDAT Score 4-7
      .metric
        = @report.details[:vispdat_scores]["4-7"]
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        VI-SPDAT Score 8-17
      .metric
        = @report.details[:vispdat_scores]["8-17"]
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        VI-SPDAT Score Unknown
      .metric
        = @report.details[:vispdat_scores]["unknown"]

  .d-flex.text-center.justify-content-center.mt-4.mb-6
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        Average Time to Housing
      .metric
        = @report.average_time_to_housing
      .description
        Average days to find housing
    .rrh__enrolled.chunk.pr-4.mr-4
      %h4.title
        Not Recently Assessed
      .metric
        = @report.more_than_90_days_since_vispdat
      .description
        Clients for whom it has been more than 90 days since the last VI-SPDAT

  %h3 Sleeping Locations
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Location
        %th Count
        %th Clients of color
        %th White/Caucasian clients
        %th LGGQ+
        %th Heterosexual
        %th Gender-diverse
        %th Cisgender
    %tbody
      - @report.details[:sleeping_locations].each do |location, details|
        %tr
          %td= location
          %td= details[:count]
          %td= details[:of_color]
          %td= details[:white]
          %td= details[:lgbtq]
          %td= details[:heterosexual]
          %td= details[:gender_diverse]
          %td= details[:cisgender]

  %h3 Exit Destinations
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Destination
        %th Count
        %th Clients of color
        %th White/Caucasian clients
        %th LGGQ+
        %th Heterosexual
        %th Gender-diverse
        %th Cisgender
    %tbody
      - @report.details[:exit_destinations].each do |destination, details|
        %tr
          %td= destination
          %td= details[:count]
          %td= details[:of_color]
          %td= details[:white]
          %td= details[:lgbtq]
          %td= details[:heterosexual]
          %td= details[:gender_diverse]
          %td= details[:cisgender]

  - if @pagy.count.positive?
    .text-right.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
        %i.icon-file-excel.icon-lg
        Download
    = render 'common/pagination_top', item_name: 'cohort enrollment'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Last Name
            %th First Name
            %th Entry Date
            %th Exit Date
            %th Exit Reason
            %th Group
        %tbody
          - @enrollments.each do |c_en|
            - client = c_en.cohort_client.client
            -# - associated_exit = c_en.associated_exit
            %tr
              %td= link_to_if can_view_clients?, client.LastName, appropriate_client_path(client)
              %td= link_to_if can_view_clients?, client.FirstName, appropriate_client_path(client)
              %td= c_en.entry_date&.to_date
              %td= c_en&.exit_date&.to_date
              %td= c_en&.change_reason
              %td
              %td= @report.group(client.id)
    = render 'common/pagination_bottom', item_name: 'cohort enrollment'
- else
  .none-found None Found.
