- title = "Clients With Conflicting Reported #{@attribute_name.pluralize}"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

= simple_form_for :report, url: warehouse_reports_conflicting_client_attributes_path, method: :get do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-4
        = f.input :attribute, collection: attributes, selected: @attribute_name, as: :select_two

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f

- if @pagy.count.positive?
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count)) if @pagy.count.positive?
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .table-responsive
    %table.table.table-striped
      %thead
        %th Client Name
        %th DOB
        %th SSN
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            %td= dob_or_age client.DOB
            %td= ssn client.SSN
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count)) if @pagy.count.positive?
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found No clients found.
