= content_for :crumbs do
  = link_to path_for_question(report_id: @report, id: @question) do
    = "« #{@question}"
- content_for :title do
  = "#{@report.type} #{@question}"

%h1= content_for :title
= render 'hud_apr/shared/beta_warning'
= render 'hud_reports/tables', report: @report, question: @question
