= content_for :crumbs do
  = link_to hud_reports_aprs_path do
    = "« APR Reports"
- content_for :title do
  = "APR #{@question}"

%h1= content_for :title
= render 'hud_apr/aprs/beta_warning'
= render 'form'

= render 'hud_apr/aprs/reports'
