= content_for :crumbs do
  = link_to hud_reports_aprs_path do
    = "« APR Reports"
- content_for :title do
  = "APR Question #{@question}"

%h1= content_for :title

= render 'form'
- if @report.completed?
  %h2 Most Recent Result
  .well
    = render 'hud_reports/tables', report: @report, question: @question

= render 'hud_apr/aprs/reports'
