- if can_upload_hud_zips?
  %h2 Clients
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'client'
    .table-responsive
      %table.table.table-striped.table-hover.mb-0
        %thead
          %tr
            %th Client
            %th Entry Date
            %th Exit Date
        %tbody
          - @clients.each do |service|
            %tr
              %td
                - if ! @project.confidential? || can_edit_projects? || can_view_confidential_enrollment_details?
                  = link_to_if can_view_clients?, service.client.name, client_path(service.client)
                - else
                  Confidential Client
              %td= service.first_date_in_program
              %td= service.last_date_in_program
    - if @pagy.pages > 1
      .pagy-container.mt-4
        != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
        != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  - else
    .card
      %h4.text-center No clients
