.d-flex.justify-content-between.mb-2
  %h2 Inventory
  - if RailsDrivers.loaded.include?(:manual_hmis_data) && can_edit_projects?
    = link_to new_manual_hmis_data_project_inventory_path(@project), data: {loads_in_pjax_modal: true}, class: 'btn btn-sm btn-secondary' do
      %i.icon-plus
      Add Manual Inventory
.card.mb-4
  - if inventories.count > 0
    %table.table.table-sm.table-hover.table-striped.mb-0
      %thead
        %tr
          %th
          %th InventoryID
          %th Availability
          %th Dates
          %th Unit Inventory
          %th Bed Inventory
          %th CoC Code
          %th

      %tbody
        - inventories.all.each do |inventory|
          %tr
            %td
              - if can_see_raw_hmis_data? && !inventory.manual_entry?
                = link_to 'HMIS', hmi_path(inventory.id, type: 'Inventory'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis'
            %td= inventory.InventoryID
            %td= HUD.availability inventory.Availability
            %td
              - if inventory.computed_start_date.present?
                = "#{inventory.computed_start_date} - #{inventory.computed_end_date || 'ongoing'}"
            %td= inventory.UnitInventory
            %td= inventory.BedInventory
            %td
              = inventory.CoCCode
              - if inventory.coc_code_override.present?
                %br
                %em
                  Overridden as
                  = inventory.coc_code_override
            %td
              - if can_edit_projects?
                - unless inventory.manual_entry?
                  = link_to edit_inventory_path(inventory), class: 'btn btn-sm btn-secondary mr-2 mb-1', data: {loads_in_pjax_modal: true} do
                    %i.icon-pencil
                    Edit
                - if inventory.manual_entry? && RailsDrivers.loaded.include?(:manual_hmis_data)
                  = link_to edit_manual_hmis_data_inventory_path(inventory), class: 'btn btn-sm btn-secondary mr-2 mb-1', data: {loads_in_pjax_modal: true} do
                    %i.icon-pencil
                    Edit
                  = link_to manual_hmis_data_inventory_path(inventory), method: :delete, class: 'btn btn-sm btn-secondary btn-danger mb-1', data: {confirm: 'Do you really want to remove this manually entered Inventory'}  do
                    %i.icon-cross
                    Remove
  - else
    %h4.text-center No inventory
