%h2 Inventory
- if inventories.count > 0
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th
        %th InventoryID
        %th Availability
        %th Dates
        %th Unit Inventory
        %th Bed Inventory
        %th HMIS Participating Beds
        %th Child Bed Inventory
        %th Veteran Bed Inventory
        %th CoC Code
        %th

    %tbody
      - inventories.all.each do |inventory|
        %tr
          %td
            - if can_see_raw_hmis_data?
              = link_to 'HMIS', hmi_path(inventory.id, type: 'Inventory'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis'
          %td= inventory.InventoryID
          %td= HUD.availability inventory.Availability
          %td
            - if inventory.InventoryStartDate.present?
              = "#{inventory.InventoryStartDate} - #{inventory.InventoryEndDate || 'ongoing'}"
          %td= inventory.UnitInventory
          %td= inventory.BedInventory
          %td= inventory.HMISParticipatingBeds
          %td= inventory.CHBedInventory
          %td= inventory.VetBedInventory
          %td
            = inventory.CoCCode
            - if inventory.coc_code_override.present?
              %br
              %em
                Overridden as
                = inventory.coc_code_override
          %td
            - if can_edit_projects?
              = link_to edit_inventory_path(inventory), class: ['btn', 'btn-sm', 'btn-secondary'] do
                %i.icon-pencil
                Edit
- else
  %p.text-center No inventory