%h2 Sites
- if sites.count > 0
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Principal Site?
        %th CoC Code
        %th Address
        %th City
        %th State
        %th Zip
        %th Geocode
    %tbody
      - sites.all.each do |site|
        %tr
          %td= checkmark(site.PrincipalSite && 1)
          %td= site.CoCCode
          %td= site.Address
          %td= site.City
          %td= site.State
          %td= site.ZIP
          %td= site.Geocode
- else
  %p.text-center No sites