= render 'breadcrumbs'
- content_for :title, "#{@project.name(current_user, ignore_confidential_status: can_edit_projects?)} at #{@project.organization.name}"
.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right
    - if can_edit_projects?
      = link_to edit_project_path(@project), class: ['btn', 'btn-sm', 'btn-secondary'] do
        %i.icon-pencil
        Edit Project
    - if can_delete_projects?
      .mt-4
        = link_to project_path(@project), method: :delete, class: ['btn', 'btn-sm', 'btn-danger'], data: { confirm: "Deleting #{@project.ProjectName} will delete ALL associated data.  Do you want to proceed?"} do
          %i.icon-cross
          Delete Project
.row.mb-4
  .col-sm-8
    .card
      %table.table.table-striped.table-hover.mb-0
        %tr
          %th Project Type
          %td
            = HUD.project_type @project.ProjectType
            - if @project.act_as_project_type.present?
              %br
              %em
                Acts as:
                = HUD.project_type @project.act_as_project_type
              for HUD Reports
            - if @project.active_homeless_status_override.present?
              %br
              %em
                Enrolled clients are actively homeless for CAS and Cohorts
            - if @project.include_in_days_homeless_override.present?
              %br
              %em
                Days served are included in verified additional days
        %tr
          %th Operating Start Date
          %td.d-flex
            .project__operating-start-date
              = @project.OperatingStartDate&.to_date
            - if @project.operating_start_date_override.present?
              .ml-2
                Overridden as:
                %em
                  = @project.operating_start_date_override.to_date
        %tr
          %th Operating End Date
          %td.d-flex
            .project__operating-start-date
              = @project.OperatingEndDate&.to_date || 'ongoing'
            - if @project.operating_end_date_override.present?
              .ml-2
                Overridden as:
                %em
                  = @project.operating_end_date_override.to_date
        %tr
          %th Continuum Project
          %td.d-flex
            .project__continuum-project
              = checkmark(@project.ContinuumProject == 1)
            - if ! @project.hud_continuum_funded.nil?
              .ml-2
                %em
                  Overridden
                  = checkmark_or_x @project.hud_continuum_funded
        %tr
          %th Housing Type
          %td.d-flex
            .project__housing-type
              - if @project.HousingType.present?
                = HUD.housing_type(@project.HousingType)
                (#{@project.HousingType})
            - if @project.housing_type_override
              .ml-2
                %em
                  Overridden as
                  = HUD.housing_type(@project.housing_type_override)
        %tr
          %th
            %span{data: {toggle: :tooltip, title: 'This has no affect currently'}}
              Uses Move-in Date
          %td= checkmark(@project.uses_move_in_date)
        - if can_view_imports?
          %tr
            %th Project Contacts
            %td= link_to 'View/Edit', project_contacts_path(@project)
        %tr
          %th
            %span{data: {toggle: :tooltip, title: @project.confidential_hint}} Confidential Project?
          %td= checkmark @project.confidential?
        - if @project.combine_enrollments
          %tr
            %th
              %span{data: {toggle: :tooltip, title: @project.combine_enrollments_hint}} Combine enrollments?
            %td= checkmark @project.combine_enrollments?
        - if @project.data_quality_reports.any?
          %tr
            %th Project Data Quality Reports
            %td= link_to 'View Reports', project_data_quality_reports_path(@project)
        - if @project.affiliated_projects.any?
          %tr
            %th Affiliated Projects
            %td
              - @project.affiliated_projects.each do |project|
                = link_to project_path(project) do
                  = project.name(current_user, ignore_confidential_status: can_edit_projects?)
        - if @project.residential_projects.any?
          %tr
            %th Affiliated Residential Projects
            %td
              - @project.residential_projects.each do |project|
                = link_to project_path(project) do
                  = project.name(current_user, ignore_confidential_status: can_edit_projects?)

  .col-sm-4
    .d-flex.mt-4
      %h4 HMIS Info
      .ml-auto
        - if can_see_raw_hmis_data?
          = link_to 'HMIS', hmi_path(@project.id, type: 'Project'), class: 'btn btn-xs btn-secondary btn-muted btn-hmis'
    .card
      %table.table.table-striped.table-hover.mb-0
        %tr
          %th Project ID
          %td= @project.ProjectID
        %tr
          %th Organization ID
          %td= @project.OrganizationID
        %tr
          %th Data Source
          %td= @project.data_source.short_name
        %tr
          %th Tracking Method
          %td
            = HUD.tracking_method(@project.TrackingMethod || 0)
            - if @project.tracking_method_override.present?
              .mt-2
                Overridden as:
                %br
                %em= HUD.tracking_method(@project.tracking_method_override)
        %tr
          %th Target Population
          %td
            = HUD.target_population @project.TargetPopulation
            - if @project.target_population_override.present?
              .mt-2
                Overridden as:
                %br
                %em= HUD.target_population(@project.target_population_override)
        %tr
          %th Household Type
          %td
            %span{data: {toggle: :tooltip, title: 'Determined based on related inventory files'}}
              = @project.main_population
        %tr
          %th PIT Count
          %td= @project.PITCount
- if @show_census
  = render 'census'
= render 'funders', funders: @project.funders
= render 'inventories', inventories: @project.inventories
= render 'project_cocs', project_cocs: @project.project_cocs

= render 'clients'

- content_for :page_js do
  :javascript
    (function($) {
      census = new App.Census.CensusByProgram('#{date_range_censuses_path(project_id: @project.id, data_source_id: @project.data_source_id)}', 'Censuses::CensusByProgram', '#{Date.current - 3.years}', '#{Date.current - 1.day}');
      census.load();
    })(jQuery);
