- new = @translation_key.new_record?
%h1= @translation_key.key || "New translation"

= simple_form_for @translation_key do |f|
  = f.input :key
  = f.simple_fields_for :translations do |tf|
    = tf.input :text, label: tf.object.locale
    = tf.input :locale, as: :hidden

  = f.submit
  = link_to 'Back to overview', admin_translation_keys_path
