- title = 'Manage Translations'
- content_for :title, title
%h1= content_for :title
= render partial: 'menus/admin_tabs'

- locales = TranslationKey.available_locales

- if @pagy.count.positive?
  .row
    .col-sm-8
      = render 'common/pagination_top', item_name: 'translation'
      .table-responsive
        %table.table.table-sm
          %thead
            %tr
              %th Default strings
              - locales.each do |locale|
                %th= human_locale(locale)
              %th
          %tbody
            - @translation_keys.each do |key|
              %tr
                %td= key.key
                - locales.each do |locale|
                  %td
                    - translation = key.translations.detect{|t| t.locale == locale }
                    = simple_form_for(translation, remote: true, url: admin_translation_text_path(translation.id), method: :patch, html: {class: 'jTranslationTextForm'})do |t|
                      = t.input :text, label: false, input_html: {class: 'jTranslationText', rows: 2, cols: 30}
                %td
                  %button.btn.btn-secondary.btn-sm
                    Save
      = render 'common/pagination_bottom', item_name: 'translation'
    .col-sm-4.mt-8
      = simple_form_for :search, as: :search, url: admin_translation_keys_path, method: :get do |f|
        = f.input :q, label: 'Search'
        = f.input :missing_translations, as: :boolean, label: 'Only show untranslated strings'
        = f.button :submit, value: 'Search or Filter'
- else
  .none-found No translations found.

= content_for :page_js do
  :javascript
    $('.jTranslationText').on('blur', function(e){
      form = $(this).closest('form');
      $.ajax({
        data: form.serialize(),
        type: form.attr('method'),
        url: form.attr('action'),
        complete: function(e) {
          var note = e.responseText;
          var alert_class = 'danger';
          if(e.status == 200) {
            alert_class = 'success';
          }
          var html = '<div class="jAjaxSave alert alert-' + alert_class + '">' + note + '</div>';
          $('.utility').html(html);
          $('.jAjaxSave').delay(5000).fadeOut(250);
        }
      });
    });
