.row
  .col-sm-8.well
    = f.input :s3_access_key_id
    = f.input :s3_secret_access_key
    = f.input :s3_region
    = f.input :s3_bucket_name
    = f.input :s3_path
    = f.input :zip_file_password, as: :string

