= f.input :active
%h3 Bucket
= f.input :s3_region, collection: AwsS3.available_s3_regions, as: :select_two
= f.input :s3_bucket_name

%h3 Connection
= f.input :s3_access_key_id
= f.input :s3_secret_access_key, as: :password, input_html: { value: @config.s3_secret_access_key }
= f.input :s3_role_arn, as: :password, input_html: { value: @config.s3_role_arn }, hint: 'This is only necessary if assuming a role'
= f.input :s3_external_id, hint: 'This is only necessary if assuming a role', label: 'S3 external id'

%h3 File
= f.input :s3_path
= f.input :zip_file_password, as: :string, input_html: { value: @config.zip_file_password }
= f.input :file_count, label: 'How many files should we attempt to import daily?', hint: 'This will not re-import a file with the same name, but can be used if the datasource is split across multiple files.', collection: (1..10).to_a, as: :select_two
