= render 'breadcrumbs'
- content_for :title,  _('Set Automated HMIS CSV Loads')

%h1= content_for :title
.row
  .col-sm
    .well
      = simple_form_for @config, as: :config, url: data_source_hmis_import_config_path do |f|
        = render 'form', f: f
        = f.button :submit, class: 'btn btn-primary', value: 'Save Config'
  .col-sm
    = render 'common/s3/objects_list'
