- content_for :title, 'Agencies'
%h1= content_for :title
%p= _('This list of agencies will change over time.  Please revisit this page for the updated list.')

.public-agencies
  %table.table.datatable.agency-list
    %thead
      %tr
        %th Agency
        - if GrdaWarehouse::Config.get(:multi_coc_installation)
          %th CoC
    %tbody
      - if GrdaWarehouse::Config.get(:multi_coc_installation)
        - @agencies.each do |agency|
          - agency.consent_limits.each do |coc|
            %tr
              %td= agency.name
              %td= coc.description_and_coc_code
      - else
        - @agencies.each do |agency|
          %tr
            %td= agency.name

- if @coc_map.present?
  .coc-map
    %img{src: "data:image/png;base64,#{Base64.strict_encode64(@coc_map)}"}

= content_for :page_js do
  :javascript
    $('.datatable').DataTable({
      searching: true,
      ordering: true,
      pageLength: 50,
      lengthChange: false
    });
