%h1.h3.mb-4 Tarrant County Prevention Screening Form
%form{method: 'post', id: page_config.form_id, novalidate: true}
  %section
    %h2.h4 About you
    = render_form_group do
      = render_form_input(label: 'First Name', required: true)
    = render_form_group do
      = render_form_input(label: 'Last Name', required: true)
    = render_form_group do
      = render_form_input(label: 'Address & Apartment Number', required: true)
    = render_form_group do
      = render_form_input(label: 'City', required: true)
    = render_form_group do
      = render_form_input(label: 'Zip Code')
    = render_form_group do
      = render_form_input(label: 'Client Email', input_type: 'email')
    = render_form_group do
      = render_form_input(label: 'Client Phone Number', input_type: 'tel')
    = render_form_group do
      = render_form_date(legend: 'Date of Birth', name: 'dob', required: true)

  %section
    %h2.h4 Overview:
    %p Please note: Assessments will be evaluated for eligibility and completeness. Tenants will be notified or asked for additional requested items by email.
    %p Tenants MUST NOT have received rental assistance from any other sources for which tenant is requesting at this time.

    = render_form_group do
      = render_form_radio_group(legend: 'Is there a military veteran in the home?', options: yes_no_options, name: 'military_veteran_in_home')

    = render_form_group do
      = render_form_radio_group(legend: 'Have you received rental assistance within the past three (3) years?', name: 'received_rental_assistance_in last_three_years', options: yes_no_options)

    = render_form_group do
      = render_form_radio_group(legend: 'Have you received "Texas Rent Relief" or "Tarrant County ERAP" assistance?', name: 'received_texas_rent_relief_or_erap', options: yes_no_options)

    = render_form_group do
      = render_form_radio_group(legend: 'Do you live in a unit assisted by another Federal Funded housing, such as Section 8?',name: 'lives_in_unit_with_assisted_by_federal_funding', options: yes_no_options)

    = render_form_group do
      = render_form_checkbox(name: 'understanding_of_cross_reference', label: "I understand that my information will be cross referenced with other agencies that may have provided rental assistance to my household within the last 3 years")

    = render_form_group do
      = render_form_textarea(name: 'explanation_of_non_payment_of_rent', label: 'Please explain current Household "Crisis" that has resulted in the non-Payment of rent for your household this month.', rows: 3)

    = render_form_group do
      = render_form_radio_group(legend: 'Have you ever been literally homeless (Stayed in an Emergency Shelter or Outside or a place not meant for habitation)?', name: 'has_been_literally_homeless', options: yes_no_options)

  %section
    %h2.h4 Rental History:
    = render_form_group do
      = render_form_select(label: 'How many months is your lease?', options: ['6 months', '12 months', '18 months', '24 months', 'Other'])
    = render_form_group do
      = render_form_select(label: 'How many bedrooms is your unit?', options: ['1 bedroom', '2 bedroom','3 bedroom','4 bedroom', '5 bedroom'])
    = render_form_group do
      = render_form_radio_group(legend: 'Have you received a "3 Day Notice to Vacate" from your property management?', options: yes_no_options)
    = render_form_group do
      = render_form_radio_group(legend: 'Have you been served by the Tarrant County Constable Office with a formal eviction court date?', options: yes_no_options)
    = render_form_group do
      = render_numeric_input(label: 'How many people on the lease are over 18 years old?')
    = render_form_group do
      = render_numeric_input(label: 'How much is your base rent? (This does NOT include utilities or other incidentals.)')
    = render_form_group do
      = render_numeric_input(label: 'As of today, how much do you owe on your rent?')
    = render_form_group do
      = render_form_textarea(label: 'Landlord/Property Owner NAME, PHONE NUMBER, and EMAIL ADDRESS:', rows: 3)

  %section
    %h2.h4 Income Details:
    = render_form_group do
      = render_form_radio_group(name: 'landlord_has_relationship_with_anyone_in_household', legend: 'Does the landlord have a relationship to anyone in the household?', options: yes_no_options)
    = render_form_group do
      = render_form_radio_group(name: 'has_anyone_assisted_with_rent_in_past_12_months', legend: 'Has any person or program assisted in paying rent for your household in past 12 months?', options: yes_no_options)
    = render_form_group do
      = render_form_radio_group(name: 'resident_of_arlington_fort_worth_or_grand_prairie', legend: 'Do you live outside of the following cities: Arlington, Fort Worth, or Grand Prairie?', options: yes_no_options)
    = render_form_group do
      = render_numeric_input(name: 'household_member_gross_income_per_pay_period_or_monthly', label: 'What is the GROSS Income per pay period or Monthly Income for household members over age 18?')

    = render_form_group do
      = render_form_fieldset(legend: 'What forms of income were received within the past 30 days? (All income sources will be counted. Proof of employment termination may be needed.)') do
        = render_form_checkbox(name: "in_past_30_days_had_income_from_ssi", label: "SSI")
        = render_form_checkbox(name: "in_past_30_days_had_income_from_ssdi", label: "SSDI")
        = render_form_checkbox(name: "in_past_30_days_had_income_from_veterans_benefits", label: "Veteran's Benefits")
        = render_form_checkbox(name: "in_past_30_days_had_income_from_food_stamps", label: "Food Stamps")
        = render_form_checkbox(name: "in_past_30_days_had_income_from_child_support", label: "Child Support")
        = render_form_checkbox(name: "in_past_30_days_had_income_from_unemployment", label: "Unemployment")

    = render_form_group do
      = render_form_radio_group(name: 'lost_employment_or_income_in_last_30_days', legend: 'Did you lose employment or have lower income within the past 30 days?', options: yes_no_options)
    = render_form_group do
      = render_form_radio_group(name: 'household_member_notified_of_income_or_state_benefits', legend: 'Has anyone in your household received written notice that they will start receiving income and or state benefits? (Ex: Job offer letter, unemployment benefits, SNAP benefits, child support, etc.)', options: yes_no_options)
