.underline-header.pb-2.mb-4
  %h1= "Case Management Note for #{@patient.name}"
  - unless @note.new_record?
    %small= "Entered by #{@note.user.name}, #{@note.completed_on&.strftime('%b %d, %Y')}"
    %p
  %small Housing status, placement date, and phone number may have been populated from a previous note.
.row
  .col-md-12.col-lg-10.col-xl-8
    = simple_form_for @note, url: form_url, html: {class: 'sdh-cmn-form', data: {url: form_url({format: :js}), multipart: true}} do |f|
      .pt-2
        = f.error_notification
      %section.c-card.c-card--block.mb-6
        .c-card__header.c-card__header--external
          %h3 Note Details
        .c-card__content
          = render 'fields_for_basic_info', f: f
      = render 'activities', f: f
      %section.c-card.c-card--block.mb-6
        .c-card__header.c-card__header--external
          %h3 Additional Questions
        .c-card__content
          = render 'fields_for_additional_questions', f: f
      .form__actions.form__actions--right.mt-4
        = f.submit 'Save Case Note', class: 'btn btn-primary'
