= content_for :crumbs do
  = link_to warehouse_reports_outflow_index_path(filter: filter_options) do
    = "« Client Outflow Report"
- title = @report.metrics[@key]
- content_for :title, title
= content_for :modal_title, title

- if @enrollments.any?
  .d-flex
    %p Showing #{pluralize(@enrollments.count, 'row')}
    .ml-auto
      = link_to details_warehouse_reports_outflow_index_path(filter: filter_options, key: @key, format: :xlsx), class: 'btn btn-secondary btn-sm' do
        %span.icon-download2
        Download
  %table.table.table-sm.mt-4
    %thead
      %tr
        %th Warehouse ID
        %th Name
        %th Project Name
        %th Project Type
        %th First Date In Program
        %th Last Date In Program
        %th Move-in Date
        %th Destination
    %tbody
      - @enrollments.keys.each do |client_id|
      - enrollments = @enrollments[client_id]
        %tr
          - client = enrollments.first.client
          %td{rowspan: enrollments.count+1}
            = link_to_if can_view_clients?, client.id, appropriate_client_path(client.id)
          %td{rowspan: enrollments.count+1}
            = link_to_if can_view_clients?, client.name, appropriate_client_path(client.id)
          - enrollments.each do |enrollment|
            %tr
              %td= enrollment.project&.name(current_user)
              %td= enrollment.service_type_brief
              %td= enrollment.first_date_in_program
              %td= enrollment.last_date_in_program
              %td
                = enrollment.move_in_date if enrollment.move_in_date && enrollment.move_in_date > @filter.start
              %td= HUD.destination(enrollment.destination)
- else
  None found.
