= f.error_notification

.form-inputs.well
  = f.input :name
  %p Choices below will add to the selection of projects.  For instance, if you choose a single project and the project type ES, you will end up with a project group with all emergency shelter projects and the single chosen project.
  .row
    .col-sm-6
      =# f.input :project_ids, collection: @project_group.filter.project_options_for_select(user: current_user), as: :grouped_select_two, group_method: :last, input_html: { multiple: true, placeholder: 'Choose Projects' },label: 'Projects'
      = f.input :project_ids, collection: [], as: :select_two, input_html: { multiple: true, data: { 'collection-path' => api_projects_path(selected_project_ids: @project_group.filter.project_ids) }, placeholder: 'Choose Projects'}, label: 'Projects'
    .col-sm-6
      = f.input :organization_ids, collection: @project_group.filter.organization_options_for_select(user: current_user), as: :grouped_select_two, group_method: :last, input_html: {multiple: true, placeholder: 'Choose Organizations' }, label: 'Organizations', required: false
  .row
    .col-sm-6
      = f.input :project_type_numbers, collection: @project_group.filter.available_project_type_numbers, input_html: { multiple: true, placeholder: 'Choose Project Types' }, label: 'Project Types', as: :select_two
    .col-sm-6
      = f.input :data_source_ids, collection: @project_group.filter.data_source_options_for_select(user: current_user), as: :select_two, input_html: {multiple: true, placeholder: 'Choose Data Sources' }, label: 'Data Sources'
  %h3 Access
  = f.input :users, collection: @groups, as: :grouped_select_two, group_method: :last, selected: @group_ids, input_html: {multiple: :multiple, placeholder: 'Please choose'}, label: 'Users and groups'
