- title = "Edit Project Group: #{@project_group.name}"
= content_for(:title, title)
= render 'breadcrumbs'
%h1= title
.row
  .col-6
    = simple_form_for @project_group, url: project_group_path(@project_group) do |f|
      = render 'form', f: f
      .form-actions.d-flex
        - unless @group_ids.any?
          = link_to project_group_path(@project_group), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?  Deleting this project group cannot be undone, you\'ll need to re-create it manually.'} do
            %i.icon-cross
            Delete Group
        = f.button :submit, class: 'btn btn-primary ml-auto', value: 'Save Project Group'

  .col-6
    - if @project_group.projects.exists?
      %h3 Summary
      .well
        %dl
          %dt Project Types
          %dd= @project_group.projects.map(&:human_readable_project_type).uniq.join(', ')
          %dt PIT Count
          %dd= @project_group.projects.map(&:PITCount).compact.sum
          %dt Project Count
          %dd= @project_group.projects.count
          %dt Projects
          %dd= @project_group.projects.map(&:ProjectName).join(', ')

- if @project_group.any_contacts?
  .mt-6
    %h3 Contacts
    .card
      %table.table.table-striped.mb-0
        %thead
          %tr
            %th Name
            %th Email
        %tbody
          - (@project_group.contacts + @project_group.organization_contacts).map{|m| [m.full_name, m.email]}.uniq.each do |name, email|
            %tr
              %td
                = name
              %td
                = email
.mt-6
  - if @reports.any?
    %h3 Project Data Quality Reports
    .card
      %table.table.table-striped.mb-0
        %thead
          %tr
            %th Date Range
            %th Run On
            %th Completed On
        %tbody
          - @reports.each do |report|
            %tr
              %td
                = link_to report.status, project_group_data_quality_report_path(project_group_id: @project_group.id, id: report.id)
              %td
                = report.started_at
              %td
                = report.completed_at
  - else
    .well
      %p.none-found
        No reports on file
