- title = "Edit Project Group: #{@project_group.name}"
= content_for(:title, title)
%h1= title

= simple_form_for @project_group, url: project_group_path(@project_group) do |f|
  = render 'form', f: f

- if @reports.any?
  %table.table.table-condensed
    %thead
      %tr
        %th Date Range
        %th Run On
        %th Completed On
    %tbody
      - @reports.each do |report|
        %tr
          %td
            = link_to report.status, project_group_data_quality_report_path(project_group_id: @project_group.id, id: report.id)
          %td
            = report.started_at
          %td
            = report.completed_at
- else
  %p
    No reports on file