- title = 'Project Groups'
= content_for(:title, title)
%h1= content_for :title

- @prompt = "Search project groups..."
.row.mb-4
  .col-sm-8
    = render 'search_form'
  .col-sm-4.text-right
    = link_to new_project_group_path, class: 'btn btn-primary mb-2' do
      %span.icon-plus
      Add Project Group
    - if can_import_project_groups?
      = link_to maintenance_project_groups_path, class: 'btn btn-secondary ml-2 mb-2' do
        %span.icon-plus
        Import Project Groups
.alert.alert-info
  %ul
    %li Project Groups are used in some reporting contexts to run project-based reports against multiple related projects.
    %li Access to a project group does not imply access to the projects within the group, projects must still be assigned to users to grant access.
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'project group'

  - input_id = "selections[group][]"
  = simple_form_for :selections, url: delete_multiple_project_groups_path do |f|
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th
              %input#jSelectGroup.jCheckAll{type: :checkbox,}
            %th Name
            %th Project Count
            %th Universe
        %tbody
          - @project_groups.each do |group|
            %tr
              %td.jSelect= f.input_field :group, as: :boolean, checked_value: group.id, unchecked_value: nil, name: input_id, class: 'jSelectGroup'
              %td
                = link_to group.name.presence || 'unnamed', edit_project_group_path(group)
                - if group.used_for_cas_sync?
                  %span.badge.badge-success.ml-3{data: {toggle: :tooltip, title: "Used for syncing clients to CAS"}}
                    CAS
              %th= group.projects.count
              %td.reports.report-parameters-all
                = group.describe_filter_as_html
      .form-actions
        = f.button :submit, "Delete Selected Groups", id: :deleteMultipleButton, data: {confirm: "Are you sure you want to delete these project groups?"}

  = render 'common/pagination_bottom', item_name: 'project group'
- else
  .none-found There are no project groups.

= content_for :page_js do
  :javascript
    $('.jSelect, .jCheckAll').on('change', function(e) {
      anyChecked = $('input[name="selections[group][]"]').toArray().some((e) => e.checked)
      $('#deleteMultipleButton').prop('disabled', !anyChecked)
    });

    $(document).ready(function() {
      $('#deleteMultipleButton').prop('disabled', true)
    });
