- title = 'Project Groups'
= content_for(:title, title)
%h1= content_for :title

- @prompt = "Search project groups..."
.row.mb-4
  .col-sm-8
    = render 'search_form'
  .col-sm-4.text-right
    = link_to new_project_group_path, class: 'btn btn-primary mb-2' do
      %span.icon-plus
      Add Project Group
    - if can_import_project_groups?
      = link_to maintenance_project_groups_path, class: 'btn btn-secondary ml-2 mb-2' do
        %span.icon-plus
        Import Project Groups
.alert.alert-info
  %ul
    %li Project Groups are used in some reporting contexts to run project-based reports against multiple related projects.
    %li Access to a project group does not imply access to the projects within the group, projects must still be assigned to users to grant access.
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'project group'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Project Count
          %th Universe
      %tbody
        - @project_groups.each do |group|
          %tr
            %td
              = link_to group.name, edit_project_group_path(group)
              - if group.used_for_cas_sync?
                %span.badge.badge-success.ml-3{data: {toggle: :tooltip, title: "Used for syncing clients to CAS"}}
                  CAS
            %th= group.projects.count
            %td.reports
              = group.describe_filter_as_html
  = render 'common/pagination_bottom', item_name: 'project group'
- else
  .none-found There are no project groups.
