= simple_form_for @filter, as: :filter, url: warehouse_reports_disabilities_path, html: {method: :post} do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-8
        = render 'warehouse_reports/date_range_filters', f:f
    .row
      .col-sm-4
        = f.input :disabilities, collection: available_disabilities, input_html: { multiple: true, data: {placeholder: "Choose at least one disability type"}, class: :select2 }, label: "Disability type", required: true
      .col-sm-4
        = f.input :project_types, collection: available_project_types, input_html: { multiple: true, data: {placeholder: "Choose at least one project type"}, class: :select2 }, label: "Project type", required: true
    .row
      .col-sm-4
        = f.input :sub_population, collection: available_sub_populations, include_blank: false, input_html: { class: :select2 }
      .col-sm-4
        = f.input :age_ranges, collection: @filter.available_age_ranges, include_blank: false, input_html: { multiple: true, class: :select2 }
      .col-sm-4
        .mt-6
          = f.input :heads_of_household, as: :boolean, label: 'Limit to Heads of Household?'

  - content_for :filter_actions do
    = f.button :submit, value: 'Run Report', data: { disable_with: 'running...' }

  = render 'warehouse_reports/filters', f:f
