- parameters = report.parameters['filter'] || report.parameters
.report-parameters
  - start_date = parameters['start']
  - end_date = parameters['end']
  - if start_date.present?
    .report-parameters__parameter
      %label.label.label-primary.parameter-label
        Range
      %label.label.label-info.parameter-value
        %strong
          = "#{start_date} .. #{end_date}"

  - sub_population = parameters['sub_population'] || :all_clients
  .report-parameters__parameter
    %label.label.label-primary.parameter-label
      Population
    %label.label.label-info.parameter-value
      %strong
      = available_sub_populations.invert[sub_population.to_sym]

- parameters['disabilities'].each do |id|
  - next if id.blank?
  %label.label.label-primary
    %strong
      = ::HUD::disability_types[id.to_i]
  &nbsp;

- parameters['project_types'].each do |id|
  - next if id.blank?
  %label.label.label-default
    %strong
      = ::HUD::project_types[id.to_i]
  &nbsp;