- parameters = report.parameters['filter'] || report.parameters
.report-parameters
  - start_date = parameters['start']
  - end_date = parameters['end']
  - if start_date.present?
    .report-parameters__parameter
      %label.label.label-primary.parameter-label
        Range
      %label.label.label-info.parameter-value
        = "#{start_date} .. #{end_date}"

  - sub_population = parameters['sub_population'] || :clients
  .report-parameters__parameter
    %label.label.label-primary.parameter-label
      Population
    %label.label.label-info.parameter-value
      = available_sub_populations.invert[sub_population.to_sym]
  - age_ranges = parameters['age_ranges']&.reject(&:blank?)
  - if age_ranges.present?
    .report-parameters__parameter
      %label.label.label-primary.parameter-label
        Age Ranges
      %label.label.label-info.parameter-value
        = debug age_ranges
        = age_ranges.map{ |range| @filter.available_age_ranges.invert[range.to_sym] }.join(', ')
  - heads_of_household = parameters['heads_of_household'] == '1'
  - if heads_of_household
    %label.label.label-primary
      Limited to HoH

- parameters['disabilities'].each do |id|
  - next if id.blank?
  %label.label.label-primary
    = ::HUD::disability_types[id.to_i]
  &nbsp;

- parameters['project_types'].each do |id|
  - next if id.blank?
  %label.label.label-default
    = ::HUD::project_types[id.to_i]
  &nbsp;