- title = 'Enrolled Clients with Disabilities'
- content_for :title, title
%h1
  = title
  %br
  %small
    Clients who are currently enrolled in a project in the selected project types who have provided an affirmative answer to the selected disability types.
%hr

= render '/warehouse_reports/breadcrumbs'

= render 'filter'

.warehouse-reports__disabled
  %table.table.table-hover
    %thead
      %tr
        %th Run At
        %th Report Link
        %th Report Parameters
        %th Limited?
        %th Run By
    %tbody.report-listing
      = render 'reports'

= link_to 'Refresh', running_warehouse_reports_disabilities_path, class: 'jReportBlock', remote: true, style: 'display:none', :'data-poll-every' => 30.seconds