= render 'breadcrumbs'
- content_for :title, @generator.title
%header.mb-3
  %h1= content_for :title

.well
  .d-flex
    %h2 Annual PATH Report
    .ml-auto
      = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: download_hud_reports_path_path(@report, format: :xlsx)
      .mt-4
        = link_to({format: :zip},{class: 'btn btn-primary'}) do
          %span.icon-download2
          Download Zip File

  = render 'hud_reports/questions'

.text-right
  = link_to 'Generate New Full Annual PATH Report', new_hud_reports_path_path, class: 'btn btn-secondary'

= render 'hud_reports/reports_wrapper'
