- radio_wrapper_class = if f.options[:wrapper] == :readonly then :readonly else :vertical_collection end
.row
  .col-md-8
    .c-card.mb-4
      .c-card__header.c-card__header--external
        %h3 Investigation Information
      .c-card__content
        = f.input :investigator, label: 'Investigator Name'
        = f.input :date_interviewed, as: :date_picker
        = f.input :alert_in_epic, as: :boolean_button_group, collection: @contact.alert_options, label: 'Alert in EPIC?'
.row
  .col-md-8
    .c-card.mb-4
      .c-card__header.c-card__header--external
        %h3 Contact Information
      .c-card__content
        = f.input :first_name
        = f.input :last_name
        = f.input :aliases
        = f.input :phone_number
        = f.input :address
        = f.input :dob, as: :date_picker
        = f.input :estimated_age
        = f.input :gender, as: :radio_buttons, collection: {'Unknown' => ''}.merge(HUD.genders.invert), wrapper: radio_wrapper_class
        = f.input :race, as: :check_boxes, collection: HUD.races.invert.except('none'), wrapper: radio_wrapper_class
        = f.input :ethnicity, as: :radio_buttons, collection: {'Unknown' => ''}.merge(HUD.ethnicities.invert), wrapper: radio_wrapper_class
        = f.input :preferred_language
        = f.input :relationship_to_index_case
        = f.input :location_of_exposure
        = f.input :nature_of_exposure
        = f.input :location_of_contact
        = f.input :sleeping_location
        = f.input :symptomatic, as: :boolean_button_group, collection: @contact.symptomatic_options, include_blank: true
        = f.input :symptom_onset_date, as: :date_picker
        = f.input :referred_for_testing, as: :boolean_button_group, collection: @contact.referred_options, include_blank: true
        = f.input :test_result, as: :boolean_button_group, collection: @contact.test_result_options, include_blank: true
        = f.input :isolated, as: :boolean_button_group, collection: @contact.yes_no_options, include_blank: true
        = f.input :isolation_location
        = f.input :quarantine, as: :boolean_button_group, collection: @contact.yes_no_options, include_blank: true
        = f.input :quarantine_location
        = f.input :notes, as: :text