.col-md-4
  = f.input :date_interviewed, as: :date_picker
  = f.input :first_name
  = f.input :last_name
  = f.input :aliases
  = f.input :phone_number
  = f.input :address
  = f.input :dob, as: :date_picker
  = f.input :estimated_age
  = f.input :gender, as: :radio_buttons, collection: HUD.genders.invert
  = f.input :race, as: :check_boxes, collection: HUD.races.invert
  = f.input :ethnicity, as: :radio_buttons, collection: HUD.ethnicities.invert
  = f.input :preferred_language
  = f.input :relationship_to_index_case
  = f.input :location_of_exposure
  = f.input :nature_of_exposure
  = f.input :location_of_contact
  = f.input :sleeping_location
  = f.input :symtomatic, as: :radio_buttons, collection: @contact.symptomatic_options
  = f.input :symptom_onset_date, as: :date_picker
  = f.input :referred_for_testing, as: :radio_buttons, collection: @contact.referred_options
  = f.input :test_result, as: :radio_buttons, collection: @contact.test_result_options
  = f.input :isolated, as: :radio_buttons, collection: @contact.yes_no_options
  = f.input :isolation_location
  = f.input :quarantine, as: :radio_buttons, collection: @contact.yes_no_options
  = f.input :quarantine_location
  = f.input :notes, as: :text