= content_for :crumbs do
  = link_to health_he_case_path(id: @case) do
    = "« #{@case.first_name} #{@case.last_name}"
- content_for :title, "Contacts"

= render 'health/he/aliases'
= render 'health/he/tab_navigation', active: :contacts
.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right.mb-4
    = link_to new_health_he_case_contact_path(@case), class: 'btn btn-primary' do
      %span.icon-plus
      Add Contact

.row
  .col-sm
    %table.table
      %thead
        %tr
          %th Name
          %th Date Interviewed
          %th
      %tbody
        - @contacts.each do |contact|
          %tr
            %td= link_to contact.name, edit_health_he_case_contact_path(@case, contact)
            %td= contact.date_interviewed
            %td
              = link_to health_he_case_contact_path(@case, contact), method: :delete, class: 'btn btn-link btn-link--danger' do
                %i.icon-cross