- content_for :title, 'New Contact'
= render 'health/he/aliases'
= render 'health/he/tab_navigation', active: :contacts

%h1= content_for :title

= simple_form_for @contact, url: health_he_case_contacts_path do |f|
  = render 'form', f: f

  = f.submit "Add New Contact"