.well
  .row
    .col-4
      %dl
        %dt Name:
        %dd= @client.name
    .col-4
      %dl
        %dt Date of Birth:
        %dd= @client.DOB
    .col-4
      %dl
        %dt SSN:
        %dd= ssn(@client.SSN)
= simple_form_for @file, url: client_releases_path(client_id: @client) do |f|
  - if @file.errors.any?
    .alert.alert-danger
      %p Failed to upload file. Please review the errors below
      %ul.error_list
        - @file.errors.messages.values.uniq.each do |msg|
          %li= msg.first
  .form-inputs
    - if @consent_file_types.count == 1
      - # we need to include a hidden field for the javascript to work
      - item = @consent_file_types.first
      - options = {class: 'jFileTag'}
      - data = {}
      - if item.consent_form
        - data.merge!({consent: true})
      - if item.coc_available
        - data.merge!({coc_code: true})
      - if item.requires_effective_date
        - data.merge!({requires_effective_date: true})
        - @requires_effective_date = true
      - if item.requires_expiration_date
        - data.merge!({requires_expiration_date: true})
        - @requires_expiration_date = true
      - options.merge!({data: data})
      = render 'clients/files/hidden_tag', item: item, f: f, options: options
    - else
      %h3 What Does This File Contain?
      .c-card.c-card--flush.client-file.mb-6
        .c-card__content.clearfix.row
          .col-sm-6
            .form-group
              %h4= @group_name
              - @consent_file_types.each do |item|
                - options = {class: 'jFileTag'}
                - data = {}
                - if item.note.present?
                  - data.merge!({toggle: :popover, trigger: :manual, title: item.name, content: item.note})
                - if item.consent_form
                  - data.merge!({consent: true})
                - if item.coc_available
                  - data.merge!({coc_code: true})
                - if item.requires_effective_date
                  - data.merge!({requires_effective_date: true})
                  - @requires_effective_date = true
                - if item.requires_expiration_date
                  - data.merge!({requires_expiration_date: true})
                  - @requires_expiration_date = true
                - options.merge!({data: data})
                - if GrdaWarehouse::Config.get(:allow_multiple_file_tags)
                  .checkbox
                    %label
                      = render 'clients/files/multi_tag', item: item, f: f, options: options
                      = item.name
                - else
                  .radio
                    %label
                      = render 'clients/files/single_tag', item: item, f: f, options: options
                      = item.name
                - if item.included_info.present?
                  %p.ml-4
                    %em= "(includes: #{item.included_info})"
    .row.jEffectiveDate
      .col-sm-4
        = f.input :effective_date, as: :date_picker, label: 'Effective date or date signed'
      .col-8.text-right
        = link_to pre_populated_client_releases_path(), class: 'btn btn-secondary jPrePopulated', data: { href: pre_populated_client_releases_path() } do
          %i.icon-printer
          Print Release Form
    - if can_confirm_housing_release? && ! GrdaWarehouse::Config.get(:auto_confirm_consent)
      .consent-form-fields.hidden
        = f.input :consent_form_confirmed, as: :boolean
    .row.jConsentFormCoC
      .col-sm-4
        = f.input :coc_codes, collection: current_user.coc_codes_for_consent, include_blank: 'All CoCs', input_html: { class: :select2, multiple: true }
    .row.jExpirationDate
      .col-sm-4
        = f.input :expiration_date, as: :date_picker, label: 'Expiration date'
    = f.input :file, as: :file, required: true
  .d-flex
    = link_to client_releases_path(client_id: @client), class: 'btn btn-secondary ml-auto' do
      Cancel &amp; Return to File List
    %button.btn.btn-default.ml-4{type: :submit}
      %i.icon-upload2
      Upload File

= content_for :page_js do
  :javascript
    $('.jPrePopulated').on('click', function(e){
      // Grab the values we need
      params = {
        coc_codes: $('.jConsentFormCoC select').val(),
        expiration_date: $('.jExpirationDate input').val(),
        effective_date: $('.jEffectiveDate input').val()
      }
      url = $(this).data('href');
      $(this).attr('href', url + '.pdf?' + $.param(params));
    });