%h1= _('Authorization for Use/Disclosure of Personal Information')
%h2.mb-4= _('Open Path ROI')

%table.table{style: 'max-width: 50%;'}
  %tbody
    %tr
      %th Name:
      %td= @client.FirstName
      %td= @client.MiddleName
      %td= @client.LastName
    %tr
      %td
      %td
        %em First
      %td
        %em Middle
      %td
        %em Last
    %tr
      %th Date of Birth:
      %td
        - if @client.DOB
          = @client.DOB.strftime('%m / %d / %Y')
        - else
          __ / __ / ____
      %th Last 4 digits of SSN:
      %td= @client.SSN[-4..-1]

= simple_format(_('Open Path ROI content'))

%table.table.table-borderless
  %tbody
    %tr
      %th.text-right Participant Signature
      %td{style: 'width: 6in; border-bottom: 1px solid black;'}
      %th.text-right Date/Time
      %td= Time.current.strftime('%m / %d / %Y %l:%M %P')
    %tr
      %th.text-right Print Name
      %td{style: 'width: 6in; border-bottom: 1px solid black;'}
    %tr
      %th.text-right Witness
      %td{style: 'width: 6in; border-bottom: 1px solid black;'}
      %th.text-right Date/Time
      %td= Time.current.strftime('%m / %d / %Y %l:%M %P')
    %tr
      %th.text-right= _('Homeless Service Provider Organization Name')
      %td{style: 'width: 6in; border-bottom: 1px solid black;'}
    %tr
      %th.text-right= _('Name of Staff Assisting with Form Completion')
      %td{style: 'width: 6in; border-bottom: 1px solid black;'}

.row
  .col-12
    = image_tag @coc_map_url, style: 'width: 9in;'
  .col-6
    %h3 Continuum of Care
    %table.table
      %tbody
        - ConsentLimit.find_each do |coc|
          - included = coc.name.in?(selected_coc_codes) || selected_coc_codes.empty?
          %tr
            %td{style: 'width: 0.25in;'}= checkmark_or_x(included)
            %td{style: 'width: 0.5in;'}
              .p-2{style: "background-color: #{coc.color}; width: 0.25in; height: 0.25in;"}
            %td #{coc.description} (#{coc.name})


