= content_for :crumbs do
  = link_to hmis_csv_twenty_twenty_importer_extension_path(@data_source) do
    &laquo; #{@data_source.name} Extensions

%h2
  Edit Importer Extensions for #{@data_source.name}

= simple_form_for :extensions, url: hmis_csv_twenty_twenty_importer_extension_path(@data_source), method: :put do |f|
  - allowed_extensions.each do |extension|
    = f.input extension.to_s, as: :boolean, required: false, label: extension.description, input_html: {checked: extension.checked?(@data_source)}
  = f.submit 'Update Extensions'
