- title = 'Coordinated Access System Decline Reasons'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'
.row
  .col-sm-12
    = render 'filter'

.row
  .col-sm-2.ml-auto.mb-4
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      Download Excel
.row
  .col-sm-12
    .warehouse-reports.card
      %table.table.table-striped
        %thead
          %tr
            %th Program
            %th Sub-Program
            %th Referred
            %th Declined
            %th Canceled


        %tbody
          - if @report.reasons.empty?
            %tr
              %td(colspan=2 style="text-align:center;")
                %em no decline reasons are recorded
          - else
            - @report.referrals_by_agency.each do |(program_name, sub_program_name), referral_count|
              %tr
                %td= program_name
                %td= sub_program_name
                %td= referral_count
                %td
                  - count = @report.declines_by_agency[[program_name, sub_program_name]] || 0
                  - percent = ((count / referral_count.to_f).round(2) * 100).round rescue 0
                  = "#{count} (#{percent}%)"
                %td
                  - count = @report.cancels_by_agency[[program_name, sub_program_name]] || 0
                  - percent = ((count / referral_count.to_f).round(2) * 100).round rescue 0
                  = "#{count} (#{percent}%)"
