.row
  .col-sm-3
    %dl
      %dt Clients Served
      %dd= number_with_delimiter project.clients.count
      %dt Clients Entering
      %dd= number_with_delimiter project.clients.where(first_date_in_program: @report.filter.range).count
      %dt Days of services
      %dd= number_with_delimiter project.clients.sum(:days_served)
      %dt Days in Range
      %dd= number_with_delimiter project.project_pass_fail.filter.range.count
      %dt Average Available Beds per Day
      %dd= number_with_delimiter project.available_beds
    - if can_view_clients? && !@pdf
      = link_to project_pass_fail_warehouse_reports_project_pass_fail_project_path(project.project_pass_fail, project), class: 'btn btn-primary', target: :_blank do
        Client Details
  .col-sm-6
    %table.table
      %tbody
        %tr
          %th Metric
          %th Error Rate
        - project.universal_data_element_rates.each do |label, value|
          - if value
            %tr
              %th= label
              %td= number_to_percentage(value * 100, precision: 2)
    %p Error rates are based on Q6 APR logic.
  .col-sm-3
    %dl
      %dt Minimum Days to Enter
      %dd= project.clients.minimum(:days_to_enter_entry_date)
      %dt Maximum Days to Enter
      %dd= project.clients.maximum(:days_to_enter_entry_date)
