%h3 Selected Universe:
.reports
  = render 'filters/report_parameters', options: @report.options['filters'], report: @report

- if @report.projects.count > 1
  %h2 Overall
  .well.page-break-after
    .d-flex.text-center.justify-content-center.mt-4.mb-6
      .overall-utilization-rate.chunk.mr-4.ml-4
        - status_class = if @report.within_utilization_threshold? then 'text-success' else 'text-danger' end
        .ml-2.mr-2
          %h4.title Overall Utilization Rate
          .d-flex.justify-content-center
            = embedded_svg(:group)
          .metric{class: status_class}
            = number_to_percentage @report.utilization_rate_as_percent, precision: 2
      .overall-universal-data-elements.chunk.mr-auto.ml-auto
        - status_class = if @report.projects_failing_universal_data_elements.zero? then 'text-success' else 'text-danger' end
        .ml-2.mr-2
          %h4.title Projects Failing Universal Data Elements
          .d-flex.justify-content-center
            = embedded_svg('file-text')
          .metric{class: status_class}
            #{number_with_delimiter(@report.projects_failing_universal_data_elements)} of #{@report.projects.count} (#{@report.projects_failing_universal_data_elements_percent} %)
      .overall-timeliness.chunk.mr-4.ml-4
        - status_class = if @report.within_timeliness_threshold? then 'text-success' else 'text-danger' end
        .ml-2.mr-2
          %h4.title Average Days to Enter Enrollments
          .d-flex.justify-content-center
            = embedded_svg(:calendar)
          .metric{class: status_class}
            = number_with_delimiter(@report.average_days_to_enter_entry_date.round)
  %h2 Project Summary
  - @report.projects.each do |project|
    = render 'project_pass_fail/warehouse_reports/project_pass_fail/project_summary', project: project
- else
  - @report.projects.each do |project|
    = render 'project_pass_fail/warehouse_reports/project_pass_fail/project_summary', project: project
