= content_for :crumbs do
  = link_to ma_yya_report_warehouse_reports_report_path(@report) do
    = "« MA YYA Report"

%h1.mb-5
  = @cell

.d-flex.mb-4
  .mr-4
    .input-group
      %input#table_search.form-control{autofocus: true, type: :text, placeholder: 'Search...'}
      %button.btn.btn-secondary Search
  .ml-auto
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      %i.icon.icon-download2
      Download Excel

%p Showing #{pluralize(number_with_delimiter(@members.count), 'client')}.
.card.overflow-x-scroll{style: "height: 800px"}
  %table.table.table-sm.table-bordered.table-fixed.datatable{ style: 'margin-top: 0 !important;'}
    %thead.table-dark
      %tr
        - attributes = @members.first.universe_membership.attribute_names - ['id', 'deleted_at', 'created_at', 'updated_at', 'ethnicity']
        - (['first_name', 'last_name'] + attributes).each do |name|
          %th= name.humanize
    %tbody
      - @members.each do |member|
        - client = member.universe_membership
        - project = client.service_history_enrollment.project
        - next unless project

        - pii_policy = current_user.reporting_policy_for_project(project_id: project.id, mode: :browse)
        %tr
          %td= client.display_value(header: :first_name, value: member[:first_name], pii_policy: pii_policy)
          %td= client.display_value(header: :last_name, value: member[:last_name], pii_policy: pii_policy)
          - client_details = member.universe_membership
          - attributes.each do |attribute|
            - if attribute == 'client_id'
              %td= link_to client.display_value(header: attribute, value: client_details[attribute], pii_policy: pii_policy), client_path(client_details[attribute]), target: '_blank'
            - else
              %td= @report.format_value(client_details[attribute], attribute)

= content_for :page_js do
  :javascript
    let table = $('.datatable').DataTable({
      paging: false,
      "dom": 'lrtip'
    });
    $('#table_search').keyup(function(){
      table.search($(this).val()).draw();
    });
