= content_for :crumbs do
  = link_to ma_yya_report_warehouse_reports_report_path(@report) do
    = "« MA YYA Report"

%h1.mb-5
  = @cell

.d-flex.mb-4
  .mr-4
    .input-group
      %input#table_search.form-control{autofocus: true, type: :text, placeholder: 'Search...'}
      %button.btn.btn-secondary Search
  .ml-auto
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      %i.icon.icon-download2
      Download Excel

%p Showing #{pluralize(number_with_delimiter(@members.count), 'client')}.
.card.overflow-x-scroll{style: "height: 800px"}
  %table.table.table-sm.table-bordered.table-fixed.datatable{ style: 'margin-top: 0 !important;'}
    %thead.table-dark
      %tr
        - @detail_columns.each do |column|
          %th= @report.detail_header_for(column)
    %tbody
      - @members.each do |member|
        - client = member.universe_membership
        - project = client.project
        - next unless project

        - pii_policy = current_user.reporting_policy_for_project(project_id: project.id, mode: :browse)
        %tr
          - @detail_columns.each do |column|
            - case column
            - when :first_name
              %td= client.display_value(header: :first_name, value: member[:first_name], pii_policy: pii_policy)
            - when :last_name
              %td= client.display_value(header: :last_name, value: member[:last_name], pii_policy: pii_policy)
            - when :client_id
              - client_id_value = client[:client_id]
              - display_value = client.display_value(header: :client_id, value: client_id_value, pii_policy: pii_policy)
              %td= link_to display_value, client_path(client_id_value), target: '_blank'
            - else
              %td= @report.format_value(client[column], column.to_s)

= content_for :page_js do
  :javascript
    let table = $('.datatable').DataTable({
      paging: false,
      "dom": 'lrtip'
    });
    $('#table_search').keyup(function(){
      table.search($(this).val()).draw();
    });
