- goal = epic_goal
.panel-group.goal.jGoal{id: "goal-#{goal.id}", data: {goal: goal.id}}
  .panel.panel-default
    .panel-heading
      .row
        .col-md-5
          %h3.section-expander-block__header
            = goal.title
        .col-md-7
          .section-expander-block__expander-region
            .section-expander-block__metadata.text-small
              Last Modified: 
              %strong
                = goal.updated_at.to_date
                = " by #{goal.entered_by}"     
    .panel-collapse{id: "goal-content-#{goal.id}"}
      .panel-body
        .row
          .col-sm-4
            %h4 Objective
            = goal.objective
            %h4 Steps to Reach Goal
            = goal.steps
          .col-sm-8
            %h4 Team Members
            = goal.team