= content_for :crumbs do
  = link_to @report.index_path do
    = "« #{@report.title} Reports"
- content_for :title, @report.title

.d-flex.mb-2
  %h1= content_for :title

.well.mb-4
  .report-parameters
    = @report.describe_filter_as_html(@report.known_params)
    - opts = @report.filter.to_h
    - opts[:default_project_type_codes] = @report.default_project_type_codes
    .ml-auto.nobr
      = render 'filters/view_filter_details', filter_hash: opts, selected_keys: @report.known_params
.mb-8.well
  = render 'live_filter'
= render 'pathways_chart'
.mb-8
  = render 'node_details', pathways: @pathways_chart
= render 'equity_and_time'
