= simple_form_for @filter, as: :filter, url: warehouse_reports_ad_hoc_analysis_index_path,  html: { class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-6
        = render 'warehouse_reports/date_range_filters', f:f
      .col-3
        = f.input :start_age, collection: (0..100), input_html: { class: :select2 }, label: 'Age greater than'
      .col-3
        = f.input :end_age, collection: (0..100), input_html: { class: :select2 }, label: 'Age less than'

    .row.mt-4
      .col-sm-6.mb-4
        = f.input :project_ids, collection: GrdaWarehouse::Hud::Project.options_for_select(user: current_user), as: :grouped_select, group_method: :last, input_html: {multiple: true, class: 'select2'}, label: 'Projects'
      .col-sm-6.mb-4
        = f.input :organization_ids, collection: GrdaWarehouse::Hud::Organization.options_for_select(user: current_user), as: :grouped_select, group_method: :last, input_html: {multiple: true, class: 'select2'}, label: 'Organizations'
      .col-sm-6.mb-4
        = f.input :data_source_ids, collection: GrdaWarehouse::DataSource.source.viewable_by(current_user).pluck(:name, :id), input_html: {multiple: true, class: 'select2'}, label: 'Data Sources'
      .col-sm-6.mb-4
        = f.input :sub_population, collection: GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations, input_html: { class: 'select2' }, label: 'Sub-population'

  - content_for :filter_actions do
    = f.button :submit, value: 'Generate Export'

  = render 'warehouse_reports/filters', f:f, submit_button: nil
