= simple_form_for @filter, as: :filter, url: warehouse_reports_ad_hoc_analysis_index_path,  html: { class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-6
        = render 'warehouse_reports/date_range_filters', f:f
      .col-3
        = f.input :start_age, collection: (0..100), as: :select_two, label: 'Age greater than'
      .col-3
        = f.input :end_age, collection: (0..100), as: :select_two, label: 'Age less than'

    .row.mt-4
      .col-sm-6.mb-4
        = f.input :project_ids, label: 'Projects', collection: [], as: :select_two, input_html: {multiple: true, placeholder: 'Any Project', data: {'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids)}}, include_blank: false
      .col-sm-6.mb-4
        = f.input :organization_ids, collection: @filter.organization_options_for_select(user: current_user), as: :grouped_select_two, group_method: :last, placeholder: 'Any Organization', input_html: {multiple: true }, label: 'Organizations'
      .col-sm-6.mb-4
        = f.input :data_source_ids, collection: @filter.data_source_options_for_select(user: current_user), placeholder: 'Any Data Source', input_html: {multiple: true}, label: 'Data Sources', as: :select_two
      .col-sm-6.mb-4
        = f.input :sub_population, collection: GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations, as: :select_two, label: 'Sub-population', include_blank: false

  - content_for :filter_actions do
    = f.button :submit, value: 'Generate Export'

  = render 'warehouse_reports/filters', f:f, submit_button: nil
