- title = "Ad-Hoc Analysis Export"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'exports'
%p Client selection will be limited to heads of household with open enrollments in any chosen projects, organizations, or data sources within the date range.  Only projects in ES, SO, SH, and TH are included. Calculations of time homeless, episodes, etc. are not limited by the chosen filter options.
= render 'filter'

.warehouse-reports__ad_hoc-export
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'report'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Status
            %th Options
            %th Client Count
            %th Run At
            %th Download
            %th
        %tbody.report-listing.warehouse-reports__completed
          - @reports.each do |report|
            %tr
              %td= report.status
              %th
                = render 'parameters', options: report.options, report: report
              %td= report.client_count
              %td.text-nowrap= report.created_at
              %td
                - if report.completed?
                  = link_to warehouse_reports_ad_hoc_analysis_path(report, format: :xlsx), class: 'btn btn-sm btn-secondary' do
                    Download
              %td
                = link_to warehouse_reports_ad_hoc_analysis_path(report), method: :delete, class: 'btn btn-sm btn-danger btn-icon-only', data: {confirm: "Are you sure you want to delete this report?"} do
                  %i.icon-cross
    = render 'common/pagination_bottom', item_name: 'report'
  - else
    .none-found No reports found.
