- chart_height ||= 800
- chart_class = "#{key}-chart"
- title ||= ''

.d-flex.flex-wrap.justify-content-between.align-items-end.mb-2
  %header.mb-2.mr-4{style: 'flex: 1; min-width: 300px'}
    %h2= title || key.to_s.titleize
    %p.description.mb-0= desc

.well.mb-6.pt-0
  .jChart.c-chart.c-chart--horizontal-bar{class: chart_class}

= content_for :page_js do
  :javascript
    (function($) {
      var columns = #{columns.to_json.html_safe};
      var categories = #{categories.to_json.html_safe};
      var options = {
        height: #{chart_height.to_json.html_safe},
        follow_link: '#{show_client_details?}',
        link_base: 'project_type/details',
        key: '#{key}',
        sub_keys: #{@report.destination_bucket_titles.invert.to_json.html_safe},
        params: #{detail_params.to_json.html_safe},
        date_ranges: {
          report: {
            start_date: '#{@report.start_date}',
            end_date: '#{@report.end_date}'
          },
          comparison: {
            start_date: '#{@comparison.start_date}',
            end_date: '#{@comparison.end_date}'
          }
        }
      };
      var destination_chart = new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.#{chart_class}', columns, categories, options);
    })(jQuery);
