:ruby
  chart_height ||= 400
  chart_class = "#{key}-chart"
  title ||= ''
  summary_datum ||= []
  excluded_categories = local_assigns[:excluded_categories].presence
  legend_id = "legend-#{SecureRandom.hex(8)}"
  bar_chart_options = {
    params: detail_params,
    columns: columns,
    categories: categories,
    legendBindTo: "##{legend_id}",
    options: {
      height: chart_height,
      follow_link: show_client_details?,
      link_base: 'performance_dashboards/project_type/details',
      key: key,
      sub_keys: sub_keys,
      date_ranges: {
        report: {
          start_date: @report.start_date,
          end_date: @report.end_date,
        },
        comparison: {
          start_date: @comparison.start_date,
          end_date: @comparison.end_date,
        }
      },
      showPercentageWithValue: true
    }
  }
  pie_chart_options ||= []

.row
  .col-md-8
    .d-flex.flex-wrap.justify-content-between.align-items-end.mb-2
      %header.mb-2.mr-4{style: 'flex: 1; min-width: 300px'}
        %h2= title || key.to_s.titleize
        %p.description.mb-0= desc

  .col-md-4
    - if @report.include_comparison?
      .mb-1.h5-prs1 Unique #{count_type.to_s.titleize} #{@report.performance_type.pluralize}:
      .mb-1.gray.font-weight-normal
        Reporting Period:
        = number_with_delimiter(client_counts[:report])
      .mb-1.gray.font-weight-normal
        Comparison Period:
        = number_with_delimiter(client_counts[:comparison])
    - else
      .mb-1.gray.font-weight-normal.text-right
        Unique #{count_type.to_s.titleize} #{@report.performance_type.pluralize}:
        = number_with_delimiter(client_counts[:report])

- if summary_datum.any?
  .d-flex.flex-wrap.mb-2
    - summary_datum.each_with_index do |datum, i|
      .d-flex.flex-wrap.mb-2.flex-column.mr-4
        %h3=columns[i].first
        .d-flex.flex-wrap.mb-2
          - datum.flatten.each do |data|
            .hero-prs1
              .hero-label-prs1.h5-prs1= data[:name].capitalize
              .h1.hero-value-prs2.mr-3= data[:value]

.well.mb-6.pt-2
  .chart-legend-prs1{id: legend_id}
  .jChart.c-chart.c-chart--horizontal-bar{ class: chart_class, data: { chart: bar_chart_options.to_json.html_safe } }
  - if pie_chart_options.any?
    .mt-6.row
      - pie_chart_options.each_with_index do |pie_opts, i|
        .col-sm-6
          %h4="#{pie_opts[:title] || 'By Category'} (#{columns[i].first})"
          .jChart.c-chart.c-chart--pie{ class: "#{chart_class}-pie-#{i}", data: { chart: pie_opts.to_json.html_safe } }
