= render '/warehouse_reports/breadcrumbs', tab: 'performance-dashboard'
- title = @report.project_type_title
%h1 #{title} Performance
- id = 'filter'
%section
  #filter-accordion.panel-group.panel-collapsible.mb-0.panel-sibling--below
    - content_for :panel_collapse_content, flush: true do
      = simple_form_for :filters, method: :get do |f|
        = render 'performance_dashboards/filters', f: f
    = render 'common/panel_collapse', id: id, title: 'Universe Selection', default_open: filter_open, wrapper_class: 'mb-0'

  - id = 'active-filters'
  #active-filters-accordion.panel-group.panel-collapsible.panel-sibling--above
    - content_for :panel_collapse_content, flush: true do
      = render 'performance_dashboards/active_filters'
    = render 'common/panel_collapse', id: id, title: 'Summary of Selected Universe', default_open: active_filter_open

%section
  - charts = %w(living_situations destinations lengths_of_time returns)
  - charts.each do |chart|
    %article.mb-6
      = render chart
