= render '/warehouse_reports/breadcrumbs', tab: 'performance-dashboard'
- title = @report.project_type_title
%h1 #{title} Performance
- id = 'filter'
%section
  #filter-accordion.panel-group.panel-collapsible.mb-0.panel-sibling--below
    - content_for :panel_collapse_content, flush: true do
      = simple_form_for :filters, method: :get do |f|
        = render 'performance_dashboards/filters', f: f
    = render 'common/panel_collapse', id: id, title: 'Universe Selection', default_open: filter_open, wrapper_class: 'mb-0'

  - id = 'active-filters'
  #active-filters-accordion.panel-group.panel-collapsible.panel-sibling--above
    - content_for :panel_collapse_content, flush: true do
      = render 'performance_dashboards/active_filters'
    = render 'common/panel_collapse', id: id, title: 'Summary of Selected Universe', default_open: active_filter_open

%section
  - @report.class.available_chart_types.each do |chart|
    %article.mb-6
      .rollup{data: {partial: chart}}
        %p.well.text-center.jRemoveWhenComplete Loading...

-# load in all the bits of aggregate statistics via ajax
= content_for :page_js do
  :javascript
    var section_path = "#{request.path}/section/";
    var sections = new App.Sections.Loader($('.rollup'), section_path, #{params.to_json.html_safe});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.living_situation-chart');
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.destination-chart');
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.returns-chart');
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.length_of_time-chart');



