- @layout__plain_inner = true
- @layout__width = 'lg'
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'performance_dashboards/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'performance'
      = render "utility"
    .top-nav-prs1
      .d-flex.mb-5
        .mr-auto
          %h1 #{@report.project_type_title} Performance
        .ml-3
          = render 'performance_dashboards/report_download', export: @pdf_export, excel_download_path: download_performance_dashboards_project_type_index_path
      .mb-5= render 'performance_dashboards/overview/hero_counts'
      %div
        %div(style='margin-bottom: 2em')= render 'performance_dashboards/overview/universe_selection'
    .main-inner-prs1
      %section
        - @report.class.available_chart_types.each do |chart|
          %article.mb-6
            .rollup{data: {partial: chart}}
              %p.well.text-center.jRemoveWhenComplete Loading...

-# load in all the bits of aggregate statistics via ajax
= content_for :page_js do
  :javascript
    var section_path = "#{request.path}/section/";
    var sections = new App.Sections.Loader($('.rollup'), section_path, #{params.to_json.html_safe});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.living_situation-chart', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.Pie('.jChart.living_situation-chart-pie-0', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.Pie('.jChart.living_situation-chart-pie-1', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.destination-chart', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.Pie('.jChart.destination-chart-pie-0', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.Pie('.jChart.destination-chart-pie-1', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.returns-chart', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.Pie('.jChart.returns-chart-pie-0', {remote: true});
    new App.WarehouseReports.PerformanceDashboards.HorizontalBar('.jChart.length_of_time-chart', {remote: true});
