- content_for :title, @report.title

= render '/warehouse_reports/breadcrumbs', tab: 'operational'
%h1.mb-5= @report.title
.mt-4
  = render '/warehouse_reports/twenty_twenty_four_warning'
= render 'form'
= render 'history_table'
