= render 'breadcrumbs'

- content_for :title, @report.title
%h1= content_for :title
%p.mb-2= @report.description
%p= "Created by #{@report.user.name_with_email} on #{@report.completed_at.to_date}"

.well.report-listing.warehouse-reports__completed.d-flex.justify-content-between
  .pl-0.w-50
    %h3 Universe
    = @report.describe_filter_as_html
  .ml-auto
    - if can_view_all_hud_reports? || can_view_own_hud_reports?
      %h3 SPM Reports
      - @report.spms.order(start_date: :asc).each do |spm|
        .ml-auto
          = link_to "#{spm.start_date} - #{spm.end_date}", hud_reports_spm_path(spm.spm_id), target: :_blank, class: 'btn btn-sm btn-secondary mb-2'


- @report.spm_measures.each do |measure, tables|
  %h2= "#{measure}: #{@report.spm_describe(measure)}"
  .well
    - tables.each do |table, cells|
      - cells.each do |cell|
        %h3
          = "Table #{table}:"
          = @report.spm_describe(table)
          = @report.spm_describe(table, cell)
        .chart{id: "spm_#{table.gsub('.', '_')}_#{cell}"}
        = content_for :page_js do
          :javascript
            options = {
              data: {
                x: 'x',
                columns: #{@report.chart_data(measure, table, cell).to_json.html_safe},
                type: 'line',
              },
              axis: {
                x: {
                  type: 'timeseries',
                  padding: { right: 15000*60*60*24 },
                  tick: {
                    format: '%b %Y'
                  }
                },
                y: {
                  padding: 0,
                  tick: {
                    culling: { max: 5, lines: true }
                  }
                }
              },
              bindto: "\#spm_#{table.gsub('.', '_')}_#{cell}"
            };

            // Tables 2 and 7 should be 0-100 (and labeled as percentage)
            if (['Measure 2', 'Measure 7'].includes('#{measure}')) {
              options.axis.y.max = 100;
              options.axis.y.min = 0;
              options.axis.y.tick.format = function(y) { return y + '%' }
            }

            bb.generate(options)
