- title = "Clients with future enrollments"
- content_for :title, title
- et = GrdaWarehouse::Hud::Enrollment.arel_table
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
= render 'warehouse_reports/limited_by_project_note'

- if @pagy.count.positive?
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .warehouse-reports__missing-projects.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Last Name
          %th First Name
          %th Future Enrollment
          %th Data Source
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to_if can_view_clients?, client.LastName.tr(' ', '⎵'), appropriate_client_path(client)
            %td= link_to_if can_view_clients?, client.FirstName.tr(' ', '⎵'), appropriate_client_path(client)
            %td= client.source_enrollments.where(et[:EntryDate].gt(Date.current)).map{|m| "#{m.EntryDate} at #{m.project.name}"}.join(', ')
            %td= client.source_clients.map{|m| m.data_source.short_name}.uniq.join(', ')

  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found No clients found.
