- title = "Clients with future enrollments"
- content_for :title, title
- et = GrdaWarehouse::Hud::Enrollment.arel_table
%h1= title
.warehouse-reports__missing-projects
  %p= page_entries_info @clients
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Last Name
        %th First Name
        %th Future Enrollment
        %th Data Source
    %tbody
      - @clients.each do |client|
        %tr
          %td= link_to client.LastName.tr(' ', '⎵'), client_path(client)
          %td= link_to client.FirstName.tr(' ', '⎵'), client_path(client)
          %td= client.source_enrollments.where(et[:EntryDate].gt(Date.today)).map{|m| "#{m.EntryDate} at #{m.project.name}"}.join(', ')
          %td= client.source_clients.map{|m| m.data_source.short_name}.uniq.join(', ')
%p= paginate @clients