= simple_form_for @careplan, url: @form_url do |f|
  = f.error_notification
  %section.row
    .col-sm-6.col-lg-4
      = f.input :initial_date, as: :date_picker, input_html: { class: :jInitialDate, value: f.object.initial_date&.to_date || Date.today }
    .col-md-6.col-lg-4
      = f.input :review_date, as: :date_picker, label: 'Review Date (defaults to 6 months from initial Date)', input_html: { class: :jReviewDate, value: f.object.review_date&.to_date || f.object.initial_date&.to_date.try(:+, 6.months) || Date.today + 6.months }, wrapper_html: {class: 'form-group--hanging-label'}

  %section.health__team
    .c-card
      .c-card__header.c-card__header--external
        %h3 Care Team Members
        = link_to polymorphic_path([:new] + careplan_path_generator + [:team, :member], careplan_id: @careplan.id), class: 'btn btn-secondary btn-sm ml-auto', data: { loads_in_pjax_modal: true } do
          %i.icon-plus
          Add Team Member
      .c-card__content
        .row.health__team-members
          - if @careplan.team_members.any?
            - @careplan.team_members.each do |member|
              = render 'window/health/team_members/team_member', member: member, restore: false

          - else
            %p.no-data
              No team members currently.
              = link_to polymorphic_path([:new] + careplan_path_generator + [:team, :member], careplan_id: @careplan.id), data: { loads_in_pjax_modal: true } do
                Add team member

  %section.row.health-care-plan__about-me.row
    .col-sm-10.col-lg-8
      - sized_textarea_html = {class: 'sized'}
      %h3 About Me
      = f.input :patient_health_problems, label: 'My Health Problems', as: :text, input_html: sized_textarea_html
      = f.input :patient_strengths, label: 'My Strengths', as: :text, input_html: sized_textarea_html
      = f.input :patient_goals, label: 'My Goals', as: :text, input_html: sized_textarea_html
      = f.input :patient_barriers, label: 'My Barriers', as: :text, input_html: sized_textarea_html

  %section.health-care-plan__goals.row
    .col-sm-10.col-lg-8
      .c-card
        .c-card__header.c-card__header--external
          %h3 Goals
          = link_to polymorphic_path([:new] + careplan_path_generator + [:goal], careplan_id: @careplan.id), class: 'btn btn-secondary btn-sm ml-auto', data: { loads_in_pjax_modal: true } do
            %i.icon-plus
            Add Goal
        .c-card__content.health-care-plan__goal-list
          - if @careplan.hpc_goals.any?
            - @careplan.hpc_goals.each_with_index do |goal, index|
              = render goal, readonly: true, index: index + 1
          - else
            %p.no-data
              No goals currently.
          .c-card__internal-primary-action
            = link_to polymorphic_path([:new] + careplan_path_generator + [:goal], careplan_id: @careplan.id), class: 'btn btn-secondary', data: { loads_in_pjax_modal: true } do
              %i.icon-plus
              Add Goal


  %section.health-care-plan__services
    = render 'window/health/careplans/service_list'

  %section.health-care-plan__equipments
    = render 'window/health/careplans/equipment_list'

  %section.c-card
    .c-card__header.c-card__header--external
      %h3 Responsible Parties
    .c-card__content
      .row.mb-4
        .col-md-6
          .form-group.mb-3
            %label.control-label.optional Patient
            .controls.form-control.form-control-faux
              = @patient.name
          = f.input :patient_signed_on, as: :date_picker, label: 'Date Signed'
        - select2_input_html = { class: [:select2, 'select2--full-width'] }
        - select2_wrapper_html = {class: 'mb-3'}
      .row
        .col-md-4.border-r
          = f.input :responsible_team_member_id, label: 'Team Member', collection: @careplan.team.available_members, input_html: select2_input_html, wrapper_html: select2_wrapper_html
          = f.input :responsible_team_member_signed_on, as: :date_picker, label: 'Date Signed'
        .col-md-4.border-r
          = f.input :representative_id, label: 'Designated Representative', collection: @careplan.team.available_members, input_html: select2_input_html, wrapper_html: select2_wrapper_html
          = f.input :representative_signed_on, as: :date_picker, label: 'Date Signed'
        .col-md-4
          = f.input :provider_id, label: 'Primary Care Provider', collection: @careplan.team.available_members, input_html: select2_input_html, wrapper_html: select2_wrapper_html
          = f.input :provider_signed_on, as: :date_picker, label: 'Date Signed'

    .form__actions.mt-6.mb-8
      .c-btn-group
        = link_to polymorphic_path(careplan_path_generator, id: @careplan), method: :delete, class: 'btn btn-danger', data: {confirm: "Would you really like to delete the Care Plan?"} do
          %i.icon-cross
          Delete Care Plan
      .c-btn-group.ml-auto
        = f.button :submit, @form_button



= javascript_include_tag 'moment.min.js'
= content_for :page_js do
  :javascript

    $('.jInitialDate').on('change', function(e) {
      var initial_date = moment($(this).val()).format("MMM DD, YYYY");
      var review_date = moment(initial_date).add(6, 'months');
      $('.jReviewDate').val(review_date.format("MMM DD, YYYY"));
    });
