= simple_form_for @careplan, url: @form_url do |f|
  
  = f.input :patient_signed_on, as: :date_picker
  = f.input :provider_signed_on, as: :date_picker

  .health__team
    %h3 Care Team Members
    .health__team-members
      - if @careplan.team_members.any?
        - @careplan.team_members.each do |member|
          = render 'window/health/team_members/team_member', member: member
            
      - else
        %p No team members currently.
    .links
      = link_to polymorphic_path([:new] + careplan_path_generator + [:team, :member], careplan_id: @careplan.id), class: 'btn btn-secondary', data: { loads_in_pjax_modal: true } do
        %i.icon-plus
        Add Team Member

  = f.button :submit, @form_button