%section.c-card.c-card--block.c-card--no-padding
  .c-card__header.c-card__header--external
    %h2 Current Care Team
  - team = @patient.careplans.order(id: :desc).limit(1).first&.team
  - if team.blank? || team&.members&.blank?
    .c-card__content.c-card__content--flush.w-100
      %p.no-data No team on file
  - else
    - team.members.each do |member|
      .c-card__item
        .c-card__item-header.ml-0.mr-0.mb-0.health__team-members
          .health__team-member--type
            %i{class: Health::Team::Member.icon_for(member.member_type_name)}
            = member.member_type_name
        .c-card__content.mt-0.health__team-member--name
          = member&.full_name
          %br
          = member&.organization
          %br
          = mail_to member.email, subject: 'Collaborative Care Plan' do
            %i.icon-envelope-o
            = member&.email
          - if member.phone?
            %br
            = member.phone