.c-card
  .c-card__header.c-card__header--external
    %h3 Services
  .c-card__content.c-card__content--flush
    - if @careplan.service_archive.any?
      %table.table.health-care-plan__services-list
        %thead
          %tr
            %th Type
            %th Provider
            %th Hours
            %th Days
            %th Requested On
            %th Effective Date
            %th End Date
        %tbody
          - @careplan.service_archive.each do |service|
            - service = service.with_indifferent_access
            %tr
              %td= service[:service_type]
              %td= service[:provider]
              %td= service[:hours]
              %td= service[:days]
              %td= service[:date_requested]
              %td= service[:effective_date]
              %td= service[:end_date]
    - else
      %p.no-data Currently no services.
