%h3 Services
%table.table.health-care-plan__services-list
  %thead
    %tr
      %th Type
      %th Provider
      %th Hours
      %th Days
      %th Requested On
      %th Effective Date
      %th End Date
  %tbody
    - @careplan.service_archive.each do |service|
      - service = service.with_indifferent_access
      %tr
        %td= service[:service_type]
        %td= service[:provider]
        %td= service[:hours]
        %td= service[:days]
        %td= service[:date_requested]
        %td= service[:effective_date]
        %td= service[:end_date]