= wicked_pdf_stylesheet_link_tag 'print', media: 'print'

- title = "Care Plan for #{@patient.name} as of #{Date.today}"
- content_for :title, title

.l-print
  %article.l-print__section
    %ul.l-print__summary-items
      %li
        %dl
          %dt Initial Date
          %dd= @careplan.initial_date&.to_date
      %li
        %dl
          %dt Review Date
          %dd= @careplan.review_date&.to_date

  %article.l-print__section
    %h1 Care Team Members
    %table.health__team
      %thead
        %tr
          %th Capacity
          %th Name
          %th Organization
          %th Contact
      %tbody
        - @careplan.team_members.each do |member|
          %tr
            %td= member.member_type_name
            %td= member.full_name
            %td= member.organization
            %td
              %p= member.email
              %p= member.phone


  %article.health-care-plan__about-me.l-print__section--page
    %h1 About Me
    .l-print__item
      %h4 My Health Problems
      = simple_format @careplan.patient_health_problems
    .l-print__item
      %h4 My Strengths
      = simple_format @careplan.patient_strengths
    .l-print__item
      %h4 My Goals
      = simple_format @careplan.patient_goals
    .l-print__item
      %h4 My Barriers
      = simple_format @careplan.patient_barriers

  %article.health-care-plan__goals.l-print__section--page
    %h1 Goals
    .l-print__item-wrapper
      - @careplan.goals.each do |goal|
        .l-print__item.l-print__item--bordered
          %dl
            %dt Responsible Care Team Member
            - responsible_team_member = @careplan.team.available_members.to_h.invert[goal.responsible_team_member_id] || 'No responsible team member'
            %dd{class: ('minor-text' unless responsible_team_member)}= responsible_team_member

            %dt Start Date
            %dd= goal.start_date

            %dt Status
            %dd= goal.status

            %dt Problem
            %dd= simple_format goal.problem

            %dt Goal Description
            %dd= simple_format goal.goal_details

            %dt Intervention
            %dd= simple_format goal.intervention

  %article.health-care-plan__services.l-print__section--page
    = render 'window/health/careplans/service_list'

  %article.health-care-plan__equipments.l-print__section--page
    = render 'window/health/careplans/equipment_list'

  %article.health-care-plan__responsible-parties.l-print__section--page
    %h1 Responsible Parties

    %dl.l-print__item
      %dt.inline Patient:
      %dd.inline= @patient.name
      %dd.l-print__signature &nbsp;
      %dt.inline Signed On:
      %dd.inline= @careplan.patient_signed_on&.to_date

    %dl.l-print__item
      %dt.inline Responsible Team Member:
      %dd.inline= @careplan.responsible_team_member&.full_name
      %dd.l-print__signature &nbsp;
      %dt.inline Signed On:
      %dd.inline= @careplan.responsible_team_member_signed_on

    %dl.l-print__item
      %dt.inline Representative:
      %dd.inline= @careplan.representative&.full_name
      %dd.l-print__signature &nbsp;
      %dt.inline Signed On:
      %dd.inline= @careplan.representative_signed_on

    %dl.l-print__item
      %dt.inline Provider:
      %dd.inline= @careplan.provider&.full_name
      %dd.l-print__signature &nbsp;
      %dt.inline Signed On:
      %dd.inline= @careplan.provider_signed_on&.to_date


  %article.health-care-plan__ssm.l-print__section--page.no-break
    %h1 Self-Sufficiency Matrix
    = render 'window/health/self_sufficiency_matrix_forms/show'

  %article.health-care-plan__cha
    %h1 Comprehensive Health Assessment
    = render 'window/health/comprehensive_health_assessments/show'
