.pctp__signature.mb-4
  - if careplan.patient_signed_on
    = checkmark(true)
    Patient Signature (#{careplan.patient_signed_on&.to_date})
  - else
    - if doc.signature_request_id.blank?
      - url = polymorphic_path(careplan_path_generator + [:signable_documents], {client_id: @client.id, careplan_id: careplan.id, post_sign_path: url_for, sign_out: true})
      - method = :post
    - else
      - url = polymorphic_path([:signature] + careplan_path_generator + [:signable_document], {client_id: @client.id, careplan_id: careplan.id, id: doc.id, email: @patient.current_email, hash: doc.signer_hash(@patient.current_email), post_sign_path: url_for, sign_out: true})
      - method = :get
    = link_to url, method: method, class: 'btn btn-sm btn-secondary' do
      Get Patient Signature
.pctp__signature
  - if careplan.provider_signed_on
    = checkmark(true)
    PCP Signature (#{careplan.provider_signed_on&.to_date})
  - elsif careplan.pcp_signature_requests.exists?
    - pcp_signature_request = careplan.pcp_signature_requests.order(created_at: :desc).limit(1).first
    - if pcp_signature_request.signed?
      = checkmark(true)
      PCP Signature (#{pcp_signature_request.completed_at.to_date})
    - elsif pcp_signature_request.expired?
      .pctp__signature-expired
        PCP Signature request expired

      = link_to polymorphic_path(careplan_path_generator + [:pcp_signature_request], {client_id: @client.id, careplan_id: careplan.id, id: pcp_signature_request.id}), method: :delete, class: 'btn btn-sm btn-secondary' do
        Cancel this PCP Signature Request
    - elsif pcp_signature_request.outstanding? && pcp_signature_request.sent_at
      .pctp__signature-pending
        PCP signature requested on #{pcp_signature_request.sent_at.strftime('%b %e, %Y at %I:%M%P')} from #{pcp_signature_request.to_name} by #{pcp_signature_request.requestor_name}.
      = link_to polymorphic_path(careplan_path_generator + [:pcp_signature_request], {client_id: @client.id, careplan_id: careplan.id, id: pcp_signature_request.id}), method: :delete, class: 'btn btn-sm btn-secondary' do
        Cancel this PCP Signature Request
    - else
      PCP signature request queued to send.
  - else
    .btn-group
      %button.btn.btn-sm.btn-secondary.dropdown-toggle{type: :button, data: {toggle: :dropdown}, aria: {haspopup: :true, expanded: :false}}
        Get PCP Signature
        %span.caret
      %ul.dropdown-menu
        %li
          - url = polymorphic_path([:new] + careplan_path_generator + [:pcp_signature_request], {client_id: @client.id, careplan_id: careplan.id})
          = link_to url, data: {loads_in_pjax_modal: true} do
            Send to PCP via email
        %li
          %a{href: '#'}
            Send request to ACO Contact
        %li
          = link_to polymorphic_path([:edit] + careplan_path_generator, id: careplan, anchor: 'upload_file') do
            Upload signed pdf

      - if false
        - if doc.signature_request_id.blank?
          - url = polymorphic_path(careplan_path_generator + [:signable_documents], {client_id: @client.id, careplan_id: careplan.id, post_sign_path: url_for, sign_out: true})
          - method = :post
        - else
          - url = polymorphic_path([:signature] + careplan_path_generator + [:signable_document], {client_id: @client.id, careplan_id: careplan.id, id: doc.id, email: @patient.current_email, hash: doc.signer_hash(@patient.current_email), post_sign_path: url_for, sign_out: true})
          - method = :get
        = link_to url, method: method, class: 'btn btn-sm btn-secondary' do
          Get PCP Signature