- if @patient.ssms.any?
  %table.table.table-condensed.datatable-ssm
    %thead
      %tr
        %th Assessment
        %th Date Completed
        %th Case Manager
    %tbody
      - @patient.ssms.each do |form|
        %tr
          - if form.is_a? Health::SelfSufficiencyMatrixForm
            %td
              = link_to polymorphic_path(self_sufficiency_matrix_form_path_generator, client_id: @client.id, id: form.id), data: { loads_in_pjax_modal: true } do
                %h4 SSM
            %td= form.completed_at&.to_date || 'in progress'
            %td= form&.user&.name
          - if form.is_a? GrdaWarehouse::HmisForm
            %td
              = link_to assessment_client_path(id: form.id), data: { loads_in_pjax_modal: true } do
                %h4=form.assessment_type
                .padding-left-02 From Eto
          - if form.is_a? Health::EpicSsm
            %td
              = link_to polymorphic_path(health_path_generator + [:epic_ssm], id: form.id), data: { loads_in_pjax_modal: true } do
                %h4 SSM
                .padding-left-02 From Epic
            %td= form.ssm_updated_at&.to_date
            %td= form.staff

- else
  %p.no-data No Self-Sufficiency Assessment on file
