- wrapper = if @readonly then :readonly else SimpleForm.default_wrapper end
- @any_editable = @patient.careplans.editable.exists?
%section.c-card.c-card--block.c-card--no-padding
  .c-card__header.c-card__header--external
    %h2 Person-Centered Treatment Plan
    - unless @any_editable
      = link_to polymorphic_path([:new] + careplan_path_generator), class: 'btn btn-secondary btn-sm' do
        %i.icon-plus
        Create a Care Plan
  .c-card__content.c-card__content--flush
    - if @careplans.present?
      %table.table.table-responsive
        %thead
          %tr
            %th{style: 'width: 10em;'}
            %th Initiated
            %th Signatures
            %th Downloadable Care Plan

        %tbody
          - @careplans.each do |careplan|
            - doc = careplan.primary_signable_document || Health::SignableDocument.new
            %tr
              %td
                .d-flex.flex-column.align-items-start.flex-wrap
                  - if careplan.editable?
                    .mr-auto
                      = link_to polymorphic_path([:edit] + careplan_path_generator, id: careplan) do
                        %i.icon-pencil
                        Edit
                  - elsif ! @any_editable
                    .w-100.mb-4
                      = link_to polymorphic_path([:revise] + careplan_path_generator, id: careplan) do
                        %i.icon-copy.mr-2
                        Make Copy
                    .w-100
                      = link_to polymorphic_path([:edit] + careplan_path_generator, id: careplan) do
                        %i.icon-pencil.mr-2
                        Update Signature Dates
              %td= careplan.initial_date&.to_date
              %td
                = render 'signatures', careplan: careplan
              %td
                = render "signable_document", careplan: careplan
              - if false
                %td
                  - if careplan.patient_signed_on
                    - if doc.present? && doc.health_file_id
                      = link_to polymorphic_path(health_path_generator + [:file], client_id: @client.id, id: doc.health_file_id) do
                        = careplan.patient_signed_on&.to_date
                    - else
                      = careplan.patient_signed_on&.to_date
                  - else
                    - if doc.signature_request_id.blank?
                      - url = polymorphic_path(careplan_path_generator + [:signable_documents], {client_id: @client.id, careplan_id: careplan.id, post_sign_path: url_for})
                      = link_to url, method: :post, class: 'btn btn-sm btn-secondary' do
                        Collect patient signature

                    - elsif !doc.signed_by?('patient@openpath.biz')
                      - url = polymorphic_path([:signature] + careplan_path_generator + [:signable_document], {client_id: @client.id, careplan_id: careplan.id, id: doc.id, email: 'patient@openpath.biz', hash: doc.signer_hash('patient@openpath.biz'), post_sign_path: url_for, sign_out: true})
                      = link_to url, class: 'btn btn-sm btn-secondary' do
                        Collect patient signature

    - else
      = render 'no_careplan_on_file'
