- if @patient.ssms.any?
  %table.table.table-condensed.datatable-ssm
    %thead
      %tr
        %th Assessment
        %th Date Completed
        %th Case Manager
    %tbody
      - @patient.ssms.each do |form|
        %tr
          - if form.is_a? Health::SelfSufficiencyMatrixForm
            %td= link_to 'Self-Sufficiency Matrix', polymorphic_path(self_sufficiency_matrix_form_path_generator, client_id: @client.id, id: form.id), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
            %td= form.completed_at&.to_date || 'in progress'
            %td= form.user.name
          - if form.is_a? GrdaWarehouse::HmisForm
            %td= link_to form.assessment_type, assessment_client_path(id: form.id), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
            %td= form.collected_at.to_date
            %td= form.staff

- else
  %p.no-data No Self-Sufficiency Assessment on file

= content_for :page_js do
  :javascript
    $('.datatable-ssm').DataTable({
      searching: false,
      ordering: false,
      pageLength: 20,
      lengthChange: false,
      pagingType: 'simple'
    })
