%p If the Care Plan was conducted on paper, you may upload a scanned PDF here. You will still need to note signature dates above.
.row
  .col-sm-12
    = render 'window/health/health_files/form_fields', f: f, include_submit: false
  -#
    - if f.object.can_display_health_file?
      - download_path = f.object.downloadable? ? polymorphic_path([:download] + careplan_path_generator, client_id: @client.id, id: @careplan.id ) : 'javascript:void(0)'
      - download_data = f.object.downloadable? ? {} : {confirm: 'Form errors must be fixed before you can download this file.'}
      - remove_path = f.object.persisted? ? polymorphic_path([:remove_file] + careplan_path_generator, client_id: @client.id, id: @careplan.id ) : '#'
      = render 'window/health/health_files/display', download_path: download_path, download_data: download_data, remove_path: remove_path, filename: f.object.health_file&.name
      = f.simple_fields_for :health_file do |hf|
        = hf.input :file, as: :file, input_html: {style: 'display:none;'}, label: false
        = hf.input :file_cache, as: :hidden
    - elsif f.object.health_file.present?
      = f.simple_fields_for :health_file do |hf|
        = hf.input :file, as: :file
        = hf.input :file_cache, as: :hidden
    - else
      = f.simple_fields_for :health_file, Health::CareplanFile.new() do |hf|
        = hf.input :file, as: :file
        = hf.input :file_cache, as: :hidden

-#
  %p If the Care Plan was conducted on paper, you may upload a scanned PDF here. You will still need to note signature dates above.
  .row
    .col-sm-12
      = simple_form_for @careplan, url: polymorphic_path([:upload] + careplan_path_generator, client_id: @client.id, id: @careplan.id), as: :form, multipart: true do |f|
        - error_messages = @careplan.errors.full_messages
        - if error_messages.size == 1 && error_messages[0] == "Provider can't be blank"
          - if @careplan.health_file.present?
            .alert.alert-danger Please review the problems above:
        - else
          = f.error_notification
        .row
          .col-sm-6
            = f.input :file, as: :file
          .col-sm-6
            - if @careplan.health_file.present?
              .form-group
                %label Existing File
                %div
                  .btn-group.existing-file
                    = link_to polymorphic_path([:download] + careplan_path_generator, client_id: @client.id, id: @careplan.id ), class: 'btn btn-default' do
                      = @careplan.health_file&.name
                    = link_to polymorphic_path([:remove_file] + careplan_path_generator, client_id: @client.id, id: @careplan.id ), class: 'btn btn-danger', method: :delete, remote: true do
                      %span.icon-cross{ style: "color:white; margin:0" }

        .d-flex
          .ml-auto
            = f.button :submit, 'Save', data: { disable_with: 'Uploading...' }, style: 'background-color: #3c6776'