- if @report&.report.try(:[], 'enrolled_length_of_stay').present?
  - project_counts = @report.report.with_indifferent_access[:enrolled_length_of_stay][:projects]
  - totals = @report.report.with_indifferent_access[:enrolled_length_of_stay][:totals]
  - buckets = @report.class.length_of_stay_buckets
  .row
    .col-sm-4
      %h3 Length of Stay
    .col-sm-8
      = render 'length_of_stay_description'  
  .well.overflow-scroll
    %table.table.data-quality__table
      %thead
        %tr
          %th Project Name
          %th Project Type
          %th
            Average Length of Stay
          - buckets.each_with_index do |(title, _), index|
            - odd_class = if index % 2 != 1 then 'data-quality__odd-columns' else '' end 
            %th{class: odd_class}= title
      %tbody
        - @report.projects.each do |project|
          - p_type = ::HUD.project_type_brief(project.ProjectType)
          - p_class = "client__service_type_#{p_type}"
          %tr
            %td
              = project.name(current_user)
            %td
              %span{class: "client__service_type_#{project.ProjectType}"}
                .enrollment__project_type{class: p_class}
                  %em.service-type__program-type= p_type
            %td.text-center
              = project_counts[project.id.to_s][:average]
            - buckets.each_with_index do |(_, range), index|
              - odd_class = if index % 2 != 1 then 'data-quality__odd-columns' else '' end 
              %td.text-center{class: odd_class}
                - measure = project_counts[project.id.to_s][:counts][range.to_s]
                - if measure.present?
                  - key = "enrolled_length_of_stay_#{project.id}_#{range}"
                  - if measure > 0
                    = link_to polymorphic_path(support_path, {key: key}), data: {loads_in_pjax_modal: true} do
                      = measure
                  - else
                    = measure
      - if @report.projects.count > 1
        %tfoot
          %tr
            %th.text-right{colspan: 2} Totals
            %td.text-center
              = totals[:average]
            - buckets.each_with_index do |(_, range), index|
              - odd_class = if index % 2 != 1 then 'data-quality__odd-columns' else '' end 
              %td.text-center{class: odd_class}
                - measure = totals[:buckets][range.to_s]
                - key = "enrolled_length_of_stay_totals_#{range}"
                - if measure.present? && measure > 0
                  = link_to polymorphic_path(support_path, {key: key}), data: {loads_in_pjax_modal: true} do
                    = measure
                - else
                  = measure