- safe_project_name = @project.name(current_user, ignore_confidential_status: can_edit_projects?)
= content_for :crumbs do
  = link_to project_path(@project) do
    = "« #{safe_project_name}"
- content_for :title, "Project Data Quality Reports for #{safe_project_name} at #{@project.organization.OrganizationName}"
%h1= content_for :title

- if @reports.any?
  %table.table.table-sm
    %thead
      %tr
        %th Date Range
        %th Run On
        %th Completed On
    %tbody
      - @reports.each do |report|
        %tr
          %td
            = link_to report.status, project_data_quality_report_path(project_id: @project.id, id: report.id)
          %td
            = report.started_at
          %td
            = report.completed_at
- else
  %p
    No reports on file