- content_for :title, "Project Data Quality Reports for #{@project.ProjectName} at #{@project.organization.OrganizationName}"
%h1= content_for :title

- if @reports.any?
  %table.table.table-condensed
    %thead
      %tr
        %th Date Range
        %th Run On
    %tbody
      - @reports.each do |report|
        %tr
          %td
            = link_to report.status, project_data_quality_report_path(project_id: @project.id, id: report.id)
          %td
            = report.completed_at
- else
  %p
    No reports on file