- content_for :title, "Project Data Quality Report for #{@project.ProjectName} at #{@project.organization.OrganizationName}"
%h1= content_for :title

= render 'summary'
= render 'grading_scale'
= render 'bed_utilization'
= render 'missing_values'
= render 'length_of_stay'
- if @report.processing_errors.present?
  .alert.alert-danger
    Processing error:
    = JSON.parse(@report.processing_errors).first
- elsif @report.report.present?
  = render 'report_table'
