= content_for :modal_title do
  = "Project Data Quality Report for #{@project.ProjectName} at #{@project.organization.OrganizationName} - Supporting Data"
- if @data.any?
  .pull-right
    = link_to support_project_data_quality_report_path(@project, @report, {key: @key, format: :xlsx}) do
      Download
      %span.icon-download2 
  %table.table.table-condensed.table-hover
    %thead
      %tr
        - @data[:headers].each do |t|
          %th= t
    %tbody
      - @data[:counts].each do |row|
        %tr
          - row.each do |v|
            %td= v
- else
  None found