- content_for :title, "Project Data Quality Report for #{@report.title}"
- grouped_as = @report.report_type
%h1= content_for :title
- if @report.processing_errors.present?
  %p.alert.alert-danger.text-center
    Processing error:
    = JSON.parse(@report.processing_errors).first
- elsif @report.completed_at.blank?
  %p.alert.alert-info.text-center
    The report is currently running...
- else
  = render 'data_quality_reports/version_four/status', support_path: @support_path
  %h3 Report Parameters
  .well.overflow-scroll
    .row
      .col-sm-4
        %h4 Reporting Period
        %p
          %strong= @report.start
          to
          %strong= @report.end
      .col-sm-4
        %h4 Projects
        %p= @report.projects.map(&:organization_and_name).join('<br />').html_safe
      .col-sm-4
        %h4 Run
        - requestor = User.find(@report.requestor_id)
        %p
          Run on #{@report.created_at.to_date}
          - if @report.requestor.present?
            by #{@report.requestor&.name}

  %h3 Project Descriptors
  = render "data_quality_reports/version_four/#{grouped_as}/project_descriptor_completeness"
  %h3 Overview
  = render "data_quality_reports/version_four/#{grouped_as}/overview", support_path: @support_path
  %h3 Data Quality Summary
  = render "data_quality_reports/version_four/#{grouped_as}/summary", support_path: @support_path
  %h3 Bed Utilization
  = render "data_quality_reports/version_four/#{grouped_as}/bed_utilization_description"
  = render "data_quality_reports/version_four/#{grouped_as}/bed_utilization"

= content_for :page_js do
  :javascript
    (function($) {
      var url = '#{polymorphic_path(@answers_path, @report_keys)}'

      var bed_census = new App.DataQualityReports.BedCensus(#{@report.bed_census_data}, '.bed-census-chart',
      '#{polymorphic_path(@support_path, @report_keys.merge({key: "bed_utilization"}))}');
      bed_census.build_chart();

      var unit_census = new App.DataQualityReports.UnitCensus(#{@report.unit_census_data}, '.unit-census-chart',
      '#{polymorphic_path(@support_path, @report_keys.merge({key: "unit_utilization"}))}');
      unit_census.build_chart();
    });