- content_for :title, "Project Data Quality Report for #{@project.ProjectName} at #{@project.organization.OrganizationName}"
%h1= content_for :title
= link_to "answers", answers_project_data_quality_report_path(@project, @report)
%h3 Time in Program
= render 'data_quality_reports/version_three/time_in_program'
%h3 Time to Enter
= render 'data_quality_reports/version_three/time_to_enter'


= content_for :page_js do
  :javascript
    (function($) {
      let url = '#{answers_project_data_quality_report_path(@project, @report)}'
      $.get(url, function(data){
        let time_in_program = new App.DataQualityReports.TimeInProgram(data['enrolled_length_of_stay'], '.time-in-program-chart', 
        '#{support_project_data_quality_report_path(@project, @report, key: "enrolled_length_of_stay")}');
        time_in_program.build_chart();

        let time_to_enter = new App.DataQualityReports.TimeToEnter(data['enrolled_length_of_stay'], '.time-to-enter-chart', 
        '#{support_project_data_quality_report_path(@project, @report, key: "enrolled_length_of_stay")}');
        time_to_enter.build_chart();
      });
    })(jQuery);