- content_for :title, "Project Data Quality Report for #{@project.name(current_user)} at #{@project.organization_name(current_user)}"
%h1= content_for :title

- support_path = [:support, :project, :data_quality_report]
= render 'summary'
= render 'grading_scale'
= render 'bed_utilization', support_path: support_path
= render 'missing_values', support_path: support_path
= render 'length_of_stay', support_path: support_path
= render 'other_dq', support_path: support_path
- if @report.processing_errors.present?
  .alert.alert-danger
    Processing error:
    = JSON.parse(@report.processing_errors).first
- elsif @report.report.present?
  = render 'report_table', support_path: support_path