- content_for :filters_col_full do
  .row.mb-2
    .col-sm-12
      %p
        Limit to matches created within a date range.
      .row
        .col-3
          = f.input :start, as: :date_picker, input_html: {value: @range.start, class: 'form-control jStart'}, label: false
        .col-1.text-center.pt-2
          to
        .col-3
          = f.input :end, as: :date_picker, input_html: {value: @range.end, class: 'form-control jStart'}, label: false
  .row
    .col
      = f.input :route, collection: @step_range.available_routes, input_html: {value: @step_range.route, class: [:jTrigger]}, as: :select_two
  .row
    .col-6.jDependent
      = f.input :first_step, label: 'From Completion of', collection: @step_range.ordered_steps.keys, include_blank: false, input_html: { id: 'first-step' }, as: :select_two
    .col-6.jDependent
      = f.input :second_step, label: 'To Completion of', collection: @step_range.ordered_steps[@step_range.first_step], include_blank: false, input_html: { id: 'second-step'}, as: :select_two

- content_for :filter_actions do
  = f.submit 'Update', class: 'btn btn-primary mt-no-label'

= render 'warehouse_reports/filters', f:f

= content_for :page_js do
  :javascript
    $(function(){
      $('.jTrigger').on('change', function(e){
        $('.jDependent :input').val('');
        $(this).closest('form').submit();
      });
    });
