- content_for :filters_col_full do
  .row.mb-2
    .col-sm-12
      %p
        Limit to matches created within a date range.
      .row
        .col-sm-3
          = f.input :start, as: :date_picker, input_html: {value: @range.start, class: 'form-control jStart'}, label: false
        .col-sm-3
          = f.input :end, as: :date_picker, input_html: {value: @range.end, class: 'form-control jStart'}, label: false
  .row
    .col-sm-5
      = f.input :first, label: 'From Completion of', collection: @step_range.ordered_steps.keys, include_blank: false, input_html: { id: 'first-step' }
    .col-sm-5
      = f.input :second, label: 'To Completion of', collection: @step_range.ordered_steps[@step_range.first], include_blank: false, input_html: { id: 'second-step'}

- content_for :filter_actions do
  = f.submit 'Update', class: 'btn btn-primary mt-no-label'

= render 'warehouse_reports/filters', f:f