- title = 'CAS Match Process'
- content_for :title, title

%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'
.row
  .col-sm-12
    %p
      %strong Please note:
      The list of steps in the second drop-down are limited to those that proceed the steps in the first drop-down.  If you don't see the step in the second drop-down that you are looking for, you may need to change the first option and click update.
    = simple_form_for @step_range, as: :steps, url: warehouse_reports_cas_process_index_path, html: { method: :get } do |f|
      = render 'filter', f: f

- if @matches.any?
  .row
    .col-sm-10
      %p
        The following matches started between #{@range.start} and #{@range.end}.  Looking at the time between
        %strong #{@step_range.first_step}
        and
        %strong #{@step_range.second_step}.
    .col-sm-2.ml-auto
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
        Download Excel
  %table.table.table-hover
    %thead
      %tr
        %th Program
        %th Sub-Program
        %th Days Between Steps
        %th Route
        %th Terminal Step
        %th Terminal Date
        %th Result
        %th Match
    %tbody
      - @matches.each do |_,match|
        - terminal_step = @all_steps[match.id.to_i]&.last
        %tr
          %td= match.program_name
          %td= match.sub_program_name
          %td= match.days
          %td= match.match_route
          %td= terminal_step&.match_step
          %td= terminal_step&.updated_at&.to_date
          %td= terminal_step&.terminal_status
          %td
            = link_to match.id, "#{GrdaWarehouse::Config.get(:cas_url)}/matches/#{match.id}", target: "_blank"
