= simple_form_for @participation_form, url: polymorphic_path(participation_forms_path_generator, client_id: @client.id), as: :form, remote: true do |f|
  
  = f.error_notification

  .col-sm-12
    = f.input :signature_on, as: :date_picker
    = f.input :location
    = f.input :file, as: :file
    %input{ name: 'authenticity_token', type: 'hidden', value: form_authenticity_token }

  .col-sm-12
    .text-right
      = f.button :submit, 'Save'
