= simple_form_for @filter, as: :filters, url: tx_client_reports_warehouse_reports_attachment_three_client_data_reports_path, method: :get do |f|
  - content_for :filters_col_full do
    .row
      .col
        = f.input :start, as: :date_picker, label: 'Start Date'
      .col
        = f.input :end, as: :date_picker, label: 'End Date'
      .col
        = f.input :project_ids, collection: [], as: :select_two, input_html: {data: {'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids)}}, include_blank: true, label: 'Project'

  - content_for :filter_actions do
    = f.submit 'Update Filter', class: 'btn btn-primary'
    = link_to 'Download XLSX', tx_client_reports_warehouse_reports_attachment_three_client_data_reports_path(format: :xlsx, params: @filter.for_params), class: 'btn btn-secondary'

  = render 'warehouse_reports/filters', f:f
