- title = "Bed Utilization for #{@mo.organization_name rescue "[no organization]"}"
.o-page
  .o-page__header
    - content_for :title, title
    %h1.o-page__title= content_for :title

  = render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

  = simple_form_for @mo, as: :mo, url: warehouse_reports_bed_utilization_index_path, html: { method: :get } do |f|
    - content_for :filters_col_l do
      .row
        .col-sm-6
          = f.input :month, collection: @mo.months, label: 'Month', class: 'form-control', input_html: {class: 'select2'}
        .col-sm-6
          = f.input :year, collection: @mo.years, label: 'Year', class: 'form-control', input_html: {class: 'select2'}

    - content_for :filters_col_r do
      .row
        .col-sm-6
          = f.input :org, collection: @mo.organizations, label: 'Organization', class: 'form-control', input_html: {class: 'select2'}

    - content_for :filter_actions do
      = f.button :submit, value: 'Update View'

    = render 'warehouse_reports/filters', f:f

  %table.table.table-sm.table-hover.bed-table
    %thead
      %tr
        %th{ colspan: 2 }
        %th.lightest-gray{ colspan: 4 }
          Average Daily
      %tr
        %th Program Name
        %th Project Type
        %th Beds
        %th Units
        %th.lightest-gray Clients
        %th.lightest-gray % Utilization
    %tbody
      - @projects_with_counts.each do |id, project|
        - next if id == :totals
        %tr
          %td
            = link_to project.name, project_path(project.id)
          %td
            - project_type = project.project_type
            - p_type = ::HUD.project_type_brief(project_type)
            - p_class = "client__service_type_#{p_type}"
            %span{class: "client__service_type_#{project_type}"}
              .enrollment__project_type{class: p_class}
                %em.service-type__program-type= p_type
          %td= project.beds
          %td= project.units
          %td= project.clients
          %td= project.utilization
      %tr
        - project = @projects_with_counts[:totals]
        %th
        %th.text-right Organization-Wide
        %th= project.beds
        %th= project.units
        %th= project.clients
        %th= project.utilization
