= simple_form_for @participation_form, url: form_url, as: :form, remote: true, html: {multipart: true} do |f|

  - if @participation_form.errors.any?
    .alert.alert-danger.flex-column.align-items-start
      %p Please review the errors below:
      %ul.error_list
        - @participation_form.errors.messages.values.first.each do |msg|
          %li= msg

  .col-sm-12
    .row
      .col-sm-6
        = f.input :signature_on, as: :date_picker

        - if @participation_form.case_manager
          .form-group
            %label Case Manager
            %p.form-control-static= @participation_form.case_manager&.name

        - if @participation_form.location
          .form-group
            %label Location
            %p.form-control-static= @participation_form.location

      - if @blank_participation_form_url.present? || @blank_directed_form_url.present?
        .col-sm-6.text-right
          - if @blank_participation_form_url.present?
            = link_to @blank_participation_form_url, class: 'btn btn-secondary' do
              %i.icon-download2
              Blank Participation Form
          - if @blank_directed_form_url.present?
            = link_to @blank_directed_form_url, class: 'btn btn-secondary mt-4' do
              %i.icon-download2
              Blank Directed Participation Form

    %div
      .row
        .col-sm-6.j-file-upload
          = render 'upload_fields', f: f
        .col-sm-6.my-auto
          = f.input :verbal_approval, label: 'Patient gave verbal approval'

    %input{ name: 'authenticity_token', type: 'hidden', value: form_authenticity_token }


    - if @participation_form.reviewed_by.present?
      .form-group
        %label Reviewed by Supervisor
        %p.form-control-static= @participation_form.reviewed_by&.name
    - elsif false && current_user.can_approve_participation? # no review required at the moment
      = f.input :reviewed_by_supervisor, as: :boolean, label: 'Mark reviewed by supervisor', checked_value: 'yes', unchecked_value: 'no'

  .col-sm-12
    .text-right
      = f.button :submit, 'Save'
