- title = "Clients with Initial Entry Dates on Their DOB"
- content_for :title, title
%h1= title 
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality-reports'

.warehouse-reports__missing-projects
  %p
    The following clients were born on the same day they entered homelessness.
  %p= page_entries_info @clients, entry_name: _('client')
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Client
        %th DOB
        %th First Enrollment Date
        %th Project
    %tbody
      - @clients.each do |client|
        - if client.DOB == client.source_enrollments.sort_by{|m| m[:EntryDate]}.first.EntryDate
          - enrollment = client.source_enrollments.sort_by{|m| m[:EntryDate]}.first
          %tr
            %td= link_to client.name, client_path(client)
            %td= client.DOB
            %td= enrollment.EntryDate
            %td= enrollment.project&.ProjectName
%p= paginate @clients
