- title = "Clients with Entry Dates on Their DOB"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

.warehouse-reports__missing-projects
  %p
    The following clients were born on the same day they entered a project.
  = render 'warehouse_reports/limited_by_project_note'
- if @pagy.count.positive?
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count)) if @pagy.count.positive?
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .table-responsive
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th Client
          %th DOB
          %th First Enrollment Date
          %th Project
      %tbody
        - @clients.each do |client|
          - enrollment = client.source_enrollments.select{ |m| m[:EntryDate] == client.DOB }.first
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            %td= client.DOB
            %td= enrollment&.EntryDate
            %td= enrollment&.project&.ProjectName
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count)) if @pagy.count.positive?
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found No clients found.
