- content_for :title, 'Add Service'
.o-page
  .o-page__header.d-flex
    %h1= content_for :title
  .o-page__main-content.mt-3
    .alert.alert-info
      .row
        .col-12
          %h3 Instructions
          %p If you're scanning a card, set the appropriate options in the form below and scan the card into the Scan Card or Name Search box.  The form will remember your settings while you remain on the page, so subsequent services can be added simply by scanning the next card. If you scan a card and no client is found, follow the prompts to attach the barcode to the client's profile. Then, re-scan the card into the box to provide the selected service.
          %p If you're searching by name, set the appropriate options in the form below and enter the full or parial name into the Scan Card or Name Search box.  Click Add Service or Search by Client.  In the search results, click Add Service next to the appropriate client.
    .row
      .col-sm-6
        - if @no_client_found
          = render 'no_client_found'
        = render 'form'
      .col-sm-6
        - if @search_results
          = render 'search_results'
        - else
          = render 'last_added'
        = render 'new_client'
= content_for :page_js do
  :javascript
    $('.exact_date_time_picker').datetimepicker(
      {
        sideBySide: true,
        stepping: 1,
        format: "MMM D, YYYY h:mm a",
        icons: {
          time: "icon icon-clock-o",
          date: "icon icon-calendar",
          up: "icon icon-arrow-up",
          down: "icon icon-arrow-down"
        }
      }
    );
