- content_for :modal_title, 'Add Client'
- if request.xhr?
  .alert.alert-info
    %p After adding the client below, this window will close and you can search for the client to add a service.
.slab
  = simple_form_for @client, as: :client, url: create_client_service_scanning_services_path, data: { submits_to_pjax_modal: request.xhr? } do |f|
    .row
      .col-sm-4
        = f.input :FirstName, label: 'First Name', required: true
      .col-sm-4
        = f.input :MiddleName, label: 'Middle Name'
      .col-sm-4
        = f.input :LastName, label: 'Last Name', required: true
    .row
      .col-sm-6
        = f.input :DOB, as: :date_picker, label: 'DOB', required: true
      .col-sm-6
        = f.input :SSN,  input_html: {maxlength: 11, class: 'jSSN'}, label: 'SSN'
    .row
      .col-sm-6
        = f.input :Gender, collection: HUD::genders.invert, as: :select_two
      .col-sm-6
        = f.input :VeteranStatus, collection: HUD::no_yes_reasons_for_missing_data_options.invert, label: 'Veteran Status', as: :select_two
    .row
      - if GrdaWarehouse::DataSource.authoritative.scannable.count > 1
        .col-sm-4
          = f.input :data_source_id, collection: GrdaWarehouse::DataSource.authoritative.scannable, include_blank: false, label: 'Create client in Data Source', as: :select_two
    .form-actions
      = f.submit value: 'Add Client', class: 'btn btn-primary'

= content_for :page_js do
  :javascript
    $(document).ready(function(){
      $('.jSSN').inputmask("999-99-9999");
    });
