%tr.table__detail-row-rollup.j-toggle-row-content
  %td
    = link_to health_he_case_path(index_case) do
      = index_case.name || 'Unknown'
      = "(#{index_case.aliases})" if index_case.aliases.present?
  %td= index_case.investigator
  %td= index_case.date_listed || index_case.created_at.to_date
  %td= index_case.age
  %td= index_case.dob&.year
  %td.j-toggle-row-content.text-right
    %i.icon-arrow-circled-right.table__toggle-icon.pr-4
%tr.collapse.no-hover
  %td{colspan: 6}
    - contacts = @by_case[:contacts][index_case.id]
    - if contacts
      .row
        .col
          %h3 Contacts
          %table.table.table-striped
            %thead
              %tr
                %th Investigator
                %th Epic Alert Status
                %th Name
                %th Contact Notified
            %tbody
              - contacts.each do |contact|
                %tr
                  %td= contact.investigator
                  %td= contact.alert_in_epic
                  %td= contact.name
                  %td= contact.notified || 'No'
    - managers = @by_case[:managers][index_case.id]
    - if managers
      .row
        .col
          %h3 Site Managers
          %table.table.table-striped
            %thead
              %tr
                %th Site
                %th Leader Name
                %th Notification Date
            %tbody
              - managers.each do |manager|
                %tr
                  %td= manager.site_name
                  %td= manager.site_leader_name
                  %td= manager.contacted_on
    - staffs = @by_case[:staff][index_case.id]
    - if staffs
      .row
        .col
          %h3 Staff
          %table.table.table-striped
            %thead
              %tr
                %th Name
                %th Site
                %th Notified?
            %tbody
              - staffs.each do |staff|
                %tr
                  %td= staff.name
                  %td= staff.site_name
                  %td= staff.notified
