:ruby
  client = @report.clients.send(detail_variant_name)&.first
  if client
    field, row_data = data
    calculations = (row_data[:calculations] - [:count])
    headers = headers.dup.tap {|i| i.delete_at(row_data[:calculations].find_index(:count)) } # delete_at acts on original object
    if measure == 'Measure 7'
      headers = headers[0..2]
    end
    columns = [title]
    values = []
    calculations.each do |calculation|
      if calculation == :count_destinations
        # TODO: this needs to generate columns in the shape [
        #   Dest 1, count,
        #   Dest 2, count
        # ]
        # currently we have: [['All Persons',141,0,0]]
        @report.destinations.first(3).each_with_index do |ids, i|
          values << @report.calculate(detail_variant_name, field, calculation, row_data.merge(destination: ids))
        end
      else
        values << @report.calculate(detail_variant_name, field, calculation, row_data)
      end
    end
    columns += values
    counts = []
    calculations.each.with_index do |calculation, c_idx|
      if calculation == :count_destinations
        @report.destinations.first(3).each.with_index do |ids, i|
          counts << [headers[i], {title => @report.calculate(detail_variant_name, field, :count, row_data.merge(destination: ids))}]
        end
      else
        counts << [headers[c_idx], {title => @report.calculate(detail_variant_name, field, :count, row_data)}]
      end
    end
    counts = counts.to_h

    support = { unit: headers, counts: counts}
    slug_extra = if variant_link then 'all' else 'sub_variants' end
    variant_slug = "#{measure.underscore.tr(' ', '_')}_#{detail_variant_name}_#{field}__#{slug_extra}"
    chart = { categories: headers, params: [], columns: [columns], support: support, options: { height: 100, max: max_value }}
    chart[:groups] = [headers] if measure == 'Measure 7'
  end
- if client
  .row
    .col-sm-4
      %h4 #{title}: #{row_data[:title]}
      - if variant_link
        %a{href: '#', data: {toggle: :collapse, target: "\##{variant_link}"}, aria: {expanded: 'false', controls: variant_link}}
          Demographic breakdowns
          %i.icon-arrow-circled-down
    .col-sm-8
      .jChart{class: "#{variant_slug}-chart", data: {chart: chart.to_json }}

  = content_for :page_js do
    :javascript
      //let chart = new App.WarehouseReports.HomelessSummaryReport.HorizontalBar('.jChart.#{variant_slug}-chart', {remote: false});
      $(document).ready(function(){
        let chart = new App.WarehouseReports.HomelessSummaryReport.HorizontalBar('.jChart.#{variant_slug}-chart', {remote: false});
        //let chart = new App.WarehouseReports.HomelessSummaryReport.HorizontalBar('.jChart.#{variant_slug}-chart', {remote: false});

        // Because these are hidden by default, they need to be re-drawn on show
        $('body').on('shown.bs.collapse', function(e) {
          chart.chart.flush();
        });

      });
