- chart_data = @report.chart_data_for(section: measure, household_category: household_category, field: field)
- variant_slug = "#{[measure.underscore.tr(' ', '_'), household_category, field].join('__')}-chart"

.chart-wrapper
  .row
    .col-sm-4
      %h3= "#{@report.title_for(household_category, :all)} #{row[:title]}"
      .mb-1.font-italic= 'Includes approximate start date' if [:m1b_es_sh_ph_days, :m1b_es_sh_th_ph_days].include? field
      - unless @pdf
        %a.jToggleChartData{href: '#'}
          Toggle demographics
          %i.icon-users
    .col-sm-8
      .jChart.c-chart--horizontal-bar{class: "#{variant_slug}", data: {chart: chart_data.to_json, active: 'one_' }}

-# = debug chart_data.to_json
= content_for :page_js do
  :javascript
    $(document).ready(function(){
      let chart = new App.WarehouseReports.HomelessSummaryReport.HorizontalBar('.jChart.#{variant_slug}', { remote: false });
      $('.jChart.#{variant_slug}').closest('.chart-wrapper').find('.jToggleChartData').on('click', function(e) {
        e.preventDefault();
        let active = $('.jChart.#{variant_slug}').data('active');
        if(active == 'one_') {
          active = 'all_';
          chart.chart.resize({height: 1200})
        } else {
          active = 'one_'
          chart.chart.resize({height: 150})
        }
        $('.jChart.#{variant_slug}').data('active', active);
        let new_columns = $('.jChart.#{variant_slug}').data('chart')[`${active}columns`];
        let data = { columns: new_columns, unload: true };

        chart.chart.load(data);
      });
    });
