- client = @report.clients.send(detail_variant_name)&.first
- variant_slug = "#{measure.underscore.tr(' ', '_')}_#{detail_variant_name}"
.d-flex
  %h3= title
  - if client
    - spm_id = client.send(detail_variant_name)
    .ml-auto= link_to 'View related SPM report', hud_reports_spm_path(spm_id), target: :_blank
    .ml-4
      %a{href: '#', data: {toggle: :collapse, target: "\##{variant_slug}"}, aria: {expanded: 'false', controls: variant_slug}}
        View details
        %i.icon-arrow-circled-down
- if client
  .card.mb-4.collapse{id: variant_slug}
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th
          - data[:headers].each do |header|
            %th= header
      - data[:fields].each do |field, row_data|
        %tr
          %th
            = "#{row_data[:title]}:"
          - row_data[:calculations].each do |calculation|
            - if calculation == :count_destinations
              - @report.destinations.each do |id|
                %td= @report.calculate(detail_variant_name, field, calculation, row_data.merge(destination: id))
            - else
              %td= link_to_if calculation == :count, @report.calculate(detail_variant_name, field, calculation, row_data), details_homeless_summary_report_warehouse_reports_report_path(@report, variant: detail_variant_name, cell: field)
- else
  %p.none-found
    No Clients found.
