= render 'breadcrumbs'
= render 'beta_warning'

- title = "Homeless Summary Report"
- content_for :title, title
%h1= content_for :title
%p= "Created by #{@report.user.name_with_email} on #{@report.completed_at.to_date}"
.well.report-listing.warehouse-reports__completed
  = @report.filter.describe_filter_as_html

- @report.measures.each do |measure, data|
  %h2= measure
  - @report.variants.each do |variant_slug, details|
    - base_variant = details[:base_variant]
    - detail_variant_name = "spm_#{variant_slug}__all"
    = render 'counts_table', data: data, detail_variant_name: detail_variant_name, title: base_variant[:name], measure: measure

    .mb-2
      - sub_variant_slug = "#{measure.underscore.tr(' ', '_')}_#{detail_variant_name}_sub_variants"
      %a{href: '#', data: {toggle: :collapse, target: "\##{sub_variant_slug}"}, aria: {expanded: 'false', controls: sub_variant_slug}}
        Demographic breakdowns
        %i.icon-arrow-circled-down
    .well.mb-4.collapse{id: sub_variant_slug}
      - details[:variants].each do |sub_variant_slug, variant|
        - next if @report.exclude_variants(measure, sub_variant_slug)

        - detail_variant_name = "spm_#{variant_slug}__#{sub_variant_slug.presence || 'all'}"
        = render 'counts_table', data: data, detail_variant_name: detail_variant_name, title: variant[:name], measure: measure
