= render 'breadcrumbs'
= render 'beta_warning'

- title = "Homeless Summary Report"
- content_for :title, title

- @report.measures.each do |measure, data_fields|
  %h2= measure
  - @variants.each do |variant, details|
    - client = @report.clients.send(variant)&.first
    %h3= details[:name]
    - if client
      - spm_id = client.send("spm_#{variant}")
      %p= link_to 'view related SPM report', result_hud_reports_spm_measure_path(spm_id, measure)
      %ul
        - data_fields.each do |field|
          %li
            = "#{field}:"
            = link_to @report.clients.send(variant).send("spm_#{field}").count, details_homeless_summary_report_warehouse_reports_report_path(@report, variant: variant, cell: field)
    - else
      %p.none-found
        No Clients found.
