= simple_form_for @filter, as: :steps, url: warehouse_reports_cas_decision_efficiency_index_path, html: { method: :get } do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-6
        = f.input :match_route, collection: @filter.match_route_options_for_select, input_html: {value: @filter.match_route, class: [:jTrigger]}, as: :select_two, hint: 'Changing this will reset the form'
      .col-sm-6
        - include_blank = if @cas_user.match_admin? then 'All Agencies' else false end
        = f.input :agency, collection: @filter.agency_options_for_select(@cas_user), as: :select_two, include_blank: include_blank
    .row
      .col-sm-3
        = f.input :interesting_date, as: :select_two, collection: @filter.available_interesting_dates, label: 'Date for filtering', hint: 'This date must fall in the range chosen.'
      .col-sm-3
        = f.input :start, as: :date_picker, label: 'Start Date'
      .col-sm-3
        = f.input :end, as: :date_picker, label: 'End Date'
    .row
      .col-sm-6.jDependent
        = f.input :first_step, label: 'From Completion of', collection: @filter.ordered_steps.keys, include_blank: false, input_html: { id: 'first-step' }, as: :select_two
      .col-sm-6.jDependent
        = f.input :second_step, label: 'To Completion of', collection: @filter.ordered_steps[@filter.first_step], include_blank: false, input_html: { id: 'second-step' }, as: :select_two

  - content_for :filter_actions do
    = f.submit 'Update', class: ['btn', 'btn-primary']

  = render 'warehouse_reports/filters', f:f

- content_for :page_js do
  :javascript
    $(function(){
      $('.jTrigger').on('change', function(e){
        $('.jDependent :input').val('');
        var url = new URL(window.location.href);
        url.searchParams.set("steps[match_route]", $(this).val());
        window.location = url.href;
      });
    });
