= simple_form_for @filter, as: :steps, url: warehouse_reports_cas_decision_efficiency_index_path, html: { method: :get } do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-6
        = f.input :route, collection: @filter.available_routes, input_html: {value: @filter.route, class: [:jTrigger]}, as: :select_two, hint: 'Changing this will reset the form'
    .row
      .col-sm-3
        = f.input :interesting_date, as: :select_two, collection: @filter.available_interesting_dates, label: 'Date for filtering', hint: 'This date must fall in the range chosen.'
      .col-sm-3
        = f.input :start, as: :date_picker, label: 'Start Date'
      .col-sm-3
        = f.input :end, as: :date_picker, label: 'End Date'
    .row
      .col-sm-6.jDependent
        = f.input :first_step, label: 'From Completion of', collection: @filter.ordered_steps.keys, include_blank: false, input_html: { id: 'first-step' }, as: :select_two
      .col-sm-6.jDependent
        = f.input :second_step, label: 'To Completion of', collection: @filter.ordered_steps[@filter.first_step], include_blank: false, input_html: { id: 'second-step' }, as: :select_two
      -# .col-sm-2
      -#   = f.input :unit, label: 'In', collection: @filter.units.map{|m| [m.titleize.pluralize, m]}, include_blank: false, input_html: { class: 'jUnits '}, as: :select_two
  - content_for :filter_actions do
    = f.submit 'Update', class: ['btn', 'btn-primary']

  = render 'warehouse_reports/filters', f:f
