- title = 'Coordinated Access System Decision Efficiency'
- content_for :title, title

%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'

= render 'filter'
= render 'summary'
= render 'table'


- content_for :page_js do
  :javascript
    $(function(){
      $('.jTrigger').on('change', function(e){
        $('.jDependent :input').val('');
        window.location.href = window.location.href + '?steps[route]=' + $(this).val();
      });
    });
