- title = 'Track Issues'
- content_for :title, title
= render 'breadcrumbs'
= render 'clients/aliases'
%h1= content_for :title
= render 'form'
- if @anomalies.any?
  %ul.nav.nav-tabs{role: :tablist}
    - GrdaWarehouse::Anomaly.available_stati.each do |slug, status|
      %li.nav-item{role: :presentation}
        %a{href: "##{slug}", 'aria-controls' => slug, role: :tab, data: {toggle: :tab}, class: 'nav-link'}
          = status
  .tab-content#anomalies-tab-content
    - GrdaWarehouse::Anomaly.available_stati.each do |slug, status|
      .tab-pane{role: :tabpanel, id: slug}
        = render 'anomalies_table', anomalies: @anomalies[slug.to_s]
- else
  %p.note
    There are no anomalies at this time.

= content_for :page_js do
  :javascript
    var selectedTab = window.location.hash
    if (!selectedTab) {
      $("ul.nav-tabs li:first-child a").tab('show')
    }
    $('.nav-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
      $(this).parent().siblings().removeClass('active')
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');