- title = 'Track Issues'
- content_for :title, title
= render 'breadcrumbs'
= render 'window/clients/aliases'
%h1= content_for :title
= render 'form'
- if @anomalies.any?
  %ul.nav.nav-tabs{role: :tablist}
    - GrdaWarehouse::Anomaly.available_stati.each do |slug, status|
      - active = if slug == :new then 'active' end
      %li{class: active}
        %a{href: "##{slug}", 'aria-controls' => slug}
          = status
  .tab-content.margin-top-02
    - GrdaWarehouse::Anomaly.available_stati.each do |slug, status|
      - active = if slug == :new then 'active' end
      .tab-pane{role: :tabpanel, id: slug, class: active}
        = render 'anomalies_table', anomalies: @anomalies[slug.to_s]
- else
  %p.note
    There are no anomalies at this time.

= content_for :page_js do
  :javascript
    $('.nav-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      window.location.hash = id;
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');