= simple_form_for @filter, as: :filter, url: warehouse_reports_youth_export_index_path,  html: { class: 'jFilter' } do |f|
  - content_for :filters_col_full do
    .row
      .col-6
        = render 'warehouse_reports/date_range_filters', f:f
      .col-3
        = f.input :start_age, collection: (0..100), as: :select_two, label: 'Age greater than'
      .col-3
        = f.input :end_age, collection: (0..100), as: :select_two, label: 'Age less than'

    .row.mt-4
      .col-sm-6.mb-4
        = f.input :project_ids, label: 'Projects', collection: [], as: :select_two, input_html: {multiple: true, placeholder: 'Any Project', data: {'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids)}}, include_blank: false
      .col-sm-6.mb-4
        = f.input :organization_ids, collection: GrdaWarehouse::Hud::Organization.options_for_select(user: current_user), placeholder: 'Any Organization', as: :grouped_select_two, group_method: :last, input_html: {multiple: true }, label: 'Organizations'
      .col-sm-6.mb-4
        = f.input :data_source_ids, collection: GrdaWarehouse::DataSource.source.viewable_by(current_user).pluck(:name, :id), placeholder: 'Any Data Source', input_html: {multiple: true}, label: 'Data Sources', as: :select_two
      .col-sm-6.mb-4
        = f.input :cohort_ids, collection: GrdaWarehouse::Cohort.active.viewable_by(current_user).pluck(:name, :id), placeholder: 'Any Cohort', input_html: {multiple: true}, label: 'Cohorts', as: :select_two

  - content_for :filter_actions do
    = f.button :submit, value: 'Query Report'

  = render 'warehouse_reports/filters', f:f, submit_button: nil
