%h1= "Claims Reporting Imports"
- sftp_host = ClaimsReporting::Importer.default_credentials[:host]
- if sftp_host.present?
  - path = GrdaWarehouse::Config.get(:health_claims_data_path)
  %h4 Health SFTP Status
  %table.table.table-bordered.table-sm.table-striped
    %tr
      %th Host
      %td= sftp_host
    %tr
      %th= _('Health SFTP incoming claims data folder')
      %td
        - if path.present?
          = path
        - else
          %em Not set. Automatic import disabled.
      - if path
        %tr
          %th Pending files
          %td
            - pending = ClaimsReporting::Importer.new.pending
            - if pending.none?
              %em None found
            - else
              = pending.to_sentence
  %p Configure in #{link_to 'Site Admin', admin_configs_path(anchor: 'grda_warehouse_config_health_claims_data_path')}.
%h4 Past imports
.table-responsive
  %table.table.table-bordered.table-sm.table-striped
    %thead
      %tr
        %th File
        %th Status
        %th Started
        %th Finished
    %tbody
      - @imports.each do |import|
        %tr
          %td= import.source_path
          %td
            - if import.results.present? || import.status_message.present?
              %details{open: import.completed_at.nil?}
                %summary= import.status_text
                = import.status_message
                - if import.results.present?
                  %pre= JSON.pretty_generate import.results
            - else
              = import.status_text
          %td= import.started_at
          %td= import.completed_at
