- title = 'Health Prioritization'
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'cas'
= simple_form_for :filter, url: warehouse_reports_cas_health_prioritization_index_path, html: { method: :get } do |f|
  = render 'filter', f: f

- if @pagy.count.positive?
  .text-right.mb-4
    = link_to warehouse_reports_cas_health_prioritization_index_path(filter: filter_params, format: :xlsx), class: 'btn btn-secondary' do
      %i.icon-file-excel.icon-lg
      Download
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1

  .table-responsive
    %table.table.table-fixed.table-striped.jClientTable
      %thead
        %tr
          %th Client
          %th Age
          %th{data: {toggle: :tooltip, title: 'Physical Disability or HIV/AIDS indefinite and impairing reported'}}
            HMIS Physical Disability?
            %i.icon-info
          %th{data: {toggle: :tooltip, title: 'Client reported liver, kidneys, stomach, lungs or heart '}}
            VI-SPDAT Disability
            %i.icon-info
          %th Has a VI-SPDAT
          %th Race
          %th Ethnicity
          %th Prioritize in CAS?
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            %td= client.age
            %td.text-center
              - disability = @disabilities.key?(client.id)
              - if disability.present?
                = checkmark_or_x(disability)
            %td.text-center
              - vispdat_disability = @vispdat_disabilities[client.id]
              - if vispdat_disability.present?
                = checkmark_or_x(vispdat_disability.last == 'Yes')
            %td.text-center= checkmark_or_x(@vispdats.include?(client.id))
            %td= client.race_description
            %td= HUD.ethnicity(client.Ethnicity)
            %td= render 'form', client: client
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  %p.none-found No clients found.
= content_for :page_js do
  :javascript
    $('.jClientTable input[type=submit]').hide();
    $('.jClientTable').on('change', '.jClientForm input', function(e){
      var form = $(e.target).closest('form');
      form.trigger('submit');
    });
