.well.mx-auto(style='max-width: 340px')
  %h1 Sign In
  - if devise_mapping.omniauthable?
    .mb-4
      - resource_class.omniauth_providers.each do |provider|
        = button_to "Sign in with #{provider.upcase}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary btn-block text-center'
    %hr
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form_hint_first) do |f|
    = render '/devise/sessions/sign_in_fields', f: f
  = render "devise/shared/links"
