.well.mx-auto(style='max-width: 340px')
  - if omni_auth_providers.any? && !params[:local]
    - omni_auth_providers.each do |name, url|
      .my-4
        = button_to "Sign in with #{name}", url, class: 'btn btn-primary btn-block text-center'
    %details{open: (resource.email.present? || request.post?)}
      %summary Sign in with a password
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form_hint_first) do |f|
        = render '/devise/sessions/sign_in_fields', f: f, btn_class: 'btn btn-secondary'
      = render "devise/shared/links"
  - else
    %h1 Sign In
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form_hint_first) do |f|
      = render '/devise/sessions/sign_in_fields', f: f
    = render "devise/shared/links"
