%h1 Sign In
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form_hint_first) do |f|
  .row
    .col-sm-4
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false, input_html: { autocomplete: :off }
  .row
    .col-sm-6
      .form-actions
        = f.button :submit, "Log in"
= render "devise/shared/links"
