= simple_form_for [:admin, @role] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: 'Role name'
    - Role.permissions.each do |permission|
      = f.input permission

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
