= link_to_edit = local_assigns[:link_to_edit] == false ? false : true
.table-responsive.j-table.c-save-table{data: {objects: @roles.map(&:id).to_json.html_safe}}
  .c-save-table__submit-container.j-table__submit-container
    .c-save-table__submit-container-error-text
    = hidden_field_tag :authenticity_token, form_authenticity_token, class: 'j-authenticity-token'
    = link_to 'Cancel', '', class: 'btn btn-link j-table__cancel'
    %button.j-table__submit-changes.c-save-table__submit-changes.btn.btn-primary{type: 'button'} Save changes
  %table.table.c-table.c-table--striped.j-table__table
    %thead
      %tr.c-table__header.c-table__header--primary
        %th.c-table__cell--border-r-primary.v-align-middle{colspan:1, style: 'min-width: 400px'}
          .d-flex.align-items-center.flex-wrap
            %span.c-table__header-title Permissions
            %span.c-table__icon-key.c-table__icon-key--right
              %i.icon-lock
              %span Administrative Permission

        %th{colspan:@roles.length}
          %div.d-flex.align-items-center.flex-wrap.justify-content-between
            .d-flex.flex-column.mr-4
              %span.c-table__header-title.mr-4.mb-0 Roles
              .c-table__icon-key
                Displaying
                = pluralize(@roles.count, 'role')
            = link_to path_for_new, class: 'btn btn-secondary btn-sm d-block mt-2 mb-2' do
              %span.icon-plus
              Add a role
      %tr.c-table__header.c-table__header--secondary
        %th.c-table__cell--border-r-primary{colspan:1}
          .mb-2
            %select.j-table__search.form-control.w-100.select2{multiple: true, placeholder: 'Select permission categories'}
              -# %option.disabled{disabled: true} Select cateories
              - role_class.permission_categories.each do |cat|
                %option{value: cat}= cat
          %input.form-control.j-table__search.w-100{placeholder: 'Search permissions'}
        - @roles.each do |role|
          %th.c-table__cell--border-r-secondary.c-table__header-title.text-center.j-table__object{data:{role: role.id}}
            = link_to_if link_to_edit, role.name, action: :edit, id: role

    %tbody
      - role_class.permissions(exclude_health: true).each do |permission|
        - categories = role_class.category_for(permission: permission)
        %tr.j-table__row{'data-title' => permission.to_s.humanize, 'data-categories' => categories.to_s.html_safe}
          %td.c-table__cell--border-r-primary{colspan:1}
            .c-table__cell-title.d-flex.align-items-center.flex-wrap
              %span.mr-1
                = permission.to_s.humanize
                - if role_class.administrative?(permission: permission)
                  %i.icon-lock.ml-2{data: {toggle: :tooltip, title: 'Administrative Permission'}}
              %div
                - categories.each do |cat|
                  %span.badge.badge-primary.mr-1=cat
            .c-table__cell-description
              = role_class.description_for(permission: permission)
          - @roles.each do |role|
            - permitted = role.send(permission)
            %td.c-table__cell--border-r-secondary.text-center.v-align-middle.c-table__cell-icon.j-table__input{data:{role: role.id}, class: (permitted ? 'c-table__cell-icon--active' : 'c-table__cell-icon--inactive')}
              .form-check.text-center
                - id = permission.to_s
                - name = "role[#{id}]"
                - id += "_#{role.id}"
                %input{name: name, type: 'hidden', value: 0}
                .c-checkbox.d-flex.align-items-center.justify-content-center
                  %input{id: id, name:name, type: 'checkbox', value: 1, checked: permitted}
                  %label{for: id}

- content_for :page_js do
  :javascript
    new App.RoleTable({ patch_url: '#{path_for_patch}' })
