= render 'breadcrumbs'
.row
  .col-sm-12
    %h1
      Edit Role: 
      = @role.name
  .col-sm-8
    = render 'form'
= link_to admin_role_path(@role),  method: :delete, data: {confirm: "Would you really like to delete #{@role.name}?"} do
  %span.icon-cross
  Delete