= render 'breadcrumbs'

%h1 Edit Role: #{@role.name}
= simple_form_for [:admin, @role] do |f|
  = render 'new_form', f: f, submit_text: 'Update Role'

.mt-4
  = render 'users/user_members_table', item: @role, path_to_add_users: nil, path_to_delete_item: admin_role_path(@role), delete_user_lambda: nil
