:ruby
  measures = ClaimsReporting::QualityMeasuresReport::AVAILABLE_MEASURES
  years = ['2018', '2019', '2020']
  reports = years.map do |year|
    ClaimsReporting::QualityMeasures.for_plan_year(year, user: current_user)
  end
  f = ClaimsReporting::Formatter.new
  # subpopulations
  # By ACO
  # My Patients
  # Race/Gender/Age?
.row
  .col-12
    .pb-4
      %h3 MassHealth BH CP Quality Measures
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th{rowspan: 3}
              Measure
            - years.each_with_index do |year, idx|
              - report = reports[idx]
              %th{style: 'border-left: 1px solid rgba(0,0,0,0.3)'}
                %div{data: {toggle: :tooltip, title: "Created at: #{report.created_at}. #{report.status}"} }= "PY#{year}"
          %tr
            - reports.each do |report|
              %th{style: 'border-left: 1px solid rgba(0,0,0,0.3)'}
                Value
        - measures.each do |measure_id, info|
          %tr
            %td
              %b= info.title
              = simple_format(info.desc)
            - reports.each do |report|
              - data = report.measure_value(measure_id).with_indifferent_access
              %td{style: 'border-left: 1px solid rgba(0,0,0,0.3)'}
                - if data[:value].blank?
                  = "-"
                - elsif data[:denominator]
                  .h3
                    %div= f.format_pct(data[:value] * 100.0)
                    - if data[:denominator].present?
                      %small.text-muted.text-nowrap
                        %span{data: {toggle: :tooltip, title: info.numerator}}
                          =  f.format_i(data[:numerator])
                        = "/"
                        %span{data: {toggle: :tooltip, title: info.denominator}}
                          = f.format_i(data[:denominator])
                - else
                  = f.format_d(data[:value])
