:ruby
  markdown = Redcarpet::Markdown.new(::TranslatedHtml)
  measures = ClaimsReporting::QualityMeasuresReport::AVAILABLE_MEASURES
  f = ClaimsReporting::Formatter.new
  # By ACO - claims data
  # My Patients
  # Race/Gender/Age?
  # <del>subpopulations
%table.table.table-sm.table-bordered.table-striped
  %thead
    %tr
      %th
        Measure
      - report.years.each_with_index do |year, idx|
        %th= "PY#{year}"
  - measures.each do |measure_id, info|
    %tr
      %td
        %b= info.title
        = raw markdown.render(info.desc) if info.desc
      - report.years.each do |year|
        - data = report.measure_value(year, measure_id)
        %td
          - if data[:value].blank?
            = "-"
          - elsif data[:denominator]
            .h3
              %div= f.format_pct(data[:value] * 100.0)
              - if data[:denominator].present?
                %small.text-muted.text-nowrap
                  %span{data: {toggle: :tooltip, title: info.numerator}}
                    =  f.format_i(data[:numerator])
                  = "/"
                  %span{data: {toggle: :tooltip, title: info.denominator}}
                    = f.format_i(data[:denominator])
          - else
            = f.format_d(data[:value])
