- title = @report.title
- content_for :title, title

= render 'breadcrumbs'
%h1= title

.well.warehouse-reports__completed
  .d-flex
    .mt-2
      %p
        %strong Run on:
        #{@report.completed_at.to_date} by #{@report.user&.name}
      = @report.filter.describe_filter_as_html
    .ml-auto
      = link_to({ format: :xlsx }, { class: 'btn btn-secondary' }) do
        %div.mr-2(style='min-width: 32px; height: 28px')
          %i.icon-file-excel.icon-lg
        %span Download Excel

= render 'report', report: @report
