= stylesheet_link_tag 'billboard/billboard.min.css'
- content_for :title, 'Census by Project Type'
%h1= content_for :title

%h2 Census
.jCharts
  %p.jLoading.text-center Loading...

- content_for :page_js do
  #{javascript_include_tag 'billboard/billboard.min.js'}
  #{javascript_include_tag 'moment.min.js'}
  :javascript
    (function($) {
      census = new App.Census.CombinedProjectType('#{json_census_project_types_path(params.permit(:veteran))}', 'Censuses::ProjectType', '#{@range.start}', '#{@range.end}', {disabled_datasets: ['Non-Veteran Count'], excluded_datasets: ['ph']});
      census.load();
    })(jQuery);