.row
  .col-sm-8
    = simple_form_for @user, url: account_password_path do |f|
      = f.error_notification
      .form-inputs
        = f.input :current_password, required: true, hint: 'Your current password is required to confirm your identity'
        = f.input :password, required: true, label: 'New password'
        = f.input :password_confirmation, required: true

      .form-actions
        = f.button :submit, value: 'Update Password'
