= render '/clients/breadcrumbs'
- content_for :title, "Match Similar Clients"
- content_for :page_js do
  :javascript
    jQuery(function($) {
      $(document).on("ajax:success", function (e, data, status, xhr) {
        var cards = $('.client-match[data-id='+data.id+']');
        var rows = cards.closest('.merge-row');
        $('.tooltip').tooltip('hide');
        cards.fadeOut(100, function() {
          cards.remove();
          rows.each(function() {
            var row = $(this);
            if (row.find('.client_match').length == 0) {
              row.remove();
            }
          });
        });

        var candidate_badge = $('.badge[data-status=candidate]');
        var result_badge = $('.badge[data-status='+data.status+']');
        candidate_badge.html(parseInt(candidate_badge.html())-1);
        result_badge.html(parseInt(result_badge.html())+1);
      });
      $(document).on("ajax:error", function (e, xhr, status, error) {
        alert(error);
      });
    })

%h1= content_for :title
%ul.nav.nav-tabs
  - @possible_statuses.each do |label, status|
    %li.nav-item{class:('active' if status == @status)}
      = link_to url_for({status: status}), class: 'nav-link' do
        = label
        - if (count = @counts[status].to_i) > 0
          %span.badge.badge-primary{data: {status: status}}= count
- if @matches.empty?
  %p There are no #{@status} client matches at this time.

- @matches.group_by{|m| m.destination_client}.each do |dest, matches|
  .merge-row
    %h4
      - next unless dest
      = dest.full_name
      - id = dest.id
      - id = dest.destination_client.id if dest.source?
      = link_to appropriate_client_path(id) do
        %span{data: {toggle: :tooltip, title: "Warehouse record for #{dest.full_name}."}}
          = "ID:#{id}"
      %span{style: 'font-weight: normal;'}
      = "SSN: #{dest.SSN}"
      = "DOB: #{dest.DOB}"
    .merge-cards
      - matches.each do |match|
        .slab.merge-card
          = render match
= paginate @matches
