- what_am_i = 'data source'
- #FIXME
%h3 Access
.form-inputs.well
  = f.input :users, collection: @groups, as: :grouped_select_two, group_method: :last, selected: @group_ids, input_html: {multiple: :multiple, placeholder: 'Please choose'}, label: 'Users and groups', hint: 'This method of access is being deprecated, to be replaced with the field below'
  %p The following is the new mechanism for adding access to data_sources.  During the transition period, please assign both methods of access.
  - users = @data_source.users_with_access(access_type: :edit)

  - if users.count.zero?
    %p No users have access to this
  - if users.count > 0
    %p The following users already have access to edit this #{what_am_i}:
    %ul
      - users.each do |u|
        %li= u.name_with_email
  = f.input :editor_ids, collection:  User.active.not_system, as: :select_two, selected: @editor_ids, input_html: {multiple: :multiple, placeholder: 'Please choose'}, label: "Users with direct edit access to this #{what_am_i}"
