- row_class = ''
- col_class = ''
- width_class = 'w-50'
- if @pdf
  - row_class = 'row'
  - col_class = 'col-sm-6'
  - width_class = ''

= render 'form_header'
%h2 Part II: Cover Page
%section.page-break-after
  .well.condensed-checkboxes
    %h3 Member Information
    .row
      .col-3
        = f.input :planned_on, as: :date_picker, label: 'Date of service planning'
      .col-3
        = f.input :end_date, as: :date_picker, disabled: true, hint: '6 months from the date of service planning, may be extended via follow up'
    %div{class: width_class}
      = f.input :first_name, label: 'Member first name'
      = f.input :middle_name, label: 'Member middle initial'
      = f.input :last_name, label: 'Member last name'
      = f.input :dob, as: :date_picker, label: 'Member date of birth'
    = f.input :accommodations_needed
    %h3 Contact Information
    %div{class: width_class}
      = f.input :contact_type, collection: @vpr.class.available_contact_types, as: :select_two
      = f.input :phone
      = f.input :email
    = f.input :additional_contact_details, hint: 'Optional'
    %h3 Flexible Services Contacts
    %div{class: row_class}
      %div{class: col_class}
        %h4 Person Developing Plan (Main Point of Concact)
        %div{class: width_class}
          = f.input :main_contact_first_name
          = f.input :main_contact_last_name
          = f.input :main_contact_organization
          = f.input :main_contact_phone
          = f.input :main_contact_email
      %div{class: col_class}
        %h4 Person Reviewing Plan
        %div{class: width_class}
          = f.input :reviewer_first_name
          = f.input :reviewer_last_name
          = f.input :reviewer_organization
          = f.input :reviewer_phone
          = f.input :reviewer_email
      %div{class: col_class}
        %h4 Person Representing Entity Delivering Flexible Services
        %div{class: width_class}
          = f.input :representative_first_name
          = f.input :representative_last_name
          = f.input :representative_organization
          = f.input :representative_phone
          = f.input :representative_email
    %h3 Plan Acceptance
    %div{class: row_class}
      %div{class: col_class}
        = f.input :member_agrees_to_plan, as: :pretty_boolean
        = f.input :member_agreement_notes
      %div{class: col_class}
        = f.input :aco_approved, as: :pretty_boolean, label: 'ACO approved'
        = f.input :aco_approved_on, as: :date_picker, label: 'ACO approved on'
        = f.input :aco_rejection_notes, label: 'If no, why not?', hint: 'Optional'
%h2 Part II: Verify Screening Results
%section.page-break-after
  %h3 Health Needs Based Criteria
  %p
    Please specify the date on which the member was screened for Health Needs Based Criteria and check the box next to any Health Needs Based Criteria used to establish member eligibility. Optional: briefly describe the condition or activity (as applicable).
  .well.condensed-checkboxes
    %div{class: width_class}
      = f.input :health_needs_screened_on, as: :date_picker, label: 'Date of health needs based critera screening'
      = f.input :complex_physical_health_need, as: :pretty_boolean
      = f.input :complex_physical_health_need_detail
      = f.input :behavioral_health_need, as: :pretty_boolean
      = f.input :behavioral_health_need_detail
      = f.input :activities_of_daily_living, as: :pretty_boolean
      = f.input :activities_of_daily_living_detail
      = f.input :ed_utilization, as: :pretty_boolean, label: 'ED utilization'
      = f.input :high_risk_pregnancy, as: :pretty_boolean
      = f.input :high_risk_pregnancy_detail
    %h3 Risk Factor
    %p
      Please specify the date on which the member was screened for Risk Factors and check the box next to any Risk Factor(s) used to establish member eligibility.
    = f.input :risk_factors_screened_on, as: :date_picker
    = f.input :experiencing_homelessness, as: :pretty_boolean
    = f.input :at_risk_of_homelessness, as: :pretty_boolean
    = f.input :at_risk_of_nutritional_deficiency, as: :pretty_boolean, label: 'At Risk of Nutritional Deficiency/ Imbalance'
    = f.input :health_and_risk_notes, label: 'Please add any additional information about HNBC or Risk Factors that may be useful to inform delivery of services'
%h2 Part III: Identify Receipt of Other Public Benefits
%section.page-break-after
  .well.condensed-checkboxes
    %h3 State, Federal, or Other Publicly-Funded Services
    %p
      Please indicate state, federal, or other publicly- funded housing or nutrition services and supports the member is currently receiving.
    = f.input :receives_snap, as: :pretty_boolean, label: 'Supplemental Nutritional Assistance Program (SNAP)'
    = f.input :receives_wic, as: :pretty_boolean, label: 'Community Support Program (CSP) for Chronically Homeless individuals'
    = f.input :receives_csp, as: :pretty_boolean, label: 'Special Supplemental Nutrition Program for Women, Infants, and Children (WIC)'
    = f.input :receives_other, as: :pretty_boolean, label: 'Other'
    %div{class: width_class}
      = f.input :receives_other_detail, label: 'Other details'

%h2 Part IV: Describe Flexible Services Plan
%section.page-break-after
  %div{class: row_class}
    - (1..@vpr.class.max_service_count).each do |i|
      - visibility_class = "jFlexibleServicePlan jPlanID_#{i}"
      - if i > 1 && @vpr["service_#{i}_added_on"].blank?
        - visibility_class += ' jFlexibleServicePlanHidden'
        - next if @pdf
      %div{class: col_class}
        .well.condensed-checkboxes{class: visibility_class}
          %h3 Flexible Service Plan #{i}
          %div{class: width_class}
            = f.input "service_#{i}_added_on", as: :date_picker, label: 'Date service was added to the FS Plan'
            = f.input "service_#{i}_goals", label: 'Goals', hint: '(e.g., obtain housing, improve food security)'
            = f.input "service_#{i}_category", label: 'Flexible Service Category', collection: @vpr.class.available_categories, as: :pretty_boolean_group
            = f.input "service_#{i}_flex_services", label: 'Flexible Services', hint: '(e.g., nutrition bundle, housing search & placement)'
            = f.input "service_#{i}_units", label: 'Units', hint: '(e.g., hours of service,# of weeks, # or $ value of goods)'
            = f.input "service_#{i}_delivering_entity", label: 'Entity Delivering Flexible Service ', hint: '(Organization name)'
            = f.input "service_#{i}_steps", label: 'Steps for Obtaining Service(s)', hint: '(e.g., connect member with XYZ agency, complete services by # date)'
            = f.input "service_#{i}_aco_plan", label: 'ACO Follow-up Plan', hint: '(e.g., after completing services, meet in 4 weeks with ACO main contact)'
          - if i < @vpr.class.max_service_count && @html
            %button{class: 'btn btn-secondary btn-sm jAddFlexiblService'}
              %i.icon-plus
              Add Flexible Service Plan

%h2 Part V: Demographic Data
%section.page-break-after
  .well.condensed-checkboxes
    %div{class: row_class}
      %div{class: col_class}
        = f.input :gender, as: :pretty_boolean_group, collection: @vpr.class.available_genders, label: 'Gender/Gender Identity'
        %div{class: width_class}
          = f.input :gender_detail, label: 'Reason for not specifying', hint: 'Optional'
      %div{class: col_class}
        = f.input :sexual_orientation, as: :pretty_boolean_group, collection: @vpr.class.available_orientations, label: 'Sexual Orientation'
        %div{class: width_class}
          = f.input :sexual_orientation_detail, label: 'Reason for not specifying', hint: 'Optional'
      %div{class: col_class}
        = f.input :race, as: :pretty_boolean_group, collection: @vpr.class.available_races, label: 'Race/Ethnicity (Check all that apply)', multiple: true
        %div{class: width_class}
          = f.input :race_detail, label: 'Other race, ethnicity, or origin detail', hint: 'Optional'
      %div{class: col_class}
        = f.input :primary_language
        %div{class: width_class}
          = f.input :primary_language_refused, as: :pretty_boolean, label: 'Prefer not to say'
      %div{class: col_class}
        = f.input :education, collection: @vpr.class.available_educations, as: :pretty_boolean_group
        %div{class: width_class}
          = f.input :education_detail, label: 'Other education detail'
      %div{class: col_class}
        = f.input :employment_status, collection: @vpr.class.available_employments, as: :pretty_boolean_group

= content_for :page_js do
  :javascript
    var total_possible_services = #{@vpr.class.max_service_count};
    $('.jFlexibleServicePlanHidden').hide();
    $('.jAddFlexiblService').on('click', function(e) {
      e.preventDefault();
      $('.jFlexibleServicePlanHidden:first').removeClass('jFlexibleServicePlanHidden').show();
      $(this).hide();
    });
    $('.jAddFlexiblService:visible:not(:last)').hide();
    if($('.jFlexibleServicePlan:visible').length == total_possible_services) {
      $('.jAddFlexiblService').hide();
    }
