= render 'clients/breadcrumbs'
- title = 'Flexible Services Verification Forms'
= content_for(:title, title)
.o-page
  .o-page__header
    %h1= "#{content_for(:title)} for #{@client.full_name}"
  = render 'clients/tab_navigation', current: client_health_flexible_service_vprs_path(@client)
  .o-page__content
    %section.client__assessments.c-card.c-card--block.c-card--no-padding
      .c-card__header.c-card__header--external
        %h2.section-expander-block__header MassHealth Flexible Services Verification, Planning, and Referral Forms (VPRs)
        = link_to new_client_health_flexible_service_vpr_path(@client), class: 'btn btn-secondary btn-sm ml-auto' do
          %i.icon-plus
          Add VPR
    - if @vprs
      %table.table
        %thead
          %tr
            %th Date of Service Planning
        %tbody
          - @vprs.each do |vpr|
            %tr
              %td
                = link_to edit_client_health_flexible_service_vpr_path(@client, vpr) do
                  %i.icon-pencil
                  vpr.planned_on
    - else
