- if group.blank?
  %p None at this time.
- else
  .mb-4
    %table.table.table-striped.datatable
      %thead
        %tr
          %th Client
          %th Description
          %th Reported
          %th Last Changed
          %th Reported By
      %tbody
        - group.each do |anomaly|
          - object = anomaly.versions.where(event: :update).first&.reify || anomaly
          - whodunnit = anomaly.versions.first&.whodunnit
          - reported_by = whodunnit ? User.find(whodunnit)&.name : nil
          %tr
            %td
              - if anomaly.client.present?
                = link_to_if can_view_clients?, anomaly.client.name, appropriate_client_path(anomaly.client)
              - else
                Client no longer available
            %td
              = object.description
            %td
              = anomaly.created_at
            %td
              = anomaly.updated_at
            %td
              = reported_by || 'Unknown User'
