- title = "Reported Client Anomalies"
- content_for :title, title
%h1= title 
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

.warehouse-reports__anomalies
  %ul.nav.nav-tabs{role: :tablist}
    %li.active{role: :presentation}
      %a{href: "#new", role: :tab, data: {toggle: :tab}, aria: {controls: :new}}
        New
    %li{role: :presentation}
      %a{href: "#unresolved", role: :tab, data: {toggle: :tab}, aria: {controls: :unresolved}}
        Unresolved
    %li{role: :presentation}
      %a{href: "#resolved", role: :tab, data: {toggle: :tab}, aria: {controls: :resolved}}
        Resolved

  .tab-content
    #new.tab-pane.active{role: :tabpanel}
      = render 'section', group: @new
    #unresolved.tab-pane{role: :tabpanel}
      = render 'section', group: @unresolved
    #resolved.tab-pane{role: :tabpanel}
      = render 'section', group: @resolved
    
      