- content_for :title,  'Team Coordinators'
%h1= content_for :title

= render 'menus/health_admin_tabs'
= render 'form'
- if coordinators.blank?
  %p.no-data No team coordinators assigned
- else
  .well
    %table.table.datatable
      %thead
        %tr
          %th
            Team Coordinator
          %th
            Care Coordinator
          %th
      %tbody
        - coordinators.each do |team, care_coordinators|
          - care_coordinators.sort_by { |care| [care[:care].last_name, care[:care].first_name] }.each do |care|
            %tr
              %td
                = team&.name
              %td
                = care[:care]&.name
              %td
                = link_to admin_health_team_coordinator_path(care[:join].id), class: 'btn btn-danger btn-icon-only btn-sm', method: :delete do
                  %i.icon-cross
  = content_for :page_js do
    :javascript
      $('.datatable').DataTable({
        searching: true,
        ordering: true,
        paging: false,
        info: false
      });
