- @jobs.each do |job|
  - parameters = YAML.load(job.handler).job_data['arguments'].first
  - # ignore jobs that are re-calculating the chronic list
  - next unless parameters.is_a?(Hash)

  - parameters['filter'].delete('_aj_hash_with_indifferent_access')
  - report = GrdaWarehouse::WarehouseReports::ChronicReport.new(parameters: parameters)
  %tr{class: 'jIncompleteReport'}
    %td= job.run_at
    %td= render 'spinner'
    %td= render 'parameters', report: report
- @reports.each do |report|
  %tr
    %td
      = report.started_at
    %td
      = link_to warehouse_reports_hud_chronic_path(report) do
        = report.client_count
        clients
    %td= render 'parameters', report: report
    %td
      = link_to warehouse_reports_hud_chronic_path(report), method: :delete, class: 'btn btn-sm btn-danger btn-icon-only', data: {confirm: "Are you sure you want to delete this report?"} do
        %i.icon-cross
