= simple_form_for @filter, as: :filters, url: censuses_path, data: { controller: 'filter-projects' }, html: { method: :get } do |f|
  - content_for :filters_col_full do
    .row.mb-4
      .col-sm-3
        = f.input :start, as: :date_picker, input_html: { value: @filter.start.to_date }, label: 'Start Date', required: true
      .col-sm-3
        = f.input :end, as: :date_picker, input_html: { value: @filter.end.to_date }, label: 'End Date', required: true
      .col-sm-6
        = f.input :coc_codes, collection: @filter.coc_code_options_for_select(user: current_user), required: false, as: :select_two, input_html: {multiple: true, placeholder: 'Choose CoCs', data: {'filter-projects-target' => 'cocCodes', 'action': 'change->filter-projects#update'}}, label: 'CoC Codes'

    = render 'hud_reports/project_filter', f: f, alert: alert, show_organization_picker: true
    %h2.mt-4 View Options
    .row.mb-4.mt-2
      .col-sm-4
        = f.input :aggregation_level, as: :select_two, label: 'Aggregation Level', collection: available_aggregation_levels, required: true, value: @filter.aggregation_level
      .col-sm-6
        = f.input :aggregation_type, as: :select_two, label: 'Census Breakdown', collection: available_aggregation_types, required: true, value: @filter.aggregation_type
    .row.mb-4.mt-2
      .col-sm-8
        = f.input :limit_es_to_nbn, as: :boolean, label: 'Limit ES projects to Night By Night shelters only', required: false, value: @filter.limit_es_to_nbn
  - content_for :filter_actions do
    = f.submit 'Update View', class: ['btn', 'btn-primary'], data: { 'filter-projects-target' => 'submitButton' }

  = render 'warehouse_reports/filters', f:f
