- title = "Configure #{_('CoC Performance Measurement Dashboard')} Goal"
- report = PerformanceMeasurement::Report.new(user: current_user)
- content_for :title, title

= content_for :crumbs do
  = link_to performance_measurement_warehouse_reports_goal_configs_path do
    &laquo; #{_('CoC Performance Measurement Dashboard')} Configurator
.d-flex
  %h1.mb-5= title
  = link_to duplicate_performance_measurement_warehouse_reports_goal_config_path(@goal), method: :post, class: 'btn btn-secondary ml-auto mb-auto', data: { toggle: :tooltip, title: 'Duplicating this goal will make it inactive and create a duplicate for future reporting.', confirm: 'Duplicating this goal will make it inactive and create a duplicate for future reporting.  Reports associated with this report will continue to be measured against this goal.  Are you sure you want to create a new goal for this CoC?' } do
    %i.icon-copy
    Duplicate Goal

= simple_form_for @goal, url: performance_measurement_warehouse_reports_goal_config_path(@goal), as: :goal do |f|
  .well
    .row
      .col-sm-6
        = f.input :coc_code, label: 'CoC Code', collection: @goal.available_cocs(current_user), as: :select_two, include_blank: 'Default'
        = f.input :label, hint: 'Provide a short note about this particular goal'
        = f.input :active, as: :pretty_boolean, label: 'Active Goal?', hint: 'If this box is checked, future reports will run against this goal configuration.'
    .d-flex
      .ml-auto.mt-4= f.submit 'Update Goal'
  %h2 PIT Counts
  .well
    = render 'pit_counts'
  %h2 Specific Goals
  .card
    %table.table.c-table--indicator.mb-0
      %tbody
        - report.goal_configurations.each.with_index do |(title, group), i|
          - rowspan = group.keys.count + group.values.map(&:keys).flatten.count + 1
          %tr.c-table__row{ class: "c-table__row--highlight-#{i + 1}" }
            %th.level.w-20{rowspan: rowspan}
              %h2= title
          - group.each do |sub_category, sub_group|
            %tr.c-table__row{ class: "c-table__row--highlight-#{i + 1}" }
              %th.level{colspan: 2}
                %h3.text-center= sub_category
            - sub_group.each do |key, titles|
              %tr
                %td
                  .d-flex
                    .w-30= f.input key, label: 'Goal value'
                  %p The above goal is used by the following questions:
                  - titles.each do |title, description|
                    .row.mb-4
                      .col-sm-6
                        %strong= title
                      .col-sm-6= description % { goal: @goal[key] }
  .d-flex
    .ml-auto.mt-4= f.submit 'Update Goal'
