- title = "#{_('CoC Performance Measurement Dashboard')} Configurator"
- report = PerformanceMeasurement::Report.new(user: current_user)
- content_for :title, title

= render '/warehouse_reports/breadcrumbs', tab: 'performance'
%h1.mb-5= title
= simple_form_for @default_goal, url: performance_measurement_warehouse_reports_goal_config_path(@default_goal), as: :goal do |f|
  .well
    %p The #{_('CoC Performance Measurement Dashboard')} can be run limited to the projects a user can see, or can be run for the entire CoC with detailed comparisons for all projects. Turning "Always run for full CoC" off is the safer choice.
    .row
      .col-sm-3
        = f.input :always_run_for_coc, label: 'Always run for full CoC'
      .col-sm-2
        = f.submit 'Set CoC Config', class: 'btn-secondary btn-sm ml-4'
.row.mb-4
  .col-sm-8
    %p Goals can be adjusted on a per-CoC basis.  If a particular CoC does not have a goal configuration, the default goal will be used.



  .col-sm-4.d-flex
    .ml-auto
      = link_to performance_measurement_warehouse_reports_goal_configs_path(), method: :post, class: 'btn btn-primary' do
        %i.icon-plus
        Add CoC Specific Goal

.card
  %table.table.table-striped
    %thead
      %tr
        %th CoC
        %th Active Goal?
        %th Label
        %th Updated
        %th
    %tbody
      - @goals.each do |goal|
        %tr
          %td= link_to goal.coc_name, edit_performance_measurement_warehouse_reports_goal_config_path(goal)
          %td= yes_no(goal.active)
          %td= goal.label
          %td= goal.updated_at
          %td
            - if goal.deleteable?
              = link_to performance_measurement_warehouse_reports_goal_config_path(goal), method: :delete, class: 'btn btn-sm btn-icon-only btn-danger' do
                %i.icon-cross
