.row
  .col-sm-8
    %h1 Client Details for #{@project.project&.name} between #{@report.filter.start} and #{@report.filter.end}
  .col-sm-4
    = link_to({action: :show, format: :xlsx}, { class: 'btn btn-secondary'}) do
      %i.icon-download2
      Download
.card
  .overflow-x-scroll{style: "height: 800px"}
    %table.table.table-sm.table-bordered.table-fixed
      %thead.thead-dark
        %tr
          %th
          - ProjectPassFail::Client.detail_headers.each_value do |header|
            %th= header
      %tbody.thead-dark
        - @clients.each.with_index do |client, i|
          %tr
            %th= i + 1
            - ProjectPassFail::Client.detail_headers.each_key do |k|
              %td{style: 'max-width: 600px;'}
                - if k.in?([:first_name, :last_name]) && client.client&.destination_client.present?
                  = link_to client[k], appropriate_client_path(client.client.destination_client)
                - elsif k == :household_id && (client[k].blank? || client[k].ends_with?('*HH'))
                  .text-danger
                    Missing source data
                  .text-muted= client[k]
                - else
                  = client[k]
