= simple_form_for @filter, as: :filters, url: warehouse_reports_dv_victim_service_index_path, html: { method: :get } do |f|
  - content_for :filters_col_full do
    .row
      .col-3
        = f.input :start, label: 'Start Date', as: :date_picker
      .col-3
        = f.input :end, label: 'End Date', as: :date_picker
      .col-3
        = f.input :project_type_codes, label: 'Project Types', as: :select_two, collection: GrdaWarehouse::Hud::Project::PROJECT_GROUP_TITLES.invert, as: :select_two, input_html: { multiple: true, placeholder: 'Choose Project Types' }
      .col-3
        = f.input :project_ids, collection: [], as: :select_two, input_html: { data: { 'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids) }, multiple: true, placeholder: 'Any Project'}, label: 'Projects'
    .row
      .col-sm-12
        Clients are included in the report if they are recorded as currently fleeing domestic violence in the reporting range.
  - content_for :filter_actions do
    .row
      .col-sm-2.mt-no-label
        = f.button :submit, value: 'Update View'


  = render 'warehouse_reports/filters', f:f
