- if @pagy.count.positive?
  .pagy-container.mb-4
    != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
    != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
            Client ID
          %th
            Client Name
      %tbody
        - @clients.each do |source_client|
          - client = source_client.destination_client
          %tr
            %td= client.id
            %td= link_to_if can_view_clients?, source_client.name, appropriate_client_path(client.id)
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('client').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found No clients found.
