- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'user'
  .card.warehouse-reports__user-directory
    %table.table.table-fixed.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th Agency
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to_if can_edit_users? && @user_source == 'warehouse', user.name, edit_admin_user_path(user)
            %td= user.email
            %td= user.phone_for_directory
            %td= user.agency_name
  = render 'common/pagination_bottom', item_name: 'user'
- else
  .none-found No users found.
