- @prompt = 'Search clients...'
- content_for :title, 'Clients'
- sort_options = GrdaWarehouse::Hud::Client.sort_options
.o-page
  .o-page__header.d-flex
    %h1= content_for :title
    - if can_edit_clients?
      = link_to client_matches_path, class: 'btn btn-secondary ml-auto' do
        %span.icon-shrink2
        = _('Process Duplicates')
  .o-page__controls
    .row
      .col-sm-8
        %p
          Search by name, D.O.B. (mm/dd/yyyy), SSN (xxx-yyy-zzzz), Warehouse ID, or PersonalID.  It is often most efficient to search using the first few characters of the first name and last name, e.g. to find
          %em Jane Smith
          you might search for
          %em ja sm.
    .o-page__search
      = render 'search_form', tooltip: 'Search with PersonalID or full or partial "first last" or "last, first" for more specific results', aria: { label: 'Client Search' }, data: {placement: 'bottom'}
    .o-page__sort
      = render 'client_access_control/clients/search/filter'
      = render 'client_access_control/clients/search/sort', sort_options: sort_options
  .table-utilities
    - if params[:q].present?
      %p.mr-5= page_entries_info @clients, entry_name: _('client')
      .client__current-sort-filter
        Currently sorted by:
        %strong= sort_options.select{|m| m[:column] == @column && m[:direction] == @direction}&.first.try(:[], :title)
  = paginate @clients, params: {sort: @column, direction: @direction}

  .o-page__main-content.mt-3
    .clients__list
      = render 'clients/new_client'
      - @clients.each do |client|
        = render 'client_access_control/clients/client_card', client: client

    = paginate @clients, params: {sort: @column, direction: @direction}

    = render 'application/js_link', base_path: 'clients/'
