- @prompt = 'Search clients...'
- content_for :title, 'Clients'

- current_user.client_view_accessor.preload_searchable_clients(@clients)

.o-page
  .o-page__header.d-flex
    %h1= content_for :title
    - if can_edit_clients?
      = link_to client_matches_path, class: 'btn btn-secondary ml-auto' do
        %span.icon-shrink2
        = Translation.translate('Process Duplicates')
  .o-page__controls
    .row
      .col-sm-8
        %p
          Search by name, D.O.B. (mm/dd/yyyy), SSN (xxx-yy-zzzz), Warehouse ID, or PersonalID.  It is often most efficient to search using the first few characters of the first name and last name, e.g. to find
          %em Jane Smith
          you might search for
          %em ja sm.
    .o-page__search
      = render_generic_search_form(client_search_queries_path, method: :post, tooltip_title: 'Search with PersonalID or full or partial "first last" or "last, first" for more specific results', aria_label: 'Client Search', initial_value: @query)
    .o-page__sort
      = render 'client_access_control/clients/search/filter'
      = render 'client_access_control/clients/search/sort'
  -# .table-utilities
  - if @pagy.count.positive?
    .client__current-sort-filter
      Currently sorted by:
      %strong= sort_title
  .o-page__main-content.mt-3
    .clients__list
      = render 'clients/new_client'
      = render_paginated_list_with_explicit_pagy(pagy: @pagy, list: @clients, item_name: 'client', list_partial: 'client_access_control/clients/client_cards')

    = render 'application/js_link', base_path: 'clients/'
