- title = @client.full_name
- content_for :title, title
= render 'clients/breadcrumbs'

.o-page
  .o-page__header
    = render 'clients/aliases'
  = render 'clients/tab_navigation', current: client_path(@client)
  = render GrdaWarehouse::Config.get(:client_dashboard).to_s

= render 'client_access_control/clients/client_rollup_js'
