- title = "Clients Who Have Enrollments before #{@date}"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

= simple_form_for :really_old_enrollments, url: warehouse_reports_really_old_enrollments_path, html: {method: :get} do |f|
  - content_for :filters_col_full do
    .row.mb-4
      .col-sm-3
        .input-group.date{'data-provide' => 'datepicker'}
          = f.input_field :date, name: :date, class: 'form-control', value: @date
          .input-group-append
            %button.icon-calendar.btn.btn-secondary{type: 'button'}

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f

= render 'warehouse_reports/limited_by_project_note'

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'client'
  .warehouse-reports__really_old_enrollments.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Last Name
          %th First Name
          %th Enrollment Date
          %th Data Source
      %tbody
        - st = GrdaWarehouse::Hud::Enrollment.arel_table
        - @clients.each do |client|
          %tr
            %td= link_to_if can_view_clients?, client.LastName.tr(' ', '⎵'), appropriate_client_path(client)
            %td= link_to_if can_view_clients?, client.FirstName.tr(' ', '⎵'), appropriate_client_path(client)
            %td= client.source_enrollments.where( st[:EntryDate].lt @date ).map{|m| "#{m.EntryDate} at #{m.try(:project).try(:name)}"}.join(', ')
            %td= client.source_clients.map{|m| m.data_source&.short_name}.uniq.join(', ')

  = render 'common/pagination_bottom', item_name: 'client'
- else
  .none-found No clients found.
