-# This is hand-curated to match http://www.hudhdx.info/Resources/Vendors/spm/SPMReport.csv
CoCCode,ReportDateTime,ReportStartDate,ReportEndDate,SoftwareName,SourceType,SourceContactFirst,SourceContactLast,SourceContactEmail,ESSHUniverse_1A,ESSHAvgTime_1A,ESSHMedianTime_1A,ESSHTHUniverse_1A,ESSHTHAvgTime_1A,ESSHTHMedianTime_1A,ESSHUniverse_1B,ESSHAvgTime_1B,ESSHMedianTime_1B,ESSHTHUniverse_1B,ESSHTHAvgTime_1B,ESSHTHMedianTime_1B,SOExitPH_2,SOReturn0to180_2,SOReturn181to365_2,SOReturn366to730_2,ESExitPH_2,ESReturn0to180_2,ESReturn181to365_2,ESReturn366to730_2,THExitPH_2,THReturn0to180_2,THReturn181to365_2,THReturn366to730_2,SHExitPH_2,SHReturn0to180_2,SHReturn181to365_2,SHReturn366to730_2,PHExitPH_2,PHReturn0to180_2,PHReturn181to365_2,PHReturn366to730_2,TotalPIT_3,ESPIT_3,SHPIT_3,THPIT_3,ShelteredPIT_3,UnshelteredPIT_3,TotalAnnual_3,ESAnnual_3,SHAnnual_3,THAnnual_3,AdultStayers_4,IncreaseEarned4_1,IncreaseOther4_2,IncreaseTotal4_3,AdultLeavers_4,IncreaseEarned4_4,IncreaseOther4_5,IncreaseTotal4_6,EnterESSHTH5_1,ESSHTHWithPriorSvc5_1,EnterESSHTHPH5_2,ESSHTHPHWithPriorSvc5_2,SOExitPH_6,SOReturn0to180_6,SOReturn181to365_6,SOReturn366to730_6,ESExitPH_6,ESReturn0to180_6,ESReturn181to365_6,ESReturn366to730_6,THExitPH_6,THReturn0to180_6,THReturn181to365_6,THReturn366to730_6,SHExitPH_6,SHReturn0to180_6,SHReturn181to365_6,SHReturn366to730_6,PHExitPH_6,PHReturn0to180_6,PHReturn181to365_6,PHReturn366to730_6,SHTHRRHCat3Leavers_6,SHTHRRHCat3ExitPH_6,PSHCat3Clients_6,PSHCat3StayOrExitPH_6,SOExit_7,SOExitTempInst_7,SOExitPH_7,ESSHTHRRHExit_7,ESSHTHRRHToPH_7,PHClients_7,PHClientsStayOrExitPH_7
:ruby
  data = [
    'MA-500',
    "#{Time.now.strftime("%Y-%m-%d %H:%M:%S %z")}",
    @report_results_summary.report_start,
    @report_results_summary.report_end,
    'Boston DND Warehosue',
    3,
    "#{current_user.first_name}",
    "#{current_user.last_name}",
    "#{current_user.email}",
    @all_results.try(:[], :onea_c2).try(:[], :value),
    @all_results.try(:[], :onea_e2).try(:[], :value),
    @all_results.try(:[], :onea_h2).try(:[], :value),
    @all_results.try(:[], :onea_c3).try(:[], :value),
    @all_results.try(:[], :onea_e3).try(:[], :value),
    @all_results.try(:[], :onea_h3).try(:[], :value),
    @all_results.try(:[], :oneb_c2).try(:[], :value),
    @all_results.try(:[], :oneb_e2).try(:[], :value),
    @all_results.try(:[], :oneb_h2).try(:[], :value),
    @all_results.try(:[], :oneb_c3).try(:[], :value),
    @all_results.try(:[], :oneb_e3).try(:[], :value),
    @all_results.try(:[], :oneb_h3).try(:[], :value),
    @all_results.try(:[], :two_b2).try(:[], :value),
    @all_results.try(:[], :two_c2).try(:[], :value),
    @all_results.try(:[], :two_e2).try(:[], :value),
    @all_results.try(:[], :two_g2).try(:[], :value),
    @all_results.try(:[], :two_b3).try(:[], :value),
    @all_results.try(:[], :two_c3).try(:[], :value),
    @all_results.try(:[], :two_e3).try(:[], :value),
    @all_results.try(:[], :two_g3).try(:[], :value),
    @all_results.try(:[], :two_b4).try(:[], :value),
    @all_results.try(:[], :two_c4).try(:[], :value),
    @all_results.try(:[], :two_e4).try(:[], :value),
    @all_results.try(:[], :two_g4).try(:[], :value),
    @all_results.try(:[], :two_b5).try(:[], :value),
    @all_results.try(:[], :two_c5).try(:[], :value),
    @all_results.try(:[], :two_e5).try(:[], :value),
    @all_results.try(:[], :two_g5).try(:[], :value),
    @all_results.try(:[], :two_b6).try(:[], :value),
    @all_results.try(:[], :two_c6).try(:[], :value),
    @all_results.try(:[], :two_e6).try(:[], :value),
    @all_results.try(:[], :two_g6).try(:[], :value),
    nil,
    nil,
    nil,
    nil,
    nil,
    nil,
    @all_results.try(:[], :three2_c2).try(:[], :value),
    @all_results.try(:[], :three2_c3).try(:[], :value),
    @all_results.try(:[], :three2_c4).try(:[], :value),
    @all_results.try(:[], :three2_c5).try(:[], :value),
    @all_results.try(:[], :four1_c2).try(:[], :value),
    @all_results.try(:[], :four1_c3).try(:[], :value),
    @all_results.try(:[], :four2_c3).try(:[], :value),
    @all_results.try(:[], :four3_c3).try(:[], :value),
    @all_results.try(:[], :four4_c2).try(:[], :value),
    @all_results.try(:[], :four4_c3).try(:[], :value),
    @all_results.try(:[], :four5_c3).try(:[], :value),
    @all_results.try(:[], :four6_c3).try(:[], :value),
    @all_results.try(:[], :five1_c2).try(:[], :value),
    @all_results.try(:[], :five1_c3).try(:[], :value),
    @all_results.try(:[], :five2_c2).try(:[], :value),
    @all_results.try(:[], :five2_c3).try(:[], :value),
    nil,
    nil,
    nil,
    nil,
    nil,
    nil,
    nil,
    nil,
    @all_results.try(:[], :sixab_b4).try(:[], :value),
    @all_results.try(:[], :sixab_c4).try(:[], :value),
    @all_results.try(:[], :sixab_e4).try(:[], :value),
    @all_results.try(:[], :sixab_g4).try(:[], :value),
    @all_results.try(:[], :sixab_b5).try(:[], :value),
    @all_results.try(:[], :sixab_c5).try(:[], :value),
    @all_results.try(:[], :sixab_e5).try(:[], :value),
    @all_results.try(:[], :sixab_g5).try(:[], :value),
    @all_results.try(:[], :sixab_b6).try(:[], :value),
    @all_results.try(:[], :sixab_c6).try(:[], :value),
    @all_results.try(:[], :sixab_e6).try(:[], :value),
    @all_results.try(:[], :sixab_g6).try(:[], :value),
    @all_results.try(:[], :sixc1_c2).try(:[], :value),
    @all_results.try(:[], :sixc1_c3).try(:[], :value),
    @all_results.try(:[], :sixc2_c2).try(:[], :value),
    @all_results.try(:[], :sixc2_c3).try(:[], :value),
    @all_results.try(:[], :sevena1_c2).try(:[], :value),
    @all_results.try(:[], :sevena1_c3).try(:[], :value),
    @all_results.try(:[], :sevena1_c4).try(:[], :value),
    @all_results.try(:[], :sevenb1_c2).try(:[], :value),
    @all_results.try(:[], :sevenb1_c3).try(:[], :value),
    @all_results.try(:[], :sevenb2_c2).try(:[], :value),
    @all_results.try(:[], :sevenb2_c3).try(:[], :value),
  ]
= data.join(',').html_safe