%table.table
  %thead
    %tr
      %th User
      %th Agency
      %th Type
      %th Location
      %th Requested At
      %th Started On
      %th Ended On
      %th Scheduled End
      %th
  %tbody
    - @isolations.each do |isolation|
      %tr
        %td= isolation.user.name
        %td= isolation.agency.name
        %td= isolation.type.split('::').last
        %td= isolation.location
        %td= isolation.isolation_requested_at
        %td= isolation.started_on
        %td= isolation.ended_on
        %td= isolation.scheduled_to_end_on
        %td
          = link_to destroy_isolation_client_he_clinical_path(client_id: isolation.client_id, id: isolation.id), method: :delete, data: {confirm: 'Are you sure you want to delete this entry?'}, class: 'btn btn-danger btn-sm btn-icon-only' do
            %i.icon-cross
