= simple_form_for @quarantine, url: quarantine_client_he_clinicals_path do |f|
  .row
    .col-md-3
      = f.input :location
    .col-md-3
      = f.input :started_on,  as: :date_picker
    .col-md-3
      = f.input :ended_on,  as: :date_picker
    .col-md-3
      = f.input :scheduled_to_end_on,  as: :date_picker

  .row
    .col
      = f.submit 'Add Quarantine'