%h1 Clinical Information

#test-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render 'test_form'

  = render 'common/panel_collapse', id: 'test-info', title: 'Add Test'

#isolation-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render 'isolation_form'

  = render 'common/panel_collapse', id: 'isolation-info', title: 'Add Isolation'

#quarantine-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render 'quarantine_form'

  = render 'common/panel_collapse', id: 'quarantine-info', title: 'Add Quarantine'

%h2 Tests
- if @tests.present?
  = render 'tests_table'
- else
  No Recorded Tests

%h2 Isolations and Quarantines
- if @isolations.present?
  = render 'isolations_table'
- else
  No Recorded Isolations or Quarantines