- title = "Expiring Items Report"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-member-status-tracking'
%ul.nav.nav-tabs{role: :tablist}
  - @report.tabs.each do |slug, name|
    %li.nav-item{role: :presentation}
      %a{href: "##{slug}", role: :tab, data: {toggle: :tab}, aria: {controls: "#{name}"}, class: 'nav-link'}
        #{name}

.tab-content#reports-tab-content
  - @report.tabs.each do |slug, name|
    %div{role: :tabpanel, class: 'tab-pane', id: slug}
      %div.o-card-grid{class: "warehouse-reports__#{slug}"}
        = render slug.to_s

= render 'common/bootstrap_tab_memory'
