= render 'clients/youth/intakes/breadcrumbs'
= content_for :modal_title, 'Case Management Note'
= simple_form_for @entity, as: :entity, url: polymorphic_path(youth_case_management_path_generator, id: @entity.id) do |f|
  = render 'form', f: f
  = f.submit 'Save', class: 'btn btn-primary'
