%h1 Comprehensive Assessment
%h2 Identifying Information
.well
  = render 'field_section', f: f, fields: @assessment.identifying_information

%h2 Demographic Information
.well
  = render 'field_section', f: f, fields: @assessment.demographic_information

%h2 Immediate care needs and current services
%h3 (including but not limited to any Care Coordination or management activities and any services being provided by state agencies)

%h4 Current Services
.well
  %h5 Member receives Care Coordination or Management Services funded by (check all that apply):
  = f.input :funders, as: :pretty_boolean_group, collection: @assessment.service_funders, multiple: true, label: ''

  %hr
  %h5 Other service providers
  = render 'service_providers_table', f: f

%h2 Health Conditions
%h3 Medical History/Medical Needs (include ICD codes if applicable)
.well
  = render 'medical_history_table', f: f

%h3 General Health
.well
  = f.input :general_health_condition, as: :select_two, collection: @assessment.general_health_conditions, label: 'In general, would you say your health is'
  = f.input :general_health_pain, as: :select_two, collection: @assessment.pain_levels, label: 'In the past 7 days, how much pain have you felt?'
  = f.input :general_health_comments, as: :text, label: 'Comments'

%h2 Medications
%h3 Medication Summary
.well
  = render 'medications'

%h3 Medication Adherence
.well
  = f.input :medication_adherence, as: :select_two, collection: @assessment.medication_adherence_responses, label: 'How often do you have trouble taking medicines the way you been told to take them?'
  = f.input :medication_adherence_notes, as: :text, label: 'Notes/Comments'

%h2 Enrollee's ability to communicate concerns, symptoms, or care goals
%h3 Ability to communicate concerns, symptoms, or care goals
.well
  = f.input :can_communicate_about, as: :pretty_boolean_group, collection: @assessment.can_communicate_about_responses, label: 'Does the Enrollee have the ability to communicate: (check all that apply):', multiple: true
  = f.input :can_communicate_notes, as: :text, label: 'Notes/Comments'

%h2 Functional status and needs
%i (including needs for assistance with any Activities of Daily Living (ADLs) or Instrumental Activities of Daily Living (IADLs))
.well
  %h3 Assessed Needs Checklist – Activities of Daily Living
  = f.input :assessed_needs, as: :pretty_boolean_group, collection: @assessment.assessed_needs_responses, label: 'Check all current need areas for the enrollee:', multiple: true
  = f.input :assessed_needs_notes, as: :text, label: 'Additional comments'

%h2 Self-identified strengths, weaknesses, interests, choices, preferences, care goals, personal goals and cultural considerations
.well
  %h3 In Enrollee's words
  = f.input :strengths, as: :text, label: 'Strengths', input_html: {rows: 5}
  = f.input :weaknesses, as: :text, label: 'Weaknesses', input_html: {rows: 5}
  = f.input :interests, as: :text, label: 'Interests', input_html: {rows: 5}
  = f.input :choices, as: :text, label: 'Choices and Preferences', input_html: {rows: 5}
  = f.input :personal_goals, as: :text, label: 'Personal goals', input_html: {rows: 5}
  = f.input :cultural_considerations, as: :text, label: 'Cultural considerations', input_html: {rows: 5}

%h2 Current and past mental health and substance use
%h3 Substance use
.well
  = f.input :substance_use, as: :pretty_boolean_group, collection: @assessment.substance_use_responses, label: 'How many times in the past year have you used medication for non-medical reasons?'

%h3 Tobacco use
.well
  %h4 In the last 30 days, have you used tobacco?
  = f.input :cigarette_use, as: :pretty_boolean, label: 'Smoked cigarettes'
  = f.input :smokeless_use, as: :pretty_boolean, label: 'Used a smokeless tobacco product'

%h3 Alcohol use
.well
  = f.input :alcohol_use, label: 'In  the past 7 days, on how many days did you drink alcohol?'
  = f.input :alcohol_drinks, as: :select_two, collection: @assessment.alcohol_drinks_responses, label: 'On days when you drink alcohol, how often do you have (5 or more for men, 4 or more for women and those men and women 65 years old or over)) alcoholic drinks on one occasion?'
  = f.input :alcohol_driving, as: :pretty_boolean, label: 'Do you ever drive after drinking, or ride with a driver who has been drinking?'

%h3 SUD Treatments
.well
  = render 'treatments'

  = f.input :sud_treatment_efficacy, as: :text, label: 'Efficacy of past and current treatment', input_html: { rows: 5 }, placeholder: 'Indicate if treatment was helpful and explain why the person thinks it was or was not helpful.'
  = render 'with_other', f: f, key: :sud_treatment_sources, kind: :select_two, collection: @assessment.sud_treatment_sources_responses, label: 'Sources of Information', input_html: { multiple: true }

%h2 Accessibility Requirements
%i (Including but not limited to preferred language and specific communication needs, transportation needs, and equipment needs)

%h3 Accessibility Requirements and Equipment Needs
.well
  = f.input :preferred_mode, as: :select_two, collection: @assessment.preferred_mode_responses, label: "Member's preferred language"
  = f.input :communicate_in_english, as: :select_two, collection: @assessment.yes_no, label: 'Is the Member able to communicate in English?'

  = f.input :accessibility_equipment, as: :select_two, collection: @assessment.accessibility_equipment_responses, input_html: { multiple: true }
  = f.input :accessibility_equipment_notes, as: :text, label: 'Comments'
  = f.input :accessibility_equipment_start, as: :date_picker, label: 'Start Date'
  = f.input :accessibility_equipment_end, as: :date_picker, label: 'End Date'

%h2 Available informal, caregiver, or social supports, including Peer Supports
.well
  = render 'social_supports', f: f

%h2 Risk factors for abuse or neglect
.well
  %h3 Risk Factors for Abuse or Neglect
  %p Because violence and abuse happen to a lot of people and affects their health, we are asking the following questions

  = render 'field_section', f: f, fields: @assessment.abuse_risk_factors
  %p A score of 11 or more when the numerical values for answers to questions 7-10 are added shows that the person might not be safe.

  = f.input :abuse_risk_notes, as: :text, label: 'Comments/Notes'

%h2 Advance directives status and preferences and guardianship status
.well
  = render 'advanced_directives', f: f

%h2 Employment Status
.well
  %h3 Employment status, professional interests and professional goals
  = render 'field_section', f: f, fields: @assessment.employment_questions

%h2 Legal Status for Individuals in Justice System
.well
  %h3 Legal Status for individuals involved in the justice system
  = render 'legal_status', f: f

%h2 Education
.well
  %h3 Education
  = render 'education', f: f

%h2 Income and Financial Support
.well
  %h3 Income/Financial Support
  = render 'with_other', f: f,  key: :financial_supports, kind: :select_two, collection: @assessment.financial_support_responses, label: 'Do you receive any sources of financial assistance?', input_html: { multiple: true }

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jWithOther').change(function() {
        other_input = $(this).closest('.jSelectPair').find('.jOther');
        values = $(this).val();
        if(values.includes('other')) {
          $(other_input).slideDown();
        } else {
          $(other_input).slideUp();
        }
      });

      $('.jWithOther').each(function() {
        values =$(this).val();
        if(! values.includes('other')) {
          $(this).closest('.jSelectPair').find('.jOther').hide();
        }
      });
    });

