%table
  %thead
    %tr
      %th.pctc-print__detail-label.pr-8 Initial Date
      - if @assessment.reviewed_by.present?
        %th.pctc-print__detail-label.pr-8 Reviewed on
      - elsif @assessment.completed_at.present?
        %th.pctc-print__detail-label.pr-8 Completed on
  %tbody
    %tr
      %td.pctc-print__detail-value.pr-8= @assessment.created_at.to_date
      - if @assessment.reviewed_by.present?
        %td.pctc-print__detail-value.pr-8= @assessment.reviewed_at.to_date
      - elsif @assessment.completed_at.present?
        %td.pctc-print__detail-value.pr-8= @assessment.completed_at.to_date

.pctc-print__table
  %table
    %thead
      %tr
        %th.pctc-print__table-title.pt-8{colspan: 2}
          Identifying Information
      = render 'pdf_field_section', fields: @assessment.identifying_information
.pctc-print__table
  %table
    %thead
      %tr
        %th.pctc-print__table-title.pt-8{colspan: 2}
          Demographic Information
      %tr
        %th{style: 'width:40%;'} Race
        %td
          - display_values = @assessment.race_responses.select{|k, v| @assessment.race.include?(v)}.keys
          = display_values.join(', ')
      = render 'pdf_field_section', fields: @assessment.demographic_information

