.card
  %table.table.table-striped.mb-0
    %thead
      %tr
        %th Report
        %th Date Requested
        %th Generated From
    %tbody
      - @items.each.map do |item|
        - next unless item.generator_url
        %tr
          %td
            = link_to item.download_title, item.download_url, download: 'download'
          %td
            = item.created_at.to_s(:long)
          %td= link_to 'Report', "#{item.generator_url}?#{item.query_string}"
