%h2 Project Groups Included (#{@collection.project_groups.count})
.row
  - @collection.relevant_entity_types.each do |entity_type, entity_title|
    .col-sm-4
      .card
        .card-header.border-bottom
          %h3= entity_title
          - unless @collection.entities_locked?
            = link_to 'Add / Remove', entities_admin_collection_path(@collection, entities: entity_type), class: ['btn', 'btn-primary', 'btn-sm'], data: { loads_in_ajax_modal: true }
        .card-body
          - if @collection.public_send(entity_type).exists?
            .card-body-negate-padding
              .border-bottom.mb-4.px-4.pb-4
                = pluralize(number_with_delimiter(@collection.public_send(entity_type).count), 'Project Group')

              - @collection.public_send(entity_type).each do |entity|
                - slug = "#{entity_type}_#{entity.id}"
                - title = "#{entity.name} (#{number_with_delimiter(entity.projects.size)})"
                - content_for "panel_collapse_content_#{slug}".to_sym do
                  - entity.projects.each do |project|
                    .project= project.ProjectName
                = render 'common/panel_collapse', id: slug, title: title, content: "_#{slug}", wrapper_class: '', arrow_icon: 'icon-angle'
          - else
            .none-found.border-0 No #{entity_title}
