- title = "Manage Collections"
- content_for :title, title

.o-page
  .o-page__title
    %h1= content_for :title
    = render partial: 'menus/admin_tabs'

  = render 'admin/collections/description', entity_type: 'warehouse'

  .d-flex
    = link_to new_admin_collection_path, class: 'btn btn-primary mb-2 mr-auto' do
      %span.icon-plus
      Add a Collection
    .w-50.ml-auto
      - @prompt = 'Search collections...'
      = render 'search_form'
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'group'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Type
            %th Description
            %th.text-center Access Controls
            %th.text-center
              System Collection
              %i.icon-info{data: {toggle: :tooltip, title: 'System collections are automatically maintained, and cannot be removed.'}}
            %th Action
        %tbody
          - @collections.each do |collection|
            %tr
              %td= link_to collection.name, admin_collection_path(collection)
              %td= collection.describe_type
              %td= collection.description
              %td.text-center= collection.access_controls.count
              %td.text-center= checkmark(collection.must_exist? || collection.entities_locked?, style: :svg)
              %td
                - if collection.access_controls.count.positive? || collection.must_exist?
                  .btn.btn-disabled.disabled.btn-sm
                    %span.icon-cross
                    Delete
                - else
                  = link_to admin_collection_path(collection),  method: :delete, data: {confirm: "Would you really like to delete the collection #{collection.name}?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                    %span.icon-cross
                    Delete
    = render 'common/pagination_bottom', item_name: 'collection'
  - else
    .none-found No collections found.
