= simple_form_for @range, as: :range, remote: true, url: cohort_report_path(@cohort), html: { method: :get, class: 'jFilter' } do |f|
  = f.error_notification
  .row
    .col-sm-4
      = f.input :start, input_html: {value: @range.start, class: 'form-control jStart'}, as: :date_picker
    .col-sm-4
      = f.input :end, input_html: {value: @range.end, class: 'form-control jStart'}, as: :date_picker
    .col-sm-4.margin-top-04
      %div.pull-right
        = f.button :submit, value: 'Run Report', data: { disable: 'running...' }