- chart_id = "j-client-#{id}"
%section.mb-6
  .d-flex.align-items-baseline
    %h3.mr-3 Client ##{id+1}
    .h5-prs1= data.values_at(*%i/ethnicity race gender age_group/).select(&:present?).join('; ')
    .ml-auto
      = link_to client_path(data[:client_id]), style: 'font-weight: 600' do
        View client dashboard
        &raquo;
  .j-chart(id=chart_id)
- content_for :page_js do
  :javascript
    var domain = #{@report.time_range.to_json.html_safe};
    var enrollments = #{data[:enrollments].to_json.html_safe};
    App.WarehouseReports.clientTimelineChart({
      enrollments: enrollments,
      rootSelector: '#' + #{chart_id.to_json.html_safe},
      domain: domain,
      cocs: #{@details[:cocs].to_json.html_safe}
    });
