.mb-4
  %h3 Count of Asynchronously and Concurrently Overlapping Clients
  .row.flex-wrap
    .col
      %p Time Range
      %p [Start and end date]
    .col
      %p Total Shared Clients
      %p 205

:ruby
  types = {
    'all' => 'All (Unique Clients)',
    'ca' => 'CA (Coordinated Assessment)'
  }.merge @project_types
  funding_sources = {
    'all' => 'All (Unique Clients)',
    'state' => 'State',
    'esg' => 'ESG (Emergency Solutions Grants)'
  }
.mb-8
  = render 'table', scope: 'project_type' do
    - values = [103, 102]
    - types.each do |key, project_type|
      %tr
        %td{style: 'width: 35%'}= project_type
        %td{style: 'width: 35%'}
          = render 'bars', total: 103, values: values
        %td{style: 'width: 15%'}= values.first
        %td{style: 'width: 15%'}= values.last
.mb-6
  = render 'table', scope: 'funding_source' do
    - values = [103, 102]
    - funding_sources.each do |key, source|
      %tr
        %td{style: 'width: 35%'}= source
        %td{style: 'width: 35%'}
          = render 'bars', total: 103, values: values
        %td{style: 'width: 15%'}= values.first
        %td{style: 'width: 15%'}= values.last
