:scss
  [data-toggle="tooltip"] {
    cursor: pointer
  }
%div(style='margin-bottom: 4.5em')
  %h2
    = "#{pluralize @details[:clients].size, 'client'} were served in both "
    = "#{@report.coc1.number_and_name} and #{@report.coc2.number_and_name}"
    = "between #{@report.start_date} - #{@report.end_date}"
  - if @report.project_type
    %h3 Only considering clients with #{::HUD.project_type(@report.project_type)} enrollments in both projects

%div(style='margin-bottom: 2em')
  = render 'demographics_rollups'
- @details[:clients].each.with_index do |data, idx|
  = render 'client_card', data: data, id: idx
