%div(style='margin-bottom: 4.5em')
  %h2
    = "#{pluralize @report.all_overlapping_clients, 'client'} were served in both "
    = "#{@report.coc1.number_and_name} and #{@report.coc2.number_and_name}"
    = "between #{@report.start_date} - #{@report.end_date}"

- @details[:clients].each.with_index do |data, idx|
  - chart_id = "j-client-#{idx}"
  %section.mb-6
    %h3
      = "#{data[:label]}: "
      %small= data.values_at(*%i/ethnicity race gender age_group/).select(&:present?).join('; ')
    .j-chart(id=chart_id)
    -#%pre= JSON::pretty_generate(data)
  - content_for :page_js do
    :javascript
      var domain = #{@report.time_range.to_json.html_safe};
      var enrollments = #{data[:enrollments].to_json.html_safe};
      App.WarehouseReports.ClientTimelineChart({
        enrollments: enrollments,
        rootSelector: '#' + #{chart_id.to_json.html_safe},
        domain: domain,
      });

