:scss
  [data-toggle="tooltip"] {
    cursor: pointer
  }

= content_for :crumbs do
  = link_to url_for(link_params.merge(action: :index)) do
    &laquo;
    Overlapping CoC Utilization

.mb-4
  %h1.mb-3
    - if @report.non_overlapping
      = "#{pluralize @details[:clients].size, 'Non-Overlapping Shared Client'}"
    - else
      = "#{pluralize @details[:clients].size, 'Shared Client'}"
    - if @report.project_type
      in #{::HudUtility.project_type(@report.project_type)} enrollments
    = "by Demographics and Time"
  %p.text-muted
    %em= "Served by #{@report.coc1.number_and_name} and #{@report.coc2.number_and_name} between #{@report.start_date} - #{@report.end_date}."

.mb-6
  %h2 Client Demographic Breakdown
  = render 'demographics_rollups'

.rollup{data: {partial: :clients}}
  %p.well.text-center.jRemoveWhenComplete Loading...
= content_for :page_js do
  :javascript
    var section_path = "#{warehouse_reports_overlapping_coc_utilization_index_path}/";
    var sections = new App.Sections.Loader($('.rollup'), section_path, #{link_params.to_json.html_safe});
