:scss
  .c-input-group {
    margin-bottom: 50px;
  }
  .c-input-group__description {
    font-size: 16px;
    font-weight: 600;
  }

- title = "Overlapping CoC Utilization"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs', tab: 'operational-reports'

.l-page-heading.mb-4
  %h1= title

- report_id = 'coc-overlap-report'
- map_id = report_id + '-map'
- results_id = report_id + '-results'

.warehouse-reports__ad_hoc-export.c-report{id: report_id}
  .row
    .col-md-12
      %p.mb-6 This report summarizes the overlaps in clients and services between CoCs you have shared access with.
  = simple_form_for :compare, url: url_for, method: :get do |f|
    .row
      .col-md-3
        .c-input-group
          %p.c-input-group__description Service Date Range
          .d-flex
            = f.input :start_date, as: :date_picker, label: false, input_html: {value: @start_date}, hint: 'Select clients who received service in the during the time-frame.'
      .col-md-3
        .c-input-group
          %p.c-input-group__description.d-none.d-sm-block &nbsp;
          = f.input :end_date, as: :date_picker, label: false, input_html: {value: @end_date}
      .col-md-3
        .c-input-group
          %p.c-input-group__description.text-nowrap.text-truncate
            %span.mr-2 Primary CoC
            %span.c-swatch.d-inline
              %span.c-swatch__display.c-swatch__display--map-0
          = f.input :coc1, collection: @cocs, value_method: :id, label_method: :number_and_name, required: true, label: false, input_html: { class: [:select2] }, hint: 'Show the number of clients you have shared with each other CoCs'
      .col-md-3
        .c-input-group
          %p.c-input-group__description.text-nowrap.text-truncate
            %span.mr-2 Secondary CoC
            %span.c-swatch.d-inline
              %span.c-swatch__display.c-swatch__display--map-1
          = f.input :coc2, collection: @cocs, value_method: :id, label_method: :number_and_name, required: false, label: false, input_html: { class: [:select2] }, hint: 'Select a second CoC to show you a break-down of the clients shared between the to CoCs'
  .row
    .col-md-6
      %h2.mb-8 Primary CoC shares clients with the these other CoCs in the region
      .mb-1= render 'common/gradient_legend', labels: ['No shared clients','200+ shared clients'], colors: ['#FFFFFF', '#0154A6']
      .coc-util-overlap.mb-6.o-container--with-loader{id: map_id, style: 'min-height: 600px; borer: 1px solid silver; background: lightblue;'}

    .col-md-6
      %div.o-container--with-loader{id: results_id, style: 'min-height: 600px;'}
        %h2.mb-8 Breakdown of services provided to shared clients of Primary CoC and Secondary CoC.
        %p
          %em This report requires two CoCs to be selected.

= content_for :page_js do
  :javascript
    new App.Reports.CocOverlap('#{report_id}', {
      map: {
        elementId: "#{map_id}",
        shapes: #{@shapes.to_json.html_safe},
      },
      inputs: [ '#compare_coc1', '#compare_coc2'],
      dateInputs: [ '#compare_start_date', '#compare_end_date'],
    })
