:scss
  .form-group label {
    font-size: 16px;
    font-weight: 600;
  }
- title = "Overlapping CoC Utilization"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs', tab: 'operational'

.l-page-heading.mb-4
  %h1= title

- report_id = 'coc-overlap-report'
- map_id = report_id + '-map'
- results_id = report_id + '-results'

.warehouse-reports__ad_hoc-export.c-report{id: report_id}
  .row
    .col-md-12
      %p.mb-6 This report summarizes the overlaps in clients and services between CoCs.
  = simple_form_for :compare, url: url_for, method: :get do |f|
    .row
      .col-md-3
        = f.input :coc1, collection: @cocs, value_method: :id, label_method: :number_and_name, required: false, label: 'Primary CoC', input_html: { class: [:select2] }, hint: 'Show the number of clients you have shared with each other CoCs'
      .col-md-3
        = f.input :coc2, collection: @cocs, value_method: :id, label_method: :number_and_name, required: false, label: 'Secondary CoC', input_html: { class: [:select2] }, hint: 'Select a second CoC to show you a break-down of the clients shared between the to CoCs'
      .col-md-3
        = f.input :start_date, as: :date_picker, label: 'Service Date Range', input_html: {value: @start_date}, hint: 'Select clients who received service in the during the time-frame.', required: false
      .col-md-3
        = f.input :end_date, as: :date_picker, label: '&nbsp;'.html_safe, input_html: {value: @end_date}, required: false
  .row
    .col-md-6
      %h2.mb-6
        %span.coc1-name Primary CoC
        = " shares clients with these other CoCs in the region"
      .mb-1
        .c-swatch
          %span.c-swatch__display.c-swatch__display--map-0
          %b.coc1-name Primary CoC
      .mb-1
        .c-swatch
          %span.c-swatch__display.c-swatch__display--map-1
          %b.coc2-name Secondary CoC
      .mb-1.coc-util-overlap.o-container--with-loader{id: map_id, style: 'min-height: 600px; borer: 1px solid silver; background: lightblue;'}
      = render 'common/gradient_legend', labels: ['No shared clients','200+ shared clients'], colors: ['#FFFFFF', '#0154A6']
    .col-md-6
      %div.o-container--with-loader{id: results_id, style: 'min-height: 600px;'}
        %h2.mb-6 Breakdown of services provided to shared clients of Primary CoC and Secondary CoC.
        %p
          %em This report requires two CoCs to be selected.

= content_for :page_js do
  :javascript
    new App.Reports.CocOverlap('#{report_id}', {
      map: {
        elementId: "#{map_id}",
        shapes: #{@shapes.to_json.html_safe},
      },
      inputs: [ '#compare_coc1', '#compare_coc2'],
      dateInputs: [ '#compare_start_date', '#compare_end_date'],
    })
