- title = "Overlapping CoC Utilization"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'operational-reports'

- report_id = 'coc-overlap-report'
- map_id = report_id + '-map'
.warehouse-reports__ad_hoc-export{id: report_id}
  .row
    .col-6
      .coc-util-overlap{id: map_id}
    .col-6
      = simple_form_for :compare, url: url_for, method: :get do |f|
        = f.input :coc1, collection: @cocs, value_method: :id, name_method: :name, required: true, label: 'CoC 1', input_html: { class: [:select2] }
        = f.input :coc2, collection: @cocs, value_method: :id, name_method: :name, required: true, label: 'CoC 2', input_html: { class: [:select2] }
        = f.submit 'Compare'

= content_for :page_js do
  :javascript
    new App.Reports.CocOverlap('#{report_id}', {
      mapId: "#{map_id}",
      mapShapes: #{@shapes.to_json.html_safe},
      inputs: [ ]
    })
