- title = "Self Sufficiency Matrix Form for #{@client.full_name}"
- content_for(:title, title)
.o-page
  .o-page__header
    %h1
      = content_for(:title)
  = render 'clients/breadcrumbs'
  = render 'clients/tab_navigation', current: polymorphic_path(careplan_path_generator)

  = render 'form'
