- title = "Contacts for #{@entity.OrganizationName}"
- content_for :title, title
%h1= title
= render 'organizations/breadcrumbs'

.row
  .col-sm-12
    = link_to new_organization_contact_path(@entity), class: 'btn btn-primary pull-right mb-2', data: {loads_in_pjax_modal: true} do
      %span.icon-plus
      Add a Contact
.row
  .col-sm-12
    - if @contacts.present?
      %table.table.table-sm
        %thead
          %tr
            %th
              Name
            %th
              Email
            %th
        %tbody
          - @contacts.each do |contact|
            %tr
              %td
                = link_to edit_organization_contact_path(@entity, contact) do
                  = contact.full_name
              %td
                = contact.email
              %td
                = link_to organization_contact_path(@entity, contact), method: :delete, class: 'btn btn-default', data: {confirm: "Do you really want to delete contact #{contact.full_name}"} do
                  %span.icon-cross
                  Delete
    - else
      %p
        No organization contacts on file.
