:javascript
  (function(){
    var dates = #{data.to_json.to_s.html_safe};
    var categories = #{data[active_date]['categories'].to_json.to_s.html_safe};
    var options = {
      data: {
        columns: [],
        type: 'bar',
        groups: [#{groups.to_json.html_safe}],
        labels:  false,
        order: null,
      },
      bar: {
        label: false,
      },
      bindto: {
        element: ".#{chart_class}"
      },
      color: {
        pattern: #{@report.chart_color_pattern(category)}
      },
      axis: {
        rotated: true,
        x: {
          show: false,
        },
        y: {
          show: false,
        }
      },
      size: {
        height: 60,
      },
      tooltip: {
        format: {
          title: function(x) {
            return categories[x];
          },
        },
        order: '',
      },
      legend: {
        show: false,
      },
    };

    var chart = bb.generate(options);
    // Make the page aware of the new chart
    var charts = $('body').data('publicCharts');
    if(charts == undefined) {
      charts = []
    }
    charts.push({ chart: chart, dates: dates })
    $('body').data('publicCharts', charts);
    $('.jQuarters').trigger('change');
  })();
