- if data
  - active_date = data.keys.first
  %h3= title
  .jQuarterChosenDate
  .d-flex
    .chart-donut.chart.pt-2{ data: { active_date: active_date }, class: [chart_class, "active_date_#{active_date}"]}
    %div.legend-wrapper-vertical.legend-wrapper{ class: ["#{chart_class}_legend"] }
  :javascript
    (function(){
      var controller;
      var dates = #{data.to_json.to_s.html_safe};
      var active_date = $(".#{chart_class}").data('activeDate');
      var donut_title = dates[active_date]['total'].split(' ').join(' \n');
      var settings = {
        data: {
          columns: [],
          type: 'donut',
          order: null
        },
        donut: {
          label: {
            format: function(v, id, i, j) {
              return v + '%';
            }
          },
          title: donut_title
        },
        bindto: {
          element: ".#{chart_class}"
        },
        color: {
          pattern: #{@report.chart_color_pattern(category)}
        },
        labels: {
          format: function(v, id, i, j) {
            return v + '%';
          }
        },
        legend: {
          contents: {
            bindto: ".#{chart_class}_legend",
            template: (title, color) => {
              const swatch = `<svg class="chart-legend-item-swatch-prs1" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect width="10" height="10" fill="${color}"/></svg>`;
              return `<div class="chart-legend-item-prs1"><div class="swatch">${swatch}</div><div class="chart-legend-item-label-prs1">${title}</div></div>`;
            },
          },
        }
      };
      if(! #{include_legend.to_json}) {
        settings.legend.show = false;
      }
      var chart = bb.generate(settings);
      // Make the page aware of the new chart
      var charts = $('body').data('publicCharts');
      if(charts == undefined) {
        charts = []
      }
      charts.push({ chart: chart, dates: dates })
      $('body').data('publicCharts', charts);
      $('.jQuarters').trigger('change');
    })();
