- section_header = data.keys.first
%h4= section_header

- groups = ['Sheltered', 'Unsheltered']
- category = :location_type
- data.each do |_, section|
  - section.each do |title, dates|
    - active_date = dates.keys.first
    - chart_class = "household_type_#{section_header.downcase.parameterize.underscore}_#{title.downcase.parameterize.underscore}"
    .jHomelessBreakdownRow.d-flex{data: { dates: dates }}
      .w-30.breakdown-type=title
      .w-30
        .chart-bar.chart.pt-0{ data: { active_date: active_date }, class: [chart_class, "active_date_#{active_date}"]}
        = render 'bar_js', data: dates, chart_class: chart_class, active_date: active_date, groups: groups, category: category
      .w-30.d-flex
        .total-for-type= dates[active_date]['total']
        .chronic-chart
        .chronic-legend
          .percent
            -#{chronic_percent}%
          .label
            Chronically Homeless
