.d-flex.mt-4
  .w-30
    %label.ml-auto.mb-2{ for: 'breakdown-group-trigger' }
      Choose grouping
      %br
      %select#breakdown-group-trigger.jBreakdownGroupTrigger{name: 'breakdown-group-trigger'}
        %option{value: :household_type} Household Type
        %option{value: :gender} Gender
        %option{value: :race} Race
  .w-30
    .homeless_breakdown_legend.d-flex.legend-wrapper-horizontal.legend-wrapper.homeless_breakdown-chart_legend{ transform: 'translate(0, 100)' }
      .chart-legend-item-prs1.bb-legend-item.bb-legend-item-Sheltered{ style: "visibility: visible; cursor: pointer; opacity: 1;" }
        .swatch
          %svg.chart-legend-item-swatch-prs1{ viewBox: "0 0 10 10", xmlns: "http://www.w3.org/2000/svg" }
            %rect{ width: "10", height: "10", fill: @report.settings.color(0, :location_type) }
        %div{ class: 'chart-legend-item-label-prs1' } Sheltered
      .chart-legend-item-prs1.bb-legend-item.bb-legend-item-Unsheltered{ style: "visibility: visible; cursor: pointer; opacity: 1;" }
        .swatch
          %svg.chart-legend-item-swatch-prs1{ viewBox: "0 0 10 10", xmlns: "http://www.w3.org/2000/svg" }
            %rect{ width: "10", height: "10", fill: @report.settings.color(1, :location_type) }
        %div{ class: 'chart-legend-item-label-prs1' } Unsheltered
  .w-30
    %p
      Chronically homeless people have been homeless for 12 months in the past 3 years and have a long-term disability.
      = render 'glossary_button'
.jHomelessBreakdownSection.household_type
  = render 'homeless_row', data: data['adult_only']
  = render 'homeless_row', data: data['adult_and_child']
  = render 'homeless_row', data: data['child_only']
.jHomelessBreakdownSection.gender
  = render 'homeless_row', data: data['gender']
.jHomelessBreakdownSection.race
  = render 'homeless_row', data: data['race']

:javascript
  $('.jQuarters').on('change', function(e) {
    var index = $(this).val();
    var selected_date = $(this).data('dates')[index];
    $('.jHomelessBreakdownRow').each(function(e){
      var title = $(this).find('.jChronicPercent').data('category');
      var chronic_percent = $(this).data('chronics')[selected_date][title];
      console.log(title);
      $(this).find('.jChronicPercent').text(chronic_percent);
      $(this).find('.jChronicPercentMeter').css('width', chronic_percent + '%');
    })
    $('.jTotalCount').each(function(e){
      var date = $(this).data('dates')[selected_date];
      $(this).text(date['total']);
    })
  });
  $('.jBreakdownGroupTrigger').on('change', function(e) {
    var trigger_value = $(e.target).val();
    $('.jHomelessBreakdownSection').addClass('hide')
    $('.jHomelessBreakdownSection').filter(`.${trigger_value}`).removeClass('hide')
    $('.jQuarters').trigger('change')
  });
  $('.jBreakdownGroupTrigger').trigger('change')
