.d-flex
  %label.ml-auto.mb-2{ for: 'comparison-map-trigger' }
    Choose a Population Group
    %br
    %select#comparison-map-trigger.jComparisonMapTrigger{name: 'comparison-map-trigger'}
      %option{value: 'homeless_map'} All Homeless
      %option{value: 'youth_homeless_map'} Youth and Young Adults (age 18-24)
      %option{value: 'adults_homeless_map'} Adults in Adult Only Households (age 18+)
      %option{value: 'adults_with_children_homeless_map'} Adults with Children
      %option{value: 'veterans_homeless_map'} Veterans
.state-map#comparison-map
.d-flex
  .state-map-comparison-legend.ml-auto.mr-auto.d-flex
    - @report.map_colors.each do |color, color_data|
      .ml-4
        .color-box.mr-auto.ml-auto.p-2{style: "background-color: #{color}; width: 20px; height: 20px; border: 1px solid \#CCCCCC;"}
        .color-range
          = color_data[:description]
.d-flex
  .ml-auto.mr-auto.d-flex
    Percentage of homeless population

- # include the map class directly
- map_type = @report.map_type
= render map_type

:javascript
  (function() {
    const state = #{@report.state_shape.to_json.html_safe}
    const shapes = #{@report.map_shapes.to_json.html_safe}
    const data = #{data.to_json.html_safe}
    const comparison_colors = #{@report.map_colors.keys.to_json.html_safe}

    let selected_date = $('.jQuarters').data('dates')[$('.jQuarters').val()];
    let comparison_data = data.homeless_map

    const comparison_map = new CocMap({
      elementId: "comparison-map",
      shapes: shapes,
      state: state,
      metrics: comparison_data[selected_date],
      colors: comparison_colors,
      max_rate: #{max_rate},
      max_count: #{max_count},
    })

    $('.jQuarters').on('change', function(e) {
      var index = $(this).val();
      var selected_date = $(this).data('dates')[index];
      comparison_map.updateMetrics(comparison_data[selected_date])
    });
    $('.jComparisonMapTrigger').on('change', function(e) {
      comparison_data = data[$(this).val()]
      comparison_map.updateMetrics(comparison_data[selected_date])
    });


    $('.jQuarters').trigger('change');
    $('.jComparisonMapTrigger').trigger('change');
  }).call(this);
