.row
  .col-sm-6.summary-count
    .count= @report.enforce_min_threshold(data['summary'], 'homeless_households')
    %h3.title
      Homeless Households
      = render 'glossary_button'
  .col-sm-6.summary-count
    .count= @report.enforce_min_threshold(data['summary'], 'homeless_clients')
    %h3.title
      Total People Experiencing Homelessness in #{data['summary']['year']}
      = render 'glossary_button'
  .col-sm-6.summary-count
    .count= @report.enforce_min_threshold(data['summary'], 'unsheltered_percent')
    %h3.title
      Unsheltered
      = render 'glossary_button'
