- title = "Edit #{@report.instance_title}"
- content_for :title, title
= render 'breadcrumbs'
%h1.mb-5= title
= render 'public_reports/publish'

- @report.sections.each do |section|
  %p Once published, the following will be available at the url: #{@report.generate_publish_url_for(section)}
  .well
    - src = polymorphic_path([section, :public_reports, :warehouse_reports, :state_level_homelessness], pp: :disabled)
    %iframe{src: src, width: '100%', height: 400, frameBorder: 0}
