%p
  Let us know how your experience was today. Your feedback is important to us, and will help us improve out services.

= f.input :conversation_on, as: :date_picker, location: 'Date of the conversation'
= f.input :location, label: 'Location of the conversation'

%p
  How did you feel about each of these items?

.row
  .col-3
    -# blank space where the label appears
  .col-1
    .icon-svg
      %svg{:viewbox => "0 0 32 32"}
        %title frown2
        %path{:d => "M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM18.003 11.891c0.064-1.483 1.413-2.467 2.55-3.036 1.086-0.543 2.16-0.814 2.205-0.826 0.536-0.134 1.079 0.192 1.213 0.728s-0.192 1.079-0.728 1.213c-0.551 0.139-1.204 0.379-1.779 0.667 0.333 0.357 0.537 0.836 0.537 1.363 0 1.105-0.895 2-2 2s-2-0.895-2-2c0-0.037 0.001-0.073 0.003-0.109zM8.030 8.758c0.134-0.536 0.677-0.862 1.213-0.728 0.045 0.011 1.119 0.283 2.205 0.826 1.137 0.569 2.486 1.553 2.55 3.036 0.002 0.036 0.003 0.072 0.003 0.109 0 1.105-0.895 2-2 2s-2-0.895-2-2c0-0.527 0.204-1.005 0.537-1.363-0.575-0.288-1.228-0.528-1.779-0.667-0.536-0.134-0.861-0.677-0.728-1.213zM22.003 24.398c-1.224-2.036-3.454-3.398-6.003-3.398s-4.779 1.362-6.003 3.398l-2.573-1.544c1.749-2.908 4.935-4.855 8.576-4.855s6.827 1.946 8.576 4.855l-2.573 1.544z"}
  .col.5
    -# blank space
  .col-3
    .icon-svg
      %svg{:viewbox => "0 0 32 32"}
        %title smile
        %path{:d => "M16 32c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16zM16 3c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13zM8 10c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM20 10c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM22.003 19.602l2.573 1.544c-1.749 2.908-4.935 4.855-8.576 4.855s-6.827-1.946-8.576-4.855l2.573-1.544c1.224 2.036 3.454 3.398 6.003 3.398s4.779-1.362 6.003-3.398z"}

.c-card__content.c-card__content
  = f.input :listened_to_me, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'The person I met listened to my story'
  = f.input :cared_about_me, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'The person I met cared about my safety and well-being'
  = f.input :knowledgeable, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'The person I mean was knowledgeable about available resources'
  = f.input :i_was_included, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'I was actively included in all planning'
  = f.input :i_decided, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'I got to decide what next step was right for me'
  = f.input :supporting_my_needs, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'The person I met is doing a good job supporting my needs'
  = f.input :sensitive_to_culture, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'All staff I meat today were sensitive to my cultural background'
  = f.input :would_return, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'If I needed support in the future, I would come back here'
  = f.input :more_calm_and_control, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'This experience helped me feel more calm and and in control of my situation'
  = f.input :satisfied, as: :radio_buttons, wrapper: :horizontal_collection_inline, collection: @psc_feedback_survey.ratings, label: 'Overall, I was satisfied with this experience'

= f.input :comments, as: :text, label: 'Do you have any other comments you would like to share?'