= content_for :crumbs do
  = link_to ma_reports_warehouse_reports_monthly_project_utilizations_path do
    = "« #{@report.title}"
%h1.mb-5
  = @report.title

.warehouse-reports__completed.report-parameters
  = @report.filter.describe_filter_as_html(@report.class.report_options, limited: true)
  .ml-auto
    = render 'filters/view_filter_details', filter_hash: @report.filter.to_h, selected_keys: @report.class.report_options
.card
  %table.table.table-striped
    %thead
      %th TODO
