= simple_form_for @filter, as: :filters, url: service_scanning_warehouse_reports_scanned_services_path, method: :get do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-3
        = f.input :start, as: :date_picker, label: 'Start', input_html: { value: @filter.start }
      .col-sm-3
        = f.input :end, as: :date_picker, label: 'End'
      .col-sm-6
        = f.input :project_ids, collection: [], as: :select_two, input_html: { multiple: true, data: { 'collection-path' => api_projects_path(selected_project_ids: @filter.project_ids) }, placeholder: 'Any Project'}, label: 'Projects'
    .row
      .col-sm-3
        = f.input :service_type, collection: ServiceScanning::Service.available_types, input_html: { class: 'jType' }, label: 'Service Provided', include_blank: false, as: :select_two
      .col-sm-3.jOtherType
        = f.input :other_type, collection: ServiceScanning::Service.known_other_types, as: :select_two, label: 'Service Detail', include_blank: 'Any'

  - content_for :filter_actions do
    = f.submit 'Update', class: ['btn', 'btn-primary']

  = render 'warehouse_reports/filters', f:f

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jType').on('change', function(e) {
        if($(this).val() == 'other'){
          $('.jOtherType').show();
        } else {
          $('.jOtherType').hide();
        }
      });
      $('.jType').trigger('change');
    });
