- title = _('Scanned Service Details')
- content_for :modal_title, title
%p #{pluralize(@services.count, 'Service')} provided on #{@filter.start} at #{@project.name(current_user)}.
.card
  %table.table
    %thead
      %tr
        %th Provided at
        %th Client
        %th Age
        %th Service Type
        %th Service Detail
    %tbody
      - @services.each do |service|
        %tr
          %td= service.provided_at
          %td= link_to(service.client.name, client_path(service.client), target: :_blank)
          %th= service.client.age
          %td= service.title_only
          %td= service.other_type