%h2 Upload
%p
  Secure files are a means to safely share files that may contain protected client information with other warehouse users.
  Secure files have a limited lifetime, and will be automatically removed after 1 month.
= simple_form_for @secure_file, as: :secure_file, url: secure_files_path(@data_source) do |f|
  = f.error_notification
  .form-inputs
    = f.input :file, as: :file, label: false
    = f.input :name, label: "Briefly describe this file"
    = f.input :recipient_id, collection: User.active.can_receive_secure_files?, label: "Who should have access to this file?", as: :select_two
    = f.hidden_field :file_cache
    = f.hidden_field :import_type, value: :hmis_611
  .form-actions
    = f.button :submit, value: 'Upload'
