= content_for :modal_title do
  Edit Project CoC Record for #{@project_coc.project.name(current_user)} at #{@project_coc.project.organization.name}
= simple_form_for :project_coc, url: manual_hmis_data_project_coc_path, method: :patch do |f|
  = render 'manual_hmis_data/form', form: f
  = f.submit 'Save Project CoC Record'
