%ul
  %li= link_to 'Organization File', "#{reports_hic_organization_path}.csv"
  %li= link_to 'Project File', "#{reports_hic_project_path}.csv"
  %li= link_to 'Inventory File', reports_hic_inventory_path