%h1 Coordinated Entry Assessment Details

- if @pagy.count.positive?
  .d-flex
    .mt-4!= render 'sort'
    .text-right.mb-4.ml-auto
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
        %i.icon-file-excel.icon-lg
        Download
  = render 'common/pagination_top', item_name: 'assessment'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th DOB
          %th Current Location
          %th Assessment Score
          %th Vulnerability Score
          %th Started On
          %th Completed?
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to_if can_view_clients?, client.name, appropriate_client_path(client)
            %td= client.DOB
            %td= client.ce_assessment.location
            %td= client.ce_assessment.score
            %td= client.ce_assessment.vulnerability_score
            %td= client.ce_assessment.created_at&.to_date
            %td= checkmark(client.ce_assessment.submitted_at.present?)
  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('assessment').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found.mt-4 No assessments found.
