.fixed-bottom.pdq_actions
  %h3 Actions
  .d-flex
    %div
      .mr-4.d-flex
        .mr-2
          = f.input :generate, as: :boolean, input_html: {checked: @generate}
        .mr-2
          %i.icon-info{data: { toggle: :tooltip, title: 'Generate new versions of selected reports'}}
      .mr-4.d-flex
        .mr-2
          = f.input :email, as: :boolean, input_html: {checked: @email}
        .mr-2
          %i.icon-info{data: { toggle: :tooltip, title: 'Email selected reports, new versions will be generated first if generate is selected'}}
    .mr-2
      = f.input :start, as: :date_picker, input_html: {class: 'form-control', value: @range.start}
    .mr-2
      = f.input :end, as: :date_picker, input_html: {class: 'form-control', value: @range.end}
    .mr-auto.mt-no-label
      = f.button :submit, value: 'Run Selected Reports'
    .ml-2.mt-no-label
      = link_to download_warehouse_reports_project_data_quality_path(format: :xlsx), class: 'btn btn-secondary' do
        Download most-recent reports