.row
  .col-sm-12
    %h3 Actions
.row
  %table.table
    %thead
      %tr
        %th
          Generate
          %i.icon-info{data: { toggle: :tooltip, title: 'Generate new versions of selected reports'}}
        %th
          Email
          %i.icon-info{data: { toggle: :tooltip, title: 'Email selected reports, new versions will be generated first if generate is selected'}}
        %th
          Start
        %th
          End
        %th
    %tbody
      %tr
        %td.text-center
          = f.input :generate, as: :boolean, label: false, input_html: {checked: @generate}
        %td.text-center
          = f.input :email, as: :boolean, label: false, input_html: {checked: @email}
        %td{style: 'width: 12em;'}
          .input-group.date{data: {provide: :datepicker}}
            = f.input :start, as: :string, label: false, input_html: {class: 'form-control', value: @range.start}
            %span.input-group-addon.icon-calendar
        %td{style: 'width: 12em;'}
          .input-group.date{data: {provide: :datepicker}}
            = f.input :end, as: :string, label: false, input_html: {class: 'form-control', value: @range.end}
            %span.input-group-addon.icon-calendar
        %td
          = f.button :submit, value: 'Run Selected Reports'
        %td 
          = link_to download_warehouse_reports_project_data_quality_path(format: :xlsx), class: 'btn btn-secondary' do
            Download most-recent reports