- id = organization.id
%tr.jOrganization{data: {organization_id: id}}
  %td.jToggle.closed
    ▶︎
  %td{style: 'width: 4em;'}
    %em{class: "ds-#{data_source.downcase}"}
      = data_source
  %td{style: 'width: 16em;'}
    = organization.OrganizationName
  %td= check_box_tag("organization-toggle[#{id}]", 1, false, {class: 'jSelectAll', data: {organization_id: id}})
  %td
  %td{colspan: 2}
    = organization.contacts.map(&:full_name_with_email).join('<br />').html_safe
%tr.jProject.hidden{data: {organization_id: id}}
  %th
  %th
    Type
  %th
    Project
  %th
    Select
  %th
    Report
  %th
    Last Run
  %th
    Contacts
  %th
    Last Sent On
- projects.each do |project|
  - last_report = project.data_quality_reports&.sort_by{|m| m[:id]}&.last
  %tr.jProject.hidden{data: {organization_id: id}}
    %td
    %td
      = HUD.project_type_brief(project.ProjectType)
    %td.padding-left-02
      = link_to project.ProjectName, project_data_quality_reports_path(project)
    %td
      = check_box_tag("project[#{project.id}]", 1, false, {class: 'jProjectSelect'})
    %td
      - if last_status = last_report&.status
        = link_to last_status, project_data_quality_report_path(project_id: project.id, id: last_report.id) 
      -else 
        = content_tag( :em, 'not available')
    %td
      = last_report&.completed_at
    %td
      - if project.contacts.any?
        = project.contacts.map(&:full_name_with_email).join('<br />').html_safe
      - else
        = link_to project_contacts_path(project) do
          Add project contacts
        on the
        = link_to project_path(project) do
          project page
    %td
      = last_report&.sent_at&.to_date