- if project_groups.any?
  - select_scope = 'projectGroups'
  %div{id: select_scope}
    .mb-5
      .c-card.c-card--linked.c-card--row.j-parent
        .c-card__content.d-flex.align-items-center
          .c-checkbox.c-checkbox.mr-4
            = check_box_tag("organization-toggle[project_groups]", 1, false, {class: 'j-select-children'})
            %label{for: "organization-toggle_project_groups"}
            .mt-2 All / None
          %h3.mb-6.mt-0 Project Groups
      %table.table.c-table.j-children.d-none
        %thead
          %tr
            %th
            %th
              Project Group
            %th
              Report
            %th
              Last Run
            %th
              Last Sent On
        %tbody
          - project_groups.each do |group|
            - id = group.id
            - last_report = @project_group_report_shells[id]
            %tr.jProject.jProject{data: {organization_id: :project_groups}}
              %td
                .c-checkbox.c-checkbox
                  = check_box_tag("project_group[#{id}]", 1, false, {class: 'j-child-select'})
                  %label{ for:"project_group_#{id}", tabindex:'1' }
              %td
                = link_to group.name, project_group_data_quality_reports_path(group)
              %td
                - if last_status = last_report&.status
                  = link_to last_status, project_group_data_quality_report_path(project_group_id: group.id, id: last_report.id)
                -else
                  = content_tag( :em, 'not available')
              %td
                = last_report&.completed_at
              -# %td
                - if group.contacts.any? || group.organization_contacts.any?
                  = (group.contacts + group.organization_contacts).map(&:full_name_with_email).uniq.join('<br />').html_safe
                - else
                  = link_to edit_project_group_path(group) do
                    Project group contacts are inherited from the projects involved.
              %td
                = last_report&.sent_at&.to_date
