- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'report'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Report Name
          %th Date Range
          %th Run On
          %th Completed On
          %th Author
      %tbody
        - @reports.each do |report|
          %tr
            - if report.project.present?
              %td= "#{report.project.organization_and_name} (#{report.project.data_source.name})"
              %td= link_to report.status, project_data_quality_report_path(project_id: report.project_id, id: report.id)
            - else
              %td= report.project_group.name
              %td= link_to report.status, project_group_data_quality_report_path(project_group_id: report.project_group_id, id: report.id)
            %td= report.started_at
            %td= report.completed_at
            %td= report&.requestor&.name

  - if @pagy.pages > 1
    .pagy-container.mt-4
      != pagy_info(@pagy, item_name: _('report').pluralize(@pagy.count))
      != pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
- else
  .none-found No reports found.
