= content_for :crumbs do
  = link_to warehouse_reports_project_data_quality_path do
    &laquo; Project Data Quality Reports

- content_for :title, 'Project Data Quality Reports'
%h1.mb-6= content_for :title
= render 'history_filter'
= render 'report_list'
