.row
  .col-sm-12
    %h4 Recurring Reports
    %p
      Setting a report to run every (n) days, will result in the report being created now, and then automatically
      generated on the specified schedule. A recurring report can be configured to always cover the same date range,
      or a sliding range based on the date the report is run.
.d-flex
  = f.input :every_n_days, collection: (0..31), label: 'Run every (n) days', input_html: { class: 'jRecurringDays ' }, as: :select_two
  .jDependentRecurringFields.ml-4
    = f.input :reporting_range, collection: GrdaWarehouse::RecurringHmisExport.available_reporting_ranges, label: 'For period', selected: 'fixed', input_html: { class: 'jReportingRange ', style: 'width: 250px;'}, as: :select_two
  .jDependentRecurringFields.ml-4
    .jReportingRangeDays
      = f.input :reporting_range_days, as: :numeric, disabled: true, label: 'days report should cover'.html_safe

.jDependentRecurringFields
  .row
    .col-sm-12
      %h5 Storage
      %p
        If these fields are completed, the report will be uploaded to Amazon S3.
  .row
    .col-sm-4
      = f.input :s3_access_key_id, as: :password, label: 'S3 Access Key', input_html: { value: @recurrence&.s3_access_key_id}
    .col-sm-4
      = f.input :s3_secret_access_key, as: :password, label: 'S3 Secret Key', input_html: { value: @recurrence&.s3_secret_access_key}
    .col-sm-4
      = f.input :s3_region, collection: GrdaWarehouse::RecurringHmisExport.available_s3_regions, label: 'Region', input_html: { style: 'width: 200px;' }, as: :select_two
  .row
    .col-sm-4
      = f.input :s3_bucket, label: 'Bucket'
    .col-sm-4
      = f.input :s3_prefix, label: "Optional prefix"
  .row
    .col-sm-4
      = f.button :submit, value: save_language, data: { disable_with: 'running...' }

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jRecurringDays').on('change', function(e) {
        var value = $('.jRecurringDays').val();
        if(value == '0'){
          $('.jDependentRecurringFields').hide();
        }
        else {
          $('.jDependentRecurringFields').show();
        }
      });
      $('.jReportingRange').on('change', function (e) {
        var value = $(".jReportingRange").val();
        if(value == "n_days") {
          $(".jReportingRangeDays input").removeAttr("disabled");
          $(".jReportingRangeDays").show();
        }
        else {
          $(".jReportingRangeDays input").attr('disabled', 'disabled');
          $(".jReportingRangeDays").hide();
        }
      });
      $('.jReportingRange').trigger('change');
      $('.jRecurringDays').trigger('change');
    });
