- @job_reports.each do |run_at, report|
  %tr{class: 'jIncompleteReport'}
    %td= run_at
    %td= report.user&.name
    %td= render 'spinner'
    %td= render 'parameters', report: report
- @exports.each do |report|
  %tr
    %td
      = report.created_at
    %td
      = report.user&.name
    %td
      = link_to warehouse_reports_hmis_export_url(report) do
        Download
    %td= render 'parameters', report: report
