- title = "Edit HUD HMIS CSV Export"
- content_for :title, title
%h1= title
.well
  = simple_form_for @recurrence, as: :filter, url: warehouse_reports_hmis_export_path(@export) do |f|
    .row
      .col-sm-3
        = f.input :start_date, as: :date_picker
      .col-sm-3
        = f.input :end_date, as: :date_picker
      .col-sm-3
        = f.input :version, collection: ::Filters::HmisExport.options_for_version, include_blank: false, as: :select_two
    = render 'recurrence_options', save_language: 'Update Recurring Options', f: f
