- title = "HUD HMIS CSV Exports"
- content_for :title, title
%h1
  = title

= render '/warehouse_reports/breadcrumbs', tab: 'exports'
= render 'filter'

.card.warehouse-reports__completed.warehouse-reports__hmis_export
  %table.table.table-hover
    %thead
      %tr
        %th{style: 'min-width: 8em;'} Run At
        %th{style: 'min-width: 8em;'} Run By
        %th Version
        %th Download
        %th Parameters
        %th Delete
        %th Edit
        %th Cancel
    %tbody.report-listing
      = render 'reports'
= link_to 'Reports', running_warehouse_reports_hmis_exports_path, class: 'jReportBlock', remote: true

= content_for :page_js do
  :javascript
    (function($) {
      $('.jReportBlock').hide();
      setInterval(function() {
        $('.jReportBlock').click();
      }, 30000);

    })(jQuery);
