- item = triage
%div{class: flex}
  %dl.mr-4
    %dt Exposed
    %dd= item.exposure
  %dl.mr-4
    %dt Symptomatic
    %dd= item.symptoms
  %dl.mr-4
    %dt First symptoms presented
    %dd= item.first_symptoms_on&.to_date
  %dl.mr-4
    %dt Referred to
    %dd= item.referred_to
  %dl.mr-4
    %dt Referred on
    %dd= item.referred_on
- if can_edit_health_emergency_triage?
  .d-flex
    = link_to client_he_triage_path(client_id: @client.id, id: item.id), method: :delete, class: 'btn btn-danger btn-sm ml-auto', data: { confirm: "Really delete this #{item.title}?"} do
      %i.icon-cross
      Delete