= content_for :crumbs do
  = link_to path_for_question_result(@question, report: @report) do
    = "« #{report_short_name} #{@question} Results"

- content_for :title do
  = "#{report_short_name} #{@question}: #{@generator.describe_table(@question)} - #{@table} #{@cell}"

.d-flex.mb-2
  %h1= content_for :title
  .ml-auto
    :ruby
      download_data = {
        type: export_class_name,
        query_string: export_query_params.to_query,
        url: document_exports_path,
      }
    %a.btn.btn-secondary.j-document-exports{href: '#', data: download_data}
      %i.icon-file-excel
      Download

.d-flex.align-items-end.mb-4
  .w-50
    - if @searchable
      = form_tag(path_for_search_queries, method: :post, class: 'mb-0') do
        .input-group
          = text_field_tag :q, @search_term, class: 'form-control', placeholder: 'Search by name, ID, or Personal ID...', autofocus: @search_term.present?
          = button_tag 'Search', type: 'submit', class: 'btn btn-secondary'
          - if @search_term.present?
            = link_to 'Clear', path_for_cell_without_search, class: 'btn btn-outline-secondary'

= render_paginated_list_with_explicit_pagy(pagy: @pagy, list: @clients, item_name: 'records', list_partial: 'hud_apr/shared/list')
