- content_for(:title, "Patients for #{@team_name}")
.o-page
.o-page__header
  %h1= content_for(:title)

.btn-group.btn-group-action-2.btn-group-xs.mb-4{ role: 'group' }
  - @teams.each do |team|
    - btn_classes = ['btn', 'btn-secondary']
    - if team.name == @active_team&.name
      - btn_classes.push(['active', 'btn-light'])
    = link_to team.name, health_team_patients_path(entity_id: team.name), class: btn_classes

  - btn_classes = ['btn', 'btn-secondary']
  - if @team_name == 'All Patients'
    - btn_classes.push(['active', 'btn-light'])
  = link_to 'All Patients', health_team_patients_path(entity_id: 'All Patients'), class: btn_classes

.mt-4.mb-6
  = render 'warehouse_reports/health/agency_performance/table', report: @report, entities: @teams, entity_label: 'Team', totals: @totals, detail_path: [:detail, :health, :team_patients], permission: current_user.has_some_patient_access?

.o-page__controls
  .o-page__search
    = render 'health/patients/search_form', url: health_team_patients_path
  .o-page__sort
    = render 'health/patients/sort'
  .o-page__filter
    = render 'health/patients/filter'

  - if @pagy.count.positive?
    .o-page__link.ml-auto
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto disab'}) do
        %i.icon-download2
        Tracking Sheet

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'patient'
  - @patients.each do |patient|
    = render 'health/patients/patient_card', patient: patient
  = render 'common/pagination_bottom', item_name: 'patient'
- else
  .none-found No patients

= render 'health/patients/assignment_js'
