- title = "Manage Goals for #{@client.full_name}"
= content_for(:title, title)
.o-page
  .o-page__header
    %h1= title
  = render 'clients/breadcrumbs'
  = render 'clients/tab_navigation', current: polymorphic_path(goals_path_generator, client_id: @client)
  = render 'goals', fullscreen: true, enabled: true