%section.o-section-card
  %h3 CAS
  .c-card.c-card--flush.c-card--padded.flex-wrap
    = f.input :cas_url, label: 'CAS Site URL'
    = f.input :cas_days_homeless_source, collection: GrdaWarehouse::Config.available_days_homeless_sources, label: 'Source of days homeless to send to CAS', as: :select_two
    = f.input :cas_available_method, collection: GrdaWarehouse::Config.available_cas_methods, label: 'Method used to determine which clients to sync with CAS', as: :select_two, input_html: {class: :jSyncMethod}
    .jCasSyncMonths
      = f.input :cas_sync_months, as: :select_two, collection: GrdaWarehouse::Config.available_cas_sync_months, label: 'Clients active within prior'
    .jCasSyncProjectGroup
      = f.input :cas_sync_project_group_id, collection: GrdaWarehouse::ProjectGroup.viewable_by(current_user), label: 'Project Group to sync', as: :select_two
    = f.input :cas_flag_method, collection: GrdaWarehouse::Config.available_cas_flag_methods,  label: 'Should the CAS Readiness form require additional human review, or is the existence of a file flagged with the appropriate tag sufficient for matching in CAS?', as: :select_two
    = f.input :rrh_cas_readiness, label: 'Include RRH section in CAS Readiness?'
    = f.input :client_details, collection: GrdaWarehouse::Hud::Client.cas_columns.invert.to_a.sort, label: 'Checkboxes displayed in CAS Readiness', as: :select_two, input_html: { multiple: true }
    = f.input :health_priority_age, label: 'Age above which should be automatically flagged as health prioritized'
    = f.input :domestic_violence_lookback_days, label: 'How long should a victim of domestic violence be considered a victim?', collection: GrdaWarehouse::Config.dv_days, as: :select_two
    = f.input :ineligible_uses_extrapolated_days, label: 'Should calculations of ineligibility for CAS and Cohorts include extrapolated days?', hint: 'This also affects adding clients to cohorts, the most-recent days served on enrollment roll-ups.'
    = f.input :cas_calculator, label: 'Which method should be used to set CAS values?', as: :select_two, collection: GrdaWarehouse::Config.available_cas_calculators
