%section.o-section-card
  %h3 Release of Information
  .c-card.c-card--flush.c-card--padded.flex-wrap
    = f.input :roi_model, collection: GrdaWarehouse::Config.available_roi_models, as: :select_two
    = f.input :release_duration, collection: GrdaWarehouse::Config.available_release_durations, as: :select_two
    = f.input :allow_partial_release, label: 'Allow partial CAS releases?'
    = f.input :consent_visible_to_all, label: 'Should everyone with client file access be able to see all consent forms?'
    = f.input :auto_confirm_consent, label: 'Should consent forms be confirmed automatically?'
    = f.input :window_access_requires_release, label: 'Block access to the window if a client doesn\'t have a release?'
    = f.input :show_partial_ssn_in_window_search_results, label: 'Show partial SSNs in the window search results? (no means don\'t show anything)'
    = f.input :show_client_last_seen_info_in_client_details, label: 'Show date and location last seen on client detail page'
    = f.input :chronic_tab_roi, label: 'Only show chronic tab details for clients with full releases on file'
