%section.o-section-card
  %h3 System Cohorts
  .c-card.c-card--flush.c-card--padded.flex-wrap
    = f.input :enable_system_cohorts, label: 'Enable system cohorts?'
    = f.input :currently_homeless_cohort, label: 'Currently Homeless', hint: 'The currently homeless cohort includes all open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :veteran_cohort, label: 'Veteran', hint: 'The veteran cohort includes all veterans with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :youth_cohort, label: 'Youth (everyone < 25)', hint: 'The youth cohort includes all unnacompanied clients under 25 with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :youth_no_child_cohort, label: 'Youth (no one in household < 18)', hint: 'This cohort includes all clients in a household where everyone is between 18 and 25 with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :youth_and_child_cohort, label: 'Youth (18-24 and <18)', hint: 'This cohort includes all clients in enrollments where everyone is <25 and at least one client is 18-24 and another is < 18 with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :chronic_cohort, label: 'Chronic', hint: 'The chronic cohort includes all clients who are currently chronically homeless with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :adult_and_child_cohort, label: 'Adult and Child', hint: 'The adult and child cohort includes all clients in an adult and child household with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :adult_only_cohort, label: 'Adult Only', hint: 'The adult only cohort includes all clients in a household with only adults with open enrollment in ES, SO, TH, SH and no move-in date in a current PH project.'
    = f.input :system_cohort_processing_date, as: :date_picker, label: 'Date to calculate system cohorts from', hint: 'Should be left blank except in test environments'
    = f.input :system_cohort_date_window, label: 'Number of days to consider when determining newly homeless'
