- title = "Site Configuration"
- content_for :title, title

%h1= content_for :title
= render :partial => 'menus/admin_tabs'
= simple_form_for @config, url: admin_configs_path do |f|
  .row
    .col-sm-3
      %nav.nav.flex-column
        = link_to 'Available File Tags', admin_available_file_tags_path, class: 'nav-item nav-link'
        = link_to 'Public Files', admin_public_files_path, class: 'nav-item nav-link'
        = link_to 'TalentLMS', admin_talentlms_path, class: 'nav-item nav-link'
    .col-sm-4
      = render 'roi', f: f
      = render 'client_calculations', f: f
      = render 'client_display', f: f
      = render 'system_cohorts', f: f
    .col-sm-4
      = render 'connections', f: f
      = render 'security', f: f
      = render 'reporting_options', f: f
      = render 'healthcare', f: f
      = render 'cas', f: f

      = f.submit value: 'Save Site Configuration', class: 'btn btn-primary'
= content_for :page_js do
  :javascript
    additionalInputSelectors = {
      'active_clients': '.jCasSyncMonths',
      'project_group': '.jCasSyncProjectGroup',
    }
    $('.jSyncMethod').on('change', function(e) {
      for (const method of Object.keys(additionalInputSelectors)) {
        if ($('.jSyncMethod').val() == method) {
          $(additionalInputSelectors[method]).show();
        } else {
          $(additionalInputSelectors[method]).hide();
        }
      }
    });
    $('.jSyncMethod').trigger('change');
