= simple_form_for @filter, as: :filter, url: warehouse_reports_touch_point_exports_path(), html: { class: 'jFilter' } do |f|
  - content_for :filters_col_l do
    .row.mb-4
      .col-sm-6
        = f.input :start, input_html: {value: @filter.start, class: 'form-control jStart'}, as: :date_picker, label: 'Start date'
      .col-sm-6
        = f.input :end, input_html: {value: @filter.end, class: 'form-control jStart'}, as: :date_picker, label: 'End date'

  - content_for :filters_col_l do
    = f.input :name, collection: @filter.touch_points_for_user(current_user), input_html: { data: { placeholder: 'Name' } }, label: 'Touch Point', as: :select_two, required: true

  - content_for :filter_actions do
    = f.button :submit, value: 'Generate Export'

  = render 'warehouse_reports/filters', f:f
