= render 'data_sources/breadcrumbs', data_source: @data_source
- content_for :title, 'Import Thresholds'
%h1= content_for :title

%p Thresholds can be configured below to pause and alert when certain criteria are met during imports for this data source.

= simple_form_for @import_threshold, url: data_source_import_threshold_path do |f|
  .well
    .row
      .col
        = f.input :record_count_change_percent_threshold, label: 'Record count change threshold (%)', hint: 'Imports will pause and alert if more than the chosen percentage have changed', input_html: { style: 'width: 5em' }
      .col
        = f.input :record_count_change_min_threshold, label: 'Minium change count threshold', hint: 'Imports will not pause or alert below this threshold.  This is designed to prevent alerting on a 30% change when only on of 3 rows changes.', input_html: { style: 'width: 8em' }

    = f.input :pause_on_record_count_threshold, label: 'Pause if threshold is met?', hint: 'When the above threshold is met, should the import be paused?  Notifications will be sent even if the import is not paused.'
  .well
    .row
      .col
        = f.input :error_percent_threshold, label: 'Error count threshold (%)', hint: 'Imports will pause and alert if more than the chosen percentage of rows have errors', input_html: { style: 'width: 5em' }
      .col
        = f.input :error_count_min_threshold, label: 'Minium error count threshold', hint: 'Imports will not pause or alert below this threshold.  This is designed to prevent alerting on a 30% error rate when only on of 3 rows contains an error.', input_html: { style: 'width: 8em' }
    = f.input :pause_on_error_threshold, label: 'Pause if threshold is met?', hint: 'When the above threshold is met, should the import be paused?  Notifications will be sent even if the import is not paused.'
