- index ||= @patient.hpc_goals.count
- goal = hpc
- if readonly
  .jGoal{data: {id: goal.id}}
    .c-card__item.health-careplan__goal
      .c-card__item-header
        %h4 Goal ##{index}
        - unless @disable_goal_actions
          .d-flex.ml-auto
            .health-careplan__goal-action.health-careplan__goal-delete.mr-3
              = link_to edit_goal_path(goal), data: { loads_in_pjax_modal: true } do
                %span.icon-pencil
            .health-careplan__goal-action.health-careplan__goal-delete
              = link_to delete_goal_path(goal), method: :delete, data: {confirm: "Please confirm you intend to delete this goal."}, remote: true do
                %span.icon-cross
      .row
        .col-12
          %label
            Goal Description
            (including any specific barrier to achieving goal not previously mentioned)
          .health-careplan__goal-details
            = simple_format goal.goal_details
      .row.mb-2
        .col-sm-4
          %label Start Date
          .health-careplan__goal-start-date
            = goal.start_date
      .row
        .col-sm-6.mb-2
          %label Recommended Action Steps and any needed accommodations
        .col-sm-6.mb-2
          %label Timeframe
      .row
        .col-sm-6.mb-2
          .health-careplan__goal-intervention
            = simple_format goal.intervention
        .col-sm-6.mb-2
          .health-careplan__goal-timeframe
            = simple_format goal.timeframe
      .row
        .col-sm-12
          %label Responsible Care Team Member
          .health-careplan__goal-responsible
            = @patient.available_team_members.to_h.invert[goal.responsible_team_member_id]

- else
  = simple_form_for(goal, as: :goal, url: goal_form_path, remote: request.xhr?, class: :jGoal) do |f|
    - sized_input_html = {class: 'sized'}
    - default_with_counts = "1. \n\n2. \n\n3. \n\n"
    = f.error_notification
    =# f.input :problem, as: :text, input_html: sized_input_html
    = f.input :goal_details, label: 'Goal', as: :text, hint: '(including any specific barrier to achieving goal not previously mentioned)', input_html: sized_input_html
    .row
      .col-sm-6
        = f.input :start_date, as: :date_picker
    = f.input :intervention, as: :text, label: 'Recommended Action Steps and any needed accommodations', input_html: sized_input_html.merge(value: f.object.intervention.strip.presence || default_with_counts)
    = f.input :timeframe, as: :text, label: 'Timeframe', input_html: sized_input_html.merge(value: f.object.timeframe || default_with_counts)
    .row
      .col-sm-6
        = f.input :responsible_team_member_id, collection: @patient.available_team_members, label: 'Responsible Care Team Member', input_html: { class: :select2 }
    .d-flex
      .c-btn-group.ml-auto
        = f.submit value: 'Save Goal', class: 'btn btn-primary', data: { disable_with: 'Saving ...' }
