- content_for :title, "#{GrdaWarehouse::Config.currrent_health_emergency_tracing_title} Contact Tracing"
%h1= content_for :title

= simple_form_for @manager, url: health_he_case_site_manager_path(@case, @manager) do |f|
  = render 'form', f: f

  = f.submit "Update Site Leader"