= content_for :crumbs do
  = link_to health_he_case_path(id: @case) do
    = "« #{@case.first_name} #{@case.last_name}"
- content_for :title, 'Site Manager Notifications'

= render 'health/he/aliases'
= render 'health/he/tab_navigation', active: :site_managers
.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right.mb-4
    = link_to new_health_he_case_site_manager_path(@case), class: 'btn btn-primary' do
      %span.icon-plus
      Add A Site Manager Notification

.c-card.c-card--flush
  %table.table.table-hover.table-responsive-sm
    %thead
      %tr
        %th Site Name
        %th Site Manager
        %th Contacted?
        %th
    %tbody
      - @managers.each do |manager|
        %tr.table__detail-row-rollup.j-toggle-row-content
          %td= link_to manager.site_name, edit_health_he_case_site_manager_path(@case, manager)
          %td= manager.site_leader_name
          %td= manager.contacted_on
          %td.text-right
            %i.icon-arrow-circled-right.table__toggle-icon.pr-4
        %tr.collapse.no-hover
          %td{colspan: 4}
            = render manager, manager: manager, tracing_case: @case

- content_for :page_js do
  :javascript
    new App.TableWithToggleRows('.j-toggle-row-content')