= content_for :crumbs do
  = link_to health_he_case_path(@case) do
    = "« #{@case.first_name} #{@case.last_name}"
- content_for :title, "Site Leaders"

.row
  .col-sm-8
    %h1= content_for :title
  .col-sm-4.text-right.mb-4
    = link_to new_health_he_case_site_manager_path(@case), class: 'btn btn-primary' do
      %span.icon-plus
      Add A Site Leader

.row
  .col-sm
    %table.table
      %thead
        %tr
          %th Site Name
          %th Site Leader
          %th Contacted?
          %th
      %tbody
        - @managers.each do |manager|
          %tr
            %td= link_to manager.site_name, edit_health_he_case_site_manager_path(@case, manager)
            %td= manager.site_leader_name
            %td= manager.contacted_on
            %td
              = link_to health_he_case_site_manager_path(@case, manager), method: :delete, class: 'btn btn-link btn-link--danger' do
                %i.icon-cross