= render 'health/breadcrumbs'
- content_for(:title, "Qualifying Activities for #{@patient.name}")
.o-page
  .o-page__header
    %h1= content_for :title
  = render 'clients/tab_navigation', current: client_health_qualifying_activities_path(client_id: @client)
  .row
    .col-sm-8
      = render 'filter', data: {placement: 'bottom'}
    .col-sm-4.mt-4

  .table-utilities.mt-2
    %p.w-100= page_entries_info @qualifying_activities, entry_name: _('qualifying activities')
    %p= paginate @qualifying_activities

  .row
    .col-sm-6
      = render 'payability_key'
    .col-sm-6
      .ml-auto
        .w-100.text-small.text-right
          %strong
            Enrollment date:
          = @patient.enrollment_start_date&.to_date
        .w-100.text-small.text-right
          %strong
            Outreach cut-off date:
          = @patient.outreach_cutoff_date
        - if @patient.current_disenrollment_date
          .w-100.text-small.text-right
            %strong
              Dis-enrollment date:
            = @patient.current_disenrollment_date&.to_date
        .w-100.text-small.text-right
          %strong
            Days remaining to engage patient:
          = @patient.days_to_engage
  .row.mt-4
    .col
      - if @qualifying_activities.present?
        .o-card-grid
          - @qualifying_activities.each do |qa|
            = render 'card', qa: qa
      - else
        %p.no-data None on file.
