= render :partial => 'menus/admin_tabs'
- title = 'Administrative Events'
- content_for :title, title

.row
  .col-sm-8
    %h1= content_for :title

.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th User
          %th Date
          %th Title
          %th Description
        %tbody
          - @events.each do |event|
            %tr
              %td= event.user.name
              %td= event.date
              %td= event.title
              %td= event.description
              %td
                = link_to admin_administrative_event_path(event),  method: :delete, data: {confirm: "Would you really like to delete this administrative event?"} do
                  %span.icon-cross
                  Delete
                      
