- content_for :panel_collapse_content_actives do
  = simple_form_for :actives, as: :filter, url: new_cohort_cohort_client_path(@cohort), method: :get do |f|
    = f.error_notification
    .row
      .col-sm-3
        = f.input :start, as: :date_picker, input_html: { value: @actives.try(:[], :start).presence || 1.months.ago.to_date}
      .col-sm-3
        = f.input :end, as: :date_picker, input_html: { value: @actives.try(:[], :end).presence || 1.days.ago.to_date}
      .col-sm-3
        = f.input :min_days_homeless, label: 'Minimum days homeless', input_html: {type: :number, value: @actives.try(:[], :min_days_homeless).presence || 180 }
    .row
      .col-sm-4
        = f.input :limit_to_last_three_years, label: 'Limit days homeless to the last three years', as: :boolean, input_html: {checked: true}, wrapper_html: {class: 'mb-2'}
        = f.input :hoh, as: :boolean, label: 'Heads-of-household only', wrapper_html: {class: 'mb-4'}, input_html: {checked: @hoh_only}
      .col-sm-5
        Limit by population
        = f.input :actives_population, collection: available_sub_populations, selected: @actives.try(:[], :actives_population), input_html: { class: :select2, placeholder: 'All Clients', multiple: true }, hint: 'Multiple selections combine scopes. For example: "Adult only Households" who are also "Veterans"', label: 'Sub-Population'
      .col-sm-3
        Limit by Age
        = f.input :age_ranges, collection: GrdaWarehouse::ServiceHistoryEnrollment.available_age_ranges, selected: @actives.try(:[], :age_ranges), input_html: { class: :select2, placeholder: 'Any age', multiple: true }
    .row.mt-4
      .col-sm-8
        %p
          The days counted are the unique dates in ES, SO, SH, and TH where they do not overlap with PH.

    .panel-footer
      = f.button :submit, value: 'Search'

= render 'common/panel_collapse',
  id: 'actives',
  title: 'Clients active within a date range',
  content: '_actives'
