- content_for :panel_collapse_content_chronic do
  = simple_form_for @filter, as: :filter, url: new_cohort_cohort_client_path(@cohort), method: :get do |f|
    = f.error_notification
    .row
      .col-sm-3
        = f.input :on, collection: @filter.chronic_days, label: 'Chronic on Date',input_html: {class: 'jFilterOn'}, as: :select_two
      .col-sm-2
        = f.input :min_age, collection: @filter.ages, include_blank: false, label: 'Minimum Age', class: 'form-control'
      .col-sm-3
        = f.input :min_days_homeless, label: 'Min. Days Homeless', as: :integer, class: 'form-control'
      .col-sm-4
        = f.input :individual, as: :boolean, label: 'Individuals only', class: 'form-control', wrapper_html: {class: 'mb-0', data: {toggle: 'tooltip', title: 'Limit to clients who have not presented with a family in the last 3 years.'}}
        = f.input :dmh, as: :boolean, label: 'DMH only', class: 'form-control', wrapper_html: {class: 'mb-0', data: {toggle: 'tooltip', title: 'Limit to clients enrolled in a DMH Project.'}}
        = f.input :veteran, as: :boolean, label: 'Veterans only', class: 'form-control', wrapper_html: {class: 'mb-0'}
        = f.input :hoh, as: :boolean, label: 'Heads-of-household only', class: 'form-control', wrapper_html: {class: 'mb-0'}
    .row
      .col-sm-4
        = f.input :last_service_after, label: 'Received Homeless Service After', collection: @filter.date_ranges, include_blank: false

    .panel-footer
      = f.button :submit, value: 'Search'

= render 'common/panel_collapse', id: 'chronic', title: 'Pick from chronic lists', content: '_chronic'
