- if @clients.any?
  %p= "Found #{@clients.count} matching clients" 
  %table.table.table-condensed.small
    %thead
      %tr
        %th
          Check All
          %br
          = check_box_tag(:check_all, 1, false, class: :check_all, id: :client)
        %th
          Last Name
        %th
          First Name
        %th
          DOB
        %th
          SSN
        %th
          Gender
        %th
          Veteran
        %th
          %span{data: {toggle: :tooltip, title: 'Homeless days shown does not take overlapping PH into account'}}
            %i.icon-info
            Days Homeless
          
    %tbody
      - @clients.each do |client|
        %tr
          %td
            = check_box_tag("client_#{client.id}", client.id, false, {class: 'client jClient', 'data-client-id': client.id})
          %td
            = link_to client_path(client) do
              = client.LastName
          %td
            = link_to client_path(client) do
              = client.FirstName
          %td.nobr
            - if client.DOB.present?
              = client.DOB
              %br
              Age:
              = client.age
          %td
            = masked_ssn(client.SSN)
          %td
            = HUD.gender(client.Gender)
          %td
            = HUD.veteran_status(client.VeteranStatus)
          %td
            = client.processed_service_history.homeless_days