- title = "Add Clients to #{@cohort.name}"
- content_for :modal_title, title
= content_for :crumbs do
  = link_to cohort_path(@cohort) do
    &laquo; Cohort
= render 'client_search_js'
%p
  Adding clients to the cohort can be done using any of the following forms.  All clients must have at least one source record that is visible in the window.
%p
  Once you've identified the clients you would like to add, click "add selected clients" on the right.

#client-search-options.panel-group.panel-collapsible.mb-6
  = render 'search_form'
  = render 'chronic'
  = render 'hud_chronic'
  = render 'active'
  - if GrdaWarehouse::Config.get(:eto_api_available)
    = render 'touchpoint'
  - if can_manage_some_ad_hoc_ds?
    = render 'ad_hoc_data_source'
  = render 'batch_add'

.mt-4.mb-4
  = simple_form_for @cohort, url: cohort_cohort_clients_path(@cohort), method: :post do |f|
    = f.input :client_ids, as: :hidden, input_html: {class: 'jClientIDs'} # Eventually, this will be a hidden field
    = f.submit value: 'Add Selected Clients', class: 'btn btn-primary', disabled: @clients.empty?

= render 'results'

.mt-4
  = simple_form_for @cohort, url: cohort_cohort_clients_path(@cohort), method: :post do |f|
    = f.input :client_ids, as: :hidden, input_html: {class: 'jClientIDs'} # Eventually, this will be a hidden field
    = f.submit value: 'Add Selected Clients', class: 'btn btn-primary', disabled: @clients.empty?
