- title = "Edit Project Group: #{@project_group.name}"
= content_for(:title, title)
= render 'breadcrumbs'

.row
  .col-sm-10
    %h1= title
    .mt-8
    = simple_form_for @project_group, as: :filters, url: hmis_admin_project_group_path(@project_group) do |f|
      = render 'form', f: f
      .form-actions.d-flex
        = f.button :submit, class: 'btn btn-primary ml-auto', value: 'Save Project Group'
