- title = 'HMIS Project Groups'
= content_for(:title, title)
%h1= content_for :title


- @prompt = "Search project groups..."
.row.mb-4
  .col-sm-8
    = render 'search_form'
  .col-sm-4.text-right
    = link_to new_hmis_admin_project_group_path, class: 'btn btn-primary mb-2' do
      %span.icon-plus
      Add Project Group
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'project group'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Project Group Name
          %th Project Count
      %tbody
        - @project_groups.each do |group|
          %tr
            %td
              = link_to group.name, hmis_admin_project_group_path(group)
            %th= group.projects.count
  = render 'common/pagination_bottom', item_name: 'project group'
- else
  .none-found There are no project groups.
