- title = "Project Group: #{@project_group.name}"
= content_for(:title, title)
= render 'breadcrumbs'

%h1.d-flex.justify-content-between.align-items-center
  = "HMIS Project Group: #{@project_group.name}"
  = link_to 'Edit', edit_hmis_admin_project_group_path(@project_group), class: 'btn btn-primary'

.row
  .col-sm-6
    .well
      -# %h3.mb-4 Project Group Rules
      %div.mb-8
        %h3 Project Inclusion Rules
        %p
          Projects matching the following criteria are included in the group.
        = @project_group.parsed_inclusion_criteria.describe_criteria_as_html
      %div
        %h3 Project Exclusion Rules
        %p
          Projects matching the following criteria are excluded from the group.
        = @project_group.parsed_exclusion_criteria.describe_criteria_as_html || 'No exclusions'
  .col-sm-6
    .well
      %h3.mb-4= "Included Projects (#{@project_group.warehouse_projects.count})"
      - if @project_group.warehouse_projects.count > 0
        - @project_group.warehouse_projects.preload(:organization).map { |p| p.organization_and_name(current_user) }.sort.each do |name|
          = name
          %br
      - else
        There are no projects in this group.
