- title = "Project Group: #{@project_group.name}"
= content_for(:title, title)
= render 'breadcrumbs'

%h1.d-flex.justify-content-between.align-items-center
  = "HMIS Project Group: #{@project_group.name}"
  = link_to 'Edit', edit_hmis_admin_project_group_path(@project_group), class: 'btn btn-primary'

.row
  .col-sm-6
    .well
      %h3 Project Group Rules
      %dl
        %dt Inclusion Criteria
        %dd
          = @project_group.parsed_inclusion_criteria.describe_criteria_as_html
        %br
        %dt Exclusion Criteria
        %dd
          = @project_group.parsed_exclusion_criteria.describe_criteria_as_html || 'No exclusions'
  .col-sm-6
    .well
      %h3.mb-4= "Included Projects (#{@project_group.projects.count})"
      - if @project_group.projects.count > 0
        - @project_group.projects.preload(:organization).map { |p| "#{p.organization.organization_name} - #{p.project_name}" }.sort.each do |name|
          = name
          %br
      - else
        There are no projects in this group.
