- title = "Project Group: #{@project_group.name}"
= content_for(:title, title)
= render 'breadcrumbs'

.d-flex.align-items-center.mb-6
  %h1.mr-4= "HMIS Project Group: #{@project_group.name}"
  = link_to edit_hmis_admin_project_group_path(@project_group), class: 'btn btn-sm btn-primary' do
    %i.icon-pencil.mr-2
    Edit

.row
  .col-sm-6
    .well
      - if @project_group.notes.present?
        %div.mb-6
          %h3 Notes
          = @project_group.markdown_notes
      %div.mb-6
        %h3 Project Inclusion Rules
        - if @project_group.any_inclusion_criteria?
          %p
            A project is included if it matches any of the following:
          = @project_group.parsed_inclusion_criteria.describe_criteria_as_html
        - else
          %p
            None
      %div
        %h3 Project Exclusion Rules
        - if @project_group.any_exclusion_criteria?
          %p
            A project is excluded if it matches any of the following:
          = @project_group.parsed_exclusion_criteria.describe_criteria_as_html
        - else
          %p
            None
    .well
      - if HmisEnforcement.hmis_admin_visible?(current_user)
        - collections = Hmis::AccessGroup.contains(@project_group)
        %h3.mt-2.mb-4= "Related Access Collections (#{collections.count})"
        - if collections.count > 0
          - collections.sort_by { |g| g.name }.sort.each do |group|
            = link_to group.name, hmis_admin_group_path(group)
            %br
        - else
          There are no collections associated with this project group.

        - workspaces = @project_group.workspaces.order(:applies_to, :sort_order, :name)
        %h3.mt-6.mb-4= "Related Workspaces (#{workspaces.count})"
        - if workspaces.count > 0
          - workspaces.each do |workspace|
            = "#{workspace.name} (#{workspace.applies_to.to_s.humanize})"
            %br
        - else
          There are no workspaces associated with this project group.

        - if @project_group.used_for_ce_eligibility?
          %h3.mt-6.mb-4 CE Eligibility
          This project group is configured as the Coordinated Entry eligibility project group. Enrollment-scoped eligibility fields only consider enrollments at projects in this group.
  .col-sm-6
    .well
      %h3.mb-4= "Included Projects (#{@project_group.warehouse_projects.count})"
      - if @project_group.warehouse_projects.count > 0
        - @project_group.warehouse_projects.preload(:organization).map { |p| p.organization_and_name(current_user) }.sort.each do |name|
          = name
          %br
      - else
        There are no projects in this group.
