- reports = [@report]
- column_class = 'col-sm-12'
- if @report&.include_comparison?
  - reports << @comparison rescue ActionView::Template::Error
  - column_class = 'col-sm-6'
.row
  - reports&.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      - data = report.data_for_disabilities[:all]
      - if data
        .mb-4
          %h3 Universe
          .card.overflow-scroll.mb-4{class: comparison_class}
            %table.table.table-striped.mb-0
              %thead
                %tr
                  - data.each do |disability, _|
                    %th.text-center= disability
              %tbody
                %tr
                  - data.each do |disability, ids|
                    %th.text-center
                      = link_to_if(ids.count > 0, number_with_delimiter(ids.count), details_disability_summary_warehouse_reports_disability_summary_index_path({ filters: report.filter.to_h }.merge(detail: :universe, disability: disability)))
        - report.data_for_disabilities[:by_coc].each do |coc_code, data|
          .mb-4
            %h3= coc_code
            .card.overflow-scroll.mb-4{class: comparison_class}
              %table.table.table-striped.mb-0
                %thead
                  %tr
                    - data[:disabilities_summary].each do |disability, _|
                      %th.text-center= disability
                %tbody
                  %tr
                    - data[:disabilities_summary].each do |disability, ids|
                      %th.text-center= link_to_if(ids.count > 0, number_with_delimiter(ids.count), details_disability_summary_warehouse_reports_disability_summary_index_path({ filters: report.filter.to_h }.merge(detail: :coc, coc: coc_code)))
            .card{class: comparison_class}
              %table.table.table-striped.mb-0
                %thead
                  %tr
                    %th Disability
                    %th Indefinite and Impairing
                    %th Client Count
                %tbody
                  - data[:disabilities].each do |disability, indefinite_data|
                    - indefinite_data.each_with_index do |(indefinite, ids), index|
                      %tr
                        %th
                          - if index.zero?
                            = disability
                        %td= indefinite.presence
                        %td= link_to_if(ids.count > 0, number_with_delimiter(ids.count), details_disability_summary_warehouse_reports_disability_summary_index_path({ filters: report.filter.to_h }.merge(detail: :disability, coc: coc_code, disability: disability, indefinite: indefinite)))
