:ruby
  @layout__plain_inner = true
  @layout__width = 'lg'

- title = _('Disability Summary Report')
- content_for :title, title
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'filters/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'operational'
      = render 'utility'
    .top-nav-prs1
      %h1.mb-5= title
      .mb-4= render 'hero_counts'
      .main-inner-prs1
        - if false # Disabled until the report structure has settled
          .text-right.mb-4
            = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: disability_summary_warehouse_reports_disability_summary_index_path({format: :xlsx}.merge(@filter.for_params))
      - @report.class.available_section_types.each do |section|
        = render 'background_render', url: render_section_disability_summary_warehouse_reports_disability_summary_index_path, fetch_params: {partial: section, filters: @filter.for_params[:filters] } do
          .rollup
            .rollup-container.well
        = render 'common/section_not_loading', path_to_section: section_disability_summary_warehouse_reports_disability_summary_index_path({partial: section}.merge(link_params))
= render 'computation_description'
