- title = "Public Files"
- content_for :title, title
%h1= content_for :title
= render :partial => 'menus/admin_tabs'

.row
  .col-sm-8
    - if @pagy.count.positive?
      = render 'common/pagination_top', item_name: 'file'
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th File Name
              %th Destroy
          %tbody
            - @files.each do |file|
              %tr
                %td
                  = link_to public_file_path(id: file.id) do
                    = file.class.known_locations[file.name]
                %td
                  = link_to admin_public_file_path(id: file.id), method: :delete, data: {confirm: 'Are you sure you want to delete this file? It will no longer be accessible.'}, class: 'btn btn-danger btn-sm btn-icon-only' do
                    %i.icon-cross
      = render 'common/pagination_bottom', item_name: 'file'
    - else
      .none-found No files
  .col-sm-4
    %h4 Upload
    = simple_form_for @file, url: admin_public_files_path do |f|
      = f.input :name, collection: @file.class.known_locations.invert, label: false, as: :select_two
      = f.input :file, label: false
      = f.button :submit, value: 'Upload File'


