- if @reports.any?
  %p= paginate @reports
  %table.table.table-condensed
    %thead
      %tr
        %th Eligibility Request
        %th Created On
        %th Acknowledged
        %th Delete
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to_if report.inquiry.present?, "For #{report.service_date}", "#{warehouse_reports_health_eligibility_url(report)}.txt"
          %td= report.created_at
          %td
            - if report.eligibility_response
              %i.icon-checkmark
          %td
            = link_to warehouse_reports_health_eligibility_url(report), method: :delete, class: 'btn btn-danger btn-sm btn-icon-only', data: {confirm: "Are you sure you want to delete this Eligibility Request?"} do
              %i.icon-cross