- if @reports.any?
  %p= paginate @reports
  %table.table.table-sm
    %thead
      %tr
        %th Eligibility Request
        %th Created On
        %th Acknowledged
        %th Delete
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to "For #{report.service_date}", "#{warehouse_reports_health_eligibility_url(report)}.txt"
          %td= report.created_at
          %td
            - if report.eligibility_response.present?
              = link_to warehouse_reports_health_eligibility_result_url(report) do
                %i.icon-checkmark
                = "(#{report.eligibility_response.eligible_clients} eligible/#{report.eligibility_response.ineligible_clients} ineligible clients)"
          %td
            = link_to warehouse_reports_health_eligibility_url(report), method: :delete, class: 'btn btn-danger btn-sm btn-icon-only', data: {confirm: "Are you sure you want to delete this Eligibility Request?"} do
              %i.icon-cross