= render '/warehouse_reports/breadcrumbs', tab: 'health'
- title = "Eligibility Determination"
- content_for :title, title
%h1= content_for :title

= simple_form_for :report, url: warehouse_reports_health_eligibility_index_path, method: :post do |f|
  .row
    .col-sm-6
      = f.input :eligibility_date, as: :date_picker, input_html: { value: Date.today}, label: 'Determine if patients are eligible on'
    .col-sm-6
      = f.submit 'Generate Eligibility File', class: "btn btn-primary mt-no-label"

= render 'reports'