!!!
%html
  %head
    = inline_stylesheet_link_tag 'dashboard_pdf'
    = inline_javascript_include_tag 'pdf'
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700|Open+Sans+Condensed:700', rel: 'stylesheet', type: 'text/css'}
    -# = stylesheet_link_tag 'dashboard_pdf'
    -# = javascript_include_tag 'pdf'

  %body
    %section.d-flex.align-items-start
      .mr-4
        - title = "#{GrdaWarehouse::Config.currrent_health_emergency_tracing_title} Medical Restrictions"
        - content_for :title, title
        %h1= title
      .ml-auto
        - logo = inline_asset_base64("theme/logo/#{ENV['PRINT_LOGO']}") rescue nil
        = image_tag(logo, width: 250) if logo.present?

    %section
      = render 'warehouse_reports/health_emergency/filter'

    %section
      = render 'table'

    = svg 'symbol-defs'
