- if (@pdf && @restrictions) || (@html && @pagy.count.positive?)
  - if @html
    .text-right.mb-4
      = link_to({action: :index, format: :pdf}.merge(filter: filter_params), {class: 'btn btn-secondary'}) do
        %i.icon-download2
        Report as PDF
    = render 'common/pagination_top', item_name: 'restriction'
    - if params[:batch_id]
      %p.p-4.report-hightlight Hightlighed rows were indicate they were added in this batch.
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Client ID
          %th Name
          %th DOB
          %th Age
          %th Restriction Added
          %th Notes
      %tbody
        - @restrictions.each do |restriction|
          - client = restriction.client
          - batch_class = if restriction.in_batch?(params[:batch_id]) then 'report-hightlight' else '' end
          %tr
            %td{class: batch_class}
              - if @html && client.image
                .client__image{ style: "background-image: url(#{ image_client_path(client) })" }
            %td= link_to_if @html, client.id, polymorphic_path(['client_he', health_emergency], client_id: client)
            %td= link_to_if @html, client.name, polymorphic_path(['client_he', health_emergency], client_id: client)
            %td= client.DOB
            %td= client.age
            %td= restriction.created_at.to_date
            %td= simple_format(restriction.notes || restriction.note)
  - if @html
    = render 'common/pagination_bottom', item_name: 'restriction'
- elsif @html
  .none-found.mt-4 No restrictions found.
