- if @restrictions
  %p= page_entries_info @restrictions, entry_name: 'restrictions'
  %p= paginate @restrictions
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Client ID
        %th Name
        %th Age
        %th Restricted Added
        %th Notes
    %tbody
      - @restrictions.each do |restriction|
        - client = restriction.client
        %tr
          %td
            - if client.image
              .client__image{ style: "background-image: url(#{ image_client_path(client) })" }
          %td= link_to client.id, polymorphic_path(['client_he', health_emergency], client_id: client)
          %td= link_to client.name, polymorphic_path(['client_he', health_emergency], client_id: client)
          %td= client.age
          %td= restriction.created_at.to_date
          %td= simple_format(restriction.notes)
  %p= paginate @restrictions
