- title = "#{GrdaWarehouse::Config.currrent_health_emergency_tracing_title} Medical Restrictions"
- content_for :title, title
%h1= title
%p Find clients with a test result within the date range who was seen most recently at the chosen projects.
= render '/warehouse_reports/breadcrumbs', tab: 'health-emergency'

= render 'warehouse_reports/health_emergency/filter'

= render 'table'