- content_for :title, "New #{GrdaWarehouse::Config.currrent_health_emergency_tracing_title} Contact Tracing Case"
%h1= content_for :title

= simple_form_for @case, url: health_he_cases_path do |f|
  = render 'new_form', f: f

  = f.submit "Add New Case"