- content_for :title, @report.title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-general'
.mt-6 Clients receiving flex services that have expired.

- if !@pagy.present?
  %p.text-center No VPRs found
- elsif @pagy.count.positive?
  .d-flex
    .ml-auto.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
        %i.icon-download2
        Download
  = render 'common/pagination_top', item_name: 'VPR'
  .card
    %table.table.table-striped
      %thead
        %tr
          %th Client
          %th VPR Start Date
          %th VPR End Date
      %tbody
        - @vprs.each do |vpr|
          %tr
            - if vpr.client.present?
              %td= link_to vpr.name, client_health_patient_index_path(vpr.client)
            - else
              %td= vpr.name
            %td= vpr.planned_on
            %td= vpr.end_date
  = render 'common/pagination_bottom', item_name: 'VPR'
- else
  .none-found No VPRs found