- content_for :title, 'VPR Member Expiration'
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-general'
%div.mt-6 Clients receiving flex services that have expired.

- if !@pagy.present?
  %p.text-center No patients found
- elsif @pagy.count.positive?
  .d-flex
    .ml-auto.mb-4
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary ml-auto'}) do
        %i.icon-download2
        Download
  .d-flex
    %p!= pagy_info(@pagy, item_name: _('patient').pluralize(@pagy.count))
    %p.ml-auto!= pagy_bootstrap_nav(@pagy)
  .card
    %table.mb-0.table.table-striped
      %thead
        %tr
          %th Patient
          %th VPR Start Date
          %th VPR End Date
      %tbody
        - @patients.each do |patient|
          %tr
            - if patient.client.present?
              %td= link_to patient.name, client_health_patient_index_path(patient.client)
            - else
              %td= patient.name
            %td= patient.flexible_services.last.planned_on
            %td= patient.flexible_services.last.end_date
- else
  %p.text-center No patients found