= simple_form_for @filter, as: :filter, url: warehouse_reports_hud_missing_coc_codes_path, html: { method: :get} do |f|
  - content_for :filters_col_full do
    .row
      .col-4
        = f.input :start, label: 'Start Date', as: :date_picker
      .col-4
        = f.input :end, label: 'End Date', as: :date_picker
      .col-4
        = f.input :coc_codes, label: 'CoC Codes', collection: @filter.coc_code_options_for_select(user: current_user), input_html: {class: :select2, multiple: true}, include_blank: false

  - content_for :filter_actions do
    %p.w-100 Report will find any enrollment open at a project in a given CoC where there are zero or more than one Head of Household.  These are checked for enrollments in project types #{project_types_requiring_hoh.to_sentence}.
    .row
      .col-sm-2
        = f.button :submit, value: 'Update View'


  = render 'warehouse_reports/filters', f:f
