%h2 Report Complete
%p
  A data quality report was recently run for
  = "#{@project_name} in the #{_('Boston DND HMIS Warehouse')}.  You can see the results of the report by following this link:"
  %br
  - if @projects.count == 1
    = link_to notification_project_data_quality_report_url(notification_id: @token.token, project_id: @report.project_id, id: @report.id) do 
      = "View Data Quality Report for #{@project_name}."
  - else
    = link_to notification_project_group_data_quality_report_url(notification_id: @token.token, project_group_id: @report.project_group_id, id: @report.id) do 
      = "View Data Quality Report for #{@project_name}."
