= simple_form_for :group_users, url: admin_group_users_path(@group) do |f|
  .d-flex
    .ml-auto.w-50
      = f.input :user_ids, collection: User.where.not(id: @group.user_ids), as: :select_two, input_html: { multiple: true }, label: 'Users to Add'
    .ml-4
      = f.button :submit, class: 'btn btn-secondary mt-no-label' do
        %i.icon-plus
        Add Users

- if @group.users.count.positive?
  %h3.mt-4= pluralize(@group.users.count, 'User')
  .card
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th
      %tbody
        - @group.users.each do |user|
          %tr
            %td= link_to_if can_edit_users?, user.name, edit_admin_user_path(user)
            %td= user.email
            %td.d-flex
              = link_to admin_group_user_path(@group, user), class: 'btn btn-sm btn-danger ml-auto', method: :delete, data: { confirm: "Are you sure you want to remove #{user.name} from #{@group.name}?" } do
                %i.icon-cross
                Remove User

- else
  %h3 0 Users
  %p.none-found
    No users found.
