- title = "Project Type Reconciliation"
- content_for :title, title
.row.mb-4
  .col-sm-8
    %h1= content_for(:title)
  .col-sm-4.text-right
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      Download Excel
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

= render 'warehouse_reports/limited_by_project_note'

- if @projects.any?
  .table-responsive
    %table.table.table-sm.table-striped
      %thead
        %tr
          %th Data Source
          %th Organization
          %th Project
          %th Project Type
          %th Overridden As
      %tbody
        - @projects.each do |project|
          - @overrides.each do |override|
            - next unless override.applies?(project)
            %tr
              %td= project.data_source.short_name
              %td= project.organization.name(current_user)
              %td= link_to_if can_view_projects?, project.name(current_user), project_path(project)
              %td= HudUtility2024.project_type(project.ProjectType)
              %td= HudUtility2024.project_type(override.replacement_value.to_i)
- else
  .none-found All project types match.
