- title = "Project Type Reconciliation"
- content_for :title, title
.row.mb-4
  .col-sm-8
    %h1= content_for(:title)
  .col-sm-4.text-right
    = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary'}) do
      Download Excel
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

= render 'warehouse_reports/limited_by_project_note'

- if @projects.any?
  .table-responsive
    %table.table.table-sm.table-striped
      %thead
        %tr
          %th Data Source
          %th Organization
          %th Project
          %th Project Type
          %th Act As Project Type
      %tbody
        - @projects.each do |project|
          %tr
            %td= project.data_source.short_name
            %td= project.organization.name(current_user)
            %td= project.name(current_user)
            %td= HUD.project_type(project.ProjectType)
            %td= HUD.project_type(project.act_as_project_type)
- else
  .none-found All project types match.