- title = "Project Type Reconciliation"
- content_for :title, title
.row
  .col-sm-8
    %h1= content_for(:title)
  .col-sm-4.text-right
    = link_to({format: :xlsx}.merge(params),{class: 'btn btn-secondary'}) do
      Download Excel
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality-reports'

- if @projects.any?
  %table.table.table-condensed
    %thead
      %tr
        %th Data Source
        %th Organization
        %th Project
        %th Project Type
        %th Act As Project Type
    %tbody
      - @projects.each do |project|
        %tr
          %td= project.data_source.short_name
          %td= project.organization.OrganizationName
          %td= project.ProjectName
          %td= HUD.project_type(project.ProjectType)
          %td= HUD.project_type(project.act_as_project_type)
- else
  %p All project types match.