- current_user.policy_context.preload_project_dependencies(@batch.map { |e| e.project.id })

%table.table.table-striped
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Project Type
      %th Project Name
      %th Entry Date
      %th Exit Date
  %tbody
  - @batch.each do |enrollment|
    :ruby
      client = enrollment.client
      project = enrollment.project
      pii = client.project_pii_provider(project: project, user: current_user, mode: :download)
    %tr
      %td= pii.first_name
      %td= pii.last_name
      %td= HudUtility2024.project_type(enrollment.project_type)
      %td= project.name(current_user)
      %td= enrollment.first_date_in_program
      %td= enrollment.last_date_in_program