- title = "Active Clients"
- content_for :title, title

%h1= title
%section
  %h3 Selected Universe
  .row
    .col-6
      .warehouse-reports__completed
        = @report.filter.describe_filter_as_html
    .col-6
      .warehouse-reports__completed
        .report-parameters__parameter
          %label.label.label-default.parameter-label Run At
          %label.label.label-primary.parameter-value= Time.current
        .report-parameters__parameter
          %label.label.label-default.parameter-label Run By
          %label.label.label-primary.parameter-value= current_user.name_with_email

%section
  %p
    - unique_clients = @report.enrollment_scope.distinct.count(:client_id)
    = "The following #{number_with_delimiter(unique_clients)} clients with #{number_with_delimiter(@report.enrollment_scope.count)} enrollments, have at least one day of service between #{@filter.start} and #{@filter.end}."

  %table.table.table-striped
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Project Type
        %th Project Name
        %th Entry Date
        %th Exit Date
    %tbody
      - @report.enrollment_scope.preload(:client, :project, :enrollment).in_batches(of: 1_000).each do |batch|
        - current_user.policy_context.preload_project_dependencies(batch.map { |e| e.project.id })
        - batch.each do |enrollment|
          :ruby
            client = enrollment.client
            project = enrollment.project
            pii = client.project_pii_provider(project: project, user: current_user, mode: :download)
          %tr
            %td= pii.first_name
            %td= pii.last_name
            %td= HudUtility2024.project_type(enrollment.project_type)
            %td= project.name(current_user)
            %td= enrollment.first_date_in_program
            %td= enrollment.last_date_in_program
