- title = "Active #{GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert[@sub_population]} Detail"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
.row
  .col-sm-8
    %h1= title
  .col-sm-4.text-right
    - if  can_view_clients?
      = link_to({format: :xlsx}.merge(params),{class: 'btn btn-secondary', data: {toggle: :tooltip, title: 'Download includes the following additional fields: Length of Stay (to-date), Living Situation, Destination, Race, Ethnicity.'}}) do
        Download Excel
= render 'filter'
%p= "The following #{@enrollments.count} clients with #{@enrollments.values.flatten(1).count} enrollments, have at least one day of service between #{@start_date} and #{@end_date}."
= render 'warehouse_reports/limited_by_project_note'

.row
  .col-sm-12
    %table.table.table-condensed
      %thead
        %tr
          %th
            Client
          %th
            Project Type
          %th
            Project
          %th
            Entry Date
          %th
            Exit Date
      %tbody
        - @enrollments.each do |client_id, enrollments|
          - enrollments.each do |enrollment|
            %tr
              %td
                = link_to_if can_view_clients?, "#{enrollment[:first_name]} #{enrollment[:last_name]}", client_path(id: client_id)
              %td
                = HUD.project_type(enrollment[:project_type])
              %td
                = enrollment[:project_name]
              %td
                = enrollment[:first_date_in_program]
              %td
                = enrollment[:last_date_in_program]