- title = "Active Clients"
- content_for :title, title

%h1= title
%section
  %h3 Selected Universe
  .row
    .col-6
      .warehouse-reports__completed
        = @report.filter.describe_filter_as_html
    .col-6
      .warehouse-reports__completed
        .report-parameters__parameter
          %label.label.label-default.parameter-label Run At
          %label.label.label-primary.parameter-value= Time.current
        .report-parameters__parameter
          %label.label.label-default.parameter-label Run By
          %label.label.label-primary.parameter-value= current_user.name_with_email

%section
  %p
    - unique_clients = @report.enrollment_scope.distinct.count(:client_id)
    = "The following #{number_with_delimiter(unique_clients)} clients with #{number_with_delimiter(@report.enrollment_scope.count)} enrollments, have at least one day of service between #{@filter.start} and #{@filter.end}."

