- title = "Active #{GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert[@filter.sub_population]} Detail"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
.row
  .col-sm-8
    %h1= title
= render 'filter'
.d-flex
  .ml-auto.mb-2
    - if can_view_clients?
      = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: warehouse_reports_client_details_actives_path({format: :xlsx}.merge(link_params)), excel_download_tooltip: 'Download includes the following additional fields: Length of Stay (to-date), Living Situation, Destination, Race, Ethnicity.'
= render 'background_render', url: render_section_warehouse_reports_client_details_actives_path, fetch_params: { filter: @filter.for_params[:filters] } do
  .rollup
    .rollup-container.well

= render 'common/section_not_loading', path_to_section: section_warehouse_reports_client_details_actives_path(link_params)

-# = render 'report'
