- title = "Active #{GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert[@filter.sub_population]} Detail"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
.row
  .col-sm-8
    %h1= title
= render 'filter'
.d-flex
  .ml-auto.mb-2
    - if can_view_clients?
      = link_to({format: :xlsx}.merge(link_params),{class: 'btn btn-secondary', data: {toggle: :tooltip, title: 'Download includes the following additional fields: Length of Stay (to-date), Living Situation, Destination, Race, Ethnicity.'}}) do
        Download Excel
= render 'background_render', url: render_section_warehouse_reports_client_details_actives_path, fetch_params: { filter: @filter.for_params[:filters] } do
  .rollup
    .rollup-container.well

-# = render 'report'
