- title = "Veteran Entry Detail"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
.row
  .col-sm-8
    %h1= title
  .col-sm-4.text-right
    = link_to({format: :xlsx}.merge(params),{class: 'btn btn-secondary'}) do
      Download Excel

= render 'filter'
.row
  .col-sm-12
    %p
      Entries in 
      = GrdaWarehouse::Hud::Project::PROJECT_TYPE_TITLES[@project_type_code]
      between
      = @start_date
      and
      = "#{@end_date}."


- @buckets.values.each do |groups|
  - groups.each do |group, clients|
    .row
      .col-sm-12
        %h3
          = @data[group][:label]
          = "(#{clients.count})"
        %table.table.table-condensed
          %thead
            %tr
              %th
                Client
              %th
                Entry
              %th
                Exit
              %th
                Project Type
              %th
                Project
              %th
                Organization
          %tbody
            - clients.each do |client_id, enrollments|
              - meta = enrollments.first
              - enrollments = enrollments.reverse
              %tr
                %td{rowspan: enrollments.count + 1}
                  = link_to "#{meta[:first_name]} #{meta[:last_name]}", client_path(client_id)
              - enrollments.each_with_index do |enrollment, index|
                - highlight = ''
                - highlight = 'warehouse-reports__enrollment-highlighted' if index == 0
                %tr{class: highlight}
                  %td
                    = enrollment[:first_date_in_program]
                  %td
                    = enrollment[:last_date_in_program]
                  %td
                    = HUD.project_type(enrollment[:project_type])
                  %td
                    = enrollment[:project_name]
                  %td
                    = enrollment[:organization_name]
                  
            