%h1
  .pull-right
    - if @client.vispdats.in_progress.none?
      .btn-group
        %button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
          New VI-SPDAT
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id, type: 'GrdaWarehouse::Vispdat::Youth'), data: { method: :post } do
              %i.fa.fa-fw.fa-child
              Youth
          %li
            = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id, type: 'GrdaWarehouse::Vispdat::Individual'), data: { method: :post } do
              %i.fa.fa-fw.fa-user
              Individual
          %li
            = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id, type: 'GrdaWarehouse::Vispdat::Family'), data: { method: :post } do
              %i.fa.fa-fw.fa-group
              Family
    -# else
      %button.btn.btn-primary(title="#{@client.full_name} already has a VI-SPDAT in progress. Please complete that one or delete it before starting a new VI-SPDAT" data-toggle='tooltip')
        %span.icon-plus

  = content_for :title
  .clearfix
%hr

%table.table.vispdat-table
  %thead
    %tr
      %th.text-left Created On
      %th.text-left Status
      %th.text-left Type
      %th.text-center Total Score

  %tbody
    = render partial: 'vispdat_row', collection: @vispdats, as: :vispdat
