
%h2 Basic Information
.well
  .row
    .col-sm-4
      %dt First Name
      %dd= @client.first_name
    .col-sm-4
      %dt Nick Name
      %dd= @vispdat.nickname
    .col-sm-4
      %dt Last Name
      %dd= @client.last_name
  .row
    .col-sm-4
      %dt Language
      %dd= @vispdat.answer_for :language_answer
    .col-sm-4
      %dt SSN
      %dd= ssn @client.SSN
    .col-sm-4
      %dt Date of Birth
      %dd
        = @client.DOB
        = "(#{@client.age})"
  .row
    .col-sm-4
      %dt Release Signed On?
      %dd
        = @vispdat.release_signed_on
        - if @vispdat.expired?
          %span.label.label-danger Expired
        - else
          %span.label.label-success
            %span.icon-checkmark
      %p
        - if @vispdat.files.any?
          = link_to polymorphic_path(file_path_generator, id: @vispdat.files.first) do
            %i.fa.fa-file
            Release Form

    .col-sm-4
      %dt Drug & Alcohol Release?
      %dd= yes_no @vispdat.drug_release
    .col-sm-4
      %dt HIV/AIDS Release?
      %dd= yes_no @vispdat.hiv_release
  .row
    .col-sm-4
      - if can_confirm_housing_release?
        %label{ for: 'housing_release_confirmed', style: "cursor:pointer" }
          = check_box_tag :housing_release_confirmed, '1', @vispdat.housing_release_confirmed, data: { remote: true, url: polymorphic_path(vispdat_path_generator), method: :patch }
          %strong Housing Release Confirmed
      - else
        %dt Housing Release Confirmed?
        %dd= yes_no @vispdat.housing_release_confirmed

- if @vispdat.family?
  %h2 2nd Parent
  .well
    .row
      .col-sm-4
        %dt First Name
        %dd= @vispdat.parent2_first_name
      .col-sm-4
        %dt Nick Name
        %dd= @vispdat.parent2_nickname
      .col-sm-4
        %dt Last Name
        %dd= @vispdat.parent2_last_name
    .row
      .col-sm-4
        %dt Language
        %dd= @vispdat.answer_for :parent2_language_answer
      .col-sm-4
        %dt SSN
        %dd= @vispdat.parent2_ssn
      .col-sm-4
        %dt Date of Birth
        %dd
          = @vispdat.parent2_dob
          = "(#{@vispdat.parent2_age})" if @vispdat.parent2_dob.present?

  %h2 Children
  .well
    .row
      .col-sm-9
        How many children under the age of 18 are currently with you?
      .col-sm-3
        = @vispdat.number_of_children_under_18_with_family
        = "Refused/Unsure" if @vispdat.number_of_children_under_18_with_family_refused?
    .row
      .col-sm-9
        How many children under the age of 18 are not currently with you, but you have reason to believe they will be joining you when you get housed?
      .col-sm-3
        = @vispdat.number_of_children_under_18_not_with_family
        = "Refused/Unsure" if @vispdat.number_of_children_under_18_not_with_family_refused?
    .row
      .col-sm-9
        = @vispdat.question(:number_of_bedrooms)
      .col-sm-3
        = @vispdat.number_of_bedrooms
    .row
      .col-sm-9
        IF HOUSEHOLD INCLUDES A FEMALE: Is any member of the family currently pregnant?
      .col-sm-3
        = @vispdat.answer_for :any_member_pregnant_answer

    .row
      .col-sm-6
        %h3 Children Information
    .row
      .col-sm-2
        %strong First Name
      .col-sm-2
        %strong Last Name
      .col-sm-2
        %strong Date of Birth
    - @vispdat.children.each do |child|
      .row
        .col-sm-2
          = child.first_name
        .col-sm-2
          = child.last_name
        .col-sm-2
          = child.dob

%h2 History of Housing & Homelessness
.well
  .row
    .col-sm-4
      %dt= @vispdat.question(:sleep)
      %dd
        = @vispdat.answer_for :sleep_answer
        - if @vispdat.sleep_other?
          (
          = @vispdat.sleep_answer_other
          )
    .col-sm-4
      %dt
        = @vispdat.question(:housing)
      %dd
        = @vispdat.homeless
        = @vispdat.homeless_period
        = "Refused/Unsure" if @vispdat.homeless_refused?
    .col-sm-4
      %dt= @vispdat.question(:homeless)
      %dd
        = @vispdat.episodes_homeless
        = "Refused/Unsure" if @vispdat.episodes_homeless_refused?

%h2 Risks
.well
  %h4= @vispdat.question(:past_six_months)
  %br
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:received_healthcare)
    .col-sm-1
      %dd
        = @vispdat.emergency_healthcare
        = "Refused/Unsure" if @vispdat.emergency_healthcare_refused
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:taken_ambulance)
    .col-sm-1
      %dd
        = @vispdat.ambulance
        = "Refused/Unsure" if @vispdat.ambulance_refused
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:been_hospitalized)
    .col-sm-1
      %dd
        = @vispdat.inpatient
        = "Refused/Unsure" if @vispdat.inpatient_refused
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:used_crisis_service)
    .col-sm-1
      %dd
        = @vispdat.crisis_service
        = "Refused/Unsure" if @vispdat.crisis_service_refused
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:talked_to_police)
    .col-sm-1
      %dd
        = @vispdat.talked_to_police
        = "Refused/Unsure" if @vispdat.talked_to_police_refused
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:stayed_in_prison)
    .col-sm-1
      %dd
        = @vispdat.jail
        = "Refused/Unsure" if @vispdat.jail_refused
.well
  .row
    .col-sm-9
      %label= @vispdat.question(:been_attacked)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :attacked_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:harm_yourself)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :threatened_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:legal_stuff)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :legal_answer
  - if @vispdat.youth?
    .row
      .col-sm-9
        %label.text-primary= @vispdat.question(:jail_before_18)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :incarcerated_before_18_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:force_you)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :tricked_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:risky_things)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :risky_answer

%h2 Socialization & Daily Functioning
.well
  .row
    .col-sm-9
      %label= @vispdat.question(:owe_money)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :owe_money_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:get_money)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :get_money_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:planned_activities)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :activities_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:basic_needs)
    .col-sm-3
      %dd= yes_no @vispdat.answer_for :basic_needs_answer

  - if @vispdat.youth?
    %h4= @vispdat.question(:lack_of_housing)
    %br
    .row
      .col-sm-8.col-md-offset-1
        %label.text-primary= @vispdat.question(:ran_away)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :homeless_due_to_ran_away_answer
    .row
      .col-sm-8.col-md-offset-1
        %label.text-primary= @vispdat.question(:religious_beliefs)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :homeless_due_to_religions_beliefs_answer
    .row
      .col-sm-8.col-md-offset-1
        %label.text-primary= @vispdat.question(:homeless_due_to_family)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :homeless_due_to_family_answer
    .row
      .col-sm-8.col-md-offset-1
        %label.text-primary= @vispdat.question(:gender_identity)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :homeless_due_to_gender_identity_answer
    .row
      .col-sm-8.col-md-offset-1
        %label.text-primary= @vispdat.question(:due_to_violence)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :violence_between_family_members_answer
    .row
      .col-sm-8.col-md-offset-1
        %label.text-primary= @vispdat.question(:due_to_abuse)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :abusive_answer
  - else
    .row
      .col-sm-9
        %label= @vispdat.question(:homelessness_cause)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :abusive_answer

%h2 Wellness
.well
  .row
    .col-sm-9
      %label= @vispdat.question(:leave_due_to_health)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :leave_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:chronic_health_issues)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :chronic_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:space_interest)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :hiv_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:physical_disabilities)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :disability_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:avoid_help)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :avoid_help_answer

  - unless @vispdat.family?
    .row
      .col-sm-9
        %label= @vispdat.question(:currently_pregnant)
      .col-sm-3
        %dd
          = yes_no @vispdat.answer_for :pregnant_answer

  .row
    .col-sm-9
      %label= @vispdat.question(:kicked_out)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :eviction_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:drug_use)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :drinking_answer
  - if @vispdat.youth?
    .row
      .col-sm-9
        %label.text-primary= @vispdat.question(:marijuana)
      .col-sm-3
        %dd= yes_no @vispdat.answer_for :marijuana_answer
.well
  %h4= @vispdat.question(:trouble_housing)
  %br
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:mental_health)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :mental_answer
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:head_injury)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :head_answer
  .row
    .col-sm-8.col-md-offset-1
      %label= @vispdat.question(:learning_disability)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :learning_answer
.well
  .row
    .col-sm-9
      %label= @vispdat.question(:live_independently)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :brain_answer

  - if @vispdat.family?
    .row
      .col-sm-9
        %label= @vispdat.question(:single_member_morbidity)
      .col-sm-3
        = yes_no @vispdat.answer_for :family_member_tri_morbidity_answer

  .row
    .col-sm-9
      %label= @vispdat.question(:take_medications)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :medication_answer
  .row
    .col-sm-9
      %label= @vispdat.question(:sell_medications)
    .col-sm-3
      %dd
        = yes_no @vispdat.answer_for :sell_answer

  - unless @vispdat.youth?
    .row
      .col-sm-9
        %label= @vispdat.question(:abuse_trauma)
      .col-sm-3
        %dd
          = yes_no @vispdat.answer_for :trauma_answer

- if @vispdat.family?
  %h2 Family Unit
  .well
    .row
      .col-sm-9
        %label Are there any children that have been removed from the family by a child protection service within the last 180 days?
      .col-sm-3
        = yes_no @vispdat.answer_for :any_children_removed_answer
    .row
      .col-sm-9
        %label Do you have any family legal issues that are being resolved in court or need to be resolved in court that would impact your housing or who may live within your housing?
      .col-sm-3
        = yes_no @vispdat.answer_for :any_family_legal_issues_answer
    .row
      .col-sm-9
        %label In the last 180 days have any children lived with family or friends because of your homelessness or housing situation?
      .col-sm-3
        = yes_no @vispdat.answer_for :any_children_lived_with_family_answer
    .row
      .col-sm-9
        %label Has any child in the family experienced abuse or trauma in the last 180 days?
      .col-sm-3
        = yes_no @vispdat.answer_for :any_child_abuse_answer
    .row
      .col-sm-9
        %label IF THERE ARE SCHOOL-AGED CHILDREN: Do your children attend school more often than not each week?
      .col-sm-3  
        = yes_no @vispdat.answer_for :children_attend_school_answer
    .row
      .col-sm-9
        %label Have the members of your family changed in the last 180 days, due to things like divorce, your kids coming back to live with you, someone leaving for military service or incarceration, a relative moving in, or anything like that?
      .col-sm-3
        = yes_no @vispdat.answer_for :family_members_changed_answer
    .row
      .col-sm-9
        %label Do you anticipate any other adults or children coming to live with you within the first 180 days of being housed?
      .col-sm-3
        = yes_no @vispdat.answer_for :other_family_members_answer
    .row
      .col-sm-9
        %label Do you have two or more planned actvities each week as a family such as outings to the park, going to the library, visiting other family, watching a family movie, or anything like that?
      .col-sm-3
        = yes_no @vispdat.answer_for :planned_family_activities_answer
    .row
      .col-sm-9
        %label After school, or on weekends or days when there isn’t school, is the total time children spend each day where there is no interaction with you or another responsible adult 3 or more hours per day for children aged 13 or older?
      .col-sm-3
        = yes_no @vispdat.answer_for :time_spent_alone_13_answer
    .row
      .col-sm-9
        %label  After school, or on weekends or days when there isn’t school, is the total time children spend each day where there is no interaction with you or another responsible adult 2 or more hours per day for children aged 12 or younger?
      .col-sm-3
        = yes_no @vispdat.answer_for :time_spent_alone_12_answer
    .row
      .col-sm-9
        %label IF THERE ARE CHILDREN BOTH 12 AND UNDER & 13 AND OVER: Do your older kids spend 2 or more hours on a typical day helping their younger sibling(s) with things like getting ready for school, helping with homework, making them dinner, bathing them, or anything like that?
      .col-sm-3
        = yes_no @vispdat.answer_for :time_spent_helping_siblings_answer

%h2 Follow-Up Questions
.well
  .row
    .col-sm-4
      %label= @vispdat.question(:find_you)
    .col-sm-4
      %dt Place
      %dd= @vispdat.find_location
    .col-sm-2
      %dt Time
      %dd= @vispdat.find_time
    .col-sm-2
      %dt Period of Day
      %dd= @vispdat.when_answer
  .row
    .col-sm-4
      %label= @vispdat.question(:contact_info)
    .col-sm-4
      %dt Phone
      %dd= @vispdat.phone
    .col-sm-4
      %dt Email
      %dd= @vispdat.email
  - if @vispdat.individual?
    .row
      .col-sm-4
        %label= @vispdat.question(:take_picture)
      .col-sm-8
        %dd= yes_no @vispdat.answer_for :picture_answer
