- title = "Edit #{@vispdat.type.demodulize} VI-SPDAT"
- content_for :title, title

= render 'window/clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'window/clients/tab_navigation', current: window_client_vispdats_path(@client)

%h1
  .pull-right
    -# link_to polymorphic_path(vispdat_path_generator, client_id: @client.id, id: @vispdat.id), class: 'btn btn-primary', title: 'Show', data: { toggle: 'tooltip' } do
      %span.icon-eye
      View
    = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id), class: 'btn btn-default', title: 'All' do
      %span.icon-menu
      VI-SPDAT List
  = title
= render 'administered_by'
- readonly = nil
- if @vispdat.show_as_readonly?
  - readonly = :readonly

= render 'form', readonly: readonly
