- title = "Assigned Relationships for #{@client.name}"
- content_for :title, title
= render 'clients/breadcrumbs'

= render 'clients/aliases'
= render 'clients/tab_navigation', current: client_users_path(@client)

= render 'relationship_list'