= render partial: 'breadcrumbs'
%h1= _("Report Result: #{@report.name}")
= render 'queue_form'

:ruby
  columns = {'percent_complete' => 'Status', 'created_at' => 'Started'}
  directions = current_sort_order(Hash[columns.map {|x,_| [x, nil]}])
  titles = columns
= render 'common/pagination_top', item_name: 'report'
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        - titles.each do | k, title |
          %th
            = sort_link(titles[k], k, directions)
            %i{class: ["fa", "fa-sort-#{directions[k]}"] }
        - if @report.has_options?
          %th= @report.title_for_options
        %th Run by
        %th Completed in
        %th Delete
    %tbody
      - @results.each do |result|
        %tr
          %td
            - if result.job_status.present?
              = link_to 'Report Failed', report_report_result_path(@report, result)
            - else
              = link_to result.last_run_status, report_report_result_path(@report, result)
          %td= result.created_at
          - if @report.has_options?
            %td.warehouse-reports__completed.d-flex
              .options
                = @report.describe_filter_as_html(result)
              .ml-auto.nobr
                = render 'filters/view_filter_details', filter_hash: @report.filter_from_result(result).to_h, selected_keys: @report.allowed_options(result)
          %td= result.user.name
          %td= result.completed_in
          %td
            = link_to report_report_result_path(@report, result),  method: :delete, class: 'btn btn-sm btn-danger btn-icon-only', data: {confirm: _("Would you really like to delete this report result?")} do
              %span.icon-cross
= render 'common/pagination_bottom', item_name: 'report'
