%p.content
  Hello #{@resource.name},

%p.content
  Your email address has been used to create or update an account for the
  #{_('City of Boston DND Warehouse')}.
  Please follow the link below to confirm the new email address:
  %br
  %strong
    = link_to 'Confirm my email address', confirmation_url(@resource, confirmation_token: @token)

%p.content
  If the link doesn't work, you can copy and paste
  %br
  = confirmation_url(@resource, confirmation_token: @token)
  %br
  into a browser window.

%p.content
  If you are not #{@resource.name} or do not wish to make this change you may ignore this email.
