- title = 'HMIS Source Data'
- content_for :title, title
%h1= content_for :title

%table.table.table-condensed
  %tr
    %th Data Source
    %td= link_to @item.data_source.name, data_source_path(@item.data_source)
  %tr
    %th Warehouse ID
    %td= @item.id
  - @item.class.hud_csv_headers.each do |key|
    %tr
      %th= key
      %td= @item[key]