%table.table.table-sm
  %thead
    %tr
      %th
        Client
      %th{style: 'width: 15%'}
        Release on file?
      %th{style: 'width: 23.333333333%'}
        Relationship
      %th{style: 'width: 23.333333333%'}
        Expires On
      %th{style: 'width: 15%'}
        Confidential?
  %tbody
    - clients.each do |uc|
      - client = uc.client
      %tr
        %td{style: 'width: 23.333333333%'}
          - if @client_path && (client.release_valid? || can_view_clients?)
            = link_to client.name, send(@client_path, id: client.id)
          - else
            = client.name
        %td{style: 'width: 15%'}
          = checkmark(client.release_valid?)
        %td{style: 'width: 23.333333333%'}
          = uc.relationship
        %td{style: 'width: 23.333333333%'}
          = uc.end_date || 'No Expiration'
        %td{style: 'width: 15%'}
          = checkmark(uc.confidential)
