- item = test
%div{class: flex}
  %dl.mr-4
    %dt Testing Date
    %dd= item.tested_on.presence || 'Blank'
  %dl.mr-4
    %dt Result
    %dd= item.result.presence || 'Blank'
  %dl.mr-4
    %dt Notes
    %dd= item.notes || 'Blank'
  %dl.mr-4
    %dt Entered By
    %dd= item.user&.name
  %dl.mr-4
    %dt Agency
    %dd= item.agency&.name

- if can_edit_health_emergency_clinical?
  .d-flex
    = link_to destroy_test_client_he_clinical_path(client_id: @client.id, id: item.id), method: :delete, class: 'btn btn-danger btn-sm ml-auto', data: { confirm: "Really delete this #{item.title}?"} do
      %i.icon-cross
      Delete