- title = "#{GrdaWarehouse::WarehouseReports::Dashboard::Base.available_sub_populations.invert[@filter.sub_population]} Exit Detail"
- content_for :title, title
= render '/warehouse_reports/breadcrumbs'
.row
  .col-sm-8
    %h1= title

= render 'filter'

= render 'background_render', url: render_section_warehouse_reports_client_details_exits_path, fetch_params: { filter: @filter.for_params[:filters] } do
  .rollup
    .rollup-container.well
= render 'common/section_not_loading', path_to_section: section_warehouse_reports_client_details_exits_path(link_params)
