-# Display all alert contact relationships for a user
-# Shows system contact and all project/organization contacts with their subscriptions
-# Uses preloaded @user_contacts from controller to avoid N+1 queries
- has_any_subscriptions = @user_contacts&.any? || @import_csv_monitor_configs&.any?
- if has_any_subscriptions
  .contact-relationships.mt-4.mb-4
    %h3 Other Subscriptions
    .card
      .card-body
        %p.text-muted
          This user receives alerts through the following associations.
        - org_contacts = @user_contacts.select { |c| c.type == 'GrdaWarehouse::Contact::Organization' }
        - project_contacts = @user_contacts.select { |c| c.type == 'GrdaWarehouse::Contact::Project' }
        - has_any_contacts = @user.system_contact.present? || org_contacts.any? || project_contacts.any?

        - if has_any_contacts
          %table.table.table-sm.table-striped
            %thead
              %tr
                %th Contact Type
                %th Entity
                %th Subscriptions
                %th.text-end Actions
            %tbody
              - org_contacts.each do |contact|
                %tr
                  %td
                    %span.badge.bg-info Organization
                  %td= contact.entity.name
                  %td
                    - subscriptions = contact.alert_definitions.select(&:active?).map(&:name)
                    - if subscriptions.any?
                      = subscriptions.join(', ')
                    - else
                      %span.text-muted None
                  %td.text-end
                    = link_to edit_organization_contact_path(contact.entity, contact), target: :_blank do
                      Edit Contact
                      %span.icon-link-ext

              - project_contacts.each do |contact|
                %tr
                  %td
                    %span.badge.bg-success Project
                  %td= contact.entity.name
                  %td
                    - subscriptions = contact.alert_definitions.select(&:active?).map(&:name)
                    - if subscriptions.any?
                      = subscriptions.join(', ')
                    - else
                      %span.text-muted None
                  %td.text-end
                    = link_to edit_project_contact_path(contact.entity, contact), target: :_blank do
                      Edit Contact
                      %span.icon-link-ext

        - if @import_csv_monitor_configs&.any?
          %h5.mt-3 Import CSV Monitors
          %table.table.table-sm.table-striped
            %thead
              %tr
                %th Data Source
                %th CSV File
                %th.text-end Actions
            %tbody
              - @import_csv_monitor_configs.each do |config|
                - monitor = config.source
                - if monitor.is_a?(GrdaWarehouse::ImportCsvMonitor)
                  %tr
                    %td= monitor.data_source&.name
                    %td= monitor.csv_file_name
                    %td.text-end
                      = link_to 'Edit Monitor', edit_data_source_import_csv_monitor_path(monitor.data_source, monitor), target: :_blank, class: 'btn btn-sm btn-secondary'
