- user = f.object
.row
  .col-sm-6
    %h3 User Information
    - if user.primary_idp.present? && !user.idp_supports_profile_updates?
      .alert.alert-info
        %p.mb-0
          Sign-in provided by #{user.user_authentication_sources.find_by(connector_id: user.primary_idp)&.idp_name || user.primary_idp}. Changes made here to personal information may be overwritten on the user's next login since the IDP does not support profile updates.
    .form-inputs.well
      -# IDP selection for new user invitations
      - if @available_idps.present? && @user.new_record?
        .row
          .col-sm-10
            - if @available_idps.length > 1
              = f.input :connector_id, collection: @available_idps, label_method: :last, value_method: :first, include_blank: false, as: :select_two, label: 'Identity Provider', hint: 'Select which Identity Provider to use for this user account.'
            - else
              = f.hidden_field :connector_id, value: @available_idps.first.first
              - idp_name = @available_idps.first.last
              .alert.alert-info
                = "User will be created in #{idp_name}."
      .row
        .col-sm-10
          = f.input :first_name, required: true
      .row
        .col-sm-10
          = f.input :last_name, required: true
      .row
        .col-sm-8
          = f.input :email, as: :email, required: true
      - if Talentlms::Config.any?
        .row
          .col-sm-8
            = f.input :talent_lms_email, as: :email
      .row
        .col-sm-4
          = f.input :phone
      - if user.show_credentials?
        .row
          .col-sm-10
            = f.input :credentials, label: 'Credentials', collection: @user.credential_options, as: :select_two, input_html: { data: {tags: true} }, hint: 'Add a new credential type by typing the name and hitting enter.'
      .row
        .col-sm-10
          = f.input :agency_id, collection: @agencies, label_method: :name, value_method: :id, include_blank: true, as: :select_two, required: true
      .row
        .col-sm-10
          = f.input :exclude_from_directory
      .row
        .col-sm-10
          = f.input :exclude_phone_from_directory
    - if @available_idps.present? && @user.new_record?
      .form-inputs.well
        -# IDP selection for new users
        .row
          .col-sm-10
            - if @available_idps.length > 1
              = f.input :connector_id, collection: @available_idps, label_method: :last, value_method: :first, include_blank: false, as: :select_two, label: 'Identity Provider', hint: 'Select which Identity Provider to use for this user account.'
            - else
              = f.hidden_field :connector_id, value: @available_idps.first.first
              - idp_name = @available_idps.first.last
              .alert.alert-info
                = "User will be created in #{idp_name}."

  .col-sm-6
    .form--checkbox-groups
      %h3 System Notifications
      .well
        %p Which system-wide notifications should this user receive?
        = f.simple_fields_for :system_contact do |sc_form|
          - @system_alerts.each do |alert|
            - if alert.show_to?(current_user)
              = sc_form.input :alert_definition_ids,
                as: :boolean,
                label: alert.name,
                hint: alert.description,
                input_html: { multiple: true, checked: @user.system_contact&.alert_definition_ids&.include?(alert.id) },
                checked_value: alert.id,
                unchecked_value: nil
    - unless @user.new_record?
      = render 'contact_relationships'
      = render 'identity_providers', user: user
    .form-access-control
      %h3 Permission Scheme
      .well
        = f.input :permission_context, as: :select_two, label: 'Permission Version', hint: 'Unless you know what you are doing, you should leave this as "Role-Based Access" for the time-being.', collection: User.available_permission_contexts.invert, include_blank: false
    - if RailsDrivers.loaded.include?(:superset) && Superset.available?
      .form-access-control
        %h3 OP Analytics Superset Configuration
        .well
          = f.input :superset_roles, as: :select_two, collection: Superset.available_superset_roles, label: 'Superset Role', hint: 'These roles will be used for this user when the login to Superset. If no role is specified the default "Report Runner" role will be assigned on first login. Role changes only take effect on the next Superset login.', input_html: { multiple: true }

= render '/users/user_viewable_entities', f: f, roles: Role.editable.order(:name)
