.row
  .col-sm-6
    %h3 User Information
    .form-inputs
      .row
        .col-sm-10
          = f.input :first_name, required: true
      .row
        .col-sm-10
          = f.input :last_name, required: true
      .row
        .col-sm-8
          = f.input :email, as: :email, required: true
      .row
        .col-sm-4
          = f.input :phone
      .row
        .col-sm-10
          = f.input :agency_id, collection: @agencies, label_method: :name, value_method: :id, required: false, include_blank: 'Unknown', input_html: {class: :select2}
      - if can_enable_2fa?
        .row
          .col-sm-8
            = f.input :otp_required_for_login, as: :select, label: 'Require two-factor authentication', include_blank: false, input_html: {class: [:select2, :j2Fa]}
            .well.j2FaEnabled
              %p
                This feature is still in beta.  If you enable Two-factor Authentication for a user, that user must use the following QR code to setup a device.
              .mt-4.mb-4.text-center
                = raw RQRCode::render_qrcode(@user.otp_provisioning_uri(@user.two_factor_issuer, issuer: @user.two_factor_label), :svg, level: :h, unit: 2)

  .col-sm-6
    .form--checkbox-groups
      %h3 Notifications
      %p Which notifications should this user receive?
      = f.input :receive_file_upload_notifications, label: 'File uploads'
      - if can_edit_vspdat? # you can only assign this if you can also edit them
        = f.input :notify_on_vispdat_completed, label: "VI-SPDAT submissions", as: :boolean
      - if GrdaWarehouse::DataSource.authoritative.exists?
        = f.input :notify_on_client_added, label: "Authoritative clients added", as: :boolean
      = f.input :notify_on_anomaly_identified, label: "Anomalies identified"

= render '/users/user_viewable_entities', f: f, roles: Role.editable

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.j2Fa').on('change', function(e){
        if($(this).val() == 'true') {
          $('.j2FaEnabled').removeClass('hidden');
        } else {
          $('.j2FaEnabled').addClass('hidden');
        }
      });
      $('.j2Fa').trigger('change');
    });