= render 'breadcrumbs'
%h1
  Edit User Account:
  = @user.name
.well
  .alert.alert-warning
    %p
      %i.icon-warning
      By assigning an Access Control List containing the role <b>#{@admin_role_name}</b> to this account, you are granting the user administrative privileges.

  = simple_form_for [:admin, @user] do |f|
    = f.error_notification

    = f.hidden_field "safari_username", value: "nil"

    - request.POST[:user].each do | key, value |
      - if value.is_a? Array
        - value.each do |item|
          = f.hidden_field key, multiple: true, value: item
      - elsif value.is_a? Hash
        = f.simple_fields_for :contact do |c|
          - value.each do | key, value |
            = c.hidden_field key, value: value
      - else
        = f.hidden_field key, value: value

    - if current_user.confirm_password_for_admin_actions?
      = f.input "confirmation_password", as: :password, label: 'Confirm your password to grant administrative privileges', input_html: { autocomplete: 'current-password' }

    .form-actions.mt-4
      = f.button :submit, class: 'btn btn-primary'
