.row
  .col-sm-10
    #hud-zip-upload.panel-group.panel-collapsible
      - content_for :panel_collapse_content, flush: true do
        %p
          Use this form to upload a zip file of HUD HMIS CSV files.  These need to be in the
          HUD 2020 HMIS CSV format, and must include at a minimum valid
          %strong
            Export.csv and Project.csv
          files.
        = simple_form_for @upload, url: data_source_uploads_path(@data_source) do |f|
          = f.error_notification
          .form-inputs
            = f.input :file, as: :file
            - if can_upload_deidentified_hud_hmis_files?
              = f.input :deidentified, as: :boolean, label: "Are all of the Client Names in Client.csv blank?"
            - if can_upload_whitelisted_hud_hmis_files?
              = f.input :project_whitelist, as: :boolean, label: "Limit clients to whitelisted projects?"
            = f.hidden_field :file_cache
            = f.hidden_field :import_type, value: :hmis_detect
          .form-actions
            = f.button :submit, value: 'Upload Zip'

      = render 'common/panel_collapse', id: 'hmis_current', title: 'HMIS 2020 CSV Importer', default_open: 'yes'

      - content_for :panel_collapse_content, flush: true do
        %p
          Use this form to upload a zip file of HUD HMIS CSV files.  These need to be in a
          valid HMIS CSV format, and must include at a minimum valid
          %strong
            Export.csv and Project.csv
          files. If the files are not in the current HUD-specified format, an attempt will be made to convert
          the files using the HUD data migration rules.
        = simple_form_for @upload, url: data_source_uploads_path(@data_source) do |f|
          = f.error_notification
          .form-inputs
            = f.input :file, as: :file
            - if can_upload_deidentified_hud_hmis_files?
              = f.input :deidentified, as: :boolean, label: "Are all of the Client Names in Client.csv blank?"
            - if can_upload_whitelisted_hud_hmis_files?
              = f.input :project_whitelist, as: :boolean, label: "Limit clients to whitelisted projects?"
            = f.hidden_field :file_cache
            = f.hidden_field :import_type, value: :hmis_migrate
          .form-actions
            = f.button :submit, value: 'Upload Zip'

      = render 'common/panel_collapse', id: 'hmis_migrating', title: 'HMIS CSV Importer'