.row
  .col-sm-10
    #hud-zip-upload.panel-group.panel-collapsible
      .panel.panel-default
        .panel-heading
          .row
            .col-xs-8
              %h4.panel-title
                %a.toggle{data: {parent: '#hud-zip-upload', toggle: 'collapse'}, href: '#hmis_611'}
                  HMIS 6.11 format
            .col-xs-4.text-right
              %a.toggle{data: {parent: '#hud-zip-upload', toggle: 'collapse'}, href: '#hmis_611'}
                %i.icon-arrow-circled-right.hide
                %i.icon-arrow-circled-down
        #hmis_611.panel-collapse
          .panel-body
            %p
              Use this form to upload a zip file of HUD HMIS CSV files.  These need to be in the
              = link_to 'http://www.hudhdx.info/Resources/Vendors/5_1_2/HMISCSVSpecifications6_11.docx' do
                6.11 format,
              and must include at a minimum a valid
              %strong
                Export.csv
              file.  Generally the zip file will include all of the following:
            %ul
              - Importers::HMISSixOneOne::Base.importable_files.keys.sort.each do |f|
                %li= f
            = simple_form_for @upload, url: data_source_uploads_path(@data_source) do |f|
              = f.error_notification
              .form-inputs
                = f.input :file, as: :file
                - if can_upload_deidentified_hud_hmis_files?
                  = f.input :deidentified, as: :boolean, label: "Are all of the Client Names in Client.csv blank?"
                - if can_upload_whitelisted_hud_hmis_files? 
                  = f.input :project_whitelist, as: :boolean, label: "Limit clients to whitelisted projects?"
                = f.hidden_field :file_cache
                = f.hidden_field :import_type, value: :hmis_611
              .form-actions
                = f.button :submit, value: 'Upload Zip'
