= render 'breadcrumbs'
.row
  .col-sm-8
    %h1 Uploads
  .col-sm-4
    - if can_upload_hud_zips?
      .pull-right
        = link_to new_data_source_upload_path, class: 'btn btn-primary pull-right mb-4' do
          %span.icon-plus
          Upload HUD CSV

.card
  .table-responsive
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th Filename
          %th Uploaded By
          %th Uploaded On
          %th Processing Started
          %th Completed In
        %tbody
          - @uploads.each do |upload|
            %tr
              %td= upload.file.to_s.split('/').last
              %td= upload.user&.name
              %td= upload.created_at
              %td
                = upload.import_log.loader_log.started_at rescue nil
              %td
                - if upload.import_log.present?
                  = link_to upload.import_time, import_path(id: upload.import_log.id)
                - else
                  = upload.import_time
                  - if upload&.file&.present? || upload.import_time == 'failed'
                    %br
                    = link_to 'Download Original', download_upload_import_path(upload)


%p= paginate @uploads
