= render 'breadcrumbs'
.row
  .col-sm-8
    %h1 Uploads
  .col-sm-4
    - if can_upload_hud_zips?
      .pull-right
        = link_to new_data_source_upload_path, class: 'btn btn-primary pull-right mb-4' do
          %span.icon-plus
          Upload HUD CSV

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'upload'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Filename
          %th Uploaded By
          %th Uploaded On
          %th Processing Started
          %th Completed In
        %tbody
          - @uploads.each do |upload|
            %tr
              %td= upload.hmis_zip.filename
              %td= upload.user&.name
              %td= upload.created_at
              %td= upload&.import_log&.loader_log&.started_at
              %td
                - if upload.import_log.present? && upload.import_log.loader_log_id.present?
                  = link_to upload.import_time, import_path(id: upload.import_log.id)
                - else
                  = upload.import_time
                  - if upload&.hmis_zip&.present? || upload.import_time == 'failed'
                    %br
                    = link_to 'Download Original', download_upload_import_path(upload)
  = render 'common/pagination_bottom', item_name: 'upload'
- else
  .none-found No uploads.
