- title = 'Health Metrics'
= content_for(:title, title)
- if request.xhr?.nil?
  %h1= content_for :title
- else
  %h2= content_for :title
= render 'window/clients/breadcrumbs'
= render 'window/clients/tab_navigation', current: window_client_health_pilot_metrics_path(@client)
.row
  .col-sm-12
    - warehouse_report_path = warehouse_reports_health_overview_index_path
    = render "#{warehouse_report_path}/trends_over_time", data_type: 'patient'
    = render 'window/health/patient/patient_cost_metrics'
    = render "#{warehouse_report_path}/top_providers_and_conditions", data_type: 'patient'

