%section.client__assessments.c-card.c-card--block.c-card--no-padding
  .c-card__header.c-card__header--external
    %h2.section-expander-block__header Direct Financial Assistance

  .c-card__content.c-card__content--flush
    = simple_form_for @assistance, as: :entity, url: polymorphic_path(direct_financial_assistances_path_generator) do |f|
      - if current_user.can_edit_youth_intake? && @intakes.ongoing.exists?
        .youth-intake__add-dfa.ma-3
          = f.input :type_provided, collection: @referral.available_referrals, input_html: {class: :select2}
          .d-flex
            = f.input :provided_on, as: :date_picker, label: 'On'
            %button.btn.btn-primary.ml-2.mt-no-label.mb-auto
              %i.icon-plus
              Add
      %table.table.table-condensed
        %thead
          %tr
            %th Date
            %th Type
            %th
        %tbody                
          - @direct_financial_assistances.ordered.each do |dfa|
            %tr
              %td.nobr= dfa.provided_on
              %td= dfa.type_provided
              %td
                = link_to polymorphic_path(direct_financial_assistance_path_generator, id: dfa.id), method: :delete, data: {confirm: 'Deleting this financial assistance will remove it from any reporting.  Are you sure you\'d like to delete it?'}, class: 'btn btn-danger btn-sm btn-icon-only' do
                  %i.icon-cross


