%section.client__assessments.c-card.c-card--block.c-card--no-padding
  .c-card__header.c-card__header--external
    %h2.section-expander-block__header Referrals
    - if current_user.can_edit_youth_intake? && @intakes.ongoing.exists?
      = link_to polymorphic_path([:new] + youth_referral_path_generator), data: {loads_in_pjax_modal: true}, class: 'btn btn-secondary btn-sm ml-auto' do
        %i.icon-plus
        Add Referral
  .c-card__content.c-card__content--flush
    = simple_form_for @referral, as: :entity, url: polymorphic_path(youth_referrals_path_generator) do |f|
      %table.table.table-condensed
        %thead
          %tr
            %th Date
            %th Referral
            %th
        %tbody
          %tr
            %td= f.input :referred_on, as: :date_picker
            %td= f.input :referred_to, collection: @referral.available_referrals, input_html: {class: :select2}
            %td
              %button.btn.btn-sm.btn-icon-only.btn-primary
                %i.icon-plus 
          - @youth_referrals.ordered.each do |referral|
            %tr
              %td
                = referral.referred_on
              %td= referral.referred_to
              %td
