= render 'assigned/clients/tab_navigation'

%h1 Inactive Relationships

%table.table.table-condensed
  %thead
    %tr
      %th
        Client
      %th
        Relationship
      %th
        Expired On
      %th
        Confidential?
      %th
  %tbody
    - @expired_clients.each do |uc|
      - client = uc.client
      %tr
        %td
          - if @client_path
            = link_to client.name, send(@client_path, id: client.id)
          - else
            = client.name
        %td
          = uc.relationship
        %td
          = uc.end_date || 'No Expiration'
        %td
          = checkmark(uc.confidential)