.ho-container.rrh.jProgramMakeup
  .ho-container__header
    %h3 Program Makeup
  .rrh__exiting_pre-placement.chunk.pr-4.mr-4
    - content_for :panel_collapse_content, flush: true do
      .percentExitingPrePlacementChart.mb-2
      .percentExitingPrePlacementChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
      %p.mb-4.text-center.description
        #{_('Percentage of clients exiting search to housing out of those who exited search')}
    = render 'common/panel_collapse', id: 'percentExitingPrePlacementChart', title: "#{_('Percentage Exiting Search to Housing')}", default_open: 'yes'
    - content_for :panel_collapse_content, flush: true do
      .percentInStabilizationChart.mb-2
      .percentInStabilizationChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
      %p.mb-4.text-center.description
        #{_('Percentage of clients enrolled in housing out of those enrolled in either search or housing')}.
    = render 'common/panel_collapse', id: 'percentInStabilizationChart', title: "#{_('Percentage of Participants Enrolled in Housing')}", default_open: 'yes'
    - content_for :panel_collapse_content, flush: true do
      .percentExitingStabilizationChart.mb-2
      .percentExitingStabilizationChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
      %p.mb-4.text-center.description
        #{_('Percentage of clients exiting housing to a permanent destination out of those who exited housing')}.
    = render 'common/panel_collapse', id: 'percentExitingStabilizationChart', title: "#{_('Percentage Exiting Housing')}", default_open: 'yes'
