.ho-container.rrh.jTimeInProgram
  .ho-container__header
    %h3 Time in Program
  .rrh__time-in-pre-placement.chunk.pr-4.mr-4
    - content_for :panel_collapse_content, flush: true do
      .row
        .col-sm-9.rrh__time.chunk
          .jTimeInPrePlacementExitToStabilizationChart.mb-2
          .jTimeInPrePlacementExitToStabilizationChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
        .col-sm-3.metric.text-center.rrh__time.chunk
          %h4.title Average Time in #{_('Search')} for the Reporting Period
          %i.icon-calendar.metric
          .metric
            = pluralize(@report.average_days_leavers_pre_placement_exit_to_stabilization, 'day')
          %p.description For clients exiting to stabilization.
    = render 'common/panel_collapse', id: 'jTimeInPrePlacementExitToStabilizationChart', title: "Time in #{_('Search')} with Exits to #{_('Housing')}", default_open: 'yes'
    - content_for :panel_collapse_content, flush: true do
      .row
        .col-sm-9.rrh__time.chunk
          .jTimeInPrePlacementExitNoStabilizationChart.mb-2
          .jTimeInPrePlacementExitNoStabilizationChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
        .col-sm-3.metric.text-center.rrh__time.chunk
          %h4.title Average Time in #{_('Search')} for the Reporting Period
          %i.icon-calendar.metric
          .metric
            = pluralize(@report.average_days_leavers_pre_placement_exit_no_stabilization, 'day')
          %p.description For clients exiting to anywhere except stabilization.
    = render 'common/panel_collapse', id: 'jTimeInPrePlacementExitNoStabilizationChart', title: "Time in #{_('Search')} with an Exit not to #{_('Housing')}", default_open: 'yes'
    - content_for :panel_collapse_content, flush: true do
      .row
        .col-sm-9.rrh__time.chunk
          .jTimeInPrePlacementChart.mb-2
          .jTimeInPrePlacementChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
        .col-sm-3.metric.text-center.rrh__time.chunk
          %h4.title Average Time in #{_('Search')} for the Reporting Period
          %i.icon-calendar.metric
          .metric
            = pluralize(@report.leavers_average_pre_placement, 'day')
          %p.description For clients exiting to anywhere destination.
    = render 'common/panel_collapse', id: 'jTimeInPrePlacementChart', title: "Time in #{_('Search')} with an Exit to Any Destination", default_open: 'yes'

    - content_for :panel_collapse_content, flush: true do
      .row
        .col-sm-9.rrh__time.chunk
          .jTimeInStabilizationChart.mb-2
          .jTimeInStabilizationChartLegend.d-flex{style: 'max-width: 100%; overflow-x: auto; overflow-y: hidden;'}
        .col-sm-3.metric.text-center.rrh__time.chunk
          %h4.title
            Average Time in #{_('Housing')} for the Reporting Period
          %i.icon-calendar.metric
          .metric
            = pluralize(@report.average_days_in_stabilization, 'day')
    = render 'common/panel_collapse', id: 'jTimeInStabilizationChart', title: "Time in #{_('Housing')} with an Exit to Any Destination", default_open: 'yes'
