- data = @report.top_zip_codes_data
- shape_data = @report.zip_code_shape_data
- colors = @report.zip_code_colors
.card.mb-8
  .card-body
    %h2.mb-4 Top #{BostonReports::CommunityOfOrigin::ZIP_LIMIT} Zip Codes
    .row
      .col-8
        #coo-map__top-ten-zips{ style: 'height:450px;', data: { map: data.to_json.html_safe, shape: shape_data.to_json.html_safe, colors: colors.to_json.html_safe }}
        .d-flex.justify-content-center.align-items-center.flex-wrap.mb-4
          - @report.zip_code_colors.each_with_index do |color, i|
            - range = color[:range].map{|d| number_to_percentage(d*100, percision: 1, strip_insignificant_zeros: true)}
            .d-flex.align-items-center.flex-nowrap.mr-4.mt-4
              .mr-2{style: "width:20px;height:20px;background-color:#{color[:color]}"}
              %div{style: "white-space:nowrap;"}
                - if i == 0
                  = "< #{range[0]}"
                - elsif i == @report.zip_code_colors.count - 1
                  = "> #{range[0]}"
                - elsif i == @report.zip_code_colors.count - 2
                  = "#{range[0]} - #{range[1]}"
                - else
                  = "#{range[0]} - <#{range[1]}"
        .text-center
          %strong Percent of Clients

      .col-4
        %table.table
          %thead
            %tr
              %th Location
              %th.text-right Percent of Clients
          %tbody
            - data.sort_by{|d| d[:percent]}.reverse.each do |d|
              %tr
                %td= "Zip Code #{d[:zip_code] || 'Unknown'}"
                %td.text-right
                  %span{data: { toggle: :tooltip, title: "#{d[:count]} of #{d[:total]}" }}
                    = number_to_percentage(d[:percent], precision: 1, strip_insignificant_zeros: true)
