- title = Translation.translate('Community of Origin')
- content_for :title, title

- @layout__plain_inner = true
- @layout__width = 'lg'
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'filters/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'performance'
      = render "utility"
    .top-nav-prs1
      %h1.mb-5= title
    .main-inner-prs1
      = render 'header_counts'

      FAKE Below here
      - fake_scope = zip_code_fake_scope
      .mb-8= render 'across_the_country_card', data: across_the_country_data
      .mb-8= render 'top_zip_codes_card', data: top_zip_codes_data(fake_scope)

      = render 'across_the_country_card_js', data: across_the_country_data

      = render 'top_zip_codes_card_js', data: top_zip_codes_data(fake_scope), shape_data: zip_code_shape_data(fake_scope), colors: zip_code_colors
