- title = Translation.translate('Community of Origin')
- content_for :title, title

- @layout__plain_inner = true
- @layout__width = 'lg'
.content-outer-prs1
  %nav.nav-drawer.prs1
    = render 'filters/filter_controls/sidebar'
  .main-outer-prs1
    .utility-prs1
      = render '/warehouse_reports/breadcrumbs', tab: 'performance'
      = render "utility"
    .top-nav-prs1
      %h1.mb-5= title
    .main-inner-prs1
      = render 'header_counts'

      .mb-8= render 'across_the_country_card', data: @report.across_the_country_data
      .mb-8= render 'top_zip_codes_card', data: @report.top_zip_codes_data

      = render 'across_the_country_card_js', data: @report.across_the_country_data

      = render 'top_zip_codes_card_js', data: @report.top_zip_codes_data, shape_data: @report.zip_code_shape_data, colors: @report.zip_code_colors
