- importer_class = GrdaWarehouse::Config.active_supplemental_enrollment_importer_class
- content_for :title, "#{importer_class.title} Uploads"
= render 'uploads/breadcrumbs'
.row.mb-4
  .col-sm-8
    %h1= content_for :title
  .col-sm-4
    .pull-right
      = link_to new_data_source_non_hmis_upload_path, class: 'btn btn-primary pull-right' do
        %span.icon-plus
        Upload #{importer_class.title}
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'upload'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Filename
          %th Uploaded By
          %th Uploaded On
          %th Completed In
      %tbody
        - @uploads.each do |upload|
          %tr
            %td
              = link_to File.basename(upload.file.to_s), data_source_non_hmis_upload_path(data_source_id: upload.data_source_id, id: upload.id)
            %td= upload.user&.name
            %td= upload.created_at
            %td
              = upload.import_time

  = render 'common/pagination_bottom', item_name: 'upload'
- else
  .none-found No uploads.
