- content_for(:title, "Patients for #{@active_agency.name}")
.o-page
  .o-page__header
    %h1= content_for(:title)

.btn-group.btn-group-action-2.btn-group-xs.mb-4{role: 'group'}
  - current_user.health_agencies.each do |agency|
    - btn_classes = ['btn', 'btn-secondary']
    - if agency.id == @active_agency.id
      - btn_classes.push(['active', 'btn-light'])
    = link_to agency.name, health_patients_path(agency_id: agency.id), class: btn_classes

%h2.mb-4 Patient Activity Summary
= render 'summary'

%h2.mb-4 Patients

.o-page__controls
  .o-page__search
    = render 'search_form', url: health_patients_path
  .o-page__sort
    = render 'sort'
  .o-page__filter
    = render 'filter'

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'patient'
  - @patients.each do |patient|
    = render 'patient_card', patient: patient
  = render 'common/pagination_bottom', item_name: 'patient'
- else
  .none-found No patients

= render 'assignment_js'
