- content_for(:title, "Patients for #{@active_agency.name}")
.o-page
  .o-page__header
    %h1= content_for(:title)

.btn-group.btn-group-action-2.btn-group-xs.mb-4{role: 'group'}
  - current_user.health_agencies.each do |agency|
    - btn_classes = ['btn', 'btn-secondary']
    - if agency.id == @active_agency.id
      - btn_classes.push(['active', 'btn-light'])
    = link_to agency.name, health_patients_path(agency_id: agency.id), class: btn_classes

%h2.mb-4 Patient Activity Summary
= render 'summary'

%h2.mb-4 Patients

.d-flex
  .search
    = render 'search_form', tooltip: 'Search with PersonalID or full or partial "first last" or "last, first" for more specific results', data: {placement: 'bottom'}
  .filter.ml-4
    = render 'filter'

- if @patients.exists?
  %p.mr-5= page_entries_info @patients, entry_name: _('patient')
  = paginate @patients

  - @patients.each do |patient|
    = render 'patient_card', patient: patient

  = paginate @patients

= content_for :page_js do
  :javascript
    $('.jCareCoordinator, .jNurseCareManager').on('change', function(e){
      $(this).closest('form').trigger('submit');
    });
    var $appointments = $('.jAppointments');
    $appointments.each(function(app){
      var $app = $($appointments[app])
      $app.load($app.data('path'), function(response, status, xhr) {
        if (status == 'error') {
          error_message(response, status, xhr, this)
        } else {
          add_data_table($app.find('.datatable'));
        }
      });
    });
    var add_data_table = function(element) {
      $(element).DataTable({
        ordering: false,
        pageLength: 15,
        lengthChange: false,
        pagingType: 'simple'
      });
    };