- if @client.client_files.any?
  .row.table-utilities
    .col-sm-12
      .table-responsive
        %table.table.table-condensed.table-hover
          %thead
            %tr
              %th(colspan=6)
              %th.text-center(colspan=2 style='background-color: #eee') Consent Form
            %tr
              %th
              %th File
              %th Contains
              %th Note
              %th Visible in Window
              %th Uploaded By
              %th Uploaded On
              %th.text-center Signed On
              %th.text-center Confirmed
              %th Delete
            %tbody
              - @files.each do |file|
                %tr{ class: "client-file-#{file.id}"}
                  %td.text-center.jThumb{data: {file: file.id}}
                  %td.text-center
                    - if file.content.present?
                      = link_to polymorphic_path(file_path_generator, id: file.id), class: 'btn btn-lg btn-secondary' do
                        %i.icon-download2
                    - else
                      = file.name
                  %td= file.tag_list.join(', ')
                  %td= file.note
                  %td.text-center= checkmark file.visible_in_window
                  %td= file.user&.name
                  %td= file.created_at

                  - if file.tag_list.include?('Consent Form')
                    %td
                      = simple_form_for file, remote: true, url: polymorphic_path(file_path_generator, id: file.id) do |f|
                        = f.input :consent_form_signed_on, as: :date_picker, label: false, input_html: { disabled: true, class: 'submit-on-change enable-on-load' }

                    %td.text-center
                      - if can_confirm_housing_release?
                        = simple_form_for file, remote: true, url: polymorphic_path(file_path_generator, id: file.id) do |f|
                          = f.input :consent_form_confirmed, label: false, as: :boolean, input_html: { class: 'submit-on-change' }
                      - else
                        = checkmark file.consent_form_confirmed
                  - else
                    %td
                    %td

                  %td
                    = link_to(polymorphic_path(file_path_generator, id: file.id), method: :delete, data: {confirm: "Would you really like to delete this file?"}, class: 'btn btn-secondary btn-small') do
                      %span.icon-cross
  %p= paginate @files
  
- else
  No file uploads
