.row
  .col-sm-8
    = simple_form_for @file, url: client_files_path(@client) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, as: :string, :required => true
        = f.input :note, as: :string, hint: '(Optional) Give a reason for including this file.'
        = f.input :visible_in_window, as: :boolean, label: "Visible in the Window?", :input_html => { :checked => true }
        = f.input :file, as: :file, :required => true
        -# = f.hidden_field :file_cache                
      .form-actions
        = f.button :submit, value: 'Upload File', class: 'btn btn-primary'
        
        
