- title = "File Uploads for #{@client.name}"
- content_for :title, title
= render 'clients/breadcrumbs'

= t('errors.messages.mime_type_pattern_white_list_error', :content_type => 'thing') 
.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_files_path(@client)
  
= render 'window/clients/files/file_upload'
= render 'window/clients/files/download_warning'
= render 'window/clients/files/file_list'