- title = "File Uploads for #{@client.name}"
- content_for :title, title
= render 'clients/breadcrumbs'
  
.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_files_path(@client)
  
= render 'window/clients/files/file_upload'
= render 'file_list'

= content_for :page_js do
  :javascript
    (function($) {
      $('.jThumb').each(function(e) {
        var thumb = $(this);
        var file_id = $(this).data('file')
        var url_base = window.location.pathname + '/' + file_id;
        var url = url_base + '/has_thumb';
        $.get(url, function(data, textStatus, jqXHR) {
          var thumb_url = url_base + '/thumb';
          var preview_url = url_base + '/preview';
          if(textStatus == 'success') {
            thumb.append('<a href="' + preview_url + '" target="_blank"><img src="' + thumb_url + '" class="file-thumbnail" /></a>');
          } else {
            thumb.append('<a href="' + preview_url + '" target="_blank"><i class="icon-eye btn btn-secondary btn-lg"/></a>');
          }
        });
        
      });
    })(jQuery);