- title = "File Uploads for #{@client.name}"
- content_for :title, title
= render 'clients/breadcrumbs'
  
.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_files_path(@client)
  
= render 'window/clients/files/file_upload'
= render 'window/clients/files/download_warning'
= render 'window/clients/files/file_list'