- title = "File Uploads for #{@client.name}"
- content_for :title, title
= render 'clients/breadcrumbs'

.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_files_path(@client)
= render 'window/clients/files/file_upload'
= render 'window/clients/files/download_warning'
- if @client.client_files.any?
  - if @consent_files.any?
    %section
      %header.o-section-card__header
        %h3 Consent Forms
        .o-section-card__header-actions
          = render 'window/clients/files/batch_download'
      .c-card.c-card--flush
        = render 'window/clients/files/file_list', files: @consent_files, paginate: false, consent: true
  - if @files.any?
    %section.o-section-card
      %header.o-section-card__header
        %h3 Other Files
        .o-section-card__header-actions
          = render 'window/clients/files/batch_download'
      .c-card.c-card--flush.c-card--block
        = render 'window/clients/files/file_list', files: @files, paginate: true, consent: false
- else
  No file uploads
