- title = "Upload a File"
- content_for :title, title

= render 'crumbs'


= render 'clients/aliases'
= render 'clients/tab_navigation', current: client_files_path(@client)
%h1= title
= render 'clients/files/form'

