= content_for :modal_title do
  Reason for Deletion

- if @file.consent_type
  - anchor = 'consent'
- else
  - anchor = 'other'

= simple_form_for @file, url: polymorphic_path(file_path_generator, id: @file.id, anchor: anchor), method: :delete do | f |
  .reason-type
    = f.input :delete_reason, as: :radio_buttons, collection: delete_reasons.map { |k, v| [v, k] }, checked: 99
  = f.input :delete_detail, label: 'Reason for deletion (when Other):'
  = f.submit 'Delete File', class: ['btn', 'btn-primary', 'ml-auto']

- content_for :page_js do
  :javascript
     $('.reason-type').on('change', 'input', function() {
      $('#grda_warehouse_client_file_delete_detail').prop('disabled', this.value != 99);
     });
