!!!
%html(lang='en')
  %head
    %meta{http_equiv: "Content-Security-Policy", content: page_config.csp_content}
    %meta(content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport")

    %title= page_config.site_title
    - if page_config.google_captcha_key
      %script{src: "https://www.google.com/recaptcha/api.js?render=#{page_config.google_captcha_key}"}
    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")
    %script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    - # %script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous")
    :css
      section {
        margin-bottom: 2rem;
      }
      .form-group {
        margin-bottom: 1.25rem;
      }
      .form-group > .required:after, fieldset > .required:after {
        content: " *";
        color: red;
        font-weight: 100;
      }
      legend {
        font-size: 16px;
        font-weight: normal;
      }
      main.container {
        max-width: 540px;
      }
      .dependent-form-group > .form-group {
        padding-left : 1.25rem;
        border-left: 5px solid #eee;
      }
      @media (max-width: 540px) {
        main.container {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .fade-effect {
        position: absolute;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;
      }
      .fade-effect.visible {
        position: relative;
        opacity: 1;
        visibility: visible;
        max-height: 2000px; /* Adjust as necessary to fit content */
      }
      /* override primary color for contrast */
      .btn-primary.btn-primary {
        background-color: #0071bc;
        border-color: #0071bc;
      }

  %body.bg-light
    %nav.sticky-top.navbar-light.border-bottom.bg-white.mb-4.shadow-sm
      .container
        .nav-brand.py-2
          %img{ alt: page_config.site_title, width: page_config.site_logo_dimensions[0], height: page_config.site_logo_dimensions[1], src: page_config.site_logo_url}

    %main.container.p-sm-0
      .card.p-3= yield

  :javascript
    'use strict';
    $(function() {
      if (!window.grecaptcha) return;
      var captchaKey = #{page_config.google_captcha_key.to_json.html_safe};
      var formId = #{page_config.form_id.to_json.html_safe};

      var form = document.getElementById(formId);
      if (!form || !captchaKey) return;

      form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        grecaptcha.ready(function() {
          grecaptcha.execute(captchaKey, {action: 'submit'}).then(function(token) {
            // Append the token to the form
            var recaptchaResponse = document.createElement('input');
            recaptchaResponse.type = 'hidden';
            recaptchaResponse.name = 'recaptcha_response';
            recaptchaResponse.value = token;
            form.appendChild(recaptchaResponse);

            // resubmit
            form.submit();
          });
        });
      });
    });

    window.addDependentGroup = function(inputName, condValue, targetSelector) {
      var target = $(targetSelector);
      var show = function() {
        target.addClass('visible');
        target.attr('aria-hidden', "false");
        target.find('input, select, textarea').prop('disabled', false);
      }
      var hide = function() {
        target.removeClass('visible');
        target.attr('aria-hidden', "true");
        target.find('input, select, textarea').prop('disabled', true);
      }

      $('[name="' + inputName + '"]').change(function() {
        var el = $(this)
        var value = el.val();
        console.info('hi', inputName, value, condValue, el.attr('type'), el.is(':checked'))
        if (el.prop('type') === 'checkbox') {
          if (value === condValue) {
            el.is(':checked') ? show() : hide();
          }
        } else {
          value === condValue ? show() : hide();
        }
      });
      hide();
    }

    var dateInputMask = function(elm) {
      elm.addEventListener('keypress', function(e) {
        // Block if not a number and not a slash
        if(e.keyCode < 47 || e.keyCode > 57) {
          e.preventDefault();
        }

        var len = elm.value.length;

        if(len === 2 || len === 5) {
          if(e.keyCode == 47) {
            e.preventDefault();
          }
          elm.value += '/';
        }
      });

      // Handle paste event
      elm.addEventListener('input', function(e) {
        var value = elm.value;
        // Remove all non-digit characters
        var cleanedValue = value.replace(/\D+/g, '');
        // Automatically add slashes
        var parts = cleanedValue.match(/(\d{0,2})(\d{0,2})(\d{0,4})/).slice(1);
        elm.value = parts.filter(Boolean).join('/');
      });
    };

    var input = document.querySelector('.date-input');
    dateInputMask(input);


  = yield :page_js
