- content_for(:title, "My Patients")
%h1= content_for(:title)

- if can_view_patients_for_own_agency? && current_user.health_agencies.any?
  %ul.nav.nav-tabs.sub-nav-tabs
    %li.nav-item{role: 'presentation'}
      = link_to 'Dashboard', health_my_patients_path, class: 'nav-link'
    %li.nav-item{role: 'presentation', class: 'active'}
      = link_to 'Flex Services', health_flexible_service_my_vprs_path, class: 'nav-link'

- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'patient'
  - @patients.each do |patient|
    = render 'patient_card', patient: patient, vpr: patient.flexible_services.last
  = render 'common/pagination_bottom', item_name: 'patient'
- else
  .none-found No patients

= content_for :page_js do
  :javascript
    $('.jHousingNavigator').on('change', function(e){
      $(this).closest('form').trigger('submit');
    });