- content_for :modal_title, 'Approve Account Request'

= simple_form_for @account_request, url: admin_account_request_path(@account_request) do |f|
  = f.input :agency_id, collection: @agencies, label_method: :name, value_method: :id, required: true, include_blank: 'Unknown', as: :select_two, wrapper_html: { class: 'mb-2' }
  .d-flex
    .c-columns__column
      .c-columns__column-header
        %h3.c-columns__column-title Roles
      .c-columns__column-content
        = f.input :role_ids, as: :check_boxes, label_method: :role_name, collection: Role.editable, label: false
    .c-columns__column.ml-4
      .c-columns__column-header
        %h3.c-columns__column-title Groups
      .c-columns__column-content
        = f.input :access_group_ids, as: :check_boxes, label_method: :name, collection: AccessGroup.general, label: false
  = f.submit 'Approve', class: 'btn btn-secondary btn-sm'
