= f.error_notification

.row
  .col-sm-6
    .form-inputs
      = f.input :fetch
      = f.input :active
      = f.input :confidential
      = f.input :exclude_from_window
      = f.input :health
      = f.input :hud_assessment, label: 'HUD Entry/Exit/Update'
      = f.input :vispdat, label: 'VI-SPDAT'
      = f.input :pathways
      = f.input :triage_assessment
      = f.input :rrh_assessment, label: 'RRH Assessment'
      = f.input :health
      = f.input :ssm
      = f.input :health_case_note
      = f.input :health_has_qualifying_activities, label: 'Contains Qualifying Activities (Health)'

    .form-actions
      = f.button :submit, "Submit", class: 'btn btn-primary'
