- title = @metric_definition.display_name
- content_for :title, title

= content_for :crumbs do
  = link_to admin_metric_definitions_path do
    &laquo; Client Metric Definitions

%h1= content_for :title

.row
  .col-sm-8
    .well
      %dl.row
        %dt.col-sm-4 Metric Name
        %dd.col-sm-8
          %code= @metric_definition.name

        %dt.col-sm-4 Display Name
        %dd.col-sm-8= @metric_definition.display_name

        %dt.col-sm-4 Description
        %dd.col-sm-8= @metric_definition.description

        %dt.col-sm-4 Category
        %dd.col-sm-8= @metric_definition.category.titleize

        %dt.col-sm-4 Entity Type
        %dd.col-sm-8
          %code= @metric_definition.entity_type

        %dt.col-sm-4 Calculator Class
        %dd.col-sm-8
          %code= @metric_definition.calculator_class

        %dt.col-sm-4 Calculation Window
        %dd.col-sm-8
          - if @metric_definition.calculation_window_days
            = "#{@metric_definition.calculation_window_days} days"
          - else
            %span.text-muted Not specified

        %dt.col-sm-4 Count Change Threshold
        %dd.col-sm-8
          - if @metric_definition.count_change_threshold
            = @metric_definition.count_change_threshold
          - else
            %span.text-muted Not configured

        %dt.col-sm-4 Percent Change Threshold
        %dd.col-sm-8
          - if @metric_definition.percent_change_threshold
            = "#{@metric_definition.percent_change_threshold}%"
          - else
            %span.text-muted Not configured

        %dt.col-sm-4 Active
        %dd.col-sm-8
          - if @metric_definition.active
            %span.badge.badge-success Active
          - else
            %span.badge.badge-secondary Inactive

  .col-sm-4.text-right
    = link_to 'Edit', edit_admin_metric_definition_path(@metric_definition), class: 'btn btn-primary mb-2'

.row.mt-4
  .col-sm-12
    .well
      %h3 Threshold Crossings (Last 90 Days)
      %p.text-muted
        This chart shows the number of #{@entity_label.pluralize.downcase} that crossed the configured threshold on each day.
        Initial observations are excluded.

      - if @chart_data.any?
        .metric-threshold-chart{
          data: {
            controller: 'metric-threshold-chart',
            metric_threshold_chart_data_value: @chart_data.to_json,
            metric_threshold_chart_metric_name_value: @metric_definition.display_name,
            metric_threshold_chart_entity_label_value: @entity_label
          }
        }
          %div{data: { metric_threshold_chart_target: 'chart' }}
      - else
        %p.text-muted.text-center No threshold crossings in the last 90 days
