%tr
  %td.client__calendar-tooltip__table__icon{colspan: '2'}
    .d-flex.justify-content-between
      %div= render 'event_icon', key: key, name: values[:name], icon: values[:icon]
      %strong= "#{project[key.to_sym].length} Total"
%tr
  %td.client__calendar-tooltip__table__mro{colspan: '2'}
    Most Recent Occurences
- project[key.to_sym].last(5).each_with_index do |date, date_index|
  %tr
    %td
      - name_key = "#{key}_names".to_sym
      - if project[name_key].present? && project[name_key][date_index]
        = project[name_key][date_index]
      - else
        = values[:name]
    %td= date&.to_date
