- title = "Service History"
- content_for :title, title
= render 'clients/breadcrumbs'
= render 'clients/aliases'
= render 'clients/tab_navigation', current: polymorphic_path(history_path_generator, client_id: @client)
%h1= title
- if @month_index.present? && @months[@month_index].present?
  = render 'month', month: @months.reverse[@month_index]
- else
  = render 'pdf_generation_form'
  = render 'history_key'

  = render 'service_calendar'
