= render 'breadcrumbs'

%h1 Edit Access Control #{@acl.name}
.well
  = simple_form_for @acl, as: :access_control, url: admin_access_control_path do |f|
    = f.error_notification
    .form-inputs.mt-4
      = render 'form', f: f
    .form_actions.mt-4
      = f.button :submit, value: 'Update Access Control'
