- content_for :title, 'Access Control Administration'
.d-flex
  %h1= content_for :title
= render 'menus/admin_tabs'

= render 'admin/access_controls/description', entity_type: 'warehouse'
.mb-4
  = link_to new_admin_access_control_path, class: 'btn btn-primary ml-auto' do
    %span.icon-plus
    Create a new Access Control
= render 'table'
