- markdown = Redcarpet::Markdown.new(::InlineHtml)
- category = @report.detail_category_for(key)
- title = "#{category} | #{@report.detail_title_for(key)}"
- system_class_name = "jSystemLevelChart_#{key}"
- result = @report.result_for(key)
- label = @report.detail_denominator_label_for(key)
= content_for :crumbs do
  = link_to performance_measurement_warehouse_reports_report_path(@report) do
    &laquo; #{_('CoC Performance Measurement Dashboard')}
.performance-measurement
  .p-4{ class: "performance-measurement--highlight-#{@report.highlight_id(category)}" }
    %h1.mb-4= title
    .mb-1
      %strong Report Range:
      = @report.filter.date_range_words
    .mb-0
      %strong Comparison Range:
      = @report.filter.comparison_range_words
  .d-flex.m-4
    .goal.col-4
      %h3 Goal
      %p= raw markdown.render(@report.detail_goal_description_for(key))
    .calculation.ml-6
      %h3 Calculation
      %p= @report.detail_calculation_description_for(key)
    - measure = @report.detail_measure_for(key)
    - if can_view_hud_reports? && measure.present? && @report.clients.any?
      .col-2.ml-6.p-0
        %h3.mb-4 SPMs
        .mb-2
          = link_to result_hud_reports_spm_measure_path(@report.reporting_spm_id, measure), class: 'btn btn-sm btn-secondary' do
            = "#{measure} - Report Year"
        .mb-2
          = link_to result_hud_reports_spm_measure_path(@report.comparison_spm_id, measure), class: 'btn btn-sm btn-secondary' do
            = "#{measure} - Comparison Year"
  .p-4.mb-4{ class: "performance-measurement--highlight-light-#{@report.highlight_id(category)}" }
    %h2 System Level
  = render 'performance_measurement/warehouse_reports/reports/details_row', key: key, result: result, class_name: system_class_name, show_label_detail: true
  - if @report.detail_column_for(key) != :system
    = render 'performance_measurement/warehouse_reports/reports/projects', key: key, category: category
