- markdown = Redcarpet::Markdown.new(::InlineHtml)
- category = @report.detail_category_for(key)
- section = "#{category}: #{@report.detail_sub_category_for(key)}"
- system_class_name = "jSystemLevelChart_#{key}"
- result = @report.result_for(key)
- label = @report.detail_denominator_label_for(key)
- measure = @report.detail_measure_for(key)
= content_for :crumbs do
  = link_to performance_measurement_warehouse_reports_report_path(@report) do
    &laquo; #{_('CoC Performance Measurement Dashboard')}
.performance-measurement
  %label.super-rounded.p-4.pl-6.pr-6{ class: "performance-measurement--highlight-#{@report.highlight_id(category)}" }
    = section
  %h1.ml-2= @report.detail_title_for(key)
  .warehouse-reports__completed.mt-2.d-flex
    = @report.filter.describe_filter_as_html([:start, :end, :comparison_pattern], inline: true)
  .d-flex.mb-4.border-top.pt-4
    .goal.col-4
      %h3 Goal
      %p= raw markdown.render(@report.detail_goal_description_for(key))
    .calculation.ml-6
      %h3.d-flex
        Calculation
        - if ! can_view_hud_reports? && measure.present?
          .ml-auto
            .badge.badge-secondary= "SPM #{measure}"
      %p= @report.detail_calculation_description_for(key)
    - if can_view_hud_reports? && measure.present?
      .col-2.ml-6.p-0
        %h3.mb-4= "SPM #{measure}"
        .mb-2
          - if @report.reporting_spm_id.present?
            = link_to 'Report Year', result_hud_reports_spm_measure_path(@report.reporting_spm_id, measure), class: 'btn btn-sm btn-secondary'
        .mb-2
          - if @report.comparison_spm_id.present?
            = link_to 'Comparison Year', result_hud_reports_spm_measure_path(@report.comparison_spm_id, measure), class: 'btn btn-sm btn-secondary'

  .p-4{ class: "performance-measurement--highlight-light-#{@report.highlight_id(category)}" }
    %h2.p-4 System Level
  .card.squared.mb-6.p-6.page-break-avoid
    = render 'performance_measurement/warehouse_reports/reports/details_row', key: key, result: result, class_name: system_class_name, show_label_detail: true
  - if @report.detail_column_for(key) != :system
    = render 'performance_measurement/warehouse_reports/reports/projects', key: key, category: category
