:css
  #chart .bb-axis .tick text {
    font-size: 12px;
    line-height: 18px;
  }

  #chart line.bb-ygrid {
    stroke-dasharray: none;
    stroke: rgba(0,0,0,0.15);
  }

  #chart .bb-axis .tick line {
    display: none;
  }

  #legend {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
  }

  #no-data-warning {
    font-size: 1.2rem;
    color: #A3A3A3;
  }

  .condensed-form-groups .form-group {
    margin-bottom: 8px;
  }

= render 'chosen_universe'
= render 'report_tabs'

.mb-6
  .card{style: "overflow:visible;"}
    .card-header
      %h2 Build Report
    .card-body
      = render 'performance_measurement/warehouse_reports/reports/equity_analysis/form'
.mb-6
  .card
    - if @analysis_builder.valid?
      .card-header
        %h2 Equity Analysis Report:
        %div= @analysis_builder.describe_filters.html_safe
    .card-body
      - if @analysis_builder.valid?
        = render 'performance_measurement/warehouse_reports/reports/equity_analysis/chart', data: @analysis_builder.chart_data
      - else
        .py-8.text-center#no-data-warning
          %h3
            No report data has been selected to display.
          %span
            Make required selections above and click “update report”
