.warehouse-reports__ad_hoc-export
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'report'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Status
            %th Options
            %th Requested
            %th Published?
            %th Action
          %tbody.report-listing.warehouse-reports__completed
            - @reports.each do |report|
              - published = report.published?
              %tr
                %td
                  = link_to_if(report.completed?, report.status, performance_measurement_warehouse_reports_report_path(report))
                %th.report-parameters
                  = report.describe_filter_as_html(report.known_params)
                  - opts = report.filter.to_h
                  - opts[:default_project_type_codes] = report.class.default_project_type_codes
                  .ml-auto.nobr
                    = render 'filters/view_filter_details', filter_hash: opts, selected_keys: report.known_params
                %td.text-nowrap
                  = report.created_at
                  .text-sm.text-muted by #{report.user&.name}
                %td= checkmark(published)
                %td
                  - filter = report.options
                  - items = [{ link_to: { path: "#{performance_measurement_warehouse_reports_reports_path}?#{{filters: filter}.to_query}"}, class: ['btn', 'btn-sm', 'btn-secondary'], icon: :copy, label: 'New report from this universe'}]
                  - items << { link_to: { path: performance_measurement_warehouse_reports_report_path(report), method: :delete, data: {confirm: 'Are you sure you want to delete this report?'}}, class: ['btn', 'btn-sm', 'btn-danger'], label: 'Delete report'}
                  = action_menu_or_button(items: items)
    = render 'common/pagination_bottom', item_name: 'report'
  - else
    .none-found No reports found.
