%h2 Project Level

- my_projects = @report.my_projects(current_user, @key)
- if my_projects.present?
  .well
    - my_projects.each do |project_id, result|
      %h3= result.hud_project.name_and_type
      = project_id
      .d-flex.mb-6
        .w-50= render 'warehouse_reports/indicator', indicator: result
        .w-50
          - class_name = "jProjectLevelPerformance_#{project_id}"
          %div{class: class_name, data: { chart: result.data_for_system_level_bar.to_json }}
          = content_for :page_js do
            :javascript
              $(document).ready(function(){
                var chart = bb.generate({
                  data: $('.#{class_name}').data('chart'),
                  axis: {
                    x: { type: 'category' },
                    y: { tick: { stepSize: 1, count: 3, format: d3.format('d') }}
                  },
                  size: { height: 150 },
                  legend: { show: false },
                  bindto: '.#{class_name}'
                });
              });
- other_projects = @report.other_projects(current_user, @key)
- if other_projects.present?
  .well
    - other_projects.each do |project_id, result|
      %h3= result.hud_project.name_and_type
      .d-flex.mb-6
        .w-50= render 'warehouse_reports/indicator', indicator: result
        .w-50
          - class_name = "jProjectLevelPerformance_#{project_id}"
          %div{class: class_name, data: { chart: result.data_for_system_level_bar.to_json }}
          = content_for :page_js do
            :javascript
              $(document).ready(function(){
                var chart = bb.generate({
                  data: $('.#{class_name}').data('chart'),
                  axis: {
                    x: { type: 'category' },
                    y: { tick: { stepSize: 1, count: 3, format: d3.format('d') }}
                  },
                  size: { height: 150 },
                  legend: { show: false },
                  bindto: '.#{class_name}'
                });
              });
