- markdown = Redcarpet::Markdown.new(::InlineHtml)
= render 'chosen_universe'
= render 'report_tabs'
= render 'warehouse_reports/beta_warning'

.row
  .col-sm-3
    .card.mb-4
      .card-body
        %h5.card-title Project List
        .btn-group.mb-3{role: 'group'}
          = link_to 'My Projects', provider_comparisons_performance_measurement_warehouse_reports_report_path(@provider_comparison.report, active_project_list: :my_projects), class: "btn btn-sm #{@provider_comparison.active_project_list == :my_projects ? 'btn-primary' : 'btn-outline-primary'}"
          = link_to 'All Projects', provider_comparisons_performance_measurement_warehouse_reports_report_path(@provider_comparison.report, active_project_list: :all_projects), class: "btn btn-sm #{@provider_comparison.active_project_list == :all_projects ? 'btn-primary' : 'btn-outline-primary'}"

        %h5.card-title.mt-4 Jump to Category
        %nav
          %ul.nav.nav-pills.flex-column
            - @provider_comparison.categories.each_key do |category_name|
              %li.nav-item
                = link_to category_name, "##{category_name.parameterize}", class: 'nav-link'

  .col-sm-9
    - @provider_comparison.categories.each_key do |category_name|
      .page-break-after.mb-6{id: category_name.parameterize}
        %h2.mb-0.p-6= category_name
        - table = @provider_comparison.table(category_name)
        .card
          %table.table.table-striped
            %thead
              %tr
                %th
                - table[:headers].group_by { |detail, header| header[:category] }.each.with_index do |(category, grouped_headers), index|
                  - class_name = "performance-measurement--highlight-light-#{index + 1}"
                  %th{colspan: grouped_headers.size, class: class_name}
                    %h3= category
              %tr
                %th
                - table[:headers].each do |detail, header|
                  %th= header[:title]
            %tbody
              %tr
                %td Goal or Target
                - table[:system].each do |detail, data|
                  %td= raw markdown.render(data[:goal_description])
              %tr
                %td System Level
                - table[:system].each do |detail, data|
                  %td{class: data[:decorator]}= "#{data[:value]} #{data[:unit]}"
              - table[:projects].each do |project_id, data|
                %tr
                  %td= data[:project_name]
                  - data[:values].each do |detail, result|
                    %td{class: result[:decorator]}= "#{result[:value]} #{result[:unit]}"
