- markdown = Redcarpet::Markdown.new(::InlineHtml)
- result = @report.result_for(key)
- if result
  - column = row[:column]
  .row.m-0.mb-4.performance-measurement__row.j-click-row
    .col-12
      .d-flex
        .level-indicator.mb-2
          = @report.detail_words_for(row[:column])
        - if row[:measure].present?
          .font-weight-bold.ml-2.mr-2
            •
          .spm-measure.font-weight-bold= "SPM #{row[:measure]}"
    .col-sm-4
      %h3
        = @report.detail_title_for(key)
      %p= raw markdown.render(@report.detail_goal_description_for(result.field.to_sym))
    - numbers = result.data_for_row
    .col-sm-2
      .text-uppercase This Year
      .performance-measurement__result-number.font-weight-bold= numbers.this_year_count
      .text-capitalize= numbers.unit
    .col-sm-2
      .text-uppercase Last Year
      .performance-measurement__result-number.font-weight-bold= numbers.last_year_count
      .text-capitalize= numbers.unit
    .col-sm-2
      .text-uppercase Target
      .performance-measurement__result-number.font-weight-bold #{numbers.goal_direction}#{numbers.goal}#{numbers.goal_unit}
      .text-capitalize= numbers.brief_goal_description
    .col-sm-2
      .d-flex
        .mb-4.ml-auto
          - status = result[:passed] ? 'success' : 'danger'
          - icon = result[:passed] ? 'check' : 'cross'
          - label = result[:passed] ? 'Passed' : 'Failed'
          = tagged(result[:passed], status, icon: icon, label: label)
      .d-flex
        .font-size-sm.ml-auto
          = link_to('View more details', performance_measurement_warehouse_reports_report_details_path(@report, key: key), target: :_blank, class: 'j-click-row-source')
- else
  %tr
    %td
      Error displaying:
      = key
