- markdown = Redcarpet::Markdown.new(::InlineHtml)
- @report.display_order.each.with_index do |sub_sections, i|
  .page-break-after
    - sub_sections.each do |keys|
      - keys.each.with_index do |(key, sub_keys), idx|
        - class_name = "performance-measurement--highlight-light-#{i + 1} p-2"
        - row = @report.detail_hash[key]
        - if idx.zero?
          %h2{ class: class_name }= "#{row[:category]}: #{row[:sub_category]}"
        .card.mb-2.pb-0.page-break-avoid
          .p-4
            = render 'row', key: key, row: row, pdf: pdf
          - if sub_keys.present?
            - content_for "panel_collapse_content_#{sub_keys.first}".to_sym do
              - sub_keys.each.with_index do |key, idx|
                - row = @report.detail_hash[key]
                .ml-2.mt-4.border-bottom
                  = render 'row', key: key, row: row, pdf: pdf
            = render 'common/panel_collapse', id: sub_keys.first.to_s, title: 'Breakdowns', content: "_#{sub_keys.first}", panel_body_padded: 'n', wrapper_class: 'mb-0', default_open: pdf ? 'yes' : 'no', allow_toggle: pdf ? 'no' : 'yes'
