= render 'chosen_universe'
= render 'report_tabs' if @report.show_tabs?
= render 'summary'
= render 'rows', pdf: false unless @report.include_in_summary_only_version

- unless @report.include_in_summary_only_version
  = content_for :page_js do
    :javascript
      $(document).ready(function() {
        $('.j-summary-row').addClass('cursor-pointer');
        $('.j-summary-row').on('click', function(e) {
          $('html, body').animate({
            scrollTop: $($(this).data('target')).offset().top
          }, 500);
        });
        $('.j-click-row').addClass('cursor-pointer');
        $('.j-click-row').on('click', function(e) {
          e.preventDefault();
          var link = $(this).find('.j-click-row-source');
          window.open(link.attr('href'), '_blank');
        });
      });
