- title = "#{@report.detail_category_for(@key)} | #{@report.detail_title_for(@key)}"
- content_for :title, title
%h1= content_for :title
%p= @report.filter.date_range_words
- if @report.clients_for_question(@key, :reporting).blank?
  %p.none-found
    No records found.
- else
  .card
    .overflow-x-scroll{style: "height: 800px"}
      %table.table.table-sm.table-bordered.table-fixed
        %thead.thead-dark
          %tr
            %th
            - @report.detail_headers.each_value do |header|
              %th= header
        %tbody.thead-dark
          - @report.clients_for_question(@key, :reporting).each.with_index do |client, i|
            %tr
              %th= i + 1
              - @report.detail_headers.each_key do |k|
                %td{style: 'max-width: 600px;'}
                  - if k.to_s == 'client_id'
                    = link_to from_source_client_path(client[k]) do
                      = client[k]
                    %a{href: '#', class: ['btn', 'btn-sm'], data: { toggle: :popover, title: 'Client Information', url: api_client_path(client.client_id), html: 'true' }}
                      %i.icon-info
                  - else
                    = formatted_cell(client[k])
