- title = "#{@report.detail_category_for(@key)} | #{@report.detail_title_for(@key)}"
- content_for :title, title
%h1= content_for :title
%p= @report.filter.date_range_words
.d-flex.mb-2
  .goal
    %h3 Goal
    %p= @report.detail_goal_description_for(@key)
  .calculation.ml-2
    %h3 Calculation
    %p= @report.detail_calculation_description_for(@key)

%h2 System Level
.d-flex
  .w-50= render 'warehouse_reports/indicator', indicator: @report.results_for(@key)
  .w-50
    .jSystemLevelChart{ data: { chart: @report.data_for_system_level_bar(@key).to_json }}

= content_for :page_js do
  :javascript
    $(document).ready(function(){
      var chart = bb.generate({
        data: $('.jSystemLevelChart').data('chart'),
        axis: {
          x: { type: 'category' }
        },
        size: { height: 150 },
        legend: { show: false },
        bindto: '.jSystemLevelChart'
      });
    });
