= render 'breadcrumbs'
= render 'beta_warning'

- title = "Performance Measurement Report"
- content_for :title, title
%h1= content_for :title
%p= "Created by #{@report.user.name_with_email} on #{@report.completed_at.to_date}"
.well.report-listing.warehouse-reports__completed
  = @report.filter.describe_filter_as_html

= debug @report.projects.count
= debug @report.clients.count
