= render 'breadcrumbs'
-# = render 'beta_warning'

- title = _("CoC Performance Measurement Dashboard")
- content_for :title, title
.d-flex
  %h1= content_for :title
  .ml-auto
    = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: nil
%p= "Created by #{@report.user.name_with_email} on #{@report.completed_at.to_date}"
.well.report-listing.warehouse-reports__completed
  .row.justify-content-between
    .col-8
      %h3.mb-4 Chosen Universe
      = @report.describe_filter_as_html
    - if can_view_hud_reports? && @report.reporting_spm_id.present? && @report.comparison_spm_id.present?
      .col-2
        %h3.mb-4 SPMs
        .mb-2
          = link_to hud_reports_spm_path(@report.reporting_spm_id), class: 'btn btn-sm btn-secondary' do
            Report Year
        .mb-2
          = link_to hud_reports_spm_path(@report.comparison_spm_id), class: 'btn btn-sm btn-secondary' do
            Comparison Year
= render 'table', goal_popover: true, pdf: false
