= render 'breadcrumbs'
-# = render 'beta_warning'

- title = _("CoC Performance Measurement Dashboard")
- content_for :title, title
.d-flex
  %h1= content_for :title
  .ml-auto
    = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: nil
%p= "Created by #{@report.user.name_with_email} on #{@report.completed_at.to_date}"
.well.report-listing.warehouse-reports__completed
  %h3 Chosen Universe
  = render 'filter_attributes', filter: @report.filter

= render 'table', goal_popover: true, pdf: false
