%h1 THRIVE Screener

.mb-3
  %dt.d-inline Name:
  %dd.d-inline= @client.name
  %br
  %dt.d-inline Date Completed:
  %dd.d-inline= @assessment.completed_on || 'In Progress'
  %br
  %dt.d-inline Case Manager:
  %dd.d-inline= @assessment.case_manager

- if @assessment.decline_to_answer?
  %p.mt-3 Patient declined to answer these questions.
- else
  - if @assessment.question_labels.keys.map { |attr| @assessment.send(attr) }.any?
    %h3.mt-4 Screening Questions
    %table.table.table-sm.table-bordered
      %tbody
        - @assessment.question_labels.each do |attr, (label, source)|
          - value = @assessment.send(attr)
          - next if value.nil?
          %tr
            %td= label
            - if source.present?
              %td= source.invert[value.to_sym]
            - elsif value.in?([true, false])
              %td= value ? 'Yes' : 'No'
            - else
              %td= value.humanize

  - if @assessment.help_labels.keys.map { |attr| @assessment.send(attr) }.any?
    %h3.mt-4 Assistance Requests
    %ul
      - @assessment.help_labels.each do |attr, label|
        - next unless @assessment.send(attr)
        %li= label
