= simple_form_for import_csv_monitor, url: import_csv_monitor.persisted? ? data_source_import_csv_monitor_path(data_source, import_csv_monitor) : data_source_import_csv_monitors_path(data_source), method: import_csv_monitor.persisted? ? :patch : :post do |f|
  = f.input :csv_file_name,
            as: :select,
            collection: GrdaWarehouse::ImportCsvMonitor.allowed_csv_files,
            label: 'CSV File',
            hint: 'Select which CSV file to monitor'
  .row
    .col
      = f.input :count_increase_threshold,
                label: 'Count increase threshold',
                hint: 'Alert when rows added exceeds this (optional)',
                input_html: { style: 'width: 8em' }
    .col
      = f.input :count_decrease_threshold,
                label: 'Count decrease threshold',
                hint: 'Alert when rows removed exceeds this (optional)',
                input_html: { style: 'width: 8em' }
  .row
    .col
      = f.input :percent_increase_threshold,
                label: 'Percent increase threshold (%)',
                hint: 'Alert when % increase exceeds this (optional)',
                input_html: { style: 'width: 8em' }
    .col
      = f.input :percent_decrease_threshold,
                label: 'Percent decrease threshold (%)',
                hint: 'Alert when % decrease exceeds this (optional)',
                input_html: { style: 'width: 8em' }
  = f.input :active, as: :pretty_boolean, label: 'Active'
  = f.input :notification_user_ids,
              collection: User.active.not_system.order(:last_name, :first_name),
              label_method: :name_with_email,
              value_method: :id,
              as: :select_two,
              input_html: { multiple: true },
              label: 'Notify these users',
              hint: 'Who receives alerts when thresholds are exceeded'
  = f.submit import_csv_monitor.persisted? ? 'Update Monitor' : 'Create Monitor', class: 'btn btn-primary'
