= simple_form_for :report, url: built_for_zero_report_warehouse_reports_bfz_index_path, method: :get do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-3
        = f.input :start_date, as: :date_picker, input_html: { value: @start_date }
      .col-sm-3
        = f.input :end_date, as: :date_picker, input_html: { value: @end_date }
      .col-sm-6
        = f.input :section, as: :select_two, collection: BuiltForZeroReport.sections, selected: @section_key

  - content_for :filter_actions do
    .d-flex.w-100
      = f.submit 'Update Report', class: ['btn', 'btn-primary'], data: { disable_with: false }
      .ml-auto
        = f.submit 'Submit Report', class: ['btn', 'btn-secondary'], data: { disable_with: false, confirm: 'Submitting this report will send data for all sections to Built For Zero via their submission API. Are you sure you would like to proceed?' }

  = render 'warehouse_reports/filters', f:f
