- content_for :modal_title, 'Add a Team Member'

= simple_form_for('') do |f|
  %p TODO: Should organization really be a required field? If so, remove the hint I added. :)
  = f.input :type, label: 'Category of Team Member', input_html: {class: 'select2'}
  = f.input :first_name, label: 'First Name'
  = f.input :last_name, label: 'Last Name'
  = f.input :title, label: 'Role', hint: 'MD, RN or Family Member, Specialist etc.'
  = f.input :email, label: 'Email Address', type: :email
  = f.input :organization, label: 'Organization', hint: 'if applicable'
  .form-actions
    = f.button :submit, value: 'Add Team Member'