.card.d-block
  .card-content.p-4
    %header.d-flex.flex-wrap.mb-4.row
      .col-md-6
        %h1.flex-grow-1= @name
        = detail_block(title: "DOB", value: "#{l(Date.today)} (#{rand(1..100)})")
      .col-md-6
        .row.align-items-stretch.justify-content-end
          .col-md-3
            .card
              .card-content.p-4
                %h3 Score
                %div{style: "font-weight: bold; font-size: 24px"}=number_with_precision(rand, precision: 2)
          .col-md-6
            .card
              .card-content.p-4
                %h3 Covid Vaccination Status
                .d-flex.justify-content-between
                  .mr-4= detail_block(title: "Doses", value: rand(0..3))
                  = detail_block(title: "Last Dose Date", value: l(Date.today))
    .row.mb-4
      .col-md-3
        .card
          .card-content.p-4{style: 'min-height: 100px; background: #f9f9f9' }
      .col-md-6
        .card
          .card-content.p-4{style: 'min-height: 100px; background: #f9f9f9' }
      .col-md-3
        -# Calendar
        .card
          .card-content.p-4{style: 'min-height: 100px; background: #f9f9f9' }

    .card
      .card-content.p-4{style: 'min-height: 100px; background: #f9f9f9' }
        .row
          .col-3.d-flex.justify-content-between
            = detail_block(title: "Last Entry", value: l(Date.today))
            = detail_block(title: "Project", value: Faker::Company.name)
          - timeline_id = "entry-timeline"
          .col-9
            %div{id: timeline_id}
            :javascript
              document.addEventListener('DOMContentLoaded', function (event) {
                new App.Health.EntryTimeline(
                  document.getElementById("#{timeline_id}"),
                  #{@timeline_config.html_safe}
                )
              })
