:ruby
  timeline_id = "entry-timeline"
  appointment_cal_id = "appointments"

.card.d-block
  .card-content.px-4.pt-4.pb-2
    %header.d-flex.flex-wrap.row
      .col-md-12.col-lg-3.pr-0
        %h1.flex-grow-1
          = link_to @name, ""
        .mb-4= detail_block(title: "DOB", value: "#{l(Date.today)} (#{rand(1..100)})")
      .col-md-12.col-lg-9
        .row.align-items-stretch.justify-content-end.row--internal
          .col-md-2.card-wrapper
            .card.c-card--internal.c-card--danger
              .card-content.p-4
                %h2.h4.card-title Score
                %div{style: "font-weight: bold; font-size: 24px"}=number_with_precision(rand, precision: 2)
          .col-md-6.card-wrapper
            .card.c-card--internal.c-card--warning
              .card-content.p-4
                %h2.h4.card-title Covid Vaccination Status
                .d-flex.justify-content-between.flex-wrap
                  - title = details_title_attr({manufacturer: "Moderna"})
                  .mr-4.mb-2= detail_block(title: "Doses", value: rand(0..3), tooltip: title)
                  = detail_block(title: "Last Dose Date", value: l(Date.today))
          .col-md-4.card-wrapper
            .card.c-card--internal
              .card-content.p-4
                %h2.h4.card-title Latest Entry
                .d-flex.justify-content-between.flex-wrap
                  .mb-2= detail_block(title: "Last Entry", value: l(Date.today))
                  = detail_block(title: "Project", value: Faker::Company.name)
    .row.row--internal
      .col-md-3.card-wrapper
        .card.c-card--internal.c-card--form
          .card-content.p-4
            %h2.h4.card-title Care Staff
            = simple_form_for @form, as: :care_managers, url: '#' do |f|
              = f.input :care_coordinator
              = f.input :nurse_care_manager
      .col-md-6.card-wrapper
        .card.c-card--internal
          .card-content.p-4
            .row
              .col-6
                %h2.h4.card-title Section 1
              .col-6
                %h2.h4.card-title Section 2
      .col-md-3.card-wrapper
        .card.c-card--internal
          .card-content.p-4
            %h2.h4.card-title Upcoming Appointments
            .c-cal
              .c-cal__week
                - Date::DAYNAMES.each do |d|
                  .c-cal__day.c-cal__day--label=d[0]
              - @appointments.in_groups_of(7).each do |week|
                .c-cal__week
                  - week.each do |appt|
                    - if appt.nil? || Date.today > appt[:date]
                      .c-cal__day.fill
                      - next
                    :ruby
                      class_name = appt[:scheduled] ? "active" : ""
                      title = details_title_attr(appt[:metadata])
                    .c-cal__day{class: class_name, title: title, data: ({toggle: 'tooltip', html: "true"} if title.present?) }=appt[:date].day
