- id ||= 'panel-collapsible'
- title ||= ''
- allow_toggle ||= 'yes'
- heading_attrs = allow_toggle == 'yes' ? { data: {toggle: 'collapse'}, href: "##{id}" } : {}
- panel_body_padded ||= 'y'
- heading_slug ||= ''
- content ||= ''
- default_open ||= 'no'
- wrapper_class ||= ''
- arrow_icon ||= 'icon-arrow-circled'

.c-card.panel-group.panel-collapsible{class: (wrapper_class if wrapper_class.present?)}
  .panel.panel-default.c-card__content.c-card__content--flush{data: { arrow_icon: arrow_icon }}
    %a.panel-heading.py-0.px-4.d-block{**heading_attrs}
      - if content_for?("panel_collapse_heading#{heading_slug}".to_sym)
        = yield "panel_collapse_heading#{heading_slug}".to_sym
      - else
        .d-flex.align-items-center
          .d-flex.panel-title-wrapper.flex-wrap.align-items-center
            %h4.panel-title.mr-4= title
            .mb-4.mb-sm-0
              = yield "panel_collapse_heading_content_under_title_#{id}"
          .ml-auto.d-flex.align-items-center
            .mr-6
              = yield "panel_collapse_heading_content_#{id}"
            - if allow_toggle == 'yes'
              - if default_open == 'yes'
                %i.icon-arrow-circled-down.j-toggle-arrow
              - else
                %i.icon-arrow-circled-right.j-toggle-arrow

    .panel-collapse.collapse{id: id, class: ('show' if default_open == 'yes')}
      .panel-body{class: ('panel-body--padded' if panel_body_padded == 'y')}
        = yield "panel_collapse_content#{content}".to_sym

      - if content_for?("panel_collapse_content_actions#{content}".to_sym)
        .panel-footer
          = yield "panel_collapse_content_actions#{content}".to_sym
