- checktime = if Rails.env.development? then 10000 else 30000 end
%p.section-not-loading.hide
  = link_to path_to_section, target: :_blank do
    Section not loading?
  - if Rails.env.development?
    %code= CGI.parse(path_to_section)

= content_for :page_js do
  :javascript
    new App.Rollups.Checker('#{path_to_section.html_safe}', #{checktime})
