.well.overflow-scroll
  .row
    .col-sm-3.text-center
      %br
      %p Bed Inventory
      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.project_name}: #{pluralize(rp.bed_inventory, 'bed')}
        %li
          %h3
            = pluralize(@report.report_project_group.bed_inventory, 'bed')
      %hr
      %p Average Daily / Nightly Clients

      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.project_name}: #{pluralize(rp.average_nightly_clients, 'client')}
        %li
          %h3
            Overall: #{pluralize(@report.report_project_group.average_nightly_clients, 'client')}
      %hr
      %p Average Bed Utilization

      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.project_name}: #{rp.average_bed_utilization}%

        %li
          %h3 Overall: #{@report.report_project_group.average_bed_utilization}%

    .col-sm-9
      %h3.text-center Nightly Client Census
      .bed-census-chart.jChart
        %p.jLoading Loading