.well.overflow-scroll
  %h3.text-center Data Completeness
  .row
    .col-sm-6.text-center
      %h4 Goal
      %hr
      %ul.list-unstyled
        %li #{@report.completeness_goal}% complete
    .col-sm-6.text-center
      %h4 Project Group
      %hr
      %ul.list-unstyled
        #{@report.describe_completeness :completeness_percentage} complete


  %h4 Project Group
  .completeness-chart.jChart{class: "completeness-chart-project-group"}
    %p.jLoading Loading
  #completeness-accordion.panel-group.panel-collapsible
    - content_for :panel_collapse_content, flush: true do
      - @report.report_projects.each_with_index do |project, index|
        %h4= project.project_name
        .completeness-chart.jChart{class: "completeness-chart-#{index}"}
          %p.jLoading Loading
    = render 'common/panel_collapse', id: 'completeness-info', title: 'Project Detail'