.well.overflow-scroll.text-center
  %h3 Project Descriptor Completeness
  .row
    - if ! @report.hide_beds_and_units
      .col-sm-3
        %h4 Operating Start Date
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.operating_start_date || 'blank'}
      .col-sm-3
        %h4 CoC Code
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.coc_code || 'blank'}
      .col-sm-3
        %h4 Funder
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.funder.presence || 'blank'}
      .col-sm-3
        %h4 Inventory Information Date
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.inventory_information_dates.presence || 'blank'}
    - else
      .col-sm-4
        %h4 Operating Start Date
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.operating_start_date || 'blank'}
      .col-sm-4
        %h4 CoC Code
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.coc_code || 'blank'}
      .col-sm-4
        %h4 Funder
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.funder.presence || 'blank'}
  .row
    - if ! @report.hide_beds_and_units
      .col-sm-3
        %h4 Geocode
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.geocode.presence || 'blank'}
      .col-sm-3
        %h4 Geography Type
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.geography_type.presence || 'blank'}
      .col-sm-3
        %h4 Unit Inventory
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{pluralize(p.unit_inventory, 'unit')}
          %li
            Total:
            %strong  #{pluralize(@report.report_project_group.unit_inventory, 'unit')}
      .col-sm-3
        %h4 Bed Inventory
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{pluralize(p.bed_inventory, 'bed')}
          %li
            Total:
            %strong  #{pluralize(@report.report_project_group.bed_inventory, 'bed')}
    - else
      .col-sm-6
        %h4 Geocode
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.geocode.presence || 'blank'}
      .col-sm-6
        %h4 Geography Type
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{p.geography_type.presence || 'blank'}
  .row
    - if ! @report.hide_beds_and_units
      .col-sm-6
        %h4 Housing Type
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{HUD.housing_type(p.housing_type.presence) || 'blank'}
      .col-sm-6
        %h4 Project Types
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{HUD.project_type p.project_type.presence}
    - else
      .col-sm-12
        %h4 Project Types
        %ul.list-unstyled
          - @report.report_projects.preload(:project).each do |p|
            %li
              #{p.project.name(current_user)}:
              %strong #{HUD.project_type p.project_type.presence}
