.well.overflow-scroll
  - if @report.no_clients?
    %p No clients enrolled during range
  - else
    .row
      .col-sm-4
        %h4 Percent of Enrolled Clients Active
        %ul.list-unstyled
          = @report.describe_completeness :served_percentages, as_percent: true
      .col-sm-4
        %h4 Bed Utilization
        %ul.list-unstyled
          = @report.describe_completeness :bed_utilization_percentages, as_percent: true
      .col-sm-4
        %h4 Unit Utilization
        %ul.list-unstyled
          = @report.describe_completeness :unit_utilization_percentages, as_percent: true
    .row
      .col-sm-4
        %h4 Project Descriptor Completeness
        %ul.list-unstyled
          = @report.describe_completeness :project_descriptor
      .col-sm-4
        %h4 Data Completeness
        %ul.list-unstyled
          = @report.describe_completeness :client_data
      .col-sm-4
        %h4 Timeliness
        %ul.list-unstyled
          = @report.describe_completeness :timeliness
    .row
      .col-sm-4
        %h4 DOB on or after entry date
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :dob_after_entry

      .col-sm-4
        %h4 No service in the final month of enrollment
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :final_month_service

      .col-sm-4
        %h4 Service after exit
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :service_after_exit_date

    .row
      .col-sm-4
        %h4 Incorrect Household Type
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :household_type_mismatch

          -# - individual_total = @report.report['individuals_at_family_projects'].values.sum
          -# - if individual_total > 0
          -#   = link_to polymorphic_path(support_path, {key: 'individuals_at_family_projects'}), data: {loads_in_pjax_modal: true} do
          -#     = "#{individual_total} individuals at family project"
          -# - family_total = @report.report['families_at_individual_projects'].values.sum
          -# - if family_total > 0
          -#   = link_to polymorphic_path(support_path, {key: 'families_at_individual_projects'}), data: {loads_in_pjax_modal: true} do
          -#     = "#{family_total} families at individual project"
          -# - if (individual_total + family_total) == 0
          -#   No issues
    -#   .col-sm-4
    -#     %h4 Enrollments with no Service
    -#     - total = @report.report['enrollments_with_no_service'].values.sum
    -#     - if total > 0
    -#       = link_to polymorphic_path(support_path, {key: 'enrollments_with_no_service'}), data: {loads_in_pjax_modal: true} do
    -#         = "#{total} enrollments with no service"
    -#     - else
    -#       No issues


