.well.overflow-scroll
  - if @report.no_clients?
    %p No clients enrolled during range
  - else
    .row
      .col-sm-4
        %h4 Percent of Enrolled Clients Active
        %ul.list-unstyled
          = @report.describe_completeness :served_percentages, as_percent: true
      .col-sm-4
        %h4 Bed Utilization
        %ul.list-unstyled
          = @report.describe_completeness :bed_utilization_percentages, as_percent: true
      .col-sm-4
        %h4 Unit Utilization
        %ul.list-unstyled
          = @report.describe_completeness :unit_utilization_percentages, as_percent: true
    .row
      .col-sm-4
        %h4 Project Descriptor Completeness
        %ul.list-unstyled
          = @report.describe_completeness :project_descriptor
      .col-sm-4
        %h4 Data Completeness
        %ul.list-unstyled
          = @report.describe_completeness :client_data
      .col-sm-4
        %h4 Timeliness
        %ul.list-unstyled
          = @report.describe_completeness :timeliness
    .row
      .col-sm-4
        %h4 DOB on or after entry date
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :dob_after_entry

      .col-sm-4
        %h4 No service in the final month of enrollment
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :final_month_service

      .col-sm-4
        %h4 Service after exit
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :service_after_exit_date

    .row
      .col-sm-4
        %h4 Incorrect Household Type
        TODO: Add support links
        %ul.list-unstyled
          = @report.describe_completeness :household_type_mismatch

      .col-sm-4
        %h4 Enrollments with no Service
        %ul.list-unstyled
          = @report.describe_completeness :enrollments_with_no_service