.well.overflow-scroll
  .row
    .col-sm-3.text-center
      %br
      %h3 Unit Inventory
      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.safe_project_name(current_user)}: #{pluralize(rp.unit_inventory, 'unit')}
        %li
          %strong
            = pluralize(@report.report_project_group.unit_inventory, 'unit')
      %hr
      %h3 Average Daily / Nightly Clients

      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.safe_project_name(current_user)}: #{pluralize(rp.average_nightly_households, 'household')}
        %li
          %strong
            Overall: #{pluralize(@report.report_project_group.average_nightly_households, 'household')}
      %hr
      %h3 Average Unit Utilization

      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.safe_project_name(current_user)}: #{rp.average_unit_utilization}%

        %li
          %strong Overall: #{@report.report_project_group.average_unit_utilization}%

    .col-sm-9
      %h3.text-center Nightly Household Census
      .unit-census-chart.jChart
        %p.jLoading Loading