.well.overflow-scroll
  .row
    .col-sm-3.text-center
      %br
      %p Unit Inventory
      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.project_name}: #{pluralize(rp.unit_inventory, 'unit')}
        %li
          %h3
            = pluralize(@report.report_project_group.unit_inventory, 'unit')
      %hr
      %p Average Daily / Nightly Clients

      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.project_name}: #{pluralize(rp.average_nightly_households, 'household')}
        %li
          %h3
            Overall: #{pluralize(@report.report_project_group.average_nightly_households, 'household')}
      %hr
      %p Average Unit Utilization

      %ul.list-unstyled
        - @report.report_projects.each do |rp|
          %li #{rp.project_name}: #{rp.average_unit_utilization}%

        %li
          %h3 Overall: #{@report.report_project_group.average_unit_utilization}%

    .col-sm-9
      %h3.text-center Nightly Household Census
      .unit-census-chart.jChart
        %p.jLoading Loading