%h2 Chronic at Entry
.mb-4
  Calculation used to determine whether the client was chronic at entry.
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Line
        %th Field / Condition
        %th Value
        %th Result
        %th HUD Decision Logic
    %tbody
      - @chronic_at_entry_matrix.each do |number, title, value, result, descriptions|
        %tr
          %td= number
          %td{style: 'max-width: 300px;'}= title
          %td{style: 'max-width: 300px;'}= value
          %td
            - if result.in? [true, false]
              %em.text-muted= result ? 'continue' : 'skip'
            - elsif result.nil?
              %em.text-muted continue
            - else
              %strong= result.upcase
          %td
            - descriptions.each do |s|
              .mb-1= s