- title = "Enrollment #{@client.name} at X"
- content_for :title, title
%h1= title
.mb-1
  %em.text-muted
    Client ID:
    %strong= @client.id
.mb-1
  %em.text-muted
    Enrollment ID:
    %strong= @enrollment.id
.mb-1
  prior living situation:
  = @enrollment.LivingSituation
.mb-1
  entry date:
  = @service_history_enrollment.first_date_in_program
  = @service_history_enrollment.last_date_in_program
  = @service_history_enrollment.move_in_date
.mb-1
  chronic at entry:
  = @enrollment.chronically_homeless_at_start
  = @enrollment.chronically_homeless_at_start?

- @chronic_at_entry_matrix
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Line
        %th Field
        %th Value
        %th Result
        %th HUD Decision Logic
    %tbody
      - @chronic_at_entry_matrix.each do |number, title, result, value, descriptions|
        %tr
          %td= number
          %td= title
          %td= value
          %td
            - if result
              %strong= result
            - else
              %em.text-muted continue
          %td
            - descriptions.each do |s|
              .mb-1= s