- content_for :title, 'VPR Member Lists'
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-general'

= simple_form_for :report do |f|
  - content_for :filters_col_full do
    .row
      .col-sm-6
        = f.input :aco, collection: available_acos, selected: @aco, as: :select_two, label: 'ACO'
      .col-sm-3
        = f.input :r_number, collection: r_numbers, selected: @r_number, as: :select_two
      .col-sm-3
        = f.input :date, as: :date_picker, input_html: {value: @end_date}, label: 'End of quarter'
    .row
      .col-12
        The downloaded report will include the patients with a referral to the selected ACO open
        VPR within the three month period before the selected date  (e.g., #{@end_date - 3.months} to #{@end_date}).

  - content_for :filter_actions do
    = f.submit 'Download File', data: {disable_with: false}

  = render 'warehouse_reports/filters', f:f
