- title = "Self-Sufficiency Matrix Form Export"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'health-general'

= render 'filter'

.warehouse-reports__ssm-export
  - if @pagy.count.positive?
    = render 'common/pagination_top', item_name: 'report'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Status
            %th Options
            %th Download
            %th
        %tbody.report-listing.warehouse-reports__completed
          - @reports.each do |report|
            %tr
              %td= report.status
              %th
                = render 'parameters', options: report.options
              %td
                - if report.completed?
                  = link_to warehouse_reports_health_ssm_export_path(report, format: :xlsx), class: 'btn btn-sm btn-secondary' do
                    Download
              %td
                = link_to warehouse_reports_health_ssm_export_path(report), method: :delete, class: 'btn btn-sm btn-danger btn-icon-only', data: {confirm: "Are you sure you want to delete this report?"} do
                  %i.icon-cross
    = render 'common/pagination_bottom', item_name: 'report'
  - else
    .none-found No reports found.
