%ul.nav.nav-pills.report-nav.flex-column{role: :tablist, aria: {orientation: :vertical}}
  - @reports.each_with_index do |(category,_), index|
    %li.nav-item{role: :presentation}
      %a{href: "##{category.parameterize.dasherize}", role: :tab, data: {toggle: :tab}, aria: {controls: '#{category}'}, class: ['nav-link', (index == 0 ? 'active' : '')]}
        #{category}
  - @report_urls.each do |(category, url)|
    %li.nav-item{role: :presentation}
      = link_to category, url, role: :tab, aria: {controls: category}, class: 'nav-link'

= content_for :page_js do
  :javascript
    var selectedTab = window.location.hash
    if (!selectedTab) {
      $("ul.nav-tabs li:first-child a").tab('show')
    }
    $('.nav-tabs a').click(function(e) {
      $(this).tab('show');
      $(this).parent().siblings().removeClass('active');
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      history.pushState({}, id, $(e.target).attr("href"));
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');
