- content_for :title, _("HUD Reports")
%header.mb-3
  %h1= content_for :title

%ul.nav.nav-tabs{role: :tablist}
  - @reports.each_with_index do |(category,_), index|
    %li.nav-item{role: :presentation}
      %a{href: "##{category.parameterize.dasherize}", role: :tab, data: {toggle: :tab}, aria: {controls: '#{category}'}, class: ['nav-link', (index == 0 ? 'active' : '')]}
        #{category}

.tab-content
  - @reports.each_with_index do |(category, years), index|
    %div{role: :tabpanel, class: (index == 0 ? 'active tab-pane' : 'tab-pane'), id: category.parameterize.dasherize}
      %table.table.table-hover.table-reports
        - i = 0
        - years.each do |base,reports|
          - show_header = i == 0
          - i += 1
          %thead
            %tr{class: 'report-base'}
              %th
                = link_to "#{base}::Base".constantize.report_name, report_results_summary_path(reports.first[:report_results_summary_id])
              %th
                - if show_header
                  = 'Last Run'
              %th
                - if show_header
                  = 'Status'
              %th
                - if show_header
                  = 'Completed In'
          %tbody
            - reports.each do |report|
              %tr
                %td= link_to report.name, report.results_path
                %td= report.last_result(current_user).try(:last_run)
                %td
                  - if status = report.last_result(current_user).try(:last_run_status)
                    = link_to status, report_report_result_path(report, report.last_result(current_user))
                %td= report.last_result(current_user).try(:completed_in)

= content_for :page_js do
  :javascript
    var selectedTab = window.location.hash
    if (!selectedTab) {
      $("ul.nav-tabs li:first-child a").tab('show')
    }
    $('.nav-tabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
      $(this).parent().siblings().removeClass('active')
    });
    $("ul.nav-tabs a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
    });
    var hash = window.location.hash;
    $('.nav-tabs a[href="' + hash + '"]').tab('show');
