- content_for :title, _("Reports")
%h1= content_for :title
.row.table-utilities
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        - @reports.each do |base,reports|
          %thead
            %tr{class: 'report-base'}
              - base   = "#{base}::Base".constantize
              - sample = reports.first  # all reports for a given base have the same results summary id
              %th= link_to base.report_name, report_results_summary_path(sample.report_results_summary_id)
              %th Last Run
              %th Status
              %th Completed In
          %tbody
            - reports.each do |report|
              %tr
                %td= link_to report.name, report.results_path
                %td= report.last_result.try(:last_run)
                %td= report.last_result.try(:last_run_status)
                %td= report.last_result.try(:completed_in)

