= simple_form_for @release_form, url: form_url, as: :form, remote: true, html: {multipart: true} do |f|

  - if @release_form.errors.any?
    .alert.alert-danger.flex-column.align-items-start
      %p Please review the errors below:
      %ul.error_list
        - @release_form.errors.messages.values.first.each do |msg|
          %li= msg
  .row
    .col-sm-6
      = f.input :signature_on, as: :date_picker

      - if @release_form.file_location
        .form-group
          %label Location
          %p.form-control-static= @release_form.file_location

    - if @blank_release_form_url.present? || @blank_directed_form_url.present?
      .col-sm-6.text-right
        - if @blank_release_form_url.present?
          = link_to @blank_release_form_url, class: 'btn btn-secondary' do
            %i.icon-download2
            Blank Release Form
        - if @blank_directed_form_url.present?
          = link_to @blank_directed_form_url, class: 'btn btn-secondary mt-4' do
            %i.icon-download2
            Blank Directed Release Form

  .j-file-upload= render 'upload_fields', f: f
  = f.input :verbal_approval, label: 'Patient gave verbal approval'

  .row
    .col-sm-8
      - if @release_form.reviewed_by.present?
        .form-group
          %label Reviewed by Supervisor
          %p.form-control-static= @release_form.reviewed_by&.name
      - elsif false && current_user.can_approve_release? # no review required at the moment
        = f.input :reviewed_by_supervisor, as: :boolean, label: 'Mark Reviewed by Supervisor', checked_value: 'yes', unchecked_value: 'no'

    %input{ name: 'authenticity_token', type: 'hidden', value: form_authenticity_token }

  .form__actions.form__actions--right
    = f.button :submit, 'Save', class: 'btn btn-primary'
