= simple_form_for @release_form, url: form_url, as: :form, remote: true, html: {multipart: true} do |f|

  - if @release_form.errors.any?
    .alert.alert-danger.flex-column.align-items-start
      %p Please review the errors below:
      %ul.error_list
        - @release_form.errors.messages.values.first.each do |msg|
          %li= msg
  .row
    .col-sm-6
      = f.input :participation_signature_on, as: :date_picker
    .col-sm-6
      = f.input :signature_on, as: :date_picker, label: 'Release Signature On'

  .row
    .col-sm-6
      - if @release_form.file_location
        .form-group
          %label Location
          %p.form-control-static= @release_form.file_location

  .row
    .col
      .j-file-upload= render 'upload_fields', f: f

  .row
    .col
      = f.input :mode_of_contact, as: :radio_buttons, collection: @release_form.modes_of_contact

  .row
    .col-sm-8
      - if @release_form.reviewed_by.present?
        .form-group
          %label Reviewed by Supervisor
          %p.form-control-static= @release_form.reviewed_by&.name
      - elsif false && current_user.can_approve_release? # no review required at the moment
        = f.input :reviewed_by_supervisor, as: :boolean, label: 'Mark Reviewed by Supervisor', checked_value: 'yes', unchecked_value: 'no'

    %input{ name: 'authenticity_token', type: 'hidden', value: form_authenticity_token }

  .row
    .col-6
      = render 'blank_form_button'

    .col-6
      .form__actions--right
        %button.btn.btn-secondary(aria-label="Cancel" pjax-modal-close type="button") Cancel
        = f.button :submit, 'Save', class: 'btn btn-primary'

:javascript
  $('#form_participation_signature_on').on('change', function(event) {
    if ($('#form_signature_on').val() == '') {
      $('#form_signature_on').datepicker('setDate', $('#form_participation_signature_on').val())
    }
  });
  $('#form_signature_on').on('change', function(event) {
    if ($('#form_participation_signature_on').val() == '') {
      $('#form_participation_signature_on').datepicker('setDate', $('#form_signature_on').val())
    }
  });