= f.input :import_type, collection: @config.class.available_import_types, as: :select_two, include_blank: false, hint: 'Choosing a type will dictate the expected data structure and processing logic.'
= f.input :description
= f.input :import_hour, collection: @config.class.available_import_hours, as: :select_two, include_blank: false

= f.input :s3_access_key_id, as: :password, label: 'S3 Access Key', input_html: { value: @config&.s3_access_key_id}
= f.input :s3_secret_access_key, as: :password, label: 'S3 Secret Key', input_html: { value: @config&.s3_secret_access_key}
= f.input :s3_region, collection: GrdaWarehouse::RecurringHmisExport.available_s3_regions, label: 'Region', input_html: { style: 'width: 200px;' }, as: :select_two
= f.input :s3_bucket, label: 'Bucket'
= f.input :s3_prefix, label: 'Optional prefix', hint: 'If provided, only files that start with this prefix will be imported.'
