- content_for :title, "#{@config.description} Imports for #{@data_source.short_name}"
%h1= content_for :title
= debug @config.import_type
= debug @config.import_type.constantize.new.to_partial_path

- if @files.exists?
  .d-flex
    %p= page_entries_info @files, entry_name: _('imports')
    %p= paginate @files
  .card
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th File Name
          %th Status
          %th Errors
      %tbody
        - @files.each do |file|
          %tr
            %td= file.filename
            %td
              - status = file.status
              - unless status == 'failed'
                = link_to status, polymorphic_path(file.detail_path, file)
              - else
                = status
            %td= file.error_description
- else
  %p.none-found
    No files imported.
