- content_for :title, "#{@config.description} Imports for #{@data_source.short_name}"
%h1= content_for :title
- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'file'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th File Name
          %th Processed On
          %th Status
          %th Errors
      %tbody
        - @files.each do |file|
          %tr
            %td= File.basename(file.filename.to_s)
            %td= file.started_at
            %td
              - status = file.status
              - unless status == 'failed'
                = status
                - # NOTE: future development could add direct links to either download the original file or see some
                - # representation of the processed data
                - # link_to status, polymorphic_path(file.detail_path, id: file)
              - else
                = status
            %td
              - if file.import_errors
                = file.import_errors.inspect
  = render 'common/pagination_bottom', item_name: 'file'
- else
  .none-found No files imported.
