.form-group
  %fieldset
    %legend= legend
    - options.each_with_index do |option, idx|
      - label, value = option.values_at(:label, :value)
      - input_id = "#{html_id}-#{idx}"
      .form-check.mb-1
        %input.form-check-input{type: "checkbox", name: name, id: input_id, value: value}
        %label.form-check-label{for: input_id}= label
  - if local_assigns.key?(:footer)
    = footer
