- title = 'Coordinated Access System Decision Efficiency'
- content_for :title, title
%h1= title

= simple_form_for @step_range, as: :steps, url: warehouse_reports_missing_values_path, html: { method: :get } do |f|
  = f.error_notification
  .form-group
    .row
      .col-sm-4
        = f.input :first, label: 'Step From', collection: @step_range.ordered_steps.keys, include_blank: false, input_html: { id: 'first-step' }
      .col-sm-4
        = f.input :second, label: 'Step To', collection: @step_range.ordered_steps[@step_range.first], include_blank: false, input_html: { id: 'second-step' }
      .col-sm-2
        = f.input :unit, label: 'Temporal Unit', collection: @step_range.units, include_blank: false

-# if @query.valid?
  %canvas#counts{ width: 800, height: 200 }
  %em(style="display:table;margin:0 auto;")
    click on a bar to copy its field and value to the clipboard

- content_for :page_js do
  :javascript
    var legalSteps = #{@step_range.ordered_steps.to_json};
    // prep UI

    // queue this as a separate event to improve layout speed
    function doTheRest() {
      // clear buttons etc.
      if (false) {
        var chart = new Chart($chart,{
          type: 'bar',
          options: {
            legend: {
              display: false
            },
            tooltips: {
              callbacks: {
                label: function (tooltipItem) {
                  var d = data[tooltipItem.index][1], type;
                  var n = tooltipItem.yLabel;
                  if (d.counts_present)
                    type = 'present'
                  else
                    type = 'missing'
                  return type + ': ' + n
                }
              }
            },
            onClick: function(e, ar) {
              if (ar.length) {
                var datum = data[ar[0]._index];
                var text = datum[0] + ': ' + datum[1].total
                App.util.copyToClipboard(text);
              }
            }
          },
          data: {
            labels: labels,
            datasets: [{
              label: 'counts',
              data: values,
              backgroundColor: '#091f2f'
            }]
          }
        });
      }
    }
    setTimeout(doTheRest, 0);
