%nav.o-header__nav.c-header-nav
  %ul.list-unstyled
    - if user_signed_in?
      %li.c-header-nav__item
        = render 'layouts/messages'

      %li.c-header-nav__mobile-link
        = link_to '#', class: 'c-header-nav__link js-toggle-menu' do
          %i.icon-menu

    - else
      %li.c-header-nav__item
        - unless controller_name == 'sessions'
          = simple_form_for(User.new, as: :user, url: session_path(:user), wrapper: :inline_form) do |f|
            .d-flex.mini-login-form
              = f.input :email, required: false, autofocus: true, label: false, placeholder: 'email', wrapper_html: { class: 'ml-auto'}
              = f.input :password, required: false, label: false, placeholder: 'password', input_html: { autocomplete: :off }, wrapper_html: { class: 'ml-2'}
              = f.button :button, class: 'btn-sm btn btn-icon-only btn-primary ml-2', data: {toggle: :tooltip, title: 'Log in'} do
                %i.icon.icon-enter
