- if impersonating?
  #impersonation-warning
    .d-flex.pt-2.pb-2
      .ml-auto
        .navbar-text
          %span.label.label-info
            You are masquerading as #{current_user.name}
      .ml-4.mr-6
        .navbar-text
          %span.label.label-info
            = link_to stop_impersonating_admin_users_path, method: :post do
              Switch Back
              %i.icon-exit.ml-2
- if !Rails.env.production? && !ENV['HIDE_NON_PRODUCTION_WARNING']
  #non-production-warning
    .d-flex.pt-2.pb-2
      - if Rails.env.development?
        .git-branch.ml-auto
          = branch_info
        .git-branch.ml-4
          .navbar-text
            .label.label-info
              = Rails.version
              on
              = ENV['RUBY_VERSION']
        .rails-env.ml-4.mr-6
          .navbar-text
            %span.label.label-success
              = Rails.env
      - else
        .git-revision.ml-auto
          .navbar-text
            .label.label-info
              = git_revision
        .git-branch.ml-4
          .navbar-text
            .label.label-warning
              = Rails.version
              on
              = ENV['RUBY_VERSION']
        .rails-env.ml-4.mr-6
          .navbar-text
            %span.label.label-success
              = Rails.env
