- if devise_mapping.omniauthable?
  .d-flex
    - resource_class.omniauth_providers.each do |provider|
      = button_to "Sign in with #{provider.upcase}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-secondary btn mt-2 mb-2 pt-1 pb-1'
      = link_to new_user_session_path(local: true), class: 'c-header-nav__link' do
        More options
- else
  = simple_form_for(User.new, as: :user, url: session_path(:user), wrapper: :inline_form) do |f|
    .d-flex.mini-login-form
      = f.input :email, required: false, autofocus: true, label: false, placeholder: 'email', wrapper_html: { class: 'ml-auto'}
      = f.input :password, required: false, label: false, placeholder: 'password', input_html: { autocomplete: :off }, wrapper_html: { class: 'ml-2'}
      = f.button :button, class: 'btn-sm btn btn-icon-only btn-primary ml-2 align-self-center pt-2 pb-2', data: {toggle: :tooltip, title: 'Sign In'} do
        %i.icon.icon-enter
