.o-menu.js-menu.off-canvas
  = render 'menus/dashboards'
  = render 'menus/reports'
  = render 'menus/clients'
  = render 'menus/health'
  = render 'menus/admin'
  = render 'menus/admin_dashboard'
  = render 'menus/accounts'

  %a.js-back-to-top.o-menu__to-top.o-menu__link{ href:'#' }
    Back to Top
