.o-menu.js-menu.off-canvas{class: @layout__plain_inner ? 'o-menu-prs1' : nil}
  = render 'menus/dashboards'
  = render 'menus/reports'
  = render 'menus/clients'
  = render 'menus/health'
  = render 'menus/admin'
  = render 'menus/admin_dashboard'
  = render 'menus/accounts'
  = render 'menus/help'

  %a.js-back-to-top.o-menu__to-top.o-menu__link{ href:'#' }
    Back to Top
