!!!
%html
  %head
    %meta{charset:"utf-8"}
    %meta{http_equiv: "Content-Type", content:"text/html;charset=UTF-8"}
    = inline_stylesheet_link_tag 'dashboard_pdf'
    = inline_javascript_include_tag 'pdf'
    = inline_javascript_include_tag 'application'
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700|Open+Sans+Condensed:700', rel: 'stylesheet', type: 'text/css'}
    %style{ type: 'text/css' }
      :plain
        body {
          background-color: white;
        }
        .border, .border-start, .border-end, .border-top, .border-bottom {
          print-color-adjust: exact !important;
          -webkit-print-color-adjust: exact !important;
        }
        /* Force borders to appear */
        .border { border: 1px solid rgb(222, 226, 230) !important; }
        .border-top { border-top: 1px solid rgb(222, 226, 230) !important; }
        .border-bottom { border-bottom: 1px solid rgb(222, 226, 230) !important; }
        .border-start, .border-left { border-left: 1px solid rgb(222, 226, 230) !important; }
        .border-end, .border-right { border-right: 1px solid rgb(222, 226, 230) !important; }
  %body

    = yield

    = svg 'symbol-defs'
