!!!
%html
  %head
    = inline_stylesheet_link_tag 'dashboard_pdf'
    = inline_javascript_include_tag 'pdf'
    = inline_javascript_include_tag 'application'
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700|Open+Sans+Condensed:700', rel: 'stylesheet', type: 'text/css'}

  %body
    - @show_census = true
    - chart_options = { size: { height: 300, width: 1200 } }
    %section.d-flex.align-items-start
      .mr-4
        %h1= @title
      .ml-auto
        - logo = inline_asset_base64("theme/logo/#{ENV['CAREPLAN_LOGO']}") rescue nil
        = image_tag(logo, width: 250) if logo.present?

    = yield

    = yield :page_js
    :css
      p {
        font-size: 16px !important;
      }
      .icon-info {
        display: none;
      }
      a {
        color: #333 !important;
        text-decoration: none !important;
      }
      .perf-overview-breakdown {
        page-break-inside: avoid;
      }
      h2 {
        font-size: 20px !important;
      }
      .well header {
        margin-bottom: 2em;
      }
      .well.well {
        background: inherit;
        border: none;
        box-shadow: none;
      }
      .filter-summary {
        page-break-inside: avoid;
      }
