= simple_form_for :filter, method: :get do |f|
  .well
    .row
      - if params[:agency_id]
        = hidden_field_tag(:agency_id, params[:agency_id].to_i)
      .col-sm-4
        = f.input :start_date, as: :date_picker, input_html: {value: @start_date}
      .col-sm-4
        = f.input :end_date, as: :date_picker, input_html: {value: @end_date}
      .col-sm-4
        = f.submit 'Update Date Range', class: 'btn btn-primary mt-no-label'
    %p
      Selected date range limits missing Qualifying Activity column.  Only patients enrolled before the end date are included.  All other columns include all patients.