= simple_form_for :filter, method: :get do |f|
  - content_for :filters_col_full do
    .row
      - if params[:entity_id]
        = hidden_field_tag(:entity_id, params[:entity_id].to_i)
      .col-sm-4
        = f.input :start_date, as: :date_picker, input_html: {value: @start_date}
      .col-sm-4
        = f.input :end_date, as: :date_picker, input_html: {value: @end_date}
    %p
      Selected date range only affects columns to the right of the divider.

  - content_for :filter_actions do
    = f.submit 'Update Date Range', class: 'btn btn-primary mt-no-label'

  = render 'warehouse_reports/filters', f:f, submit_button: nil
