.table-responsive.card
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{colspan: 2}
        %th.agency-performance__date-effected{colspan: 3} Activity occurred between #{report.range.first} and #{report.range.last}
        %th.agency-performance__date-effected{colspan: 6} All enrolled patients
      %tr.agency-performance__labels
        %th= entity_label
        %th Patients Assigned
        %th.agency-performance__date-effected{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:without_required_qa]}}
          Valid QA Needed This Month
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:without_required_f2f_visit]}}
          F2F Visit Needed this Month
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:with_discharge_followup_completed]}}
          7 Day Post-IP Discharge Follow Ups Completed
        %th.agency-performance__date-effected{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:with_completed_intake]}}
          Intake Complete (Consent, Comprehensive Assessment, HRSN, Care Plan)
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:initial_intake_due]}}
          Initial Intake Due Within 30 Days
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:initial_intake_overdue]}}
          Initial Intake Overdue
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:intake_renewal_due]}}
          Annual Intake Renewal Due Within 30 Days
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:intake_renewal_overdue]}}
          Annual Intake Renewal Overdue
        %th{data: {toggle: :tooltip, title: report.class::DESCRIPTIONS[:without_required_wellcare_visit]}}
          No Annual Well Care Visits in 12 Months
    %tbody
      - entities.each do |entity|
        - entity_slug = entity.id || entity.name
        %tr
          %th= entity.name
          %td.text-right
            - scope = entity.patient_referrals
            - title = "#{pluralize(scope.size, 'Patient')} Assigned"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path

          %td.agency-performance__date-effected.text-right
            - scope = entity.without_required_qa
            - title = "#{pluralize(scope.size, 'Patient')} without Required QA"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.without_required_f2f_visit
            - title = "#{pluralize(scope.size, 'Patient')} without Required F2F Visit"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.with_discharge_followup_completed
            - title = "#{pluralize(scope.size, 'Patient')} with Completed Discharge Followup"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path

          %td.agency-performance__date-effected.text-right
            - scope = entity.with_completed_intake
            - title = "#{pluralize(scope.size, 'Patient')} with Completed Intake"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.initial_intake_due
            - title = "#{pluralize(scope.size, 'Patient')} with Initial Intake Due"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.initial_intake_overdue
            - title = "#{pluralize(scope.size, 'Patient')} with Initial Intake Overdue"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.intake_renewal_due
            - title = "#{pluralize(scope.size, 'Patient')} with Intake Renewal Due"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.intake_renewal_overdue
            - title = "#{pluralize(scope.size, 'Patient')} with Intake Renewal Overdue"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path
          %td.text-right
            - scope = entity.without_required_wellcare_visit
            - title = "#{pluralize(scope.size, 'Patient')} without Required Well Care Visit"
            =render 'warehouse_reports/health/agency_performance/table_cell', permission: permission, entity_slug: entity_slug, scope: scope, title: title, detail_path: detail_path

    - if entities.size > 1
      %tfoot
        %tr
          %td= totals.name
          %td.text-right= totals.patient_referrals.size
          -# %td.text-right= totals.without_required_qa.size
          -# %td.text-right= totals.without_required_f2f_visit.size
          -# %td.text-right= totals.with_discharge_followup_completed.size
          -# %td.text-right= totals.with_completed_intake.size
          -# %td.text-right= totals.initial_intake_due.size
          -# %td.text-right= totals.intial_intake_overdue.size
          -# %td.text-right= totals.intake_renewal_due.size
          -# %td.text-right= totals.intake_renewal_overdue.size
          -# %td.text-right= totals.without_required_wellcare_visit.size
  = content_for :page_js do
    :javascript
      $(document).ready(function() {
        $('.btn').each(function(i){
          $(this).removeAttr('data-disable-with');
        });
      });

- default_open ||= 'no'
.mt-4
  = render 'warehouse_reports/outcomes/shared/computation_description', default_open: default_open
