%table.table.table-bordered
  %thead
    %tr
      %th Agency
      %th Patients Assigned
      %th Consented
      %th With CHA
      %th.agency-performance__without Without CHA
      %th With SSM
      %th.agency-performance__without Without SSM
      %th With Signed Care Plan
      %th With Care Plan Signed Within 122 Days
      %th.agency-performance__without Without Signed Care Plan
      %th.agency-performance__without.agency-performance__date-effected With No Valid Qualifying Activities Between #{@report.range.first} and #{@report.range.last}
  %tbody
    - @agencies.each do |agency|
      %tr
        %td= agency.name
        %td.text-right
          - scope = agency.patient_referrals
          - title = "#{pluralize(scope.size, 'Patient')} Assigned"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.text-right
          - scope = agency.consented_patients
          - title = "#{pluralize(scope.size, 'Patient')} Consented"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.text-right
          - scope = agency.with_chas
          - title = "#{pluralize(scope.size, 'Patient')} with CHAs"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.agency-performance__without.text-right
          - scope = agency.without_chas
          - title = "#{pluralize(scope.size, 'Patient')} without CHAs"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.text-right
          - scope = agency.with_ssms
          - title = "#{pluralize(scope.size, 'Patient')} with SSMs"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.agency-performance__without.text-right
          - scope = agency.without_ssms
          - title = "#{pluralize(scope.size, 'Patient')} without SSMs"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size

        %td.text-right
          - scope = agency.with_signed_careplans
          - title = "#{pluralize(scope.size, 'Patient')} with Signed Care Plans"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.text-right
          - scope = agency.with_careplans_in_122_days
          - title = "#{pluralize(scope.size, 'Patient')} with Care Plans Signed Within 122 Days"
          - percentage = ((scope.count / agency.patient_referrals.size.to_f) * 100).round
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit "#{percentage}%", class: 'btn btn-secondary btn-sm'
          - else
            "#{percentage}%"
        %td.agency-performance__without.text-right
          - scope = agency.without_signed_careplans
          - title = "#{pluralize(scope.size, 'Patient')} without Signed Care Plans"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
        %td.agency-performance__without.agency-performance__date-effected.text-right
          - scope = agency.without_qualifying_activities_within_range
          - title = "#{pluralize(scope.size, 'Patient')} without Qualifying Activities in Chosen Date Range"
          - if permission
            = simple_form_for :agency, method: :post, url: detail_path, data: { submits_to_pjax_modal: true } do |f|
              = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
              = f.input :patient_ids, as: :hidden, input_html: {value: scope.join(',')}
              = f.input :section, as: :hidden, input_html: {value: title}
              = f.submit scope.size, class: 'btn btn-secondary btn-sm'
          - else
            scope.size
  - if @agencies.size > 1
    %tfoot
      %tr
        %td= @totals.name
        %td.text-right= @totals.patient_referrals.size
        %td.text-right= @totals.consented_patients.size
        %td.text-right= @totals.with_chas.size
        %td.agency-performance__without.text-right= @totals.without_chas.size
        %td.text-right= @totals.with_ssms.size
        %td.agency-performance__without.text-right= @totals.without_ssms.size
        %td.text-right= @totals.with_signed_careplans.size
        %td.text-right= "#{((@totals.with_careplans_in_122_days.size / @totals.patient_referrals.size.to_f) * 100).round}%"
        %td.agency-performance__without.text-right= @totals.without_signed_careplans.size
        %td.agency-performance__date-effected.agency-performance__without.text-right= @totals.without_qualifying_activities_within_range.size
