= simple_form_for @user, url: account_path do |f|
  = f.error_notification

  .row
    .col-sm-6
      .form-inputs
        = f.input :first_name, required: true
        = f.input :last_name, required: true
        = f.input :email, as: :email, required: true
        - if @user.unconfirmed_email
          .alert.alert-info A request has been made to change the email address to #{@user.unconfirmed_email}. Please follow the link sent to this address confirm this new address.
        = f.input :phone
        = f.input :agency
        = f.input :email_schedule, collection: Message::SCHEDULES, hint: 'Messages not sent on the "immediate" schedule are sent as a digest. If no schedule is specified, email is sent immediately.'
        = f.input :current_password, required: true, hint: 'Current password is required for any update to your account'
        = f.input :password, label: 'New password'
        = f.input :password_confirmation

      .form-actions
        = f.button :submit, value: 'Update Account'

