= simple_form_for @user, url: account_path do |f|
  = f.error_notification

  .row
    .col-sm-6
      .form-inputs
        - idp_supports_profile = @user.idp_supports_profile_updates?
        - if idp_supports_profile
          -# IDP supports profile updates - show editable fields
          = f.input :first_name, required: true
          = f.input :last_name, required: true
          = f.input :phone
        - else
          -# IDP doesn't support profile updates - show read-only with message
          - if @user.primary_idp.present?
            .alert.alert-info
              %p
                %strong Personal information is managed by your Identity Provider.
                = "To update your name, phone, or email, please contact your administrator or update your profile in #{@user.idp_service.idp_name}."
          - else
            .alert.alert-warning
              %p
                %strong No Identity Provider connected.
                Please contact your administrator to update your profile information.
          = f.input :first_name, required: true, readonly: true, hint: 'This field is managed by your Identity Provider.'
          = f.input :last_name, required: true, readonly: true, hint: 'This field is managed by your Identity Provider.'
          = f.input :phone, readonly: true, hint: 'This field is managed by your Identity Provider.'
        - if @user.show_credentials?
          = f.input :credentials, label: 'Credentials', collection: @user.credential_options, as: :select_two, input_html: { data: {tags: true} }, hint: 'Add a new credential type by typing the name and hitting enter.'
        = f.association :agency, disabled: true, as: :select_two
        = f.input :email_schedule, collection: Message::SCHEDULES.map{ |s| [ s.titleize, s ] }, include_blank: false, hint: 'Messages not sent on the "immediate" schedule are sent as a digest.', as: :select_two
        - unless Rails.env.production?
          = f.input :theme, collection: ['legacy', 'modern'], as: :select_two

      .form-actions
        = f.button :submit, value: 'Update Account', class: 'btn btn-primary'
