= simple_form_for @user, url: account_path do |f|
  = f.error_notification

  .row
    .col-sm-6
      .form-inputs
        - if @user.provider == 'okta'
          %p= link_to_if ENV['OKTA_DOMAIN'].present?, 'Manage Personal Information in OKTA', "https://#{ENV['OKTA_DOMAIN']}/enduser/settings"
        - else
          = f.input :first_name, required: true, disabled: @user.provider?
          = f.input :last_name, required: true, disabled: @user.provider?
        = f.input :phone
        - if @user.show_credentials?
          = f.input :credentials, label: 'Credentials', collection: @user.credential_options, as: :select_two, input_html: { data: {tags: true} }, hint: 'Add a new credential type by typing the name and hitting enter.'
        = f.association :agency, disabled: true, as: :select_two
        = f.input :email_schedule, collection: Message::SCHEDULES.map{ |s| [ s.titleize, s ] }, include_blank: false, hint: 'Messages not sent on the "immediate" schedule are sent as a digest.', as: :select_two

      .form-actions
        = f.button :submit, value: 'Update Account', class: 'btn btn-primary'

