- if @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'login activity'
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Login Time
          %th IP Address
          %th Location
      %tbody
        - @locations.each do |location|
          %tr
            %td= location.created_at
            %td= location.ip
            %td= location.location_description
  = render 'common/pagination_bottom', item_name: 'login activity'
- else
  .none-found No activity found.
