%p#notice= notice

%p
  %b Name:
  = @grda_warehouse_consent_limit.name
%p
  %b Description:
  = @grda_warehouse_consent_limit.description
%p
  %b Color:
  = @grda_warehouse_consent_limit.color
%p
  %b Deleted at:
  = @grda_warehouse_consent_limit.deleted_at

= link_to 'Edit', edit_grda_warehouse_consent_limit_path(@grda_warehouse_consent_limit)
\|
= link_to 'Back', grda_warehouse_consent_limits_path
