- title = 'HMIS Source Data'
- content_for :title, title
%h1= content_for :title

= render 'search'

.results
  - if @results.any? && searched?
    %table.table.table-condensed
      %thead
        %tr
          %th Data Source
          %th Warehouse ID
          %th= @klass.hud_key
          - @klass.related_item_keys.each do |k|
            %th= k
          %th DateCreated
          %th DateUpdated

      %tbody
        - @results.each do |result|
          - url = source_datum_path(result, type: params[:search].try(:[], :type))
          %tr
            %td= link_to result.data_source.name, data_source_path(result.data_source)
            %td= link_to result.id, url
            %td= link_to result[@klass.hud_key], url
            - @klass.related_item_keys.each do |k|
              %td= result[k]
            %td= result.DateCreated
            %td= result.DateUpdated

  - elsif searched?
    %p No results found

  - else
    .well
      %p This page can be used to search for specific records within the source HMIS data.  Searches are conducted against the underlying IDs of the items.
      %p One use case is to determine which project is associated with an inventory record identified as having issues in the LSA.  You can search for the inventory ID provided in the LSA feedback. Then search again for the resulting ProjectID listed next to the inventory record.
